
		<div class="page page-biometric" ng-controller="biometricCtrl as bio">
					
				<section class="panel panel-primary table-dynamic">
					<div class="panel-heading"><strong><span class="glyphicon glyphicon-th" style="margin-right: 8px;"></span>Biometric Setup</strong></div>
					<div class="panel-body">
							<div class="from-group">
								<div class="row">
									<div class="col-sm-4">
										<form>
											<button class="btn btn-gap-v btn-success"  
													ng-click="bio.handler.openmodal('add')"
													ng-show="bio.handler.show('update')">
													Add
											</button>
											<span class="space space-sm"></span>
											<button type="button" 
													class="btn btn-gap-v btn-danger"   
													ng-click="bio.handler.deldata(bio.handler.check)"
													ng-show="bio.handler.show('update')">
													Delete
											</button>
										</form>
									</div>
								</div>
							</div><br>
							<div class="form-group">
								<div class="row">
									<div class="col-sm-4">
										<form>
											<input type="text"
												   placeholder="Search..."
												   class="form-control"
												   data-ng-model="bio.handler.search"
												   data-ng-model-options="{debounce:300}"
												   >
										</form>
									</div>
									<div class="col-sm-3 filter-result-info">
										<span>
											Showing {{bio.handler.paginated.length}}/{{bio.handler.maindata.length}} entries
										</span>              
									</div>
								</div>
							</div><br>
						<table class="table table-bordered table-striped table-responsive">
							<thead>
								<tr>
									<th><div class="th">
									</div></th>
									<th ng-repeat='a in bio.handler.headers'  width='{{a.width}}'>
										<div class="th">
											{{a.name}}
											<span class="fa fa-angle-up"
												  data-ng-if="a.sort"
												  data-ng-click="bio.handler.setactiveheader(a,true) "
												  data-ng-class="{active: $index == bio.handler.activeheader.id && bio.handler.activeheader.order == true}">
											</span>
											<span class="fa fa-angle-down"
												  data-ng-if="a.sort"
												  data-ng-click=" bio.handler.setactiveheader(a,false) "
												  data-ng-class="{active: $index == bio.handler.activeheader.id && bio.handler.activeheader.order == false}">
											</span>
										</div>
									</th>
								</tr>
							</thead>
							<tbody>
								<tr data-ng-repeat="a in bio.handler.getdata() | orderBy: bio.handler.activeheader.sort : bio.handler.activeheader.order track by [$index]">
									<td><input type="checkbox" checklist-model="bio.handler.check" checklist-value="a.device_number"></td>
									<td style="cursor:pointer" ng-click="bio.handler.openmodal('edit',a)">{{a.device_name}}</td>
									<td style="cursor:pointer" ng-click="bio.handler.openmodal('edit',a)">{{a.device_number}}</td>
									<td style="cursor:pointer" ng-click="bio.handler.openmodal('edit',a)">{{a.device_location}}</td>
								</tr>
							</tbody>
						</table>
						<footer class="table-footer">
							<div class="row">
								<div class="col-md-6 page-num-info">
									<span>
										Show 
										<select data-ng-model="bio.handler.numPerPage"
												data-ng-options="num for num in bio.handler.numPerPageOpt"
												data-ng-change="onNumPerPageChange()">
										</select> 
										entries per page
									</span>
								</div>
								<div class="col-md-6 text-right pagination-container">
									<pagination class="pagination-sm"
												ng-model="bio.handler.currentPage"
												total-items="bio.handler.filtered.length"
												max-size="4"
												ng-change="select(currentPage)"
												items-per-page="bio.handler.numPerPage"
												rotate="false"
												previous-text="&lsaquo;" next-text="&rsaquo;"
												boundary-links="true"></pagination>
								</div>
							</div>
						</footer>
					</div>
				</section>
						
						
				<!-- MODAL BIOMETRIC -->
				<script type="text/ng-template" id="modalbio">
						<div class="modal-header">
							<h4><i class={{modalbio.icon}} style="margin-right: 10px;" ></i>{{modalbio.title}}</h4>
						</div>
						<div class="modal-body">
							<form name="myForm" class="form-horizontal form-validation">
								<div class="form-group">
									<fieldset>
										<div class="col-sm-3">
											<label>Device Name</label><span class="space space-sm"></span><label style ="color:red">*</label>
										</div>
										<div class="col-sm-7">
											<input 	type="text" 
													name="name" 
													class="form-control" 
													autocomplete="off" 
													ng-model="modalbio.form.device_name"
													ng-disabled="!modalbio.handler.button"
													required
											/>
											<span style="color:red" ng-show="myForm.name.$dirty && myForm.name.$invalid">
												<span ng-show="myForm.name.$error.required"> Required field.</span>
											</span>
										</div>
									</fieldset>
								</div>
								<div class="form-group">
									<fieldset>
										<div class="col-sm-3">
											<label>Device Number</label><span class="space space-sm"></span><label style ="color:red">*</label>
										</div>
										<div class="col-sm-7">
											<input 	type="text" 
													name="number1" 
													class="form-control"
													placeholder="Input Number"
													ng-disabled="!modalbio.handler.button"
													autocomplete="off"
													ng-model="modalbio.form.device_number" 
													ng-pattern="/^[\d\-\^ ]+$/"
											/>
											<span style="color:red" ng-show="myForm.number1.$dirty && myForm.number1.$invalid">
												<span ng-show="myForm.number1.$dirty && myForm.number1.$error.pattern">Invalid input.</span>
											
										</div>
									</fieldset>
								</div>
								<div class="form-group">
									<fieldset>
										<div class="col-sm-3">
											<label>Device Location</label>
										</div>
										<div class="col-sm-7">
											<input type="text" class="form-control" autocomplete="off" ng-model="modalbio.form.device_location" ng-disabled="!modalbio.handler.button"/>
										</div>
									</fieldset>
								</div>
							</form>
						</div>
						<fieldset>
							<div class="col-md-3">
								<label style ="color:red">*</label><span class="space space-xs"></span><label><small>Required field</small></label>
							</div>										
						</fieldset>
						<div class="modal-footer">
							<div ng-show="modalbio.title=='Add Biometric'">	
								<button type="submit" class="btn btn-success" ng-click="modalbio.save()">Save</button>
								<button class="btn btn-danger" ng-click="modalbio.cancel()">Cancel</button>
							</div>
							<div ng-show="modalbio.title=='Edit Biometric'">
								<button type="submit" class="btn btn-success" ng-hide="modalbio.handler.button" ng-click="modalbio.handler.button=true">Edit</button>
								<button type="submit" class="btn btn-success" ng-show="modalbio.handler.button" ng-click="modalbio.save();">Save</button>
								<button class="btn btn-danger" ng-click="modalbio.cancel()">Cancel</button>
							</div>
						</div>
						<!-- <div class="modal-footer" ng-show="modalbio.title='Edit Biometric'">
							<button type="submit" class="btn btn-success" ng-hide="modalbio.button" ng-click="modalbio.button=true;">Edit</button>
							<button type="submit" class="btn btn-success" ng-show="modalbio.button" ng-click="modalbio.save();">Save</button>
							<button class="btn btn-danger" ng-click="modalbio.cancel()">Cancel</button>
						</div> -->
						
				</script>
					
				
				<!-- ############################	AUTHENTICATION SETUP #############################################################-->
				
				<section class="panel panel-primary table-dynamic">
					<div class="panel-heading"><strong><span class="glyphicon glyphicon-th" style="margin-right: 8px;"></span>Authentication status Setup</strong></div>
						<div class="panel-body">	
							<form name="myForm" class="form-horizontal form-validation" novalidate>
								<div class="form-group">
									<div class="col-sm-offset-1 col-sm-1">
										<label >
      										<input type="radio" value="A" ng-model="bio.handler.form.biometric_A"> Biometric A
    									</label>
    								</div>
    								<div class="col-sm-2">
    									<label >
      										<input type="radio" value="B" ng-model="bio.handler.form.biometric_A"> Biometric B
    									</label>
    								</div>
								</div>
								<div class="form-group">
							
								
    								
									<div class="col-sm-1">
										<label>Time-In</label>
									</div>
									<div class="col-sm-2">
										<input 	type="text" 
												class="form-control" 
												ng-model="bio.handler.form.time_in" 
												ng-disabled="!bio.handler.button"
										/>
										<!-- <div class="input-group" data-ui-spinner>
											<span class="input-group-btn">
												<button type="button" class="btn btn-primary" data-spin="up" ng-disabled="!bio.handler.button">
													<i class="fa fa-plus"></i>
												</button>
											</span>
											<input type="text" class="spinner-input form-control" ng-disabled="!bio.handler.button">
											<span class="input-group-btn">
												<button type="button" class="btn btn-default" data-spin="down" ng-disabled="!bio.handler.button">
													<i class="fa fa-minus"></i>
												</button>
											</span>
										</div> -->
									</div>
								</div>
								<div class="form-group">
									<div class="col-sm-1">
										<label>Time-Out</label>
									</div>
									<div class="col-sm-2">
										<input 	type="text" 
												class="form-control" 
												ng-model="bio.handler.form.time_out" 
												ng-disabled="!bio.handler.button"
										/>
										<!-- <div class="input-group" data-ui-spinner ng-disabled="!bio.handler.button">
											<span class="input-group-btn">
												<button type="button" class="btn btn-primary" data-spin="up" ng-disabled="!bio.handler.button">
													<i class="fa fa-plus"></i>
												</button>
											</span>
											<input type="text" class="spinner-input form-control" ng-disabled="!bio.handler.button">
											<span class="input-group-btn">
												<button type="button" class="btn btn-default" data-spin="down" ng-disabled="!bio.handler.button">
													<i class="fa fa-minus"></i>
												</button>
											</span>
										</div> -->
									</div>
								</div>
								<hr>
								<div class="form-group">										
									<div class="col-sm-6" ng-show="bio.handler.show('update')">
										<form>
											<button type="submit" class="btn btn-success" ng-hide="bio.handler.button" ng-click="bio.handler.button=true">Edit</button>
											<button type="submit" class="btn btn-success" ng-show="bio.handler.button" ng-click="bio.handler.save_authen()">Save</button>
										</form>
									</div>
								</div>
							</form>
						</div>
				</section>
				
				
				<!-- ## IMPORT SETTINGS ## -->
				<section class="panel panel-primary table-dynamic">
					<div class="panel-heading"><strong><span class="glyphicon glyphicon-th" style="margin-right: 8px;"></span>Import Setting</strong></div>
						<div class="panel-body">	
							<form name="myForm" class="form-horizontal form-validation" novalidate>
								<div class="form-group">
									<div class="col-sm-2">
										<label>Import Schedule</label>
									</div>
								</div>
								<div class="form-group" ng-show="bio.handler.show('update')">
									<div class="col-sm-1">	
										<span class="btn btn-success" ng-click="bio.handler.addtime(bio.formsub)" ng-disabled="!bio.handler.hide">
											<i class="fa fa-plus"></i>
											<span>&nbsp; Add</span>
										</span>
									</div>
									<div class="col-sm-2">
										<table class="table table-striped table-bordered">
											<thead>
												<tr id="heading">
													<th style="width:100%"><div class="th">
														<p class="text-center">Time</p>
													</div></th>
													<th><div class="th">
													</div></th>
												</tr>
											</thead>
											<tbody>
												<tr ng-repeat='x in bio.formsub.sub_time track by $index'>
													<td>
														<input 	class="form-control" 
																type="time" 
																ng-model="x.time" 
																ng-disabled="!bio.handler.hide"
														/>
													</td>
													<td>
														<span 	class="btn btn-danger" 
																ng-click="bio.handler.removesubtime(bio.formsub,$index)" 
																ng-disabled="!bio.handler.hide">
																<i class='fa fa-remove'></i><span></span>
														</span>
													</td>
												</tr>
											</tbody>
										</table>
									</div>
								</div>
						
						
								<!-- IMPORT TARGET -->
								<div class="form-group">
									<div class="col-sm-1">
										<label>Import Target</label>
									</div>
									<div class="col-sm-2">
										<label>Anonymous login:</label>
									</div>
									<div class="col-sm-1">
										<label class="ui-checkbox">
											<input 	name="checkbox1" 
													type="checkbox" 
													value="1" 
													ng-model="bio.handler.dataimport.import_target" 
													ng-disabled="!bio.handler.hide">
													<span></span>
										</label>
									</div>
								</div>
								<div class="form-group">
									<div class="col-sm-1">
										<label></label>
									</div>
									<div class="col-sm-2">
										<label>Target Server:</label>
									</div>
									<div class="col-sm-2">
										<input 	type="text" 
												class="form-control" 
												ng-model="bio.handler.dataimport.server_imp" 
												ng-disabled="!bio.handler.hide"
										/>
									</div>
								</div>
								<div class="form-group">
									<div class="col-sm-1">
										<label></label>
									</div>
									<div class="col-sm-2">
										<label>Username :</label>
									</div>
									<div class="col-sm-2">
										<input 	type="text" 
												class="form-control" 
												ng-model="bio.handler.dataimport.username_imp" 
												ng-disabled="!bio.handler.hide"
										/>
									</div>
								</div>
								<div class="form-group">
									<div class="col-sm-1">
										<label></label>
									</div>
									<div class="col-sm-2">
										<label>Password :</label>
									</div>
									<div class="col-sm-2">
										<input 	type="password" 
												class="form-control" 
												ng-model="bio.handler.dataimport.password_imp" 
												ng-disabled="!bio.handler.hide"
										/>
									</div>
								</div>
								<div class="form-group">
									<div class="col-sm-1">
										<label></label>
									</div>
									<div class="col-sm-2">
										<label>Share :</label>
									</div>
									<div class="col-sm-2">
										<input 	type="text" 
												class="form-control" 
												ng-model="bio.handler.dataimport.share_imp" 
												ng-disabled="!bio.handler.hide"
										/>
									</div>
								</div>
								<div class="form-group">
									<div class="col-sm-1">
										<label></label>
									</div>
									<div class="col-sm-2">
										<label>Domain :</label>
									</div>
									<div class="col-sm-2">
										<input 	type="text" 
												class="form-control" 
												ng-model="bio.handler.dataimport.domain_imp" 
												ng-disabled="!bio.handler.hide"
										/>
									</div>
								</div>
								
								
								<!-- BACKUP TARGET -->
								<div class="form-group">
									<div class="col-sm-1">
										<label>Backup Target</label>
									</div>
									<div class="col-sm-2">
										<label>Anonymous login:</label>
									</div>
									<div class="col-sm-1">
										<label class="ui-checkbox">
											<input 	name="checkbox1" 
													type="checkbox" 
													value="1" 
													ng-model="bio.handler.databackup.backup_target" 
													ng-disabled="!bio.handler.hide">
													<span></span>
										</label>
									</div>
								</div>
								<div class="form-group">
									<div class="col-sm-1">
										<label></label>
									</div>
									<div class="col-sm-2">
										<label>Target Server:</label>
									</div>
									<div class="col-sm-2">
										<input 	type="text" 
												class="form-control" 
												ng-model="bio.handler.databackup.server_up" 
												ng-disabled="!bio.handler.hide"
										/>
									</div>
								</div>
								<div class="form-group">
									<div class="col-sm-1">
										<label></label>
									</div>
									<div class="col-sm-2">
										<label>Username :</label>
									</div>
									<div class="col-sm-2">
										<input 	type="text" 
												class="form-control" 
												ng-model="bio.handler.databackup.username_up" 
												ng-disabled="!bio.handler.hide"
										/>
									</div>
								</div>
								<div class="form-group">
									<div class="col-sm-1">
										<label></label>
									</div>
									<div class="col-sm-2">
										<label>Password :</label>
									</div>
									<div class="col-sm-2">
										<input 	type="password" 
												class="form-control" 
												ng-model="bio.handler.databackup.password_up" 
												ng-disabled="!bio.handler.hide"
										/>
									</div>
								</div>
								<div class="form-group">
									<div class="col-sm-1">
										<label></label>
									</div>
									<div class="col-sm-2">
										<label>Share :</label>
									</div>
									<div class="col-sm-2">
										<input 	type="text" 
												class="form-control" 
												ng-model="bio.handler.databackup.share_up" 
												ng-disabled="!bio.handler.hide"
										/>
									</div>
								</div>
								<div class="form-group">
									<div class="col-sm-1">
										<label></label>
									</div>
									<div class="col-sm-2">
										<label>Domain :</label>
									</div>
									<div class="col-sm-2">
										<input 	type="text" 
												class="form-control" 
												ng-model="bio.handler.databackup.domain_up" 
												ng-disabled="!bio.handler.hide"
										/>
									</div>
								</div>
								<hr>
								<div class="form-group" ng-show="bio.handler.show('update')">
									<div class="col-sm-3">
										<button type="submit" class="btn btn-success" ng-hide="bio.handler.hide" ng-click="bio.handler.hide=true">Edit</button>
										<button type="submit" class="btn btn-success" ng-show="bio.handler.hide" ng-click="bio.handler.saveimportsetting(bio.formsub.sub_time);">Save</button>
										<div class='space'></div>
										<button type="submit" class="btn btn-danger" ng-show="bio.handler.hide" ng-click="bio.handler.cancelimportsetting();">Cancel</button>
									</div>
								</div>
							</form>
						</div>
				</section>		
		</div>