
		<div class="page page-ldap" data-ng-controller="ldapCtrl as ldap">
			<section class="panel panel-primary table-dynamic" >
				<div class="panel-heading"><strong><span class="fa fa-database" style="margin-right: 8px;"></span> LDAP Configuration</strong></div>
					<div class="panel-body">
						<form name="myForm" class="form-horizontal form-validation" novalidate >
							<div class="form-group">
								<fieldset>
									<div class="col-sm-2">
										<label for="LDAP">LDAP Server</label><span class="space space-sm"></span><label style ="color:red">*</label>
									</div>
									<div class="col-sm-3">
										<input type="text" ng-model="ldap.handler.formData.ldap_domain" name="ldap" class="form-control" ng-disabled="!ldap.handler.button" required/>
										<span style="color:red" ng-show="myForm.ldap.$dirty && myForm.ldap.$invalid">
											<span ng-show="myForm.ldap.$error.required"> Required field.</span>
										</span>
									</div>
									<div class="col-sm-3">
										<label><small>Ex: 192.168.1.200</small></label>
									</div>
								</fieldset>
							</div>
							<div class="form-group">
								<fieldset>
									<div class="col-sm-2">
										<label for="LDAP">LDAP Port</label><span class="space space-sm"></span><label style ="color:red">*</label>
									</div>
									<div class="col-sm-3">
										<input type="text" name="ldap_port" ng-model="ldap.handler.formData.ldap_port" class="form-control" ng-disabled="!ldap.handler.button" required/>
									</div>
									<div class="col-sm-2">
										<label><small>Ex: 389</small></label>
									</div>
								</fieldset>
							</div>
							<div class="form-group">
								<fieldset>
									<div class="col-sm-2">
										<label for="Philhealth">LDAP Protocol</label><span class="space space-sm"></span><label style ="color:red">*</label>
									</div>
									<div class="col-sm-3">
										<select class="form-control" ng-model="ldap.handler.formData.ldap_protocol" ng-disabled="!ldap.handler.button" required>
											<option value=""> --   Select   --</option>
											<option value="ldap" >LDAP</option>
											<option value="ldaps">LDAPS</option>
										</select>
									</div>
								</fieldset>
							</div>
							<div class="form-group">
								<fieldset>
									<div class="col-sm-2">
										<label for="">Base DN</label><span class="space space-sm"></span><label style ="color:red">*</label>
									</div>
									<div class="col-sm-3">
										<input type="text" class="form-control" ng-model="ldap.handler.formData.ldap_basedn" ng-disabled="!ldap.handler.button" required />
									</div>
									<div class="col-sm-3">
										<label><small>Ex: u=jhon.dc=orangehrm.dc=com</small></label>
									</div>
								</fieldset>
							</div>
							<div class="form-group">
								<fieldset>
									<div class="col-sm-2">
										<label for="Phone">LDAP Account Sufix</label><span class="space space-sm"></span><label style ="color:red">*</label>
									</div>
									<div class="col-sm-3">
										<input type="text" class="form-control" ng-model="ldap.handler.formData.ldap_account_suffix" ng-disabled="!ldap.handler.button" required/>
									</div>
									<div class="col-sm-3">
										<label><small>Ex: @domain.com</small></label>
									</div>
									
								</fieldset>
							</div>
							<div class="form-group">
								<fieldset>
									<div class="col-sm-2">
										<label for="">Username</label><span class="space space-sm"></span><label style ="color:red">*</label>
									</div>
									<div class="col-sm-3">
										<input type="text" class="form-control" ng-model="ldap.handler.formData.ldap_username"ng-disabled="!ldap.handler.button" required />
									</div>
								</fieldset>
							</div>
							<div class="form-group">
								<fieldset>
									<div class="col-sm-2">
										<label for="pass">LDAP Password</label><span class="space space-sm"></span><label style ="color:red">*</label>
									</div>
									<div class="col-sm-3">
										<input type="password" name="password" ng-model="ldap.handler.formData.ldap_password" class="form-control" ng-disabled="!ldap.handler.button" required/>
									</div>
								</fieldset>
							</div><br><br>
							<div class="form-group">
								<fieldset>
									<div class="col-md-3">
										<label style ="color:red">*</label><span class="space space-xs"></span><label><small>Required field</small></label>
									</div>										
								</fieldset>
							</div>
							<hr>
							<fieldset>
								<dl class="dl-vertikal">
									<!-- ng-show="ldap.handler.hiden('update')" -->
									<dd>
										<button type="submit" class="btn btn-success" ng-hide="ldap.handler.button" ng-click="ldap.handler.button=true" >Edit</button>
										<button type="submit" class="btn btn-success" ng-disabled="myForm.$invalid" ng-show="ldap.handler.button" ng-click="ldap.handler.save()">Save</button>
									</dd>
								</dl>
							</fieldset>
						</form>		
					</div>
			</section>													
		</div>