		<div class="page page-changeShift" ng-controller="changeShiftcontroller as change">
					
					<!-- #########################    TABLE CHANGE SHIFT OR DAY ############################################################  -->
					<section class="panel panel-primary table-dynamic">
						<div class="panel-heading"><span class="glyphicon glyphicon-th" style="margin-right: 8px;"></span>
							<strong>
								{{change.handler.form.requestType}}<label ng-hide="change.handler.form.requestType">Change / Swap Shift or Day Off</label>
							</strong>
						</div>
							<div class="panel-body">	
								<form name="form" class="form-horizontal form-validation">
									<div class="form-group">
										<div class="col-sm-1">
											<label>Name</label><div class="space"></div><label style ="color:red">*</label>
										</div>
										<div class="col-sm-2">
												<input 	type="text"
														placeholder="Type for hint . ."
														class="form-control"
														name="form"
														data-ng-model="change.handler.form.name"
														ng-disabled = "!change.handler.hides"
														typeahead="(address.name) for address in change.handler.getLocation($viewValue)" 
														typeahead-loading="loadingLocations"
														typeahead-min-length="4"
														typeahead-wait-ms="300"
														typeahead-on-select="change.handler.onSelect($item, $model, $label)"
														autocomplete="off"
														
												/>
												<!-- <span style="color:red" ng-show="form.form.$dirty && form.form.$invalid">
												<span ng-show="form.form.$error.required">Name is required.</span> -->
										</div>
									</div>
									<div class="form-group">
										<div class="col-sm-1">
											<label>Request Type</label><div class="space"></div><label style ="color:red">*</label>
										</div>
										<div class="col-sm-2">
											<select class="form-control"  ng-model="change.handler.form.requestType" ng-disabled="!change.handler.button('create')" >
												<option value="">-- Select -- </option>
												<option value="Change Shift">Change Shift</option>
												<option value="Swap Shift / Day Off">Swap Shift / Day Off</option>
											</select>
											<!-- <span style="color:red" ng-show="formswap.type.$dirty && formswap.type.$invalid">
												<span ng-show="formswap.type.$error.required"> Required field.</span>
											</span>	 -->											
										</div>
										<div class="col-sm-2">
											<label ng-show="change.handler.form.requestType == 'Swap Shift / Day Off'">No. of request for the month : </label>
										</div>
										<div class="col-sm-1">
											<label ng-show="change.handler.form.requestType == 'Swap Shift / Day Off'">{{change.handler.form.NoRequestForTheMonth}}</label>
										</div>
									</div>
									<div class="form-group" ng-show="change.handler.form.requestType == 'Swap Shift / Day Off'">
										<fieldset>
											<div class="col-sm-1">
												<label for="">Swap with</label><span class="space space-sm"></span><label style ="color:red">*</label>
											</div>
											<div class="col-sm-2">
												 <input type="text"
														placeholder="Type for hint . ."
														class="form-control"
														name="formswap"
														data-ng-model="change.handler.form.nameSwap"
														typeahead="(address.name) for address in change.handler.getSwap($viewValue)" 
														typeahead-loading="loadingLocations"
														typeahead-min-length="4"
														typeahead-wait-ms="300"
														typeahead-on-select="change.handler.onSwap($item, $model, $label)"
														
												/>											
											</div>
											<div class="col-sm-2">
												<label ng-show="change.handler.form.requestType == 'Swap Shift / Day Off'">No. of request for the month : </label>
											</div>
											<div class="col-sm-1">
												<label ng-show="change.handler.form.requestType == 'Swap Shift / Day Off'">{{change.handler.form.NoWithForTheMonth}}</label>
											</div>
										</fieldset>
									</div>
									<br>
									
									
									<!-- ##############	TABLE ADD CHANGE SHIFT ############### -->
									<div class="form-group" ng-show="change.handler.form.requestType == 'Change Shift'" >
										<fieldset>
											<div class="col-sm-1"></div>
											<div class="col-sm-3">
											
												<span class="btn btn-success" ng-click="change.handler.addChange(change.form)"  >
													<i class="fa fa-plus"></i>
													<span> &nbsp; Add</span>
												</span>
											</div>
										</fieldset>
									</div>
									<div class="form-group" ng-show="change.handler.form.requestType == 'Change Shift'">
										<div class="col-sm-1"></div>
										<div class="col-sm-6">
											<table class="table table-striped table-bordered">
												<thead>
													<tr id="heading">
														<th style="width:30%"><div class="th">
															<p class="text-center">Date</p>
														</div></th>
														<th style="width:30%"><div class="th">
															<p class="text-center">Original</p>
														</div></th>
														<th style="width:40%"><div class="th">
															<p class="text-center">New</p>
														</div></th>
														<th><div class="th">
														</div></th>
													</tr>
												</thead>
												<tbody>
													<tr ng-repeat='x in change.form.subChange track by $index'>
														<td>
															<input 	class="form-control" 
																	type="date" 
																	ng-model="x.date" 
																	ng-change="change.handler.getchange(change.form,x.date)">
															</input>
														</td>
														<td>
															<input class="form-control" ng-model="x.original" disabled></input>
														</td>
														<td>
															<select class="form-control" ng-model="x.new">
																<option value=""> -- Select -- </option>
																<option value="{{data.shift_id}}" ng-repeat="data in x.stores">{{data.new}}
																</option>
															</select>
														</td>
														<td>
															<span class="btn btn-danger" ng-click="change.handler.removesubChange(change.form,$index)">
																<i class='fa fa-remove'></i><span></span>
															</span>
															
														</td>
													</tr>
												</tbody>
											</table>
										</div>
									</div>
									
									
									<!-- ##############	TABLE ADD SWAP SHIFT / DAY OFF ############### -->
									<div class="form-group" ng-show="change.handler.form.requestType == 'Swap Shift / Day Off'" >
										<fieldset>
											<div class="col-sm-1"></div>
											<div class="col-sm-3">
												<span class="btn btn-success" ng-click="change.handler.addSwap(change.form)" ng-disabled = "change.handler.addDisabled">
													<i class="fa fa-plus"></i>
													<span> &nbsp; Add</span>
												</span>
											</div>
										</fieldset>
									</div>
									<div class="form-group" ng-show="change.handler.form.requestType == 'Swap Shift / Day Off'">
										<div class="col-sm-1"></div>
										<div class="col-sm-6">
												<table class="table table-striped table-bordered">
													<thead>
														<tr id="heading">
															<th style="width:20%"><div class="th">
																<p class="text-center">Date</p>
															</div></th>
															<th style="width:30%"><div class="th">
																<p class="text-center">{{change.handler.form.name}}</p>
															</div></th>
															<th style="width:20%"><div class="th">
																<p class="text-center">Swap With</p>
															</div></th>
															<th style="width:30%"><div class="th">
																<p class="text-center">{{change.handler.form.nameSwap}}</p>
															</div></th>
															<th><div class="th">
															</div></th>
														</tr>
													</thead>
													<tbody>
														<tr ng-repeat='x in change.form.subSwap track by $index'>
															<td>
																<input class="form-control" type="date" ng-model="x.date" ng-change="change.handler.updateSwap(change.form,x.date)"></input>
															</td>
															<td>
																<input class="form-control" ng-model="x.original" disabled></input>
															</td>
															<td class="text-center">
																<label>|</label>
															</td>
															<td>
																<input class="form-control" ng-model="x.new" disabled></input>
															</td>
															<td>
																<span class="btn btn-danger" ng-click="change.handler.removesubSwap(change.form,$index)">
																	<i class='fa fa-remove'></i><span></span>
																</span>
															</td>
														</tr>
													</tbody>
												</table>
											</div>
									</div>
									<hr>
									<div class="form-group">
										<fieldset>
											<div class="col-sm-3">
												<label style ="color:red">*</label><span class="space space-xs"></span><label><small>Required field</small></label>
											</div>										
										</fieldset>
									</div>
								</form>
							</div>
					</section>
					<section class="panel panel-primary">
						<div class="panel-heading"><label class="text-capitalize">Comments for Consideration</label></div>
							<div class="panel-body">	
								<form name="myForm" class="form-horizontal form-validation">
									<div class="form-group">
										<div class="col-md-12">
											<textarea class="form-control" rows="5" cols="40" ng-model="change.handler.form.comment"></textarea>
										</div>
									</div>
									<br>
									<div class="form-group">
										<fieldset>
											<div class='col-sm-1'>
												<button type="button" 
														class="btn btn-default" 
														accept="files/*"
														ngf-select ngf-change="upload($files)"
														ngf-multiple="multiple"
														ng-model="change.handler.files"
														ng-show="change.handler.button('create')">
														Upload a File
												</button>
											</div>		
											<div class='col-sm-2'>
												<label ng-repeat="f in change.handler.files"  ng-show="change.handler.files">{{f.name}}</label>
											</div>
											<div class='col-sm-3'  ng-show="change.handler.files">
												<button class="btn btn-danger"  tooltip-placement="top" tooltip="Delete File" ng-click=" change.handler.files = false">
													<span class="glyphicon glyphicon-trash" ></span>
												</button>
											</div>
										</fieldset>
									</div>
									<hr>
									<div class="form-group">										
										<div class="col-sm-6">
											<form>
												<button type="submit" class="btn btn-success"  ng-show="change.handler.button('create')" ng-click="change.handler.save(change.form,change.handler.files)">Save</button>
												<span class="space space-sm"></span>
												<button type="submit" class="btn btn-danger"   ng-show="change.handler.button('create')" ng-click="change.handler.cancel()">Cancel</button>
											</form>
										</div>
									</div>
								</form>
							</div>
					</section>
			
		</div>
		
<!--
TABLE ADD CHANGE SHIFT
<div class="form-group">
	<fieldset>
		<div class="col-sm-1"></div>
		<div class="col-sm-2">
			<label> Date</label>
		</div>
		<div class="col-sm-1">
			<label>Original</label>
		</div>
		<div class="col-sm-1">
			<label>New</label>
		</div>
	</fieldset>
</div>
<div class="form-group">
	<fieldset>
		<div class="col-sm-1"></div>
		<div class="col-sm-2">
			 <input type="date" class="form-control" ng-change="change()" ng-model="form.date_start"
					placeholder="yyyy-mm-dd"/>												
		</div>
		<div class="col-sm-1">
			 <input type="text" class="form-control" data-ng-model="form.original"/>												
		</div>
		<div class="col-sm-1">
			<input type="text" class="form-control" dn-timepicker ng-model="from" step="15m" time-format="HH:mm"/>
		</div>
	</fieldset>
</div>
<div class="form-group">
	<div class="col-sm-1"></div>
	<div class="col-sm-3">
		<form>
			<button type="submit" class="btn btn-success"  ng-click="addDate()">Add</button>
		</form>
	</div>
</div>
<section class="panel panel-primary table-dynamic">
	<div class="panel-heading"><strong><span class="glyphicon glyphicon-th" style="margin-right: 8px;"></span>Swap Shift / Day Off or day off</strong></div>
		<div class="panel-body">	
			<form name="myForm" class="form-horizontal form-validation" novalidate>
				<div class="form-group">
					<div class="col-sm-2">
						<label>Name</label><span class="space space-sm"></span><label style ="color:red">*</label>
					</div>
					<div class="col-sm-2">
						<input type="text" name="name1" class="form-control" data-ng-model="form.name" placeholder="Type for hints . ." required/>
							<span style="color:red" ng-show="myForm.name1.$dirty && myForm.name1.$invalid">
								<span ng-show="myForm.name1.$error.required">Name is required.</span>
							</span>			
					</div>
				</div>
				<div class="form-group">
					<div class="col-sm-2">
						<label>Request Type</label>
					</div>
					<div class="col-sm-2">
						<select class="form-control"  ng-model="form.request_type">
							<option value="{{job.id}}"  ng-repeat="job in jobs" ng-selected="{{form.cut_off == job.title}}">{{job.title}}</option>
						</select>	
					</div>
				</div>
				<div class="form-group">
					<fieldset>
						<div class="col-sm-2">
							<label for="">Swap with</label><span class="space space-sm"></span><label style ="color:red">*</label>
						</div>
						<div class="col-sm-2">
							 <input type="text" name="name" class="form-control" data-ng-model="form.work_hours" placeholder="Type for hints . ."/>												
						</div>
					</fieldset>
				</div>
				<div class="form-group">
					<fieldset>
						<div class="col-sm-1"></div>
						<div class="col-sm-2">
							<label> Date</label>
						</div>
						<div class="col-sm-1">
							<label>Cris Evan</label>
						</div>
						<div class="col-sm-1">
							<label>Swaft with</label>
						</div>
						<div class="col-sm-1">
							<label>Logan Conor</label>
						</div>
					</fieldset>
				</div>
				<div class="form-group">
					<fieldset>
						<div class="col-sm-1"></div>
						<div class="col-sm-2">
							 <input type="date" class="form-control" ng-change="change()" ng-model="form.date_start"
									placeholder="yyyy-mm-dd" min="1950-01-01" max="2020-12-30" />												
						</div>
						<div class="col-sm-1">
							 <input type="text" class="form-control" placeholder="Hours shift . ."/>												
						</div>
						<div class="col-sm-1">
						<label></label>
						</div>
						<div class="col-sm-1">
							<input type="text" class="form-control" placeholder="Hours shift . . "/>
						</div>
					</fieldset>
				</div>
				<div class="form-group">
					<div class="col-sm-1"></div>
					<div class="col-sm-3">
						<form>
							<button type="submit" class="btn btn-success"  ng-click="addDate()">Add</button>
						</form>
					</div>
				</div>
			</form>
		</div>
</section>
<section class="panel panel-primary table-dynamic">
		<div class="panel-body">	
			<form name="myForm" class="form-horizontal form-validation">
				<div class="form-group">
					<div class="col-md-3">
						<label>Comments for Consideration</label>
					</div>
				</div>
				<div class="form-group">
					<div class="col-md-12">
						<textarea class="form-control" rows="4" cols="40" ng-model="form.text_area"></textarea>
					</div>
				</div><br>
				<div class="form-group">
					<fieldset>
						<div class="col-sm-3">
							<label style ="color:red">*</label><span class="space space-xs"></span><label><small>Required field</small></label>
						</div>										
					</fieldset>
				</div>
				<hr>
				<div class="form-group">										
					<div class="col-sm-6">
						<form>
							<button type="submit" class="btn btn-success"  ng-click="save()">Save</button>
							<span class="space space-sm"></span>
							<button type="submit" class="btn btn-danger"   ng-click="cancel()">Cancel</button>
						</form>
					</div>
				</div>
			</form>
		</div>
</section>
			
-->
									