
		<div class="page page-cutOff" ng-controller="cutOffPeriodCtrl as period">
		
			<section class="panel panel-primary table-dynamic">
				<div class="panel-heading"><strong><span class="glyphicon glyphicon-th" style="margin-right: 8px;"></span>Cut-Off Period</strong></div>
					<div class="panel-body">	
						<form name="myForm" class="form-horizontal form-validation" novalidate>
							<div class="form-group">
								<div class="col-sm-1">
									<label>From</label>
								</div>
								<div class="col-sm-2">
									<input type="date" class="form-control" ng-model="period.handler.form.from" min="1900-01-01" max="2100-01-01" placeholder="yyyy-MM-dd"/>	
								</div>
							</div>
							<div class="form-group">
								<div class="col-sm-1">
									<label>To</label>
								</div>
								<div class="col-sm-2">
									<input type="date" class="form-control" ng-model="period.handler.form.to" min="1900-01-01" max="2100-01-01" placeholder="yyyy-MM-dd"/>	
								</div>
							</div><hr>
							<div class="form-group">										
								<div class="col-sm-6">
									<form>
										<button class="btn btn-success"  
												ng-show="period.handler.button('read')" 
												ng-click="period.handler.viewperiod() ">
												Search
										</button>
									</form>
								</div>
							</div>
						</form>
					</div>
			</section>
			
			<section class="panel panel-primary table-dynamic">
				<div class="panel-body">
					<div class="from-group">
						<div class="row">
							<div class="col-sm-4">
								<form ng-show="period.handler.button('update')">
									<button class="btn btn-gap-v btn-success"  
											ng-click="period.handler.hide=true"
											ng-hide="period.handler.hide">
											Edit
									</button>
									<button class="btn btn-gap-v btn-success"  
											ng-click="period.handler.generateToExcel()"
											ng-hide="period.handler.hide">
											Generate to Excel
									</button>
									<button class="btn btn-gap-v btn-success"  
											ng-click="period.handler.save()"
											ng-show="period.handler.hide">
											Save
									</button>
									
									<!-- <button class="btn btn-gap-v btn-danger" ng-click="period.handler.generate()" >
											Generate to Word
									</button> -->
								</form>

							</div>
								
						</div>
					</div><br>
					<table class="table table-bordered table-striped table-responsive" id="exportable">
						<thead>
							<tr>
								<th ng-repeat='a in period.handler.headers' width='{{a.width}}'>
									<div class="th">
										{{a.name}}
										<span class="fa fa-angle-up"
											  data-ng-if="a.sort"
											  data-ng-click="period.handler.setactiveheader(a,true)"
											  data-ng-class="{active: $index == period.handler.activeheader.id && period.handler.activeheader.order == true}">
										</span>
										<span class="fa fa-angle-down"
											  data-ng-if="a.sort"
											  data-ng-click="period.handler.setactiveheader(a,false)"
											  data-ng-class="{active: $index == period.handler.activeheader.id && period.handler.activeheader.order == false}">
										</span>
									</div>
								</th>
							</tr>
						</thead>
						<tbody>
							<tr data-ng-repeat="a in period.handler.getdata() | orderBy: period.handler.activeheader.sort : period.handler.activeheader.order track by [$index]">
								<td>{{a.payroll_period}}</td>
								<td class="col-sm-2">
									<table class="col-sm-12">
										<tr>
											<td>
												<input type='date' class="form-control"  ng-model="a.dateFrom" min="1900-01-01" max="2100-01-01" ng-disabled="!period.handler.hide" ng-change="period.handler.sendDate(a)">
											</td>
											<td class="col-sm-1"> - </td>
											<td>
												<input type='date' class="form-control" ng-model="a.dateTo" min="1900-01-01" max="2100-01-01" ng-disabled="!period.handler.hide">
											</td>													
										</tr>	
									</table>
								</td>
								<td>
									<input type='date' class='form-control' ng-model='a.payout_date' ng-disabled="!period.handler.hide">
								</td>
							</tr>
						</tbody>
					</table>
					<footer class="table-footer">
						<div class="row">
							<div class="col-sm-6 page-num-info">
								<span>
									Show 
									<select data-ng-model="period.handler.numPerPage"
											data-ng-options="num for num in period.handler.numPerPageOpt"
											data-ng-change="onNumPerPageChange()">
									</select> 
									entries per page
								</span>
							</div>
							<div class="col-sm-6 text-right pagination-container">
								<pagination class="pagination-sm"
											ng-model="period.handler.currentPage"
											total-items="period.handler.filtered.length"
											max-size="4"
											ng-change="select(currentPage)"
											items-per-page="period.handler.numPerPage"
											rotate="false"
											previous-text="&lsaquo;" next-text="&rsaquo;"
											boundary-links="true">
								</pagination>
							</div>
						</div>
					</footer>
				</div>
			</section>	
		</div>