<div class="page page-
		empAttRecord"  ng-controller="empAttRecordCtrl as empAtt">
		
					<section class="panel panel-primary table-dynamic">
						<div class="panel-heading"><strong><span class="glyphicon glyphicon-th" style="margin-right: 8px;"></span>View Attendance Record</strong></div>
							<div class="panel-body">	
								<form name="myForm" class="form-horizontal form-validation">
									<div class="form-group">
										<div class="col-sm-2">
											<label>Employee Name</label><div class="space"></div><label style ="color:red">*</label>
										</div>
										<div class="col-sm-2">
											<input 	type="text"
													placeholder="Type for hint . ."
													class="form-control"
													name="leave"
													data-ng-model="empAtt.handler.form.name"
													typeahead="(address.name) for address in empAtt.handler.getLocation($viewValue)" 
													typeahead-loading="loadingLocations"
													typeahead-min-length="4"
													ng-disabled="empAtt.handler.hide"
													typeahead-wait-ms="400"
													typeahead-on-select="empAtt.handler.onSelect($item, $model, $label)"
													required
											/>
													<!--ng-disabled="!empAtt.handler.hide"-->
													<!--autocomplete="off"-->
													
													
											
											<span style="color:red" ng-show="myForm.leave.$dirty && myForm.leave.$invalid">
											<span ng-show="myForm.leave.$error.required">Required Field.</span>		
										</div>
									</div><br>
									<div class="form-group">
										<fieldset>
											<div class="col-sm-3">
												<label style="color:red">*</label><span class="space space-xs"></span><label><small>Required field</small></label>
											</div>										
										</fieldset>
									</div>
									<hr>
									<div class="form-group">										
										<div class="col-sm-6">
											<form>
												<button type="submit" class="btn btn-success"  ng-click="empAtt.handler.save()">View</button>
											</form>
										</div>
									</div>
								</form>
							</div>
					</section>
					
					<section class="panel panel-primary table-dynamic">
						<div class="panel-heading"><strong><p class="text-center">Attendance Cut-Off Period</p></strong></div>
						<div class="panel-body">
							<footer class="table-footer">
								<div class="row">
									<!--
									<div class="col-md-6 page-num-info">	
										<span>
											Show 
											<select data-ng-model="empAtt.handler.numPerPage"
													data-ng-options="num for num in empAtt.handler.numPerPageOpt"
													data-ng-change="onNumPerPageChange()">
											</select> 
											entries per page
										</span>

									</div>
									-->
									<div class="col-sm-2">
										<label class="label" ng-class="empAtt.handler.getActive(empAtt.handler.currentPage) == 1 ? 'label-success' : 'label-default'">{{empAtt.handler.getPeriod(1,empAtt.handler.currentPage)}}</label>
									</div>
									<div class="col-sm-2">
										<label class="label" ng-class="empAtt.handler.getActive(empAtt.handler.currentPage) == 2 ? 'label-success' : 'label-default'">{{empAtt.handler.getPeriod(2,empAtt.handler.currentPage)}}</label>
									
									</div>
									<div class="col-sm-2">
										<label class="label" ng-class="empAtt.handler.getActive(empAtt.handler.currentPage) == 3 ? 'label-success' : 'label-default'">{{empAtt.handler.getPeriod(3,empAtt.handler.currentPage)}}</label>
									</div>
								 	<div class="col-sm-2 text-right pagination-container">
								 		    <input type="date" class='form-control' ng-disabled="empAtt.handler.button" id="exampleInput" name="input" ng-model="empAtt.handler.date" datepicker-popup="MM/yyyy" placeholder="yyyy-MM"  ng-change="empAtt.handler.dateEnd(empAtt.handler.date)" required  style="float: left"/>
								 	</div>
								 	<div class="col-sm-1 text-left pagination-container">
								 		  <button type="submit" class="btn btn-danger"  ng-disabled="empAtt.handler.button" ng-click="empAtt.handler.restore()"> X </button>
								 	</div>
									<div class="col-md-3 text-right pagination-container">
										
										<!--  <ul  class = "pagination">
										    <li ng-repeat=" opt in empAtt.handler.paging track by $index" ng-bind-html-unsafe="opt.text" >
										       <a ng-click="opt  == '...' ? empAtt.handler.next_paging(empAtt.handler.paging[$index-1]+1,'end') : empAtt.handler.next_paging(empAtt.handler.paging[$index],'no_end') "> {{ opt != '...' ? opt + 1 : opt }} </a>
										    </li>
    									</ul> -->
										<pagination class="pagination-sm"
													ng-model="empAtt.handler.currentPage"
													total-items="empAtt.handler.filtered.length"
													max-size="4"
													items-per-page="empAtt.handler.numPerPage"
													rotate="false"
													ng-change="select(currentPage)"
										></pagination>

									</div>
									
								</div>
							</footer>
							<table class="table table-bordered table-striped table-responsive">
								<thead>
									<tr>
										<th ng-repeat='a in empAtt.handler.headers'  width='{{a.width}}'>
											<div class="th" style="text-align:center">
												{{a.name}}
												<span class="fa fa-angle-up"
													  data-ng-if="a.sort"
													  data-ng-click="empAtt.handler.setactiveheader(a,true) "
													  data-ng-class="{active: $index == empAtt.handler.activeheader.id && empAtt.handler.activeheader.order == true}">
												</span>
												<span class="fa fa-angle-down"
													  data-ng-if="a.sort"
													  data-ng-click=" empAtt.handler.setactiveheader(a,false) "
													  data-ng-class="{active: $index == empAtt.handler.activeheader.id && empAtt.handler.activeheader.order == false}">
												</span>
											</div>
										</th>
									</tr>
								</thead>
								<tbody>
									<tr data-ng-repeat="a in empAtt.handler.getdata() | orderBy: empAtt.handler.activeheader.sort : empAtt.handler.activeheader.order track by [$index]">
										<td style="text-align:center"
											ng-class="{'color-green': a.schedule === 'DO'}">
											<b>{{a.date}}</b>
										</td>
										<td style="text-align:center" 
											ng-class="{'color-green': a.schedule === 'DO'}">
											<b>{{a.schedule}}</b>
										</td>
										<td style="cursor:pointer; text-align:center;" 
											ng-click="(a.timeIn == '-') ? empAtt.handler.openmodal('open',a) : null"
											ng-class="{	'color-green': a.schedule === 'DO',
														'color-orangeText': a.timeInStatus === 'yes',
														'color-red': a.noTimeIn === 'yes',
														'green-approve': a.status === 'yes',
													   }">
											<b>{{a.timeIn}}</b>
										</td>
										<td style="cursor:pointer; text-align:center;" 
											ng-click="(a.timeOut == '-') ? empAtt.handler.openmodal('open',a) : null"
											ng-class="{	'color-green': a.schedule === 'DO',
														'color-orangeText': a.timeOutStatus === 'yes',
														'color-red': a.noTimeOut === 'yes',
														'green-approve': a.status === 'yes',
													   }">
											<b>{{a.timeOut}}</b>
										</td>
										<td style="text-align:center" 
											ng-class="{'color-red': a.workStatus === 'yes','color-green': a.schedule === 'DO'}"
											<b>{{a.WorkHours}}</b>
										</td>
										<td style="text-align:center"
											ng-class="{'color-green': a.schedule === 'DO'}"
											ng-style="{'color': a.new_color_overtime == 'green' ? '#00ff00' : 'red'    }">
											<b>{{a.total_overtime}}</b>
										</td>
										<td style="text-align:center"
											ng-class="{'color-green': a.schedule === 'DO'}"
											ng-style="{'color': a.OvertimeRestDay_Color == 'yes' ? '#00ff00' : 'red'   }" >
											<b>{{a.OvertimeRestDay}}</b>
										</td>
										<td style="color:red; text-align:center;"
											ng-class="{'color-green': a.schedule === 'DO'}">
											<b>{{a.Short}}</b>
										</td>
										<td style="cursor:pointer; text-align:center;" 
											ng-click="(a.Late != '-' &&  a.colorLate === 'red') ? empAtt.handler.openmodal('late',a) : null"
											ng-class="{'color-red': a.colorLate === 'red','color-green': a.schedule === 'DO'}"
											ng-style="{'color' : a.colorLate === 'green'  ? '#00ff00' : 'red'}"
											>
											<b>{{a.Late}}</b>
										</td>
										<td style="cursor:pointer;color:red; text-align:center;" 
											ng-click="(a.EarlyOut != '-') ? empAtt.handler.openmodal('early',a) : null"
											ng-class="{'color-green': a.schedule === 'DO'}"
											ng-style="{'color' : a.early_c === 'green'  ? '#00ff00' : 'red'}">
											<b>{{a.EarlyOut}}</b>
										</td>
									</tr>
								</tbody>
							</table>
						</div>
					</section>
					
					<!-- ### MODAL TIME IN / TIME OUT ## -->
					<script type="text/ng-template" id="open">
						<div class="modal-header">
							<h4><i class="fa fa-clock-o"></i>
								<span class="space space-sm"></span>
								<label>{{open.form.requestType}}
									<span class="space space-sm"></span>
									Request
								</label>
							</h4>
						</div>
						<div class="modal-body">
							<form name="myForm" class="form-horizontal form-validation">
									<div class="form-group">
										<div class="col-sm-2">
											<label>Name</label>
										</div>
										<div class="col-sm-3">
											<input type="text" class="form-control" data-ng-model="open.form.Name" ng-disabled='true'/>		
										</div>
									</div>
									<div class="form-group">
										<div class="col-sm-2">
											<label>Date Request</label>
										</div>
										<div class="col-sm-3">
											<input type="date" 
												   class="form-control" 
												   ng-model="open.form.date" 
												   ng-change="open.dateRequest()"
												   min='1900-01-01'
												   max='2200-01-01'
												   placeholder="yyyy-MM-dd"
												   ng-disabled='open.handler.formdisabled'
											/>
											<!-- ng-disabled="open.form.noTimeIn== 'no' || open.form.noTimeOut== 'no'" -->
										</div>
									</div>
									<div class="form-group">
										<div class="col-sm-2">
											<label>Current Schedule</label>
										</div>
										<div class="col-sm-3">
											<label>{{open.form.schedule}}</label>		
										</div>
									</div>
									<div class="form-group">
										<div class="col-sm-2">
										</div>
										<div class="col-sm-3">
											<p class="text-center"><label>Time In</label></p>
										</div>
										<div class="col-sm-3">
											<p class="text-center"><label>Time Out</label></p>
										</div>
									</div>
									<div class="form-group">
										<div class="col-sm-2">
											<label>Original</label>
										</div>
										<div class="col-sm-3">
											<p class="text-center"><label>{{open.form.timeIn}}</label></p>	
										</div>
										<div class="col-sm-3">
											<p class="text-center"><label>{{open.form.timeOut}}</label></p>	
										</div>
									</div>
									<div class="form-group">
										<div class="col-sm-2">
											<label>New Entry</label>
										</div>
										<div class="col-sm-3" style="text-align:center">
											<label class="ui-checkbox">
												<input 	type="checkbox"
														ng-disabled='open.handler.formdisabled'
														ng-model="open.checkTimeIn"
														ng-true-value="Yes" 
														ng-false-value="Yes"
														><span>Time In</span>
											</label>
										</div>
										<div class="col-sm-3" style="text-align:center">
											<label class="ui-checkbox">
												<input 	type="checkbox"
														ng-disabled='open.handler.formdisabled'
														ng-model="open.checkTimeOut"
														ng-true-value="Yes" 
														ng-false-value="No"
														><span>Time Out</span>
											</label>
										</div>
									</div>
									<div class="form-group">
										<div class="col-sm-2">
											<label>Requested</label>
										</div>
										<div class="col-sm-3"  style="text-align:center;">
											<div ng-model="open.getTimeIn" ng-change="open.changed()" ng-show="open.checkTimeIn" style="display:inline-block;">
												<timepicker class="ui-timepicker" 
															hour-step="open.hstep" 
															minute-step="open.mstep" 
															show-meridian="open.ismeridian">
												</timepicker>
											</div>	
										</div>
										<div class="col-sm-3"  style="text-align:center;" >
											<div ng-model="open.getTimeOut" ng-change="open.changedOut()" ng-show="open.checkTimeOut" style="display:inline-block;">
												<timepicker class="ui-timepicker" 
															hour-step="open.hstepOut" 
															minute-step="open.mstepOut" 
															show-meridian="open.ismeridian">
												</timepicker>
											</div>	
										</div>
									</div><hr>
									<br>
									<section class="panel panel-default">
										<div class="panel-heading"><label><p class="text-capitalize">Comments for Consideration</p></label></div>
											<div class="panel-body">	
												<div class="form-group">
													<div class="col-sm-12">
														<textarea 	class="form-control" 
																	rows="5" 
																	cols="60" 
																	ng-model="open.form.comment"
																	ng-disabled='open.handler.formdisabled'
																	>
														</textarea>
													</div>
												</div>
											</div>
									</section>
									<div class="form-group">
										<fieldset>
											<div class='col-sm-2'>
												<button type="button" 
														class="btn btn-default" 
														accept="files/*"
														ngf-select ngf-change="upload($files)"
														ngf-multiple="multiple"
														ng-model="open.handler.files"
														ng-disabled='open.handler.formdisabled'
														>
														Upload a File
												</button>
											</div>		
											<div class='col-sm-2'>
												<label ng-repeat="f in open.handler.files"  ng-show="open.handler.files">{{f.name}}</label>
											</div>
											<div class='col-sm-3'  ng-show="open.handler.files">
												<button class="btn btn-danger"  tooltip-placement="top" tooltip="Delete File" ng-click=" open.handler.files = false">
													<span class="glyphicon glyphicon-trash" ></span>
												</button>
											</div>
										</fieldset>
									</div>
									<div class="modal-footer">
										<button type="submit" 
												class="btn btn-success"  
												ng-click="open.save(open.handler.files)"
												ng-disabled='open.handler.formdisabled'
												>
												Save
										</button>
										<span class="space space-sm"></span>
										<button type="submit" 
												class="btn btn-danger"  
												ng-click="open.cancel()">
												Cancel
										</button>	
									</div>
							</form>
						</div>
					</script>
					
					
					<!-- ## MODAL LATE / EARLY ## -->
					<script type="text/ng-template" id="late">
						<div class="modal-header">
							<h4><i class="fa fa-clock-o"></i>
								<span class="space space-sm"></span>
								{{late.form.title}}
								<span class="space space-sm"></span>
							</h4>
						</div>
						<div class="modal-body">
							<form name="myForm" class="form-horizontal form-validation">
									<div class="form-group">
										<div class="col-sm-2">
											<label>Name</label>
										</div>
										<div class="col-sm-3">
											<input type="text" class="form-control" data-ng-model="late.form.Name"/>		
										</div>
									</div>
									<div class="form-group">
										<div class="col-sm-2">
											<label>Date Request</label>
										</div>
										<div class="col-sm-3">
											<input 	type="date" 
													class="form-control" 
													ng-model="late.form.date"
													ng-change="late.getlateRequest()"
													placeholder="yyyy-MM-dd"
													ng-show = "late.form.title == 'Late Request'"/>
													
											<input 	type="date" 
													class="form-control" 
													ng-change="late.getearlyRequest()"
													ng-model="late.form.date" 
													placeholder="yyyy-MM-dd"
													ng-show = "late.form.title == 'Early Out Exemption Request'"/>
										</div>
									</div>
									<div class="form-group">
										<div class="col-sm-2">
											<label>Current Schedule</label>
										</div>
										<div class="col-sm-3">
											<label>{{late.form.schedule}}</label>		
										</div>
									</div>
									<div class="form-group">
										<div class="col-sm-2">
											<label ng-show = "late.form.title == 'Late Request'">Record Time-In</label>
											<label ng-show = "late.form.title == 'Early Out Exemption Request'">Record Time-Out</label>
										</div>
										<div class="col-sm-3">
											<label ng-show = "late.form.title == 'Late Request'">{{late.form.timeIn}}</label>
											<label ng-show = "late.form.title == 'Early Out Exemption Request'">{{late.form.timeOut}}</label>
										</div>
									</div>
									<div class="form-group">
										<div class="col-sm-2">
											<label ng-show = "late.form.title == 'Late Request'">Late For</label>
											<label ng-show = "late.form.title == 'Early Out Exemption Request'">Early For</label>
										</div>
										<div class="col-sm-3">
											<label ng-show = "late.form.title == 'Late Request'">{{late.form.Late}}</label>
											<label ng-show = "late.form.title == 'Early Out Exemption Request'">{{late.form.EarlyOut}}</label>
										</div>
									</div>
									<hr>
									<br>
									<section class="panel panel-default">
										<div class="panel-heading"><label><p class="text-capitalize">Comments for Consideration</p></label></div>
											<div class="panel-body">	
												<div class="form-group">
													<div class="col-sm-12">
														<textarea class="form-control" rows="5" cols="60" ng-model="late.form.comment"></textarea>
													</div>
												</div>
											</div>
									</section>
									<div class="form-group">
										<fieldset>
											<div class='col-sm-2'>
												<button type="button" 
														class="btn btn-default" 
														accept="files/*"
														ngf-select ngf-change="upload($files)"
														ngf-multiple="multiple"
														ng-model="late.handler.files">
														Upload a File
												</button>
											</div>		
											<div class='col-sm-2'>
												<label ng-repeat="f in late.handler.files"  ng-show="late.handler.files">{{f.name}}</label>
											</div>
											<div class='col-sm-3'  ng-show="late.handler.files">
												<button class="btn btn-danger"  tooltip-placement="top" tooltip="Delete File" ng-click=" late.handler.files = false">
													<span class="glyphicon glyphicon-trash" ></span>
												</button>
											</div>
										</fieldset>
									</div>
									<div class="modal-footer">
										<button type="submit" class="btn btn-success"  ng-click="late.save(late.handler.files)">Save</button>
										<span class="space space-sm"></span>
										<button type="submit" class="btn btn-danger"  ng-click="late.cancel()">Cancel</button>	
									</div>
							</form>
						</div>
					</script>
		</div>