		
		<div class="page page-fixitlements" ng-controller="fixScheduleCtrl as fix">
					
					<section class="panel panel-primary table-dynamic">
						<div class="panel-heading"><strong><span class="glyphicon glyphicon-th" style="margin-right: 8px;"></span>Fix Schedule</strong></div>
							<div class="panel-body">	
								<form name="myForm" class="form-horizontal form-validation">
									<div class="form-group">
										<div class="col-sm-1">
											<label>Employee</label>
										</div>
										<div class="col-sm-2">
											<input 	type="text"
													placeholder="Type for hint . ."
													class="form-control"
													data-ng-model="fix.handler.form.Employee"
													typeahead="(address.name) for address in fix.handler.getLocation($viewValue)" 
													typeahead-loading="loadingLocations"
													typeahead-min-length="4"
													typeahead-wait-ms="400"
													ng-disabled="fix.handler.hideForm"
													typeahead-on-select="fix.handler.onSelect($item, $model, $label)"
													autocomplete="off"
											/>
										</div>
										<div class="col-sm-1">
											<label>Job Title</label>
										</div>
										<div class="col-sm-2">
											<select ng-model="fix.handler.form.jobTitle" class="form-control"
													ng-options="item.id as item.title for item in fix.handler.jobs">
													<option value=''> -- Select -- </option>
											</select>
										</div>
									</div>
									<div class="form-group">
										<div class="col-sm-1">
											<label>Department</label>
										</div>
										<div class="col-sm-2">
											<select ng-model="fix.handler.form.Department" class="form-control"
													ng-options="item.id as item.name for item in fix.handler.depart">
													<option value=''> -- Select -- </option>
											</select>
										</div>
									</div>
									<br><br>
									<div class="form-group">
										<div class="col-sm-3">
											<label><small>Minimum either one of the filter is chosen</small></label>
										</div>										
									</div>
									<hr>
									<div class="form-group">										
										<div class="col-sm-6">
											<form>
												<button type="submit" class="btn btn-success"  ng-click="fix.handler.find()">View</button>
											</form>
										</div>
									</div>
								</form>
							</div>
					</section>
					
					
				<!-- ## Table Fix Schedule ## -->
				<section class="panel panel-primary table-dynamic">
					<div class="panel-body">
						<div class="table-filters">
							<div class="row">
								<div class="col-sm-4">
									<form>
										<button class="btn btn-gap-v btn-success" ng-click="fix.handler.openmodal('add',a)">Add</button>
										<span class="space space-sm"></span>
										<button type="button" 
												class="btn btn-gap-v btn-danger"
												ng-click="fix.handler.deldata(fix.handler.check)">
												Delete
										</button>
									</form>
								</div>
							</div>
						</div>
						<div class="table-filters">
							<div class="row">
								<div class="col-sm-4">
									<form>
										<input type="text"
											   placeholder="Search..."
											   class="form-control"
											   data-ng-model="fix.handler.search"
											   data-ng-model-options="{debounce:300}"
											   >
									</form>
								</div>
								<div class="col-sm-3 filter-result-info">
									<span>
										Showing {{fix.handler.paginated.length}}/{{fix.handler.maindata.length}} entries
									</span>              
								</div>
							</div>
						</div>
							
						<table class="table table-bordered table-striped table-responsive">
							<thead>
								<tr>
									<th style='width:1%'><div class="th">
									</div></th>
									<th ng-repeat='a in fix.handler.headers'  width='{{a.width}}'>
										<div class="th">
											{{a.name}}
											<span class="fa fa-angle-up"
												  data-ng-if="a.sort"
												  data-ng-click="fix.handler.setactiveheader(a,true) "
												  data-ng-class="{active: $index == fix.handler.activeheader.id && fix.handler.activeheader.order == true}">
											</span>
											<span class="fa fa-angle-down"
												  data-ng-if="a.sort"
												  data-ng-click=" fix.handler.setactiveheader(a,false) "
												  data-ng-class="{active: $index == fix.handler.activeheader.id && fix.handler.activeheader.order == false}">
											</span>
										</div>
									</th>
									<th colspan="3" class='text-center'>
										<div class="th">
											Action
										</div>
									</th>
								</tr>
							</thead>
							<tbody>
								<tr data-ng-repeat="a in fix.handler.getdata() | orderBy: fix.handler.activeheader.sort : fix.handler.activeheader.order track by [$index]">
									<td><input type="checkbox" checklist-model="fix.handler.check" checklist-value="a.employee_id"></td>
									<td>{{a.last}}</td>
									<td>{{a.firstname}}</td>
									<td>{{a.department}}</td>
									<td>{{a.Monday}}</td>
									<td>{{a.Tuesday}}</td>
									<td>{{a.Wednesday}}</td>
									<td>{{a.Thursday}}</td>
									<td>{{a.Friday}}</td>
									<td>{{a.Saturday}}</td>
									<td>{{a.Sunday}}</td>
									<td width='1%'>
										<button class="btn btn-warning" 
												ng-click="fix.handler.openmodal('edit',a)"
												tooltip-placement="top" 
												tooltip="Edit Schedule">
												<span class="glyphicon glyphicon-edit"></span>
										</button>
									</td>
									<!-- <td>
										<select class="form-control"  ng-model="a.Monday"  ng-disabled="!fix.handler.button">
											<option value=''> -- Select -- </option>
											<option value="{{job.shif_code}}"  ng-selected="{{a.Monday == job.shif_code}}" ng-repeat="job in  fix.handler.shiftcode">{{job.shif_code}}</option> 
										</select>
									</td>
									<td>
										<select class="form-control"  ng-model="a.Tuesday" ng-disabled="!fix.handler.button">
											<option value=''> -- Select -- </option>
											<option value="{{job.shif_code}}"  ng-selected="{{a.Tuesday == job.shif_code}}" ng-repeat="job in  fix.handler.shiftcode">{{job.shif_code}}</option> 
										</select>
									</td>
									<td>
										<select class="form-control"  ng-model="a.Wednesday" ng-disabled="!fix.handler.button">
											<option value=''> -- Select -- </option>
											<option value="{{job.shif_code}}"  ng-selected="{{a.Wednesday == job.shif_code}}" ng-repeat="job in  fix.handler.shiftcode">{{job.shif_code}}</option> 
										</select>
									</td>
									<td>
										<select class="form-control"  ng-model="a.Thursday"  ng-disabled="!fix.handler.button">
											<option value=''> -- Select -- </option>
											<option value="{{job.shif_code}}"  ng-selected="{{a.Thursday == job.shif_code}}" ng-repeat="job in  fix.handler.shiftcode">{{job.shif_code}}</option> 
										</select>
									</td>
									<td>
										<select class="form-control"  ng-model="a.Friday"  ng-disabled="!fix.handler.button">
											<option value=''> -- Select -- </option>
											<option value="{{job.shif_code}}"  ng-selected="{{a.Friday == job.shif_code}}" ng-repeat="job in  fix.handler.shiftcode">{{job.shif_code}}</option> 
										</select>
									</td>
									<td>
										<select class="form-control"  ng-model="a.Saturday"  ng-disabled="!fix.handler.button">
											<option value=''> -- Select -- </option>
											<option value="{{job.shif_code}}"  ng-selected="{{a.Saturday == job.shif_code}}" ng-repeat="job in  fix.handler.shiftcode">{{job.shif_code}}</option> 
										</select>
									</td>
									<td>
										<select class="form-control"  ng-model="a.Sunday"  ng-disabled="!fix.handler.button">
											<option value=''> -- Select -- </option>
											<option value="{{job.shif_code}}"  ng-selected="{{a.Sunday == job.shif_code}}" ng-repeat="job in  fix.handler.shiftcode">{{job.shif_code}}</option> 
										</select>
									</td> -->
								</tr>
							</tbody>
						</table>
						<footer class="table-footer">
							<div class="row">
								<div class="col-md-6 page-num-info">
									<span>
										Show 
										<select data-ng-model="fix.handler.numPerPage"
												data-ng-options="num for num in fix.handler.numPerPageOpt"
												data-ng-change="onNumPerPageChange()">
										</select> 
										entries per page
									</span>
								</div>
								<div class="col-md-6 text-right pagination-container">
									<pagination class="pagination-sm"
												ng-model="fix.handler.currentPage"
												total-items="fix.handler.filtered.length"
												max-size="4"
												ng-change="select(currentPage)"
												items-per-page="fix.handler.numPerPage"
												rotate="false"
												previous-text="&lsaquo;" next-text="&rsaquo;"
												boundary-links="true">
									</pagination>
								</div>
							</div>
						</footer>
						<div class="table-filters" ng-hide='true'>
							<div class="row">
								<div class="col-sm-4">
									<form>
										<button class="btn btn-gap-v btn-success" ng-hide="fix.handler.button" ng-click="fix.handler.button=true; fix.handler.edit();">Edit</button>
										<button class="btn btn-gap-v btn-success" ng-show="fix.handler.button" ng-click="fix.handler.update()">Save</button>
										<span class="space space-sm"></span>
										<button type="button" class="btn btn-gap-v btn-danger" ng-show="fix.handler.button" ng-click="fix.handler.cancel()">Cancel</button>
									</form>
								</div>
							</div>
						</div>
					</div>
				</section>
							
					
				<!-- ## MODAL ADD FIX ##  -->
				<script type="text/ng-template" id="modalfix">
					<div class="modal-header">
						<h4><i class={{modalfix.icon}} style="margin-right: 8px;" ></i>{{modalfix.title}} Fix Schedule</h4>
					</div>
					<div class="modal-body">
						<form name="myForm"  class="form-horizontal form-validation">	
							<div class="form-group">
								<div class="col-sm-2">
									<label>Employee Name</label><div class='space'></div><label style ="color:red">*</label>
								</div>
								<div class="col-sm-5">
									<input 	type="text"
											placeholder="Type for hint . ."
											class="form-control"
											data-ng-model="modalfix.form.Employee"
											typeahead="(address.name) for address in modalfix.getLocation($viewValue)" 
											typeahead-loading="loadingLocations"
											typeahead-min-length="4"
											typeahead-wait-ms="400"
											typeahead-on-select="modalfix.onSelect($item, $model, $label)"
											autocomplete="off"
											ng-disabled="modalfix.title == 'Edit'"
									/>
								</div>
							</div>
							<div class="form-group">
								<div class="col-sm-2">
									<label>Select Schedule</label><div class='space'></div><label style ="color:red">*</label>
								</div>
								<div class="col-sm-3">
									<div class='text-center'><label>Monday</label></div>
								</div>
								<div class="col-sm-3">
									<div class='text-center'><label>Tuesday</label></div>
								</div>
								<div class="col-sm-3">
									<div class='text-center'><label>Wednesday</label></div>
								</div>
							</div>
							<div class="form-group">
								<div class="col-sm-2"></div>
								<div class="col-sm-3">
									<select ng-model="modalfix.form.Monday" class="form-control"
											ng-options="item.id as item.shif_code for item in modalfix.handler.shift">
											<option value=''> -- Select -- </option>
									</select>
								</div>
								<div class="col-sm-3">
									<select ng-model="modalfix.form.Tuesday" class="form-control"
											ng-options="item.id as item.shif_code for item in modalfix.handler.shift">
											<option value=''> -- Select -- </option>
									</select>
								</div>
								<div class="col-sm-3">
									<select ng-model="modalfix.form.Wednesday" class="form-control"
											ng-options="item.id as item.shif_code for item in modalfix.handler.shift">
											<option value=''> -- Select -- </option>
									</select>
								</div>
							</div>
							<div class="form-group">
								<div class="col-sm-2">
								</div>
								<div class="col-sm-3">
									<div class='text-center'><label>Thursday</label></div>
								</div>
								<div class="col-sm-3">
									<div class='text-center'><label>Friday</label></div>
								</div>
								<div class="col-sm-3">
									<div class='text-center'><label>Saturday</label></div>
								</div>
							</div>
							<div class="form-group">
								<div class="col-sm-2"></div>
								<div class="col-sm-3">
									<select ng-model="modalfix.form.Thursday" class="form-control"
											ng-options="item.id as item.shif_code for item in modalfix.handler.shift">
											<option value=''> -- Select -- </option>
									</select>
								</div>
								<div class="col-sm-3">
									<select ng-model="modalfix.form.Friday" class="form-control"
											ng-options="item.id as item.shif_code for item in modalfix.handler.shift">
											<option value=''> -- Select -- </option>
									</select>
								</div>
								<div class="col-sm-3">
									<select ng-model="modalfix.form.Saturday" class="form-control"
											ng-options="item.id as item.shif_code for item in modalfix.handler.shift">
											<option value=''> -- Select -- </option>
									</select>
								</div>
							</div>
							<div class="form-group">
								<div class="col-sm-2">
								</div>
								<div class="col-sm-3">
									<div class='text-center'><label>Sunday</label></div>
								</div>
							</div>
							<div class="form-group">
								<div class="col-sm-2"></div>
								<div class="col-sm-3">
									<select ng-model="modalfix.form.Sunday" class="form-control"
											ng-options="item.id as item.shif_code for item in modalfix.handler.shift">
											<option value=''> -- Select -- </option>
									</select>
								</div>
							</div>
						</form>
						<br>
						<fieldset>
							<div class="col-sm-3">
								</span><label style ="color:red">*</label><span class="space space-xs"><label><small>Required field</small></label>
							</div>										
						</fieldset>
						<div class="modal-footer">
							<button type="submit" class="btn btn-success" ng-click="modalfix.save()">Save</button>
							<button class="btn btn-danger" ng-click="modalfix.cancel()">Cancel</button>
						</div>
				</script>
				
				<!-- ## MODAL EDIT FIX ##  -->
				<script type="text/ng-template" id="modaleditfix">
					<div class="modal-header">
						<h4><i class={{modaleditfix.icon}} style="margin-right: 8px;" ></i>{{modaleditfix.title}} Fix Schedule</h4>
					</div>
					<div class="modal-body">
						<form name="myForm"  class="form-horizontal form-validation">	
							<div class="form-group">
								<div class="col-sm-2">
									<label>Employee Name</label><div class='space'></div><label style ="color:red">*</label>
								</div>
								<div class="col-sm-5">
									<input 	type="text"
											placeholder="Type for hint . ."
											class="form-control"
											data-ng-model="modaleditfix.form.Employee"
											ng-disabled="modaleditfix.title == 'Edit'"
									/>
								</div>
							</div>
							<div class="form-group">
								<div class="col-sm-2">
									<label>Select Schedule</label><div class='space'></div><label style ="color:red">*</label>
								</div>
								<div class="col-sm-3">
									<div class='text-center'><label>Monday</label></div>
								</div>
								<div class="col-sm-3">
									<div class='text-center'><label>Tuesday</label></div>
								</div>
								<div class="col-sm-3">
									<div class='text-center'><label>Wednesday</label></div>
								</div>
							</div>
							<div class="form-group">
								<div class="col-sm-2"></div>
								<div class="col-sm-3">
									<select ng-model="modaleditfix.form.Monday" class="form-control"
											ng-options="item.shif_code as item.shif_code for item in modaleditfix.handler.shift">
											<option value=''> -- Select -- </option>
									</select>
								</div>
								<div class="col-sm-3">
									<select ng-model="modaleditfix.form.Tuesday" class="form-control"
											ng-options="item.shif_code as item.shif_code for item in modaleditfix.handler.shift">
											<option value=''> -- Select -- </option>
									</select>
								</div>
								<div class="col-sm-3">
									<select ng-model="modaleditfix.form.Wednesday" class="form-control"
											ng-options="item.shif_code as item.shif_code for item in modaleditfix.handler.shift">
											<option value=''> -- Select -- </option>
									</select>
								</div>
							</div>
							<div class="form-group">
								<div class="col-sm-2">
								</div>
								<div class="col-sm-3">
									<div class='text-center'><label>Thursday</label></div>
								</div>
								<div class="col-sm-3">
									<div class='text-center'><label>Friday</label></div>
								</div>
								<div class="col-sm-3">
									<div class='text-center'><label>Saturday</label></div>
								</div>
							</div>
							<div class="form-group">
								<div class="col-sm-2"></div>
								<div class="col-sm-3">
									<select ng-model="modaleditfix.form.Thursday" class="form-control"
											ng-options="item.shif_code as item.shif_code for item in modaleditfix.handler.shift">
											<option value=''> -- Select -- </option>
									</select>
								</div>
								<div class="col-sm-3">
									<select ng-model="modaleditfix.form.Friday" class="form-control"
											ng-options="item.shif_code as item.shif_code for item in modaleditfix.handler.shift">
											<option value=''> -- Select -- </option>
									</select>
								</div>
								<div class="col-sm-3">
									<select ng-model="modaleditfix.form.Saturday" class="form-control"
											ng-options="item.shif_code as item.shif_code for item in modaleditfix.handler.shift">
											<option value=''> -- Select -- </option>
									</select>
								</div>
							</div>
							<div class="form-group">
								<div class="col-sm-2">
								</div>
								<div class="col-sm-3">
									<div class='text-center'><label>Sunday</label></div>
								</div>
							</div>
							<div class="form-group">
								<div class="col-sm-2"></div>
								<div class="col-sm-3">
									<select ng-model="modaleditfix.form.Sunday" class="form-control"
											ng-options="item.shif_code as item.shif_code for item in modaleditfix.handler.shift">
											<option value=''> -- Select -- </option>
									</select>
								</div>
							</div>
						</form>
						<br>
						<fieldset>
							<div class="col-sm-3">
								</span><label style ="color:red">*</label><span class="space space-xs"><label><small>Required field</small></label>
							</div>										
						</fieldset>
						<div class="modal-footer">
							<button type="submit" class="btn btn-success" ng-click="modaleditfix.save()">Save</button>
							<button class="btn btn-danger" ng-click="modaleditfix.cancel()">Cancel</button>
						</div>
				</script>
			
		</div>