
		<div class="page page-overtimeUnder" ng-controller="overUnderController as over">
					
					<!-- TABLE OVERTIME / UNDERTIME -->
					<section class="panel panel-primary table-dynamic">
						<div class="panel-heading"><span class="glyphicon glyphicon-th" style="margin-right: 8px;"></span>
							<strong>
								{{over.handler.form.type}}<label ng-hide="over.handler.form.type">overtime / undertime</label> REQUEST
							</strong>
						</div>
							<div class="panel-body">	
								<form name="form" class="form-horizontal form-validation">
									<div class="form-group">
										<div class="col-sm-1">
											<label>Name</label><span class="space space-sm"></span><label style ="color:red">*</label>
										</div>
										<div class="col-sm-2">
												<input 	type="text"
														placeholder="Type for hint . ."
														class="form-control"
														name="name"
														ng-disabled = "over.handler.hide"
														data-ng-model="over.handler.form.name"
														typeahead="(address.name) for address in over.handler.getLocation($viewValue)" 
														typeahead-loading="loadingLocations"
														typeahead-min-length="4"
														typeahead-wait-ms="300"
														typeahead-on-select="over.handler.onSelect($item, $model, $label)"
														autocomplete="off"
													
														
												/>
												<!-- <span style="color:red" ng-show="form.name.$dirty && form.name.$invalid">
													<span ng-show="form.name.$error.required"> Name is required.</span>
														<!--ng-disabled="!over.handler.hide"
												</span> -->		
										</div>
									</div>
									<div class="form-group">
										<div class="col-sm-1">
											<label>Request Type</label><span class="space space-sm"></span><label style ="color:red">*</label>
										</div>
										<div class="col-sm-2">
											<select class="form-control"  name="type" ng-model="over.handler.form.type" ng-disabled="!over.handler.button('create')" >
												<option value="">-- Select -- </option>
												<option value="Overtime">Overtime</option>
												<option value="Undertime">Undertime</option>
											</select>
											<!-- <span style="color:red" ng-show="myForm.type.$dirty && myForm.type.$invalid">
												<span ng-show="myForm.type.$error.required"> Required field.</span>
											</span>	 -->											
										</div>
									</div>
									<div class="form-group">
										<fieldset>
											<div class="col-sm-1">
												<label ng-show="over.handler.form.type == 'Overtime'"> Date Request</label>
												<label ng-show="over.handler.form.type == 'Undertime'"> Date Request</label>
											</div>
											<div class="col-sm-2">
												<!-- DATE FOR OVERTIME -->
												<input 	type="date" 
														class="form-control" 
														ng-change="over.handler.update()" 
														ng-model="over.handler.form.dateRequest"
														ng-show="over.handler.form.type == 'Overtime'"
												/>
												
												<!-- DATE FOR UNDERTIME -->
												<input 	type="date" 
														class="form-control" 
														ng-change="over.handler.updateUnder()" 
														ng-model="over.handler.form.dateRequest"
														ng-show="over.handler.form.type == 'Undertime'"
												/>
											</div>
											<div class="col-sm-1">
												<label ng-show="over.handler.form.type == 'Overtime' && over.handler.form.total >= '4 '">Compensation With</label>
											</div>
											<div class="col-sm-2" ng-show="over.handler.form.type == 'Overtime' && over.handler.form.total >= '4 '">												
												<label class="ui-radio">
													<input 	name="local" 
															type="radio" 
															value="Pay" 
															ng-model="over.handler.form.compensation">
															<span>Pay</span>
												</label>
												<label class="ui-radio">
													<input 	name="local" 
															type="radio" 
															value="Overtime Day Off" 
															ng-model="over.handler.form.compensation">
															<span>Overtime Day Off</span>
												</label>
											</div>
										</fieldset>
									</div>
									<div class="form-group">
										<fieldset>
											<div class="col-sm-4">
												<!-- DATA SCHEDULE OVERTIME -->
												<label ng-show="over.handler.form.type == 'Overtime'">Schedule Work Hours :</label>
												<span class="space space-sm" ng-show="over.handler.form.type == 'Overtime'"></span>
												<label ng-show="over.handler.form.type == 'Overtime'">{{over.handler.form.work_hour}}</label>
												
												<!-- DATA SCHEDULE UNDERTIME -->
												<label ng-show="over.handler.form.type == 'Undertime'">Schedule Work Hours :</label>
												<div class="space" ng-show="over.handler.form.type == 'Undertime'"></div>
												<label ng-show="over.handler.form.type == 'Undertime'">{{over.handler.form.from}}</label>
												<label ng-show="over.handler.form.type == 'Undertime'">to</label>
												<label ng-show="over.handler.form.type == 'Undertime'">{{over.handler.form.to}}</label>
												<label ng-show="over.handler.form.type == 'Undertime'">With Duration</label>
												<div class="space" ng-show="over.handler.form.type == 'Undertime'"></div>
												<label ng-show="over.handler.form.type == 'Undertime'">{{over.handler.form.duration}}</label>
												
											</div>
										</fieldset>
									</div>
									<!--style="-webkit-appearance: none;"-->
									<div class="form-group">
										<fieldset>
											<div class="col-sm-2">
												<label ng-show="over.handler.form.type == 'Overtime'">Overtime Needed From :</label>
												<label ng-show="over.handler.form.type == 'Undertime'">Request work end time :</label>
											</div>
											<div class="col-sm-1">
												<!-- INPUT TIME FOR OVERTIME -->
												<select class="form-control" 
														ng-model="over.handler.form.overtimeFrom"  
														ng-init="over.handler.form.overtimeFrom = over.handler.schedule[0]" 
														ng-show="over.handler.form.type == 'Overtime'" >		
														<option ng-repeat="job in over.handler.schedule_from()" 
																value="{{job}}">
																{{job}}
														</option>
												</select>
												
												<!-- INPUT SHORT TIME FOR UNDERTIME -->
												<select class="form-control"
														ng-model="over.handler.form.shortUnder"  
														ng-init="over.handler.form.shortUnder = over.handler.schedule[0]" 
														ng-show="over.handler.form.type == 'Undertime'"
														ng-change="over.handler.findUndertimes(over.handler.form)">
														<option ng-repeat="job in over.handler.schedule" 
																value="{{job}}">
																{{job}}
														</option>
												</select>
											</div>
											<div class="col-sm-1">
												<label ng-show="over.handler.form.type == 'Overtime'">To :</label>
												
												<!-- SHORT TIME IN UNDERTIME-->
												<label ng-show="over.handler.form.type == 'Undertime'">Short</label>
												
												<label ng-show="over.handler.form.type == 'Undertime'">{{over.handler.total}}</label>
													<input 	type="hidden" 
														class="form-control" 
														ng-model="over.handler.form.shortTime"
														
												    />

											</div>
											<div class="col-sm-1">
												<!-- INPUT TIME FOR OVERTIME -->
												<select class="form-control"
														ng-show="over.handler.form.type == 'Overtime'"
														ng-model="over.handler.form.overtimeTo"  
														ng-init="over.handler.form.overtimeTo = over.handler.schedule[0]" 
														ng-show="over.handler.form.type == 'Overtime'"
														ng-change="over.handler.findOvertime(over.handler.form)">
														<option ng-repeat="job in over.handler.schedule" 
																value="{{job}}">
																{{job}}
														</option>
												</select>
											</div>
											<div class="col-sm-3">
												<label ng-show="over.handler.form.type == 'Overtime'">Total Overtime :</label>
												<span class="space space-sm" ng-show="over.handler.form.type == 'Overtime'"></span>
												<label ng-show="over.handler.form.type == 'Overtime'">{{over.handler.form.overtime}} Hours</label>
												<input 	type="hidden" 
														class="form-control" 
														ng-model="over.handler.form.overtime"
														
												/>
												<label style='color:red' ng-show="over.handler.form.total <= '0.4'"><small>Minimum of 30 minutes for overtime * </small></label>	
											</div>
										</fieldset>
									</div><hr>
									<div class="form-group">
										<fieldset>
											<div class="col-sm-3">
												<label style ="color:red">*</label><span class="space space-xs"></span><label><small>Required field</small></label>
											</div>										
										</fieldset>
									</div>
								</form>
							</div>
					</section>
					
					
					<!-- ## TABLE COMMENT ## -->
					<section class="panel panel-primary">
						<div class="panel-heading"><label class="text-capitalize">Comments for Consideration</label></div>
							<div class="panel-body">	
								<form name="myForm" class="form-horizontal form-validation">
									<div class="form-group">
										<div class="col-md-12">
											<textarea class="form-control" rows="5" cols="40" placeholder="Comments Consideration" ng-model="over.handler.form.comment"></textarea>
										</div>
									</div><br>
									<div class="form-group">
										<fieldset>
											<div class='col-sm-1'>
												<button type="button" 
														class="btn btn-default" 
														accept="files/*"
														ngf-select ngf-change="upload($files)"
														ngf-multiple="multiple"
														ng-model="over.handler.files"
														ng-show="over.handler.button('create')"
														ng-show="over.handler.button('create')">
														Upload a File
												</button>
											</div>		
											<div class='col-sm-2'>
												<label ng-repeat="f in over.handler.files"  ng-show="over.handler.files">{{f.name}}</label>
											</div>
											<div class='col-sm-3'  ng-show="over.handler.files">
												<button class="btn btn-danger"  tooltip-placement="top" tooltip="Delete File" ng-click=" over.handler.files = false">
													<span class="glyphicon glyphicon-trash" ></span>
												</button>
											</div>
										</fieldset>
									</div>
									<hr>
									<div class="form-group">										
										<div class="col-sm-6">
											<form>
											
												<button type="submit" class="btn btn-success"   ng-show="over.handler.button('create')"
												 ng-disabled="over.handler.form.overtime_modified > 240 && over.handler.shiftOver != 'DO' || over.handler.form.overtime_modified == 0"
												 ng-click="over.handler.save(over.handler.files)">Save</button>
												<span class="space space-sm"></span>
												<button type="submit" class="btn btn-danger"   ng-show="over.handler.button('create')" ng-click="over.handler.cancel()">Cancel</button>
											</form>
										</div>
									</div>
								</form>
							</div>
					</section>
			
		</div>
		
