
		<div class="page page-scheduleRequest">
		
					<section class="panel panel-primary table-dynamic">
						<div class="panel-heading"><strong><span class="glyphicon glyphicon-th" style="margin-right: 8px;"></span>Schedule Request</strong></div>
							<div class="table-filters">
								<div class="row">
									<div class="col-md-6">
									</div>
								</div>
							</div>
							<div class="table-filters">
								<div class="row">
									<div class="col-sm-4 col-xs-6">
										<form>
											<input type="text"
												   placeholder="Search..."
												   class="form-control"
												   data-ng-model="searchKeywords"
												   data-ng-keyup="search()">
										</form>
									</div>
									<div class="col-sm-3 col-xs-6 filter-result-info">
										<span>
											Showing {{filteredStores.length}}/{{stores.length}} entries
										</span>              
									</div>
								</div>
							</div>
							<table class="table table-bordered table-striped table-responsive">
								<thead>
									<tr>
										<th style="width:8px"><div class="th">
										</div></th>
										<th><div class="th">
											Type Of Request
											<span class="fa fa-angle-up"
												  data-ng-click=" order('device_name') "
												  data-ng-class="{active: row == 'device_name'}"></span>
											<span class="fa fa-angle-down"
												  data-ng-click=" order('-device_name') "
												  data-ng-class="{active: row == '-device_name'}"></span>
										</div></th>
										<th><div class="th">
											Lastest Request
											<span class="fa fa-angle-up"
												  data-ng-click=" order('device_number') "
												  data-ng-class="{active: row == 'device_number'}"></span>
											<span class="fa fa-angle-down"
												  data-ng-click=" order('-device_number') "
												  data-ng-class="{active: row == '-device_number'}"></span>
										</div></th>
										<th><div class="th">
											Who Can Request
											<span class="fa fa-angle-up"
												  data-ng-click=" order('device_location') "
												  data-ng-class="{active: row == 'device_location'}"></span>
											<span class="fa fa-angle-down"
												  data-ng-click=" order('-device_location') "
												  data-ng-class="{active: row == '-device_location'}"></span>
										</div></th>
										<th><div class="th">
											Approval By
											<span class="fa fa-angle-up"
												  data-ng-click=" order('device_location') "
												  data-ng-class="{active: row == 'device_location'}"></span>
											<span class="fa fa-angle-down"
												  data-ng-click=" order('-device_location') "
												  data-ng-class="{active: row == '-device_location'}"></span>
										</div></th>
									</tr>
								</thead>
								<tbody>
									<tr data-ng-repeat="store in currentPageStores">
										<td><input type="checkbox"  checklist-model="check.currentPageStores" checklist-value="store.id"></td>
										<td ng-click="edit('lg',store)" style="cursor:pointer">{{store.shift_code}}</td>
										<td ng-click="edit('lg',store)" style="cursor:pointer">{{store.from}}</td>
										<td ng-click="edit('lg',store)" style="cursor:pointer">{{store.to}}</td>
										<td ng-click="edit('lg',store)" style="cursor:pointer">{{store.hour_per_day}}</td>
									</tr>
								</tbody>
							</table>

							<footer class="table-footer">
								<div class="row">
									<div class="col-md-6 page-num-info">
										<span>
											Show 
											<select data-ng-model="numPerPage"
													data-ng-options="num for num in numPerPageOpt"
													data-ng-change="onNumPerPageChange()">
											</select> 
											entries per page
										</span>
									</div>
									<div class="col-md-6 text-right pagination-container">
										<pagination class="pagination-sm"
													ng-model="currentPage"
													total-items="filteredStores.length"
													max-size="4"
													ng-change="select(currentPage)"
													items-per-page="numPerPage"
													rotate="false"
													previous-text="&lsaquo;" next-text="&rsaquo;"
													boundary-links="true"></pagination>
									</div>
								</div>
							</footer>
					</section>

		</div>