	
	<div class="page page-table" data-ng-controller="schedulelistcontroller as slist">
	
		<section class="panel panel-primary table-dynamic">
			<div class="panel-heading"><strong><span class="glyphicon glyphicon-th" style="margin-right: 8px;"></span>Schedule List</strong></div>
				<div class="panel-body">	
					<form name="myForm" class="form-horizontal form-validation">
						<div class="form-group">
							<div class="col-sm-1">
								<label>Department</label>
							</div>
							<div class="col-sm-2">
								<select class='form-control' 
										ng-model="slist.handler.form.Department" 
										ng-options="job.id as job.name for job in slist.handler.datadepartment">
										<option value=""> --  Select -- </option>
								</select>
							</div>
						</div>
						<div class="form-group">
							<div class="col-sm-1">
								<label>Year</label>
							</div>
							<div class="col-sm-2">
								<select class='form-control' 
										ng-model="slist.handler.form.years" 
										ng-options="job.year as job.year for job in slist.handler.datayears">
										<option value=""> --  Select -- </option>
								</select>	
							</div>
						</div>
						<div class="form-group">
							<div class="col-sm-1">
								<label>Month</label>
							</div>
							<div class="col-sm-2">
								<select class="form-control" name="month" ng-model="slist.handler.form.month">
									<option value=""> -- Select -- </option>
									<option value="0">January</option>
									<option value="1">February</option>
									<option value="2">March</option>
									<option value="3">April</option>
									<option value="4">May</option>
									<option value="5">June</option>
									<option value="6">July</option>
									<option value="7">August</option>
									<option value="8">September</option>
									<option value="9">October</option>
									<option value="10">November</option>
									<option value="11">December</option>
								</select>
							</div>
						</div>
						<hr>
						<div class="form-group">										
							<div class="col-sm-6">
								<form>
									<button type="submit" 
											class="btn btn-success"  
											ng-click="slist.handler.searchschedule()"
											ng-show="slist.handler.button('read')">Search
									</button>
								</form>
							</div>
						</div>
					</form>
				</div>
		</section>
		
		<section class="panel panel-primary table-dynamic">
			<div class="panel-body">
				<br>
				<div class="form-group">
					<div class="row">
						<div class="col-sm-4">
							<form>
								<input type="text"
									   placeholder="Search..."
									   class="form-control"
									   data-ng-model="slist.handler.search"
									   data-ng-model-options="{debounce:300}"
									   >
							</form>
						</div>
						<div class="col-sm-3 filter-result-info">
							<span>
								Showing {{slist.handler.paginated.length}}/{{slist.handler.maindata.length}} entries
							</span>              
						</div>
					</div>
				</div><br>
				<table class="table table-bordered table-striped table-responsive">
					<thead>
						<tr>
							<th>
								<div class="th">
									Employee
								</div>
							</th>
							<th>
								<div class="th">
									Department
								</div>
							</th>
							<th ng-repeat='a in slist.handler.getHeader()'  width='{{a.width}}'>
								<div class="th">
									{{a.name}}
								</div>
							</th>
						</tr>
					</thead>
					<tbody>
						<tr data-ng-repeat="a in slist.handler.getdata() | orderBy: slist.handler.activeheader.sort : slist.handler.activeheader.order track by [$index]" ng-class-odd="'codd'" ng-class-even="'ceven'">
							<td>{{a.employee}}</td>
							<td>{{a.department}}</td>
							<!-- <td style="cursor:pointer" ng-click="slist.handler.openmodal('edit', a, a.a,  a.datea)">{{a.a}}</td>
							<td style="cursor:pointer" ng-click="slist.handler.openmodal('edit', a, a.b,  a.dateb)">{{a.b}}</td>
							<td style="cursor:pointer" ng-click="slist.handler.openmodal('edit', a, a.c,  a.datec)">{{a.c}}</td>
							<td style="cursor:pointer" ng-click="slist.handler.openmodal('edit', a, a.d,  a.dated)">{{a.d}}</td>
							<td style="cursor:pointer" ng-click="slist.handler.openmodal('edit', a, a.e,  a.datee)">{{a.e}}</td>
							<td style="cursor:pointer" ng-click="slist.handler.openmodal('edit', a, a.f,  a.datef)">{{a.f}}</td>
							<td style="cursor:pointer" ng-click="slist.handler.openmodal('edit', a, a.g,  a.dateg)">{{a.g}}</td>
							<td style="cursor:pointer" ng-click="slist.handler.openmodal('edit', a, a.h,  a.dateh)">{{a.h}}</td>
							<td style="cursor:pointer" ng-click="slist.handler.openmodal('edit', a, a.i,  a.datei)">{{a.i}}</td>
							<td style="cursor:pointer" ng-click="slist.handler.openmodal('edit', a, a.j,  a.datej)">{{a.j}}</td>
							<td style="cursor:pointer" ng-click="slist.handler.openmodal('edit', a, a.k,  a.datek)">{{a.k}}</td>
							<td style="cursor:pointer" ng-click="slist.handler.openmodal('edit', a, a.l,  a.datel)">{{a.l}}</td>
							<td style="cursor:pointer" ng-click="slist.handler.openmodal('edit', a, a.m,  a.datem)">{{a.m}}</td>
							<td style="cursor:pointer" ng-click="slist.handler.openmodal('edit', a, a.n,  a.daten)">{{a.n}}</td>
							<td style="cursor:pointer" ng-click="slist.handler.openmodal('edit', a, a.o,  a.dateo)">{{a.o}}</td>
							<td style="cursor:pointer" ng-click="slist.handler.openmodal('edit', a, a.p,  a.datep)">{{a.p}}</td>
							<td style="cursor:pointer" ng-click="slist.handler.openmodal('edit', a, a.q,  a.dateq)">{{a.q}}</td>
							<td style="cursor:pointer" ng-click="slist.handler.openmodal('edit', a, a.r,  a.dater)">{{a.r}}</td>
							<td style="cursor:pointer" ng-click="slist.handler.openmodal('edit', a, a.s,  a.dates)">{{a.s}}</td>
							<td style="cursor:pointer" ng-click="slist.handler.openmodal('edit', a, a.t,  a.datet)">{{a.t}}</td>
							<td style="cursor:pointer" ng-click="slist.handler.openmodal('edit', a, a.u,  a.dateu)">{{a.u}}</td>
							<td style="cursor:pointer" ng-click="slist.handler.openmodal('edit', a, a.v,  a.datev)">{{a.v}}</td>
							<td style="cursor:pointer" ng-click="slist.handler.openmodal('edit', a, a.w,  a.datew)">{{a.w}}</td>
							<td style="cursor:pointer" ng-click="slist.handler.openmodal('edit', a, a.x,  a.datex)">{{a.x}}</td>
							<td style="cursor:pointer" ng-click="slist.handler.openmodal('edit', a, a.y,  a.datey)">{{a.y}}</td>
							<td style="cursor:pointer" ng-click="slist.handler.openmodal('edit', a, a.z,  a.datez)">{{a.z}}</td>
							<td style="cursor:pointer" ng-click="slist.handler.openmodal('edit', a, a.aa, a.dateaa)">{{a.aa}}</td>
							<td style="cursor:pointer" ng-click="slist.handler.openmodal('edit', a, a.ab, a.dateab)">{{a.ab}}</td>
							<td style="cursor:pointer" ng-click="slist.handler.openmodal('edit', a, a.ac, a.dateac)" ng-show="slist.handler.getHeader().length >= 29">{{a.ac}}</td>
							<td style="cursor:pointer" ng-click="slist.handler.openmodal('edit', a, a.ad, a.datead)" ng-show="slist.handler.getHeader().length >= 30">{{a.ad}}</td>
							<td style="cursor:pointer" ng-click="slist.handler.openmodal('edit', a, a.ae, a.dateae)" ng-show="slist.handler.getHeader().length >= 31">{{a.ae}}</td> -->
							<td ng-style="{color:a.colora}">{{a.a}}</td>
							<td ng-style="{color:a.colorb}">{{a.b}}</td>
							<td ng-style="{color:a.colorc}">{{a.c}}</td>
							<td ng-style="{color:a.colord}">{{a.d}}</td>
							<td ng-style="{color:a.colore}">{{a.e}}</td>
							<td ng-style="{color:a.colorf}">{{a.f}}</td>
							<td ng-style="{color:a.colorg}">{{a.g}}</td>
							<td ng-style="{color:a.colorh}">{{a.h}}</td>
							<td ng-style="{color:a.colori}">{{a.i}}</td>
							<td ng-style="{color:a.colorj}">{{a.j}}</td>
							<td ng-style="{color:a.colork}">{{a.k}}</td>
							<td ng-style="{color:a.colorl}">{{a.l}}</td>
							<td ng-style="{color:a.colorm}">{{a.m}}</td>
							<td ng-style="{color:a.colorn}">{{a.n}}</td>
							<td ng-style="{color:a.coloro}">{{a.o}}</td>
							<td ng-style="{color:a.colorp}">{{a.p}}</td>
							<td ng-style="{color:a.colorq}">{{a.q}}</td>
							<td ng-style="{color:a.colorr}">{{a.r}}</td>
							<td ng-style="{color:a.colors}">{{a.s}}</td>
							<td ng-style="{color:a.colort}">{{a.t}}</td>
							<td ng-style="{color:a.coloru}">{{a.u}}</td>
							<td ng-style="{color:a.colorv}">{{a.v}}</td>
							<td ng-style="{color:a.colorw}">{{a.w}}</td>
							<td ng-style="{color:a.colorx}">{{a.x}}</td>
							<td ng-style="{color:a.colory}">{{a.y}}</td>
							<td ng-style="{color:a.colorz}">{{a.z}}</td>
							<td ng-style="{color:a.coloraa}">{{a.aa}}</td>
							<td ng-style="{color:a.colorab}">{{a.ab}}</td>
							<td  ng-show="slist.handler.getHeader().length >= 29">{{a.ac}}</td>
							<td  ng-show="slist.handler.getHeader().length >= 30">{{a.ad}}</td>
							<td  ng-show="slist.handler.getHeader().length >= 31">{{a.ae}}</td>
						</tr>
					</tbody>
				</table>
				<footer class="table-footer">
					<div class="row">
						<div class="col-md-6 page-num-info">
							<span>
								Show 
								<select data-ng-model="slist.handler.numPerPage"
										data-ng-options="num for num in slist.handler.numPerPageOpt"
										data-ng-change="onNumPerPageChange()">
								</select> 
								entries per page
							</span>
						</div>
						<div class="col-md-6 text-right pagination-container">
							<pagination class="pagination-sm"
										ng-model="slist.handler.currentPage"
										total-items="slist.handler.filtered.length"
										max-size="4"
										ng-change="select(currentPage)"
										items-per-page="slist.handler.numPerPage"
										rotate="false"
										previous-text="&lsaquo;" next-text="&rsaquo;"
										boundary-links="true"></pagination>
						</div>
					</div>
				</footer>
				<hr>
				
				<div class="from-group">
					<div class="row">
						<div class="col-sm-1">
							<label>Legends :</label>
						</div>
					</div>
				</div>
				<div class="from-group">
					<div class="row">
						<div class='col-sm-12'>
							<table >
								<tr ng-repeat="job in slist.handler.datalegend" ng-switch on="$index % 5">
									<td style="padding:1em" ng-switch-when="0"> 
								        <label>{{slist.handler.datalegend[$index].shif_code}}</label>
								    </td>

								    <td style="padding:1em" ng-switch-when="0"> 
								        <label>{{slist.handler.datalegend[$index + 1].shif_code}}</label>
								    </td>

								    <td style="padding:1em" ng-switch-when="0"> 
								        <label>{{slist.handler.datalegend[$index + 2].shif_code}}</label>
								    </td>

								    <td style="padding:1em" ng-switch-when="0"> 
								        <label>{{slist.handler.datalegend[$index + 3].shif_code}}</label>
								    </td>

								    <td style="padding:1em" ng-switch-when="0"> 
								        <label>{{slist.handler.datalegend[$index + 4].shif_code}}</label>
								    </td>
								<tr>
							</table>
							  	
							<!-- <label style="margin-left:2.5em"></label> -->
						</div>
					</div>				
				</div>
				<hr>
				<div class="from-group">
					<div class="row">
						<div class="col-sm-6">
						<!-- 	<form>
								<button class="btn btn-gap-v btn-success" ng-show="slist.handler.button('update')" ng-click="slist.handler.approved"  >Approved</button>
							</form> -->
						</div>
					</div>
				</div>
			</div>
		</section>
		
		
		<!-- SCRIPT MODAL EDIT WORKSHIFT -->
		<script type="text/ng-template" id="modallist">
				<div class="modal-header">
					<h4><i class="fa fa-pencil-square-o" style="margin-right: 8px;" ></i>Change Workshift</h4>
				</div>
				<div class="modal-body">
					<form name="myForm"  class="form form-validation" ng-submit="myForm.$valid && submit(modallist.form)">	
						<div class='form-group'>
							<fieldset>
								<div class="col-md-3">
									<label for="">Name</label>
								</div>
								<div class="col-md-8">
									<input type="text" name="name" class="form-control" autocomplete="off" ng-model="modallist.form.employee"/>
								</div>
							</fieldset>
						</div>
						<div class='form-group'>
							<fieldset>
								<div class="col-md-3">
									<label for="">Date</label><span class="space space-sm"></span><label style ="color:red">*</label>
								</div>
								<div class="col-md-8">
									<input type="date" name="name" class="form-control" ng-model="modallist.form.date"/>
								</div>
							</fieldset>
						</div>
						<div class='form-group'>
							<fieldset>
								<div class="col-md-3">
									<label for="">Shift Code</label><span class="space space-sm"></span><label style ="color:red">*</label>
								</div>
								<div class="col-md-8">
									<select class='form-control'
										ng-model="modallist.form.shift"
										ng-options="job.shift_code as job.shift_code for job in modallist.handler.datashiftcode">
										<option value=""> -- Select --</option>
									</select>
								</div>
							</fieldset>
						</div>
						<fieldset>
							<div class="col-sm-3">
								</span><label style ="color:red">*</label><span class="space space-xs"><label><small>Required field</small></label>
							</div>										
						</fieldset>	
					</form>	
					<div class="modal-footer">
						<button type="submit" class="btn btn-success" ng-click="modallist.save()">Save</button>
						<button class="btn btn-danger" ng-click="modallist.close()">Cancel</button>
					</div>
				</div>
			</script>
	
		