
		<div class="page page-xls" ng-controller="xlsimportController as imports">
			<section class="panel panel-primary" >
				<div class="panel-heading"><strong><span class="glyphicon glyphicon-th" style="margin-right: 8px;"></span>Excel Schedule import</strong></div>
					<div class="panel-body">
						<form name="form_name" class="form-horizontal form-validation" enctype = "multipart/form-data">
								
							<div class='row'>
								
								<div class='col-sm-12'>
									
									<div class='col-sm-5'>
										<div class='row'>
											<div class="form-group">
												<fieldset>
													<div class="col-sm-3">
														<label for="Organization">Select File</label><span class="space space-sm"></span><label style ="color:red">*</label>
													</div>
													<div class='col-sm-3'>
														<input	type="file" 
																class="btn btn-default"
																accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet"
																ngf-select ngf-change="imports.readFiles($files,$invalidFiles)"
																ngf-multiple="imports.multiple"
																ng-model="imports.files"
																ng-show="imports.handler.hiden('update')"
																ng-disabled='!imports.handler.disabled'
														/>												
													</div>
												</fieldset>
											</div>
											<div class="form-group">
												<fieldset>
													<div class="col-sm-3">
													</div>
													<div class="col-sm-1" ng-show='imports.files'>
														<button class ="btn btn-danger" 
																ng-hide='imports.handler.showcancel' 
																ng-click="imports.handler.buttondisabled('show'); imports.files=false;">Cancel</button>
													</div>
												</fieldset>
											</div>
											<div class="form-group">
												<fieldset>
													<div class="col-sm-12">
														<label><i class="fa fa-check-square-o"  style="margin-right: 8px;"></i>Column order should not be changed.</label>
													</div>
												</fieldset>
												<fieldset>
													<div class="col-sm-12">
														<label><i class="fa fa-check-square-o"  style="margin-right: 8px;"></i>All data fields should be in YYYY-MM-DD format.</label>
													</div>
												</fieldset>
												<fieldset>
													<div class="col-sm-12">
														<label><i class="fa fa-check-square-o"  style="margin-right: 8px;"></i>Only schedule creator can upload the schedule.</label>
													</div>
												</fieldset>
												<fieldset>
													<div class="col-sm-12">
														<label><i class="fa fa-check-square-o"  style="margin-right: 8px;"></i>Work shift must be consistent and defined.</label>
													</div>
												</fieldset>
												<fieldset>
													<div class="col-sm-12">
														<label><i class="fa fa-check-square-o"  style="margin-right: 8px;"></i>Empty field considered as blank (no data).</label>
													</div>
												</fieldset>
												<fieldset>
													<div class="col-sm-12">
														<label><i class="fa fa-check-square-o"  style="margin-right: 8px;"></i>Only unapproved schedule that can be imported.</label>
													</div>
												</fieldset>
												<fieldset>
													<div class="col-sm-12">
														<label><i class="fa fa-check-square-o"  style="margin-right: 8px;"></i>Older unapproved data schedule will be overwritten.</label>
													</div>
												</fieldset>
												<fieldset>
													<div class="col-sm-12" ng-show="imports.handler.hiden('update')">
														<label><i class="fa fa-check-square-o"  style="margin-right: 8px;"></i>Sample Schedule Excel File : 
														<a target="_self" ng-href="{{e}}" ng-click='imports.handler.getexcel()' style="text-decoration:underline">Download</label></a>
													</div>
												</fieldset>
												<br><br>
												<fieldset>
													<div class="col-md-12">
														</span><label style ="color:red">*</label><span class="space space-xs"><label><small>Required field</small></label>
													</div>										
												</fieldset>
												<br>
												<fieldset>
													<div class="col-sm-12">
														<button class ="btn btn-success"  ng-show="imports.handler.hiden('update')" ng-click="imports.handler.save()">upload</button>
													</div>
												</fieldset>
											</div>	
										</div>
									</div>
									<div class='col-sm-6'>
										<div class='row'>
											<div class="form-group">
												<fieldset>
													<div class="col-sm-3">
														<label>Select Department</label><span class="space space-sm"></span><label style ="color:red">*</label>
													</div>
													<div class="col-sm-5">
														<table class="table table-bordered table-striped table-responsive">
															<thead>
																<tr>
																	<th style="width:1%"></th>
																	<th style="width:100%">Name Department</th>
																</tr>
															</thead>
															<tbody>
																<tr data-ng-repeat="b in imports.handler.getdatadepartment">
																	<td>
																		<input 	type="checkbox"  
																				checklist-value="b.id"  
																				checklist-model="imports.handler.check"
																				ng-click='imports.handler.disabledinput()'
																		/>            
																	</td>
																	<td>{{b.name}}</td>
																</tr>
															</tbody>
														</table>
													</div>
												</fieldset>
											</div>
										</div>
									</div>
									
								</div>
								
							</div>
							<hr>	
							<div class="table-filters">
								<section class="panel panel-primary">
										<div class="panel-heading"><strong><span class="glyphicon glyphicon-th" style="margin-right: 8px;"></span>Preview Excel File</strong></div>
								</section>
							</div><br>
							<div class="table-filters">
								<div class="row">
									<div class="col-sm-4 col-xs-6">
										<form>
											<input type="text"
												   placeholder="Search..."
												   class="form-control"
												   data-ng-model="imports.handler.search"
												   data-ng-model-options="{debounce:300}"
												   >
										</form>
									</div>
									<div class="col-sm-3 col-xs-6 filter-result-info">
										<span>
											Showing {{imports.handler.paginated.length || 0}}/{{imports.handler.maindata.length || 0}} entries
										</span>              
									</div>
									<div class="col-sm-5 col-xs-6">
										<div class="pull-right">
										</div>
									</div>
								</div>
							</div><br>
							<table class="table table-bordered table-striped table-responsive">
								<thead>
									<tr><th>
											<div class="th">
												Employee
											</div>
										</th>
										<th>
											<div class="th">
												Name
											</div>
										</th>
										<th>
											<div class="th">
												Department
											</div>
										</th>
										<th ng-repeat='a in imports.handler.getHeader()'  width='{{a.width}}'><div class="th">
											{{a.name}}
										</div></th>
										<th colspan=3 class='text-center'><div class="th">
											Action
										</div></th>
									</tr>
								</thead>
								<tbody>
									<tr data-ng-repeat="a in imports.handler.getdata() | orderBy: imports.handler.activeheader.sort : imports.handler.activeheader.order track by [$index]" ng-class-odd="'codd'" ng-class-even="'ceven'">
										<td>{{a.employee_id}}</td>
										<td>{{a.emp_nm}}</td>
										<td>{{a.department}}</td>
										<td style="cursor:pointer" ng-click="imports.handler.openmodal('edit', a, a.b,  a.date1, 1)">{{a.b}}</td>
										<td style="cursor:pointer" ng-click="imports.handler.openmodal('edit', a, a.c,  a.date2, 2)">{{a.c}}</td>
										<td style="cursor:pointer" ng-click="imports.handler.openmodal('edit', a, a.d,  a.date3, 3)">{{a.d}}</td>
										<td style="cursor:pointer" ng-click="imports.handler.openmodal('edit', a, a.e,  a.date4, 4)">{{a.e}}</td>
										<td style="cursor:pointer" ng-click="imports.handler.openmodal('edit', a, a.f,  a.date5, 5)">{{a.f}}</td>
										<td style="cursor:pointer" ng-click="imports.handler.openmodal('edit', a, a.g,  a.date6, 6)">{{a.g}}</td>
										<td style="cursor:pointer" ng-click="imports.handler.openmodal('edit', a, a.h,  a.date7, 7)">{{a.h}}</td>
										<td style="cursor:pointer" ng-click="imports.handler.openmodal('edit', a, a.i,  a.date8, 8)">{{a.i}}</td>
										<td style="cursor:pointer" ng-click="imports.handler.openmodal('edit', a, a.j,  a.date9, 9)">{{a.j}}</td>
										<td style="cursor:pointer" ng-click="imports.handler.openmodal('edit', a, a.k,  a.date10, 10)">{{a.k}}</td>
										<td style="cursor:pointer" ng-click="imports.handler.openmodal('edit', a, a.l,  a.date11, 11)">{{a.l}}</td>
										<td style="cursor:pointer" ng-click="imports.handler.openmodal('edit', a, a.m,  a.date12, 12)">{{a.m}}</td>
										<td style="cursor:pointer" ng-click="imports.handler.openmodal('edit', a, a.n,  a.date13, 13)">{{a.n}}</td>
										<td style="cursor:pointer" ng-click="imports.handler.openmodal('edit', a, a.o,  a.date14, 14)">{{a.o}}</td>
										<td style="cursor:pointer" ng-click="imports.handler.openmodal('edit', a, a.p,  a.date15, 15)">{{a.p}}</td>
										<td style="cursor:pointer" ng-click="imports.handler.openmodal('edit', a, a.q,  a.date16, 16)">{{a.q}}</td>
										<td style="cursor:pointer" ng-click="imports.handler.openmodal('edit', a, a.r,  a.date17, 17)">{{a.r}}</td>
										<td style="cursor:pointer" ng-click="imports.handler.openmodal('edit', a, a.s,  a.date18, 18)">{{a.s}}</td>
										<td style="cursor:pointer" ng-click="imports.handler.openmodal('edit', a, a.t,  a.date19, 19)">{{a.t}}</td>
										<td style="cursor:pointer" ng-click="imports.handler.openmodal('edit', a, a.u,  a.date20, 20)">{{a.u}}</td>
										<td style="cursor:pointer" ng-click="imports.handler.openmodal('edit', a, a.v,  a.date21, 21)">{{a.v}}</td>
										<td style="cursor:pointer" ng-click="imports.handler.openmodal('edit', a, a.w,  a.date22, 22)">{{a.w}}</td>
										<td style="cursor:pointer" ng-click="imports.handler.openmodal('edit', a, a.x,  a.date23, 23)">{{a.x}}</td>
										<td style="cursor:pointer" ng-click="imports.handler.openmodal('edit', a, a.y,  a.date24, 24)">{{a.y}}</td>
										<td style="cursor:pointer" ng-click="imports.handler.openmodal('edit', a, a.z,  a.date25, 25)">{{a.z}}</td>
										<td style="cursor:pointer" ng-click="imports.handler.openmodal('edit', a, a.aa, a.date26, 26)">{{a.aa}}</td>
										<td style="cursor:pointer" ng-click="imports.handler.openmodal('edit', a, a.ab, a.date27, 27)">{{a.ab}}</td>
										<td style="cursor:pointer" ng-click="imports.handler.openmodal('edit', a, a.ac, a.date28, 28)">{{a.ac}}</td>
										<td style="cursor:pointer" ng-click="imports.handler.openmodal('edit', a, a.ad, a.date29, 29)" ng-show="imports.handler.getHeader().length >= 29">{{a.ad}}</td>
										<td style="cursor:pointer" ng-click="imports.handler.openmodal('edit', a, a.ae, a.date30, 30)" ng-show="imports.handler.getHeader().length >= 30">{{a.ae}}</td>
										<td style="cursor:pointer" ng-click="imports.handler.openmodal('edit', a, a.af, a.date31, 31)" ng-show="imports.handler.getHeader().length >= 31">{{a.af}}</td>
										<td width='1%'>
											<button class="btn btn-danger" ng-click="imports.handler.openmodal('del',a)">
												<span class="glyphicon glyphicon-trash" ></span>
											</button>
										</td>
									</tr>
								</tbody>
							</table>
							<footer class="table-footer">
								<div class="row">
									<div class="col-md-6 page-num-info">
										<span>
											Show 
											<select data-ng-model="imports.handler.numPerPage"
													data-ng-options="num for num in imports.handler.numPerPageOpt"
													data-ng-change="onNumPerPageChange()">
											</select> 
											entries per page
										</span>
									</div>
									<div class="col-md-6 text-right pagination-container">
										<pagination class="pagination-sm"
													ng-model="imports.handler.currentPage"
													total-items="imports.handler.filtered.length"
													max-size="4"
													ng-change="select(currentPage)"
													items-per-page="imports.handler.numPerPage"
													rotate="false"
													previous-text="&lsaquo;" next-text="&rsaquo;"
													boundary-links="true"></pagination>
									</div>
								</div>
							</footer>
							<hr>
							<div class="from-group">
								<div class="row">
									<div class="col-sm-1">
										<label>Legend :</label>
									</div>
									<div class='col-sm-3'>
										<select class='form-control'
												ng-model="imports.handler.form.legend"
												ng-options="job.shif_code for job in imports.handler.datalegend">
												<option value=""> -- View Legend --</option>
										</select>
									</div>
								</div>
							</div>
							<hr>
						</form>		
					</div>
			</section>
		</div>
		
		<!-- SCRIPT MODAL EDIT WORKSHIFT -->
		<script type="text/ng-template" id="modalsecimport">
			<div class="modal-header">
				<h4><i class="fa fa-pencil-square-o" style="margin-right: 8px;" ></i>Change Workshift</h4>
			</div>
			<div class="modal-body">
				<form name="myForm"  class="form form-validation" ng-submit="myForm.$valid && submit(modalsecimport.form)">	
					<div class='form-group'>
						<fieldset>
							<div class="col-md-3">
								<label for="">Employee Id</label>
							</div>
							<div class="col-md-8">
								<input type="text" name="name" class="form-control" autocomplete="off" ng-model="modalsecimport.form.employee_id"/>
							</div>
						</fieldset>
					</div>
					<div class='form-group'>
						<fieldset>
							<div class="col-md-3">
								<label for="">Date</label><span class="space space-sm"></span><label style ="color:red">*</label>
							</div>
							<div class="col-md-8">
								<input type="date" name="name" class="form-control" ng-model="modalsecimport.form.date" ng-disabled="true"/>
							</div>
						</fieldset>
					</div>
					<div class='form-group'>
						<fieldset>
							<div class="col-md-3">
								<label for="">Shift Code</label><span class="space space-sm"></span><label style ="color:red">*</label>
							</div>
							<div class="col-md-8">
								<select class='form-control'
									ng-model="modalsecimport.form.shift"
									ng-options="job.shift_code as job.shift_code for job in modalsecimport.handler.datashiftcode">
									<option value=""> -- Select --</option>
								</select>
							</div>
						</fieldset>
					</div>
					<fieldset>
						<div class="col-sm-3">
							</span><label style ="color:red">*</label><span class="space space-xs"><label><small>Required field</small></label>
						</div>										
					</fieldset>	
				</form>	
				<div class="modal-footer">
					<button type="submit" class="btn btn-success" ng-click="modalsecimport.save()">Save</button>
					<button class="btn btn-danger" ng-click="modalsecimport.close()">Cancel</button>
				</div>
			</div>
		</script>
			
		<!-- Modal delete files -->
		<script type="text/ng-template" id="modaldelimport">
			<div class="modal-header">
				<h4><i class="fa fa-trash" style="margin-right: 8px;" ></i>Delete File Confirmation</h4>
			</div>
			<div class="modal-body">
				<form name="myForm"  class='form form-validation'>	
					<fieldset>
						<div class="col-sm-12">
							<span>Are you sure want to Delete <b>{{modaldelimport.form.employee_id}}</b>?</span>
						</div>
					</fieldset>
				</form>
				<br>
				<div class="modal-footer">
					<button class='btn btn-danger' type='submit' ng-click='modaldelimport.submit()'>OK</button>
					<button class='btn btn-success' ng-click='modaldelimport.close()'> CANCEL </button>
				</div>
			</div>
		</script>
			
		<!-- SCRIPT MODAL SHOW MESSAGE -->
		<script type="text/ng-template" id="modalshowimport">
			<div class="modal-header">
				<h4><i class="fa fa-exclamation-triangle" style="margin-right: 8px;" ></i>Notification Message</h4>
			</div>
			<div class="modal-body">
				<form name="myForm"  class="form form-validation" ng-submit="myForm.$valid && submit(modalshowimport.form)">	
					<div class='form-group'>
						<fieldset>
							<table class="table table-bordered table-striped table-responsive">
								<thead>
									<tr>
										<th style='width:20%'>Number Employee</th>
										<th style='width:20%'>Date</th>
										<th style='width:60%'>Notification</th>
									</tr>
								</thead>
								<tbody>
									<tr data-ng-repeat="a in modalshowimport.handler.datanotification">
										<td>{{a.employee_id}}</td>
										<td>{{a.date}}</td>
										<td>{{a.note}}</td>
									</tr>
								</tbody>
							</table>
						</fieldset>
					</div>					
				</form>	
				<div class="modal-footer">
					<button class="btn btn-danger" ng-click="modalshowimport.close()">Close</button>
				</div>
			</div>
		</script>	
			
		
		
		
<!-- <div class='col-sm-3'>	
<input 	type="file" 
class="form-control" 
ngf-select="imports.readFiles($file,$invalidFiles)"
ng-model="imports.files"
id="importsFile" 
accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet"
/>
</div> -->