
		<div class="page page-sRequestDetails">
					
					<!-- #########################    TABLE OVERTIME ############################################################  -->
					
					<section class="panel panel-primary table-dynamic">
						<div class="panel-heading"><strong><span class="glyphicon glyphicon-th" style="margin-right: 8px;"></span>Schedule Request Details</strong></div>
							<div class="panel-body">	
								<form name="myForm" class="form-horizontal form-validation" novalidate>
									<div class="form-group">
										<div class="col-sm-1">
											<label>Request Type</label>
										</div>
										<div class="col-sm-2">
											<input type="text" class="form-control" data-ng-model="formData.name_over"/>		
										</div>
										<div class="col-sm-1">
											<label>Current Status</label>
										</div>
										<div class="col-sm-2">
											<input type="text" class="form-control" data-ng-model="formData.name_over"/>		
										</div>
									</div>
									<div class="form-group">
										<div class="col-sm-1">
											<label>Request Time / Date</label>
										</div>
										<div class="col-sm-2">
											<input type="text" class="form-control" data-ng-model="formData.name_over"/>		
										</div>
										<div class="col-sm-1">
											<label>Request by</label>
										</div>
										<div class="col-sm-2">
											<input type="text" class="form-control" data-ng-model="formData.name_over"/>		
										</div>
									</div>
									<div class="form-group">
										<div class="col-sm-1">
											<label>current Schedule</label>
										</div>
										<div class="col-sm-2">
											<input type="text" class="form-control" data-ng-model="formData.name_over"/>		
										</div>
									</div>
									<div class="form-group">
										<div class="col-sm-1">
										</div>
										<div class="col-sm-1">
											<label>Time-In</label>
										</div>
										<div class="col-sm-1">
											<label>Time-Out</label>		
										</div>
									</div>
									<div class="form-group">
										<div class="col-sm-1">
											<label>Original</label>
										</div>
										<div class="col-sm-1">
											<input type="text" class="form-control" data-ng-model="formData.name_over"/>	
										</div>
										<div class="col-sm-1">
											<input type="text" class="form-control" data-ng-model="formData.name_over"/>	
										</div>
									</div>
									<div class="form-group">
										<div class="col-sm-1">
											<label>Requested</label>
										</div>
										<div class="col-sm-1">
											<input type="text" class="form-control" data-ng-model="formData.name_over"/>	
										</div>
										<div class="col-sm-1">
											<input type="text" class="form-control" data-ng-model="formData.name_over"/>	
										</div>
									</div>
									<table class="table table-bordered table-striped table-responsive">
										<thead>
											<tr>
												<th><div class="th">
													Approval
												</div></th>
												<th><div class="th">
													Status
												</div></th>
												<th><div class="th">
													Date
												</div></th>
												<th><div class="th">
													Time
												</div></th>
												<th><div class="th">
													Approver
												</div></th>
											</tr>
										</thead>
										<tbody>
											<tr data-ng-repeat="store in currentPageStores">
												<td ng-click="edit('',store)" style="cursor:pointer">{{store.name}}</td>
												<td ng-click="edit('',store)" style="cursor:pointer">{{store.date}}</td>
												<td ng-click="edit('',store)" style="cursor:pointer">{{store.repeat_annualy}}</td>
												<td ng-click="edit('',store)" style="cursor:pointer">{{store.date}}</td>
												<td ng-click="edit('',store)" style="cursor:pointer">{{store.repeat_annualy}}</td>
											</tr>
										</tbody>
									</table>
								</form>
								<hr>
								<div class="form-group">										
									<div class="col-sm-6">
										<form>
											<button type="submit" class="btn btn-success"  ng-click="back()">Back</button>
											<span class="space space-sm"></span>
											<button type="submit" class="btn btn-success"   ng-click="cancel()">Approve</button>
											<span class="space space-sm"></span>
											<button type="submit" class="btn btn-danger"   ng-click="cancel()">Reject</button>
										</form>
									</div>
								</div>
							</div>
					</section>
					
					<!-- #########################    TABLE COMMENT OVERTIME  ############################################################  -->
					
					<section class="panel panel-primary table-dynamic">
							<div class="panel-body">	
								<form name="myForm" class="form-horizontal form-validation">
									<div class="form-group">
										<div class="col-md-3">
											<label>Comments for Consideration</label>
										</div>
									</div>
									<div class="form-group">
										<div class="col-md-12">
											<textarea class="form-control" rows="4" cols="40" ng-model="formData.text_area"></textarea>
										</div>
									</div>
									<hr>
									<div class="form-group">										
										<div class="col-sm-6">
											<form>
												<button type="submit" class="btn btn-success"  ng-click="save()">Save</button>
												<span class="space space-sm"></span>
												<button type="submit" class="btn btn-danger"   ng-click="cancel()">Cancel</button>
											</form>
										</div>
									</div>
								</form>
							</div>
					</section>
					
		</div>