
		<div class="page page-trainingOff" ng-controller="trainingController as training">
			<section class="panel panel-primary table-dynamic">
					<div class="panel-heading"><span class="glyphicon glyphicon-th" style="margin-right: 8px;"></span>
						<strong>
							{{training.handler.form.type}}<label ng-hide="training.handler.form.type">Training / Official</label> REQUEST
						</strong>
					</div>
					<div class="panel-body">	
						<form name="form" class="form-horizontal form-validation">
							<div class="form-group">
								<div class="col-sm-1">
									<label>Name</label><span class="space space-sm"></span><label style ="color:red">*</label>
								</div>
								<div class="col-sm-2">
									<input 	type="text"
											placeholder="Type for hint . ."
											class="form-control"
											name="name"
											data-ng-model="training.handler.form.name"
											ng-disabled="!training.handler.hide"
											typeahead="(address.name) for address in training.handler.getLocation($viewValue)" 
											typeahead-loading="loadingLocations"
											typeahead-min-length="4"
											typeahead-wait-ms="300"
											typeahead-on-select="training.handler.onSelect($item, $model, $label)"
											autocomplete="off"
																						
									/>
									<!-- <span style="color:red" ng-show="form.name.$dirty && form.name.$invalid">
										<span ng-show="form.name.$error.required"> Required field.</span>
									</span>	-->	
								</div>
							</div>
							<div class="form-group">
								<div class="col-sm-1">
									<label>Request Type</label><span class="space space-sm"></span><label style ="color:red">*</label>
								</div>
								<div class="col-sm-2">
									<select class="form-control"  name="type" ng-model="training.handler.form.type">
										<option value="">-- Select --</option>
										<option value="Training">Training</option>
										<option value="Official Business">Official Business</option>
									</select>
									<!-- <span style="color:red" ng-show="form.type.$dirty && form.type.$invalid">
										<span ng-show="form.type.$error.required"> Required field.</span>
									</span> -->												
								</div>
							</div>
							<div class="form-group">
								<fieldset>
									<div class="col-sm-1">
										<label> Date Start</label>
									</div>
									<div class="col-sm-2">
									<input type="date" 
												class="form-control" 
												ng-model="training.handler.form.start"
												max="{{training.handler_hood.getLastDay}}"
												ng-change="training.handler.test(training.handler.form.start)"
												placeholder="yyyy-mm-dd"
										/>
										 <!-- <input type="date" 
										 												class="form-control" 
										 												ng-model="training.handler.form.start"
										 												min="{{training.handler_hood.getStartDay}}" 
										 												max="{{training.handler_hood.getLastDay}}"
										 												ng-change="training.handler.test(training.handler.form.start)"
										 												placeholder="yyyy-mm-dd"
										 										/> -->
									</div>
								</fieldset>
							</div>
							<div class="form-group">
								<fieldset>
									<div class="col-sm-1">
										<label>Date End</label>
									</div>
									<div class="col-sm-2">
									 <input type="date" 
												class="form-control" 
												ng-model="training.handler.form.end"
												max="{{training.handler.getLastDay}}"
												ng-disabled = "training.handler.default"
												placeholder="yyyy-mm-dd"
										/>
										<!--  <input type="date" 
																						class="form-control" 
																						ng-model="training.handler.form.end"
																						min="{{training.handler.injectTo}}" 
																						max="{{training.handler.getLastDay}}"
																						ng-disabled = "training.handler.default"
																						placeholder="yyyy-mm-dd"
																				/> -->
									</div>
								</fieldset>
							</div><hr>
							<div class="form-group">
								<fieldset>
									<div class="col-sm-3">
										<label style ="color:red">*</label><span class="space space-xs"></span><label><small>Required field</small></label>
									</div>										
								</fieldset>
							</div>
						</form>
					</div>
			</section>
						
			<!-- ##  TABLE COMMENT  ## -->
			<section class="panel panel-primary">
				<div class="panel-heading"><label class="text-capitalize">Comments for Consideration</label></div>
					<div class="panel-body">	
						<form name="myForm" class="form-horizontal form-validation">
							<div class="form-group">
								<div class="col-md-12">
									<textarea class="form-control" rows="5" cols="40" placeholder="Comment Consideration" ng-model="training.handler.form.comment"></textarea>
								</div>
							</div><br>
							<div class="form-group">
								<fieldset>
									<div class='col-sm-1'>
										<button type="button" 
												class="btn btn-default" 
												accept="files/*"
												ngf-select ngf-change="upload($files)"
												ngf-multiple="multiple"
												ng-model="training.handler.files"
												ng-show="training.handler.button('create')">
												Upload a File
										</button>
									</div>		
									<div class='col-sm-2'>
										<label ng-repeat="f in training.handler.files"  ng-show="training.handler.files">{{f.name}}</label>
									</div>
									<div class='col-sm-3'  ng-show="training.handler.files">
										<button class="btn btn-danger"  tooltip-placement="top" tooltip="Delete File" ng-click=" training.handler.files = false">
											<span class="glyphicon glyphicon-trash" ></span>
										</button>
									</div>
								</fieldset>
							</div>
							<hr>
							<div class="form-group">										
								<div class="col-sm-6">
									<form>
										<button type="submit" 
												class="btn btn-success"   
												ng-click="training.handler.save(training.handler.files)"
												ng-show="training.handler.button('create')">
												Save
										</button>
										<span class="space space-sm"></span>
										<button type="submit" 
												class="btn btn-danger"   
												ng-click="training.handler.cancel()"
												ng-show="training.handler.button('create')">
												Cancel
										</button>
									</form>
								</div>
							</div>
						</form>
					</div>
			</section>
			
		</div>