	
	<div class="page page-table" ng-controller="unApprovedController as unapp">
	
		<section class="panel panel-primary table-dynamic">
			<div class="panel-heading"><strong><span class="glyphicon glyphicon-th" style="margin-right: 8px;"></span>Un-Approved Schedule List</strong></div>
				<div class="panel-body">	
					<form name="myForm" class="form-horizontal form-validation">
						<div class="form-group">
							<div class="col-sm-1">
								<label>Department</label>
							</div>
							<div class="col-sm-2">
								<select class='form-control' 
										ng-model="unapp.handler.form.Department" 
										ng-options="job.id as job.name for job in unapp.handler.datadepartment">
										<option value=""> --  Select -- </option>
								</select>
							</div>
						</div>
						<div class="form-group">
							<div class="col-sm-1">
								<label>Year</label>
							</div>
							<div class="col-sm-2">
								<select class='form-control' 
										ng-model="unapp.handler.form.years" 
										ng-options="job.year as job.year for job in unapp.handler.datayears">
										<option value=""> --  Select -- </option>
								</select>	
							</div>
						</div>
						<div class="form-group">
							<div class="col-sm-1">
								<label>Month</label>
							</div>
							<div class="col-sm-2">
								<select class="form-control" name="month" ng-model="unapp.handler.form.month">
									<option value="0"> -- Select -- </option>
									<option value="1">January</option>
									<option value="2">February</option>
									<option value="3">March</option>
									<option value="4">April</option>
									<option value="5">May</option>
									<option value="6">June</option>
									<option value="7">July</option>
									<option value="8">August</option>
									<option value="9">September</option>
									<option value="10">October</option>
									<option value="11">November</option>
									<option value="12">December</option>
								</select>
							</div>
						</div>
						<hr>
						<div class="form-group">										
							<div class="col-sm-6">
								<form>
									<button type="submit" 
											class="btn btn-success"  
											ng-click="unapp.handler.searchschedule()"
											ng-show="unapp.handler.button('read')">Search
									</button>
								</form>
							</div>
						</div>
					</form>
				</div>
		</section>
		
		<section class="panel panel-primary table-dynamic">
			<div class="panel-body">
				<br>
				<div class="form-group">
					<div class="row">
						<div class="col-sm-4">
							<form>
								<input type="text"
									   placeholder="Search..."
									   class="form-control"
									   data-ng-model="unapp.handler.search"
									   data-ng-model-options="{debounce:300}"
									   >
							</form>
						</div>
						<div class="col-sm-3 filter-result-info">
							<span>
								Showing {{unapp.handler.paginated.length}}/{{unapp.handler.maindata.length}} entries
							</span>              
						</div>
					</div>
				</div><br>
				<table class="table table-bordered table-striped table-responsive">
					<thead>
						<tr>
							<th>
								<div class="th">
									Employee
								</div>
							</th>
							<th>
								<div class="th">
									Department
								</div>
							</th>
							<th ng-repeat='a in unapp.handler.getHeader()'  width='{{a.width}}'>
								<div class="th">
									{{a.name}}
								</div>
							</th>
						</tr>
					</thead>
					<tbody>
						<tr data-ng-repeat="a in unapp.handler.getdata() | orderBy: unapp.handler.activeheader.sort : unapp.handler.activeheader.order track by [$index]" ng-class-odd="'codd'" ng-class-even="'ceven'">
							<td>{{a.employee}}</td>
							<td>{{a.department}}</td>
							<td style="cursor:pointer" ng-click="unapp.handler.openmodal('edit', a, a.a,  a.datea)">{{a.a}}</td>
							<td style="cursor:pointer" ng-click="unapp.handler.openmodal('edit', a, a.b,  a.dateb)">{{a.b}}</td>
							<td style="cursor:pointer" ng-click="unapp.handler.openmodal('edit', a, a.c,  a.datec)">{{a.c}}</td>
							<td style="cursor:pointer" ng-click="unapp.handler.openmodal('edit', a, a.d,  a.dated)">{{a.d}}</td>
							<td style="cursor:pointer" ng-click="unapp.handler.openmodal('edit', a, a.e,  a.datee)">{{a.e}}</td>
							<td style="cursor:pointer" ng-click="unapp.handler.openmodal('edit', a, a.f,  a.datef)">{{a.f}}</td>
							<td style="cursor:pointer" ng-click="unapp.handler.openmodal('edit', a, a.g,  a.dateg)">{{a.g}}</td>
							<td style="cursor:pointer" ng-click="unapp.handler.openmodal('edit', a, a.h,  a.dateh)">{{a.h}}</td>
							<td style="cursor:pointer" ng-click="unapp.handler.openmodal('edit', a, a.i,  a.datei)">{{a.i}}</td>
							<td style="cursor:pointer" ng-click="unapp.handler.openmodal('edit', a, a.j,  a.datej)">{{a.j}}</td>
							<td style="cursor:pointer" ng-click="unapp.handler.openmodal('edit', a, a.k,  a.datek)">{{a.k}}</td>
							<td style="cursor:pointer" ng-click="unapp.handler.openmodal('edit', a, a.l,  a.datel)">{{a.l}}</td>
							<td style="cursor:pointer" ng-click="unapp.handler.openmodal('edit', a, a.m,  a.datem)">{{a.m}}</td>
							<td style="cursor:pointer" ng-click="unapp.handler.openmodal('edit', a, a.n,  a.daten)">{{a.n}}</td>
							<td style="cursor:pointer" ng-click="unapp.handler.openmodal('edit', a, a.o,  a.dateo)">{{a.o}}</td>
							<td style="cursor:pointer" ng-click="unapp.handler.openmodal('edit', a, a.p,  a.datep)">{{a.p}}</td>
							<td style="cursor:pointer" ng-click="unapp.handler.openmodal('edit', a, a.q,  a.dateq)">{{a.q}}</td>
							<td style="cursor:pointer" ng-click="unapp.handler.openmodal('edit', a, a.r,  a.dater)">{{a.r}}</td>
							<td style="cursor:pointer" ng-click="unapp.handler.openmodal('edit', a, a.s,  a.dates)">{{a.s}}</td>
							<td style="cursor:pointer" ng-click="unapp.handler.openmodal('edit', a, a.t,  a.datet)">{{a.t}}</td>
							<td style="cursor:pointer" ng-click="unapp.handler.openmodal('edit', a, a.u,  a.dateu)">{{a.u}}</td>
							<td style="cursor:pointer" ng-click="unapp.handler.openmodal('edit', a, a.v,  a.datev)">{{a.v}}</td>
							<td style="cursor:pointer" ng-click="unapp.handler.openmodal('edit', a, a.w,  a.datew)">{{a.w}}</td>
							<td style="cursor:pointer" ng-click="unapp.handler.openmodal('edit', a, a.x,  a.datex)">{{a.x}}</td>
							<td style="cursor:pointer" ng-click="unapp.handler.openmodal('edit', a, a.y,  a.datey)">{{a.y}}</td>
							<td style="cursor:pointer" ng-click="unapp.handler.openmodal('edit', a, a.z,  a.datez)">{{a.z}}</td>
							<td style="cursor:pointer" ng-click="unapp.handler.openmodal('edit', a, a.aa, a.dateaa)">{{a.aa}}</td>
							<td style="cursor:pointer" ng-click="unapp.handler.openmodal('edit', a, a.ab, a.dateab)">{{a.ab}}</td>
							<td style="cursor:pointer" ng-click="unapp.handler.openmodal('edit', a, a.ac, a.dateac)" ng-show="unapp.handler.getHeader().length >= 29">{{a.ac}}</td>
							<td style="cursor:pointer" ng-click="unapp.handler.openmodal('edit', a, a.ad, a.datead)" ng-show="unapp.handler.getHeader().length >= 30">{{a.ad}}</td>
							<td style="cursor:pointer" ng-click="unapp.handler.openmodal('edit', a, a.ae, a.dateae)" ng-show="unapp.handler.getHeader().length >= 31">{{a.ae}}</td>
						</tr>
					</tbody>
				</table>
				<footer class="table-footer">
					<div class="row">
						<div class="col-md-6 page-num-info">
							<span>
								Show 
								<select data-ng-model="unapp.handler.numPerPage"
										data-ng-options="num for num in unapp.handler.numPerPageOpt"
										data-ng-change="onNumPerPageChange()">
								</select> 
								entries per page
							</span>
						</div>
						<div class="col-md-6 text-right pagination-container">
							<pagination class="pagination-sm"
										ng-model="unapp.handler.currentPage"
										total-items="unapp.handler.filtered.length"
										max-size="4"
										ng-change="select(currentPage)"
										items-per-page="unapp.handler.numPerPage"
										rotate="false"
										previous-text="&lsaquo;" next-text="&rsaquo;"
										boundary-links="true"></pagination>
						</div>
					</div>
				</footer>
				<hr>
				<div class="from-group">
					<div class="row">
						<div class="col-sm-1">
							<label>Legend :</label>
						</div>
						<div class='col-sm-3'>
							<select class='form-control'
									ng-model="unapp.handler.form.legend"
									ng-options="job.shif_code for job in unapp.handler.datalegend">
									<option value=""> -- View Legend --</option>
							</select>
						</div>
					</div>
				</div>
				<hr>
				<div class="from-group">
					<div class="row">
						<div class="col-sm-4">
							<form>
								<button class="btn btn-gap-v btn-success" 
										ng-disabled = "unapp.handler.hideButton"
										ng-show="unapp.handler.button('update')" 
										ng-click="unapp.handler.openmodal('approve',unapp.handler.form,unapp.handler.getdata())">
										Approved
								</button>
							</form>
						</div>
					</div>
				</div>
			</div>
		</section>
		
		
		<!-- SCRIPT MODAL EDIT WORKSHIFT -->
		<script type="text/ng-template" id="modalunapp">
				<div class="modal-header">
					<h4><i class="fa fa-pencil-square-o" style="margin-right: 8px;" ></i>Change Workshift</h4>
				</div>
				<div class="modal-body">
					<form name="myForm"  class="form form-validation" ng-submit="myForm.$valid && submit(modalunapp.form)">	
						<div class='form-group'>
							<fieldset>
								<div class="col-md-3">
									<label for="">Name</label>
								</div>
								<div class="col-md-8">
									<input type="text" name="name" class="form-control" autocomplete="off" ng-model="modalunapp.form.employee"/>
								</div>
							</fieldset>
						</div>
						<div class='form-group'>
							<fieldset>
								<div class="col-md-3">
									<label for="">Date</label><span class="space space-sm"></span><label style ="color:red">*</label>
								</div>
								<div class="col-md-8">
									<input type="date" name="name" class="form-control" ng-model="modalunapp.form.date" ng-disabled="true"/>
								</div>
							</fieldset>
						</div>
						<div class='form-group'>
							<fieldset>
								<div class="col-md-3">
									<label for="">Shift Code</label><span class="space space-sm"></span><label style ="color:red">*</label>
								</div>
								<div class="col-md-8">
									<select class='form-control'
										ng-model="modalunapp.form.shift"
										ng-options="job.shift_code as job.shift_code for job in modalunapp.handler.datashiftcode">
										<option value=""> -- Select --</option>
									</select>
								</div>
							</fieldset>
						</div>
						<fieldset>
							<div class="col-sm-3">
								</span><label style ="color:red">*</label><span class="space space-xs"><label><small>Required field</small></label>
							</div>										
						</fieldset>	
					</form>	
					<div class="modal-footer">
						<button type="submit" class="btn btn-success" ng-click="modalunapp.save()">Save</button>
						<button class="btn btn-danger" ng-click="modalunapp.close()">Cancel</button>
					</div>
				</div>
		</script>
			
		<script type="text/ng-template" id="modalapprove">
			<div class="modal-header">
				<h4><i  class="fa fa-check" style="margin-right: 8px;" ></i>Approved Schedule Confirmation</h4>
			</div>
			<div class="modal-body">
				<form name="myForm"  class='form form-validation' data-ng-submit='modalapprove.submit()'>	
					<fieldset>
						<div class="col-sm-12">
							<span>Please confirm to approved the schedule of <strong>{{modalapprove.form.month}}, {{modalapprove.form.year}}</strong>?</span>
						</div>
					</fieldset>
				</form>
				<br>
				<div class="modal-footer">
					<button class='btn btn-gap-h btn-success' type='submit' ng-click='modalapprove.submit()'>OK </button>
					<button class='btn btn-gap-h btn-danger' ng-click='modalapprove.close()'> CANCEL </button>
				</div>
			</div>
		</script>
	
		