		
		<div class="page page-personal" data-ng-controller="personalCtrl">
				<div class="row">
					<div class="col-md-2">
						<section class="panel panel-box">
							<div class="panel-top bg-primary">
								<div class="text-center">
									<h3>{{name}}</h3>
								</div>
								<div class="divider divider-lg"></div>
								<div class="divider divider-lg"></div>
							</div>
							<div class="panel-img bg-primary">
								<a ng-href="#/employee/photograph/{{id}}"><img ng-src="{{pic}}" height="200" width="200" class="img-circle"></a>
							</div>
						</section>


						<!-- <div class="panel-default" ng-if="!useracess('user')"> -->
						<div class="panel-default" ng-if="hideButton">	
							
							<div class="panel-body">
								<button class="btn btn-block  btn-primary" ng-click="isCollapsed = !isCollapsed">Change Employee</button>
								<div collapse="!isCollapsed">
									<div class="well">
										<input 	type="text"
												placeholder="Search..."
												class="form-control"
												ng-model="employee" 
												typeahead="(address.name) for address in getLocation($viewValue)" 
												typeahead-loading="loadingLocations"
												typeahead-min-length="4"
												typeahead-wait-ms="300"
												typeahead-on-select="onSelect($item, $model, $label)"
										/>			
									</div>						
								</div>
							</div>
						</div>
						<div class="panel panel-default">
							<div style="text-align:center">
								<h3 style="color:rgb(36, 138, 175);text-decoration: underline;text-decoration-color:rgb(36, 138, 175)" >{{localIT}}</h3>
							</div>
							<div class="panel-body">
								<a ng-href="#/employee/personalDetail/{{id}}" class="btn btn-block btn-primary active">Personal Details</a></button>
								<a ng-href="#/employee/contact/{{id}}" class="btn btn-block  btn-primary">Contact Details</a></button>
								<a ng-href="#/employee/emergency/{{id}}" class="btn btn-block  btn-primary">Emergency Contacts</a></button>
								<a ng-href="#/employee/dependents/{{id}}" class="btn btn-block btn-primary">Dependents</a></button>
								<a ng-href="#/employee/immigrations/{{id}}" class="btn btn-block btn-primary">Immigrations</a></button>
								<a ng-href="#/employee/report/{{id}}" class="btn btn-block btn-primary">Report-To</a></button>
								<a ng-href="#/employee/qualification/{{id}}" class="btn btn-block btn-primary">Qualification</a></button>
								<a ng-href="#/employee/job/{{id}}" class="btn btn-block  btn-primary">Job History</a></button>
								<a ng-href="#/employee/salary/{{id}}" class="btn btn-block btn-primary">Salary History</a></button>
							</div>
						</div>
					</div>

					<div class="col-md-10">
						<div class="panel panel-primary">
							<div class="panel-heading"><strong><span class="glyphicon glyphicon-th" style="margin-right: 8px;"></span> Personal Details</strong></div>
								<div class="panel-body" >									
									<form name="form_name" class="form-horizontal form-validation">													
										<div class="form-group">
											<fieldset>
												<div class="col-sm-2">
													<label>Full Name</label>
												</div>
												<div class="col-sm-3">
													<input type="text" class="form-control" placeholder="First Name"  ng-model="perInfo.first_name" ng-disabled="!button" required="required" />
												</div>
												<div class="col-sm-3">
													<input type="text" class="form-control" placeholder="Middle Name" ng-model="perInfo.middle_name" ng-disabled="!button"/>
												</div>
												<div class="col-sm-3">
													<input type="text" class="form-control" placeholder="Last Name"  ng-model="perInfo.last_name"   ng-disabled="!button"   required="required" />																				 
												</div>
											</fieldset>
										</div>
										<div class="form-group">
											<fieldset>
												<div class="col-sm-2">
													<label>Active Directory Username</label>
												</div>
												<div class="col-sm-3">
													<input type="text" class="form-control"  placeholder="Active Directory Username" ng-model="perInfo.ad_username" ng-disabled="!button" />	
												</div>
												<div class="col-sm-3">
													<label for="">Biometric Number</label>
												</div>
												<div class="col-sm-3">
													<input type="text" class="form-control"  placeholder="Biometric Number" ng-model="perInfo.biometric" ng-disabled="!button" />	
												</div>
											</fieldset>
										</div>
										<hr>
										<div class="form-group">
											<fieldset>
												<div class="col-sm-2">
													<label for="">Employee Id</label>
												</div>
												<div class="col-sm-3">
													<input type="text" name ="employee_id" class="form-control" ng-model="perInfo.employee_id" ng-disabled="!button" />
												</div>
												<div class="col-sm-3">
													<label for="">HDMF / Pag-Ibig</label>
												</div>
												<div class="col-sm-3">
													 <input type="text" name="birNumber" class="form-control" id="birNumber"
														ng-model="perInfo.hdmf"
														ng-disabled="!button"
														ui-mask="9999 9999 9999"
														placeholder="XXXX XXXX XXXX"
													  />
												</div>
											</fieldset>
										</div>
										<div class="form-group">
											<fieldset>
												<div class="col-sm-2">
													<label for="">SSS</label>
												</div>
												<div class="col-sm-3">
													 <input type="text" name="birNumber" class="form-control" id="birNumber"
														ng-model="perInfo.sss"
														ng-disabled="!button"
														ui-mask="99-9999999-9"
														placeholder="XX-XXXXXXX-X"
													  />
												</div>
												<div class="col-sm-3">
													<label for="">RTN Number</label>
												</div>
												<div class="col-sm-3">
													 <input type="text" name="birNumber" class="form-control" id="birNumber"
														ng-model="perInfo.rtn"
														ng-disabled="!button"
														ui-mask="9999 9999 9999"
														placeholder="XXXX XXXX XXXX"
													  />
												</div>
											</fieldset>
										</div>
										<div class="form-group">
											<fieldset>
												<div class="col-sm-2">
													<label for="">Philhealth</label>
												</div>
												<div class="col-sm-3">
													 <input type="text" name="philhealth" class="form-control" id="philhealth"
														ng-model="perInfo.philhealth"
														ui-mask="99-999999999-9"
														ng-disabled="!button"
														placeholder="XX-XXXXXXXXX-X" >
												</div>
												<div class="col-sm-3">
													<label for="">MID Number</label>
												</div>
												<div class="col-sm-3">
													 <input type="text" name="birNumber" class="form-control" id="birNumber"
														ng-model="perInfo.mid"
														ng-disabled="!button"
														ui-mask="9999 9999 9999"
														placeholder="XXXX XXXX XXXX"
													  />
												</div>
											</fieldset>
										</div>
										<div class="form-group">
											<fieldset>
												<div class="col-sm-2">
													<label for="">TIN Number</label>
												</div>
												<div class="col-sm-3">
													 <input type="text" name="tinNumber" class="form-control" id="tinNumber"
														ng-model="perInfo.tin"
														ng-disabled="!button"
														ui-mask="999-999-999-999"
														placeholder="XXX-XXX-XXX-XXX"
													  />
												</div>
											</fieldset>
										</div>
										<div class="form-group">
											<fieldset>
												<div class="col-sm-2">
													<label for="">HMO Account Number</label>
												</div>
												<div class="col-sm-3">
													<input type="text" name="hmoA" class="form-control"
														ng-model="perInfo.hmo_account"
														ng-disabled="!button"	
													/>
													<!-- ng-pattern="/^[\a-zA-Z\d\-\^ ]+$/ ui-mask="9999 9999 9999 9999""
													<span style="color:red" ng-show="form_name.hmoA.$dirty && form_name.hmoA.$error.pattern">Invalid input.</span> -->
												</div>
												<div class="col-sm-3">
													<label for="">HMO Card Number</label>
												</div>
												<div class="col-sm-3">
													 <input type="text" name="cardNumber" class="form-control" id="cardNumber"
														ng-model="perInfo.hmo_numb"
														ng-disabled="!button"
														
													/>
													<!-- ng-pattern="/^[\a-zA-Z\d\-\^ ]+$/
													ui-mask="9999 9999 9999 9999""
													<span style="color:red" ng-show="form_name.cardNumber.$dirty && form_name.cardNumber.$error.pattern">Invalid input.</span> -->
												</div>
											</fieldset>
										</div>
										<hr>
										<div class="form-group">
											<fieldset>
												<div class="col-sm-2">
													<label for="">Gender</label>
												</div>
												<div class="col-sm-3">
													<dl class="dl-vertikal">
														<dd>
															<label class="ui-radio"><input name="male" type="radio" value="male"  ng-change="selectMale()" ng-model="perInfo.gender" ng-disabled="!button" ><span> Male</span></label>
															<label class="ui-radio"><input name="female" type="radio" value="female"  ng-model="perInfo.gender" ng-disabled="!button"><span> Female</span></label>
														</dd>
													</dl>
												</div>
												<div class="col-sm-3">
													<label for="">Marital Status</label>
												</div>
												<div class="col-sm-3">
													<select class="form-control" ng-model="perInfo.marital_status" ng-change="showMaiden()" ng-disabled="!button">
														<option value="">-- Select --</option>
														<option value="Single">Single</option>
														<option value="Married">Married</option>
														<option value="Separated">Separated</option>
														<option value="Widow">Widow</option>
													</select>
												</div>
											</fieldset>
										</div>
										<div class="form-group" ng-show="maiden">
											<fieldset>
												<div class="col-sm-2">
													<label>Maiden Name</label>
												</div>
												<div class="col-sm-3">
													<input type="text" class="form-control" ng-model="perInfo.maiden_name" ng-disabled="!button"/>
												</div>
											</fieldset>
										</div>																
										<div class="form-group">
											<fieldset>
												<div class="col-sm-2">
													<label for="">Nationality</label>
												</div>
												<div class="col-sm-3">
													<select class="form-control" ng-model="perInfo.nationality" ng-disabled="!button">
														<option value=""> -- Select --</option>
														<option value="{{job.id}}" 
																ng-repeat="job in jobs"
																ng-selected="{{perInfo.nationality===job.title}}">
																{{job.title}}
														</option>
													</select>
												</div>
												<div class="col-sm-3">
													 <label for="">Date Of Birth</label>
												</div>
												<div class="col-sm-3">
													<input type="date" class="form-control" min="1900-01-01" max="2100-01-01" ng-model="perInfo.date_of_birth" ng-disabled="!button"/>												
												</div>
											</fieldset>
										</div>
										<div class="form-group">
											<fieldset>
												<div class="col-sm-2">
													<label for="">Religion</label>
												</div>
												<div class="col-sm-3">
													<input type="text" name="religi" class="form-control" ng-model="perInfo.religion" ng-disabled="!button"/>
												</div>
												<div class="col-sm-3">
													<label for="">Place of Birth</label>
												</div>
												<div class="col-sm-3">
													<input type="text" name="place" class="form-control" data-ng-model="perInfo.place_of_birth" ng-disabled="!button"/>
												</div>
											</fieldset>
										</div>
										<hr>
										<fieldset ng-show="hide('create')">
											<dl class="dl-vertikal">
												<dd>
													<button type="submit" class="btn btn-success" ng-hide="button" ng-click="button=true;">Edit</button>
													<button type="submit" class="btn btn-success" ng-show="button" ng-click="save();">Save</button>
												</dd>
											</dl>
										</fieldset>
									</form>		
								</div>
						</div>
							
						<section class="panel panel-primary table-dynamic" ng-controller="attachCtrl">
							<div class="panel-heading"><span class="glyphicon glyphicon-th" style="margin-right: 8px;"></span>Add Attachments</div>
								<div class="panel-body">	
									<div class="form-group">
										<div class="row">
											<div class="col-md-4">
												<form>
													<button class="btn btn-gap-v btn-success"  
															ng-show="hide('create')" 
															ng-click="open()"> 
															Add
													</button>
														<span class="space space-sm"></span>
													<button class="btn btn-gap-v btn-danger"   
															ng-show="hide('delete')" 
															ng-click="remove(check.study)">
															Delete
													</button>
												</form>
											</div>
										</div>
									</div>
									<table class="table table-bordered table-striped table-responsive">
										<thead>
											<tr id="heading">
												<th style="width:1%" ng-model="student.selected"><div class="th">
												</div></th>
												<th style="width:25%"><div class="th">
													File Name
												</div></th>
												<th style="width:25%"><div class="th">
													Description
												</div></th>
												<th style="width:10%"><div class="th">
													Size
												</div></th>
												<th style="width:10%"><div class="th">
													Type
												</div></th>
												<th style="width:10%"><div class="th">
													Date Added
												</div></th>
												<th style="width:10%"><div class="th">
													Added By
												</div></th>
											</tr>
										</thead>
										<tbody>
											<tr data-ng-repeat="student in study | filter:search | filter:new_search">
											<td><input type="checkbox"  checklist-model="check.study"  checklist-value="student.id"></td>
												<td ng-click="test($event)" style="cursor:pointer"><a target="_parent" ng-href = "{{e}}"></label>{{student.filename}}</td></a>
												<td ng-click="edit('',student)" style="cursor:pointer">{{student.descript}}</td>
												<td ng-click="edit('',student)" style="cursor:pointer">{{student.size}}</td>
												<td ng-click="edit('',student)" style="cursor:pointer">{{student.type}}</td>
												<td ng-click="edit('',student)" style="cursor:pointer">{{student.created_at}}</td>
												<td ng-click="edit('',student)" style="cursor:pointer">{{student.added_by}}</td>
											</tr>
										</tbody>
									</table>
								</div>
						</section>
							
						
						<!--Modal Add Attachement -->
						<script type="text/ng-template" id="modalAttac.html">
							<div class="modal-header">
								<h4><i class="fa fa-save" style="margin-right: 8px;" ></i>Add Attachments</h4>
							</div>
							<div class="modal-body">
								<form name="myForm" novalidate>	
									<div class="form-group">
										<fieldset>
											<div class='col-sm-3'>
												<button type="button" 
														class="btn btn-primary" 
														accept=" image/jpeg, image/png, image/gif, image/jpg, application/pdf,"
														ngf-select ngf-change="upload($files)"
														ngf-multiple="multiple"
														ng-model="form.files">
														Select File
												</button>
												<label style ="color:red">*</label><span class="space space-xs"></span><label><small></small></label>
											</div>		
											<div class='col-sm-5'>
												<label ng-hide="form.files">Accepts Up to 10MB</label>
												<label ng-repeat="f in form.files"  ng-show="form.files" style="overflow:hidden; white-space:nowrap; text-overflow:ellipsis; width:15em">{{f.name}}</label>
											</div>
											<div class='col-sm-3'  ng-show="form.files">
												<button class="btn btn-danger"  tooltip-placement="top" tooltip="Delete File"  ng-click="form.files=false">
													<span class="glyphicon glyphicon-trash"></span>
												</button>
											</div>
										</fieldset>
									</div>
									<div class="form-group">
										<fieldset>
											<div class="col-sm-3">
												<label for="">Comment</label>
											</div>
											<div class="col-sm-7">
												<textarea class="form-control" name="descript" rows="4" cols="40" data-ng-model="form.descript"></textarea>
											</div>
										</fieldset>
									</div>
								</form>	
							</div>	
							<br>
							<fieldset>
								<div class="col-sm-3">
									<label style ="color:red">*</label><span class="space space-xs"></span><label><small>Required field</small></label>
								</div>										
							</fieldset>
							<div class="modal-footer">
								<button type="submit" class="btn btn-success" ng-disabled="saveButton"  ng-click="save(form.files)" >Save</button>
								<button class="btn btn-danger" ng-click="cancel()">Cancel</button>
							</div>
						</script>
								
							
		
						<!--Modal Edit Attachement -->
						
						<script type="text/ng-template" id="modalEditAttac.html">
							<div class="modal-header">
								<button type="button" class="close" ng-click="cancel()" style="color:white;" data-dismiss="modal" aria-hidden="true">&times;</button>
								<h4><i class="fa fa-pencil-square-o" style="margin-right: 8px;" ></i>Edit Attachments</h4>
							</div>
							<div class="modal-body">
								<form name="myForm" novalidate>	
									<div class="form-group">
										<fieldset>
											<div class='col-sm-3'>
												<button type="button" 
														class="btn btn-primary" 
														accept=" image/jpeg, image/png, image/gif, image/jpg, application/pdf,"
														ngf-select ngf-change="upload($files)"
														ngf-multiple="multiple"
														ng-model="form.files">
														Select File
												</button>
											</div>		
											<div class='col-sm-6'>
												<label ng-hide="form.files">Accepts Up to 10MB</label>
												<label ng-repeat="f in form.files"  ng-show="form.files">{{f.name}}</label>
											</div>
											<div class='col-sm-3'  ng-show="form.files">
												<button class="btn btn-danger"  tooltip-placement="top" tooltip="Delete File"  ng-click="form.files=false">
													<span class="glyphicon glyphicon-trash"></span>
												</button>
											</div>
										</fieldset>
									</div>
									<div class="form-group">
										<fieldset>
											<div class="col-sm-3">
												<label>Comment</label>
											</div>
											<div class="col-sm-7">
												<textarea class="form-control" name="descript" rows="4" cols="40" ng-disabled ="!button" data-ng-model="form.descript"></textarea>
											</div>
										</fieldset>
									</div>
								</form>	
							</div><br>
							<fieldset>
								<div class="col-sm-3">
									<label style ="color:red">*</label><span class="space space-xs"></span><label><small>Required field</small></label>
								</div>										
							</fieldset>
							<div class="modal-footer" ng-show="hide('update')">
								<button type="submit" class="btn btn-success" ng-hide="button" ng-click="button=true; edit();">Edit</button>
								<button type="submit" class="btn btn-success" ng-disabled="myForm.$invalid"  ng-show="button"  ng-click="save(form.files);">Save</button>
								<button class="btn btn-danger" ng-click="cancel()">Cancel</button>
							</div>
							<div class="modal-footer" ng-hide="hide('update')">
								<button class="btn btn-danger" ng-click="cancel()">Close</button>
							</div>
						</script>
					</div>
				</div>
		</div>
								
							
						
								
								
									
	
								
		
		
	