	
		<div class="page page-qualification">
			<div class="row">
					<div class="col-md-2" ng-controller="MenuCtrl">
						<section class="panel panel-box">
							<div class="panel-top bg-primary">
								<div class="text-center">
									<h3>{{name}}</h3>
								</div>
								<div class="divider divider-lg"></div>
								<div class="divider divider-lg"></div>
							</div>
							<div class="panel-img bg-primary">
								<a ng-href="#/employee/photograph/{{id}}"><img ng-src="{{pic}}" height="200" width="200" class="img-circle"></a>
							</div>
						</section>
						<div class="panel-default" ng-show="!useracess('user')">
							<div class="panel-body">
								<button class="btn btn-block  btn-primary" ng-click="isCollapsed = !isCollapsed">Change Employee</button>
								<div collapse="!isCollapsed">
									<input type="text"
											placeholder="Search..."
											class="form-control"
											ng-model="employee" 
											typeahead="(address.name) for address in getLocation($viewValue)" 
											typeahead-loading="loadingLocations"
											typeahead-min-length="4"
											typeahead-wait-ms="300"
											typeahead-on-select="onSelect($item, $model, $label)"
									/>								
								</div>
							</div>
						</div>
						<div class="panel panel-default">
							<div class="panel-body">
							<a ng-href="#/employee/personalDetail/{{id}}" class="btn btn-block btn-primary">Personal Details</a></button>
							<a ng-href="#/employee/contact/{{id}}" class="btn btn-block  btn-primary">Contact Details</a></button>
							<a ng-href="#/employee/emergency/{{id}}" class="btn btn-block  btn-primary">Emergency Contacts</a></button>
							<a ng-href="#/employee/dependents/{{id}}" class="btn btn-block btn-primary">Dependents</a></button>
							<a ng-href="#/employee/immigrations/{{id}}" class="btn btn-block btn-primary">Immigrations</a></button>
							<a ng-href="#/employee/report/{{id}}" class="btn btn-block btn-primary">Report-To</a></button>
							<a ng-href="#/employee/qualification/{{id}}" class="btn btn-block btn-primary active">Qualification</a></button>
							<a ng-href="#/employee/job/{{id}}" class="btn btn-block  btn-primary">Job History</a></button>
							<a ng-href="#/employee/salary/{{id}}" class="btn btn-block btn-primary">Salary History</a></button>
							</div>
						</div>
					</div>
			
					<div class="col-md-10">
					
							<!--##  FORM WORK EXPERIENCE ## -->
							<section class="panel panel-primary table-dynamic" ng-controller="workExpCtrl">
								<div class="panel-heading"><strong><span class="glyphicon glyphicon-th" style="margin-right: 8px;"></span>Work Experience</strong></div>
									<div class='panel-body'>	
										<div class="form-group">
											<div class="row">
												<div class="col-md-4">
													<form>
														<button class="btn btn-gap-v btn-success" 
																ng-show="hide('create')" 
																ng-click="open()"> 
																Add 
														</button>
														<span class="space space-sm"></span>
														<button class="btn btn-gap-v btn-danger" 
																ng-show="hide('delete')" 
																ng-click="remove(delwork.workers)">
																Delete
														</button>
													</form>
												</div>
											</div>
										</div>
										<table class="table table-bordered table-striped table-responsive">
											<thead>
												<tr id="heading">
														<th style="width:1%"><div class="th">
														</div></th>
														<th style="width:15%"><div class="th">
															Company
														</div></th>
														<th style="width:15%"><div class="th">
															Location
														</div></th>
														<th style="width:15%"><div class="th">
															Job Title
														</div></th>
														<th style="width:15%"><div class="th">
															From
														</div></th>
														<th style="width:15%"><div class="th">
															To													
														</div></th>
														<th style="width:15%"><div class="th">
															Length of Service
														</div></th>
												</tr>
											</thead>
											<tbody>
												<tr ng-repeat="work in workers  | filter:search | filter:new_search">
													<td><input type="checkbox" checklist-model="delwork.workers" checklist-value="work.id"></td>
													<td ng-click="edit('',work)" style="cursor:pointer">{{work.company}}</td>
													<td ng-click="edit('',work)" style="cursor:pointer">{{work.location}}</td>
													<td ng-click="edit('',work)" style="cursor:pointer">{{work.job}}</td>
													<td ng-click="edit('',work)" style="cursor:pointer">{{work.from_date}}</td>
													<td ng-click="edit('',work)" style="cursor:pointer">{{work.to_date}}</td>
													<td ng-click="edit('',work)" style="cursor:pointer">{{work.length_of_service}}</td>
												</tr>
											</tbody>
										</table>
									</div>
							</section>
						
							<!--Modal Add Work Experience -->
							<script type="text/ng-template" id="modalWork.html">
								<div class="modal-header">
									<h4><i class="fa fa-save" style="margin-right: 8px;" ></i>Add Work Experience</h4>
								</div>
								<div class="modal-body">
									<form name="myForm"  class="form-validation" ng-submit="myForm.$valid && submit()">	
										<div class="form-group">	
											<fieldset>
												<div class="col-sm-4">
													<label for="">Company</label><span class="space space-sm"></span><label style ="color:red">*</label>
												</div>
												<div class="col-sm-6">
													<input type="text" name="comp" class="form-control" autocomplete='off' ng-model="formData.company" required/>
														<span style="color:red" ng-show="myForm.comp.$dirty && myForm.comp.$invalid">
															<span ng-show="myForm.comp.$error.required">Required field.</span>
														</span>												
												</div>
											</fieldset>
										</div>
										<div class="form-group">	
											<fieldset>
												<div class="col-sm-4">
													<label for="">Location</label>
												</div>
												<div class="col-sm-6">
													<input type="text" name="loc" class="form-control" autocomplete='off' ng-model="formData.location"/>									
												</div>
											</fieldset>
										</div>
										<div class="form-group">	
											<fieldset>
												<div class="col-sm-4">
													<label for="">Job Title</label><span class="space space-sm"></span><label style ="color:red">*</label>
												</div>
												<div class="col-sm-6">
													<!-- <select class="form-control" name="job" ng-model="formData.job" required>
														<option value=""> -- Select --</option>
														<option ng-repeat="skill in skills" value="{{skill.id}}">{{skill.title}}</option>
													</select> -->
													<input type="text" name="job" class="form-control" autocomplete='off' ng-model="formData.job"/>
													<span style="color:red" ng-show="myForm.job.$dirty && myForm.job.$invalid">
															<span ng-show="myForm.job.$error.required">Required field.</span>
													</span>	
												</div>
											</fieldset>
										</div>
										<div class="form-group">
											<fieldset>
												<div class="col-sm-4">
													<label for="">From</label><span class="space space-sm"></span><label style ="color:red">*</label>
												</div>
												<div class="col-sm-6">
													<input type="date" 
														   class="form-control" 
														   ng-model="formData.from_date"
														   placeholder = "yyyy-mm-dd" 
														   required 
													/>										
												</div>
											</fieldset>
										</div>
										<div class="form-group">
											<fieldset>
												<div class="col-sm-4">
													<label for="">To</label><span class="space space-sm"></span><label style ="color:red">*</label>
												</div>
												<div class="col-sm-6">
													<input type="date" 
														   class="form-control" 
														   ng-model="formData.to_date"
														   required 
													/>										
												</div>
											</fieldset>
										</div>
										<div class="form-group">	
											<fieldset>
												<div class="col-sm-4">
													<label for="">Reason of Leaving</label>
												</div>
												<div class="col-sm-6">
													<input type="text"  class="form-control" autocomplete='off' ng-model="formData.reason_of_leaving"/>									
												</div>
											</fieldset>
										</div>
									</form>	
								</div>
								<br>
								<fieldset>
									<div class="col-sm-3">
										<label style ="color:red">*</label><span class="space space-xs"></span><label><small>Required field</small></label>
									</div>										
								</fieldset>
								<div class="modal-footer">
									<button type="submit" class="btn btn-success" ng-disabled="myForm.$invalid"  ng-click="save()">Save</button>
									<button class="btn btn-danger" ng-click="cancel()">Cancel</button>
								</div>
							</script>
							
							<!--Modal Edit Work Experience -->
							<script type="text/ng-template" id="modalEditWork.html">
								<div class="modal-header">
									<button type="button" class="close" ng-click="cancel()" style="color:white;" data-dismiss="modal" aria-hidden="true">&times;</button>
										<h4><i class="fa fa-pencil-square-o" style="margin-right: 8px;" ></i>Edit Work Experience</h4>
								</div>
								<div class="modal-body">
									<form name="myForm"  class="form-validation" ng-submit="myForm.$valid && submit()">	
										<div class="form-group">	
											<fieldset>
												<div class="col-sm-4">
													<label for="">Company</label><span class="space space-sm"></span><label style ="color:red">*</label>
												</div>
												<div class="col-sm-6">
													<input type="text" name="comp" class="form-control" ng-model="formData.company" autocomplete='off'  ng-disabled="!button" required/>
														<span style="color:red" ng-show="myForm.comp.$dirty && myForm.comp.$invalid">
															<span ng-show="myForm.comp.$error.required">Required field.</span>
														</span>												
												</div>
											</fieldset>
										</div>
										<div class="form-group">	
											<fieldset>
												<div class="col-sm-4">
													<label for="">Location</label>
												</div>
												<div class="col-sm-6">
													<input type="text" name="loc" class="form-control" autocomplete='off' ng-model="formData.location" ng-disabled="!button"/>									
												</div>
											</fieldset>
										</div>
										<div class="form-group">	
											<fieldset>
												<div class="col-sm-4">
													<label for="">Job Title</label><span class="space space-sm"></span><label style ="color:red">*</label>
												</div>
												<div class="col-sm-6">
													<!-- <select class="form-control" name="job" ng-model="formData.job" required>
														<option value=""> -- Select --</option>
														<option ng-repeat="skill in skills" value="{{skill.id}}">{{skill.title}}</option>
													</select> -->
													<input 	type="text" 
															name="job" 
															class="form-control" 
															autocomplete='off' 
															ng-model="formData.job"
															ng-disabled="!button" />
															<span style="color:red" ng-show="myForm.job.$dirty && myForm.job.$invalid">
																	<span ng-show="myForm.job.$error.required">Required field.</span>
															</span>
												</div>
											</fieldset>
										</div>
										<div class="form-group">
											<fieldset>
												<div class="col-sm-4">
													<label for="">From</label><span class="space space-sm"></span><label style ="color:red">*</label>
												</div>
												<div class="col-sm-6">
													<input type="date" 
														   class="form-control" 
														   ng-model="formData.from_date"
														   ng-disabled="!button"
														   placeholder = "yyyy-mm-dd"  
														   required 
													/>													
												</div>
											</fieldset>
										</div>
										<div class="form-group">
											<fieldset>
												<div class="col-sm-4">
													<label for="">To</label><span class="space space-sm"></span><label style ="color:red">*</label>
												</div>
												<div class="col-sm-6">
													<input type="date" 
														   class="form-control" 
														   ng-model="formData.to_date"
														   ng-disabled="!button"
														   placeholder = "yyyy-mm-dd"
														   required 
													/>													
												</div>
											</fieldset>
										</div>
										<div class="form-group">	
											<fieldset>
												<div class="col-sm-4">
													<label for="">Reason of Leaving</label>
												</div>
												<div class="col-sm-6">
													<input type="text"  class="form-control" autocomplete='off' ng-model="formData.reason_of_leaving" ng-disabled="!button"/>									
												</div>
											</fieldset>
										</div>
										
									</form>	
								</div>
								<br>
								<fieldset>
									<div class="col-sm-3">
										<label style ="color:red">*</label><span class="space space-xs"></span><label><small>Required field</small></label>
									</div>										
								</fieldset>
								<div class="modal-footer" ng-show="hide('update')">
									<button type="submit" class="btn btn-success" ng-hide="button" ng-click="button=true; edit();">Edit</button>
									<button type="submit" class="btn btn-success" ng-disabled="myForm.$invalid" ng-show="button" ng-click="save(work.id)">Save</button>
									<button class="btn btn-danger" ng-click="cancel()">Cancel</button>
								</div>
								<div class="modal-footer" ng-hide="hide('update')">
									<button class="btn btn-danger" ng-click="cancel()">Close</button>
								</div>
							</script>

							
							
							<!-- ## FORM EDUCATION ## -->				
							<section class="panel panel-primary table-dynamic" ng-controller="educatiCtrl">
								<div class="panel-heading"><strong><span class="glyphicon glyphicon-th" style="margin-right: 8px;"></span>Education</strong></div>
									<div class='panel-body'>	
										<div class="form-group">
											<div class="row">
												<div class="col-md-4">
													<form>
														<button class="btn btn-gap-v btn-success" 
																ng-click="open()"
																ng-show="hide('create')"> 
																Add 
														</button>
														<span class="space space-sm"></span>
														<button class="btn btn-gap-v btn-danger"  
																ng-click="remove(educ.educations)"
																ng-show="hide('delete')">
																Delete
														</button>
													</form>
												</div>
											</div>
										</div>
										<table class="table table-bordered table-striped table-responsive">
											<thead>
												<tr id="heading">
														<th style="width:1%" ng-model="student.selected"><div class="th">
														</div></th>
														<th style="width:20%"><div class="th">
															Level
														</div></th>
														<th style="width:20%"><div class="th">
															Institution
														</div></th>
														<th style="width:30%"><div class="th">
															Major / Specialization
														</div></th>
														<th style="width:10%"><div class="th">
															Year From
														</div></th>
														<th style="width:10%"><div class="th">
															To Year
														</div></th>
												</tr>
											</thead>
											<tbody>
												<tr data-ng-repeat="edu in educations | filter:search | filter:new_search">
													<td><input type="checkbox" checklist-model="educ.educations" checklist-value="edu.id"></td>
													<td ng-click="edit('',edu)" style="cursor:pointer">{{edu.level}}</td>
													<td ng-click="edit('',edu)" style="cursor:pointer">{{edu.institution}}</td>
													<td ng-click="edit('',edu)" style="cursor:pointer">{{edu.major}}</td>
													<td ng-click="edit('',edu)" style="cursor:pointer">{{edu.from_year}}</td>
													<td ng-click="edit('',edu)" style="cursor:pointer">{{edu.to_year}}</td>
												</tr>
											</tbody>
										</table>
									</div>
							</section>
							
							<!--Modal Add Education -->
							<script type="text/ng-template" id="modalEdu.html">
								<div class="modal-header">
									<h4><i class="fa fa-save" style="margin-right: 8px;" ></i>Add Education</h4>
								</div>
								<div class="modal-body">
									<form name="myForm"  class="form-validation" ng-submit="myForm.$valid && submit()">	
										<div class="form-group">	
											<fieldset>
												<div class="col-sm-4">
													<label for="">Level</label><span class="space space-sm"></span><label style ="color:red">*</label>
												</div>
												<div class="col-sm-6">
													<select class="form-control" ng-model="formData.level" required>
														<option value=''>-- Select --</option>
														<option value="{{store.id}}" ng-repeat="store in dataeducation">{{store.level}}</option>
													</select>
												</div>
											</fieldset>
										</div>
										<div class="form-group">	
											<fieldset>
												<div class="col-sm-4">
													<label for="">Institution</label>
												</div>
												<div class="col-sm-6">
													<input type="text" name="insti" class="form-control" autocomplete='off' ng-model="formData.institution" />									
												</div>
											</fieldset>
										</div>
										<div class="form-group">	
											<fieldset>
												<div class="col-sm-4">
													<label for="">Major / Specialization</label>
												</div>
												<div class="col-sm-6">
													<input type="text" name="major" class="form-control" autocomplete='off' ng-model="formData.major" />									
												</div>
											</fieldset>
										</div>
										<div class="form-group">	
											<fieldset>
												<div class="col-sm-4">
													<label for="">Year From</label>
												</div>
												<div class="col-sm-6">
													 <input type="date" class="form-control" ng-model="formData.from_year"
															placeholder="yyyy-mm-dd"/>								
												</div>
											</fieldset>
										</div>
										<div class="form-group">	
											<fieldset>
												<div class="col-sm-4">
													<label for="">To Year</label>
												</div>
												<div class="col-sm-6">
													 <input type="date" class="form-control" ng-model="formData.to_year"
														placeholder="yyyy-mm-dd"/>									
												</div>
											</fieldset>
										</div>
										
									</form>	
								</div>
								<br>
								<fieldset>
									<div class="col-sm-3">
										<label style ="color:red">*</label><span class="space space-xs"></span><label><small>Required field</small></label>
									</div>										
								</fieldset>								
								<div class="modal-footer">
									<button type="submit" class="btn btn-success"  ng-disabled="myForm.$invalid" ng-click="save()">Save</button>
									<button class="btn btn-danger" ng-click="cancel()">Cancel</button>
								</div>
							</script>
							
							<!--Modal Edit Education -->
							<script type="text/ng-template" id="modalEditEdu.html">
								<div class="modal-header">
									<button type="button" class="close" ng-click="cancel()" style="color:white;" data-dismiss="modal" aria-hidden="true">&times;</button>
										<h4><i class="fa fa-pencil-square-o" style="margin-right: 8px;" ></i>Edit Education</h4>
								</div>
								<div class="modal-body">
									<form name="myForm"  class="form-validation" ng-submit="myForm.$valid && submit()">	
										<div class="form-group">	
											<fieldset>
												<div class="col-sm-4">
													<label for="">Level</label><span class="space space-sm"></span><label style ="color:red">*</label>
												</div>
												<div class="col-sm-6">
													<select class="form-control" ng-model="formData.level" ng-disabled="!button" required>
														<option value=''>-- Select --</option>
														<option ng-selected="{{ formData.level == store.level}}" value="{{store.id}}" ng-repeat="store in dataeducation">{{store.level}}</option>
													</select>
												</div>
											</fieldset>
										</div>
										<div class="form-group">	
											<fieldset>
												<div class="col-sm-4">
													<label for="">Institution</label>
												</div>
												<div class="col-sm-6">
													<input type="text" name="insti" class="form-control" ng-model="formData.institution" autocomplete='off' ng-disabled="!button" />									
												</div>
											</fieldset>
										</div>
										<div class="form-group">	
											<fieldset>
												<div class="col-sm-4">
													<label for="">Major / Specialization</label>
												</div>
												<div class="col-sm-6">
													<input type="text" name="major" class="form-control" ng-model="formData.major"  autocomplete='off' ng-disabled="!button" />									
												</div>
											</fieldset>
										</div>
										<div class="form-group">
											<fieldset>
												<div class="col-sm-4">
													<label for="">Year From</label>
												</div>
												<div class="col-sm-6">
													 <input type="date" class="form-control" ng-model="formData.from_year" ng-disabled="!button"
														placeholder="yyyy-mm-dd"/>								
												</div>
											</fieldset>
										</div>
										<div class="form-group">	
											<fieldset>
												<div class="col-sm-4">
													<label for="">To Year</label>
												</div>
												<div class="col-sm-6">
													 <input type="date" class="form-control" ng-model="formData.to_year" ng-disabled="!button"/>									
												</div>
											</fieldset>
										</div>
										
									</form>	
								</div>
								<br>
								<fieldset>
									<div class="col-sm-3">
										<label style ="color:red">*</label><span class="space space-xs"></span><label><small>Required field</small></label>
									</div>										
								</fieldset>
								<div class="modal-footer" ng-show="hide('update')">
									<button type="submit" class="btn btn-success" ng-hide="button" ng-click="button=true; edit();">Edit</button>
									<button type="submit" class="btn btn-success" ng-disabled="myForm.$invalid" ng-show="button" ng-click="save()">Save</button>
									<button class="btn btn-danger" ng-click="cancel()">Cancel</button>
								</div>
								<div class="modal-footer" ng-hide="hide('update')">
									<button class="btn btn-danger" ng-click="cancel()">Close</button>
								</div>
							</script>
				
			
				
				
						<!--## FORM SKILL ##-->
						<section class="panel panel-primary table-dynamic" ng-controller="skillQualCtrl">
							<div class="panel-heading"><strong><span class="glyphicon glyphicon-th" style="margin-right: 8px;"></span>Skills</strong></div>
								<div class='panel-body'>	
									<div class="form-group">
										<div class="row">
											<div class="col-md-4">
												<form>
													<button class="btn btn-gap-v btn-success" 
															ng-click="open()"
															ng-show="hide('create')"> 
															Add 
													</button>
													<span class="space space-sm"></span>
													<button class="btn btn-gap-v btn-danger"  
															ng-click="remove(check.skills)"
															ng-show="hide('delete')">
															Delete
													</button>
												</form>
											</div>
										</div>
									</div>
									<table class="table table-bordered table-striped table-responsive">
										<thead>
											<tr id="heading">
													<th style="width:1%"><div class="th">
													</div></th>
													<th style="width:50%"><div class="th">
														Skill
													</div></th>
													<th style="width:50%"><div class="th">
														Years of Experience
													</div></th>
											</tr>
										</thead>
										<tbody>
											<tr data-ng-repeat="skill in skills | filter:search | filter:new_search">
												<td><input type="checkbox" checklist-model="check.skills" checklist-value="skill.id"></td>
												<td ng-click="edit('',skill)" style="cursor:pointer">{{skill.level}}</td>
												<td ng-click="edit('',skill)" style="cursor:pointer">{{skill.year_of_exp}}</td>
											</tr>
										</tbody>
									</table>
								</div>
						</section>
						<!--Modal Add Skills -->
						<script type="text/ng-template" id="modalSkills.html">
							<div class="modal-header">
								<h4><i class="fa fa-save" style="margin-right: 8px;" ></i>Add Skills</h4>
							</div>
							<div class="modal-body">
								<form name="myForm"  class="form-validation" ng-submit="myForm.$valid && submit()">	
									<div class="form-group">	
										<fieldset>
											<div class="col-sm-4">
												<label for="">Skill</label><span class="space space-sm"></span><label style ="color:red">*</label>
											</div>
											<div class="col-sm-6">
												<select class="form-control" ng-model="formData.level" required>
													<option value=''>-- Select --</option>
													<option  value="{{store.id}}"  ng-repeat="store in stores">{{store.title}}</option>
												</select>
											</div>
										</fieldset>
									</div>
									<div class="form-group">	
										<fieldset>
											<div class="col-sm-4">
												<label for="">Years of Experience</label>
											</div>
											<div class="col-sm-6">
												<input type="text" name="year" class="form-control" ng-model="formData.year_of_exp"  ng-pattern="/^(\d)+$/"/>
															<span style="color:red" ng-show="myForm.year.$dirty && myForm.year.$invalid">
																<span ng-show="myForm.year.$dirty && myForm.year.$error.pattern">Invalid input.</span>
											</div>
										</fieldset>
									</div>
									<div class="form-group">	
										<fieldset>
											<div class="col-sm-4">
												<label for="">Comments</label>
											</div>
											<div class="col-sm-6">
												<textarea class="form-control ng-pristine ng-valid" rows="4" cols="40" autocomplete='off' ng-model="formData.comment"></textarea>
											</div>
										</fieldset>
									</div>
								</form>	
							</div>
							<br>
							<fieldset>
								<div class="col-sm-3">
									<label style ="color:red">*</label><span class="space space-xs"></span><label><small>Required field</small></label>
								</div>										
							</fieldset>
							<div class="modal-footer">
								<button type="submit" class="btn btn-success" ng-disabled="myForm.$invalid" ng-click="save()">Save</button>
								<button class="btn btn-danger" ng-click="cancel()">Cancel</button>
							</div>
						</script>
						<!--Modal Edit Skills -->
						<script type="text/ng-template" id="modalEditSkills.html">
							<div class="modal-header">
								<button type="button" class="close" ng-click="cancel()" style="color:white;" data-dismiss="modal" aria-hidden="true">&times;</button>
									<h4><i class="fa fa-pencil-square-o" style="margin-right: 8px;" ></i>Edit Skills</h4>
							</div>
							<div class="modal-body">
								<form name="myForm"  class="form-validation" ng-submit="myForm.$valid && submit()">	
									<div class="form-group">	
										<fieldset>
											<div class="col-sm-4">
												<label for="">Skill</label><span class="space space-sm"></span><label style ="color:red">*</label>
											</div>
											<div class="col-sm-6">
												<select class="form-control" ng-model="formData.level" ng-disabled="!button" required>
													<option value=''>-- Select --</option>
													<option ng-repeat="store in stores" value="{{store.id}}" ng-selected="{{formData.level == store.title}}">{{store.title}}</option>
												</select>
											</div>
										</fieldset>
									</div>
									<div class="form-group">	
										<fieldset>
											<div class="col-sm-4">
												<label for="">Years of Experience</label>
											</div>
											<div class="col-sm-6">
												<input type="text" name="year" class="form-control" ng-model="formData.year_of_exp" ng-disabled="!button" ng-pattern="/^(\d)+$/"/>
														<span style="color:red" ng-show="myForm.year.$dirty && myForm.year.$invalid">
															<span ng-show="myForm.year.$dirty && myForm.year.$error.pattern">Invalid input.</span>
											</div>
										</fieldset>
									</div>
									<div class="form-group">	
										<fieldset>
											<div class="col-sm-4">
												<label for="">Comments</label>
											</div>
											<div class="col-sm-6">
											<textarea class="form-control ng-pristine ng-valid" rows="4" cols="40" ng-model="formData.comment" autocomplete='off' ng-disabled="!button"></textarea>								
											</div>
										</fieldset>
									</div>
									
								</form>	
							</div>
							<br>
							<fieldset>
								<div class="col-sm-3">
									<label style ="color:red">*</label><span class="space space-xs"></span><label><small>Required field</small></label>
								</div>										
							</fieldset>
							<div class="modal-footer" ng-show="hide('update')">
								<button type="submit" class="btn btn-success" ng-hide="button" ng-click="button=true; edit();">Edit</button>
								<button type="submit" class="btn btn-success" ng-disabled="myForm.$invalid" ng-show="button" ng-click="save()">Save</button>
								<button class="btn btn-danger" ng-click="cancel()">Cancel</button>
							</div>
							<div class="modal-footer" ng-hide="hide('update')">
								<button class="btn btn-danger" ng-click="cancel()">Close</button>
							</div>
						</script>
					
					
						<!--## FORM LANGUAGES ##-->
						<section class="panel panel-primary table-dynamic" data-ng-controller="langQualCtrl">
							<div class="panel-heading"><strong><span class="glyphicon glyphicon-th" style="margin-right: 8px;"></span>Languages</strong></div>
								<div class='panel-body'>	
									<div class="form-group">
										<div class="row">
											<div class="col-md-4">
												<form>
													<button class="btn btn-gap-v btn-success" ng-show="hide('create')" ng-click="open()"> Add </button>
														<span class="space space-sm"></span>
													<button class="btn btn-gap-v btn-danger"  ng-show="hide('delete')"  ng-click="remove(dellang.languages)">Delete</button>
												</form>
											</div>
										</div>
									</div>
									<table class="table table-bordered table-striped table-responsive">
										<thead>
											<tr id="heading">
												<th style="width:1%"><div class="th">
												</div></th>
												<th style="width:45%"><div class="th">
													Language
												</div></th>
												<th style="width:45%"><div class="th">
													Fluency Level
												</div></th>
											</tr>
										</thead>
										<tbody>
											<tr data-ng-repeat="lang in languages | filter:search | filter:new_search">
												<td><input type="checkbox" checklist-model="dellang.languages" checklist-value="lang.id"></td>
												<td ng-click="edit('',lang)" style="cursor:pointer">{{lang.language}}</td>
												<td ng-click="edit('',lang)"style="cursor:pointer">{{lang.fluent}}</td>
											</tr>
										</tbody>
									</table>
								</div>
						</section>
						<!--Modal Add Languages -->
						<script type="text/ng-template" id="modalLang.html">
							<div class="modal-header">
								<h4><i class="fa fa-save" style="margin-right: 8px;" ></i>Add Languages</h4>
							</div>
							<div class="modal-body">
								<form name="myForm"   class="form-validation" ng-submit="myForm.$valid && submit()">	
									<div class="form-group">	
										<fieldset>
											<div class="col-sm-4">
												<label for="">Language</label><span class="space space-sm"></span><label style ="color:red">*</label>
											</div>
											<div class="col-sm-6">
												<select class="form-control" ng-model="formData.language" required>
													<option value=''>-- Select --</option>
													<option value="{{data.id}}"  ng-repeat="data in datalanguage">{{data.title}}</option>
												</select>
											</div>
										</fieldset>
									</div>
									<div class="form-group">	
										<fieldset>
											<div class="col-sm-4">
												<label for="">Fluency Level</label>
											</div>
											<div class="col-sm-6">
												<input type="text" class="form-control"  autocomplete='off' ng-model="formData.fluent"/>																								
											</div>
										</fieldset>
									</div>
									
								</form>	
							</div>
							<br>
							<fieldset>
								<div class="col-sm-3">
									<label style ="color:red">*</label><span class="space space-xs"></span><label><small>Required field</small></label>
								</div>										
							</fieldset>
							<div class="modal-footer">
								<button type="submit" class="btn btn-success" ng-disabled="myForm.$invalid" ng-click="save()">Save</button>
								<button class="btn btn-danger" ng-click="cancel()">Cancel</button>
							</div>
						</script>
						<!--Modal Edit Languages -->
						<script type="text/ng-template" id="modalEditLang.html">
							<div class="modal-header">
									<button type="button" class="close" ng-click="cancel()" style="color:white;" data-dismiss="modal" aria-hidden="true">&times;</button>
								<h4><i class="fa fa-pencil-square-o" style="margin-right: 8px;" ></i>Edit Languages</h4>
							</div>
							<div class="modal-body">
								<form name="myForm"   class="form-validation" ng-submit="myForm.$valid && submit()">	
									<div class="form-group">	
										<fieldset>
											<div class="col-sm-4">
												<label for="">Language</label><span class="space space-sm"></span><label style ="color:red">*</label>
											</div>
											<div class="col-sm-6">
												<select class="form-control" ng-model="formData.language" ng-disabled="!button" required>
													<option value=''>-- Select --</option>
													<option value="{{data.id}}"  ng-selected="{{formData.language == data.title}}"  ng-repeat="data in datalanguage">{{data.title}}</option>
												</select>
											</div>
										</fieldset>
									</div>
									<div class="form-group">	
										<fieldset>
											<div class="col-sm-4">
												<label for="">Fluency Level</label>
											</div>
											<div class="col-sm-6">
												<input type="text" class="form-control" autocomplete='off' ng-model="formData.fluent" ng-disabled="!button"/>																								
											</div>
										</fieldset>
									</div>
									
								</form>	
							</div>
							<br>
							<fieldset>
								<div class="col-sm-3">
									<label style ="color:red">*</label><span class="space space-xs"></span><label><small>Required field</small></label>
								</div>										
							</fieldset>
							<div class="modal-footer" ng-show="hide('update')">
								<button type="submit" class="btn btn-success" ng-hide="button" ng-click="button=true; edit();">Edit</button>
								<button type="submit" class="btn btn-success" ng-disabled="myForm.$invalid" ng-show="button" ng-click="save()">Save</button>
								<button class="btn btn-danger" ng-click="cancel()">Cancel</button>
							</div>
							<div class="modal-footer" ng-hide="hide('update')">
								<button class="btn btn-danger" ng-click="cancel()">Close</button>
							</div>
						</script>
						<div class="col-md-2">
						</div>
						
						
						
						<!-- ## FORM SEMINAR AND TRAINING ## -->
						<section class="panel panel-primary table-dynamic"  data-ng-controller="seminarCtrl">
							<div class="panel-heading"><strong><span class="glyphicon glyphicon-th" style="margin-right: 8px;"></span>Seminar / Training</strong></div>
								<div class='panel-body'>	
									<div class="form-group">
										<div class="row">
											<div class="col-md-4">
												<form>
													<button class="btn btn-gap-v btn-success" ng-show="hide('create')" ng-click="open()"> Add </button>
														<span class="space space-sm"></span>
													<button class="btn btn-gap-v btn-danger"  ng-show="hide('delete')"  ng-click="remove(delsem.seminars)">Delete</button>
												</form>
											</div>
										</div>
									</div>
									<table class="table table-bordered table-striped table-responsive">
										<thead>
											<tr id="heading">
													<th style="width:1%" ng-model="student.selected"><div class="th">
													</div></th>
													<th style="width:20%"><div class="th">
														Name
													</div></th>
													<th style="width:15%"><div class="th">
														Date
													</div></th>
													<th style="width:20%"><div class="th">
														Location
													</div></th>
													<th style="width:15%"><div class="th">
														File
													</div></th>
											</tr>
										</thead>
										<tbody>
											<tr data-ng-repeat="student in seminars | filter:search | filter:new_search">
												<td><input type="checkbox" checklist-model="delsem.seminars" checklist-value="student.id"></td>
												<td ng-click="edit('',student)" style="cursor:pointer">{{student.name}}</td>
												<td ng-click="edit('',student)" style="cursor:pointer">{{student.date}}</td>
												<td ng-click="edit('',student)" style="cursor:pointer">{{student.location}}</td>
												<td ng-click="getfile($event)" style="cursor:pointer"><a target="_parent" ng-href = "{{e}}">{{student.filename}}</td></a>
											</tr>
										</tbody>
									</table>
								</div>
						</section>
						<!--Modal Add Seminar -->
						<script type="text/ng-template" id="modalSemi.html">
							<div class="modal-header">
								<h4><i class="fa fa-save" style="margin-right: 8px;" ></i>Add Seminar & Training</h4>
							</div>
							<div class="modal-body">
								<form name="myForm"   class="form-validation" ng-submit="myForm.$valid && submit()">	
									<div class="form-group">	
										<fieldset>
											<div class="col-sm-3">
												<label for="">Name</label><span class="space space-sm"></span><label style ="color:red">*</label>
											</div>
											<div class="col-sm-6">
												<input type="text" name="semi" class="form-control" ng-model="formData.name" autocomplete='off' required/>
													<span style="color:red" ng-show="myForm.semi.$dirty && myForm.semi.$invalid">
														<span ng-show="myForm.semi.$error.required">Required field.</span>
													</span>												
											</div>
										</fieldset>
									</div>
									<div class="form-group">
										<fieldset>
											<div class="col-sm-3">
												<label for="">Date</label>
											</div>
											<div class="col-sm-6">
												 <input type="date" min="1900-01-01" max="2100-01-01" class="form-control" ng-model="formData.date"
													placeholder="yyyy-mm-dd"/>									
											</div>
										</fieldset>
									</div>
									<div class="form-group">	
										<fieldset>
											<div class="col-sm-3">
												<label for="">Location</label>
											</div>
											<div class="col-sm-6">
												<input type="text" name="Location" class="form-control" ng-model="formData.location" autocomplete='off'/>											
											</div>
										</fieldset>
									</div>
									<div class="form-group">
										<fieldset>
											<div class='col-sm-3'>
												<button type="button" 
														class="btn btn-primary" 
														accept=" image/jpeg, image/png, image/gif, image/jpg, application/pdf,"
														ngf-select ngf-change="upload($files)"
														ngf-multiple="multiple"
														ng-model="formData.files">
														Select File
												</button>
											</div>		
											<div class='col-sm-5'>
												<label ng-hide="formData.files">Accepts Up to 10MB</label>
												<label ng-repeat="f in formData.files"  ng-show="formData.files">{{f.name}}</label>
											</div>
											<div class='col-sm-3'  ng-show="formData.files">
												<button class="btn btn-danger"  tooltip-placement="top" tooltip="Delete File"  ng-click="formData.files=false">
													<span class="glyphicon glyphicon-trash"></span>
												</button>
											</div>
										</fieldset>
									</div>
								</form>	
							</div>
							<br>
							<fieldset>
								<div class="col-sm-3">
									<label style ="color:red">*</label><span class="space space-xs"></span><label><small>Required field</small></label>
								</div>										
							</fieldset>
							<div class="modal-footer">
								<button type="submit" class="btn btn-success" ng-disabled="myForm.$invalid" ng-click="save(formData.files)">Save</button>
								<button class="btn btn-danger" ng-click="cancel()">Cancel</button>
							</div>
						</script>
							
						<!--Modal Edit Seminar -->
						<script type="text/ng-template" id="modalEditSemi.html">
							<div class="modal-header">
									<button type="button" class="close" ng-click="cancel()" style="color:white;" data-dismiss="modal" aria-hidden="true">&times;</button>
								<h4><i class="fa fa-pencil-square-o" style="margin-right: 8px;" ></i>Edit Seminar & Training</h4>
							</div>
							<div class="modal-body">
								<form name="myForm"  class="form-validation" ng-submit="myForm.$valid && submit()">	
									<div class="form-group">	
										<fieldset>
											<div class="col-sm-3">
												<label for="">Name</label><span class="space space-sm"></span><label style ="color:red">*</label>
											</div>
											<div class="col-sm-6">
												<input type="text" name="semi" class="form-control" ng-model="formData.name" autocomplete='off' ng-disabled="!button" required/>
													<span style="color:red" ng-show="myForm.semi.$dirty && myForm.semi.$invalid">
														<span ng-show="myForm.semi.$error.required">Required field.</span>
													</span>												
											</div>
										</fieldset>
									</div>
									<div class="form-group">
										<fieldset>
											<div class="col-sm-3">
												<label for="">Date</label>
											</div>
											<div class="col-sm-6">
												 <input type="date" class="form-control" min="1900-01-01" max="2100-01-01" ng-model="formData.date" ng-disabled="!button"
													placeholder="yyyy-mm-dd"/>									
											</div>
										</fieldset>
									</div>
									<div class="form-group">	
										<fieldset>
											<div class="col-sm-3">
												<label for="">Location</label>
											</div>
											<div class="col-sm-6">
												<input type="text" name="Location" class="form-control" ng-model="formData.location" autocomplete='off' ng-disabled="!button"/>											
											</div>
										</fieldset>
									</div>
									<div class="form-group">
										<fieldset>
											<div class='col-sm-3'>
												<button type="button" 
														class="btn btn-primary" 
														accept=" image/jpeg, image/png, image/gif, image/jpg, application/pdf,"
														ngf-select ngf-change="upload($files)"
														ngf-multiple="multiple"
														ng-model="formData.files"
														ng-disabled="!button">
														Select File
												</button>
											</div>		
											<div class='col-sm-5'>
												<label ng-hide="formData.files">Accepts Up to 10MB</label>
												<label ng-repeat="f in formData.files"  ng-show="formData.files">{{f.name}}</label>
											</div>
											<div class='col-sm-3'>
												<button class="btn btn-danger"  
														tooltip-placement="top" 
														tooltip="Delete File"  
														ng-click="formData.files=false"
														ng-disabled="!button"
														ng-show="formData.files"
														ng-hide='!delbutton'>
														<span class="glyphicon glyphicon-trash"></span>
												</button>
											</div>
										</fieldset>
									</div>
								</form>	
							</div>
							<br>
							<fieldset>
								<div class="col-sm-3">
									<label style ="color:red">*</label><span class="space space-xs"></span><label><small>Required field</small></label>
								</div>										
							</fieldset>
							<div class="modal-footer" ng-show="hide('update')">
								<button type="submit" class="btn btn-success" ng-hide="button" ng-click="button=true; edit();">Edit</button>
								<button type="submit" class="btn btn-success" ng-disabled="myForm.$invalid" ng-show="button" ng-click="save(formData.files)">Save</button>
								<button class="btn btn-danger" ng-click="cancel()">Cancel</button>
							</div>
							<div class="modal-footer" ng-hide="hide('update')">
								<button class="btn btn-danger" ng-click="cancel()">Close</button>
							</div>
						</script>
					</div>
					
			</div>
		</div>
		
		
<!--
Old concept in add modal seminar
<!-- <div class="form-group">
<fieldset>
<div class="col-sm-3">
<label for="">Select File</label>
</div>
<div class="col-sm-4">
<button type="button" 
class="btn btn-primary" 
accept=" image/jpeg, image/png, application/pdf,"
ngf-select ngf-change="upload($files)"
ngf-multiple="multiple"
ng-model="files"
ng-hide="files"
>Choose File</button>
<label ng-repeat="f in files" ng-show="files">{{f.name}}</label>
<br><br>
<label ng-hide="files">Accepts up to 10 MB</label>
</div>
</fieldset>
</div> -->
<!--
Old concept in edit modal seminar
<!--
<div class="form-group">
<fieldset>
<div class="col-sm-3">
<label for="">Select File</label>
</div>
<div class="col-sm-4">
<label ng-repeat="f in files">{{f.name}}</label>
</div>
</fieldset>
</div>
<div class="form-group">
<fieldset>
<div class="col-sm-3"></div>
<div class="col-sm-9" ng-show="open">
<label class="ui-radio"><input name="keep"   type="radio" value="1"  ng-model="formData.radio"><span> Keep Current</span></label>
<label class="ui-radio"><input name="delete" type="radio" value="2"  ng-model="formData.radio"><span> Delete Current</span></label>
<label class="ui-radio"><input name="replace" type="radio" value="3"  ng-model="formData.radio" ng-click="replaceFile()"><span> Replace</span></label>
</div>
</fieldset>
</div>
<div class="form-group">	
<fieldset>
<div class="col-sm-3"></div>
<div class="col-sm-3">
<button type="button"
name="files"
class="btn btn-primary" 
accept="image/jpeg, image/png, image/gif, application/pdf, "
ngf-select ngf-change="upload($files)"
ngf-multiple="multiple"
ng-model="files"
ng-hide="bfile"
ng-disabled ="!button"
>Choose File</button>
</div>
</fieldset>
</div>
-->

				
				
				
