
<div class="" ng-controller="trainingControllerDashboard as training">
	<section class="panel panel-primary table-dynamic">
		<div class="panel-heading" ng-click="showTraining = !showTraining"><span class="glyphicon glyphicon-th" style="margin-right: 8px;"></span>
			<strong>
				{{training.handler.form.type}}<label ng-hide="training.handler.form.type">Training / Official</label> REQUEST
			</strong>
		</div>

		<div ng-show="showTraining">
			<div class="panel-body">	
				<form name="form" class="form-horizontal form-validation">
					<div ng-if="training.handler.NotSuperUserSearch">
						<div class="form-group">
							<div class="col-sm-1">
								<label>Name</label><span class="space space-sm"></span><label style ="color:red">*</label>
							</div>
							<div class="col-sm-2">
								<input 	type="text"
								placeholder="Type for hint . ."
								class="form-control"
								name="name"
								data-ng-model="name"
								typeahead="(address.name) for address in training.handler.getLocation($viewValue)" 
								typeahead-loading="loadingLocations"
								typeahead-min-length="4"
								typeahead-wait-ms="300"
								typeahead-on-select="training.handler.onSelect($item, $model, $label)"
								autocomplete="off"
								disabled 

								/>
								<!-- ng-disabled="!training.handler.hide" -->
									<!-- <span style="color:red" ng-show="form.name.$dirty && form.name.$invalid">
										<span ng-show="form.name.$error.required"> Required field.</span>
									</span>	-->	
								</div>
							</div>

						</div>

						<div ng-if="training.handler.SuperUserSearch">
							<div class="form-group">
								<div class="col-sm-1">
									<label>Name</label><span class="space space-sm"></span><label style ="color:red">*</label>
								</div>
								<div class="col-sm-2">
									<input 	type="text"
									placeholder="Type for hint . ."
									class="form-control"
									name="name"
									ng-model="training.handler.form.name"
									typeahead="(address.name) for address in training.handler.getLocation($viewValue)" 
									typeahead-loading="loadingLocations"
									typeahead-min-length="4"
									typeahead-wait-ms="300"
									typeahead-on-select="training.handler.onSelect($item, $model, $label)"
									autocomplete="off"
									ng-disabled="!training.handler.hide"

									/>

									<!-- <span style="color:red" ng-show="form.name.$dirty && form.name.$invalid">
										<span ng-show="form.name.$error.required"> Required field.</span>
									</span>	-->	
								</div>
							</div>	
						</div>
						
						<div class="form-group">
							<div class="col-sm-1">
								<label>Request Type</label><span class="space space-sm"></span><label style ="color:red">*</label>
							</div>
							<div class="col-sm-2">
								<select class="form-control"  name="type" ng-model="training.handler.form.type">
									<option value="">-- Select --</option>
									<option value="Training">Training</option>
									<option value="Official Business">Official Business</option>
								</select>
									<!-- <span style="color:red" ng-show="form.type.$dirty && form.type.$invalid">
										<span ng-show="form.type.$error.required"> Required field.</span>
									</span> -->												
								</div>
							</div>
							<div class="form-group">
								<fieldset>
									<div class="col-sm-1">
										<label> Date Start</label>
									</div>
									<div class="col-sm-2">
										<input type="date" 
										class="form-control" 
										ng-model="training.handler.form.start"
										max="{{training.handler_hood.getLastDay}}"
										ng-change="training.handler.test(training.handler.form.start)"
										placeholder="yyyy-mm-dd"
										/>
										 <!-- <input type="date" 
										 												class="form-control" 
										 												ng-model="training.handler.form.start"
										 												min="{{training.handler_hood.getStartDay}}" 
										 												max="{{training.handler_hood.getLastDay}}"
										 												ng-change="training.handler.test(training.handler.form.start)"
										 												placeholder="yyyy-mm-dd"
										 												/> -->
										 											</div>
										 										</fieldset>
										 									</div>
										 									<div class="form-group">
										 										<fieldset>
										 											<div class="col-sm-1">
										 												<label>Date End</label>
										 											</div>
										 											<div class="col-sm-2">
										 												<input type="date" 
										 												class="form-control" 
										 												ng-model="training.handler.form.end"
										 												max="{{training.handler.getLastDay}}"
										 												ng-disabled = "training.handler.default"
										 												placeholder="yyyy-mm-dd"
										 												/>
										<!--  <input type="date" 
																						class="form-control" 
																						ng-model="training.handler.form.end"
																						min="{{training.handler.injectTo}}" 
																						max="{{training.handler.getLastDay}}"
																						ng-disabled = "training.handler.default"
																						placeholder="yyyy-mm-dd"
																						/> -->
																					</div>
																				</fieldset>
																			</div><hr>
																			<div class="form-group">
																				<fieldset>
																					<div class="col-sm-3">
																						<label style ="color:red">*</label><span class="space space-xs"></span><label><small>Required field</small></label>
																					</div>										
																				</fieldset>
																			</div>
																		</form>
																	</div>
																</div>

															</section>

															<div ng-show="showTraining">
																<!-- ##  TABLE COMMENT  ## -->
																<section class="panel panel-primary">
																	<div class="panel-heading"><label class="text-capitalize">Comments for Consideration</label></div>
																	<div class="panel-body">	
																		<form name="myForm" class="form-horizontal form-validation">
																			<div class="form-group">
																				<div class="col-md-12">
																					<textarea class="form-control" rows="5" cols="40" placeholder="Comment Consideration" ng-model="training.handler.form.comment"></textarea>
																				</div>
																			</div><br>
																			<div class="form-group">
																				<fieldset>
																					<div class='col-sm-1'>
																						<button type="button" 
																						class="btn btn-default" 
																						accept="files/*"
																						ngf-select ngf-change="upload($files)"
																						ngf-multiple="multiple"
																						ng-model="training.handler.files"
																						ng-show="training.handler.button('create')">
																						Upload a File
																					</button>
																				</div>		
																				<div class='col-sm-2'>
																					<label ng-repeat="f in training.handler.files"  ng-show="training.handler.files">{{f.name}}</label>
																				</div>
																				<div class='col-sm-3'  ng-show="training.handler.files">
																					<button class="btn btn-danger"  tooltip-placement="top" tooltip="Delete File" ng-click=" training.handler.files = false">
																						<span class="glyphicon glyphicon-trash" ></span>
																					</button>
																				</div>
																			</fieldset>
																		</div>
																		<hr>
																		<div class="form-group">										
																			<div class="col-sm-6">
																				<form>
																					<button type="submit" 
																					class="btn btn-success"   
																					ng-click="training.handler.save(training.handler.files)"
																					ng-show="training.handler.button('create')">
																					Save
																				</button>
																				<span class="space space-sm"></span>
																				<button type="submit" 
																				class="btn btn-danger"   
																				ng-click="training.handler.cancel()"
																				ng-show="training.handler.button('create')">
																				Cancel
																			</button>
																		</form>
																	</div>
																</div>
															</form>
														</div>
													</section>

												</div>


											</div>


											<!-- ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// -->


											<div class="" ng-controller="overUnderControllerDashboard as over">

												<!-- TABLE OVERTIME / UNDERTIME -->
												<div class="panel panel-primary table-dynamic">
													<div class="panel-heading" ng-click="showOvertime = !showOvertime"><span class="glyphicon glyphicon-th" style="margin-right: 8px;"></span>
														<strong>
															{{over.handler.form.type}}<label ng-hide="over.handler.form.type">overtime / undertime</label> REQUEST
														</strong>
													</div>


													<div ng-show="showOvertime">
														<div class="panel-body">	
															<form name="form" class="form-horizontal form-validation">
																<div ng-if="over.handler.NotSuperUserSearch">
																	<div class="form-group">
																		<div class="col-sm-1">
																			<label>Name</label><span class="space space-sm"></span><label style ="color:red">*</label>
																		</div>
																		<div class="col-sm-2">
																			<input 	type="text"
																			placeholder="Type for hint . ."
																			class="form-control"
																			name="name"
																			data-ng-model="name"
																			typeahead="(address.name) for address in over.handler.getLocation($viewValue)" 
																			typeahead-loading="loadingLocations"
																			typeahead-min-length="4"
																			typeahead-wait-ms="300"
																			typeahead-on-select="over.handler.onSelect($item, $model, $label)"
																			autocomplete="off"
																			disabled 



																			/>
																			<!-- ng-disabled = "over.handler.hide" -->

																		</div>
																	</div>

																</div>
																

																<div ng-if="over.handler.SuperUserSearch">
																	<div class="form-group">
																		<div class="col-sm-1">
																			<label>Name</label><span class="space space-sm"></span><label style ="color:red">*</label>
																		</div>
																		<div class="col-sm-2">
																			<input 	type="text"
																			placeholder="Type for hint . ."
																			class="form-control"
																			name="name"
																			data-ng-model="over.handler.form.name"
																			typeahead="(address.name) for address in over.handler.getLocation($viewValue)" 
																			typeahead-loading="loadingLocations"
																			typeahead-min-length="4"
																			typeahead-wait-ms="300"
																			typeahead-on-select="over.handler.onSelect($item, $model, $label)"
																			autocomplete="off"
																			ng-disabled = "over.handler.hide"

																			/>

																		</div>
																	</div>
																</div>
																
																<div class="form-group">
																	<div class="col-sm-1">
																		<label>Request Type</label><span class="space space-sm"></span><label style ="color:red">*</label>
																	</div>
																	<div class="col-sm-2">
																		<select class="form-control"  name="type" ng-model="over.handler.form.type" ng-disabled="!over.handler.button('create')" >
																			<option value="">-- Select -- </option>
																			<option value="Overtime">Overtime</option>
																			<option value="Undertime">Undertime</option>
																		</select>
											<!-- <span style="color:red" ng-show="myForm.type.$dirty && myForm.type.$invalid">
												<span ng-show="myForm.type.$error.required"> Required field.</span>
											</span>	 -->											
										</div>
									</div>
									<div class="form-group">
										<fieldset>
											<div class="col-sm-1">
												<label ng-show="over.handler.form.type == 'Overtime'"> Date Request</label>
												<label ng-show="over.handler.form.type == 'Undertime'"> Date Request</label>
											</div> 
											<div class="col-sm-2">
												<!-- DATE FOR OVERTIME -->
												<input 	type="date" 
												class="form-control" 
												ng-change="over.handler.update()" 
												ng-model="over.handler.form.dateRequest"
												ng-show="over.handler.form.type == 'Overtime'"
												/>
												
												<!-- DATE FOR UNDERTIME -->
												<input 	type="date" 
												class="form-control" 
												ng-change="over.handler.updateUnder()" 
												ng-model="over.handler.form.dateRequest"
												ng-show="over.handler.form.type == 'Undertime'"
												/>
											</div>
											<div class="col-sm-1">
												<label ng-show="over.handler.form.type == 'Overtime' && over.handler.form.total >= '4 '">Compensation With</label>
											</div>
											<div class="col-sm-2" ng-show="over.handler.form.type == 'Overtime' && over.handler.form.total >= '4 '">												
												<label class="ui-radio">
													<input 	name="local" 
													type="radio" 
													value="Pay" 
													ng-model="over.handler.form.compensation">
													<span>Pay</span>
												</label>
												<label class="ui-radio">
													<input 	name="local" 
													type="radio" 
													value="Overtime Day Off" 
													ng-model="over.handler.form.compensation">
													<span>Overtime Day Off</span>
												</label>
											</div>
										</fieldset>
									</div>
									<div class="form-group">
										<fieldset>
											<div class="col-sm-4">
												<!-- DATA SCHEDULE OVERTIME -->
												<label ng-show="over.handler.form.type == 'Overtime' && over.handler.form.dateRequest">Schedule Work Hours :</label>
												<span class="space space-sm" ng-show="over.handler.form.type == 'Overtime'&& over.handler.form.dateRequest"></span>
												<label ng-show="over.handler.form.type == 'Overtime'&& over.handler.form.dateRequest">{{over.handler.form.work_hour}}</label>
												
												<!-- DATA SCHEDULE UNDERTIME -->
												<label ng-show="over.handler.form.type == 'Undertime' && over.handler.form.dateRequest">Schedule Work Hours :</label>
												<div class="space" ng-show="over.handler.form.type == 'Undertime'&& over.handler.form.dateRequest"></div>
												<label ng-show="over.handler.form.type == 'Undertime' && over.handler.form.dateRequest">{{over.handler.form.from}}</label>
												<label ng-show="over.handler.form.type == 'Undertime'&& over.handler.form.dateRequest">to</label>
												<label ng-show="over.handler.form.type == 'Undertime'&& over.handler.form.dateRequest">{{over.handler.form.to}}</label>
												<label ng-show="over.handler.form.type == 'Undertime'&& over.handler.form.dateRequest">With Duration</label>
												<div class="space" ng-show="over.handler.form.type == 'Undertime'&& over.handler.form.dateRequest"></div>
												<label ng-show="over.handler.form.type == 'Undertime'">{{over.handler.form.duration}}</label>
												
											</div>
										</fieldset>
									</div>


									<!--style="-webkit-appearance: none;"-->
									<!-- <div class="form-group">
										<div class="col-sm-2">
											<label>Requested</label>
										</div>
										<div class="col-sm-3"  style="text-align:center;">
										<div ng-model="over.getTimeIn" style="display:inline-block;">
												<timepicker class="ui-timepicker" 
												ng-show="over.handler.form.type == 'Overtime'"
												hour-step="over.hstep" 
												minute-step="over.mstep" 
												show-meridian="over.ismeridian">
											</timepicker>
										</div>	
									</div>
									<div class="col-sm-3"  style="text-align:center;" >
										<div ng-model="over.getTimeOut" style="display:inline-block;">
											<timepicker class="ui-timepicker" 
											ng-show="over.handler.form.type == 'Overtime'"
											hour-step="over.hstepOut" 
											minute-step="over.mstepOut" 
											show-meridian="over.ismeridian">
										</timepicker>
									</div>	
								</div>
							</div> -->
							<div class="form-group">
								<fieldset>
									<div class="col-sm-2">
										<label ng-show="over.handler.form.type == 'Overtime' && over.handler.form.dateRequest">Overtime Needed From :</label>
										<label ng-show="over.handler.form.type == 'Undertime' && over.handler.form.dateRequest">Request work end time :</label>
									</div>
									<div class="col-sm-1">
										<!-- INPUT TIME FOR OVERTIME -->
										<!-- <select class="form-control" 
										ng-model="over.handler.form.overtimeFrom"  
										ng-init="over.handler.form.overtimeFrom = over.handler.schedule[0]" 
										ng-show="over.handler.form.type == 'Overtime'"
										ng-change="over.handler.findOvertime(over.handler.form)">		
										<option ng-repeat="job in over.handler.schedule_from()" 
										value="{{job}}">
										{{job}}
									</option>
								</select> -->
								<div style="text-align:center;">
									<div ng-model="over.getTimeIn" ng-change="over.allChanged()" style="display:inline-block;">
										<timepicker class="ui-timepicker" 
										ng-show="over.handler.form.type == 'Overtime' && over.handler.form.dateRequest"
										hour-step="over.hstep" 
										minute-step="over.mstep" 
										show-meridian="over.ismeridian">
									</timepicker>
								</div>	
							</div>

							<!-- INPUT SHORT TIME FOR UNDERTIME -->
							<!-- <select class="form-control"
							ng-model="over.handler.form.shortUnder"  
							ng-init="over.handler.form.shortUnder = over.handler.schedule[0]" 
							ng-show="over.handler.form.type == 'Undertime' && over.handler.form.dateRequest"
							ng-change="over.handler.findUndertimes(over.handler.form)">
							<option ng-repeat="job in over.handler.schedule" 
							value="{{job}}">
							{{job}}
						</option>
					</select> -->
					<div style="text-align:center;">
					<div ng-model="over.getUndertime" ng-change="over.allChangedUndertime()" style="display:inline-block;">
							<timepicker class="ui-timepicker" 
							ng-show="over.handler.form.type == 'Undertime' && over.handler.form.dateRequest"
							hour-step="over.hstepUnderTime" 
							minute-step="over.mstepUnderTime" 
							show-meridian="over.ismeridian">
						</timepicker>
					</div>	
				</div>
			</div>
			<div class="col-sm-1">
				<label ng-show="over.handler.form.type == 'Overtime' && over.handler.form.dateRequest">Date :</label>
				<span class="space space-sm" ng-show="over.handler.form.type == 'Overtime' && over.handler.form.dateRequest"></span>
			</div>
			<!-- max="{{ over.handler.form.nextday | date :'yyyy-MM-dd' }}" -->
			<div class="col-sm-2">
				<input 	type="date" 
				class="form-control" 
				min="{{ over.handler.form.curdate | date :'yyyy-MM-dd' }}"
				ng-model="over.handler.form.dateNextday"
				ng-show="over.handler.form.type == 'Overtime' && over.handler.form.dateRequest"
				ng-change="over.allChanged()"
				/>
				<!-- ng-change="over.handler.findOvertime(over.handler.form)" -->
			</div>
			<div class="col-sm-1">
				<label ng-show="over.handler.form.type == 'Overtime' && over.handler.form.dateRequest">To :</label>

				<!-- SHORT TIME IN UNDERTIME-->
				<label ng-show="over.handler.form.type == 'Undertime' && over.handler.form.dateRequest">Short</label>

				<label ng-show="over.handler.form.type == 'Undertime' && over.handler.form.dateRequest">{{over.handler.total}}</label>
				<input 	type="hidden" 
				class="form-control" 
				ng-model="over.handler.form.shortTime"

				/>

			</div>
			<div class="col-sm-1">
				<!-- INPUT TIME FOR OVERTIME -->
						<!-- <select class="form-control"
						ng-show="over.handler.form.type == 'Overtime'"
						ng-model="over.handler.form.overtimeTo"  
						ng-init="over.handler.form.overtimeTo = over.handler.schedule[0]" 
						ng-show="over.handler.form.type == 'Overtime'"
						ng-change="over.handler.findOvertime(over.handler.form)">
						<option ng-repeat="job in over.handler.schedule" 
						value="{{job}}">
						{{job}}
					</option>
				</select> -->
				<div ng-model="over.getTimeOut" ng-change="over.allChanged()" style="display:inline-block;">
					<timepicker class="ui-timepicker" 
					ng-show="over.handler.form.type == 'Overtime' && over.handler.form.dateRequest"
					hour-step="over.hstepOut" 
					minute-step="over.mstepout" 
					show-meridian="over.ismeridian">
				</timepicker>
			</div>
		</div>

		<div class="col-sm-3">

		</label>	
		<label ng-show="over.handler.form.type == 'Overtime' && over.handler.form.dateRequest">Total Overtime :</label>
		<span class="space space-sm" ng-show="over.handler.form.type == 'Overtime'&& over.handler.form.dateRequest"></span>
		<label ng-show="over.handler.form.type == 'Overtime'&& over.handler.form.dateRequest">{{over.handler.form.overtime}} Hours</label>
		<input 	type="hidden" 
		class="form-control" 
		ng-model="over.handler.form.overtime"

		/>
		<label style='color:red' ng-show="over.handler.form.total <= '0.4'"><small>Minimum of 30 minutes for overtime * </small></label>	
	</div>
	<div class="col-sm-3">
		<!-- <button type="submit" ng-click="over.allChanged()">XXX</button> -->
	</div>
</fieldset>
</div><hr>
<div class="form-group">
	<fieldset>
		<div class="col-sm-3">
			<label style ="color:red">*</label><span class="space space-xs"></span><label><small>Required field</small></label>
		</div>										
	</fieldset>
</div>
</form>
</div>
</div>
</div>

<div ng-show="showOvertime">
	<!-- ## TABLE COMMENT ## -->
	<div class="panel panel-primary">
		<div class="panel-heading"><label class="text-capitalize">Comments for Consideration</label></div>
		<div class="panel-body">	
			<form name="myForm" class="form-horizontal form-validation">
				<div class="form-group">
					<div class="col-md-12">
						<textarea class="form-control" rows="5" cols="40" placeholder="Comments Consideration" ng-model="over.handler.form.comment"></textarea>
					</div>
				</div><br>
				<div class="form-group">
					<fieldset>
						<div class='col-sm-1'>
							<button type="button" 
							class="btn btn-default" 
							accept="files/*"
							ngf-select ngf-change="upload($files)"
							ngf-multiple="multiple"
							ng-model="over.handler.files"
							ng-show="over.handler.button('create')"
							ng-show="over.handler.button('create')">
							Upload a File
						</button>
					</div>		
					<div class='col-sm-2'>
						<label ng-repeat="f in over.handler.files"  ng-show="over.handler.files">{{f.name}}</label>
					</div>
					<div class='col-sm-3'  ng-show="over.handler.files">
						<button class="btn btn-danger"  tooltip-placement="top" tooltip="Delete File" ng-click=" over.handler.files = false">
							<span class="glyphicon glyphicon-trash" ></span>
						</button>
					</div>
				</fieldset>
			</div>
			<hr>
			
			<div class="form-group">										
				<div class="col-sm-6">
					<form>
						<!-- ng-disabled="over.handler.form.overtime_modified > 240 && over.handler.shiftOver != 'DO' || over.handler.form.overtime_modified == 0 || over.handler.jizz  == true" -->
						<button type="submit" class="btn btn-success"   ng-show="over.handler.button('create')"
						ng-click="over.handler.save(over.handler.files)" ng-disabled="over.handler.disabledButtonSave">Save</button>

						<span class="space space-sm"></span>
						<button type="submit" class="btn btn-danger"   ng-show="over.handler.button('create')" ng-click="over.handler.cancel()">Cancel</button>
					</form>
				</div>
			</div>


			

		</form>
	</div>
</div>

</div>


</div>													



<!-- ///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// -->

<div class="" ng-controller="changeShiftcontrollerDashboard as change">

	<!-- #########################    TABLE CHANGE SHIFT OR DAY ############################################################  -->
	<section class="panel panel-primary table-dynamic">
		<div class="panel-heading" ng-click="showChangeShift = !showChangeShift"><span class="glyphicon glyphicon-th" style="margin-right: 8px;"></span>
			<strong>
				<label>Swap Shift / Day Off</label>
			</strong>
		</div>

		<div ng-show ="showChangeShift">
			<div class="panel-body">	
				<form name="form" class="form-horizontal form-validation">
					
					<div ng-if="change.handler.NotSuperUserSearch">
						<div class="form-group">
							<div class="col-sm-1">
								<label>Name</label><div class="space"></div><label style ="color:red">*</label>
							</div>
							<div class="col-sm-2">
								<input 	type="text"
								placeholder="Type for hint . ."
								class="form-control"
								name="form"
								data-ng-model="name"
								typeahead="(address.name) for address in change.handler.getLocation($viewValue)" 
								typeahead-loading="loadingLocations"
								typeahead-min-length="4"
								typeahead-wait-ms="300"
								typeahead-on-select="change.handler.onSelect($item, $model, $label)"
								autocomplete="off"
								disabled 

								/>
								<!-- ng-disabled = "!change.handler.hides" -->

							</div>
						</div>

					</div>
					
					
					<div ng-if="change.handler.SuperUserSearch">
						<div class="form-group">
							<div class="col-sm-1">
								<label>Name</label><div class="space"></div><label style ="color:red">*</label>
							</div>
							<div class="col-sm-2">
								<input 	type="text"
								placeholder="Type for hint . ."
								class="form-control"
								name="form"
								data-ng-model="change.handler.form.name"
								typeahead="(address.name) for address in change.handler.getLocation($viewValue)" 
								typeahead-loading="loadingLocations"
								typeahead-min-length="4"
								typeahead-wait-ms="300"
								typeahead-on-select="change.handler.onSelect($item, $model, $label)"
								autocomplete="off"
								ng-disabled = "!change.handler.hides"

								/>
												<!-- <span style="color:red" ng-show="form.form.$dirty && form.form.$invalid">
												<span ng-show="form.form.$error.required">Name is required.</span> -->
											</div>
										</div>

									</div>

									<div class="form-group">
										<div class="col-sm-1">
											<label>Request Type</label><div class="space"></div><label style ="color:red">*</label>
										</div>
										<div class="col-sm-2">
											<select class="form-control"  ng-model="change.handler.form.requestType" ng-disabled="!change.handler.button('create')" >
												<option value="">-- Select -- </option>
												<option value="Change Shift">Change Shift</option>
												<option value="Swap Shift / Day Off">Swap Shift / Day Off</option>
											</select>
											<!-- <span style="color:red" ng-show="formswap.type.$dirty && formswap.type.$invalid">
												<span ng-show="formswap.type.$error.required"> Required field.</span>
											</span>	 -->											
										</div>
										<div class="col-sm-2">
											<label ng-show="change.handler.form.requestType == 'Swap Shift / Day Off'">No. of request for the month : </label>
										</div>
										<div class="col-sm-1">
											<label ng-show="change.handler.form.requestType == 'Swap Shift / Day Off'">{{change.handler.form.NoRequestForTheMonth}}</label>
										</div>
									</div>
									<div class="form-group" ng-show="change.handler.form.requestType == 'Swap Shift / Day Off'">
										<fieldset>
											<div class="col-sm-1">
												<label for="">Swap with</label><span class="space space-sm"></span><label style ="color:red">*</label>
											</div>
											<div class="col-sm-2">
												<input type="text"
												placeholder="Type for hint . ."
												class="form-control"
												name="formswap"
												data-ng-model="change.handler.form.nameSwap"
												typeahead="(address.name) for address in change.handler.getSwap($viewValue)" 
												typeahead-loading="loadingLocations"
												typeahead-min-length="4"
												typeahead-wait-ms="300"
												typeahead-on-select="change.handler.onSwap($item, $model, $label)"
												
												/>											
											</div>
											<div class="col-sm-2">
												<label ng-show="change.handler.form.requestType == 'Swap Shift / Day Off'">No. of request for the month : </label>
											</div>
											<div class="col-sm-1">
												<label ng-show="change.handler.form.requestType == 'Swap Shift / Day Off'">{{change.handler.form.NoWithForTheMonth}}</label>
											</div>
										</fieldset>
									</div>
									<br>
									
									
									<!-- ##############	TABLE ADD CHANGE SHIFT ############### -->
									<div class="form-group" ng-show="change.handler.form.requestType == 'Change Shift'" >
										<fieldset>
											<div class="col-sm-1"></div>
											<div class="col-sm-3">
												
												<span class="btn btn-success" ng-click="change.handler.addChange(change.form)"  >
													<i class="fa fa-plus"></i>
													<span> &nbsp; Add</span>
												</span>
											</div>
										</fieldset>
									</div>
									<div class="form-group" ng-show="change.handler.form.requestType == 'Change Shift'">
										<div class="col-sm-1"></div>
										<div class="col-sm-6">
											<table class="table table-striped table-bordered">
												<thead>
													<tr id="heading">
														<th style="width:30%"><div class="th">
															<p class="text-center">Date</p>
														</div></th>
														<th style="width:30%"><div class="th">
															<p class="text-center">Original</p>
														</div></th>
														<th style="width:40%"><div class="th">
															<p class="text-center">New</p>
														</div></th>
														<th><div class="th">
														</div></th>
													</tr>
												</thead>
												<tbody>
													<tr ng-repeat='x in change.form.subChange track by $index'>
														<td>
															<input 	class="form-control" 
															type="date" 
															ng-model="x.date" 
															ng-change="change.handler.getchange(change.form,x.date)">
														</input>
													</td>
													<td>
														<input class="form-control" ng-model="x.original" disabled></input>
													</td>
													<td>
														<select class="form-control" ng-model="x.new">
															<option value=""> -- Select -- </option>
															<option value="{{data.shift_id}}" ng-repeat="data in x.stores">{{data.new}}
															</option>
														</select>
													</td>
													<td>
														<span class="btn btn-danger" ng-click="change.handler.removesubChange(change.form,$index)">
															<i class='fa fa-remove'></i><span></span>
														</span>
														
													</td>
												</tr>
											</tbody>
										</table>
									</div>
								</div>
								
								
								<!-- ##############	TABLE ADD SWAP SHIFT / DAY OFF ############### -->
								<div class="form-group" ng-show="change.handler.form.requestType == 'Swap Shift / Day Off'" >
									<fieldset>
										<div class="col-sm-1"></div>
										<div class="col-sm-3">
											<span class="btn btn-success" ng-click="change.handler.addSwap(change.form)" ng-disabled = "change.handler.addDisabled">
												<i class="fa fa-plus"></i>
												<span> &nbsp; Add</span>
											</span>
										</div>
									</fieldset>
								</div>
								<div class="form-group" ng-show="change.handler.form.requestType == 'Swap Shift / Day Off'">
									<div class="col-sm-1"></div>
									<div class="col-sm-6">
										<table class="table table-striped table-bordered">
											<thead>
												<tr id="heading">
													<th style="width:20%"><div class="th">
														<p class="text-center">Date</p>
													</div></th>
													<th style="width:30%"><div class="th">
														<p class="text-center">{{change.handler.form.name}}</p>
													</div></th>
													<th style="width:20%"><div class="th">
														<p class="text-center">Swap With</p>
													</div></th>
													<th style="width:30%"><div class="th">
														<p class="text-center">{{change.handler.form.nameSwap}}</p>
													</div></th>
													<th><div class="th">
													</div></th>
												</tr>
											</thead>
											<tbody>
												<tr ng-repeat='x in change.form.subSwap track by $index'>
													<td>
														<input class="form-control" type="date" ng-model="x.date" ng-change="change.handler.updateSwap(change.form,x.date)" ></input>
													</td>
													<td>
														<input class="form-control" ng-model="x.original" disabled></input>
													</td>
													<td class="text-center">
														<label>|</label>
													</td>
													<td>
														<input class="form-control" ng-model="x.new" disabled></input>
													</td>
													<td>
														<span class="btn btn-danger" ng-click="change.handler.removesubSwap(change.form,$index)">
															<i class='fa fa-remove'></i><span></span>
														</span>
													</td>
												</tr>
											</tbody>
										</table>
									</div>
								</div>
								<hr>
								<div class="form-group">
									<fieldset>
										<div class="col-sm-3">
											<label style ="color:red">*</label><span class="space space-xs"></span><label><small>Required field</small></label>
										</div>										
									</fieldset>
								</div>
							</form>
						</div>
						
					</div>
				</section>

				
				<div ng-show ="showChangeShift">
					<section class="panel panel-primary">
						<div class="panel-heading"><label class="text-capitalize">Comments for Consideration</label></div>
						<div class="panel-body">	
							<form name="myForm" class="form-horizontal form-validation">
								<div class="form-group">
									<div class="col-md-12">
										<textarea class="form-control" rows="5" cols="40" ng-model="change.handler.form.comment"></textarea>
									</div>
								</div>
								<br>
								<div class="form-group">
									<fieldset>
										<div class='col-sm-1'>
											<button type="button" 
											class="btn btn-default" 
											accept="files/*"
											ngf-select ngf-change="upload($files)"
											ngf-multiple="multiple"
											ng-model="change.handler.files"
											ng-show="change.handler.button('create')">
											Upload a File
										</button>
									</div>		
									<div class='col-sm-2'>
										<label ng-repeat="f in change.handler.files"  ng-show="change.handler.files">{{f.name}}</label>
									</div>
									<div class='col-sm-3'  ng-show="change.handler.files">
										<button class="btn btn-danger"  tooltip-placement="top" tooltip="Delete File" ng-click=" change.handler.files = false">
											<span class="glyphicon glyphicon-trash" ></span>
										</button>
									</div>
								</fieldset>
							</div>
							<hr>
							<div class="form-group">										
								<div class="col-sm-6">
									<form>
										<button type="submit" class="btn btn-success"  ng-show="change.handler.button('create')" ng-click="change.handler.save(change.form,change.handler.files)">Save</button>
										<span class="space space-sm"></span>
										<button type="submit" class="btn btn-danger"   ng-show="change.handler.button('create')" ng-click="change.handler.cancel()">Cancel</button>
									</form>
								</div>
							</div>
						</form>
					</div>
				</section>

			</div>
		</div>

		<div>
			<section data-ng-include="'views/dashboard/newTimeInOut.html'" ></section> 
		</div>

		<div>
			<!-- <section data-ng-include="'views/dashboard/lateRequest.html'" ></section>  -->
		</div>

		<div>
			<!-- <section data-ng-include="'views/dashboard/EarlyOutRequest.html'" ></section>  -->
		</div>
