
<div class="" ng-controller="leaveListCtrl as leavelist">

	<section class="panel panel-primary table-dynamic">
		<div class="panel-heading" ng-click="showLeaveList = !showLeaveList"><strong><span class="glyphicon glyphicon-th" style="margin-right: 8px;"></span>Leave List</strong></div>

		<div ng-show="showLeaveList">
			<div class="panel-body">	
				<form name="myForm" class="form-horizontal form-validation">
					<div class="form-group">
						<div class="col-sm-2">
							<label>From</label>
						</div>
						<div class="col-sm-2">
							<input type="date" ng-bind="date | date:'MM/dd/yyyy'" class="form-control" min="1900-01-01" max="2100-01-01" ng-model="leavelist.handler.form.from"/>	
						</div>
					</div>
					<div class="form-group">
						<div class="col-sm-2">
							<label>To</label>
						</div>
						<div class="col-sm-2">
							<input type="date" ng-bind="date | date:'MM/dd/yyyy'" class="form-control" min="1900-01-01" max="2100-01-01" ng-model="leavelist.handler.form.to"/>	
						</div>
					</div>
					<div class="form-group">
						<div class="col-sm-2">
							<label>Show Leave Status</label>
						</div>
						<div class="col-sm-10">
							<div>
								<label class="ui-checkbox">
									<input type="checkbox" ng-model="leavelist.handler.form.all" ng-true-value="1" ng-false-value="0" 
									ng-checked="leavelist.handler.form.all == 1"><span>All</span>
								</label>
								<label class="ui-checkbox">
									<input type="checkbox" ng-model="leavelist.handler.form.rejected" ng-true-value="1" ng-false-value="0" 
									ng-checked="leavelist.handler.form.rejected == 1"><span>Rejected</span>
								</label>
								<label class="ui-checkbox">
									<input type="checkbox" ng-model="leavelist.handler.form.canceled" ng-true-value="1" ng-false-value="0" 
									ng-checked="leavelist.handler.form.canceled == 1"><span>Canceled</span>
								</label>
								<label class="ui-checkbox">
									<input type="checkbox" ng-model="leavelist.handler.form.pending" ng-true-value="1" ng-false-value="0" 
									ng-checked="leavelist.handler.form.pending == 1"><span>Pending Approval</span>
								</label>
								<label class="ui-checkbox">
									<input type="checkbox" ng-model="leavelist.handler.form.schedule" ng-true-value="1" ng-false-value="0" 
									ng-checked="leavelist.handler.form.schedule == 1"><span>Scheduled</span>
								</label>
								<label class="ui-checkbox">
									<input type="checkbox" ng-model="leavelist.handler.form.taken" ng-true-value="1" ng-false-value="0" 
									ng-checked="leavelist.handler.form.taken == 1"><span>Taken</span>
								</label>
							</div>
						</div>
					</div>
					<div class="form-group">
						<div class="col-sm-2">
							<label>Include Past Employees</label>
						</div>
						<div class="col-sm-10">
							<div>
								<label class="ui-checkbox">
									<input type="checkbox" ng-model="leavelist.handler.form.include_past" ng-true-value="1" ng-false-value="0" 
									ng-checked="leavelist.handler.form.include == 1"><span></span>
								</label>
							</div>
						</div>
					</div>
					<div class="form-group">
						<div class="col-sm-2">
							<label>Employee</label>
						</div>
						<div class="col-sm-2">
							<input 	type="text"
							placeholder="Type for hint . ."
							class="form-control"
							data-ng-model="leavelist.handler.form.employee_name"
							typeahead="(address.name) for address in leavelist.handler.getLocation($viewValue)" 
							typeahead-loading="loadingLocations"
							typeahead-min-length="4"
							typeahead-wait-ms="400"
							ng-disabled= "leavelist.handler.accessAction"
							typeahead-on-select="leavelist.handler.onSelect($item,$model,$label)"
							autocomplete="off"
							/>
										<!-- <input 	type="text"
												placeholder="Type for hint . ."
												class="form-control"
												data-ng-model="leavelist.handler.form.employee_name"
												typeahead="(address.name) for address in leavelist.handler.getLocation($viewValue)" 
												typeahead-loading="loadingLocations"
												typeahead-min-length="4"
												typeahead-wait-ms="400"
												typeahead-on-select="leavelist.handler.onSelect($item,$model,$label)"
												autocomplete="off"
												ng-disabled="leavelist.handler.form.employee_role == 'User'"
												/>-->	
											</div>
										</div>
										<div class="form-group">
											<div class="col-sm-2">
												<label>Department</label>
											</div>
											<div class="col-sm-2">
												<select class="form-control"  ng-model="leavelist.handler.form.department">
													<option value=""> -- Select --</option>
													<option value="{{job.id}}" ng-repeat="job in leavelist.handler.data">{{job.name}}</option>
												</select>
											</div>
										</div>
										<div class="form-group">
											<div class="col-sm-2">
												<label>Leave Type</label>
											</div>
											<div class="col-sm-2">
												<select class="form-control"  ng-model="leavelist.handler.form.type">
													<option value=""> -- Select --</option>
													<option value="{{job.id}}" ng-repeat="job in leavelist.handler.leaves">{{job.leave_type}}</option>
												</select>
											</div>
										</div>
										<hr>
										<div class="form-group">										
											<div class="col-sm-6">
												<button type="submit" 
												class="btn btn-success"  	
												ng-click="leavelist.handler.searchlist()"
												ng-show="leavelist.handler.button('read')">Search
											</button>
											<span class="space space-sm"></span>
											<button type="submit" 
											class="btn btn-danger"  	
											ng-click="leavelist.handler.reset()"
											ng-show="leavelist.handler.button('read')">Reset
										</button>
										<span class="space space-sm"></span>
										<button type="submit" 
										class="btn btn-success"  	
										ng-click="leavelist.handler.export(leavelist.handler.getdata())"
										ng-show="leavelist.handler.button('read')">Export To Excel
									</button>
								</div>
							</div>
						</form>
					</div>
				</div>
			</section>

			<div ng-show="showLeaveList">
				<section class="panel panel-primary table-dynamic">
					<div class="panel-body">
						<div class="table-filters">
							<div class="row">
								<div class="col-sm-4">
									<form>
										<input type="text"
										placeholder="Search..."
										class="form-control"
										data-ng-model="leavelist.handler.search"
										data-ng-model-options="{debounce:300}"
										>
									</form>
								</div>
								<div class="col-sm-3 filter-result-info">
									<span>
										Showing {{leavelist.handler.paginated.length}}/{{leavelist.handler.maindata.length}} entries
									</span>              
								</div>
							</div>
						</div>

						<table class="table table-bordered table-striped table-responsive">
							<thead>
								<tr>
									<th ng-repeat='a in leavelist.handler.headers'  width='{{a.width}}'>
										<div class="th">
											{{a.name}}
											<span class="fa fa-angle-up"
											data-ng-if="a.sort"
											data-ng-click="leavelist.handler.setactiveheader(a,true) "
											data-ng-class="{active: $index == leavelist.handler.activeheader.id && leavelist.handler.activeheader.order == true}">
										</span>
										<span class="fa fa-angle-down"
										data-ng-if="a.sort"
										data-ng-click=" leavelist.handler.setactiveheader(a,false) "
										data-ng-class="{active: $index == leavelist.handler.activeheader.id && leavelist.handler.activeheader.order == false}">
									</span>
								</div>
							</th>
							<th colspan="3" class='text-center'>
								<div class="th">
									Action
								</div>
							</th>
						</tr>
					</thead>
					<tbody>
						<tr data-ng-repeat="a in leavelist.handler.getdata() | orderBy: leavelist.handler.activeheader.sort : leavelist.handler.activeheader.order track by [$index]">
							<td style="cursor:pointer" ng-click="leavelist.handler.openmodal('detail',a)">{{a.created_at_date}}</td>
							<td style="cursor:pointer" ng-click="leavelist.handler.openmodal('detail',a)">{{a.schedule}}</td>
							<td style="cursor:pointer" ng-click="leavelist.handler.openmodal('detail',a)">{{a.EmployeeName}}</td>
							<td style="cursor:pointer" ng-click="leavelist.handler.openmodal('detail',a)">{{a.leave_type}}</td>
							<!-- <td style="cursor:pointer" ng-click="leavelist.handler.openmodal('detail',a)">{{a.balance_day}}</td> -->
							<td style="cursor:pointer" ng-click="leavelist.handler.openmodal('detail',a)">{{a.number_of_day}}</td>
							<td style="cursor:pointer" ng-click="leavelist.handler.openmodal('detail',a)">{{a.status == 'Approval'  ? 'Approved' : a.status}}</td>
							<td style="cursor:pointer" ng-click="leavelist.handler.openmodal('detail',a)" ng-hide="true">{{a.id}}</td>
							<td style="cursor:pointer" ng-click="leavelist.handler.openmodal('detail',a)" ng-hide="true">{{a.master_type}}</td>

							<td width='1%'>
								<!-- {{ reqlist.handler.setbuttonapprove('approval',a) }} -->
								<button 
								ng-if="leavelist.handler.setbuttonapprove('approval',a)"
								class="btn btn-success" 
								ng-click="leavelist.handler.openmodal('app',a)"
								ng-disabled="a.can_approve=='n'" 
								tooltip-placement="top" 
								tooltip="Approve">
								<span class="fa fa-check"></span>
							</button>
						</td>
						<!-- ng-if="a.can_cancel=='y'" -->
						<td width='1%'>
							<!-- {{leavelist.handler.setbuttonapprove('cancel',a)}} -->
							<button 
							ng-if="leavelist.handler.setbuttonapprove('cancel',a)"
							class="btn btn-warning" 
							ng-click="leavelist.handler.openmodal('can',a)"
							ng-disabled="a.can_cancel=='n'"
							tooltip-placement="top" 
							tooltip="Cancel">
							<span class="fa fa-ban"></span>
						</button>
					</td>
					<!-- ng-if="a.can_reject=='y'" -->
					<td width='1%'>
						<!-- 										{{leavelist.handler.setbuttonapprove('reject',a)}} -->
						<button 
						ng-if="leavelist.handler.setbuttonapprove('reject',a)"
						class="btn btn-danger" 
						ng-disabled="a.can_reject=='n'"
						ng-click="leavelist.handler.openmodal('rej',a)"
						tooltip-placement="top" 
						tooltip="Reject">
						<span class="fa fa-times"></span>
					</button>
				</td>

									<!--<td width='1%' ng-show="leavelist.handler.setbuttonapprove('approve',leavelist.handler.form.employee_role)">
										<button class="btn btn-success"
												tooltip-placement="top" 
												tooltip="Approve"
												ng-disabled="a.status == 'Approval' || a.status == 'Rejected' || a.status == 'Cancel'"
												ng-click="leavelist.handler.openmodal('app',a)">
												<span class="fa fa-check"></span>
										</button>
									</td>
									<td width='1%' ng-show="leavelist.handler.setbuttonapprove('reject',leavelist.handler.form.employee_role)">
										<button class="btn btn-danger" 
												ng-click="leavelist.handler.openmodal('rej',a)" 
												ng-disabled="a.status == 'Rejected' || a.status == 'Approval' || a.status == 'Cancel' "
												tooltip-placement="top" 
												tooltip="Reject">

											<span class="fa fa-times" ></span>
										</button>
									</td>
									<td width='1%' ng-show="leavelist.handler.setbuttonapprove('cancel',leavelist.handler.form.employee_role)">
										<button class="btn btn-warning" 
												ng-click="leavelist.handler.openmodal('can',a)"
												ng-disabled="a.status == 'Rejected' || a.status == 'Approval' || a.status == 'Cancel' "
											 
												tooltip-placement="top" 
												tooltip="Cancel">
												<span class="fa fa-ban"></span>
										</button>
									</td>-->
								</tr>
							</tbody>
						</table>
						<footer class="table-footer">
							<div class="row">
								<div class="col-md-6 page-num-info">
									<span>
										Show 
										<select data-ng-model="leavelist.handler.numPerPage"
										data-ng-options="num for num in leavelist.handler.numPerPageOpt"
										data-ng-change="onNumPerPageChange()">
									</select> 
									entries per page
								</span>
							</div>
							<div class="col-md-6 text-right pagination-container">
								<pagination class="pagination-sm"
								ng-model="leavelist.handler.currentPage"
								total-items="leavelist.handler.filtered.length"
								max-size="4"
								ng-change="select(currentPage)"
								items-per-page="leavelist.handler.numPerPage"
								rotate="false"
								previous-text="&lsaquo;" next-text="&rsaquo;"
								boundary-links="true">
							</pagination>
						</div>
					</div>
				</footer>
			</div>
		</section>
	</div>



	<!-- Modal Leave Request Detail #################### MODAL ############################### -->
	<script type="text/ng-template" id="modalrequest">
		<div class="modal-header">
			<h4>Leave Request <label> ({{modalrequest.form.Date_table}})</label> {{modalrequest.form.EmployeeName}}</h4>
		</div>
		<div class="modal-body">
			<form name="myForm" class="form form-validation">
				<div class="form-group">
					<fieldset>
						<div class="col-sm-3">
							<label>Leave Type</label>
						</div>
						<div class="col-sm-3">
							<label>{{modalrequest.form.leave_type}}</label>		
						</div>
										<!--<div class="col-sm-2" ng-hide="true">
											<label>Leave Balance</label>
										</div>
										<div class="col-sm-3">
											<label>{{modalrequest.form.LeaveBalance}}</label>		
										</div>-->
									</fieldset>
								</div>
								<div class="form-group">
									<fieldset>
										<div class="col-sm-3">
											<label>Number of Days</label>
										</div>
										<div class="col-sm-3">
											<label>{{modalrequest.form.numberDay}}</label>		
										</div>
										<div class="col-sm-2">
											<label>Curent Status</label>
										</div>
										<div class="col-sm-3">
											<label>{{modalrequest.form.status == 'Approval'  ? 'Approved' : modalrequest.form.status}}</label>		
										</div>
									</fieldset>
								</div>
								<div class="form-group">
									<fieldset>
										<div class="col-sm-3">
											<label>Request Time/Date</label>
										</div>
										<div class="col-sm-3">
											<label>{{modalrequest.form.request_time}}</label>				
										</div>
										<div class="col-sm-2">
											<label>Request by</label>
										</div>
										<div class="col-sm-3">
											<label>{{modalrequest.form.RequestBy}}</label>				
										</div>
									</fieldset>
								</div>
								<div class="form-group" ng-show="modalrequest.form.date_ado_Next_Offday">
									<fieldset>
										<div class="col-sm-3">
											<label>Next Day Off</label>
										</div>
										<div class="col-sm-3">
											<label>{{modalrequest.form.date_ado_Next_Offday}}<label>																								
											</div>
										</fieldset>
									</div>
									<div class="form-group" ng-hide="modalrequest.form.date_ado_Next_Offday">
										<fieldset>
											<div class="col-sm-3">
												<label>Day off in Between</label>
											</div>
											<div class="col-sm-3">
												<label>{{modalrequest.form.dayoff_between}}</label>	
											</div>
										</fieldset>
									</div>
									<div class="form-group" ng-hide="modalrequest.form.date_ado_Next_Offday">
										<fieldset>
											<div class="col-sm-3">
												<label>Date Selected</label>
											</div>
											<div class="col-sm-3">
												<label>{{modalrequest.form.Date_table}}</label>	
											</div>
										</fieldset>
									</div>
									<div class="page-ADO" ng-show="modalrequest.form.NewSchedule_1st">	

										<hr style="border-color: #EEEEEE -moz-use-text-color #FFFFFF;border-style: solid none;border-width: 1px 0;"/>



										<div class="form-group">
											<fieldset>
												<div class="col-sm-2">
												</div>
												<div class="col-sm-3">
													<label>ADO Days</label>
												</div>
												<div class="col-sm-1"></div>
												<div class="col-sm-3">
													<label>New Schedule</label>
												</div>
											</fieldset>
										</div>
										<div class="form-group" ng-show="modalrequest.form.date_ado_1st">
											<fieldset>
												<div class="col-sm-2">
													<label> 1st</label>
												</div>
												<div class="col-sm-3">
													<label>{{modalrequest.form.date_ado_1st}}<label>												
													</div>
													<div class="col-sm-1"></div>
													<div class="col-sm-4">
														<label>{{modalrequest.form.NewSchedule_1st}}<label>		
												<!-- <select class="form-control"  ng-model="modalrequest.form.ado1">
													<option value=''>-- Select --</option>
													<option value="{{job.id}}"  ng-repeat="job in lereq.handler.schedule">{{job.shif_code}}</option>
												</select> -->	
											</div>
										</fieldset>
									</div>
									<div class="form-group" ng-show="modalrequest.form.date_ado_2nd">
										<fieldset>
											<div class="col-sm-2">
												<label> 2nd</label>
											</div>
											<div class="col-sm-3">
												<label>{{modalrequest.form.date_ado_2nd}}<label>																							
												</div>
												<div class="col-sm-1"></div>
												<div class="col-sm-4">
													<label>{{modalrequest.form.NewSchedule_2nd}}<label>	
												<!-- <select class="form-control"  ng-model="modalrequest.form.ado2">
													<option value=''>-- Select --</option>
													<option value="{{job.id}}"  ng-repeat="job in lereq.handler.schedule">{{job.shif_code}}</option>
												</select> -->	
											</div>
										</fieldset>
									</div>
									<div class="form-group" ng-show="modalrequest.form.date_ado_3rd">
										<fieldset>
											<div class="col-sm-2">
												<label> 3rd</label>
											</div>
											<div class="col-sm-3">
												<label>{{modalrequest.form.date_ado_3rd}}<label>																								
												</div>
												<div class="col-sm-1"></div>
												<div class="col-sm-4">
													<label>{{modalrequest.form.NewSchedule_3rd}}<label>	
												<!-- <select class="form-control"  ng-model="modalrequest.form.ado3">
													<option value=''>-- Select --</option>
													<option value="{{job.id}}"  ng-repeat="job in lereq.handler.schedule">{{job.shif_code}}</option>
												</select> -->	
											</div>
										</fieldset>
									</div>
									<div class="form-group" ng-show="modalrequest.form.date_ado_4th">
										<fieldset>
											<div class="col-sm-2">
												<label> 4th</label>
											</div>
											<div class="col-sm-3">
												<label>{{modalrequest.form.date_ado_4th}}<label>																								
												</div>
												<div class="col-sm-1"></div>
												<div class="col-sm-4">
													<label>{{modalrequest.form.NewSchedule_4th}}<label>
												<!-- <select class="form-control"  ng-model="modalrequest.form.ado4">
													<option value=''>-- Select --</option>
													<option value="{{job.id}}"  ng-repeat="job in lereq.handler.schedule">{{job.shif_code}}</option>
												</select> -->	
											</div>
										</fieldset>
									</div>
									
									<hr style="border-color: #EEEEEE -moz-use-text-color #FFFFFF;border-style: solid none;border-width: 1px 0;"/>

									<div class="form-group" ng-show="modalrequest.form.availment">
										<fieldset>
											<div class="col-sm-2">
											</div>
											<div class="col-sm-3">
												<label>ADO Availment Posistion</label>
											</div>
											<div class="col-sm-1"></div>
										</fieldset>
									</div>

									<div class="form-group" ng-show="modalrequest.form.avail_1st">
										<fieldset>
											<div class="col-sm-2">
												<label> 1st</label>
											</div>
											<div class="col-sm-3">
												<label>{{modalrequest.form.avail_1st}}<label>																								
												</div>
												<div class="col-sm-1"></div>
											</fieldset>
										</div>
										<div class="form-group" ng-show="modalrequest.form.avail_2nd">
											<fieldset>
												<div class="col-sm-2">
													<label> 2nd</label>
												</div>
												<div class="col-sm-3">
													<label>{{modalrequest.form.avail_2nd}}<label>
													</div>
													<div class="col-sm-1"></div>
												</fieldset>
											</div>
											<div class="form-group" ng-show="modalrequest.form.avail_3rd">
												<fieldset>
													<div class="col-sm-2">
														<label> 3rd</label>
													</div>
													<div class="col-sm-3">
														<label>{{modalrequest.form.avail_3rd}}<label>
														</div>
														<div class="col-sm-1"></div>
													</fieldset>
												</div>
												<div class="form-group" ng-show="modalrequest.form.avail_4th">
													<fieldset>
														<div class="col-sm-2">
															<label> 4th</label>
														</div>
														<div class="col-sm-3">
															<label>{{modalrequest.form.avail_4th}}<label>
															</div>
															<div class="col-sm-1"></div>
														</fieldset>
													</div>
									<!--<div class="form-group">
										<fieldset>
											<div class="col-sm-2">
												<label>ADO Availment</label>
											</div>
											<div class="col-sm-8">
												<label>{{modalrequest.form.availment}}</label>
											</div>
										</fieldset>
									</div>-->
								</div>
								<table class="table table-bordered table-striped table-responsive">
									<thead>
										<tr class="color-table">
											<th><div class="text-center">
												Approval
											</div></th>
											<th><div class="text-center">
												Status
											</div></th>
											<th><div class="text-center">
												Approval Date
											</div></th>
											<th><div class="text-center">
												Approval Time
											</div></th>
											<th><div class="text-center">
												Approver
											</div></th>
										</tr>
									</thead>
									<tbody>
										<!--<tr ng-show="modalrequest.form.status!='Pending Approval'">-->
										<tr data-ng-repeat="flow in modalrequest.form.flow_approval">
											<td class="text-center">{{flow.job_approval}} Approval</td>
											<td class="text-center">{{flow.status}}</td>
											<!--<td class="text-center">{{modalrequest.form.Date_table}}</td>-->
											<td class="text-center">{{flow.date}}</td>
											<td class="text-center">{{flow.time}}</td>
											<td class="text-center">{{flow.name}}</td>

											<!--<td class="text-center">{{modalrequest.form.approval}}</td>
											<td class="text-center">{{modalrequest.form.status == 'Approval'  ? 'Approved' : modalrequest.form.status}}</td>-->
											<!--<td class="text-center">{{modalrequest.form.Date_table}}</td>-->
											<!--<td class="text-center">{{modalrequest.form.Dates}}</td>
											<td class="text-center">{{modalrequest.form.Time}}</td>
											<td class="text-center">{{modalrequest.form.approver}}</td>-->
										</tr>
									</tbody>
								</table>
								<div class="modal-footer">
									<button type="submit" class="btn btn-primary pull-left"  ng-click="modalrequest.back()">Back</button>
									<span class="space space-sm"></span>
									<button type="submit" 
									class="btn btn-success" 
									ng-disabled="modalrequest.form.status == 'Approval' || modalrequest.form.status == 'Rejected' || modalrequest.form.status.toLowerCase() == 'cancel'"
									ng-click="modalrequest.handler.actiondetail('app',modalrequest.form)"
									ng-show="modalrequest.handler.setbuttonapprove('approval',modalrequest.form)">
									Approve
								</button>
								<span class="space space-sm"></span>
								<button type="submit" 
								class="btn btn-danger" 
								ng-disabled="modalrequest.form.status == 'Approval' || modalrequest.form.status == 'Rejected' || modalrequest.form.status.toLowerCase() == 'cancel'"
								ng-click="modalrequest.handler.actiondetail('rej',modalrequest)"
								ng-show="modalrequest.handler.setbuttonapprove('reject',modalrequest.form)">
								Reject
							</button>
							<span class="space space-sm"></span>
							<button type="submit" 
							class="btn btn-warning"  
							ng-disabled="modalrequest.form.status.toLowerCase() == 'cancel' "
							ng-click="modalrequest.handler.actiondetail('can',modalrequest.form)"
							ng-show="modalrequest.handler.setbuttonapprove('cancel',modalrequest.form)">
							Cancel
						</button>
						<!--ng-show="modalrequest.handler.setbuttonapprove('cancel',modalrequest.handler.form.employee_role)">-->
					</div>
					<section class="panel panel-default">
						<div class="panel-heading"><label><p class="text-capitalize">Comments for Consideration</p></label></div>
						<div class="panel-body">	
							<div class="form-group">
								<div class="col-sm-12">
									<table class="table" style="table-layout: fixed; width: 100%">
										<thead>
											<tr>
												<th >Name</th>
												<th >Created at</th>
												<th >Comment</th>
												<th >Filename</th>
											</tr>
										</thead>
										<tbody>
											<tr ng-repeat='b in modalrequest.handler.datacomment'>
												<td >{{b.employee_id}}</td>
												<td >{{b.created_at}}</td>
												<td style="word-wrap: break-word">{{b.comment}}</td>
												<td ng-click="modalrequest.handler.getfile(b.filename)">
													<a 	target="_parent" 
													style="cursor:pointer" 
													ng-href="{{e}}">
													{{b.filename}}
												</a>
											</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
						<div class="form-group">
							<div class="col-sm-12">
								<textarea class="form-control" rows="4" cols="40" placeholder='Input New Comment' ng-model="modalrequest.form.newcomment" ></textarea>
							</div>
						</div>
					</div>
				</section>
				<div class="form-group">
					{{modalrequest.handler.hideByStatus()}}
					<fieldset>
						<div class='col-sm-2'>
							<button type="button" 
							class="btn btn-default" 
							accept="files/*"
							ngf-select ngf-change="upload($files)"
							ngf-multiple="multiple"
							ng-model="modalrequest.handler.files">
							Upload a Photo

						</button>
					</div>		
					<div class='col-sm-3'>
						<label ng-repeat="f in modalrequest.handler.files"  ng-show="!modalrequest.handler.files">{{f.name}}</label>
					</div>
					<div class='col-sm-3'  ng-show="modalrequest.handler.files">
						<button class="btn btn-danger"  tooltip-placement="top" tooltip="Delete File" ng-click="modalrequest.handler.files = false">
							<span class="glyphicon glyphicon-trash" ></span>
						</button>
					</div>
				</fieldset>
			</div>
			<hr>
			<div class='form-group'>
				<fieldset>	
					<div class="col-sm-2">
						<button type="submit" class="btn btn-success pull-left"   ng-click="modalrequest.handler.send(modalrequest.handler.files,modalrequest.form)">Send</button>
					</div>
				</fieldset>
			</div>
		</form>
	</div>
</script>

<!-- MODAL REJECT AND APPROVE -->
<script type="text/ng-template" id="modalapprej">
	<div class="modal-header">
		<h4><i style="margin-right: 8px;" ></i>{{modalapprej.title}} Request Confirmation</h4>
	</div>
	<div class="modal-body">
		<form name="myForm"  class='form form-validation' data-ng-submit='modalapprej.submit()'>	
			<fieldset>
				<div class="col-sm-12">
					<span>Are you sure want to {{modalapprej.title}} <b>{{modalapprej.form.EmployeeName}}</b> request ?</span>
				</div>
			</fieldset>
		</form>
		<br>
		<div class="modal-footer">
			<button class='btn btn-danger' type='submit' ng-click='modalapprej.submit()'>OK</button>
			<button class='btn btn-success' ng-click='modalapprej.close()'> CANCEL </button>
		</div>
	</div>
</script>

				<!-- <script type="text/ng-template" id="modalrequest">
					<div class="modal-header">
						<h4>leavelist Request<span class="space space-sm"></span>
							<label>{{modalrequest.form.date}}</label>
								<span class="space space-sm"></span>
							<label>{{modalrequest.form.name}}</label>
						</h4>
					</div>
					<div class="modal-body">
						<form name="myForm" class="form-horizontal form-validation" novalidate>
						<div class="form-group">
							<div class="col-sm-3">
								<label>leavelist Type</label>
							</div>
							<div class="col-sm-3">
								<input type="text" class="form-control" data-ng-model="modalrequest.form.leave_type"/>		
							</div>
							<div class="col-sm-2">
								<label>leavelist Balance</label>
							</div>
							<div class="col-sm-3">
								<input type="text" class="form-control" data-ng-model="modalrequest.form.leave_b"/>		
							</div>
						</div>
						<div class="form-group">
							<div class="col-sm-3">
								<label>Number of Days</label>
							</div>
							<div class="col-sm-3">
								<input type="text" class="form-control" data-ng-model="modalrequest.form.number"/>		
							</div>
							<div class="col-sm-2">
								<label>Curent Status</label>
							</div>
							<div class="col-sm-3">
								<input type="text" class="form-control" data-ng-model="modalrequest.form.status"/>		
							</div>
						</div>
						<div class="form-group">
							<div class="col-sm-3">
								<label>Request Time/Date</label>
							</div>
							<div class="col-sm-3">
								<input type="text" class="form-control" data-ng-model="modalrequest.form.time"/>		
							</div>
							<div class="col-sm-2">
								<label>Request by</label>
							</div>
							<div class="col-sm-3">
								<input type="text" class="form-control" data-ng-model="modalrequest.form.request"/>		
							</div>
						</div>
						<div class="form-group">
							<div class="col-sm-3">
								<label>Day off in Between</label>
							</div>
							<div class="col-sm-3">
								<input type="text" class="form-control" data-ng-model="modalrequest.form.day"/>		
							</div>
						</div>
						<div class="form-group">
							<div class="col-sm-3">
								<label>ADO days</label>
							</div>
							<div class="col-sm-3">
								<input type="text" class="form-control" data-ng-model="modalrequest.form.ado"/>		
							</div>
						</div>
						<div class="form-group">
							<div class="col-sm-3">
								<label>ADO Next Off Day</label>
							</div>
							<div class="col-sm-3">
								<input type="text" class="form-control" data-ng-model="modalrequest.form.ado_next"/>		
							</div>
						</div>
						<div class="form-group">
							<div class="col-sm-3">
								<label>ADO Availment</label>
							</div>
							<div class="col-sm-3">
								<input type="text" class="form-control" data-ng-model="modalrequest.form.ado_av"/>		
							</div>
						</div>
						<table class="table table-bordered table-striped table-responsive">
							<thead>
								<tr>
									<th><div class="th">
										Approval
									</div></th>
									<th><div class="th">
										Status
									</div></th>
									<th><div class="th">
										Date
									</div></th>
									<th><div class="th">
										Time
									</div></th>
									<th><div class="th">
										Approver
									</div></th>
								</tr>
							</thead>
							<tbody>
								<tr data-ng-repeat="store in currentPageStores">
									<td>{{store.approval}}</td>
									<td>{{store.status}}</td>
									<td>{{store.date}}</td>
									<td>{{store.time}}</td>
									<td>{{store.approver}}</td>
								</tr>
							</tbody>
						</table>
						<div class="form-group">
							<div class="col-sm-3">
								<label>Comments for Consideration</label>
							</div>
						</div>
						<div class="form-group">
							<div class="col-sm-12">
								<textarea class="form-control" rows="4" cols="40" ng-model="modalrequest.form.comment"></textarea>
							</div>
						</div>
						<div class="form-group">
							<div class="col-sm-1">
								<button type="button" 
										class="btn btn-primary" 
										accept="image/jpg, image/png, image/gif, image/jpeg,"
										name="modalrequest.file"
										ngf-multiple="multiple"
										ngf-select ng-model="picFile" 	
								>Upload a Photo</button>
							</div>
							<div class="col-sm-1"></div>
							<div class="col-sm-3">
								<label ng-repeat = "f in picFile">{{f.name}}</label>
							</div>
						</div>
					</form>
					</div>
					<div class="modal-footer">
							<button type="submit" class="btn btn-warning pull-left"  ng-click="modalrequest.close()">Back</button>
							<span class="space space-sm"></span>
							<button type="submit" class="btn btn-success"  ng-click="modalrequest.approve()">Approve</button>
							<span class="space space-sm"></span>
							<button type="submit" class="btn btn-danger"   ng-click="modalrequest.reject()">Reject</button>
					</div>
				</script> -->
				
				
				
			</div>



			<!-- ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// -->

			
			<div class="" ng-controller="scheduleRequestListCtrl as reqlist">

				<section class="panel panel-primary table-dynamic">
					<div class="panel-heading" ng-click="showSchedReqList = !showSchedReqList"><strong><span class="glyphicon glyphicon-th" style="margin-right: 8px;"></span>Schedule Request List</strong></div>
					<div ng-show="showSchedReqList">
						<div class="panel-body">	
							<form name="myForm" class="form-horizontal form-validation" novalidate>
								<div class="form-group">
									<div class="col-sm-2">
										<label>From</label>
									</div>
									<div class="col-sm-2">
										<input type="date" class="form-control" min="1900-01-01" max="2100-01-01" ng-model="reqlist.handler.form.from"/>	
									</div>
								</div>
								<div class="form-group">
									<div class="col-sm-2">
										<label>To</label>
									</div>
									<div class="col-sm-2">
										<input type="date" class="form-control" min="1900-01-01" max="2100-01-01" ng-model="reqlist.handler.form.to"/>	
									</div>
								</div>
								<div class="form-group">
									<div class="col-sm-2">
										<label>Show Request Status</label>
									</div>
									<div class="col-sm-10">
										<div>
											<label class="ui-checkbox">
												<input type="checkbox" ng-model="reqlist.handler.form.all" ng-true-value="1" ng-false-value="0" 
												ng-checked="reqlist.handler.form.all == 1"><span>All</span>
											</label>
											<label class="ui-checkbox">
												<input type="checkbox" ng-model="reqlist.handler.form.rejected" ng-true-value="1" ng-false-value="0" 
												ng-checked="reqlist.handler.form.rejected == 1"><span>Rejected</span>
											</label>
											<label class="ui-checkbox">
												<input type="checkbox" ng-model="reqlist.handler.form.canceled" ng-true-value="1" ng-false-value="0" 
												ng-checked="reqlist.handler.form.canceled == 1"><span>Canceled</span>
											</label>
											<label class="ui-checkbox">
												<input type="checkbox" ng-model="reqlist.handler.form.pending" ng-true-value="1" ng-false-value="0" 
												ng-checked="reqlist.handler.form.pending == 1"><span>Pending Approval</span>
											</label>
											<label class="ui-checkbox">
												<input type="checkbox" ng-model="reqlist.handler.form.schedule" ng-true-value="1" ng-false-value="0" 
												ng-checked="reqlist.handler.form.schedule == 1"><span>Schedule</span>
											</label>
											<label class="ui-checkbox">
												<input type="checkbox" ng-model="reqlist.handler.form.past" ng-true-value="1" ng-false-value="0" 
												ng-checked="reqlist.handler.form.past == 1"><span>Past</span>
											</label>
										</div>
									</div>
								</div>
								<div class="form-group">
									<div class="col-sm-2">
										<label>Include Past Employee</label>
									</div>
									<div class="col-sm-10">
										<div>
											<label class="ui-checkbox">
												<input 	type="checkbox" 
												ng-model="reqlist.handler.form.include" 
												ng-true-value="1" 
												ng-false-value="0" 
												ng-checked="reqlist.handler.form.include == 1">
												<span></span>
											</label>
										</div>
									</div>
								</div>
								<div class="form-group">
									<div class="col-sm-2">
										<label>Employee</label>
									</div>
									<div class="col-sm-2">
										<input 	type="text"
										placeholder="Type for hint . ."
										class="form-control"

										data-ng-model="reqlist.handler.form.employee_name"
										ng-disabled = "!reqlist.handler.hide"
										typeahead="(address.name) for address in reqlist.handler.getLocation($viewValue)" 
										typeahead-loading="loadingLocations"
										typeahead-min-length="4"
										typeahead-wait-ms="400"
										typeahead-on-select="reqlist.handler.onSelect($item, $model, $label)"
										autocomplete="off"

										/>
									</div>
								</div>
								<!-- ng-disabled="reqlist.handler.form.employee_role == 'User'" 
								ng-disabled="!training.handler.button('create')"-->
								<div class="form-group">
									<div class="col-sm-2">
										<label>Department</label>
									</div>
									<div class="col-sm-2">
										<select ng-model="reqlist.handler.form.department" class="form-control"
										ng-options="item as item.name for item in reqlist.handler.jobs">
										<!-- <option value='' selected>-- Select --</option> -->
									</select>
								</div>
							</div>
							<div class="form-group">
								<div class="col-sm-2">
									<label>Request Type</label>
								</div>
								<div class="col-sm-2">
									<select ng-model="reqlist.handler.form.requestType" class="form-control"
									ng-options="item as item.type for item in reqlist.handler.storage">

								</select>	
							</div>
						</div><hr>
						<div class="form-group">										
							<div class="col-sm-6">
								<form>
									<button type="submit" 
									class="btn btn-success"  	
									ng-click="reqlist.handler.getSearch(reqlist.handler.form)"
									ng-show="reqlist.handler.button('read')">
									Search
								</button>
								<span class="space space-sm"></span>
								<button type="submit" 
								class="btn btn-danger"
								ng-click="reqlist.handler.reset()"
								ng-show="reqlist.handler.button('read')">
								Reset
							</button>
							<span class="space space-sm"></span>
							<button type="submit" 
							class="btn btn-success"  	
							ng-click="reqlist.handler.exp(reqlist.handler.getdata())"
							ng-show="reqlist.handler.button('read')">
							Export to Excel
						</button>
					</form>
				</div>
			</div>
		</form>
	</div>
</div>

</section>

<div ng-show="showSchedReqList">
	<section class="panel panel-primary table-dynamic">
	<div class="panel-body">
		<div class="table-filters">
			<div class="row">
				<div class="col-sm-4">
					<form>
						<input type="text"
						placeholder="Search..."
						class="form-control"
						data-ng-model="reqlist.handler.search"
						data-ng-model-options="{debounce:300}"
						>
					</form>
				</div>
				<div class="col-sm-3 filter-result-info">
					<span>
						Showing {{reqlist.handler.paginated.length}}/{{reqlist.handler.maindata.length}} entries
					</span>              
				</div>
			</div>
		</div>

		<table class="table table-bordered table-striped table-responsive">
			<thead>
				<tr>
					<th ng-repeat='a in reqlist.handler.headers'  width='{{a.width}}'>
						<div class="th">
							{{a.name}}
							<span class="fa fa-angle-up"
							data-ng-if="a.sort"
							data-ng-click="reqlist.handler.setactiveheader(a,true) "
							data-ng-class="{active: $index == reqlist.handler.activeheader.id && reqlist.handler.activeheader.order == true}">
						</span>
						<span class="fa fa-angle-down"
						data-ng-if="a.sort"
						data-ng-click=" reqlist.handler.setactiveheader(a,false) "
						data-ng-class="{active: $index == reqlist.handler.activeheader.id && reqlist.handler.activeheader.order == false}">
					</span>
				</div>
			</th>
			<th colspan="3" class='text-center'>
				<div class="th">
					Action
				</div>
			</th>
		</tr>
	</thead>
	<tbody>
		<tr data-ng-repeat="a in reqlist.handler.getdata() | orderBy: reqlist.handler.activeheader.sort : reqlist.handler.activeheader.order track by [$index]">
			<td style="cursor:pointer" ng-click="reqlist.handler.openmodal('all',a)">{{a.date_request}}</td>
			<td style="cursor:pointer" ng-click="reqlist.handler.openmodal('all',a)">{{a.availment}}</td>
			<td style="cursor:pointer" ng-click="reqlist.handler.openmodal('all',a)">{{a.employee}}</td>
			<td style="cursor:pointer" ng-click="reqlist.handler.openmodal('all',a)">{{a.type}}</td>
			<td style="cursor:pointer" ng-click="reqlist.handler.openmodal('all',a)" ng-show="a.status == 'Approval' ">Approved</td>
			<td style="cursor:pointer" ng-click="reqlist.handler.openmodal('all',a)" ng-show="a.status != 'Approval' ">{{a.status}}</td>
									<!-- <td width='1%' !ng-disabled="reqlist.handler.setbuttonapprove('approve',$index)==false && reqlist.handler.setbuttonapprove('cancel',$index) ==false && reqlist.handler.setbuttonapprove('reject',$index)==false">	
									{{reqlist.handler.setbuttonapprove('approve',$index)}}
									{{reqlist.handler.setbuttonapprove('cancel',$index)}}
									{{reqlist.handler.setbuttonapprove('reject',$index)}}
								</td> -->

								<!-- !reqlist.handler.setbuttonapprove('cancle',$index) && !reqlist.handler.setbuttonapprove('approve',$index) 1-->
								<!-- ng-disabled="!reqlist.handler.setbuttonapprove('approve',$index)" old 1-->
								<!-- <td width='1%' ng-if="a.status=='Pending Approval' || a.status=='Cancel'"> 1-->

								<!-- reqlist.handler.setbuttonapprove('approve',$index) && reqlist.handler.setbuttonapprove('reject',$index) 2-->
								<!-- ng-disabled="!reqlist.handler.setbuttonapprove('cancle',$index)" 2-->
								<!-- <td width='1%' ng-if="a.status=='Cancel'"> 2-->

								<!-- !reqlist.handler.setbuttonapprove('cancle',$index) && !reqlist.handler.setbuttonapprove('reject',$index) 3-->
								<!-- !reqlist.handler.setbuttonapprove('reject',$index) 3-->
								<!-- <td width='1%' ng-if="a.status!='Pending Approval' && a.status!='Cancel'"> 3-->


								<td width='1%'>
									<!-- {{ reqlist.handler.setbuttonapprove('approval',a) }} -->
									<button 
									ng-if="reqlist.handler.setbuttonapprove('approval',a)"
									class="btn btn-success" 
									ng-click="reqlist.handler.openmodal('app',a)"
									ng-disabled="a.can_approve=='n'" 
									tooltip-placement="top" 
									tooltip="Approve">
									<span class="fa fa-check"></span>
								</button>
							</td>
							<!-- ng-if="a.can_cancel=='y'" -->
							<td width='1%'>
								<!-- {{reqlist.handler.setbuttonapprove('cancel',a)}} -->
								<button 
								ng-if="reqlist.handler.setbuttonapprove('cancel',a)"
								class="btn btn-warning" 
								ng-click="reqlist.handler.openmodal('can',a)"
								tooltip-placement="top" 
								tooltip="Cancel">
								<span class="fa fa-ban"></span>
							</button>
						</td>
						<!-- ng-if="a.can_reject=='y'" -->
						<td width='1%'>
							<!-- 										{{reqlist.handler.setbuttonapprove('reject',a)}} -->
							<button 
							ng-if="reqlist.handler.setbuttonapprove('reject',a)"
							class="btn btn-danger" 
							ng-disabled="a.can_reject=='n'"
							ng-click="reqlist.handler.openmodal('rej',a)"
							tooltip-placement="top" 
							tooltip="Reject">
							<span class="fa fa-times"></span>
						</button>
					</td>
					<!-- ng-if="a.can_approve=='y'" -->
									<!-- <td width='1%' ng-if="a.can_approve=='y'">
										<button class="btn btn-success" 
												ng-click="reqlist.handler.openmodal('app',a)"
												ng-disabled="a.can_approve=='n'" 
												tooltip-placement="top" 
												tooltip="Approve">
												<span class="fa fa-check"></span>
										</button>
									</td> -->
									<!-- ng-if="a.can_cancel=='y'" -->
									<!-- <td width='1%' ng-if="a.can_cancel=='y' && a.status=='Pending Approval'">
										<button class="btn btn-warning" 
												ng-click="reqlist.handler.openmodal('can',a)"
												ng-disabled="a.can_cancel=='n'"
												tooltip-placement="top" 
												tooltip="Cancel">
												<span class="fa fa-ban"></span>
										</button>
									</td> -->
									<!-- ng-if="a.can_reject=='y'" -->
									<!-- <td width='1%' ng-if="a.can_reject=='y'">
										<button class="btn btn-danger" 
												ng-disabled="a.can_reject=='n'"
												ng-click="reqlist.handler.openmodal('rej',a)"
												tooltip-placement="top" 
												tooltip="Reject">
												<span class="fa fa-times"></span>
										</button>
									</td> -->
								</tr>
							</tbody>
						</table>
						<footer class="table-footer">
							<div class="row">
								<div class="col-md-6 page-num-info">
									<span>
										Show 
										<select data-ng-model="reqlist.handler.numPerPage"
										data-ng-options="num for num in reqlist.handler.numPerPageOpt"
										data-ng-change="onNumPerPageChange()">
									</select> 
									entries per page
								</span>
							</div>
							<div class="col-md-6 text-right pagination-container">
								<pagination class="pagination-sm"
								ng-model="reqlist.handler.currentPage"
								total-items="reqlist.handler.filtered.length"
								max-size="4"
								ng-change="select(currentPage)"
								items-per-page="reqlist.handler.numPerPage"
								rotate="false"
								previous-text="&lsaquo;" next-text="&rsaquo;"
								boundary-links="true"></pagination>
							</div>
						</div>
					</footer>
				</div>
			</section>



			<!-- ## MODAL ALL REQUEST TYPE ## -->				
			<script type="text/ng-template" id="all">
				<div class="modal-header">
					<h4><label>{{all.form.type}} Request</label>
						<label ng-show="all.form.type == 'Overtime'">( {{all.form.availment_date}} )</label>
						<label ng-show="all.form.type == 'Undertime'">( {{all.form.availment_date}} )</label>
						<label ng-show="all.form.type == 'Time-In / Time-Out'">
							( {{all.form.availment_date}} )
						</label>
						<label ng-show="all.form.type == 'Late'">
							( {{all.form.availment_date}} )
						</label>
						<label ng-show="all.form.type == 'Early Out'">
							( {{all.form.availment_date}} )
						</label>
						<label ng-show="all.form.type == 'Training'">
							( {{all.form.TrainingRequest}} )
						</label>
						<label ng-show="all.form.type == 'Official Business'">
							{{all.form.TrainingRequest}}
						</label>
						<label>{{all.form.employee}}</label>
					</h4>
				</div>
				<div class="modal-body">
					<form name="myForm" class="form-horizontal form-validation">
						
						<!-- # FORM GROUP -->
						<div class="form-group">
							<div class="col-sm-3">
								<label>Request Type</label>
							</div>
							<div class="col-sm-3">
								<label>{{all.form.type}}</label>
							</div>
							<div class="col-sm-3">
								<label>Current Status</label>
							</div>
							<div class="col-sm-3">
								<label>{{all.form.status == "Approval" ?  'Approved' : all.form.status }}</label>
							</div>
						</div>

						<!-- # FORM GROUP -->
						<div class="form-group">
							<div class="col-sm-3">
								<label>Request Time / Date</label>
							</div>
							<div class="col-sm-3">
								<label>{{all.form.date_request  }}</label>
							</div>
							<div class="col-sm-3">
								<label ng-hide="all.form.type == 'Swap Shift / Day Off'">Request by</label>
							</div>
							<div class="col-sm-3">
								<label ng-hide="all.form.type == 'Swap Shift / Day Off'">{{all.form.requestBy}}</label>
							</div>
						</div>

						<!-- # FORM GROUP -->
						<div class="form-group">
							<div class="col-sm-3">
								<label ng-show="all.form.type == 'Time-In / Time-Out'">
									Current Schedule
								</label>
								<label ng-show="all.form.type == 'Overtime'">
									Schedule
								</label>
								<label ng-show="all.form.type == 'Undertime'">
									Date Request
								</label>
								<label ng-show="all.form.type == 'Late'">
									Current Schedule
								</label>
								<label ng-show="all.form.type == 'Early Out'">
									Current Schedule
								</label>
								<label ng-show="all.form.type == 'Training'">
									Number of Days
								</label>
								<label ng-show="all.form.type == 'Official Business'">
									Number of Days
								</label>
								<div class="text-center"><label ng-show="all.form.type == 'Change Shift'">
									Date
								</label></div>
								<label ng-show="all.form.type == 'Swap Shift / Day Off'">
									Request by
								</label>
							</div>
							<div class="col-sm-3">
								<label ng-show="all.form.type == 'Time-In / Time-Out'">
									{{all.form.schedule}}
								</label>
								<label ng-show="all.form.type == 'Overtime'">
									{{all.form.schedule}}
								</label>	
								<label ng-show="all.form.type == 'Undertime'">
									{{all.form.availment_date}}
								</label>
								<label ng-show="all.form.type == 'Late'">
									{{all.form.schedule}}
								</label>
								<label ng-show="all.form.type == 'Early Out'">
									{{all.form.schedule}}
								</label>
								<label ng-show="all.form.type == 'Training'">
									{{all.form.NumberOfDay}}
								</label>
								<label ng-show="all.form.type == 'Official Business'">
									{{all.form.NumberOfDay}}
								</label>
								<div class="text-center"><label ng-show="all.form.type == 'Change Shift'">
									Original
								</label></div>
								<label ng-show="all.form.type == 'Swap Shift / Day Off'">
									{{all.handler.subdata.requestBy}}
								</label>
							</div>
							<div class="col-sm-3">
								<label ng-show="all.form.type == 'Overtime'">Compensation With :</label>
								<div class="text-center"><label ng-show="all.form.type == 'Change Shift'">
									New
								</label></div>
								<label ng-show="all.form.type == 'Swap Shift / Day Off'">
									No. of request for the month :
								</label>
							</div>
							<div class="col-sm-2">
								<label ng-show="all.form.type == 'Overtime'">{{all.form.compensation}}</label>	
								<label ng-show="all.form.type == 'Swap Shift / Day Off'">
									{{all.handler.subdata.total_request}}
								</label>
							</div>
						</div>

						<!-- # FORM GROUP  -->
						<div class="form-group">
							<div class="col-sm-3">
								<label ng-show="all.form.type == 'Overtime'">Date Request</label>
								<label ng-show="all.form.type == 'Undertime'">
									Schedule Work Hours
								</label>
								<label ng-show="all.form.type == 'Late'">
									Record Time In
								</label>
								<label ng-show="all.form.type == 'Early Out'">
									Record Time Out
								</label>
								<div class="text-center" ng-show="all.form.type ==  'Change Shift'" ng-repeat="dates in all.handler.subdata.date">
									<label>{{dates}}</label></div>
									<label ng-show="all.form.type == 'Swap Shift / Day Off'">
										Swap with
									</label>
								</div>
								<div class="col-sm-3">
									<div class="text-center"><label ng-show="all.form.type == 'Time-In / Time-Out'">Time In</label></div>
									<label ng-show="all.form.type == 'Overtime'">{{all.form.availment_date}}</label>
									<label ng-show="all.form.type == 'Undertime'">
										{{all.form.schedule}}
									</label>
									<label ng-show="all.form.type == 'Late'">
										{{all.form.time_in}}
									</label>
									<label ng-show="all.form.type == 'Early Out'">
										{{all.form.time_out}}
									</label>
									<div class="text-center" ng-show="all.form.type ==  'Change Shift'" ng-repeat="dates in all.handler.subdata.date">
										<label>
											{{all.handler.subdata.old_shift_code[$index]}} : {{all.handler.subdata.original[$index]}} 
										</label></div>

										<label ng-show="all.form.type == 'Swap Shift / Day Off'">
											{{all.handler.subdata.swapWith}}
										</label>
									</div>
									<div class="col-sm-3">
										<div class="text-center">
											<label ng-show="all.form.type == 'Time-In / Time-Out'">Time Out</label>
										</div>
										<label ng-show="all.form.type == 'Late / Early Out Exemption'">
											Record Time Out
										</label>
										<div class="text-center" ng-show="all.form.type ==  'Change Shift'" ng-repeat="dates in all.handler.subdata.date">
											<label>
												{{all.handler.subdata.new_shift_code[$index]}} : {{all.handler.subdata.new[$index]}}
											</label></div>
											<label ng-show="all.form.type == 'Swap Shift / Day Off'">
												No. of request for the month :
											</label>
										</div>
										<div class="col-sm-3">
											<label ng-show="all.form.type == 'Late / Early Out Exemption'">
												Record Time Out{{all.form.record_timeOut}}
											</label>
											<label ng-show="all.form.type == 'Swap Shift / Day Off'">
												{{all.handler.subdata.total_swap}}
											</label>
										</div>
									</div>

									<!-- # FORM GROUP -->
									<div class="form-group">
										<div class="col-sm-3">
											<label ng-show="all.form.type == 'Time-In / Time-Out'">
												Original
											</label>
											<label ng-show="all.form.type == 'Undertime'">
												Request work end time
											</label>
											<label ng-show="all.form.type == 'Late'">
												Late For
											</label>
											<label ng-show="all.form.type == 'Early Out'">
												Early For
											</label>
											<div class="text-center"><label ng-show="all.form.type == 'Swap Shift / Day Off'">
												Date
											</label></div>
										</div>
										<div class="col-sm-3">
											<div class="text-center"><label ng-show="all.form.type == 'Time-In / Time-Out'">
												{{all.form.original_in}}
											</label></div>
											<label ng-show="all.form.type == 'Undertime'">
												{{all.form.RequestWorkendTime}}
											</label>
											<label ng-show="all.form.type == 'Late'">
												{{all.form.LateToT}}
											</label>
											<label ng-show="all.form.type == 'Early Out'">
												{{all.form.early_out}}
											</label>
											<div class="text-center"><label ng-show="all.form.type == 'Swap Shift / Day Off'">
												{{all.handler.subdata.requestBy}}
											</label></div>
										</div>
										<div class="col-sm-3">
											<div class="text-center"><label ng-show="all.form.type == 'Time-In / Time-Out'">
												{{all.form.original_out}}
											</label></div>
											<label ng-show="all.form.type == 'Late / Early Out Exemption'">
												Early for
											</label>
											<div class="text-center"><label ng-show="all.form.type == 'Swap Shift / Day Off'">
												Swap With
											</label></div>
										</div>
										<div class="col-sm-2">
											<label ng-show="all.form.type == 'Late / Early Out Exemption'">
												Early for{{all.form.early_for}}
											</label>
											<div class="text-center"><label ng-show="all.form.type == 'Swap Shift / Day Off'">
												{{all.handler.subdata.swapWith}}
											</label></div>
										</div>
									</div>

									<!-- # FORM GROUP -->
									<div class="form-group">
										<div class="col-sm-3">
											<label ng-show="all.form.type == 'Time-In / Time-Out'">
												Request
											</label>
											<label ng-show="all.form.type == 'Undertime'">
												With Duration
											</label>
											<div class="text-center" ng-show="all.form.type == 'Swap Shift / Day Off'" ng-repeat="avail_swap in all.handler.subdata.availment_swap"><label>
												{{avail_swap}}
											</label></div>
										</div>
										<div class="col-sm-3">
											<div class="text-center" ng-show="all.form.type == 'Time-In / Time-Out'"><label>
												{{all.form.req_in}}
											</label></div>
											<label ng-show="all.form.type == 'Undertime'">
												{{all.form.duration}}
											</label>
											<div class="text-center" ng-show="all.form.type == 'Swap Shift / Day Off'">
												<label ng-show="all.handler.subdata.schedule_swap[0]">
													{{all.handler.subdata.schedule_swap[0]}}
												</label>
												<label ng-show="all.handler.subdata.schedule_swap[1]">
													{{all.handler.subdata.schedule_swap[1]}}
												</label>
												<label ng-show="all.handler.subdata.schedule_swap[2]">
													{{all.handler.subdata.schedule_swap[2]}}
												</label>
												<label ng-show="all.handler.subdata.schedule_swap[3]">
													{{all.handler.subdata.schedule_swap[3]}}
												</label>
											</div>
										</div>
										<div class="col-sm-3">
											<div class="text-center"><label ng-show="all.form.type == 'Time-In / Time-Out'">
												{{all.form.req_out}}
											</label></div>
											<div class="text-center"><label ng-show="all.form.type == 'Swap Shift / Day Off'">
												|
											</label></div>
										</div>
										<div class="col-sm-3" ng-show="all.form.type == 'Swap Shift / Day Off'">
											<div >
												<label ng-if="all.handler.subdata.original_schedule[0]">
													{{all.handler.subdata.original_schedule[0]}}
												</label>
												<label ng-if="all.handler.subdata.original_schedule[1]">
													{{all.handler.subdata.original_schedule[1]}}
												</label>
												<label ng-if="all.handler.subdata.original_schedule[2]">
													{{all.handler.subdata.original_schedule[2]}}
												</label>
												<label ng-if="all.handler.subdata.original_schedule[3]">
													{{all.handler.subdata.original_schedule[3]}}
												</label>
											</div>
										</div>
									</div>

									<!-- # FORM GROUP -->
									<div class="form-group">
										<div class="col-sm-8">
											<label 	ng-show="all.form.type == 'Overtime'">{{all.form.overtime_need}}</label>
										</div>
									</div><br>

									<table class="table table-bordered table-striped table-responsive">
										<thead>
											<tr class="color-table">
												<th><div class="text-center">
													Approval
												</div></th>
												<th><div class="text-center">
													Status
												</div></th>
												<th><div class="text-center">
													Date
												</div></th>
												<th><div class="text-center">
													Time
												</div></th>
												<th><div class="text-center">
													Approver
												</div></th>
											</tr>
										</thead>
										<tbody>
										<!--<tr ng-if="all.form.approval_name != null">
											<td class="text-center">{{all.form.approval_stat}}</td>
											<td class="text-center" ng-if ="all.form.status == 'Approval'">Approved</td>
											<td class="text-center" ng-if ="all.form.status == 'Rejected'">Rejected</td>
											<td class="text-center" ng-if ="all.form.status == 'Cancel'">Canceled</td>
											<td class="text-center" ng-if ="all.form.status == 'Pending Approval'">Pending Approval</td>
											<td class="text-center">{{all.form.approval_date}}</td>
											<td class="text-center">{{all.form.approval_time}}</td>
											<td class="text-center">N/A</td>
										</tr>

										<tr ng-if="all.form.approver_name != null">
											<td class="text-center">{{all.form.approver_stat}}</td>
											<td class="text-center" ng-if ="all.form.status == 'Approval'">Approved</td>
											<td class="text-center" ng-if ="all.form.status == 'Rejected'">Rejected</td>
											<td class="text-center" ng-if ="all.form.status == 'Cancel'">Canceled</td>
											<td class="text-center" ng-if ="all.form.status == 'Pending Approval'">Pending Approval</td>
											<td class="text-center">{{all.form.approver_date}}</td>
											<td class="text-center">{{all.form.approver_time}}</td>
											<td class="text-center">{{all.form.approver_name}}</td>
										</tr>-->
										<tr data-ng-repeat="flow in all.form.flow_approval">
											<td class="text-center">{{flow.job_approval}}</td>
											<td class="text-center" ng-if ="flow.status == 'Pending'">Pending Approval</td>
											<td class="text-center" ng-if ="flow.status != 'Pending'">{{flow.status}}</td>
											<td class="text-center">{{flow.date}}</td>
											<td class="text-center">{{flow.time}}</td>
											<td class="text-center">{{flow.name}}</td>

										</tr>
									</tbody>
								</table>

								<div class="modal-footer">
									<button type="submit" class="btn btn-primary pull-left"  ng-click="all.back()">Back</button>
									<span class="space space-sm"></span>
									<!--ng-show="all.form.can_approve=='y'&&all.form.status=='Pending Approval'"-->
									<button type="submit" 
									ng-if="all.handler.setbuttonapprove('approval',all.form)"
									class="btn btn-success" 
									ng-click="all.handler.actiondetail('app',all.form)">
									Approve
								</button>
								<span class="space space-sm"></span>
								<!--ng-show="all.form.can_reject=='y'&&all.form.status=='Pending Approval'">-->
								<button type="submit" 
								ng-if="all.handler.setbuttonapprove('reject',all.form)"
								class="btn btn-danger" 
								ng-click="all.handler.actiondetail('rej',all.form)">
								Reject
							</button>
							<span class="space space-sm"></span>
							<!--ng-show="all.form.can_cancle=='y'">-->
							<button type="submit" 
							ng-if="all.handler.setbuttonapprove('cancel',all.form)"
							class="btn btn-warning"  
							ng-click="all.handler.actiondetail('can',all.form)">
							Cancel
						</button>
					</div>
					<section class="panel panel-default">
						<div class="panel-heading"><label><p class="text-capitalize">Comments for Consideration</p></label></div>
						<div class="panel-body">	
							<div class="form-group">
								<div class="col-sm-12">
									<table class="table">
										<thead>
											<tr>
												<th style='width:20%'>Name</th>
												<th style='width:20%'>Created at</th>
												<th style='width:40%'>Comment</th>
												<th style='width:20%'>Filename</th>
											</tr>
										</thead>
										<tbody>
											<tr ng-repeat='b in all.form.comment'>
												<td>{{b.employeeName}}</td>
												<td>{{b.created_at}}</td>
												<td>{{b.comment}}</td>
												<td ng-click="all.handler.getfile(b.filename)">
													<a 	target="_parent" 
													style="cursor:pointer" 
													ng-href="{{e}}">
													{{b.filename}}
												</a>
											</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
						<div class="form-group">
							<div class="col-sm-12">
								<textarea class="form-control" rows="4" cols="40" placeholder='Input New Comment' ng-model="all.form.newcomment"></textarea>
							</div>
						</div>
					</div>
				</section>
				<div class="form-group">
					<fieldset>
						<div class='col-sm-2'>
							<button type="button" 
							class="btn btn-default" 
							accept="files/*"
							ngf-select ngf-change="upload($files)"
							ngf-multiple="multiple"
							ng-model="all.handler.files">
							Upload a Photo
						</button>
					</div>		
					<div class='col-sm-3'>
						<label ng-repeat="f in all.handler.files"  ng-show="all.handler.files">{{f.name}}</label>
					</div>
					<div class='col-sm-3'  ng-show="all.handler.files">
						<button class="btn btn-danger"  tooltip-placement="top" tooltip="Delete File" ng-click="all.handler.files = false">
							<span class="glyphicon glyphicon-trash" ></span>
						</button>
					</div>
				</fieldset>
			</div>
			<div class="modal-footer">
				<button type="submit" class="btn btn-success pull-left"  ng-click="all.handler.sentdetail(all.handler.files,all.form)">Send</button>
			</div>
		</form>
	</div>
</script>

<!-- MODAL REJECT AND APPROVE -->
<script type="text/ng-template" id="AppRejModal">
	<div class="modal-header">
		<h4><i class="{{AppRejModal.icon}}" style="margin-right: 8px;"></i>{{AppRejModal.title}} Request Confirmation</h4>
	</div>
	<div class="modal-body">
		<form name="myForm"  class='form form-validation' data-ng-submit='AppRejModal.submit()'>	
			<fieldset>
				<div class="col-sm-12">
					<span>Are you sure want to {{AppRejModal.title}} <b>{{AppRejModal.form.employee}}</b> request ?</span>
				</div>
			</fieldset>
		</form>
		<br>
		<div class="modal-footer">
			<button class='btn btn-gap-h btn-success' type='submit' ng-click='AppRejModal.submit()'> Ok </button>
			<button class='btn btn-gap-h btn-danger' ng-click='AppRejModal.close()'> Cancel </button>
		</div>
	</div>
</script>

</div>
</div>
