<!DOCTYPE html>
<!--[if lt IE 8]>         <html class="no-js lt-ie8"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>HRMS</title>
	<meta name="description" content="Responsive Admin Web App">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">

	<link href="http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic" rel="stylesheet" type="text/css">
	<link rel="stylesheet" href="styles/fullCalendar.css"/>
	<link rel="stylesheet" href="styles/calendarDemo.css"/>
	<!-- Needs images, font... therefore can not be part of main.css -->
	<link rel="stylesheet" href="bower_components/font-awesome/css/font-awesome.min.css">
	<link rel="stylesheet" href="bower_components/weather-icons/css/weather-icons.min.css">
	<script src="//ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
	<!-- end Needs images -->
	
	<!-- <link rel="stylesheet" href="http://ianwalter.github.io/flat-github-ribbon/dist/flat-github-ribbon.min.css" />-->
	<link rel="stylesheet" href="styles/main.css"/>
	<link rel="stylesheet" href="styles/costum.css"/>
	<link rel="stylesheet" href="styles/nouislider.min.css"/>
	<link rel="stylesheet" href="styles/rzslider.css"/>
	
	
</head>
<body data-ng-app="app" id="app" class="app" data-custom-page="" data-off-canvas-nav="" data-ng-controller="AppCtrl" data-ng-class=" {'layout-boxed': admin.layout === 'boxed' } ">
        <!--[if lt IE 9]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        <section data-ng-include=" 'views/header.html' " id="header" class="header-container" data-ng-class=" {'header-fixed': admin.fixedHeader} " data-ng-controller="HeaderCtrl"></section>

        <div class="main-container">
        	<aside data-ng-include=" 'views/nav.html' " id="nav-container" class="nav-container nav-horizontal" data-ng-class=" {'nav-fixed': admin.fixedSidebar, 'nav-horizontal': admin.menu === 'horizontal', 'nav-vertical': admin.menu === 'vertical'}" data-ng-controller="NavCtrl">
        	</aside>
        	<section data-ng-view="" id="content" class="content-container {{admin.pageTransition.class}}"></section>
        </div>
		<!--
		<script src="http://maps.google.com/maps/api/js?sensor=false"></script>
	-->
	<script src="scripts/table2excel.js"></script>
	<script src="scripts/vendor.js"></script>
	<script src="scripts/Blob.js"></script>
	<script src="scripts/FileSaver.js"></script>
	<script src="scripts/xlsx.core.min.js"></script>
	<script src="scripts/nouislider.min.js"></script>
	<script src="scripts/rzslider.min.js"></script>
	
		<!-- <script src="scripts/ng-file-upload-shim.js"></script>
		<script src="scripts/ng-file-upload.js"></script>
		<script src="scripts/ng-file-upload.min.js"></script> -->
		
		
		<script src="scripts/alasql.min.js"></script>
		
		
		<script src="scripts/ui.js"></script>
		<script src="scripts/mask.js"></script>
		<script src="scripts/app.controllers.js"></script>
		<script src="scripts/app.localization.js"></script>
		<script src="scripts/app.task.js"></script>	
		<script src="scripts/app.directives.js"></script>
		<script src="scripts/app.nav.js"></script>
		<script src="scripts/app.page.ctrls.js"></script>
		<script src="scripts/organization/app.form.org.js"></script>
		<script src="scripts/organization/app.org.depart.js"></script>
		<script src="scripts/app.ui.form.ctrls.js"></script>
		<script src="scripts/app.ui.form.directives.js"></script>
		<script src="scripts/app.ui.services.js"></script>
		<script src="scripts/factory/app.factory.job.js"></script>
		<script src="scripts/factory/app.factory.report.js"></script>
		<script src="scripts/app.ui.ctrls.js"></script>
		<script src="scripts/app.ui.directives.js"></script>
		<script src="scripts/app.ui.map.js"></script>
		<script src="scripts/dash/app.dashboard.js"></script>
		<script src="scripts/login/app.login.js"></script>
		<script src="scripts/pim/app.form.csv.js"></script>
		<script src="scripts/employee/app.form.validation.js"></script>
		<script src="scripts/employee/app.form.personal.js"></script>
		<script src="scripts/employee/app.form.emmergency.js"></script>
		<script src="scripts/employee/app.form.dependents.js"></script>
		<script src="scripts/employee/app.form.immigrations.js"></script>
		<script src="scripts/employee/app.form.report.js"></script>
		<script src="scripts/employee/app.form.contact.js"></script>
		<script src="scripts/employee/app.form.jobHistory.js"></script>
		<script src="scripts/employee/app.form.salary.js"></script>
		<script src="scripts/user/app.user.management.js"></script>
		<script src="scripts/qualification/app.qual.skill.js"></script>
		<script src="scripts/qualification/app.qual.education.js"></script>
		<script src="scripts/qualification/app.qual.language.js"></script>
		<script src="scripts/nationalities/app.tables.national.js"></script>
		<script src="scripts/config/app.config.mail.js"></script>
		<script src="scripts/config/app.config.biometric.js"></script>
		<script src="scripts/config/app.config.ldap.js"></script>
		
		<script src="scripts/job/app.tables.job.js"></script>
		<script src="scripts/job/app.job.employeestatus.js"></script>
		<script src="scripts/job/app.job.workshift.js"></script>
		
		<script src="scripts/pim/app.pim.termination.js"></script>
		<script src="scripts/pim/app.pim.immigration.js"></script>
		<script src="scripts/pim/app.pim.document.js"></script>
		<script src="scripts/pim/app.pim.emplist.js"></script>
		<script src="scripts/pim/app.pim.infractionlist.js"></script>
		<script src="scripts/pim/app.pim.addinfraction.js"></script>
		
		
		<!-- Script Attendance Configuration -->
		<script src="scripts/attendance/app.att.cutoffperiod.js"></script>
		
		<!-- Script Attendance Cut-Off -->
		<script src="scripts/attendance/app.att.attendancecutoff.js"></script>
		<script src="scripts/attendance/app.att.attrecord.js"></script>
		
		<!-- Script Attendance Schedule -->
		<script src="scripts/attendance/app.att.scheduleimport.js"></script>
		<script src="scripts/attendance/app.att.unApproved.js"></script>
		<script src="scripts/attendance/app.att.scheduleList.js"></script>
		<script src="scripts/attendance/app.att.scheduleList2.js"></script>
		<script src="scripts/attendance/app.att.fixSchedule.js"></script>
		<script src="scripts/attendance/app.att.manualinput.js"></script>
		<script src="scripts/attendance/app.att.empattrecord.js"></script>
		<script src="scripts/attendance/app.att.csvImport.js"></script>
		
		<!-- Script Attendance Schedule Request-->
		<script src="scripts/attendance/app.att.trainingOff.js"></script>
		<script src="scripts/attendance/app.att.overUnder.js"></script>
		<script src="scripts/attendance/app.att.changeShift.js"></script>
		<script src="scripts/attendance/app.att.sRequestList.js"></script>
		
		<!-- Script Leave Configuration -->
		<script src="scripts/leave/app.leave.holiday.js"></script>
		<script src="scripts/leave/app.leave.tables.js"></script>
		
		<!-- Script Leave Entitlement -->
		<script src="scripts/leave/app.leave.entitlement.js"></script>
		<script src="scripts/leave/app.leave.report.js"></script>
		<script src="scripts/leave/app.leave.request.js"></script>
		<script src="scripts/leave/app.leave.list.js"></script>
		
		<!-- Script Employee-->
		<script src="scripts/employee/qualifi/app.form.workExp.js"></script>
		<script src="scripts/employee/qualifi/app.form.educati.js"></script>
		<script src="scripts/employee/qualifi/app.form.skill.js"></script>
		<script src="scripts/employee/qualifi/app.form.language.js"></script>
		<script src="scripts/employee/qualifi/app.form.seminar.js"></script>
		
		<script src="scripts/employee/sideMenu/app.side.menu.js"></script>
		
		<!-- Script Calendar-->
		<script src="scripts/cal/moment.js"></script>
		<script src="scripts/cal/fullcalendar.js"></script>
		<script src="scripts/cal/gcal.js"></script>
		<script src="scripts/cal/calendar.js"></script>
		<script src="scripts/cal/calendarDemo.js"></script>
		
		<!-- script app js -->
		<script src="scripts/app.js"></script>
		
		<!-- timepicker -->
		<script src="scripts/angular.timepicker.js"></script>

		<!-- DASHBOARD PERSONAL  -->
		<script src="scripts/dash/dashboardPersonal/app.dashboard.menu.js"></script>	
		<script src="scripts/dash/dashboardPersonal/app.dashboard.personal.js"></script>
		<script src="scripts/dash/dashboardPersonal/app.dashboard.contact.js"></script>
		<script src="scripts/dash/dashboardPersonal/app.dashboard.emmergency.js"></script>
		<script src="scripts/dash/dashboardPersonal/app.dashboard.dependents.js"></script>
		<script src="scripts/dash/dashboardPersonal/app.dashboard.immigrations.js"></script>
		<script src="scripts/dash/dashboardPersonal/app.dashboard.report.js"></script>
		<script src="scripts/dash/dashboardPersonal/app.dashboard.history.js"></script>
		<script src="scripts/dash/dashboardPersonal/app.dashboard.salary.js"></script>
		<script src="scripts/dash/dashboardPersonal/qualifi/app.dashboard.workExp.js"></script>
		<script src="scripts/dash/dashboardPersonal/qualifi/app.dashboard.educati.js"></script>
		<script src="scripts/dash/dashboardPersonal/qualifi/app.dashboard.skill.js"></script>
		<script src="scripts/dash/dashboardPersonal/qualifi/app.dashboard.language.js"></script>
		<script src="scripts/dash/dashboardPersonal/qualifi/app.dashboard.seminar.js"></script>
		<script src="scripts/dash/dashboardPersonal/scheduleReqDash/app.dashboard.timeInOut.js"></script>
		<script src="scripts/dash/app.dashboard.leaveList.js"></script>
		<script src="scripts/dash/app.dashboard.sReqList.js"></script>
		<script src="scripts/dash/app.dashboard.leaveReq.js"></script>
		<script src="scripts/dash/app.dashboard.trainingReq.js"></script>
		<script src="scripts/dash/app.dashboard.overtimeReq.js"></script>
		<script src="scripts/dash/app.dashboard.changeShiftReq.js"></script>
		<script src="scripts/dash/dashboardPersonal/app.dashboard.photograph.js"></script>

		<!-- SALARY MODULE -->
		<script src="scripts/salary/app.salary.incentive_and_allowance.js"></script>
		<script src="scripts/salary/app.salary.performance_bonus.js"></script>
		<script src="scripts/salary/app.salary.suspension_rate.js"></script>
		<script src="scripts/salary/app.salary.monthly_tax.js"></script>
		<script src="scripts/salary/app.salary.annual_tax.js"></script>
		<script src="scripts/salary/app.salary.sss.js"></script>
		<script src="scripts/salary/app.salary.hdmf.js"></script>
		<script src="scripts/salary/app.salary.philhealth.js"></script>
		<script src="scripts/salary/personal/app.salary.salaryNewProfile.js"></script>
		<script src="scripts/salary/app.salary.salaryCutOff.js"></script>
		<script src="scripts/salary/app.salary.adjustmentHistory.js"></script>
		<script src="scripts/salary/personal/app.salary.deduction_personal.js"></script>
		<script src="scripts/salary/app.salary.monthIncentiveAllow.js"></script>
		<script src="scripts/salary/app.salary.yearlyBonus.js"></script>
		<script src="scripts/salary/app.salary.serviceIncentiveLeave.js"></script>
		<script src="scripts/salary/app.salary.performanceBonusYear.js"></script>
		<script src="scripts/salary/app.salary.managementBonusYear.js"></script>
		<script src="scripts/salary/app.salary.witholdingTax.js"></script>
		<script src="scripts/salary/app.salary.annualTaxComputation.js"></script>
		<script src="scripts/salary/app.salary.payrollPerCutoff.js"></script>
		<script src="scripts/salary/app.salary.monthlyExpatPayroll.js"></script>
		<script src="scripts/salary/app.salary.otherReports.js"></script>
		<script src="scripts/salary/personal/app.salary.incentiveAllowancePersonal.js"></script>
		<script src="scripts/salary/app.salary.atmAdvise.js"></script>
		<script src="scripts/salary/app.salary.slips_salary.js"></script>
		<script src="scripts/salary/app.salary.lastPay.js"></script>
		<script src="scripts/salary/app.salary.bir_alphalist.js"></script>
		<script src="scripts/salary/app.salary.monthlyGovernmentsReport.js"></script>
		
	

		

		


		

		
	</body>
	</html>