
		<div class="page page-addinfraction" ng-controller='addinfractionController as addinfract'>
			<section class="panel panel-primary table-dynamic">
					<div class="panel-heading"><span class="glyphicon glyphicon-th" style="margin-right: 8px;"></span>
						<strong>
							<label>Add Infraction</label>
						</strong>
					</div>
					<div class="panel-body">	
						<form name="form" class="form-horizontal form-validation">
							<div class="form-group">
								<div class="col-sm-2">
									<label>Employee Name</label><span class="space space-sm"></span><label style ="color:red">*</label>
								</div>
								<div class="col-sm-2">
									<input 	type="text"
											placeholder="Type for hints . ."
											class="form-control"
											name="name"
											data-ng-model="addinfract.handler.form.employee_id"
											typeahead="(address.name) for address in addinfract.handler.getLocation($viewValue)" 
											typeahead-loading="loadingLocations"
											typeahead-min-length="4"
											typeahead-wait-ms="400"
											typeahead-on-select="addinfract.handler.onSelect($item, $model, $label)"
											autocomplete="off"
											ng-disabled='!addinfract.handler.hide'
											required
									/>
								</div>
							</div>
							<div class="form-group">
								<div class="col-sm-2">
									<label>Infraction Name</label><span class="space space-sm"></span><label style ="color:red">*</label>
								</div>
								<div class="col-sm-2">
									<input 	type="text"
											placeholder="Infraction Name"
											class="form-control"
											autocomplete="off"
											data-ng-model="addinfract.handler.form.infraction_name"
											ng-disabled='!addinfract.handler.hide'
									/>
								</div>
							</div>
							<div class="form-group">
								<div class="col-sm-2">
									<label>Sanction</label><span class="space space-sm"></span><label style ="color:red">*</label>
								</div>
								<div class="col-sm-2">
									<select class="form-control"  name="type" ng-model="addinfract.handler.form.sanction_id" ng-disabled='!addinfract.handler.hide' required>
										<option value="">-- Select --</option>
										<option value="1">Verbal Warning (VW)</option>
										<option value="2">Written Warning (WW)</option>
										<option value="3">Final Written Warning (FWW)</option>
										<option value="4">Suspension (SUS)</option>
									</select>
								</div>
								<div class="col-sm-1" ng-show="addinfract.handler.form.sanction_id=='4'">
									<input 	type="number"
											placeholder="Sanction Days"
											class="form-control"
											autocomplete="off"
											data-ng-model="addinfract.handler.form.days"
											ng-disabled='!addinfract.handler.hide'
									/>
								</div>
								<div class="col-sm-2" ng-show="addinfract.handler.form.sanction_id=='4'">
									<label>Days</label><span class="space space-sm"></span><label style ="color:red">*</label>
								</div>
							</div>
							<div class="form-group">
								<fieldset>
									<div class="col-sm-2">
										<label> Sanction Date</label>
									</div>
									<div class="col-sm-2">
										 <input type="date" 
												class="form-control" 
												ng-model="addinfract.handler.form.date"
												min='1900-01-01'
												max='2200-01-01'
												ng-disabled='!addinfract.handler.hide'
												placeholder="yyyy-mm-dd"
										/>												
									</div>
								</fieldset>
							</div>
							<hr>
							<div class="form-group">
								<fieldset>
									<div class="col-sm-3">
										<label style ="color:red">*</label><span class="space space-xs"></span><label><small>Required field</small></label>
									</div>										
								</fieldset>
							</div>
						</form>
					</div>
			</section>
						
			<!-- ##  TABLE COMMENT  ## -->
			<section class="panel panel-primary">
				<div class="panel-heading"><label class="text-capitalize">Additional Information</label></div>
					<div class="panel-body">	
						<form name="myForm" class="form-horizontal form-validation">
							<div class="form-group">
								<div class="col-md-12">
									<textarea class="form-control" rows="5" cols="40" placeholder="Additional Information" ng-model="addinfract.handler.form.comment"></textarea>
								</div>
							</div><br>
							<div class="form-group">
								<fieldset>
									<div class='col-sm-1'>
										<button type="button" 
												class="btn btn-default" 
												accept="image/*"
												ngf-select ngf-change="upload($files)"
												ngf-multiple="multiple"
												ng-model="addinfract.handler.files"
												ng-show="addinfract.handler.button('create')">
												Upload a Photo
										</button>
									</div>		
									<div class='col-sm-2'>
										<label ng-repeat="f in addinfract.handler.files"  ng-show="addinfract.handler.files">{{f.name}}</label>
									</div>
									<div class='col-sm-3'  ng-show="addinfract.handler.files">
										<button class="btn btn-danger"  tooltip-placement="top" tooltip="Delete File" ng-click=" addinfract.handler.files = false">
											<span class="glyphicon glyphicon-trash" ></span>
										</button>
									</div>
								</fieldset>
							</div>
							<hr>
							<div class="form-group">										
								<div class="col-sm-6">
									<form>
										<button type="submit" 
												class="btn btn-success"   
												ng-click="addinfract.handler.save(addinfract.handler.files)"
												ng-show="addinfract.handler.button('create')">
												Save
										</button>
										<span class="space space-sm"></span>
										<button type="submit" 
												class="btn btn-danger"   
												ng-click="addinfract.handler.cancel()"
												ng-show="addinfract.handler.button('create')">
												Cancel
										</button>
									</form>
								</div>
							</div>
						</form>
					</div>
			</section>
			
		</div>