
		<div class="page page-xls" ng-controller="csvexcelcontroller as csv">
			<section class="panel panel-primary" >
				<div class="panel-heading"><strong><span class="glyphicon glyphicon-th" style="margin-right: 8px;"></span>Excel data import</strong></div>
					<div class="panel-body">
						<form name="form_name" class="form-horizontal form-validation" enctype = "multipart/form-data">	
							<div class="form-group">
								<fieldset>
									<div class="col-sm-1">
										<label for="Organization">Select File</label><span class="space space-sm"></span><label style ="color:red">*</label>
									</div>
									<div class='col-sm-3'>
										<input	type="file" 
												class="btn btn-default"
												accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet"
												ngf-select ngf-change="csv.readFiles($files,$invalidFiles)"
												ngf-multiple="csv.multiple"
												ng-model="csv.files"
												ng-show="csv.handler.hiden('create')"
										/>												
									</div>
								</fieldset>
							</div>
							<div class="form-group">
								<fieldset>
									<div class="col-sm-5">
										<label><i class="fa fa-check-square-o"  style="margin-right: 8px;"></i>Column order should not be changed.</label>
									</div>
								</fieldset>
								<fieldset>
									<div class="col-sm-5">
										<label><i class="fa fa-check-square-o"  style="margin-right: 8px;"></i>First Name and Last Name are compulsory.</label>
									</div>
								</fieldset>
								<fieldset>
									<div class="col-sm-5">
										<label><i class="fa fa-check-square-o"  style="margin-right: 8px;"></i>All data fields should be in YYYY-MM-DD format.</label>
									</div>
								</fieldset>
								<fieldset>
									<div class="col-sm-5">
										<label><i class="fa fa-check-square-o"  style="margin-right: 8px;"></i>If gender is specified, value should be either Male or Female.</label>
									</div>
								</fieldset>
								<fieldset>
									<div class="col-sm-5">
										<label><i class="fa fa-check-square-o"  style="margin-right: 8px;"></i>Each import file should be configured for 100 record or less.</label>
									</div>
								</fieldset>
								<fieldset>
									<div class="col-sm-5">
										<label><i class="fa fa-check-square-o"  style="margin-right: 8px;"></i>Multiple import files may be required.</label>
									</div>
								</fieldset>
								<fieldset>
									<div class="col-sm-5">
										<label><i class="fa fa-check-square-o"  style="margin-right: 8px;"></i>Sample Excel file : 
										<a target="_self" ng-href="{{e}}" ng-click='csv.handler.getexcel()' style="text-decoration:underline">Download</label></a>
									</div>
								</fieldset>
								<br><br>
								<fieldset>
									<div class="col-md-3">
										</span><label style ="color:red">*</label><span class="space space-xs"><label><small>Required field</small></label>
									</div>										
								</fieldset>
								<hr>
								<fieldset>
									<div class="col-sm-5">
										<button class ="btn btn-success" ng-show="csv.handler.hiden('create')" ng-click="csv.handler.save()">upload</button>
									</div>
								</fieldset>
							</div>	
							<hr>
							
							<!-- Table Preview File Excel Employee -->
							<div class="table-filters">
								<section class="panel panel-primary">
										<div class="panel-heading"><strong><span class="glyphicon glyphicon-th" style="margin-right: 8px;"></span>Preview Excel Files</strong></div>
								</section>
							</div><br>
							<div class="table-filters">
								<div class="row">
									<div class="col-sm-4 col-xs-6">
										<form>
											<input type="text"
												   placeholder="Search..."
												   class="form-control"
												   data-ng-model="csv.handler.search"
												   data-ng-model-options="{debounce:300}"
												   >
										</form>
									</div>
									<div class="col-sm-3 col-xs-6 filter-result-info">
										<span>
											Showing {{csv.handler.paginated.length || 0}}/{{csv.handler.maindata.length || 0}} entries
										</span>              
									</div>
									<div class="col-sm-5 col-xs-6">
										<div class="pull-right">
										</div>
									</div>
								</div>
							</div><br>
							<table class="table table-bordered table-striped table-responsive">
								<thead>
									<tr>
										<th ng-repeat='a in csv.handler.headers' width='{{a.width}}'>
											<div class="th">
												{{a.name}}
											</div>
										</th>
										<th colspan=3 class='text-center'><div class="th">
											Action
										</div></th>
									</tr>
								</thead>
								<tbody>
									<tr data-ng-repeat="a in csv.handler.getdata() | orderBy: csv.handler.activeheader.sort : csv.handler.activeheader.order track by [$index]">
										<td>{{a.first_name}}</td>
										<td>{{a.middle_name}}</td>
										<td>{{a.last_name}}</td>
										<td>{{a.ad_username}}</td>
										<td>{{a.employee_type}}</td>
										<td>{{a.employee_id}}</td>
										<td width='1%'>
											<button class="btn btn-warning" ng-click="csv.handler.openmodal('edit',a)">
												<span class="glyphicon glyphicon-edit"></span>
											</button>
										</td>
										<td width='1%'>
											<button class="btn btn-danger" ng-click="csv.handler.openmodal('del',a)">
												<span class="glyphicon glyphicon-trash" ></span>
											</button>
										</td>
									</tr>
								</tbody>
							</table>
							
							<footer class="table-footer">
								<div class="row">
									<div class="col-md-6 page-num-info">
										<span>
											Show 
											<select data-ng-model="csv.handler.numPerPage"
													data-ng-options="num for num in csv.handler.numPerPageOpt"
													data-ng-change="onNumPerPageChange()">
											</select> 
											entries per page
										</span>
									</div>
									<div class="col-md-6 text-right pagination-container">
										<pagination class="pagination-sm"
													ng-model="csv.handler.currentPage"
													total-items="csv.handler.filtered.length"
													max-size="4"
													ng-change="select(currentPage)"
													items-per-page="csv.handler.numPerPage"
													rotate="false"
													previous-text="&lsaquo;" next-text="&rsaquo;"
													boundary-links="true">
										</pagination>
									</div>
								</div>
							</footer>
						</form>		
					</div>
			</section>
		</div>
		
		<!-- modal update files -->
		<script type="text/ng-template" id="modalupdate">
			<div class="modal-header">
				<h4><i class="fa fa-pencil-square-o" style="margin-right: 8px;" ></i>Update Data Employee</h4>
			</div>
			<div class="modal-body">
				<form name="myForm" class="form form-validation" ng-submit="myForm.$valid && submit()">												
					<div class="form-group">
						<fieldset>
							<div class="col-sm-2">
								<label>Full Name</label>
							</div>
							<div class="col-sm-3">
								<input type="text" class="form-control" placeholder="First Name"  ng-model="modalupdate.form.first_name" ng-disabled='!modalupdate.button' required />
							</div>
							<div class="col-sm-3">
								<input type="text" class="form-control" placeholder="Middle Name" ng-model="modalupdate.form.middle_name" ng-disabled='!modalupdate.button'/>
							</div>
							<div class="col-sm-3">
								<input type="text" class="form-control" placeholder="Last Name"  ng-model="modalupdate.form.last_name"   ng-disabled='!modalupdate.button'  required/>																				 
							</div>
						</fieldset>
					</div>
					<div class="form-group">
						<fieldset>
							<div class="col-sm-2">
								<label>Active Directory Username</label>
							</div>
							<div class="col-sm-3">
								<input type="text" class="form-control"  placeholder="Active Directory Username" ng-model="modalupdate.form.ad_username" ng-disabled='!modalupdate.button' />	
							</div>
							<div class="col-sm-3">
								<label>Biometric Number</label>
							</div>
							<div class="col-sm-3">
								<input type="text" class="form-control"  placeholder="Biometric Number" ng-model="modalupdate.form.biometric" ng-disabled='!modalupdate.button' />	
							</div>
						</fieldset>
					</div>
					<div class="form-group">
						<fieldset>
							<div class="col-sm-2">
								<label>Employee Type</label>
							</div>
							<div class="col-sm-5">
								<label class="ui-radio">
									<input  name="expat" 
											type="radio" 
											value="1"   
											ng-model="modalupdate.form.employee_type"  
											ng-disabled='!modalupdate.button'>
											<span>Expat</span>
								</label>
								<label class="ui-radio">
									<input 	name="local"  
											type="radio" 
											value="2"    
											ng-model="modalupdate.form.employee_type"  
											ng-disabled='!modalupdate.button'>
											<span>Local</span>
								</label>
								<label class="ui-radio">
									<input 	name="localit"  
											type="radio" 
											value="3"    
											ng-model="modalupdate.form.employee_type"  
											ng-disabled='!modalupdate.button'>
											<span>Local IT</span>
								</label>								
							</div>
						</fieldset>
					</div>
					<hr>
					<div class="form-group">
						<fieldset>
							<div class="col-sm-2">
								<label>Employee Id</label><span class="space space-xs"></span><label style ="color:red">*</label>
							</div>
							<div class="col-sm-3">
								<input type="text" name ="employee_id" class="form-control" ng-model="modalupdate.form.employee_id" ng-disabled='!modalupdate.button' />
							</div>
							<div class="col-sm-3">
								<label for="">HDMF / Pag-Ibig</label>
							</div>
							<div class="col-sm-3">
								 <input type="text" name="birNumber" class="form-control" id="birNumber"
									ng-model="modalupdate.form.hdmf"
									ng-disabled='!modalupdate.button'
									ui-mask="9999 9999 9999"
									placeholder="XXXX XXXX XXXX"
								  />
							</div>
						</fieldset>
					</div>
					<div class="form-group">
						<fieldset>
							<div class="col-sm-2">
								<label for="">SSS</label>
							</div>
							<div class="col-sm-3">
								 <input type="text" name="birNumber" class="form-control" id="birNumber"
									ng-model="modalupdate.form.sss"
									ng-disabled='!modalupdate.button'
									ui-mask="99-9999999-9"
									placeholder="XX-XXXXXXX-X"
								  />
							</div>
							<div class="col-sm-3">
								<label for="">RTN Number</label>
							</div>
							<div class="col-sm-3">
								 <input type="text" name="birNumber" class="form-control" id="birNumber"
									ng-model="modalupdate.form.rtn"
									ng-disabled='!modalupdate.button'
									ui-mask="9999 9999 9999"
									placeholder="XXXX XXXX XXXX"
								  />
							</div>
						</fieldset>
					</div>
					<div class="form-group">
						<fieldset>
							<div class="col-sm-2">
								<label for="">Philhealth</label>
							</div>
							<div class="col-sm-3">
								 <input type="text" name="philhealth" class="form-control" id="philhealth"
									ng-model="modalupdate.form.philhealth"
									ui-mask="99-999999999-9"
									ng-disabled='!modalupdate.button'
									placeholder="XX-XXXXXXXXX-X" >
							</div>
							<div class="col-sm-3">
								<label for="">MID Number</label>
							</div>
							<div class="col-sm-3">
								 <input type="text" name="birNumber" class="form-control" id="birNumber"
									ng-model="modalupdate.form.mid"
									ng-disabled='!modalupdate.button'
									ui-mask="9999 9999 9999"
									placeholder="XXXX XXXX XXXX"
								  />
							</div>
						</fieldset>
					</div>
					<div class="form-group">
						<fieldset>
							<div class="col-sm-2">
								<label for="">TIN Number</label>
							</div>
							<div class="col-sm-3">
								 <input type="text" name="tinNumber" class="form-control" id="tinNumber"
									ng-model="modalupdate.form.tin"
									ng-disabled='!modalupdate.button'
									ui-mask="999-999-999-999"
									placeholder="XXX-XXX-XXX-XXX"
								  />
							</div>
						</fieldset>
					</div>
					<div class="form-group">
						<fieldset>
							<div class="col-sm-2">
								<label for="">HMO Account Number</label>
							</div>
							<div class="col-sm-3">
								<input type="text" name="hmoA" class="form-control"
									ng-model="modalupdate.form.hmo_account"
									ng-disabled='!modalupdate.button'
									ng-pattern="/^[\a-zA-Z\d\-\^ ]+$/"
								/>
								<span style="color:red" ng-show="myForm.hmoA.$dirty && myForm.hmoA.$error.pattern">Invalid input.</span>
							</div>
							<div class="col-sm-3">
								<label for="">HMO Card Number</label>
							</div>
							<div class="col-sm-3">
								 <input type="text" name="cardNumber" class="form-control" id="cardNumber"
									ng-model="modalupdate.form.hmo_numb"
									ng-disabled='!modalupdate.button'
									ng-pattern="/^[\a-zA-Z\d\-\^ ]+$/"
								/>
								<span style="color:red" ng-show="myForm.cardNumber.$dirty && myForm.cardNumber.$error.pattern">Invalid input.</span>
							</div>
						</fieldset>
					</div>
					<hr>
					<div class="form-group">
						<fieldset>
							<div class="col-sm-2">
								<label for="">Gender</label>
							</div>
							<div class="col-sm-3">
								<dl class="dl-vertikal">
									<dd>
										<label class="ui-radio"><input name="male" type="radio" value="male"  ng-change="modalupdate.handler.selectgender(modalupdate.form)" ng-model="modalupdate.form.gender" ng-disabled='!modalupdate.button' ><span> Male</span></label>
										<label class="ui-radio"><input name="female" type="radio" value="female"  ng-model="modalupdate.form.gender" ng-disabled='!modalupdate.button'><span> Female</span></label>
									</dd>
								</dl>
							</div>
							<div class="col-sm-3">
								<label for="">Marital Status</label>
							</div>
							<div class="col-sm-3">
								<select class="form-control" ng-model="modalupdate.form.marital_status" ng-change="modalupdate.handler.setmaiden(modalupdate.form)" ng-disabled='!modalupdate.button'>
									<option value="">-- Select --</option>
									<option value="Single">Single</option>
									<option value="Married">Married</option>
									<option value="Separated">Separated</option>
									<option value="Widow">Widow</option>
								</select>
							</div>
						</fieldset>
					</div>
					<div class="form-group" ng-show="modalupdate.handler.maiden">
						<fieldset>
							<div class="col-sm-2">
								<label>Maiden Name</label>
							</div>
							<div class="col-sm-3">
								<input type="text" class="form-control" ng-model="modalupdate.form.maiden_name" autocomplete='off' ng-disabled='!modalupdate.button'/>
							</div>
						</fieldset>
					</div>																
					<div class="form-group">
						<fieldset>
							<div class="col-sm-2">
								<label for="">Nationality</label>
							</div>
							<div class="col-sm-3">
								<select class='form-control' 
										ng-model="modalupdate.form.nationality"
										ng-options="job.title as job.title for job in modalupdate.handler.datanational"
										ng-disabled='!modalupdate.button'>
										<option value=""> --  Select -- </option>
								</select>
								<!-- <select class="form-control" ng-model="modalupdate.form.nationality" ng-disabled='!modalupdate.button'>
									<option value=""> -- Select --</option>
									<option value="{{job.title}}" 
											ng-repeat="job in modalupdate.handler.datanational"
											ng-selected="{{modalupdate.form.nationality===job.title}}">
											{{job.title}}
									</option>
								</select> -->
							</div>
							<div class="col-sm-3">
								 <label for="">Date Of Birth</label><span class="space space-xs"></span><label style ="color:red">*</label>
							</div>
							<div class="col-sm-3">
								<input type="date" class="form-control" ng-model="modalupdate.form.date_of_birth" ng-disabled='!modalupdate.button'/>												
							</div>
						</fieldset>
					</div>
					<div class="form-group">
						<fieldset>
							<div class="col-sm-2">
								<label for="">Religion</label>
							</div>
							<div class="col-sm-3">
								<input type="text" class="form-control" ng-model="modalupdate.form.religion" autocomplete='off' ng-disabled='!modalupdate.button'/>
							</div>
							<div class="col-sm-3">
								<label for="">Place of Birth</label>
							</div>
							<div class="col-sm-3">
								<input type="text" class="form-control" data-ng-model="modalupdate.form.place_of_birth" autocomplete='off' ng-disabled='!modalupdate.button'/>
							</div>
						</fieldset>
					</div>
					<hr>
					<div class="form-group">
						<fieldset>
							<div class="col-sm-2">
								<label>Permanent Address</label>
							</div>
							<div class="col-sm-3">
								<input type="text" class="form-control" ng-model="modalupdate.form.permanent_address" autocomplete='off' ng-disabled='!modalupdate.button'/>
							</div>
							<div class="col-sm-3">
								<label>Permanent City</label>
							</div>
							<div class="col-sm-3">
								<input type="text" class="form-control" data-ng-model="modalupdate.form.permanent_city" autocomplete='off' ng-disabled='!modalupdate.button'/>
							</div>
						</fieldset>
					</div>
					<div class="form-group">
						<fieldset>
							<div class="col-sm-2">
								<label>Permanent State</label>
							</div>
							<div class="col-sm-3">
								<input type="text" class="form-control" ng-model="modalupdate.form.permanent_state" autocomplete='off' ng-disabled='!modalupdate.button'/>
							</div>
							<div class="col-sm-3">
								<label>Permanent Zip</label>
							</div>
							<div class="col-sm-3">
								<input type="text" class="form-control" data-ng-model="modalupdate.form.permanent_zip" autocomplete='off' ng-disabled='!modalupdate.button'/>
							</div>
						</fieldset>
					</div>
					<div class="form-group">
						<fieldset>
							<div class="col-sm-2">
								<label>Permanent Country</label>
							</div>
							<div class="col-sm-3">
								<country-select class="form-control" data-ng-model="modalupdate.form.permanent_country" ng-disabled='!modalupdate.button'></country-select>
							</div>
						</fieldset>
					</div>
					<hr>
					<div class="form-group">
						<fieldset>
							<div class="col-sm-2">
								<label>Present Address</label>
							</div>
							<div class="col-sm-3">
								<input type="text" class="form-control" ng-model="modalupdate.form.present_address" autocomplete='off' ng-disabled='!modalupdate.button'/>
							</div>
							<div class="col-sm-3">
								<label>Present City</label>
							</div>
							<div class="col-sm-3">
								<input type="text" class="form-control" data-ng-model="modalupdate.form.present_city" autocomplete='off' ng-disabled='!modalupdate.button'/>
							</div>
						</fieldset>
					</div>
					<div class="form-group">
						<fieldset>
							<div class="col-sm-2">
								<label>Present State</label>
							</div>
							<div class="col-sm-3">
								<input type="text" class="form-control" ng-model="modalupdate.form.present_state" autocomplete='off' ng-disabled='!modalupdate.button'/>
							</div>
							<div class="col-sm-3">
								<label>Present Zip</label>
							</div>
							<div class="col-sm-3">
								<input type="text" class="form-control" data-ng-model="modalupdate.form.present_zip" autocomplete='off' ng-disabled='!modalupdate.button'/>
							</div>
						</fieldset>
					</div>
					<div class="form-group">
						<fieldset>
							<div class="col-sm-2">
								<label>Present Country</label>
							</div>
							<div class="col-sm-3">
								<country-select class="form-control" data-ng-model="modalupdate.form.present_country" ng-disabled='!modalupdate.button'></country-select>
							</div>
						</fieldset>
					</div>
					<hr>
					<div class="form-group">
						<fieldset>
							<div class="col-sm-2">
								<label>Home Telephone</label>
							</div>
							<div class="col-sm-3">
								<input type="text" name="input1" class="form-control" ng-model="modalupdate.form.home_telephone" ng-disabled='!modalupdate.button' ng-pattern="/^[\d\-\^ ]+$/" autocomplete='off'/>
									<span style="color:red" ng-show="myForm.input1.$dirty && myForm.input1.$error.pattern">Invalid input.</span>
							</div>
							<div class="col-sm-3">
								<label>Mobile</label>
							</div>
							<div class="col-sm-3">
								<input type="text" name="input2" class="form-control" data-ng-model="modalupdate.form.mobile" ng-disabled='!modalupdate.button' ng-pattern="/^[\d\-\^ ]+$/" autocomplete='off'/>
									<span style="color:red" ng-show="myForm.input2.$dirty && myForm.input2.$error.pattern">Invalid input.</span>
							</div>
						</fieldset>
					</div>
					<hr>
					<div class="form-group">
						<fieldset>
							<div class="col-sm-2">
								<label>Personal Email</label>
							</div>
							<div class="col-sm-3">
								<input 	type="email" 
										class="form-control" 
										name="email1" 
										ng-model="modalupdate.form.personal_email"
										ng-disabled='!modalupdate.button'									
										ng-pattern="/^[_a-z0-9]+(\.[_a-z0-9]+)*@[a-z0-9-]+(\.[a-z0-9-]+)*(\.[a-z]{2,4})$/"
										autocomplete='off'
								/>
								<span style="color:red" ng-show="myForm.email1.$error.pattern">Invalid email address.</span>
							</div>
							<div class="col-sm-3">
								<label>Work Email</label>
							</div>
							<div class="col-sm-3">
								<input 	type="email" 
										class="form-control" 
										name="email" 
										data-ng-model="modalupdate.form.work_email" 
										ng-disabled='!modalupdate.button'									
										ng-pattern="/^[_a-z0-9]+(\.[_a-z0-9]+)*@[a-z0-9-]+(\.[a-z0-9-]+)*(\.[a-z]{2,4})$/"
										autocomplete='off'
								/>
								<span style="color:red" ng-show="myForm.email.$error.pattern">Invalid email address.</span>
							</div>
						</fieldset>
					</div>
					<br>
					<fieldset>
						<div class="col-md-3">
							<label style ="color:red">*</label><span class="space space-xs"></span><label><small>Required field</small></label>
						</div>										
					</fieldset>
				</form>	
				<div class="modal-footer">
					<button type="submit" class="btn btn-success" ng-hide="modalupdate.button" ng-click="modalupdate.button=true;">Edit</button>
					<button type="submit" class="btn btn-success" ng-show="modalupdate.button" ng-click="modalupdate.save();">Save</button>
					<button class="btn btn-danger" ng-click="modalupdate.close()">Cancel</button>
				</div>
			</div>
		</script>
		
		<!-- Modal delete files -->
		<script type="text/ng-template" id="modalfiles">
			<div class="modal-header">
				<h4><i class="fa fa-trash" style="margin-right: 8px;" ></i>Delete File Confirmation</h4>
			</div>
			<div class="modal-body">
				<form name="myForm"  class='form form-validation'>	
					<fieldset>
						<div class="col-sm-12">
							<span>Are you sure want to Delete <b>{{modalfiles.form.first_name}} {{modalfiles.form.middle_name}} {{modalfiles.form.last_name}}</b>?</span>
						</div>
					</fieldset>
				</form>
				<br>
				<div class="modal-footer">
					<button class='btn btn-danger' type='submit' ng-click='modalfiles.submit()'>OK</button>
					<button class='btn btn-success' ng-click='modalfiles.close()'> CANCEL </button>
				</div>
			</div>
		</script>
		
		
<!-- 
/** form table draw **/
<!-- <table class="table table-bordered table-striped table-responsive">
<thead>
	<tr>
		<th ng-repeat='a in csv.handler.headers' width='{{a.width}}'>
			<div class="th">
				{{a.name}}
				<span class="fa fa-angle-up"
					  data-ng-if="a.sort"
					  data-ng-click="csv.handler.setactiveheader(a,true) "
					  data-ng-class="{active: $index == csv.handler.activeheader.id && csv.handler.activeheader.order == true}">
				</span>
				<span class="fa fa-angle-down"
					  data-ng-if="a.sort"
					  data-ng-click=" csv.handler.setactiveheader(a,false) "
					  data-ng-class="{active: $index == csv.handler.activeheader.id && csv.handler.activeheader.order == false}">
				</span>
			</div>
		</th>
		<th colspan=3 class='text-center'><div class="th">
			Action
		</div></th>
	</tr>
	<th ng-repeat='a in csv.handler.getHeader()'  width='{{a.width}}'><div class="th">
			{{a.name}}
		</div></th>
</thead>
<tbody>
	<tr data-ng-repeat="a in csv.handler.getdata() | orderBy: csv.handler.activeheader.sort : csv.handler.activeheader.order track by [$index]">
		<td>{{a.first_name}}</td>
		<td>{{a.middle_name}}</td>
		<td>{{a.last_name}}</td>
		<td>{{a.ad_username}}</td>
		<td>{{a.employee_type}}</td>
		<td>{{a.employee_id}}</td>
		<td width='1%'>
			<button class="btn btn-warning" ng-click="csv.handler.openmodal('edit',a)">
				<span class="glyphicon glyphicon-edit"></span>
			</button>
		</td>
		<td width='1%'>
			<button class="btn btn-danger" ng-click="csv.handler.openmodal('del',a)">
				<span class="glyphicon glyphicon-trash" ></span>
			</button>
		</td>
	</tr>
</tbody>
</table>
<td><input type='text' class='form-control' ng-model='a.first_name '></td>
<td><input type='text' class='form-control' ng-model='a.middle_name'></td>
<td><input type='text' class='form-control' ng-model='a.last_name'></td>
<td><input type='text' class='form-control' ng-model='a.ad_username'></td>
<td><input type='text' class='form-control' ng-model='a.employee_type'></td>
<td><input type='text' class='form-control' ng-model='a.employee_id'></td>
<td><input type='text' class='form-control' ng-model='a.biometric'></td>
<td><input type='text' class='form-control' ng-model='a.sss'></td>
<td><input type='text' class='form-control' ng-model='a.philhealth'></td>
<td><input type='text' class='form-control' ng-model='a.hdmf'></td>
<td><input type='text' class='form-control' ng-model='a.maiden_name'></td>
<td><input type='text' class='form-control' ng-model='a.hmo_account'></td>
<td><input type='text' class='form-control' ng-model='a.hmo_numb'></td>
<td><input type='text' class='form-control' ng-model='a.rtn'></td>
<td><input type='text' class='form-control' ng-model='a.mid'></td>
<td><input type='text' class='form-control' ng-model='a.tin'></td>
<td><input type='text' class='form-control' ng-model='a.gender'></td>
<td><input type='text' class='form-control' ng-model='a.marital_status'></td>
<td><input type='text' class='form-control' ng-model='a.nationality'></td>
<td><input type='text' class='form-control' ng-model='a.date_of_birth'></td>
<td><input type='text' class='form-control' ng-model='a.place_of_birth'></td>
<td><input type='text' class='form-control' ng-model='a.religion'></td>
<td><input type='text' class='form-control' ng-model='a.permanent_address'></td>
<td><input type='text' class='form-control' ng-model='a.permanent_city'></td>
<td><input type='text' class='form-control' ng-model='a.permanent_state'></td>
<td><input type='text' class='form-control' ng-model='a.permanent_zip'></td>
<td><input type='text' class='form-control' ng-model='a.permanent_country'></td>
<td><input type='text' class='form-control' ng-model='a.present_address'></td>
<td><input type='text' class='form-control' ng-model='a.present_city'></td>
<td><input type='text' class='form-control' ng-model='a.present_state'></td>
<td><input type='text' class='form-control' ng-model='a.present_zip'></td>
<td><input type='text' class='form-control' ng-model='a.present_country'></td>
<td><input type='text' class='form-control' ng-model='a.home_telephone'></td>
<td><input type='text' class='form-control' ng-model='a.mobile'></td>
<td><input type='text' class='form-control' ng-model='a.work_email'></td>
<td><input type='text' class='form-control' ng-model='a.personal_email'></td> -->		
		
<!-- <div class='col-sm-3'>	
<input 	type="file" 
class="form-control" 
ngf-select="csv.readFiles($file,$invalidFiles)"
ng-model="csv.files"
id="csvFile" 
accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet"
/>
</div> -->

<!-- 
		<div class="page page-csv" data-ng-controller="csvCtrl">
					<section class="panel panel-primary" >
						<div class="panel-heading"><strong><span class="glyphicon glyphicon-th" style="margin-right: 8px;"></span>CSV Data Import</strong></div>
								<div class="panel-body">
									<form name="form_name" class="form-horizontal form-validation" enctype = "multipart/form-data">
										<div class="form-group">
											<fieldset>
											    <div class="col-sm-1">
													<label for="Organization">Select File</label><span class="space space-sm"></span><label style ="color:red">*</label>
												</div>
												<div class="col-sm-2">
													<input  type="file"  
															file-model="myFile"
															ng-show="button('create')"
															accept=".csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet,application/vnd.ms-excel"
													/>  
												</div>
											</fieldset>
										</div>
										<div class="form-group">
											<fieldset>
												<div class="col-sm-5">
													<label><i class="fa fa-check-square-o"  style="margin-right: 8px;"></i>Column order should not be changed.</label>
												</div>
											</fieldset>
											<fieldset>
												<div class="col-sm-5">
													<label><i class="fa fa-check-square-o"  style="margin-right: 8px;"></i>First Name and Last Name are compulsory.</label>
												</div>
											</fieldset>
											<fieldset>
												<div class="col-sm-5">
													<label><i class="fa fa-check-square-o"  style="margin-right: 8px;"></i>All data fields should be in YYYY-MM-DD format.</label>
												</div>
											</fieldset>
											<fieldset>
												<div class="col-sm-5">
													<label><i class="fa fa-check-square-o"  style="margin-right: 8px;"></i>If gender is specified, value should be either Male or Female.</label>
												</div>
											</fieldset>
											<fieldset>
												<div class="col-sm-5">
													<label><i class="fa fa-check-square-o"  style="margin-right: 8px;"></i>Each import file should be configured for 100 record or less.</label>
												</div>
											</fieldset>
											<fieldset>
												<div class="col-sm-5">
													<label><i class="fa fa-check-square-o"  style="margin-right: 8px;"></i>Multiple import files may be required.</label>
												</div>
											</fieldset>
											<fieldset>
												<div class="col-sm-5"  ng-show="button('create')">
													<label><i class="fa fa-check-square-o"  style="margin-right: 8px;"></i>Sample CSV file : 
													<a target="_self" ng-href = "{{e}}" style="text-decoration: underline">Download</label></a>
												</div>
											</fieldset>
											<br><br>
											<fieldset>
												<div class="col-md-3">
													</span><label style ="color:red">*</label><span class="space space-xs"><label><small>Required field</small></label>
												</div>										
											</fieldset>
											<hr>
											<fieldset>
												<div class="col-sm-5">
													<button class ="btn btn-success" ng-show="button('create')" ng-click="uploadFile()">upload</button>
												</div>
											</fieldset>
										</div>
									</form>		
								</div>
					</section>
		</div> -->