
	<div class="page page-employeeList"  data-ng-controller="employeListCtrl as emp">

			<!-- form select category employee -->
			<section class="panel panel-primary">
				<div class="panel-heading"><strong><span class="glyphicon glyphicon-th" style="margin-right: 8px;"></span> Employee Information</strong></div>
					<div class="panel-body">
						<div class="form-group">
							<fieldset>
								<div class="col-sm-3">
									<label>Employee Name</label>
								</div>
								<div class="col-sm-3">
									<label>Id</label>
								</div>
								<div class="col-sm-3">
									<label>Employee Status</label>
								</div>
								<div class="col-sm-3">
									<label>Include</label>
								</div>
							</fieldset>									
						</div>
						<div class="form-group">
							<fieldset>
								<div class="col-sm-3">
									<input 	type="text"
											placeholder="Type for hint . ."
											class="form-control"
											name="name"
											data-ng-model="emp.handler.form.employeeName"
											typeahead="(address.name) for address in emp.handler.getEmployee($viewValue)" 
											typeahead-loading="loadingLocations"
											typeahead-min-length="4"
											typeahead-wait-ms="300"
											typeahead-on-select="emp.handler.selectEmployee($item, $model, $label)"
											autocomplete="off"
											ng-disabled="emp.handler.employeeName"
											ng-click="emp.handler.setdisabled('employeeName')"												
									/>
								</div>
								<div class="col-sm-3">
									<input 	type="text"
											placeholder="Type for hint . ."
											class="form-control"
											name="name"
											data-ng-model="emp.handler.form.employeeId"
											typeahead="(address.employee_id) for address in emp.handler.getEmployeeId($viewValue)" 
											typeahead-loading="loadingLocations"
											typeahead-min-length="4"
											typeahead-wait-ms="300"
											typeahead-on-select="emp.handler.selectEmployeeId($item, $model, $label)"
											autocomplete="off"
											ng-disabled="emp.handler.employeeId"
											ng-click="emp.handler.setdisabled('employeeId')"
									/>
								</div>
								<div class="col-sm-3">
									<select ng-model="emp.handler.form.employeeStatus"
											class="form-control" 
											ng-options="status.id as status.title for status in emp.handler.form.status"
											ng-click="emp.handler.setdisabled('employeeStatus')"
											ng-disabled="emp.handler.employeeStatus">							
      										<option value="">-- Select Employee Status --</option>
    								</select>
								</div>
								<div class="col-sm-3">
									<select class="form-control" 
											ng-model="emp.handler.form.include" 
											ng-click="emp.handler.setdisabled('include')"
											ng-disabled="emp.handler.include">
											<option value="">-- Select Include --</option>
											<option value="1">Current Employees Only</option>
											<option value="2">Current and Past Employees</option>
											<option value="3">Past Employees Only</option>
									</select>
								</div>
							</fieldset>									
						</div>
						<div class="form-group">
							<fieldset>
								<div class="col-sm-3">
									<label>Supervisor Name</label>
								</div>
								<div class="col-sm-3">
									<label>Job Title</label>
								</div>
								<div class="col-sm-3">
									<label>Department</label>
								</div>
								<div class="col-sm-3">
									<label>Category</label>
								</div>
							</fieldset>									
						</div>
						<div class="form-group">
							<fieldset>
								<div class="col-sm-3">
									<input 	type="text"
											placeholder="Type for hint . ."
											class="form-control"
											name="name"
											data-ng-model="emp.handler.form.supervisor"
											typeahead="(address.name) for address in emp.handler.getsupervisor($viewValue)" 
											typeahead-loading="loadingLocations"
											typeahead-min-length="4"
											typeahead-wait-ms="300"
											typeahead-on-select="emp.handler.selectsupervisor($item, $model, $label)"
											autocomplete="off"
											ng-disabled="emp.handler.supervisor"
											ng-click="emp.handler.setdisabled('supervisor')"																								
									/>
								</div>
								<div class="col-sm-3">
									<select ng-model="emp.handler.form.jobTitle"
											class="form-control"
											ng-disabled="emp.handler.jobTitle"
											ng-click="emp.handler.setdisabled('jobTitle')"  
											ng-options="job.id as job.title for job in emp.handler.form.job">
      										<option value="">-- Select Job Title --</option>
    								</select>
								</div>
								<div class="col-sm-3">
									<select ng-model="emp.handler.form.depart"
											class="form-control"
											ng-disabled="emp.handler.department"
											ng-click="emp.handler.setdisabled('department')"  
											ng-options="depart.id as depart.name for depart in emp.handler.form.department">
      										<option value="">-- Select Department --</option>
    								</select>
								</div>
								<div class="col-sm-3">
									<select class="form-control" 
											ng-model="emp.handler.form.category"
											ng-disabled="emp.handler.category"
											ng-click="emp.handler.setdisabled('category')" >
											<option value="">-- Select Category --</option>
											<option value="1">All</option>
											<option value="2">Expat only</option>
											<option value="3">Local only</option>
											<option value="4">Local IT only</option>
											<option value="5">Both local</option>
									</select>
								</div>
							</fieldset>									
						</div>
						<hr>
						<div class="form-group">
							<fieldset>										
								<div class="col-sm-6">
									<button type="button" 
											class="btn btn-gap-v btn-success"  
											ng-click="emp.handler.searchemp(emp.handler.form)">
											Search
									</button>
									<span class="space space-sm"></span>
									<button type="button" 
											class="btn btn-gap-v btn-danger"  
											ng-click="emp.handler.resetdisabled()">
											Reset
									</button>
									<!-- ng-show="emp.handler.button('read')" -->
								</div>
							</fieldset>
						</div>
					</div>
			</section>
			
			<!-- form table employee list -->
			<section class="panel panel-primary table-dynamic">
				<div class="panel-body">
					<div class="from-group">
						<div class="row">
							<div class="col-sm-4">
								<form>
									<button class="btn btn-gap-v btn-success"  
											ng-click="emp.handler.openmodal('add')"
											ng-show="emp.handler.actionadd('action')">
											Add
									</button>
									<span class="space space-sm"></span>
									<button type="button" 
											class="btn btn-gap-v btn-danger"   
											ng-click="emp.handler.deldata(emp.handler.check)"
											ng-show="emp.handler.actionadd('action')">
											Delete
									</button>
								</form>
							</div>
						</div>
					</div><br>
					<div class="form-group">
						<div class="row">
							<div class="col-sm-4">
								<form>
									<input type="text"
										   placeholder="Search..."
										   class="form-control"
										   data-ng-model="emp.handler.search"
										   data-ng-model-options="{debounce:300}"
										   >
								</form>
							</div>
							<div class="col-sm-3 filter-result-info">
								<span>
									Showing {{emp.handler.paginated.length}}/{{emp.handler.maindata.length}} entries
								</span>              
							</div>
						</div>
					</div><br>
					<table class="table table-bordered table-striped table-responsive">
						<thead>
							<tr>
								<th><div class="th">
								</div></th>
								<th ng-repeat='a in emp.handler.headers' width='{{a.width}}'>
									<div class="th">
										{{a.name}}
										<span class="fa fa-angle-up"
											  data-ng-if="a.sort"
											  data-ng-click="emp.handler.setactiveheader(a,true)"
											  data-ng-class="{active: $index == emp.handler.activeheader.id && emp.handler.activeheader.order == true}">
										</span>
										<span class="fa fa-angle-down"
											  data-ng-if="a.sort"
											  data-ng-click="emp.handler.setactiveheader(a,false)"
											  data-ng-class="{active: $index == emp.handler.activeheader.id && emp.handler.activeheader.order == false}">
										</span>
									</div>
								</th>
							</tr>
						</thead>
						<tbody>
							<tr data-ng-repeat="a in emp.handler.getdata() | orderBy: emp.handler.activeheader.sort : emp.handler.activeheader.order track by [$index]">
								<td><input type="checkbox" checklist-value="a.employee_id"  checklist-model="emp.handler.check"/></td>
								<td><a ng-href="#/employee/personalDetail/{{id}}{{a.employee_id}}">{{a.employee_id}}</td></a>
								<td><a ng-href="#/employee/personalDetail/{{id}}{{a.employee_id}}">{{a.first_name + " " + a.middle_name}}</td></a>
								<td>{{a.last_name}}</td>
								<td>{{a.date_hire}}</td>
								<td>{{a.job}}</td>
								<td>{{a.status}}</td>
								<td>{{a.sub_unit}}</td>
								<td>{{a.supervisor}}</td>
							</tr>
						</tbody>
					</table>
					<footer class="table-footer">
						<div class="row">
							<div class="col-md-6 page-num-info">
								<span>
									Show 
									<select data-ng-model="emp.handler.numPerPage"
											data-ng-options="num for num in emp.handler.numPerPageOpt"
											data-ng-change="onNumPerPageChange()">
									</select> 
									entries per page
								</span>
							</div>
							<div class="col-md-6 text-right pagination-container">
								<pagination class="pagination-sm"
											ng-model="emp.handler.currentPage"
											total-items="emp.handler.filtered.length"
											max-size="4"
											ng-change="select(currentPage)"
											items-per-page="emp.handler.numPerPage"
											rotate="false"
											previous-text="&lsaquo;" next-text="&rsaquo;"
											boundary-links="true"></pagination>
							</div>
						</div>
					</footer>
				</div>
			</section>
			
			<!-- Modal add employee -->
			<script type="text/ng-template" id="addemployee">
				<div class="modal-header">
					<h4><i class="fa fa-info-circle" style="margin-right: 8px;" ></i>Add Employee</h4>
				</div>
				<div class="modal-body">
					<form name="myForm" class="form form-validation"  ng-submit="myForm.$valid && submit()">													
						<fieldset>
							<div class="col-sm-3">
							</div>
							<div class="col-sm-3">
								<label style = "color:red">*</label><span class="space space-sm"></span><label><small>First Name</small></label>
							</div>
							<div class="col-sm-3">
							</div>
							<div class="col-sm-3">
								<label style ="color:red">*</label><span class="space space-sm"></span><label><small>Last Name</small></label>
							</div>
						</fieldset>
						<div class="form-group">
							<fieldset>
								<div class="col-sm-3">
									<label for="firstName">Full Name</label>
								</div>
								<div class="col-sm-3">
									<input 	type="text" 
											name="firstName" 
											class="form-control" 
											placeholder="First Name" 
											data-ng-model="addemployee.form.first_name" 
											autocomplete='off'
											required 
									/>
									<span style="color:red" ng-show="myForm.firstName.$dirty && myForm.firstName.$invalid">
										<span ng-show="myForm.firstName.$error.required">Required field.</span>
									</span>
								</div>
								<div class="col-sm-3">
									<input 	type="text" 
											name="midleName" 
											class="form-control" 
											placeholder="Middle Name"  
											data-ng-model="addemployee.form.middle_name" 
											autocomplete='off'
									/>
								</div>
								<div class="col-sm-3">
									<input 	type="text" 
											name="last" 
											class="form-control" 
											placeholder="Last Name" 
											data-ng-model="addemployee.form.last_name"
											autocomplete='off'
											required 
									/>
									<span style="color:red" ng-show="myForm.last.$dirty && myForm.last.$invalid">
										<span ng-show="myForm.last.$error.required">Required field.</span>
									</span>
								</div>
							</fieldset>
						</div>
						<div class="form-group">
							<fieldset>
								<div class="col-sm-3">
									<label for="">Employee Id</label><span class="space space-sm"></span><label style ="color:red">*</label>
								</div>
								<div class="col-sm-3">
									<input type="text" name="lastName" class="form-control" ng-disabled="true" data-ng-model="addemployee.form.autonumb"/>		
								</div>
								<div class="col-sm-3" ng-show="addemployee.handler.hideexpat">
									<label for="">Local IT</label>
								</div>
								<div class="col-sm-3" ng-show="addemployee.handler.hideexpat">
									<label class="ui-radio"><input name="local" type="radio" value="local_it" ng-model="addemployee.form.local_it" ><span>Yes</span></label>
									<label class="ui-radio"><input name="local" type="radio" value="local" ng-model="addemployee.form.local_it" ><span>No</span></label>
								</div>
							</fieldset>
						</div>
						<div class="form-group">
							<fieldset>
								<div class="col-sm-6"></div>
								<div class="col-sm-3">
									<label>Employee Role</label><span class="space space-sm"></span><label style = "color:red">*</label>
								</div>
								<div class="col-sm-3">
									<select class='form-control' 
										ng-model="addemployee.handler.role_data" 
										ng-disabled="addemployee.handler.employeeRole"
										ng-options="role.role_id as role.role_name for role in addemployee.handler.getUserRole()"
										required>
										<option value=""> --  Select -- </option>
									</select>
								</div>
							</fieldset>
						</div>
						<div class="form-group">
							<fieldset>
								<div class="col-sm-3">
									<label for="">Photograph</label>
								</div>
								<div class='col-sm-2'>
									<button type="button" 
											class="btn btn-primary" 
											accept=" image/jpeg, image/png, image/gif, image/jpg,"
											ngf-select ngf-change="upload($files)"
											ngf-multiple="multiple"
											ng-model="form.files">
											Select File
									</button>
								</div>		
								<div class='col-sm-3'>
									<label ng-repeat="f in form.files"  ng-show="form.files">{{f.name}}</label>
								</div>
								<div class='col-sm-3'  ng-show="form.files">
									<button class="btn btn-danger"  tooltip-placement="top" tooltip="Delete File"  ng-click="form.files=false">
										<span class="glyphicon glyphicon-trash"></span>
									</button>
								</div>
							</fieldset>
						</div>
						<div class="form-group">
							<fieldset>
								<div class="col-sm-3">
								</div>
								<div class="col-sm-9">
									<label>Accepts .jpg, .png, and .gif up to 1MB. Recommended dimensions : 200px X 200px</label>
								</div>
							</fieldset>
						</div>
						<div class="form-group">
							<fieldset>
								<div class="col-sm-3">
									<label for="">Active Directory Username</label><span class="space space-sm"></span><label style = "color:red">*</label>
								</div>
								<div class="col-sm-3">
									<input 	type="text" 
											name ="add_username" 
											class="form-control" 
											ng-model="addemployee.form.ad_username" 
											autocomplete='off'
											required 
									/>
								</div>
							</fieldset>
						</div>
						<br>
						<fieldset>
							<div class="col-md-3">
								</span><label style ="color:red">*</label><span class="space space-xs"><label><small>Required field</small></label>
							</div>										
						</fieldset>
						<hr>
						<div class='form-group'>
							<fieldset>
								<button type="button" class="btn btn-gap-v btn-success" ng-disabled="myForm.$invalid" ng-click="addemployee.save(form.files)">Save</button>
								<span class="space space-sm"></span>
								<button type="button" class="btn btn-gap-v btn-danger" ng-click="addemployee.cancel()">cancel</button>
							</fieldset>
						</div>
					</form>
				</div>
			</script>
						
		</div>
		
<!-- <section class="panel panel-primary table-dynamic">	

<div class="col-sm-3">
									<label for="">Employee Role</label><span class="space space-sm"></span><label style ="color:red">*</label>
								</div>
								<div class="col-sm-3">
									<select class='form-control' 
										ng-model="addemployee.handler.form.role" 
										ng-options="role.role_id as role.role_name for role in addemployee.handler.getRole">
										<option value=""> --  Select -- </option>
									</select>
								</div> 
				<div class='panel-body'>	
					<div class="table-filters">
						<div class="row">
							<div class="col-md-6">
								<form>
									<button type="button" 
											class="btn btn-gap-v btn-success"  
											ng-click="open('lg')">
											Add
									</button>
									<span class="space space-sm"></span>
									<button type="button" 
											class="btn btn-gap-v btn-danger"   
											ng-click="remove(check.currentPageStores)">
											Delete
									</button>
								</form>
							</div>
						</div>
					</div>
					<div class="table-filters">
						<div class="row">
							<div class="col-sm-3">
								<form>
									<input type="text"
										   placeholder="Search..."
										   class="form-control"
										   data-ng-model="searchKeywords"
										   data-ng-keyup="search()">
								</form>
							</div>
							<div class="col-sm-3 col-xs-6 filter-result-info">
								<span>
									Showing {{filteredStores.length}}/{{stores.length}} entries
								</span>              
							</div>
						</div>
					</div>
					<table class="table table-bordered table-striped table-responsive">
						<thead>
							<tr>
								<th style="width:1%" ><div class="th">
									
								</div></th>
								<th style="width:5%"><div class="th">
									 Id
									<span class="fa fa-angle-up"
										  data-ng-click=" order('employee_id') "
										  data-ng-class="{active: row == 'employee_id'}"></span>
									<span class="fa fa-angle-down"
										  data-ng-click=" order('-employee_id') "
										  data-ng-class="{active: row == '-employee_id'}"></span>
								</div></th>
								<th style="width:10%"><div class="th">
									First (&Middle) Name
									<span class="fa fa-angle-up"
										  data-ng-click=" order('first_name') "
										  data-ng-class="{active: row == 'first_name'}"></span>
									<span class="fa fa-angle-down"
										  data-ng-click=" order('-first_name') "
										  data-ng-class="{active: row == '-first_name'}"></span>
								</div></th>
								<th style="width:8%"><div class="th">
									Last Name
									<span class="fa fa-angle-up"
										  data-ng-click=" order('last_name') "
										  data-ng-class="{active: row == 'last_name'}"></span>
									<span class="fa fa-angle-down"
										  data-ng-click=" order('-last_name') "
										  data-ng-class="{active: row == '-last_name'}"></span>
								</div></th>
								<th style="width:8%"><div class="th">
									Date Hired
									<span class="fa fa-angle-up"
										  data-ng-click=" order('date_hire') "
										  data-ng-class="{active: row == 'date_hire'}"></span>
									<span class="fa fa-angle-down"
										  data-ng-click=" order('-date_hire') "
										  data-ng-class="{active: row == '-date_hire'}"></span>
								</div></th>
								<th style="width:12%"><div class="th">
									Job Tittle
									<span class="fa fa-angle-up"
										  data-ng-click=" order('job_title') "
										  data-ng-class="{active: row == 'job_title'}"></span>
									<span class="fa fa-angle-down"
										  data-ng-click=" order('-job_title') "
										  data-ng-class="{active: row == '-job_title'}"></span>
								</div></th>
								<th style="width:12%"><div class="th">
									Employment Status
									<span class="fa fa-angle-up"
										  data-ng-click=" order('employment_status') "
										  data-ng-class="{active: row == 'employment_status'}"></span>
									<span class="fa fa-angle-down"
										  data-ng-click=" order('-employment_status') "
										  data-ng-class="{active: row == '-employment_status'}"></span>
								</div></th>
								<th style="width:10%"><div class="th">
									Department
									<span class="fa fa-angle-up"
										  data-ng-click=" order('sub_unit') "
										  data-ng-class="{active: row == 'sub_unit'}"></span>
									<span class="fa fa-angle-down"
										  data-ng-click=" order('-sub_unit') "
										  data-ng-class="{active: row == '-sub_unit'}"></span>
								</div></th>
								<th style="width:10%"><div class="th">
									Supervisor
									<span class="fa fa-angle-up"
										  data-ng-click=" order('supervisor') "
										  data-ng-class="{active: row == 'supervisor'}"></span>
									<span class="fa fa-angle-down"
										  data-ng-click=" order('-supervisor') "
										  data-ng-class="{active: row == '-supervisor'}"></span>
								</div></th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="store in currentPageStores | filter:query ">
								<td><input type="checkbox"  checklist-model="check.currentPageStores"  checklist-value="store.employee_id"  ng-model="store.selected"></td>
								<td><a ng-href="#/employee/personalDetail/{{id}}{{store.employee_id}}">{{store.employee_id}}</td></a>
								<td><a ng-href="#/employee/personalDetail/{{id}}{{store.employee_id}}">{{store.first_name + " " + store.middle_name}}</td></a>
								<td>{{store.last_name}}</td>
								<td>{{store.date_hire}}</td>
								<td>{{store.job}}</td>
								<td>{{store.status}}</td>
								<td>{{store.sub_unit}}</td>
								<td>{{store.supervisor}}</td>
							</tr>
						</tbody>
					</table>

					<footer class="table-footer">
						<div class="row">
							<div class="col-md-6 page-num-info">
								<span>
									Show 
									<select data-ng-model="numPerPage"
											data-ng-options="num for num in numPerPageOpt"
											data-ng-change="onNumPerPageChange()">
									</select> 
									entries per page
								</span>
							</div>
							<div class="col-md-6 text-right pagination-container">
								<pagination class="pagination-sm"
											ng-model="currentPage"
											total-items="filteredStores.length"
											max-size="4"
											ng-change="select(currentPage)"
											items-per-page="numPerPage"
											rotate="false"
											previous-text="&lsaquo;" next-text="&rsaquo;"
											boundary-links="true"></pagination>
							</div>
						</div>
					</footer>
				</div> 
			</section> -->
			
			<!--Modal -->