
		<div class="page page-edu" data-ng-controller="qualeducationcontroller as edu">
		
				<section class="panel panel-primary table-dynamic">
					<div class="panel-heading"><strong><span class="glyphicon glyphicon-th" style="margin-right: 8px;"></span>Education</strong></div>
						<div class="panel-body">
							<div class="from-group">
								<div class="row">
									<div class="col-sm-4">
										<form>
											<button class="btn btn-gap-v btn-success"  
													ng-click="edu.handler.openmodal('add')"
													ng-show="edu.handler.button('create')">
													Add
											</button>
											<span class="space space-sm"></span>
											<button type="button" 
													class="btn btn-gap-v btn-danger"   
													ng-click="edu.handler.deldata(edu.handler.check)"
													ng-show="edu.handler.button('delete')">
													Delete
											</button>
										</form>
									</div>
								</div>
							</div><br>
							<div class="form-group">
								<div class="row">
									<div class="col-sm-4">
										<form>
											<input type="text"
												   placeholder="Search..."
												   class="form-control"
												   data-ng-model="edu.handler.search"
												   data-ng-model-options="{debounce:300}"
												   >
										</form>
									</div>
									<div class="col-sm-3 filter-result-info">
										<span>
											Showing {{edu.handler.paginated.length}}/{{edu.handler.maindata.length}} entries
										</span>              
									</div>
								</div>
							</div><br>
							<table class="table table-bordered table-striped table-responsive">
								<thead>
									<tr>
										<th><div class="th">
										</div></th>
										<th ng-repeat='a in edu.handler.headers' width='{{a.width}}'>
											<div class="th">
												{{a.name}}
												<span class="fa fa-angle-up"
													  data-ng-if="a.sort"
													  data-ng-click="edu.handler.setactiveheader(a,true)"
													  data-ng-class="{active: $index == edu.handler.activeheader.id && edu.handler.activeheader.order == true}">
												</span>
												<span class="fa fa-angle-down"
													  data-ng-if="a.sort"
													  data-ng-click="edu.handler.setactiveheader(a,false)"
													  data-ng-class="{active: $index == edu.handler.activeheader.id && edu.handler.activeheader.order == false}">
												</span>
											</div>
										</th>
									</tr>
								</thead>
								<tbody>
									<tr data-ng-repeat="a in edu.handler.getdata() | orderBy: edu.handler.activeheader.sort : edu.handler.activeheader.order track by [$index]">
										<td><input type="checkbox" checklist-model="edu.handler.check" checklist-value="a.id"/></td>
										<td style="cursor:pointer" ng-click="edu.handler.openmodal('edit',a)">{{a.title}}</td>
									</tr>
								</tbody>
							</table>
							<footer class="table-footer">
								<div class="row">
									<div class="col-sm-6 page-num-info">
										<span>
											Show 
											<select data-ng-model="edu.handler.numPerPage"
													data-ng-options="num for num in edu.handler.numPerPageOpt"
													data-ng-change="onNumPerPageChange()">
											</select> 
											entries per page
										</span>
									</div>
									<div class="col-sm-6 text-right pagination-container">
										<pagination class="pagination-sm"
													ng-model="edu.handler.currentPage"
													total-items="edu.handler.filtered.length"
													max-size="4"
													ng-change="select(currentPage)"
													items-per-page="edu.handler.numPerPage"
													rotate="false"
													previous-text="&lsaquo;" next-text="&rsaquo;"
													boundary-links="true"></pagination>
									</div>
								</div>
							</footer>
						</div>
				</section>
			
				<!--Modal Add Education -->
				<script type="text/ng-template" id="modaladdedu">
					<div class="modal-header">
						<h4><i class="fa fa-save" style="margin-right: 8px;" ></i>Add Education</h4>
					</div>
					<div class="modal-body">
						<form name="myForm"  class="form form-validation"  ng-submit="myForm.$valid && submit(formData)">	
							<div class='form-group'>	
								<fieldset>
									<div class="col-md-2">
										<label for="">Level</label><span class="space space-sm"></span><label style ="color:red">*</label>
									</div>
									<div class="col-md-8">
										<input 	type="text" 
												name="name" 
												class="form-control" 
												ng-model="modaladdedu.form.title" 
												autocomplete="off"
												required/>
										<span style="color:red" ng-show="myForm.name.$dirty && myForm.name.$invalid">
											<span ng-show="myForm.name.$error.required">Required field.</span>
										</span>
									</div>
								</fieldset>
							</div>
							<fieldset>
								<div class="col-sm-3">
									</span><label style ="color:red">*</label><span class="space space-xs"><label><small>Required field</small></label>
								</div>										
							</fieldset>	
						</form>	
						<div class="modal-footer">
							<button type="submit" class="btn btn-success" ng-disabled="myForm.$invalid"  ng-click="modaladdedu.save()">Save</button>
							<button class="btn btn-danger" ng-click="modaladdedu.close()">Cancel</button>
						</div>
					</div>
				</script>							
								
				<!--Modal Edit Education -->
				<script type="text/ng-template" id="modalediteducation">
					<div class="modal-header">
						<h4><i class="fa fa-pencil-square-o" style="margin-right: 8px;" ></i>Edit Education</h4>
					</div>
					<div class="modal-body">
						<form name="myForm"  class="form form-validation" ng-submit="myForm.$valid && submit(formData)">	
							<div class='form-group'>	
								<fieldset>
									<div class="col-md-2">
										<label for="">Name</label><span class="space space-sm"></span><label style ="color:red">*</label>
									</div>
									<div class="col-md-8">
										<input 	type="text" 
												class="form-control" 
												name="name" 
												ng-model="modalediteducation.form.title" 
												ng-disabled="!modalediteducation.button"
												autocomplete="off"
												required
										/>
										<span style="color:red" ng-show="myForm.name.$dirty && myForm.name.$invalid">
											<span ng-show="myForm.name.$error.required">Required field.</span>
										</span>
									</div>
								</fieldset>
							</div>
							<fieldset>
								<div class="col-sm-3">
									</span><label style ="color:red">*</label><span class="space space-xs"><label><small>Required field</small></label>
								</div>										
							</fieldset>
						</form>
						<div class="modal-footer" ng-show="modalediteducation.handler.button('update')">
							<button type="submit" class="btn btn-success" ng-hide="modalediteducation.button" ng-click="modalediteducation.button=true;">Edit</button>
							<button type="submit" class="btn btn-success" ng-show="modalediteducation.button" ng-disabled="myForm.$invalid" ng-click="modalediteducation.save();">Save</button>
							<button class="btn btn-danger" ng-click="modalediteducation.close()">Cancel</button>
						</div>
						<div class="modal-footer" ng-hide="modalediteducation.handler.button('update')">
							<button class="btn btn-danger" ng-click="modalediteducation.close()">Close</button>
						</div>
					</div>
				</script>
						
		</div>
<!-- <section class="panel panel-primary table-dynamic" >
<div class="panel-heading"><strong><span class="glyphicon glyphicon-th" style="margin-right: 8px;"></span> EDUCATION</strong></div>
	<div class="table-filters">
		<div class="row">
			<div class="col-md-4">
				<form>
					<button class="btn btn-gap-v btn-success" ng-disabled ="!role" ng-click="open()"> Add </button>
						<span class="space space-sm"></span>
					<button class="btn btn-gap-v btn-danger" ng-disabled ="!role" ng-click="remove(check.students)">Delete</button>
				</form>
			</div>
		</div>
	</div>
	{{check.students}}
	<table class="table table-bordered table-striped table-responsive">
		<thead>
			<tr id="heading">
				<th style="width:1%"><div class="th">
				</div></th>
				<th style="width:99%"><div class="th">
					Level
				</div></th>
			</tr>
		</thead>
		<tbody>
			<tr data-ng-repeat="student in students | filter:search">
				<td><input type="checkbox" checklist-value="student.id"  checklist-model="check.students" ng-model="student.selected"></td>
				  <td ng-click="edit('',student)" style="cursor:pointer">{{student.title}}</td>
			</tr>
		</tbody>
	</table>
</section> -->