		<div class="page page-addEmployee">

			<div class="row">
								<div class="col-md-2" ng-controller="MenuCtrl">
									<section class="panel panel-box">
										<div class="panel-top bg-primary">
											<div class="text-center">
												<h3>{{name}}</h3>
											</div>
											<div class="divider divider-lg"></div>
											<div class="divider divider-lg"></div>
										</div>
										<div class="panel-img bg-primary">
											<a ng-href="#/employee/photograph/{{id}}"><img ng-src="{{pic}}" height="200" width="200" class="img-circle"></a>
										</div>
									</section>

									<div class="panel-default" ng-if="">
										<div class="panel-body">
											<button class="btn btn-block  btn-primary" ng-click="isCollapsed = !isCollapsed">Change Employee</button>
											<div collapse="!isCollapsed">
												<input type="text"
															placeholder="Search..."
															class="form-control"
															ng-model="employee" 
															typeahead="(address.name) for address in getLocation($viewValue)" 
															typeahead-loading="loadingLocations"
															typeahead-min-length="4"
															typeahead-wait-ms="300"
															typeahead-on-select="onSelect($item, $model, $label)"
													/>							
											</div>
										</div>
									</div>
									<div class="panel panel-default">
										<div class="panel-body">
										<!-- <a ng-href="#/employee/personalDetail/{{id}}" class="btn btn-block btn-primary">Personal Details</a></button> -->
										<a ng-href="#/employee/contact/{{id}}" class="btn btn-block  btn-primary">Contact Details</a></button>
										<a ng-href="#/employee/emergency/{{id}}" class="btn btn-block  btn-primary">Emergency Contacts</a></button>
										<a ng-href="#/employee/dependents/{{id}}" class="btn btn-block btn-primary">Dependents</a></button>
										<a ng-href="#/employee/immigrations/{{id}}" class="btn btn-block btn-primary">Immigrations</a></button>
										<a ng-href="#/employee/report/{{id}}" class="btn btn-block btn-primary">Report-To</a></button>
										<a ng-href="#/employee/qualification/{{id}}" class="btn btn-block btn-primary">Qualification</a></button>
										<a ng-href="#/employee/job/{{id}}" class="btn btn-block  btn-primary">Job History</a></button>
										<a ng-href="#/employee/salary/{{id}}" class="btn btn-block btn-primary">Salary History</a></button>
										</div>
									</div>
								</div>
		
								<div class="col-md-10">
									<div class="panel panel-primary">
										<div class="panel-heading"><strong><span class="fa fa-save" style="margin-right: 8px;"></span> Add Employee</strong></div>
											<div class="panel-body" >									
														<form name="form_name" class="form-horizontal form-validation">													
																<div class="form-group">
																	<fieldset>
																		<div class="col-sm-2">
																			<label for="firstName">Full Name</label>
																		</div>
																		<div class="col-sm-2"  >
																			<input type="text" name="firstName" class="form-control" placeholder="First Name" data-ng-model="formData.first_name" required="required" />
																		</div>
																		<div class="col-sm-2">
																			<input type="text" name="midleName" class="form-control" placeholder="Middle Name"  data-ng-model="formData.midle_Name" required="required"/>
																		</div>
																		<div class="col-sm-2">
																			<input type="text" name="lastName" class="form-control" placeholder="Last Name"   data-ng-model="formData.last_name" required="required" />																				 
																		</div>
																	</fieldset>
																</div>
																<div class="form-group">
																	<fieldset>
																		<div class="col-sm-2">
																			<label for="">Employee Id</label>
																		</div>
																		<div class="col-sm-2">
																			<input type="text" name="lastName" class="form-control" data-ng-model="formData.employee_id" />		
																		</div>
																		<div class="col-sm-2">
																			<label for="">Local IT</label>
																		</div>
																		<div class="col-sm-2">
																			<dl class="dl-vertikal">
																				<dd>
																					<label class="ui-radio"><input name="radio" type="radio" value="local_yes" ng-model="formData.localIt" class="ng-pristine ng-valid"><span> Yes</span></label>
																					<label class="ui-radio"><input name="radio" type="radio" value="local_no" ng-model="formData.localIt" checked="" class="ng-pristine ng-valid"><span>No</span></label>
																				</dd>
																			</dl>
																		</div>
																	</fieldset>
																</div>
																<div class="form-group">
																	<fieldset>
																		<div class="col-sm-2">
																			<label for="">Photograph</label>
																		</div>
																		<div class="col-sm-1">
																			<button type="button" 
																					class="btn btn-primary" 
																					accept="image/jpg, image/png"
																					ngf-select ngf-change="upload($files)"
																					ngf-multiple="multiple"
																					ng-model="files"
																			>Select File</button>
																		</div>
																		<div class="col-sm-2">
																			<ul> 
																				<li ng-repeat="f in files" style="font-size:0.8em">{{f.name}}</li>
																			</ul>
																		</div>
																	</fieldset>
																	<fieldset>
																		<div class="col-sm-2"></div>
																		<div class="col-sm-9" ng-show="files">
																			<label>
																				<input type="radio"  ng-click="keepFile()"  ng-show="files"  ng-model="upload" ng-checked="true" value="keep">
																				Keep Current
																			</label>
																			<span class="space space-sm">
																			<label>
																				<input type="radio" ng-click="deleteFile()" ng-show="files" ng-model="upload" value="del">
																				Delete Current
																			</label>
																			<span class="space space-sm">
																			<label>
																				<input type="radio"   ng-click="replaceFile()" ng-show="files" ng-model="upload" value="rep">
																				Replace Current
																			</label>
																		</div>
																	</fieldset>
																</div>
																<div class="form-group">
																	<fieldset>
																		<div class="col-sm-2">
																			<label for="">Active Directory Username</label>
																		</div>
																		<div class="col-sm-2">
																			<input type="text" name ="ad_username" class="form-control" ng-model="formData.ad_username" required />
																		</div>
																	</fieldset>
																</div>
																<hr>
																<fieldset>
																	<dl class="dl-vertikal">
																		<dd>
																			<button type="button" class="btn btn-gap-v btn-success" ng-click="save()">Save</button>
																		</dd>
																	</dl>
																</fieldset>
														</form>
											</div>
									</div>
								</div>
							
													
								
							
								
								
									
			</div>
								
		</div>
				
		
	