	
	<div class="page page-contact">
		<div class="row">
			<div class="col-md-2" ng-controller="MenuCtrl">
				<section class="panel panel-box">
					<div class="panel-top bg-primary">
						<div class="text-center">
							<h3>{{names}}</h3>
						</div>
						<div class="divider divider-lg"></div>
						<div class="divider divider-lg"></div>
					</div>
					<div class="panel-img bg-primary">
						<a ng-href="#/employee/photograph/{{id}}"><img ng-src="{{pic}}" height="200" width="200" class="img-circle"></a>
					</div>
				</section>
				
				<!-- <div class="panel-default" ng-show="!useracess('user')"> -->
						<div class="panel-default" ng-if="hideButton">		
				
					<div class="panel-body">
						<button class="btn btn-block  btn-primary" ng-click="isCollapsed = !isCollapsed">Change Employee</button>
						<div collapse="!isCollapsed">
							<input type="text"
									placeholder="Search..."
									class="form-control"
									ng-model="employee" 
									typeahead="(address.name) for address in getLocation($viewValue)" 
									typeahead-loading="loadingLocations"
									typeahead-min-length="4"
									typeahead-wait-ms="300"
									typeahead-on-select="onSelect($item, $model, $label)"
							/>						
						</div>
					</div>
				</div>
				
				<div class="panel panel-default">
					<div style="text-align:center">
						<h3 style="color:rgb(36, 138, 175);text-decoration: underline;text-decoration-color:rgb(36, 138, 175)" >{{localIT}}</h3>
					</div>
					<div class="panel-body">
					<a ng-href="#/employee/personalDetail/{{id}}" class="btn btn-block btn-primary">Personal Details</a></button>
					<a ng-href="#/employee/contact/{{id}}" class="btn btn-block  btn-primary active">Contact Details</a></button>
					<a ng-href="#/employee/emergency/{{id}}" class="btn btn-block  btn-primary">Emergency Contacts</a></button>
					<a ng-href="#/employee/dependents/{{id}}" class="btn btn-block btn-primary">Dependents</a></button>
					<a ng-href="#/employee/immigrations/{{id}}" class="btn btn-block btn-primary">Immigrations</a></button>
					<a ng-href="#/employee/report/{{id}}" class="btn btn-block btn-primary">Report-To</a></button>
					<a ng-href="#/employee/qualification/{{id}}" class="btn btn-block btn-primary">Qualification</a></button>
					<a ng-href="#/employee/job/{{id}}" class="btn btn-block  btn-primary">Job History</a></button>
					<a ng-href="#/employee/salary/{{id}}" class="btn btn-block btn-primary">Salary History</a></button>
					</div>
				</div>
			</div>
		
			<div class="col-md-10">
				<div class="panel panel-primary"  ng-controller="contactPerCtrl">
					<div class="panel-heading"><strong><span class="glyphicon glyphicon-th" style="margin-right: 8px;"></span></span>Contact Details</strong></div>
						<div class="panel-body">
							<form name="myForm" class="form-horizontal form-validation" novalidate>
								<div class="form-group">
									<fieldset>
										<div class="col-sm-2">
											<label for="">Permanent Address</label>
										</div>
										<div class="col-sm-3">
											<input type="" class="form-control" ng-model="Contact.permanent_address"  ng-disabled="!button">
										</div>
									</fieldset>
								</div>
								<div class="form-group">
									<fieldset>														
										<div class="col-sm-2">
											<label for="">City</label>
										</div>
										<div class="col-sm-3">
											<input type="" class="form-control" ng-disabled="!button" ng-model="Contact.permanent_city">
										</div>														
									</fieldset>
								</div>
								<div class="form-group">
									<fieldset>														
										<div class="col-sm-2">
											<label for="">State / Province</label>
										</div>
										<div class="col-sm-3">
											<input type="" class="form-control" ng-disabled="!button" ng-model="Contact.permanent_state">
										</div>														
									</fieldset>
								</div>
								<div class="form-group">
									<fieldset>														
										<div class="col-sm-2">
											<label for="">Zip</label>
										</div>
										<div class="col-sm-3">
											<input type="text" name="zip2" class="form-control" ng-disabled="!button" ng-model="Contact.permanent_zip" ng-pattern="/^(\d)+$/">
												<span style="color:red" ng-show="myForm.zip2.$dirty && myForm.zip2.$invalid">
													<span ng-show="myForm.zip2.$dirty && myForm.zip2.$error.pattern">Invalid input.</span>
										</div>														
									</fieldset>
								</div>
								<div class="form-group">
									<fieldset>														
										<div class="col-sm-2">
											<label for="">Country</label>
										</div>
										<div class="col-sm-3">
										<country-select class="form-control" ng-model="Contact.permanent_country" ng-disabled="!button"></country-select>
										</div>														
									</fieldset>
								</div>
								<hr>
								<div class="form-group">
									<fieldset>														
										<div class="col-sm-2">
											<label for="">Present Address</label>
										</div>
										<div class="col-sm-3">
											<input type="" class="form-control" ng-disabled="!button" ng-model="Contact.present_address">
										</div>														
									</fieldset>
								</div>
								<div class="form-group">
									<fieldset>														
										<div class="col-sm-2">
											<label for="">City</label>
										</div>
										<div class="col-sm-3">
											<input type="" class="form-control" ng-disabled="!button" ng-model="Contact.present_city">
										</div>														
									</fieldset>
								</div>
								<div class="form-group">
									<fieldset>														
										<div class="col-sm-2">
											<label for="">State / Province</label>
										</div>
										<div class="col-sm-3">
											<input type="" class="form-control" ng-disabled="!button" ng-model="Contact.present_state">
										</div>														
									</fieldset>
								</div>
								<div class="form-group">
									<fieldset>														
										<div class="col-sm-2">
											<label>Zip</label>
										</div>
										<div class="col-sm-3">
											<input type="text" name="zip1" class="form-control" ng-disabled="!button" ng-model="Contact.present_zip" ng-pattern="/^(\d)+$/">
												 <span style="color:red" ng-show="myForm.zip1.$dirty && myForm.zip1.$error.pattern">Invalid input.</span>
										</div>														
									</fieldset>
								</div>
								<div class="form-group">
									<fieldset>														
										<div class="col-sm-2">
											<label for="">Country</label>
										</div>
										<div class="col-sm-3">
											<country-select class="form-control" ng-model="Contact.present_country" ng-disabled="!button"></country-select>
										</div>														
									</fieldset>
								</div>
								<hr>
								<div class="form-group">
									<fieldset>
										<div class="col-sm-2">
											<label for="">Home Telephone</label>
										</div>
										<div class="col-sm-3">
											<input type="text" name="input1" class="form-control" ng-disabled="!button" ng-model="Contact.home_telephone" ng-pattern="/^[\d\-\^ ]+$/"/>
												<span style="color:red" ng-show="myForm.input1.$dirty && myForm.input1.$error.pattern">Invalid input.</span>
										</div>										
									</fieldset>
								</div>
								<div class="form-group">
									<fieldset>
										<div class="col-sm-2">
											<label for="">Mobile Telephone</label>
										</div>
										<div class="col-sm-3">
											<input type="text" name="input2" class="form-control" ng-disabled="!button" ng-model="Contact.mobile" ng-pattern="/^[\d\-\^ ]+$/"/>
													<span style="color:red" ng-show="myForm.input2.$dirty && myForm.input2.$error.pattern">Invalid input.</span>
										</div>										
									</fieldset>
								</div>
								<hr>
								<div class="form-group">
									<fieldset>
										<div class="col-sm-2">
											<label for=""><strong><b><h4>Email : <span style="color:red">*</span></h4></b></strong> </label>
										</div>
									</fieldset>
								</div>
								<div class="form-group">
									<fieldset>
										<div class="col-sm-2">
											<label for="">Work Email </label>
										</div>
										<div class="col-sm-3">
											<input type="email" class="form-control" name="email" ng-disabled="!button"  ng-pattern="/^[_a-zA-Z0-9]+(\.[_a-zA-Z0-9]+)*@[a-zA-Z0-9-]+(\.[a-zA-Z0-9-]+)*(\.[a-zA-Z]{2,4})$/" ng-model="Contact.work_email">
													<span style="color:red" ng-show="myForm.email.$error.pattern">Invalid email address.</span>
										</div>								
									</fieldset>
								</div>
								<div class="form-group">		
									<fieldset>
										<div class="col-sm-2">
											<label for="">Personal Email</label>
										</div>
										<div class="col-sm-3">
											<input type="email" class="form-control" name="email2" ng-disabled="!button" ng-model="Contact.personal_email"  ng-pattern="/^[_a-zA-Z0-9]+(\.[_a-zA-Z0-9]+)*@[a-zA-Z0-9-]+(\.[a-zA-Z0-9-]+)*(\.[a-zA-Z]{2,4})$/">
												<span style="color:red" ng-show="myForm.email2.$error.pattern">Invalid email address.</span>
										</div>
										<div class="col-sm-3">
											<input type="hidden" ng-model="Contact.employee_id">
										</div>
									</fieldset>

								</div>
								<br><hr>
								<dl class="dl-vertikal" ng-show="hide('create')">
									<dd>
										<button type="submit" class="btn btn-success" ng-hide="button" ng-click="button=true; edit();">Edit</button>
										<button type="submit" class="btn btn-success" ng-show="button" ng-click="save(Contact.employee_id);">Save</button>
									</dd>
								</dl>
							</form>
						</div>
				</div>
			</div>
		</div>
	</div>

				
				
