	
	<div class="page page-dependents">
		<div class="row">
			<div class="col-md-2" ng-controller="MenuCtrl">
				<section class="panel panel-box">
					<div class="panel-top bg-primary">
						<div class="text-center">
							<h3>{{names}}</h3>
						</div>
						<div class="divider divider-lg"></div>
						<div class="divider divider-lg"></div>
					</div>
					<div class="panel-img bg-primary">
						<a ng-href="#/employee/photograph/{{id}}"><img ng-src="{{pic}}" height="200" width="200" class="img-circle"></a>
					</div>
				</section>
				<!-- <div class="panel-default"  ng-show="!useracess('user')"> -->
						<div class="panel-default" ng-if="hideButton">		
				
					<div class="panel-body">
						<button class="btn btn-block  btn-primary" ng-click="isCollapsed = !isCollapsed">Change Employee</button>
						<div collapse="!isCollapsed">
							<input type="text"
										placeholder="Search..."
										class="form-control"
										ng-model="employee" 
										typeahead="(address.name) for address in getLocation($viewValue)" 
										typeahead-loading="loadingLocations"
										typeahead-min-length="4"
										typeahead-wait-ms="300"
										typeahead-on-select="onSelect($item, $model, $label)"
								/>							
						</div>
					</div>
				</div>
				<div class="panel panel-default">
					<div style="text-align:center">
						<h3 style="color:rgb(36, 138, 175);text-decoration: underline;text-decoration-color:rgb(36, 138, 175)" >{{localIT}}</h3>
					</div>
					<div class="panel-body">
					<a ng-href="#/employee/personalDetail/{{id}}" class="btn btn-block btn-primary">Personal Details</a></button>
					<a ng-href="#/employee/contact/{{id}}" class="btn btn-block  btn-primary">Contact Details</a></button>
					<a ng-href="#/employee/emergency/{{id}}" class="btn btn-block  btn-primary">Emergency Contacts</a></button>
					<a ng-href="#/employee/dependents/{{id}}" class="btn btn-block btn-primary active">Dependents</a></button>
					<a ng-href="#/employee/immigrations/{{id}}" class="btn btn-block btn-primary">Immigrations</a></button>
					<a ng-href="#/employee/report/{{id}}" class="btn btn-block btn-primary">Report-To</a></button>
					<a ng-href="#/employee/qualification/{{id}}" class="btn btn-block btn-primary">Qualification</a></button>
					<a ng-href="#/employee/job/{{id}}" class="btn btn-block  btn-primary">Job History</a></button>
					<a ng-href="#/employee/salary/{{id}}" class="btn btn-block btn-primary">Salary History</a></button>
					</div>
				</div>
			</div>
			<div class="col-md-10" data-ng-controller="dependentsCtrl">
				<section class="panel panel-primary table-dynamic">
					<div class="panel-heading"><strong><span class="glyphicon glyphicon-th" style="margin-right: 8px;"></span>Assigned Dependents</strong></div>
						<div class='panel-body'>	
							<div class="form-group">
								<div class="row">
									<div class="col-md-4">
										<form>
											<button class="btn btn-gap-v btn-success" 
													ng-click="open()"
													ng-show="hide('create')"> 
													Add 
											</button>
											<span class="space space-sm"></span>
											<button class="btn btn-gap-v btn-danger"  
													ng-click="remove(check.students)"
													ng-show="hide('delete')">
													Delete
											</button>
										</form>
									</div>
								</div>
							</div>
							<table class="table table-bordered table-striped table-responsive">
								<thead>
									<tr id="heading">
											<th style="width:1%" ng-model="student.selected"><div class="th">
											</div></th>
											<th style="width:20%"><div class="th">
												Name
											</div></th>
											<th style="width:30%"><div class="th">
												Relationship
											</div></th>
											<th style="width:30%"><div class="th">
												Date of Birth
											</div></th>
									</tr>
								</thead>
								<tbody>
									<tr data-ng-repeat="student in students | filter:search | filter:new_search">
										<td><input type="checkbox" name="checkbox" checklist-model="check.students" checklist-value="student.id"></td>
										<td ng-click="edit('',student)" style="cursor:pointer">{{student.name}}</td>
										<td ng-click="edit('',student)" style="cursor:pointer">{{student.relationship}}</td>
										<td ng-click="edit('',student)" style="cursor:pointer">{{student.date_of_birth}}</td>
									</tr>
								</tbody>
							</table>
						</div>
				</section>
			</div>
						
			<!--Modal Add Dependents -->
			<script type="text/ng-template" id="modalDepend.html">
				<div class="modal-header">
					<h4><i class="fa fa-save" style="margin-right: 8px;" ></i>Add Dependent</h4>
				</div>
				<div class="modal-body">
					<form name="myForm"  class="form-validation" ng-submit="myForm.$valid && submit()">	
						<div class="form-group">	
							<fieldset>
								<div class="col-sm-4">
									<label for="">Name</label><span class="space space-sm"></span><label style ="color:red">*</label>
								</div>
								<div class="col-sm-6">
									<input type="text" name="name" class="form-control" data-ng-model="formData.name" autocomplete="off" required/>
										<span style="color:red" ng-show="myForm.name.$dirty && myForm.name.$invalid">
											<span ng-show="myForm.name.$error.required">Name is required.</span>
										</span>												
								</div>
							</fieldset>
						</div>
						<div class="form-group">
							<fieldset>
								<div class="col-sm-4">
									<label for="">Relationship</label><span class="space space-sm"></span><label style ="color:red">*</label>
								</div>
								<div class="col-sm-6">
									<select class="form-control" ng-model="formData.relationship" name="rela" autocomplete="off" required>
										<option value="" selected="selected">-- Select --</option>
										<option value="child">Child</option>
										<option value="spouse">Spouse</option>
										<option value="parent">Parent</option>
										<option value="sibling">Sibling</option>
									</select>
									<span style="color:red" ng-show="myForm.rela.$dirty && myForm.rela.$invalid">
										<span ng-show="myForm.rela.$error.required">Required field.</span>
									</span>	
								</div>
							</fieldset>
						</div>
						<div class="form-group">
							<fieldset>
								<div class="col-sm-4">
									<label for="">Date of Birth</label>
								</div>
								<div class="col-sm-6">
									 <input type="date" class="form-control" min="1900-01-01" max="2100-01-01" ng-model="formData.date_of_birth"
											placeholder="yyyy-mm-dd" autocomplete="off"/>												
								</div>
							</fieldset>
						</div>
						<div class="form-group">
							<fieldset>
								<div class="col-sm-4">
									<label for="">Age</label>
								</div>
								<div class="col-sm-6">
									<label>{{age}}<span class="space space-sm"></span>,Years</label>
								</div>
							</fieldset>
						</div>
						<div class="form-group">
							<fieldset>
								<div class="col-sm-4">
									<label for="">Gender</label><span class="space space-sm"></span><label style ="color:red">*</label>
								</div>
								<div class="col-sm-6">
									<label class="ui-radio"><input name="male" type="radio" value="male" ng-model="formData.gender" required ><span> Male</span></label>
									<label class="ui-radio"><input name="female" type="radio" value="female"  ng-model="formData.gender" required><span> Female</span></label>
								</div>										
							</fieldset>
						</div>
						<div class="form-group">
							<fieldset>
								<div class="col-sm-4">
									<label for="">HMO Account Number</label>
								</div>
								<div class="col-sm-6">
									<input type="text" name="acountNumber" class="form-control" id="acountNumber"
										ng-model="formData.hmo_account"
										ng-pattern="/^[\a-zA-Z\d\-\^ ]+$/"
										autocomplete="off"
									/>
									<span style="color:red" ng-show="myForm.acountNumber.$dirty && myForm.acountNumber.$error.pattern">Invalid input.</span>	
								</div>
							</fieldset>
						</div>
						<div class="form-group">
							<fieldset>
								<div class="col-sm-4">
									<label for="">HMO Card Number</label>
								</div>
								<div class="col-sm-6">
									<input type="text" name="cardNumber" class="form-control" id="cardNumber"
										ng-model="formData.hmo_numb"														
										ng-pattern="/^[\a-zA-Z\d\-\^ ]+$/"
										autocomplete="off"
									/>
									<span style="color:red" ng-show="myForm.cardNumber.$dirty && myForm.cardNumber.$error.pattern">Invalid input.</span>	
								</div>
							</fieldset>
						</div>
					</form>	
				</div><br>
				<fieldset>
					<div class="col-sm-3">
						<label style ="color:red">*</label><span class="space space-xs"></span><label><small>Required field</small></label>
					</div>										
				</fieldset>
				<div class="modal-footer">
					<button type="submit" class="btn btn-success" ng-disabled="myForm.$invalid" ng-click="save()">Save</button>
					<button class="btn btn-danger" ng-click="cancel()">Cancel</button>
				</div>
			</script>
							
			<!--Modal Edit Dependents -->
			<script type="text/ng-template" id="modalEditDepend.html">
				<div class="modal-header">
					<button type="button" class="close" ng-click="cancel()" style="color:white;" data-dismiss="modal" aria-hidden="true">&times;</button>
					<h4><i class="fa fa-pencil-square-o" style="margin-right: 8px;" ></i>Edit Dependent</h4>
				</div>
				<div class="modal-body">
					<form name="myForm"  class="form-validation" ng-submit="myForm.$valid && submit()">	
						<div class="form-group">	
							<fieldset>
								<div class="col-sm-4">
									<label for="">Name</label><span class="space space-sm"></span><label style ="color:red">*</label>
								</div>
								<div class="col-sm-6">
									<input type="text" name="name" class="form-control" ng-model="formData.name" ng-disabled="!button" autocomplete="off" required/>
										<span style="color:red" ng-show="myForm.name.$dirty && myForm.name.$invalid">
											<span ng-show="myForm.name.$error.required">Name is required.</span>
										</span>												
								</div>
							</fieldset>
						</div>
						<div class="form-group">
							<fieldset>
								<div class="col-sm-4">
									<label for="">Relationship</label><span class="space space-sm"></span><label style ="color:red">*</label>
								</div>
								<div class="col-sm-6">
									<select class="form-control" ng-model="formData.relationship" name="rela" ng-disabled="!button" autocomplete="off" required>
										<option value="null" selected="selected">-- Select --</option>
										<option value="child">Child</option>
										<option value="spouse">Spouse</option>
										<option value="parent">Parent</option>
										<option value="sibling">Sibling</option>
									</select>
									<span style="color:red" ng-show="myForm.rela.$dirty && myForm.rela.$invalid">
										<span ng-show="myForm.rela.$error.required">Required field.</span>
									</span>	
								</div>
							</fieldset>
						</div>
						<div class="form-group">
							<fieldset>
								<div class="col-sm-4">
									<label for="">Date of Birth</label>
								</div>
								<div class="col-sm-6">
									  <input type="date" class="form-control" min="1900-01-01" max="2100-01-01" ng-model="formData.date_of_birth" ng-disabled="!button"
											 min="1950-01-01" max="2020-12-30"/>													
								</div>
							</fieldset>
						</div>
						<div class="form-group">
							<fieldset>
								<div class="col-sm-4">
									<label for="">Age</label>
								</div>
								<div class="col-sm-6">
									<label>{{age}}<span class="space space-sm"></span>,Years</label>
								</div>									
							</fieldset>
						</div>
						<div class="form-group">
							<fieldset>
								<div class="col-sm-4">
									<label for="">Gender</label><span class="space space-sm"></span><label style ="color:red">*</label>
								</div>
								<div class="col-sm-6">
									<label class="ui-radio"><input name="male" type="radio" value="male"  ng-model="formData.gender" ng-disabled="!button" required ><span> Male</span></label>
									<label class="ui-radio"><input name="female" type="radio" value="female"  ng-model="formData.gender" ng-disabled="!button" required><span> Female</span></label>
								</div>										
							</fieldset>
						</div>
						<div class="form-group">
							<fieldset>
								<div class="col-sm-4">
									<label for="">HMO Account Number</label>
								</div>
								<div class="col-sm-6">
									<input type="text" name="acountNumber" class="form-control" id="acountNumber"
										ng-model="formData.hmo_account"
										ng-disabled="!button"
										ng-pattern="/^[\a-zA-Z\d\-\^ ]+$/"
										autocomplete="off"
									/>
									<span style="color:red" ng-show="myForm.acountNumber.$dirty && myForm.acountNumber.$error.pattern">Invalid input.</span>
								</div>
							</fieldset>
						</div>
						<div class="form-group">
							<fieldset>
								<div class="col-sm-4">
									<label for="">HMO Card Number</label>
								</div>
								<div class="col-sm-6">
									<input type="text" name="cardNumber" class="form-control" id="cardNumber"
										ng-model="formData.hmo_numb"
										ng-disabled="!button"
										ng-pattern="/^[\a-zA-Z\d\-\^ ]+$/"
										autocomplete="off"
									/>
									<span style="color:red" ng-show="myForm.cardNumber.$dirty && myForm.cardNumber.$error.pattern">Invalid input.</span>	
								</div>
							</fieldset>
						</div>
					</form>	
				</div><br>
				<fieldset>
					<div class="col-sm-3">
						<label style ="color:red">*</label><span class="space space-xs"></span><label><small>Required field</small></label>
					</div>										
				</fieldset>
				<div class="modal-footer" ng-show="hide('update')">
					<button type="submit" class="btn btn-success" ng-hide="button" ng-click="button=true; edit();">Edit</button>
					<button type="submit" class="btn btn-success" ng-disabled="myForm.$invalid" ng-show="button"  ng-click="save()">Save</button>
					<button class="btn btn-danger" ng-click="cancel()">Cancel</button>
				</div>
				<div class="modal-footer" ng-hide="hide('update')">
					<button class="btn btn-danger" ng-click="cancel()">Close</button>
				</div>
			</script>						
		</div>
	</div>

				
				
