	
		<div class="page page-contactEmergency">
			<div class="row">
					<div class="col-md-2" ng-controller="MenuCtrl">
						<section class="panel panel-box">
							<div class="panel-top bg-primary">
								<div class="text-center">
									<h3>{{names}}</h3>
								</div>
								<div class="divider divider-lg"></div>
								<div class="divider divider-lg"></div>
							</div>
							<div class="panel-img bg-primary">
								<a ng-href="#/employee/photograph/{{id}}"><img ng-src="{{pic}}" height="200" width="200" class="img-circle"></a>
							</div>
						</section>
						<!-- <div class="panel-default"  ng-show="!useracess('user')"> -->
						<div class="panel-default" ng-if="hideButton">		
						
							<div class="panel-body">
								<button class="btn btn-block  btn-primary" ng-click="isCollapsed = !isCollapsed">Change Employee</button>
								<div collapse="!isCollapsed">
									<input type="text"
											placeholder="Search..."
											class="form-control"
											ng-model="employee" 
											typeahead="(address.name) for address in getLocation($viewValue)" 
											typeahead-loading="loadingLocations"
											typeahead-min-length="4"
											typeahead-wait-ms="300"
											typeahead-on-select="onSelect($item, $model, $label)"
									/>							
								</div>
							</div>
						</div>
						<div class="panel panel-default">
							<div style="text-align:center">
								<h3 style="color:rgb(36, 138, 175);text-decoration: underline;text-decoration-color:rgb(36, 138, 175)" >{{localIT}}</h3>
							</div>
							<div class="panel-body">
							<a ng-href="#/employee/personalDetail/{{id}}" class="btn btn-block btn-primary">Personal Details</a></button>
							<a ng-href="#/employee/contact/{{id}}" class="btn btn-block  btn-primary ">Contact Details</a></button>
							<a ng-href="#/employee/emergency/{{id}}" class="btn btn-block  btn-primary active">Emergency Contacts</a></button>
							<a ng-href="#/employee/dependents/{{id}}" class="btn btn-block btn-primary">Dependents</a></button>
							<a ng-href="#/employee/immigrations/{{id}}" class="btn btn-block btn-primary">Immigrations</a></button>
							<a ng-href="#/employee/report/{{id}}" class="btn btn-block btn-primary">Report-To</a></button>
							<a ng-href="#/employee/qualification/{{id}}" class="btn btn-block btn-primary">Qualification</a></button>
							<a ng-href="#/employee/job/{{id}}" class="btn btn-block  btn-primary">Job History</a></button>
							<a ng-href="#/employee/salary/{{id}}" class="btn btn-block btn-primary">Salary History</a></button>
							</div>
						</div>
					</div>
					
					<div class="col-md-10" data-ng-controller="emmergencyCtrl">
						<section class="panel panel-primary table-dynamic">
							<div class="panel-heading"><strong><span class="glyphicon glyphicon-th" style="margin-right: 8px;"></span>Assigned Emergency Contact</strong></div>
								<div class='panel-body'>	
									<div class="form-group">
										<div class="row">
											<div class="col-md-4">
												<form>
													<button class="btn btn-gap-v btn-success" 
															ng-click="open()"
															ng-show="hide('create')"> 
															Add
													</button>
													<span class="space space-sm"></span>
													<button class="btn btn-gap-v btn-danger"  
															ng-click="remove(check.storage)"
															ng-show="hide('delete')">
															Delete
													</button>
												</form>
											</div>
										</div>
									</div>
									<table class="table table-bordered table-striped table-responsive">
										<thead>
											<tr id="heading">
													<th style="width:1%"><div class="th">
													</div></th>
													<th style="width:15%"><div class="th">
														Name
													</div></th>
													<th style="width:15%"><div class="th">
														Address
													</div></th>
													<th style="width:15%"><div class="th">
														Relationship
													</div></th>
													<th style="width:15%"><div class="th">
														Home Telephone
													</div></th>
													<th style="width:15%"><div class="th">
														Mobile
													</div></th>
													<th style="width:15%"><div class="th">
														Work Telephone
													</div></th>
											</tr>
										</thead>
										<tbody>
											<tr data-ng-repeat="store in storage | filter:search | filter:new_search">
												<td><input type="checkbox" name="checkbox" checklist-model="check.storage" checklist-value="store.id"></td>
												<td ng-click="edit('',store)" style="cursor:pointer">{{store.name}}</td>
												<td ng-click="edit('',store)" style="cursor:pointer">{{store.address}}</td>
												<td ng-click="edit('',store)" style="cursor:pointer">{{store.relationship}}</td>
												<td ng-click="edit('',store)" style="cursor:pointer">{{store.home_telephone}}</td>
												<td ng-click="edit('',store)" style="cursor:pointer">{{store.mobile_telephone}}</td>
												<td ng-click="edit('',store)" style="cursor:pointer">{{store.work_telephone}}</td>
											</tr>
										</tbody>
									</table>
								</div>
						</section>
					</div>
					
					<!--Modal Add Emmergency -->
					<script type="text/ng-template" id="modalEmmer.html">
						<div class="modal-header">
							<h4><i class="fa fa-save" style="margin-right: 8px;" ></i>Add Emergency Contact</h4>
						</div>
						<div class="modal-body">
							<form name="myForm"  class="form-validation" ng-submit="myForm.$valid && submit()">	
								<div class="form-group">	
									<fieldset>
										<div class="col-sm-3">
											<label>Name</label><span class="space space-xs"></span><label style ="color:red">*</label>
										</div>
										<div class="col-sm-6">
											<input type="text" name="name" class="form-control" ng-model="coEn.name"  autocomplete="off" required/>
												<span style="color:red" ng-show="myForm.name.$dirty && myForm.name.$invalid">
													<span ng-show="myForm.name.$error.required">Name is required.</span>
												</span>
										</div>
									</fieldset>
								</div>
								<div class="form-group">
									<fieldset>
										<div class="col-sm-3">
											<label for="">Address</label>
										</div>
										<div class="col-sm-6">
											<input type="text" name="address" ng-model="coEn.address" autocomplete="off" class="form-control">														
										</div>
									</fieldset>
								</div>
								<div class="form-group">
									<fieldset>
										<div class="col-sm-3">
											<label for="">City</label>
										</div>
										<div class="col-sm-6">
											<input type="text" name="address" ng-model="coEn.city" autocomplete="off" class="form-control">														
										</div>
									</fieldset>
								</div>
								<div class="form-group">
									<fieldset>
										<div class="col-sm-3">
											<label for="">State / Province</label>
										</div>
										<div class="col-sm-6">
											<input type="text" name="address" ng-model="coEn.state" autocomplete="off" class="form-control">														
										</div>
									</fieldset>
								</div>
								<div class="form-group">
									<fieldset>
										<div class="col-sm-3">
											<label for="">Zip / Postal Code</label>
										</div>
										<div class="col-sm-6">
											<input type="text" name="zip3" class="form-control" ng-model="coEn.zip" autocomplete="off" ng-pattern="/^[\d\-\^ ]+$/">
												<span style="color:red" ng-show="myForm.zip3.$dirty && myForm.zip3.$error.pattern">Invalid input.</span>													
										</div>
									</fieldset>
								</div>
								<div class="form-group">
									<fieldset>
										<div class="col-sm-3">
											<label for="">Country</label>
										</div>
										<div class="col-sm-6">
											<country-select class="form-control" ng-model="coEn.country" autocomplete="off"></country-select>	
										</div>
									</fieldset>
								</div>
								<div class="form-group">
									<fieldset>
										<div class="col-sm-3">
											<label for="">Relationship</label><span class="space space-sm"></span><label style ="color:red">*</label>
										</div>
										<div class="col-sm-6">
											<input type="text" name="rela" class="form-control" data-ng-model="coEn.relationship"  autocomplete="off" required="required"/>
												<span style="color:red" ng-show="myForm.rela.$dirty && myForm.rela.$invalid">
													<span ng-show="myForm.rela.$error.required">Required field.</span>
												</span>														
										</div>
									</fieldset>
								</div>
								<div class="form-group">
									<fieldset>
										<div class="col-sm-3">
											<label for="">Home Telephone</label>
										</div>
										<div class="col-sm-6">
											<input type="text"
												   name="home"
												   class="form-control"
												   ng-model="coEn.home_telephone"
												   ng-pattern="/^[\d\-\^ ]+$/"
												   ng-maxlength="20"
												   autocomplete="off"
												   />
											<span style="color:red"  ng-show="myForm.home.$dirty && myForm.home.$invalid"></span>
											<span style="color:red"  ng-show="myForm.home.$dirty && myForm.home.$error.pattern">Invalid input.</span>
											<span style="color:red"  ng-show="myForm.home.$dirty && myForm.home.$error.maxlength">Input is too long.</span>
										</div>										
									</fieldset>
								</div>
								<div class="form-group">
									<fieldset>
										<div class="col-sm-3">
											<label for="">Mobile</label>
										</div>
										<div class="col-sm-6">
											<input type="text"
												   name="mobile"
												   class="form-control"
												   ng-model="coEn.mobile_telephone"
												   ng-pattern="/^[\d\-\^ ]+$/"
												   ng-maxlength="20"
												   autocomplete="off"
											/>
											<span style="color:red" ng-show="myForm.mobile.$dirty && myForm.mobile.$invalid"></span>
											<span style="color:red"  ng-show="myForm.mobile.$dirty && myForm.mobile.$error.pattern">Invalid input.</span>
											<span style="color:red"  ng-show="myForm.mobile.$dirty && myForm.mobile.$error.maxlength">Input is too long.</span>
										</div>											
									</fieldset>
								</div>
								<div class="form-group">
									<fieldset>
										<div class="col-sm-3">
											<label for="">Work Telephone</label>
										</div>
										<div class="col-sm-6">
											<input type="text"
												   name="work"
												   class="form-control"
												   ng-model="coEn.work_telephone"
												   ng-pattern="/^[\d\-\^ ]+$/"
												   ng-maxlength="20"
												   autocomplete="off"
												   />
											<span style="color:red"  ng-show="myForm.work.$dirty && myForm.work.$invalid"></span>
											<span style="color:red"  ng-show="myForm.work.$dirty && myForm.work.$error.pattern">Invalid input.</span>
											<span style="color:red"  ng-show="myForm.work.$dirty && myForm.work.$error.maxlength">Input is too long.</span>
										</div>											
									</fieldset>
								</div>
							</form>	
						</div><br>
						<fieldset>
							<div class="col-sm-3">
								</span><label style ="color:red">*</label><span class="space space-xs"><label><small>Required field</small></label>
							</div>										
						</fieldset>
						<div class="modal-footer">
							<button type="submit" class="btn btn-success" ng-disabled="myForm.$invalid" ng-click="save()">Save</button>
							<button class="btn btn-danger" ng-click="cancel()">Cancel</button>
						</div>
					</script>
							
					<!--Modal Edit Emmergency -->
					<script type="text/ng-template" id="modalEditEmmer.html">
						<div class="modal-header">
							<button type="button" class="close" ng-click="cancel()" style="color:white;" data-dismiss="modal" aria-hidden="true">&times;</button>
							<h4><i class="fa fa-pencil-square-o" style="margin-right: 8px;" ></i>Edit Emergency Contact</h4>
						</div>
						<div class="modal-body">
							<form name="myForm"  class="form-validation" ng-submit="myForm.$valid && submit()">	
								<div class="form-group">	
									<fieldset>
										<div class="col-sm-3">
											<label>Name</label><span class="space space-xs"></span><label style ="color:red">*</label>
										</div>
										<div class="col-sm-6">
											<input type="text" name="name" class="form-control" ng-model="coEn.name"  ng-disabled="!button" required/>
												<span style="color:red" ng-show="myForm.name.$dirty && myForm.name.$invalid">
													<span ng-show="myForm.name.$error.required">Name is required.</span>
												</span>
										</div>
									</fieldset>
								</div>
								<div class="form-group">
									<fieldset>
										<div class="col-sm-3">
											<label for="">Address</label>
										</div>
										<div class="col-sm-6">
											<input type="text" name="address" ng-model="coEn.address" class="form-control" ng-disabled="!button">														
										</div>
									</fieldset>
								</div>
								<div class="form-group">
									<fieldset>
										<div class="col-sm-3">
											<label for="">City</label>
										</div>
										<div class="col-sm-6">
											<input type="text" name="address" ng-model="coEn.city" class="form-control" ng-disabled="!button">														
										</div>
									</fieldset>
								</div>
								<div class="form-group">
									<fieldset>
										<div class="col-sm-3">
											<label for="">State / Province</label>
										</div>
										<div class="col-sm-6">
											<input type="text" name="address" ng-model="coEn.state" class="form-control" ng-disabled="!button">														
										</div>
									</fieldset>
								</div>
								<div class="form-group">
									<fieldset>
										<div class="col-sm-3">
											<label for="">Zip / Postal Code</label>
										</div>
										<div class="col-sm-6">
											<input type="text" name="zip3" class="form-control" ng-model="coEn.zip" ng-pattern="/^[\d\-\^ ]+$/" ng-disabled="!button">
												<span style="color:red" ng-show="myForm.zip3.$dirty && myForm.zip3.$error.pattern">Invalid input.</span>													
										</div>
									</fieldset>
								</div>
								<div class="form-group">
									<fieldset>
										<div class="col-sm-3">
											<label for="">Country</label>
										</div>
										<div class="col-sm-6">
											<country-select class="form-control" ng-model="coEn.country" ng-disabled="!button"></country-select>													
										</div>
									</fieldset>
								</div>
								<div class="form-group">
									<fieldset>
										<div class="col-sm-3">
											<label for="">Relationship</label><span class="space space-sm"></span><label style ="color:red">*</label>
										</div>
										<div class="col-sm-6">
											<input type="text" name="rela" class="form-control" data-ng-model="coEn.relationship"  ng-disabled="!button" required/>
												<span style="color:red" ng-show="myForm.rela.$dirty && myForm.rela.$invalid">
													<span ng-show="myForm.rela.$error.required">Required field.</span>
												</span>														
										</div>
									</fieldset>
								</div>
								<div class="form-group">
									<fieldset>
										<div class="col-sm-3">
											<label for="">Home Telephone</label>
										</div>
										<div class="col-sm-6">
											<input type="text"
												   name="home"
												   class="form-control"
												   ng-model="coEn.home_telephone"
												   ng-pattern="/^[\d\-\^ ]+$/"
												   ng-maxlength="20"
												   ng-disabled="!button"
												   
												   />
											<span style="color:red" ng-show="myForm.home.$dirty && myForm.home.$invalid"></span>
											<span style="color:red" ng-show="myForm.home.$dirty && myForm.home.$error.pattern">Invalid input.</span>
											<span style="color:red" ng-show="myForm.home.$dirty && myForm.home.$error.maxlength">Input is too long.</span>
										</div>										
									</fieldset>
								</div>
								<div class="form-group">
									<fieldset>
										<div class="col-sm-3">
											<label for="">Mobile</label>
										</div>
										<div class="col-sm-6">
											<input type="text"
												   name="mobile"
												   class="form-control"
												   ng-model="coEn.mobile_telephone"
												   ng-pattern="/^[\d\-\^ ]+$/"
												   ng-maxlength="20"
												   ng-disabled="!button"
												   
												   />
											<span style="color:red" ng-show="myForm.mobile.$dirty && myForm.mobile.$invalid"></span>
											<span style="color:red" ng-show="myForm.mobile.$dirty && myForm.mobile.$error.pattern">Invalid input.</span>
											<span style="color:red" ng-show="myForm.mobile.$dirty && myForm.mobile.$error.maxlength">Input is too long.</span>
										</div>											
									</fieldset>
								</div>
								<div class="form-group">
									<fieldset>
										<div class="col-sm-3">
											<label for="">Work Telephone</label>
										</div>
										<div class="col-sm-6">
											<input type="text"
												   name="work"
												   class="form-control"
												   ng-model="coEn.work_telephone"
												   ng-pattern="/^[\d\-\^ ]+$/"
												   ng-maxlength="20"
												   ng-disabled="!button"
												   />
											<span style="color:red" ng-show="myForm.work.$dirty && myForm.work.$invalid"></span>
											<span style="color:red" ng-show="myForm.work.$dirty && myForm.work.$error.pattern">Invalid input.</span>
											<span style="color:red" ng-show="myForm.work.$dirty && myForm.work.$error.maxlength">Input is too long.</span>
										</div>											
									</fieldset>
								</div>
							</form>	
						</div><br>
						<fieldset>
							<div class="col-sm-3">
								</span><label style ="color:red">*</label><span class="space space-xs"><label><small>Required field</small></label>
							</div>										
						</fieldset>
						<div class="modal-footer" ng-show="hide('update')">
							<button type="submit" class="btn btn-success" ng-hide="button" ng-click="button=true; edit();">Edit</button>
							<button type="submit" class="btn btn-success" ng-disabled="myForm.$invalid" ng-show="button"  ng-click="save()">Save</button>
							<button class="btn btn-danger" ng-click="cancel()">Cancel</button>
						</div>
						<div class="modal-footer" ng-hide="hide('update')">
							<button class="btn btn-danger" ng-click="cancel()">Close</button>
						</div>
					</script>						
			</div>
		</div>

				
				
