	
<div class="page page-immigrations">
	<div class="row">
		<div class="col-md-2" ng-controller="MenuCtrl">
			<section class="panel panel-box">
				<div class="panel-top bg-primary">
					<div class="text-center">
						<h3>{{names}}</h3>
					</div>
					<div class="divider divider-lg"></div>
					<div class="divider divider-lg"></div>
				</div>
				<div class="panel-img bg-primary">
					<a ng-href="#/employee/photograph/{{id}}"><img ng-src="{{pic}}" height="200" width="200" class="img-circle"></a>
				</div>
			</section>
			<!-- <div class="panel-default"  ng-show="!useracess('user')"> -->
			<div class="panel-default" ng-if="hideButton">		
				
				<div class="panel-body">
					<button class="btn btn-block  btn-primary" ng-click="isCollapsed = !isCollapsed">Change Employee</button>
					<div collapse="!isCollapsed">
						<input type="text"
						placeholder="Search..."
						class="form-control"
						ng-model="employee" 
						typeahead="(address.name) for address in getLocation($viewValue)" 
						typeahead-loading="loadingLocations"
						typeahead-min-length="4"
						typeahead-wait-ms="300"
						typeahead-on-select="onSelect($item, $model, $label)"
						/>							
					</div>
				</div>
			</div>
			<div class="panel panel-default">
				<div style="text-align:center">
					<h3 style="color:rgb(36, 138, 175);text-decoration: underline;text-decoration-color:rgb(36, 138, 175)" >{{localIT}}</h3>
				</div>
				<div class="panel-body">
					<a ng-href="#/employee/personalDetail/{{id}}" class="btn btn-block btn-primary">Personal Details</a></button>
					<a ng-href="#/employee/contact/{{id}}" class="btn btn-block  btn-primary">Contact Details</a></button>
					<a ng-href="#/employee/emergency/{{id}}" class="btn btn-block  btn-primary">Emergency Contacts</a></button>
					<a ng-href="#/employee/dependents/{{id}}" class="btn btn-block btn-primary">Dependents</a></button>
					<a ng-href="#/employee/immigrations/{{id}}" class="btn btn-block btn-primary active">Immigrations</a></button>
					<a ng-href="#/employee/report/{{id}}" class="btn btn-block btn-primary">Report-To</a></button>
					<a ng-href="#/employee/qualification/{{id}}" class="btn btn-block btn-primary">Qualification</a></button>
					<a ng-href="#/employee/job/{{id}}" class="btn btn-block  btn-primary">Job History</a></button>
					<a ng-href="#/employee/salary/{{id}}" class="btn btn-block btn-primary">Salary History</a></button>
				</div>
			</div>
		</div>
		
		<div class="col-md-10" data-ng-controller="ImmigrationsCtrl">
			<section class="panel panel-primary table-dynamic">
				<div class="panel-heading"><strong><span class="glyphicon glyphicon-th" style="margin-right: 8px;"></span> Add Immigration</strong></div>
				<div class='panel-body'>	
					<div class="form-group">
						<div class="row">
							<div class="col-md-4">
								<form>
									<button class="btn btn-gap-v btn-success" ng-show="hide('create')" ng-click="open()"> Add </button>
									<span class="space space-sm"></span>
									<button class="btn btn-gap-v btn-danger"  ng-show="hide('delete')" ng-click="remove(check.dataimmigrations)">Delete</button>
								</form>
							</div>
						</div>
					</div>
					<table class="table table-bordered table-striped table-responsive">
						<thead>
							<tr id="heading">
								<th style="width:1%"><div class="th">
								</div></th>
								<th style="width:15%"><div class="th">
									Document
								</div></th>
								<th style="width:15%"><div class="th">
									Number
								</div></th>
								<th style="width:15%"><div class="th">
									Issued By
								</div></th>
								<th style="width:15%"><div class="th">
									Issued Date
								</div></th>
								<th style="width:15%"><div class="th">
									Expiry Date
								</div></th>
								<th style="width:15%"><div class="th">
									File
								</div></th>
							</tr>
						</thead>
						<tbody>
							<tr data-ng-repeat="stud in dataimmigrations | filter:search | filter:new_search">
								<td><input type="checkbox" checklist-model="check.dataimmigrations" checklist-value="stud.id"></td>
								<td ng-click="edit('',stud)" style="cursor:pointer">{{stud.type_doc}}</td>
								<td ng-click="edit('',stud)" style="cursor:pointer">{{stud.immigration_numb}}</td>
								<td ng-click="edit('',stud)" style="cursor:pointer">{{stud.issued_by}}</td>
								<td ng-click="edit('',stud)" style="cursor:pointer">{{stud.issued_date}}</td>
								<td ng-click="edit('',stud)" style="cursor:pointer">{{stud.expiry_date}}</td>
								<td ng-click="test($event)" style="cursor:pointer"><a target="_parent" ng-href = "{{e}}">{{stud.filename}}</td></a>
							</tr>
						</tbody>
					</table>
				</div>
			</section>
		</div>
		
		
		<!--Modal Add Immigration -->	
		<script type="text/ng-template" id="modalImmigrations.html">
			<div class="modal-header">
				<h4><i class="fa fa-save" style="margin-right: 8px;" ></i>Add Immigration</h4>
			</div>
			<div class="modal-body">
				<form name="myForm"  class="form-validation" ng-submit="myForm.$valid && submit()">	
					<div class="form-group">	
						<fieldset>
							<div class="col-sm-3">
								<label for="">Document</label><span class="space space-sm"></span><label style ="color:red">*</label>
							</div>
							<div class="col-sm-9">
								<label class="ui-radio"><input name="passport" type="radio" value="passport" ng-model="immig.type_doc"><span>Passport</span></label>
								<label class="ui-radio"><input name="visa" type="radio" value="visa" ng-model="immig.type_doc" ><span>Visa</span></label>
								<label class="ui-radio"><input name="aep" type="radio" value="aep" ng-model="immig.type_doc" ><span>AEP</span></label>
								<label class="ui-radio"><input name="ceza" type="radio" value="ceza" ng-model="immig.type_doc" ><span>CEZA I-Card</span></label>									
							</div>
						</fieldset>
					</div>
					<div class="form-group">	
						<fieldset>
							<div class="col-sm-3">
								<label for="">Number</label><span class="space space-sm"></span><label style ="color:red">*</label>
							</div>
							<div class="col-sm-6">
								<input 	type="text" 
								name="immig" 
								class="form-control" 
								ng-model="immig.immigration_numb" 
								ng-pattern="/^[\a-zA-Z\d\-\^ ]+$/"
								autocomplete="off"
								required
								/>
								<span style="color:red" ng-show="myForm.immig.$dirty && myForm.immig.$error.pattern">Invalid input.</span>	
							</div>
						</fieldset>
					</div>
					<div class="form-group">
						<fieldset>
							<div class="col-sm-3">
								<label for="">Issued Date</label>
							</div>
							<div class="col-sm-6">
								<input 	type="date" 
								class="form-control" 
								ng-model="immig.issued_date"
								autocomplete="off"
								/>											
							</div>
						</fieldset>
					</div>
					<div class="form-group">
						<fieldset>
							<div class="col-sm-3">
								<label for="">Expiry Date</label>
							</div>
							<div class="col-sm-6">
								<input type="date" 
								class="form-control" 
								ng-model="immig.expiry_date"
								autocomplete="off"
								/>												
							</div>
						</fieldset>
					</div>
					<div class="form-group">
						<fieldset>
							<div class="col-sm-3">
								<label for="">Issued By</label>
							</div>
							<div class="col-sm-6">
								<select class="form-control"  ng-model="immig.issued_by">
									<option value="{{job.id}}"  ng-repeat="job in jobs">{{job.title}}</option>
								</select>
							</div>
						</fieldset>
					</div>
					<div class="form-group">
						<fieldset>
							<div class='col-sm-3'>
								<button type="button" 
								class="btn btn-primary" 
								accept=" image/jpeg, image/png, image/gif, image/jpg, application/pdf,"
								ngf-select ngf-change="upload($files)"
								ngf-multiple="multiple"
								ng-model="immig.files">
								Select File
							</button>
						</div>		
						<div class='col-sm-5'>
							<label ng-hide="immig.files">Accepts Up to 10MB</label>
							<label ng-repeat="f in immig.files"  ng-show="immig.files">{{f.name}}</label>
						</div>
						<div class='col-sm-3'  ng-show="immig.files">
							<button class="btn btn-danger"  tooltip-placement="top" tooltip="Delete File"  ng-click="immig.files=false">
								<span class="glyphicon glyphicon-trash"></span>
							</button>
						</div>
					</fieldset>
				</div>
				<div class="form-group">
					<fieldset>
						<div class="col-sm-3">
							<label for="">Comments</label>
						</div>
						<div class="col-sm-6">
							<textarea class="form-control" rows="4" cols="40" ng-model="immig.comment"></textarea>
						</div>
					</fieldset>
				</div>
			</form>	
		</div>
		<br>
		<fieldset>
			<div class="col-sm-3">
				<label style ="color:red">*</label><span class="space space-xs"></span><label><small>Required field</small></label>
			</div>										
		</fieldset>
		<div class="modal-footer">
			<button type="submit" class="btn btn-success" ng-disabled="myForm.$invalid" ng-click="save(immig.files)">Save</button>
			<button class="btn btn-danger" ng-click="cancel()">Cancel</button>
		</div>
	</script>
	
	
	<!--Modal Edit Immigration -->
	<script type="text/ng-template" id="modalEditImmigration.html">
		<div class="modal-header">
			<button type="button" class="close" ng-click="cancel()" style="color:white;" data-dismiss="modal" aria-hidden="true">&times;</button>
			<h4><i class="fa fa-pencil-square-o" style="margin-right: 8px;" ></i>Edit Immigration</h4>
		</div>
		<div class="modal-body">
			<form name="myForm"  class="form-validation" ng-submit="myForm.$valid && submit()">	
				<div class="form-group">	
					<fieldset>
						<div class="col-sm-3">
							<label for="">Document</label><span class="space space-sm"></span><label style ="color:red">*</label>
						</div>
						<div class="col-sm-9">
							<label class="ui-radio"><input name="passport" type="radio" value="passport" ng-model="immig.type_doc" ng-disabled="!button"><span>Passport</span></label>
							<label class="ui-radio"><input name="visa" type="radio" value="visa" ng-model="immig.type_doc"  ng-disabled="!button"><span>Visa</span></label>
							<label class="ui-radio"><input name="aep" type="radio" value="aep" ng-model="immig.type_doc"  ng-disabled="!button"><span>AEP</span></label>
							<label class="ui-radio"><input name="ceza" type="radio" value="ceza" ng-model="immig.type_doc"  ng-disabled="!button"><span>CEZA I-Card</span></label>									
						</div>
					</fieldset>
				</div>
				<div class="form-group">	
					<fieldset>
						<div class="col-sm-3">
							<label for="">Number</label><span class="space space-sm"></span><label style ="color:red">*</label>
						</div>
						<div class="col-sm-6">
							<input type="text" name="immig" autocomplete="off" class="form-control" ng-disabled="!button" ng-model="immig.immigration_numb" ng-pattern="/^[\a-zA-Z\d\-\^ ]+$/"required/>
							<span style="color:red" ng-show="myForm.immig.$dirty && myForm.immig.$error.pattern">Invalid input.</span>
						</div>
					</fieldset>
				</div>
				<div class="form-group">
					<fieldset>
						<div class="col-sm-3">
							<label for="">Issued Date</label>
						</div>
						<div class="col-sm-6">
							<input type="date" 
							class="form-control" 
							ng-model="immig.issued_date" ng-disabled="!button"
							/>											
						</div>
					</fieldset>
				</div>
				<div class="form-group">
					<fieldset>
						<div class="col-sm-3">
							<label for="">Expiry Date</label>
						</div>
						<div class="col-sm-6">
							<input type="date" 
							class="form-control" 
							ng-model="immig.expiry_date" ng-disabled="!button"
							/>											
						</div>
					</fieldset>
				</div>
				<div class="form-group">
					<fieldset>
						<div class="col-sm-3">
							<label for="">Issued By</label>
						</div>
						<div class="col-sm-6">
							<select class="form-control"  ng-model="immig.issued_by" ng-disabled="!button">
								<option  ng-selected="{{immig.issued_by === check.title}}" ng-repeat="check in checklist" value="{{check.id}}">{{check.title}}</option>
							</select>
						</div>
					</fieldset>
				</div>
				<div class="form-group">
					<fieldset>
						<div class='col-sm-3'>
							<button type="button" 
							class="btn btn-primary" 
							accept=" image/jpeg, image/png, image/gif, image/jpg, application/pdf,"
							ngf-select ngf-change="upload($files)"
							ngf-multiple="multiple"
							ng-model="immig.files"
							ng-disabled="!button">
							Select File
						</button>
					</div>		
					<div class='col-sm-5'>
						<label ng-hide="immig.files">Accepts Up to 10MB</label>
						<label ng-repeat="f in immig.files"  ng-show="immig.files">{{f.name}}</label>
					</div>
					<div class='col-sm-3'>
						<button class="btn btn-danger"  
						tooltip-placement="top" 
						tooltip="Delete File"  
						ng-click="immig.files=false"
						ng-disabled="!button"
						ng-show="immig.files"
						ng-hide='!delbutton'>
						<span class="glyphicon glyphicon-trash"></span>
					</button>
				</div>
			</fieldset>
		</div>
		<div class="form-group">
			<fieldset>
				<div class="col-sm-3">
					<label for="">Comments</label>
				</div>
				<div class="col-sm-6">
					<textarea class="form-control ng-pristine ng-valid" rows="4" cols="40" ng-model="immig.comment"  ng-disabled="!button"></textarea>
				</div>
			</fieldset>
		</div>
	</form>	
</div>
<br>
<fieldset>
	<div class="col-sm-3">
		<label style ="color:red">*</label><span class="space space-xs"></span><label><small>Required field</small></label>
	</div>										
</fieldset>
<div class="modal-footer" ng-show="hide('update')">
	<button type="submit" class="btn btn-success" ng-hide="button" ng-click="button=true; edit();">Edit</button>
	<button type="submit" class="btn btn-success" ng-disabled="myForm.$invalid" ng-show="button"  ng-click="save(immig.files)">Save</button>
	<button class="btn btn-danger" ng-click="cancel()">Cancel</button>
</div>
{{hide('update')}}
<div class="modal-footer" ng-hide="hide('update')">
	<button class="btn btn-danger" ng-click="cancel()">Close</button>
</div>
</script>
</div>
</div>

<!--
old concept file upload in modal add 
<div class="form-group">
<fieldset>
<div class="col-sm-3">
<label for="">Select File</label>
</div>
<div class="col-sm-4">
<button type="button" 
class="btn btn-primary" 
accept="image/jpeg,  image/jpg, image/png, application/pdf, "
ngf-select ngf-change="upload($files)"
ngf-multiple="multiple"
ng-model="files"
ng-hide="files"
>Choose File</button>
<label ng-repeat="f in files" ng-show="files">{{f.name}}</label>
<br><br>
<label ng-hide="files">Accepts up to 10 MB</label>
</div>
</fieldset>
</div> -->				
<!-- 
old concept file upload in modal edit 
<div class="form-group">
<fieldset>
<div class="col-sm-3">
<label for="">Select File</label>
</div>
<div class="col-sm-4">
<label ng-repeat="f in files">{{f.name}}</label>
</div>
</fieldset>
</div>
<div class="form-group">
<fieldset>
<div class="col-sm-3"></div>
<div class="col-sm-9" ng-show="open">
<label class="ui-radio"><input name="keep"   type="radio" value="1"  ng-model="immig.radio"><span> Keep Current</span></label>
<label class="ui-radio"><input name="delete" type="radio" value="2"  ng-model="immig.radio"><span> Delete Current</span></label>
<label class="ui-radio"><input name="replace" type="radio" value="3"  ng-model="immig.radio" ng-click="replaceFile()"><span> Replace</span></label>
</div>
</fieldset>
</div>
<div class="form-group">	
<fieldset>
<div class="col-sm-3"></div>
<div class="col-sm-3">
<button type="button"
name="files"
class="btn btn-primary" 
accept="image/jpeg, image/png, image/gif, application/pdf, "
ngf-select ngf-change="upload($files)"
ngf-multiple="multiple"
ng-model="files"
ng-hide="bfile"
ng-disabled ="!button"
>Choose File</button>
</div>
</fieldset>
</div>
<div class="form-group">	
<fieldset>
<div class="col-sm-3"></div>
<div class="col-sm-5">
<label ng-hide="bfile">Accepts up to 10 MB</label>
</div>
</fieldset>
</div> -->				
