
<div class="page page-jobHistory" ng-controller="jobHistorycontroller as jobhis">
	<div class="row">
		<div class="col-md-2">
			<section class="panel panel-box">
				<div class="panel-top bg-primary">
					<div class="text-center">
						<h3>{{jobhis.handler.name}}</h3>
					</div>
					<div class="divider divider-lg"></div>
					<div class="divider divider-lg"></div>
				</div>
				<div class="panel-img bg-primary">
					<a ng-href="#/employee/photograph/{{id}}">
						<img ng-src="{{jobhis.handler.pic}}" height="200" width="200" class="img-circle">
					</a>
				</div>
			</section>
			<!-- <div class="panel-default"  ng-show="!jobhis.handler.useracess('user')"> -->
			<div class="panel-default" ng-if="hideButton">		
				
				<div class="panel-body">
					<button class="btn btn-block  btn-primary" ng-click="isCollapsed = !isCollapsed">Change Employee</button>
					<div collapse="!isCollapsed">
						<input 	type="text"
						placeholder="Type for hint . ."
						class="form-control"
						data-ng-model="jobhis.handler.employee"
						typeahead="(address.name) for address in jobhis.handler.getLocation($viewValue)" 
						typeahead-loading="loadingLocations"
						typeahead-min-length="4"
						typeahead-wait-ms="300"
						typeahead-on-select="jobhis.handler.onSelect($item, $model, $label)"
						autocomplete="off"
						required
						/>
					</div>
				</div>
			</div>
			<div class="panel panel-default">
				<div style="text-align:center">
					<h3 style="color:rgb(36, 138, 175);text-decoration: underline;text-decoration-color:rgb(36, 138, 175)" >{{jobhis.handler.localIT}}</h3>
				</div>
				<div class="panel-body">
					<a ng-href="#/employee/personalDetail/{{id}}" class="btn btn-block btn-primary">Personal Details</a></button>
					<a ng-href="#/employee/contact/{{id}}" class="btn btn-block  btn-primary">Contact Details</a></button>
					<a ng-href="#/employee/emergency/{{id}}" class="btn btn-block  btn-primary">Emergency Contacts</a></button>
					<a ng-href="#/employee/dependents/{{id}}" class="btn btn-block btn-primary">Dependents</a></button>
					<a ng-href="#/employee/immigrations/{{id}}" class="btn btn-block btn-primary">Immigrations</a></button>
					<a ng-href="#/employee/report/{{id}}" class="btn btn-block btn-primary">Report-To</a></button>
					<a ng-href="#/employee/qualification/{{id}}" class="btn btn-block btn-primary">Qualification</a></button>
					<a ng-href="#/employee/job/{{id}}" class="btn btn-block  btn-primary active">Job History</a></button>
					<a ng-href="#/employee/salary/{{id}}" class="btn btn-block btn-primary">Salary History</a></button>
				</div>
			</div>
		</div>
		
		<div class="col-md-10">
			
			<!-- form job history -->
			<div class="panel panel-primary">
				<div class="panel-heading"><strong><span class="glyphicon glyphicon-th" style="margin-right: 8px;"></span>Job</strong></div>
				<div class="panel-body" >									
					<form name="form_name" class="form-horizontal form-validation">													
						<div class="form-group">
							<fieldset>
								<div class="col-sm-5">
									<label>Employment Commencement</label>
								</div>
							</fieldset>
						</div>
								<!-- 	<div class="form-group">
										<fieldset>
											<div class="col-sm-5">
												<label>Training Agreement</label>
											</div>
											<div class="col-sm-3">
												<label>Probationary</label>
											</div>
										</fieldset>
									</div> -->
									<div class="form-group">
										<fieldset>
											<div class="col-sm-5" 
											style="
											border-radius : 3px;
											border:1px solid #bbb;
											box-shadow:0 4px 15px -4px rgba(0,0,0,.6); 
											margin-right: 1em;
											margin-left: 1em ";>
											<!-- <label>Training Agreement</label> -->
											<div class="col-sm-6" style="margin-top : 1em;">
												<p style = " font-weight : 600">
													Training Agreement
												</p>
												<p style = "font-weight : 600">
													Start
												</p>
											</div>
											<div class="col-sm-6" style = "padding-top:3em;padding-right:.5em;padding-bottom:.5em">
												<input 	type="date" 
												class="form-control" 
												placeholder = "yyyy-mm-dd"
												min="1900-01-01" 
												max="2100-01-01"
												ng-model="jobhis.handler.form.training_agreement"
												ng-disabled="!jobhis.handler.button"
												/>
											</div>
										</div>
										<div class="col-sm-5"
										style="
										border-radius : 3px;
										border:1px solid #bbb;
										box-shadow:0 4px 15px -4px rgba(0,0,0,.6); 
										margin-right: 1em;
										margin-left: 1em ";>
										<!-- <label>Training Agreement</label> -->
										<div class="col-sm-6" style="margin-top : 1em;">
											<p style = " font-weight : 600">Probationary</p>
											<p style = " font-weight : 600">Start</p>
										</div>
										<div class="col-sm-6" style = "padding-top:3em;padding-right:.5em;padding-bottom:.5em">
											<input  type="date" 
											class="form-control" 
											placeholder = "yyyy-mm-dd"
											min="1900-01-01" 
											max="2100-01-01"
											ng-model="jobhis.handler.form.probationary_start"
											ng-disabled="!jobhis.handler.button"
											/>
										</div>
									</div>
								</fieldset>
							</div>
									<!-- <div class="form-group">
										<fieldset>
											<div class="col-sm-5">
												<label>Contract</label>
											</div>
											<div class="col-sm-3">
												<label>Annual Contract</label>
											</div>
										</fieldset>
									</div> -->
									<div class="form-group">
										<fieldset>
											<div class="col-sm-5" 
											style="
											border-radius : 3px;
											border:1px solid #bbb;
											box-shadow:0 4px 15px -4px rgba(0,0,0,.6); 
											margin-right: 1em;
											margin-left: 1em ";>
											<div class="col-sm-6" style="margin-top : 1em;">
												<p style = " font-weight : 600">
													Contract
												</p>
												<p style = "font-weight : 600">
													Start
												</p>
											</div>  
											<div class="col-sm-6" style = "padding-top:3.5em;padding-right:.5em;padding-bottom:.5em">
												<input  type="date" 
												class="form-control" 
												placeholder = "yyyy-mm-dd"
												min="1900-01-01" 
												max="2100-01-01"
												ng-model="jobhis.handler.form.contract_start_date"
												ng-disabled="!jobhis.handler.button"
												/>
											</div> 		
										</div>

										<div class="col-sm-5" 
										style="
										border-radius : 3px;
										border:1px solid #bbb;
										box-shadow:0 4px 15px -4px rgba(0,0,0,.6); 
										margin-right: 1em;
										margin-left: 1em ";>
										<div class="col-sm-6" style="margin-top : 1em;">
											<p style = " font-weight : 600">
												Annual Contract
											</p>
											<p style = "font-weight : 600">
												Start
											</p>   
										</div>
										<div class="col-sm-6" style = "padding-top:3.5em;padding-right:.5em;padding-bottom:.5em">
											<input type="date" 
											class="form-control" 
											placeholder = "yyyy-mm-dd"
											min="1900-01-01" 
											max="2100-01-01"													
											ng-model="jobhis.handler.form.fixed_term_contract"
											ng-disabled="!jobhis.handler.button"
											/>
										</div> 		
									</div>
								</fieldset>
							</div>
							<hr>
							<div class="form-group">
								<fieldset>
									<div class="col-sm-2">
										<label>Job Title</label>
									</div>
									<div class="col-sm-3">
										<select class="form-control" ng-model="jobhis.handler.form.job" ng-disabled="!jobhis.handler.button">
											<option value=''>-- Select --</option>
											<option value="{{job.id}}"  
											ng-repeat="job in jobhis.handler.datajobs" 
											ng-selected="{{jobhis.handler.form.job == job.title}}">
											{{job.title}}
										</option>
									</select>
								</div>
								<div class="col-sm-2">
									<label>Job Specification</label>
								</div>
								<div class="col-sm-4">
									<label ng-click="jobhis.handler.getfilemasterjob(jobhis.handler.form.file_masterjob)" style="cursor:pointer">
										<a target="_parent" ng-href = "{{e}}">{{jobhis.handler.form.file_masterjob}}</a>
									</label>
								</div>
							</fieldset>
						</div>
						<div class="form-group">
							<fieldset>
								<div class="col-sm-2">
									<label>Employment Status</label>
								</div>
								<div class="col-sm-3">
									<select class="form-control"  ng-model="jobhis.handler.form.status" ng-disabled="!jobhis.handler.button">
										<option value=''>-- Select --</option>
										<option value="{{stat.id}}" 
										ng-selected="{{jobhis.handler.form.status == stat.title}}"  
										ng-repeat="stat in jobhis.handler.datastatus">
										{{stat.title}}
									</option>
								</select>
							</div>
							<div class="col-sm-2" ng-show="jobhis.handler.showlocal">
								<span><label>Local It</label></span>
							</div>
							<div class="col-sm-3" ng-show="jobhis.handler.showlocal">
								<label class="ui-radio">
									<input  name="yes" 
									type="radio" 
									value="yes" 

									ng-disabled="!jobhis.handler.radioLocalSU || !jobhis.handler.button "  
									ng-model="jobhis.handler.local_it"  
									>
									<span>Yes</span>
								</label>
								<label class="ui-radio">
									<input 	name="no"  
									type="radio" 
									value="no"    
									ng-disabled="!jobhis.handler.radioLocalSU || !jobhis.handler.button"
									ng-model="jobhis.handler.local_it"  
									>
									<span>No</span>
								</label>
							</div>
						</fieldset>
					</div>
					<div class="form-group">
						<fieldset>
							<div class="col-md-2 col-md-offset-5" ng-show="jobhis.handler.showExpat">
								<span><label>Expat</label></span>
							</div>
							<div class="col-sm-3" ng-show="jobhis.handler.showExpat">
								<label class="ui-radio">
									<input  name="yes" 
									type="radio" 
									value="both" 
									ng-disabled="!jobhis.handler.radioLocalSU || !jobhis.handler.button"  
									ng-model="jobhis.handler.local_it"  
									>
									<span>Yes</span>
								</label>
							</div>
						</fieldset>
					</div>
					<hr>
					<div class="form-group">
						<fieldset>
							<div class="col-sm-2">
								<label>Department</label>
							</div>
							<div class="col-sm-3">
								<select class="form-control" 
								ng-model="jobhis.handler.form.sub_unit" 
								ng-change="jobhis.handler.checkSubRoot(jobhis.handler.form.sub_unit)" 
								ng-disabled="!jobhis.handler.button">
								<option value=''>-- Select --</option>
								<option value="{{dep.id}}" 

								ng-selected="{{jobhis.handler.form.sub_unit == dep.name}}"	
								ng-repeat="dep in jobhis.handler.datadepart">
								{{dep.name}}
							</option>
						</select>
					</div>
					<div class="col-sm-2" >
						<label>Sub-Department</label>
					</div>
					<div class="col-sm-3">
						<!-- <select class="form-control" ng-model="jobhis.handler.subDataDepart[0].name"  -->
						<select class="form-control" ng-model="jobhis.handler.sub_department_selected" 
						ng-disabled="!jobhis.handler.button || jobhis.handler.openDepartment"
						ng-options = "data.name as data.name for data in jobhis.handler.subDataDepart ">
						<option value=''>-- Select --</option>
					</select>
				</div>
				
				
			</fieldset>
		</div>
		<hr>
		<div class="form-group">
			<fieldset>
				<div class="col-sm-3">
					<label>Include Contract Details</label>
					<span class="space space-sm"></span>
					<label class="ui-checkbox">
						<input 	type="checkbox"													
						ng-model="jobhis.handler.form.include">
						<span></span>
					</label>
				</div>
			</fieldset>
		</div>
		<div class="form-group" ng-show="jobhis.handler.form.include">
			<fieldset>
				<div class="col-sm-2">
					<label>Employment Contract</label>
				</div>
			</fieldset>
		</div>
		<div class="form-group" ng-show="jobhis.handler.form.include">										
			<fieldset>	
				<div class="col-sm-2">
					<label>Start Date</label>
				</div>
				<div class="col-sm-3">
					<input 	type="date" 
					class="form-control" 
					placeholder = "yyyy-mm-dd"
					min="1900-01-01" 
					max="2100-01-01"
					ng-model="jobhis.handler.form.emp_contract_start"
					ng-disabled="!jobhis.handler.button"
					/>
				</div>
				<div class="col-sm-2">
					<label for="">End Date</label>
				</div>
				<div class="col-sm-3">
					<input type="date" 
					class="form-control" 
					placeholder = "yyyy-mm-dd"
					min="1900-01-01" 
					max="2100-01-01"
					ng-model="jobhis.handler.form.emp_contract_end"
					ng-disabled="!jobhis.handler.button"
					/>
				</div>	
			</fieldset>					
		</div>
		<div class="form-group" ng-show="jobhis.handler.form.include">
			<fieldset>
				<div class="col-sm-2">
					<label for="">Contract Details</label>
				</div>
				<div class='col-sm-1'>
					<button type="button" 
					class="btn btn-primary" 
					accept="image/jpeg, image/png, image/gif, image/jpg, application/pdf,"
					ngf-select ngf-change="upload($files)"
					ngf-multiple="multiple"
					ng-model="jobhis.handler.form.files"
					ng-disabled="!jobhis.handler.button">
					Choose File
				</button>
			</div>		
			<div class='col-sm-2'>
				<label ng-repeat="f in jobhis.handler.form.files" ng-click="jobhis.handler.getfilejobhistory(f.name)">
					<a target="_parent" style="cursor:pointer" ng-href="{{e}}">{{f.name}}</a>
				</label>
			</div>
			<div class='col-sm-3'  ng-show="jobhis.handler.form.files">
				<button class="btn btn-danger"  tooltip-placement="top" tooltip="Delete File"  ng-click="jobhis.handler.form.files=false" ng-disabled="!jobhis.handler.button">
					<span class="glyphicon glyphicon-trash"></span>
				</button>
			</div>
		</fieldset>
	</div>
	<div class="form-group" ng-show="jobhis.handler.form.include">
		<fieldset>
			<div class="col-sm-2">
			</div>
			<div class="col-sm-2">
				<label>Accepts Up to 1MB</label>
			</div>
		</fieldset>
	</div>
	<hr>
	<fieldset ng-show="jobhis.handler.hiden('create')">
		<button type="submit" class="btn btn-success" ng-hide="jobhis.handler.button" ng-click="jobhis.handler.button=true; edit(); jobhis.handler.checkSubRoot(jobhis.handler.form.sub_unit);">Edit</button>
		<button type="submit" class="btn btn-success" ng-show="jobhis.handler.button" ng-click="jobhis.handler.save(jobhis.handler.form.files)">Save</button>
		<span class="space space-sm"></span>
		
		<!-- button for show modal add termination -->
		<button type="submit" 
		class="btn btn-success" 
		ng-click="jobhis.handler.openmodal('add')"
		ng-show="jobhis.handler.terminateaction">
		Terminate Employment
	</button>
	<span class="space space-sm"></span>
	
	<!-- button for show modal add termination -->
	<button type="submit" 
	class="btn btn-default" 
	style="border-color:red"
	ng-click="jobhis.handler.openmodal('edit',jobhis.handler.dataterminate)"
	ng-show="jobhis.handler.terminateon">
	Terminated On :{{jobhis.handler.termination_date}}
</button>

										<!-- 
										<span class="space space-sm"></span>
										<div class="btn-group" dropdown is-open="status.isopen3">
											<button type="button" class="btn btn-success dropdown-toggle"> Created Document <span class="space space-sm"></span><span class="caret"></span> </button>
											<ul class="dropdown-menu">
												<li ng-click="document(siz.id)" ng-repeat = "siz in sizes" value="{{siz.id}}" style="cursor:pointer">
												<a target="_parent" style="cursor:pointer" ng-href = "{{e}}" >{{siz.template_name}}</a></li>
											</ul>
										</div> 
									-->
								</fieldset>
							</form>	
						</div>
					</div>
					
					<!-- form job history -->
					<section class="panel panel-primary table-dynamic">
						<div class="panel-heading"><strong><span class="glyphicon glyphicon-th" style="margin-right: 8px;"></span>Job History</strong></div>
						<div class="panel-body">
							<div class="from-group">
								<div class="row">
									<div class="col-sm-4">
										<form>
											<button type="button" 
											class="btn btn-gap-v btn-danger"   
											ng-click="jobhis.handler.deldatahistory(jobhis.handler.check)"
											ng-show="jobhis.handler.hiden('create')">
											Delete
										</button>
									</form>
								</div>
							</div>
						</div><br>
						<div class="form-group">
							<div class="row">
								<div class="col-sm-4">
									<form>
										<input type="text"
										placeholder="Search..."
										class="form-control"
										data-ng-model="jobhis.handler.search"
										data-ng-model-options="{debounce:300}"
										>
									</form>
								</div>
								<div class="col-sm-3 filter-result-info">
									<span>
										Showing {{jobhis.handler.paginated.length}}/{{jobhis.handler.maindata.length}} entries
									</span>              
								</div>
							</div>
						</div>
						<table class="table table-bordered table-striped table-responsive">
							<thead>
								<tr>
									<th><div class="th">
									</div></th>
									<th ng-repeat='a in jobhis.handler.headers' width='{{a.width}}'>
										<div class="th">
											{{a.name}}
											<span class="fa fa-angle-up"
											data-ng-if="a.sort"
											data-ng-click="jobhis.handler.setactiveheader(a,true)"
											data-ng-class="{active: $index == jobhis.handler.activeheader.id && jobhis.handler.activeheader.order == true}">
										</span>
										<span class="fa fa-angle-down"
										data-ng-if="a.sort"
										data-ng-click="jobhis.handler.setactiveheader(a,false)"
										data-ng-class="{active: $index == jobhis.handler.activeheader.id && jobhis.handler.activeheader.order == false}">
									</span>
								</div>
							</th>
						</tr>
					</thead>
					<tbody>
						<tr data-ng-repeat="a in jobhis.handler.getdata() | orderBy: jobhis.handler.activeheader.sort : jobhis.handler.activeheader.order track by [$index]">
							<td><input type="checkbox" checklist-value="a.id"  checklist-model="jobhis.handler.check"/></td>
							<td>{{a.change_date}}</td>
							<td>{{a.training_agreement}}</td>
							<td>{{a.probationary}}</td>
							<td>{{a.contract_start_date}}</td>
							<td>{{a.contract}}</td>
							<td>{{a.job}}</td>
							<td>{{a.status}}</td>
							<td>{{a.sub_unit}}</td>
							<td>{{a.emp_contract_start}}</td>
							<td>{{a.emp_contract_end}}</td>
						</tr>
					</tbody>
				</table>
				<footer class="table-footer">
					<div class="row">
						<div class="col-md-6 page-num-info">
							<span>
								Show 
								<select data-ng-model="jobhis.handler.numPerPage"
								data-ng-options="num for num in jobhis.handler.numPerPageOpt"
								data-ng-change="onNumPerPageChange()">
							</select> 
							entries per page
						</span>
					</div>
					<div class="col-md-6 text-right pagination-container">
						<pagination class="pagination-sm"
						ng-model="jobhis.handler.currentPage"
						total-items="jobhis.handler.filtered.length"
						max-size="4"
						ng-change="select(currentPage)"
						items-per-page="jobhis.handler.numPerPage"
						rotate="false"
						previous-text="&lsaquo;" next-text="&rsaquo;"
						boundary-links="true">
					</pagination>
				</div>
			</div>
		</footer>
	</div>
</section>

</div>
<!--Modal Terminate  -->
<script type="text/ng-template" id="modaladd">
	<div class="modal-header">
		<h4><i class="fa fa-save" style="margin-right: 8px;" ng-hide="modaladd.title=='Show'"></i>{{modaladd.title}} Terminate Employment</h4>
	</div>
	<div class="modal-body">
		<form name="myForm">	
			<div class="form-group">	
				<fieldset>
					<div class="col-sm-2">
						<label for="">Reason</label><span class="space space-sm"></span><label style ="color:red">*</label>
					</div>
					<div class="col-sm-8">
						<select class='form-control' 
						ng-model="modaladd.form.termination" 
						ng-options="job.id as job.title for job in modaladd.handler.dataterminations"
						ng-hide="modaladd.title=='Show'">
						<option value=""> --  Select -- </option>
					</select>
					<input type='text' class='form-control' ng-model="modaladd.form.title" ng-disabled='true' ng-show="modaladd.title=='Show'">
				</div>
			</fieldset>
		</div>
		<div class="form-group">
			<fieldset>
				<div class="col-sm-2">
					<label for="">Date</label><span class="space space-sm"></span><label style ="color:red">*</label>
				</div>
				<div class="col-sm-8">
					<input 	type="date" 
					class="form-control" 
					placeholder = "yyyy-mm-dd" 
					ng-model="modaladd.form.termination_date"
					ng-disabled="modaladd.title=='Show'"
					required/>												
				</div>
			</fieldset>
		</div>
		<div class="form-group">
			<fieldset>
				<div class="col-sm-2">
					<label for="">Note</label>
				</div>
				<div class="col-sm-8">
					<textarea 	class="form-control" 
					rows="4" 
					cols="40" 
					ng-model="modaladd.form.note" 
					ng-disabled="modaladd.title=='Show'"
					></textarea>																
				</div>
			</fieldset>
		</div>
	</form>	
</div>
<br>
<fieldset>
	<div class="col-sm-3">
	</span><label style ="color:red">*</label><span class="space space-xs"><label><small>Required Field</small></label>
</div>										
</fieldset>
<div class="modal-footer"  ng-hide="modaladd.title=='Show'">
	<button type="submit" class="btn btn-success" ng-click="modaladd.save()">Save</button>
	<button class="btn btn-danger" ng-click="modaladd.cancel()">Cancel</button>
</div>
<div class="modal-footer" ng-show="modaladd.title=='Show'">
	<button class="btn btn-danger" ng-click="modaladd.cancel()">Close</button>
</div>
</script>
<!-- end modal add termination -->

</div>
</div>
