<!-- 		<div class="page page-photograph" ng-controller="MenuCtrl">

			<div class="row">
					<div class="col-md-2">
						<section class="panel panel-box">
							<div class="panel-top bg-primary">
								<div class="text-center">
									<h3>{{name}}</h3>
								</div>
								<div class="divider divider-lg"></div>
								<div class="divider divider-lg"></div>
							</div>
							<div class="panel-img bg-primary">
								<a ng-href="#/employee/photograph/{{id}}"><img ng-src="{{pic}}" height="200" width="200" class="img-circle"></a>
							</div>
						</section>
						<div class="panel-default"  ng-show="!useracess('user')">
							<div class="panel-body">
								<button class="btn btn-block  btn-primary" ng-click="isCollapsed = !isCollapsed">Change Employee</button>
								<div collapse="!isCollapsed">
									 <input type="text"
											placeholder="Search..."
											class="form-control"
											ng-model="employee" 
											typeahead="(address.name) for address in getLocation($viewValue)" 
											typeahead-loading="loadingLocations"
											typeahead-min-length="4"
											typeahead-wait-ms="300"
											typeahead-on-select="onSelect($item, $model, $label)"
										/>							
								</div>
							</div>
						</div>
						<div class="panel panel-default">
							<div class="panel-body">
							<a ng-href="#/employee/personalDetail/{{id}}" class="btn btn-block btn-primary">Personal Details</a></button>
							<a ng-href="#/employee/contact/{{id}}" class="btn btn-block  btn-primary">Contact Details</a></button>
							<a ng-href="#/employee/emergency/{{id}}" class="btn btn-block  btn-primary">Emergency Contacts</a></button>
							<a ng-href="#/employee/dependents/{{id}}" class="btn btn-block btn-primary">Dependents</a></button>
							<a ng-href="#/employee/immigrations/{{id}}" class="btn btn-block btn-primary">Immigrations</a></button>
							<a ng-href="#/employee/report/{{id}}" class="btn btn-block btn-primary">Report-To</a></button>
							<a ng-href="#/employee/qualification/{{id}}" class="btn btn-block btn-primary">Qualification</a></button>
							<a ng-href="#/employee/job/{{id}}" class="btn btn-block  btn-primary">Job History</a></button>
							<a ng-href="#/employee/salary/{{id}}" class="btn btn-block btn-primary">Salary History</a></button>
							</div>
						</div>
					</div> -->
		
					<!-- form photograph -->
			<!-- 		<div class="col-md-10">
						<div class="panel panel-primary">
							<div class="panel-heading"><strong><span class="glyphicon glyphicon-th" style="margin-right: 8px;"></span>Photograph </strong></div>
								<div class="panel-body" >									
									<form name="form_name" class="form-horizontal form-validation">													
										<div class="form-group">
											<fieldset>
												<div class="col-sm-2">
													<label for="">Select a Photograph</label>
												</div>
												<div class="col-sm-1">
													<button type="button" 
															class="btn btn-primary" 
															accept="image/jpeg, image/png, image/gif,"
															ngf-select ngf-change="upload($files)"
															ngf-multiple="multiple"
															ng-model="files"
															ng-show="hide('create')"
													>Select File</button>
												</div>
												<div class="col-sm-3">
													<label ng-repeat="f in files" style="font-size:0.8em" ng-click="download()"><a target="_parent" ng-href = "{{file}}" 
															style="cursor:pointer">{{f.name}}</a></label>
												</div>
											</fieldset>
										</div>
										<div class = "form-group">
											<fieldset>
												<div class="col-sm-2">
												</div>
												<div class="col-sm-9">
													<label>Accepts  jpg,  png, and gif up to 1MB. Recommended dimensions : 200px X 200px</label>
												</div>
											</fieldset>
										</div>
										<hr>
										<fieldset>
											<button type="button" class="btn btn-gap-v btn-danger" ng-show="hide('delete')" ng-click="deleteFile()">Delete</button>
										</fieldset>
									</form>
								</div>
						</div>
					</div>
							
																	
			</div>
								
		</div> -->
				

			<div class="page page-photograph" ng-controller="MenuCtrl">

			<div class="row">
				<div class="col-md-2">
					<section class="panel panel-box">
						<div class="panel-top bg-primary">
							<div class="text-center">
								<h3>{{names}}</h3>
							</div>
							<div class="divider divider-lg"></div>
							<div class="divider divider-lg"></div>
						</div>
						<div class="panel-img bg-primary">
							<a ng-href="#/employee/photograph/{{id}}"><img ng-src="{{pic}}" height="200" width="200" class="img-circle"></a>
						</div>
					</section>
					<!-- <div class="panel-default" ng-hide="!access"> -->
			<div class="panel-default" ng-if="hideButton" >
					
						<div class="panel-body">
							<button class="btn btn-block  btn-primary" ng-click="isCollapsed = !isCollapsed">Change Employee</button>
							<div collapse="!isCollapsed">
								 <input type="text"
										placeholder="Search..."
										class="form-control"
										ng-model="employee" 
										typeahead="(address.name) for address in getLocation($viewValue)" 
										typeahead-loading="loadingLocations"
										typeahead-min-length="4"
										typeahead-wait-ms="300"
										typeahead-on-select="onSelect($item, $model, $label)"
									/>							
							</div>
						</div>
					</div>
					<div class="panel panel-default">
						<div class="panel-body">
						<a ng-href="#/employee/personalDetail/{{id}}" class="btn btn-block btn-primary">Personal Details</a></button>
						<a ng-href="#/employee/contact/{{id}}" class="btn btn-block  btn-primary">Contact Details</a></button>
						<a ng-href="#/employee/emergency/{{id}}" class="btn btn-block  btn-primary">Emergency Contacts</a></button>
						<a ng-href="#/employee/dependents/{{id}}" class="btn btn-block btn-primary">Dependents</a></button>
						<a ng-href="#/employee/immigrations/{{id}}" class="btn btn-block btn-primary">Immigrations</a></button>
						<a ng-href="#/employee/report/{{id}}" class="btn btn-block btn-primary">Report-To</a></button>
						<a ng-href="#/employee/qualification/{{id}}" class="btn btn-block btn-primary">Qualification</a></button>
						<a ng-href="#/employee/job/{{id}}" class="btn btn-block  btn-primary">Job History</a></button>
						<a ng-href="#/employee/salary/{{id}}" class="btn btn-block btn-primary">Salary History</a></button>
						</div>
					</div>
				</div>
		
				<div class="col-md-10">
					<div class="panel panel-primary">
						<div class="panel-heading"><strong><span class="glyphicon glyphicon-th" style="margin-right: 8px;"></span>Photograph </strong></div>
							<div class="panel-body">									
								<form name="form_name" class="form-horizontal form-validation">													
									<div class="form-group">
										<fieldset>
											<div class="col-sm-2">
												<label for="">Select a Photograph</label>
											</div>
												<div ng-show="showupload">
													<div class="col-sm-1" ng-hide="!access">
														<button type="button" 
																class="btn btn-primary" 
																
																accept="image/jpeg, image/png, image/gif,"
																ngf-select ng-model="files"
																ngf-multiple="multiple"
														>Select File</button>		  
													</div>
													<div ng-show="files.length" class="col-sm-3" >
													<div ng-repeat="file in files.slice(0)">
													    <label style="text-align:left">{{file.name}}</label>
													        (<span ng-switch="file.size > 1024*1024">
													            <span ng-switch-when="true">{{file.size / 1024 / 1024 | number:2}} MB</span>
													            <span ng-switch-default>{{file.size / 1024 | number:2}} kB</span>
													        </span>)
													        </div>
													</div>
												</div>
											<span class='space space-md'></span>
												<div style="text-align:left" class="col-sm-3">
												<label 	ng-repeat="f in files" 
														ng-show = "hideupload"
														style="font-size:0.8em" 
														ng-click="download()">
														<a target="_parent" ng-href = "{{file}}" style="cursor:pointer">{{f.name}}</a>
												</label>
												</div>
										</fieldset>
									</div>
									<div class="form-group">
										<fieldset>
											<div class="col-sm-2">
											</div>
											<div class="col-sm-9">
												<label>Accepts  jpg,  png, and gif up to 1MB. Recommended dimensions : 200px X 200px</label>
											</div>
										</fieldset>
									</div>
									<hr>
									<fieldset>
										<dl class="dl-vertikal" ng-hide="!access">
											<dd>
												<button type="button" class="btn btn-success" ng-show="showupload" ng-click="upload(files)">Upload</button>
												<span class='space space-sm'></span>
												<button type="button" class="btn btn-danger"  ng-show="hideupload" ng-click="deleteFile()">Delete</button>
											</dd>
										</dl>
									</fieldset>
								</form>
							</div>
					</div>
				</div>
							
																	
			</div>
								
		</div>
				
		
	
		
	