	
		<div class="page page-report">
			<div class="row">
				<div class="col-md-2" ng-controller="MenuCtrl">
					<section class="panel panel-box">
						<div class="panel-top bg-primary">
							<div class="text-center">
								<h3>{{name}}</h3>
							</div>
							<div class="divider divider-lg"></div>
							<div class="divider divider-lg"></div>
						</div>
						<div class="panel-img bg-primary">
							<a ng-href="#/employee/photograph/{{id}}"><img ng-src="{{pic}}" height="200" width="200" class="img-circle"></a>
						</div>
					</section>
					<div class="panel-default"  ng-show="!useracess('user')">
						<div class="panel-body">
							<button class="btn btn-block  btn-primary" ng-click="isCollapsed = !isCollapsed">Change Employee</button>
							<div collapse="!isCollapsed">
								<input type="text"
										placeholder="Search..."
										class="form-control"
										ng-model="employee" 
										typeahead="(address.name) for address in getLocation($viewValue)" 
										typeahead-loading="loadingLocations"
										typeahead-min-length="4"
										typeahead-wait-ms="300"
										typeahead-on-select="onSelect($item, $model, $label)"
								/>									
							</div>
						</div>
					</div>
					<div class="panel panel-default">
						<div class="panel-body">
						<a ng-href="#/employee/personalDetail/{{id}}" class="btn btn-block btn-primary">Personal Details</a></button>
						<a ng-href="#/employee/contact/{{id}}" class="btn btn-block  btn-primary">Contact Details</a></button>
						<a ng-href="#/employee/emergency/{{id}}" class="btn btn-block  btn-primary">Emergency Contacts</a></button>
						<a ng-href="#/employee/dependents/{{id}}" class="btn btn-block btn-primary">Dependents</a></button>
						<a ng-href="#/employee/immigrations/{{id}}" class="btn btn-block btn-primary">Immigrations</a></button>
						<a ng-href="#/employee/report/{{id}}" class="btn btn-block btn-primary" style=":active { color:#7476b4; text-decoration: underline; }">Report-To</a></button>
						<a ng-href="#/employee/qualification/{{id}}" class="btn btn-block btn-primary">Qualification</a></button>
						<a ng-href="#/employee/job/{{id}}" class="btn btn-block  btn-primary">Job History</a></button>
						<a ng-href="#/employee/salary/{{id}}" class="btn btn-block btn-primary">Salary History</a></button>
						</div>
					</div>
				</div>
								
								
				<!-- Tabel Assigned Supervisor -->
					<div class="col-md-10" data-ng-controller="supervisorCtrl">
						<section class="panel panel-primary table-dynamic">
							<div class="panel-heading"><strong><span class="glyphicon glyphicon-th" style="margin-right: 8px;"></span>Assigned Supervisor</strong></div>
								<div class='panel-body'>	
									<div class="form-group">
										<div class="row">
											<div class="col-md-4">
												<form>
													<button class="btn btn-gap-v btn-success" ng-show="hide('create')" ng-click="open()"> Add </button>
														<span class="space space-sm"></span>
													<button class="btn btn-gap-v btn-danger"  ng-show="hide('delete')" ng-click="remove(check.students)">Delete</button>
												</form>
											</div>
										</div>
									</div>
									<table class="table table-bordered table-striped table-responsive">
										<thead>
											<tr id="heading">
												<th style="width:1%" ng-model="student.selected"><div class="th">
												</div></th>
												<th style="width:99%"><div class="th">
													Name
												</div></th>
											</tr>
										</thead>
										<tbody>
											<tr data-ng-repeat="student in students | filter:search | filter:new_search">
												<td><input type="checkbox" checklist-model="check.students" checklist-value="student.id"></td>
												<td ng-click="edit('',student)" style="cursor:pointer">{{student.supervisor}}</td>
											</tr>
										</tbody>
									</table>
								</div>
						</section>
					</div>
				
					<!--Modal Add Supervisor -->
					<script type="text/ng-template" id="modalReport.html">
						<div class="modal-header">
							<h4><i class="fa fa-save" style="margin-right: 8px;" ></i>Add Supervisor</h4>
						</div>
						<div class="modal-body">
							<form name="myForm" class="form-validation"  ng-submit="myForm.$valid && submit()">	
								<div class="form-group">	
									<fieldset>
										<div class="col-sm-2">
											<label for="">Name</label><span class="space space-sm"></span><label style ="color:red">*</label>
										</div>
										<div class="col-sm-8">
											<input type="text"
													placeholder="Type for hint . ."
													class="form-control"
													name="sup"
													ng-model="supervisor" 
													typeahead="(address.name) for address in getLocation($viewValue)" 
													typeahead-loading="loadingLocations"
													typeahead-min-length="4"
													typeahead-wait-ms="300"
													typeahead-on-select="onSelect($item, $model, $label)"
													autocomplete="off"
													required
											/>
											<span style="color:red" ng-show="myForm.sup.$dirty && myForm.sup.$invalid">
												<span ng-show="myForm.sup.$error.required">Required field.</span>
											</span>														
										</div>
									</fieldset>
								</div>
							</form>	
						</div>
						<fieldset>
							<div class="col-sm-3">
								<label style ="color:red">*</label><span class="space space-xs"></span><label><small>Required field</small></label>
							</div>										
						</fieldset>
						<div class="modal-footer">
							<button type="submit" class="btn btn-success" ng-disabled="myForm.$invalid" ng-click="save()">Save</button>
							<button class="btn btn-danger" ng-click="cancel()">Cancel</button>
						</div>
					</script>
							
					<!--Modal Edit Supervisor -->
					<script type="text/ng-template" id="modalEditReport.html">
						<div class="modal-header">
							<button type="button" class="close" ng-click="cancel()" style="color:white;" data-dismiss="modal" aria-hidden="true">&times;</button>
								<h4><i class="fa fa-pencil-square-o" style="margin-right: 8px;" ></i>Edit Supervisor</h4>
						</div>
						<div class="modal-body">
							<form name="myForm"  class="form-validation"  ng-submit="myForm.$valid && submit()">	
								<div class="form-group">	
									<fieldset>
										<div class="col-sm-2">
											<label for="">Name</label><span class="space space-sm"></span><label style ="color:red">*</label>
										</div>
										<div class="col-sm-8">
											<input  type="text"
													placeholder="Type for hint . ."
													class="form-control"
													name="sup"
													ng-model="form.supervisor"
													ng-disabled="!button"
													typeahead="(address.name) for address in getLocation($viewValue)" 
													typeahead-loading="loadingLocations"
													typeahead-min-length="4"
													typeahead-wait-ms="300"
													typeahead-on-select="onSelect($item, $model, $label)"
													autocomplete="off"
													required
											/>
											<span style="color:red" ng-show="myForm.sup.$dirty && myForm.sup.$invalid">
												<span ng-show="myForm.sup.$error.required">Required field.</span>
											</span>
										</div>
									</fieldset>
								</div>
							</form>	
						</div>
						<fieldset>
							<div class="col-sm-3">
								<label style ="color:red">*</label><span class="space space-xs"></span><label><small>Required field</small></label>
							</div>										
						</fieldset>
						<div class="modal-footer" ng-show="hide('update')">
							<button type="submit" class="btn btn-success" ng-hide="button" ng-click="button=true; edit();">Edit</button>
							<button type="submit" class="btn btn-success" ng-disabled="myForm.$invalid" ng-show="button"  ng-click="save()">Save</button>
							<button class="btn btn-danger" ng-click="cancel()">Cancel</button>
						</div>
						<div class="modal-footer" ng-hide="hide('update')">
							<button class="btn btn-danger" ng-click="cancel()">Close</button>
						</div>
					</script>
						
					
					
					
					<!--Form Assigned Subordinates -->
					<div class="col-md-10" data-ng-controller="subordinatesCtrl">
						<section class="panel panel-primary table-dynamic">
							<div class="panel-heading"><strong><span class="glyphicon glyphicon-th" style="margin-right: 8px;"></span>Assigned Subordinates</strong></div>
								<div class='panel-body'>	
									<div class="form-group">
										<div class="row">
											<div class="col-md-4">
												<form>
													<button class="btn btn-gap-v btn-success"  ng-show="hide('create')"  ng-click="open()"> Add </button>
														<span class="space space-sm"></span>
													<button class="btn btn-gap-v btn-danger"   ng-show="hide('delete')"  ng-click="remove(check.students)">Delete</button>
												</form>
											</div>
										</div>
									</div>
									<table class="table table-bordered table-striped table-responsive">
										<thead>
											<tr id="heading">
												<th style="width:1%" ng-model="student.selected"><div class="th">
												</div></th>
												<th style="width:99%"><div class="th">
													Name
												</div></th>
											</tr>
										</thead>
										<tbody>
											<tr data-ng-repeat="student in students | filter:search | filter:new_search">
												<td><input type="checkbox" checklist-model="check.students" checklist-value="student.id"></td>
												<td ng-click="edit('',student)" style="cursor:pointer">{{student.subordinate}}</td>
											</tr>
										</tbody>
									</table>
								</div>
						</section>
					</div>
					
					<!--Modal Add Subordinates -->
					<script type="text/ng-template" id="modalSub.html">
						<div class="modal-header">
							<h4><i class="fa fa-save" style="margin-right: 8px;" ></i>Add Subordinate</h4>
						</div>
						<div class="modal-body">
							<form name="myForm"   class="form-validation"  ng-submit="myForm.$valid && submit()">	
								<div class="form-group">	
									<fieldset>
										<div class="col-sm-2">
											<label for="">Name</label><span class="space space-sm"></span><label style ="color:red">*</label>
										</div>
										<div class="col-sm-8">
											<input  type="text"
													placeholder="Type for hint . ."
													class="form-control"
													name="sub"
													ng-model="subordinate"
													typeahead="(address.name) for address in getLocation($viewValue)" 
													typeahead-loading="loadingLocations"
													typeahead-min-length="4"
													typeahead-wait-ms="300"
													typeahead-on-select="onSelect($item, $model, $label)"
													autocomplete="off"
													required
											/>
											<span style="color:red" ng-show="myForm.sub.$dirty && myForm.sub.$invalid">
												<span ng-show="myForm.sub.$error.required">Required field.</span>
											</span>														
										</div>
									</fieldset>
								</div>
							</form>	
						</div>
						<fieldset>
							<div class="col-sm-3">
								<label style ="color:red">*</label><span class="space space-xs"></span><label><small>Required field</small></label>
							</div>										
						</fieldset>
						<div class="modal-footer">
							<button type="submit" class="btn btn-success" ng-disabled="myForm.$invalid" ng-click="save()">Save</button>
							<button class="btn btn-danger" ng-click="cancel()">Cancel</button>
						</div>
					</script>
							
					<!--Modal Edit Subordinates -->
					<script type="text/ng-template" id="modalEditSub.html">
						<div class="modal-header">
							<button type="button" class="close" ng-click="cancel()" style="color:white;" data-dismiss="modal" aria-hidden="true">&times;</button>
							<h4><i class="fa fa-pencil-square-o" style="margin-right: 8px;" ></i>Edit Subordinate</h4>
						</div>
						<div class="modal-body">
							<form name="myForm"   class="form-validation"  ng-submit="myForm.$valid && submit()">	
								<div class="form-group">	
									<fieldset>
										<div class="col-sm-2">
											<label for="">Name</label><span class="space space-sm"></span><label style ="color:red">*</label>
										</div>
										<div class="col-sm-8">
											<input  type="text"
													placeholder="Type for hint . ."
													class="form-control"
													name="sub"
													ng-model="form.subordinate"
													ng-disabled="!button"
													typeahead="(address.name) for address in getLocation($viewValue)" 
													typeahead-loading="loadingLocations"
													typeahead-min-length="4"
													typeahead-wait-ms="300"
													typeahead-on-select="onSelect($item, $model, $label)"
													autocomplete="off"
													required
											/>
											<span style="color:red" ng-show="myForm.sub.$dirty && myForm.sub.$invalid">
												<span ng-show="myForm.sub.$error.required">Required field.</span>
											</span>	
										</div>
									</fieldset>
								</div>
							</form>	
						</div>
						<fieldset>
							<div class="col-sm-3">
								<label style ="color:red">*</label><span class="space space-xs"></span><label><small>Required field</small></label>
							</div>										
						</fieldset>
						<div class="modal-footer" ng-show="hide('update')">
							<button type="submit" class="btn btn-success" ng-hide="button" ng-click="button=true; edit();">Edit</button>
							<button type="submit" class="btn btn-success" ng-disabled="myForm.$invalid" ng-show="button"  ng-click="save()">Save</button>
							<button class="btn btn-danger" ng-click="cancel()">Cancel</button>
						</div>
						<div class="modal-footer" ng-hide="hide('update')">
							<button class="btn btn-danger" ng-click="cancel()">Close</button>
						</div>
					</script>
			</div>
		</div>

				
				
