<div class="page page-report">
			<div class="row">
				<div class="col-md-2" ng-controller="MenuCtrl">
					<section class="panel panel-box">
						<div class="panel-top bg-primary">
							<div class="text-center">
								<h3>{{names}}</h3>
							</div>
							<div class="divider divider-lg"></div>
							<div class="divider divider-lg"></div>
						</div>
						<div class="panel-img bg-primary">
							<a ng-href="#/employee/photograph/{{id}}"><img ng-src="{{pic}}" height="200" width="200" class="img-circle"></a>
						</div>
					</section>
					<!-- <div class="panel-default"  ng-show="!useracess('user')"> -->
						<div class="panel-default" ng-if="hideButton">		
					
						<div class="panel-body">
							<button class="btn btn-block  btn-primary" ng-click="isCollapsed = !isCollapsed">Change Employee</button>
							<div collapse="!isCollapsed">
								<input type="text"
										placeholder="Search..."
										class="form-control"
										ng-model="employee" 
										typeahead="(address.name) for address in getLocation($viewValue)" 
										typeahead-loading="loadingLocations"
										typeahead-min-length="4"
										typeahead-wait-ms="300"
										typeahead-on-select="onSelect($item, $model, $label)"
								/>									
							</div>
						</div>
					</div>
					<div class="panel panel-default">
						<div style="text-align:center">
							<h3 style="color:rgb(36, 138, 175);text-decoration: underline;text-decoration-color:rgb(36, 138, 175)" >{{localIT}}</h3>
						</div>
						<div class="panel-body">
						<a ng-href="#/employee/personalDetail/{{id}}" class="btn btn-block btn-primary">Personal Details</a></button>
						<a ng-href="#/employee/contact/{{id}}" class="btn btn-block  btn-primary">Contact Details</a></button>
						<a ng-href="#/employee/emergency/{{id}}" class="btn btn-block  btn-primary">Emergency Contacts</a></button>
						<a ng-href="#/employee/dependents/{{id}}" class="btn btn-block btn-primary">Dependents</a></button>
						<a ng-href="#/employee/immigrations/{{id}}" class="btn btn-block btn-primary">Immigrations</a></button>
						<a ng-href="#/employee/report/{{id}}" class="btn btn-block btn-primary ">Report-To</a></button>
						<a ng-href="#/employee/qualification/{{id}}" class="btn btn-block btn-primary">Qualification</a></button>
						<a ng-href="#/employee/job/{{id}}" class="btn btn-block  btn-primary">Job History</a></button>
						<a ng-href="#/employee/salary/{{id}}" class="btn btn-block btn-primary active">Salary History</a></button>
						</div>
					</div>
				</div>
								
		



<div>
	<!-- ///////////////////////////////////////////////////////////////////////////////////////////////////////////////////			 -->					
				

	<div class="">
		<div class="">
			<div class="col-md-2" ng-controller="MenuCtrlDashboard">

			</div>
<!-- 				<div ng-if="sala.handler.hideSalaryExpat">
					<h1>XXXXXXXXXXXXXXX</h1>
				</div> -->
				<!-- local salary -->
				<div class="col-md-10" ng-controller="salaryNewCtrl as sala">

					<div ng-if="sala.handler.hideSalaryLocal">
						<div class="panel panel-primary">
							<div class="panel-heading"><strong><span class="glyphicon glyphicon-th" style="margin-right: 8px;"> </span> Salary - Payment Details</strong></div>
							<div class="panel-body">		
								<form name="myForm" class="form-horizontal form-validation">


									<div class="form-group">
										<fieldset>
											<div class="col-sm-2">
												<label for="">Basic</label>
											</div>
											<div class="col-sm-3">
												<input type="number"  class="form-control" ng-model="sala.handler.form.basic" ng-disabled="!sala.handler.button" ng-change="sala.handler.sumAuto()"/>
											</div>
											<span class="space space-sm">
												<div class="col-sm-2">
													<label for="">ATM Card No.</label>
												</div>
												<div class="col-sm-3">
													<input type="number" class="form-control" ng-model="sala.handler.form.atm_card_no" ng-disabled="!sala.handler.button"/>
												</div>
											</fieldset>
										</div>
										<div class="form-group">
											<fieldset>
												<div class="col-sm-2">
													<label for="">Ecola</label>
												</div>
												<div class="col-sm-3">
													<input type="number"  class="form-control" ng-model="sala.handler.form.ecola" ng-disabled="!sala.handler.button" ng-change="sala.handler.sumAuto()"/>
												</div>

												<span class="space space-sm">
													<div class="col-sm-2">
														<label for="">ATM Account No.</label>
													</div>
													<div class="col-sm-3">
														<input type="number" class="form-control" ng-model="sala.handler.form.atm_account_no" ng-disabled="!sala.handler.button"/>
													</div>
												</fieldset>
											</div>
											<div class="form-group">
												<fieldset>
													<div class="col-sm-2">
														<label>Total</label>
													</div>
													<div class="col-sm-3">
														<input type="number" class="form-control" ng-model="sala.handler.form.total" disabled/>
													</div>
													<span class="space space-sm">
														<div class="col-sm-2">
															<label for="">Net Gross</label>
														</div>
														<div class="col-sm-3">
															<!-- <input type="number" format="number" class="form-control" ng-model="sala.handler.form.net_gross" ng-disabled="!sala.handler.button"/> -->

															<!-- <select name="net gross" multiple ng-model="sala.handler.form.net_gross" ng-disabled="!sala.handler.button">
																<option value="0">Net Pay</option>
																<option value="1">Gross Pay</option>
															</select> -->
															<select class='form-control' 
															ng-model="sala.handler.form.net_gross" ng-disabled="!sala.handler.button">
															<option value=0>Gross Pay</option>
															<option value=1>Net Pay</option>
														</select>
													</div>

												</fieldset>
											</div>

											<div class="form-group">
												<fieldset>
													<div class="col-sm-2">

													</div>
													<div class="col-sm-3">

													</div>
													<span class="space space-sm">
														<div class="col-sm-2">
															<label for="">Tax Status</label>
														</div>
														<div class="col-sm-3">
															<select class='form-control' 
															ng-model="sala.handler.form.tax_status" ng-disabled="!sala.handler.button"
															ng-options="data.id as data.tax_status_name for data in sala.handler.mainDataTaxStatus"
															>
															

														</select>
													</div>

												</fieldset>
											</div>

											<div class="form-group">
												<fieldset>
													<div class="col-sm-2">

													</div>
													<div class="col-sm-3">

													</div>
													<span class="space space-sm">
														<div class="col-sm-2">
															<label for="">Effective Date</label>
														</div>
														<div class="col-sm-3">
															<input type="date" class="form-control" placeholder="yyyy-mm-dd" min="1900-01-01" max="2100-01-01" ng-disabled="!sala.handler.button" ng-model="sala.handler.form.effective_date" />
														</div>

													</fieldset>
												</div>
											</form>					
										</div>




										<fieldset>
											<div class="col-sm-5">

												<button type="submit" class="btn btn-success btn-lg" ng-click="sala.handler.try= !sala.handler.try" style="margin-bottom: 10px"><span class="glyphicon glyphicon-chevron-down"></span>SALARY TABLE</button>

											</div>
										</fieldset>	

										<div ng-show="sala.handler.try">
											<div class="form-group">

												<fieldset>
													<div class="col-sm-5">
														<h1>Salary Table</h1>
													</div>
												</fieldset>
											</div>
											<div class="form-group">
												<fieldset>

													<div class="col-sm-10">												
														<fieldset>
															<div class="col-sm-6">
																<div class="panel panel-primary">
																	<div class="panel-heading"><strong><span class="glyphicon glyphicon-th" style="margin-right: 8px;"> </span> Cut Off</strong></div>
																	<div class="panel-body">
																		<div class="form-group">
																			<fieldset>
																				<div class="col-sm-6">
																					<label for="">Cut Off Salary</label>
																				</div>


																				<div class="col-sm-6">

																					<input type="number" class="form-control" ng-model="sala.handler.form.cutoff_salary" ng-disabled="!sala.handler.button" ng-change="sala.handler.sumAutoCutOff()"/>
																				</div>


																			</fieldset>
																			<span class="space space-sm">

																				<fieldset>
																					<div class="col-sm-6">
																						<label for="">Cut Off Ecola</label>
																					</div>


																					<div class="col-sm-6">

																						<input type="number" class="form-control" ng-model="sala.handler.form.cutoff_ecola" ng-disabled="!sala.handler.button" ng-change="sala.handler.sumAutoCutOff()"/>
																					</div>


																				</fieldset>
																				<span class="space space-sm">

																					<fieldset>
																						<div class="col-sm-6">
																							<label for="">Cut Off Total</label>
																						</div>


																						<div class="col-sm-6">

																							<input type="number" class="form-control" ng-model="sala.handler.form.cutoff_total" disabled/>
																						</div>


																					</fieldset>
																				</div>
																			</div>
																		</div>
																	</div>

																	<div class="col-sm-6">
																		<div class="panel panel-primary">
																			<div class="panel-heading"><strong><span class="glyphicon glyphicon-th" style="margin-right: 8px;"> </span> Daily Salary</strong></div>
																			<div class="panel-body">
																				<div class="form-group">
																					<fieldset>
																						<div class="col-sm-6">
																							<label for="">Daily Salary</label>
																						</div>


																						<div class="col-sm-6">

																							<input type="number" class="form-control" ng-model="sala.handler.form.daily_salary" ng-disabled="!sala.handler.button" ng-change="sala.handler.sumAutoDaily()"/>
																						</div>


																					</fieldset>
																					<span class="space space-sm">

																						<fieldset>
																							<div class="col-sm-6">
																								<label for="">Daily Ecola</label>
																							</div>


																							<div class="col-sm-6">

																								<input type="number" class="form-control" ng-model="sala.handler.form.daily_ecola" ng-disabled="!sala.handler.button" ng-change="sala.handler.sumAutoDaily()"/>
																							</div>


																						</fieldset>
																						<span class="space space-sm">

																							<fieldset>
																								<div class="col-sm-6">
																									<label for="">Daily Total</label>
																								</div>


																								<div class="col-sm-6">

																									<input type="number" class="form-control" ng-model="sala.handler.form.daily_total" disabled/>
																								</div>


																							</fieldset>
																						</div>
																					</div>
																				</div>
																			</div>
																		</fieldset>

																		<span class="space space-sm"></span>

																		<fieldset>
																			<div class="col-sm-6">
																				<div class="panel panel-primary">
																					<div class="panel-heading"><strong><span class="glyphicon glyphicon-th" style="margin-right: 8px;"> </span> Hourly Salary</strong></div>
																					<div class="panel-body">
																						<div class="form-group">
																							<fieldset>
																								<div class="col-sm-6">
																									<label for="">Hourly Salary</label>
																								</div>


																								<div class="col-sm-6">

																									<input type="number" class="form-control" ng-model="sala.handler.form.hourly_salary" ng-disabled="!sala.handler.button" ng-change="sala.handler.sumAutoHourly()"/>
																								</div>


																							</fieldset>
																							<span class="space space-sm">

																								<fieldset>
																									<div class="col-sm-6">
																										<label for="">Hourly Ecola</label>
																									</div>


																									<div class="col-sm-6">

																										<input type="number" class="form-control" ng-model="sala.handler.form.hourly_ecola" ng-disabled="!sala.handler.button" ng-change="sala.handler.sumAutoHourly()"/>
																									</div>


																								</fieldset>
																								<span class="space space-sm">

																									<fieldset>
																										<div class="col-sm-6">
																											<label for="">Hourly Total</label>
																										</div>


																										<div class="col-sm-6">

																											<input type="number" class="form-control" ng-model="sala.handler.form.hourly_total" disabled/>
																										</div>


																									</fieldset>
																								</div>
																							</div>
																						</div>
																					</div>
																					<div class="col-sm-6">
																						<div class="panel panel-primary">
																							<div class="panel-heading"><strong><span class="glyphicon glyphicon-th" style="margin-right: 8px;"> </span> Minutely Salary</strong></div>
																							<div class="panel-body">
																								<div class="form-group">
																									<fieldset>
																										<div class="col-sm-6">
																											<label for="">Minutely Salary</label>
																										</div>


																										<div class="col-sm-6">

																											<input type="number" class="form-control" ng-model="sala.handler.form.minutely_salary" ng-disabled="!sala.handler.button" ng-change="sala.handler.sumAutoMinutely()"/>
																										</div>


																									</fieldset>
																									<span class="space space-sm">

																										<fieldset>
																											<div class="col-sm-6">
																												<label for="">Minutely Ecola</label>
																											</div>


																											<div class="col-sm-6">

																												<input type="number" class="form-control" ng-model="sala.handler.form.minutely_ecola" ng-disabled="!sala.handler.button" ng-change="sala.handler.sumAutoMinutely()"/>
																											</div>


																										</fieldset>
																										<span class="space space-sm">

																											<fieldset>
																												<div class="col-sm-6">
																													<label for="">Minutely Total</label>
																												</div>


																												<div class="col-sm-6">

																													<input type="number" class="form-control" ng-model="sala.handler.form.minutely_total" disabled/>
																												</div>


																											</fieldset>
																										</div>
																									</div>
																								</div>
																							</div>
																						</fieldset>
																						<button type="submit" class="btn btn-success" ng-if="sala.handler.editButton" ng-click="sala.handler.buttonCtrl('edit') ; sala.handler.button=true">Edit</button>

																						<div>
																							<button type="submit" class="btn btn-success" ng-if="sala.handler.saveButton" ng-click="sala.handler.save(sala.handler.form) ; sala.handler.buttonCtrl('save') ; sala.handler.button=false;" >Save</button>

																							<button type="submit" class="btn btn-danger" ng-if="sala.handler.cancelButton" ng-click="sala.handler.buttonCtrl('cancel'); sala.handler.button=false">Cancel</button>

																						</div>


																					</div>
																				</fieldset>


																			</div>









																		</div>

																	</form>





																</div>
																<!-- end expat salary -->

															</div>







															<!-- form insert salary -->

															<div class="panel panel-primary" ng-if="sala.handler.hideSalaryExpat">
																<div class="panel-heading"><strong><span class="glyphicon glyphicon-th" style="margin-right: 8px;"> </span> Salary - Payment Details Expat</strong></div>
																<div class="panel-body">		
																	<form name="myForm" class="form-horizontal form-validation">


																		<div class="form-group">
																			<fieldset>
																				<div class="col-sm-2">
																					<label for="">Basic</label>
																				</div>
																				<div class="col-sm-3">
																					<input type="number"  class="form-control" ng-model="sala.handler.form.basic" ng-disabled="!sala.handler.button" ng-change="sala.handler.sumAuto()"/>
																				</div>
																				<span class="space space-sm">
																					<div class="col-sm-2">
																						<label for="">ATM Card No.</label>
																					</div>
																					<div class="col-sm-3">
																						<input type="number" class="form-control" ng-model="sala.handler.form.atm_card_no" ng-disabled="!sala.handler.button"/>
																					</div>
																				</fieldset>
																			</div>
																			<div class="form-group">
																				<fieldset>
																					<div class="col-sm-2">
																						<label for="">Ecola</label>
																					</div>
																					<div class="col-sm-3">
																						<input type="number"  class="form-control" ng-model="sala.handler.form.ecola" ng-disabled="!sala.handler.button" ng-change="sala.handler.sumAuto()"/>
																					</div>

																					<span class="space space-sm">
																						<div class="col-sm-2">
																							<label for="">ATM Account No.</label>
																						</div>
																						<div class="col-sm-3">
																							<input type="number" class="form-control" ng-model="sala.handler.form.atm_account_no" ng-disabled="!sala.handler.button"/>
																						</div>
																					</fieldset>
																				</div>
																				<div class="form-group">
																					<fieldset>
																						<div class="col-sm-2">
																							<label>Total</label>
																						</div>
																						<div class="col-sm-3">
																							<input type="number" class="form-control" ng-model="sala.handler.form.total" disabled/>
																						</div>
																						<span class="space space-sm">
																							<div class="col-sm-2">
																								<label for="">Net Gross</label>
																							</div>
																							<div class="col-sm-3">
																								<!-- 																						<input type="number" format="number" class="form-control" ng-model="sala.handler.form.net_gross" ng-disabled="!sala.handler.button"/> -->

																								<select class='form-control' 
																								ng-model="sala.handler.form.net_gross" ng-disabled="!sala.handler.button">
																								<option value="0">Gross Pay</option>
																								<option value="1">Net Pay</option>
																							</select>
																						</div>

																					</fieldset>
																				</div>

																				<div class="form-group">
																					<fieldset>
																						<div class="col-sm-2">

																						</div>
																						<div class="col-sm-3">

																						</div>
																						<span class="space space-sm">
																							<div class="col-sm-2">
																								<label for="">Tax Status</label>
																							</div>
																							<div class="col-sm-3">
																								<select class='form-control' 
																								ng-model="sala.handler.form.tax_status" ng-disabled="!sala.handler.button"
																								ng-options="data.id as data.tax_status_name for data in sala.handler.mainDataTaxStatus"
																								>


																							</select>
																						</div>

																					</fieldset>
																				</div>

																				<div class="form-group">
																					<fieldset>
																						<div class="col-sm-2">

																						</div>
																						<div class="col-sm-3">

																						</div>
																						<span class="space space-sm">
																							<div class="col-sm-2">
																								<label for="">Effective Date</label>
																							</div>
																							<div class="col-sm-3">
																								<input type="date" class="form-control" placeholder="yyyy-mm-dd" min="1900-01-01" max="2100-01-01" ng-disabled="!sala.handler.button" ng-model="sala.handler.form.effective_date" />
																							</div>

																						</fieldset>
																					</div>
																				</form>					
																			</div>





																			<div class="form-group">
																				<fieldset>

																					<div class="col-sm-10">												




																						<button type="submit" class="btn btn-success" ng-if="sala.handler.editButton" ng-click="sala.handler.buttonCtrl('edit') ; sala.handler.button=true">Edit</button>

																						<div>
																							<button type="submit" class="btn btn-success" ng-if="sala.handler.saveButton" ng-click="sala.handler.save(sala.handler.form) ; sala.handler.buttonCtrl('save') ; sala.handler.button=false;" >Save</button>


																							<button type="submit" class="btn btn-danger" ng-if="sala.handler.cancelButton" ng-click="sala.handler.buttonCtrl('cancel'); sala.handler.button=false">Cancel</button>

																						</div>


																					</div>
																				</fieldset>
																			</div>

																		</form>





																	</div>



																	<!-- form table salary history -->
																	<section class="panel panel-primary table-dynamic" ng-if="sala.handler.hideSalaryExpat">
																		<div class="panel-heading"><strong><span class="glyphicon glyphicon-th" style="margin-right: 8px;"></span>Salary History Expat</strong></div>
																		<div class="panel-body">
																			<div class="from-group">
																				<div class="row">
																					<div class="col-sm-4">
																						<form>
																							<button type="button" 
																							class="btn btn-gap-v btn-danger"
																							ng-click="sala.handler.deldatahistory(sala.handler.check)">
																							Delete
																						</button>
																						<!--ng-show="sala.handler.hiden('delete')"-->
																					</form>
																				</div>
																			</div>
																		</div><br>
																		<div class="form-group" >
																			<div class="row">
																				<div class="col-sm-4">
																					<form>
																						<input type="text"
																						placeholder="Search..."
																						class="form-control"
																						data-ng-model="sala.handler.search"
																						data-ng-model-options="{debounce:300}"
																						>
																					</form>
																				</div>
																				<div class="col-sm-3 filter-result-info">
																					<span>
																						Showing {{sala.handler.paginated.length}}/{{sala.handler.maindata.length}} entries
																					</span>              
																				</div>
																			</div>
																		</div>


																		<div style="overflow-x: auto;">
																			<table class="table table-bordered table-striped table-responsive">
																				<thead>
																					<tr>
																						<th><div class="th">
																						</div></th>
																						<th ng-repeat='a in sala.handler.headers' width='{{a.width}}'>
																							<div class="th">
																								{{a.name}}
																								<span class="fa fa-angle-up"
																								data-ng-if="a.sort"
																								data-ng-click="sala.handler.setactiveheader(a,true)"
																								data-ng-class="{active: $index == sala.handler.activeheader.id && sala.handler.activeheader.order == true}">
																							</span>
																							<span class="fa fa-angle-down"
																							data-ng-if="a.sort"
																							data-ng-click="sala.handler.setactiveheader(a,false)"
																							data-ng-class="{active: $index == sala.handler.activeheader.id && sala.handler.activeheader.order == false}">
																						</span>
																					</div>
																				</th>
																			</tr>
																		</thead>
																		<tbody>
																			<tr data-ng-repeat="a in sala.handler.getdata() | orderBy: sala.handler.activeheader.sort : sala.handler.activeheader.order track by [$index]">
																				<td><input type="checkbox" checklist-value="a.id"  checklist-model="sala.handler.check"/></td>
																				<td>{{a.created_at |date:'yyyy-MM-dd'}}</td>
																				<td>{{a.basic}}</td>
																				<td>{{a.ecola}}</td>
																				<td>{{a.cutoff_salary}}</td>
																				<td>{{a.cutoff_ecola}}</td>
																				<td>{{a.daily_salary}}</td>
																				<td>{{a.daily_ecola}}</td>
																				<td>{{a.hourly_salary}}</td>
																				<td>{{a.hourly_ecola}}</td>
																				<td>{{a.minutely_salary}}</td>
																				<td>{{a.minutely_ecola}}</td>
																				<td>{{a.atm_card_no}}</td>
																				<td>{{a.atm_account_no}}</td>
																				<td>{{a.net_gross}}</td>
																				<td>{{a.tax_status}}</td>
																				<td>{{a.effective_date | date: 'yyyy-MM-dd'}}</td>

																			</tr>
																		</tbody>
																	</table>
																	<footer class="table-footer">
																		<div class="row">
																			<div class="col-md-6 page-num-info">
																				<span>
																					Show 
																					<select data-ng-model="sala.handler.numPerPage"
																					data-ng-options="num for num in sala.handler.numPerPageOpt"
																					data-ng-change="onNumPerPageChange()">
																				</select> 
																				entries per page
																			</span>
																		</div>
																		<div class="col-md-6 text-right pagination-container">
																			<pagination class="pagination-sm"
																			ng-model="sala.handler.currentPage"
																			total-items="sala.handler.filtered.length"
																			max-size="4"
																			ng-change="select(currentPage)"
																			items-per-page="sala.handler.numPerPage"
																			rotate="false"
																			previous-text="&lsaquo;" next-text="&rsaquo;"
																			boundary-links="true"></pagination>
																		</div>
																	</div>
																</footer>



															</div>


														</div>



													</section>


													<!-- form table salary history -->
													<section class="panel panel-primary table-dynamic" ng-if="sala.handler.hideSalaryLocal">
														<div class="panel-heading"><strong><span class="glyphicon glyphicon-th" style="margin-right: 8px;"></span>Salary History</strong></div>
														<div class="panel-body">
															<div class="from-group">
																<div class="row">
																	<div class="col-sm-4">
																		<form>
																			<button type="button" 
																			class="btn btn-gap-v btn-danger"
																			ng-click="sala.handler.deldatahistory(sala.handler.check)">
																			Delete
																		</button>
																		<!--ng-show="sala.handler.hiden('delete')"-->
																	</form>
																</div>
															</div>
														</div><br>








														<div class="form-group" >
															<div class="row">
																<div class="col-sm-4">
																	<form>
																		<input type="text"
																		placeholder="Search..."
																		class="form-control"
																		data-ng-model="sala.handler.search"
																		data-ng-model-options="{debounce:300}"
																		>
																	</form>
																</div>
																<div class="col-sm-3 filter-result-info">
																	<span>
																		Showing {{sala.handler.paginated.length}}/{{sala.handler.maindata.length}} entries
																	</span>              
																</div>
															</div>
														</div>
														<div style="overflow-x: auto;">
															<table class="table table-bordered table-striped table-responsive">
																<thead>
																	<tr>
																		<th><div class="th">
																		</div></th>
																		<th ng-repeat='a in sala.handler.headers' width='{{a.width}}'>
																			<div class="th">
																				{{a.name}}
																				<span class="fa fa-angle-up"
																				data-ng-if="a.sort"
																				data-ng-click="sala.handler.setactiveheader(a,true)"
																				data-ng-class="{active: $index == sala.handler.activeheader.id && sala.handler.activeheader.order == true}">
																			</span>
																			<span class="fa fa-angle-down"
																			data-ng-if="a.sort"
																			data-ng-click="sala.handler.setactiveheader(a,false)"
																			data-ng-class="{active: $index == sala.handler.activeheader.id && sala.handler.activeheader.order == false}">
																		</span>
																	</div>
																</th>
															</tr>
														</thead>
														<tbody>
															<tr data-ng-repeat="a in sala.handler.getdata() | orderBy: sala.handler.activeheader.sort : sala.handler.activeheader.order track by [$index]">
																<td><input type="checkbox" checklist-value="a.id"  checklist-model="sala.handler.check"/></td>
																<td>{{a.created_at |date:'yyyy-MM-dd'}}</td>
																<td>{{a.basic}}</td>
																<td>{{a.ecola}}</td>
																<td>{{a.cutoff_salary}}</td>
																<td>{{a.cutoff_ecola}}</td>
																<td>{{a.daily_salary}}</td>
																<td>{{a.daily_ecola}}</td>
																<td>{{a.hourly_salary}}</td>
																<td>{{a.hourly_ecola}}</td>
																<td>{{a.minutely_salary}}</td>
																<td>{{a.minutely_ecola}}</td>
																<td>{{a.atm_card_no}}</td>
																<td>{{a.atm_account_no}}</td>
																<td>{{a.net_gross}}</td>
																<td>{{a.tax_status}}</td>
																<td>{{a.effective_date | date: 'yyyy-MM-dd'}}</td>

															</tr>
														</tbody>
													</table>
													<footer class="table-footer">
														<div class="row">
															<div class="col-md-6 page-num-info">
																<span>
																	Show 
																	<select data-ng-model="sala.handler.numPerPage"
																	data-ng-options="num for num in sala.handler.numPerPageOpt"
																	data-ng-change="onNumPerPageChange()">
																</select> 
																entries per page
															</span>
														</div>
														<div class="col-md-6 text-right pagination-container">
															<pagination class="pagination-sm"
															ng-model="sala.handler.currentPage"
															total-items="sala.handler.filtered.length"
															max-size="4"
															ng-change="select(currentPage)"
															items-per-page="sala.handler.numPerPage"
															rotate="false"
															previous-text="&lsaquo;" next-text="&rsaquo;"
															boundary-links="true"></pagination>
														</div>
													</div>
												</footer>



											</div>


										</div>



									</section>

									<div>
										<!-- SALARY AND INCENTIVE ALLOWANCE  -->
										
										<div class="">
											<section class="panel panel-primary table-dynamic" data-ng-controller="personalIncentiveAndAllowanceCtrl as piac">
												<div class="panel-heading"><strong><span class="glyphicon glyphicon-th" style="margin-right: 8px;"></span>Salary and Incentive Allowance</strong></div>
												<div class="panel-body">
													<div class="from-group">
														<div class="row">
															<div class="col-sm-4">
																<form>
																	<button class="btn btn-gap-v btn-success"  
																	ng-click="piac.handler.openmodal('add')"
																	>
																	<!-- ng-show="piac.handler.button('create')" -->
																	Add
																</button>
																<span class="space space-sm"></span>
																<button type="button" 
																class="btn btn-gap-v btn-danger"   
																ng-click="piac.handler.deldata(piac.handler.check)"
																>
																<!-- ng-show="piac.handler.button('delete')" -->
																Delete
															</button>
														</form>
													</div>
												</div>
											</div><br>


											<div class="form-group">
												<div class="row">
													<div class="col-sm-4">
														<form>
															<input type="text"
															placeholder="Search..."
															class="form-control"
															data-ng-model="piac.handler.search"
															data-ng-model-options="{debounce:300}"
															>
														</form>
													</div>
													<div class="col-sm-3 filter-result-info">
														<span>
															Showing {{piac.handler.paginated.length}}/{{piac.handler.maindata.length}} entries
														</span>              
													</div>
												</div>
											</div><br>
											<table class="table table-bordered table-striped table-responsive">
												<thead>
													<tr>
														<th><div class="th">
														</div></th>
														<th ng-repeat='a in piac.handler.headers' width='{{a.width}}'>
															<div class="th">
																{{a.title}}
																<span class="fa fa-angle-up"
																data-ng-if="a.sort"
																data-ng-click="piac.handler.setactiveheader(a,true)"
																data-ng-class="{active: $index == piac.handler.activeheader.id && piac.handler.activeheader.order == true}">
															</span>
															<span class="fa fa-angle-down"
															data-ng-if="a.sort"
															data-ng-click="piac.handler.setactiveheader(a,false)"
															data-ng-class="{active: $index == piac.handler.activeheader.id && piac.handler.activeheader.order == false}">
														</span>
													</div>
												</th>

												<th ng-repeat='a in piac.handler.headers' width='{{a.width}}'>
													<div class="th">
														{{a.amount}}
														<span class="fa fa-angle-up"
														data-ng-if="a.sort"
														data-ng-click="piac.handler.setactiveheader(a,true)"
														data-ng-class="{active: $index == piac.handler.activeheader.id && piac.handler.activeheader.order == true}">
													</span>
													<span class="fa fa-angle-down"
													data-ng-if="a.sort"
													data-ng-click="piac.handler.setactiveheader(a,false)"
													data-ng-class="{active: $index == piac.handler.activeheader.id && piac.handler.activeheader.order == false}">
												</span>
											</div>
										</th>

									</tr>
								</thead>
								<tbody>
									<tr data-ng-repeat="a in piac.handler.getdata() | orderBy: piac.handler.activeheader.sort : piac.handler.activeheader.order track by [$index]">
										<td><input type="checkbox" checklist-value="a.id"  checklist-model="piac.handler.check"/></td>

										<td>{{a.title}}</td>
										<td>{{a.amount}}</td>

										<td></td>
									</tr>
								</tbody>
							</table>
							<footer class="table-footer">
								<div class="row">
									<div class="col-md-6 page-num-info">
										<span>
											Show 
											<select data-ng-model="piac.handler.numPerPage"
											data-ng-options="num for num in piac.handler.numPerPageOpt"
											data-ng-change="onNumPerPageChange()">
										</select> 
										entries per page
									</span>
								</div>
								<div class="col-md-6 text-right pagination-container">
									<pagination class="pagination-sm"
									ng-model="piac.handler.currentPage"
									total-items="piac.handler.filtered.length"
									max-size="4"
									ng-change="select(currentPage)"
									items-per-page="piac.handler.numPerPage"
									rotate="false"
									previous-text="&lsaquo;" next-text="&rsaquo;"
									boundary-links="true"></pagination>
								</div>
							</div>
						</footer>
					</div>
				</section>
			</div>	


			<!-- add salary and incentive allowance history -->
			<div class="">
				<section class="panel panel-primary table-dynamic" data-ng-controller="personalIncentiveAndAllowanceHistoryCtrl as piahc">
					<div class="panel-heading"><strong><span class="glyphicon glyphicon-th" style="margin-right: 8px;"></span>Salary and Incentive Allowance History</strong></div>
					<div class="panel-body">
						<div class="from-group">
							<div class="row">
								<div class="col-sm-4">
									<form>
										<span class="space space-sm"></span>
										<button type="button" 
										class="btn btn-gap-v btn-danger"   
										ng-click="piahc.handler.deldata(piahc.handler.check)"
										>
										<!-- ng-show="piac.handler.button('delete')" -->
										Delete
									</button>
								</form>
							</div>
						</div>
					</div><br>



					<table class="table table-bordered table-striped table-responsive">
						<thead>
							<tr>
								<th><div class="th">
								</div></th>


								<th ng-repeat='a in piahc.handler.headers' width='{{a.width}}'>
									<div class="th">
										{{a.changed_date}}
										<span class="fa fa-angle-up"
										data-ng-if="a.sort"
										data-ng-click="piahc.handler.setactiveheader(a,true)"
										data-ng-class="{active: $index == piahc.handler.activeheader.id && piahc.handler.activeheader.order == true}">
									</span>
									<span class="fa fa-angle-down"
									data-ng-if="a.sort"
									data-ng-click="piahc.handler.setactiveheader(a,false)"
									data-ng-class="{active: $index == piahc.handler.activeheader.id && piahc.handler.activeheader.order == false}">
								</span>
							</div>
						</th>

						<th ng-repeat='a in piahc.handler.headers' width='{{a.width}}'>
							<div class="th">
								{{a.title}}
								<span class="fa fa-angle-up"
								data-ng-if="a.sort"
								data-ng-click="piahc.handler.setactiveheader(a,true)"
								data-ng-class="{active: $index == piahc.handler.activeheader.id && piahc.handler.activeheader.order == true}">
							</span>
							<span class="fa fa-angle-down"
							data-ng-if="a.sort"
							data-ng-click="piahc.handler.setactiveheader(a,false)"
							data-ng-class="{active: $index == piahc.handler.activeheader.id && piahc.handler.activeheader.order == false}">
						</span>
					</div>
				</th>
				<th ng-repeat='a in piahc.handler.headers' width='{{a.width}}'>
					<div class="th">
						{{a.amount}}
						<span class="fa fa-angle-up"
						data-ng-if="a.sort"
						data-ng-click="piahc.handler.setactiveheader(a,true)"
						data-ng-class="{active: $index == piahc.handler.activeheader.id && piahc.handler.activeheader.order == true}">
					</span>
					<span class="fa fa-angle-down"
					data-ng-if="a.sort"
					data-ng-click="piahc.handler.setactiveheader(a,false)"
					data-ng-class="{active: $index == piahc.handler.activeheader.id && piahc.handler.activeheader.order == false}">
				</span>
			</div>
		</th>

	</tr>
</thead>
<tbody>
	<tr data-ng-repeat="a in piahc.handler.getdata() | orderBy: piahc.handler.activeheader.sort : piahc.handler.activeheader.order track by [$index]">
		<td><input type="checkbox" checklist-value="a.id"  checklist-model="piahc.handler.check"/></td>
		<td>{{a.created_at | date:'yyyy-MM-dd' }}</td>
		<td>{{a.title}}</td>
		<td>{{a.amount}}</td>
		
		<td></td>
	</tr>
</tbody>
</table>
<footer class="table-footer">
	<div class="row">
		<div class="col-md-6 page-num-info">
			<span>
				Show 
				<select data-ng-model="piahc.handler.numPerPage"
				data-ng-options="num for num in piahc.handler.numPerPageOpt"
				data-ng-change="onNumPerPageChange()">
			</select> 
			entries per page
		</span>
	</div>
	<div class="col-md-6 text-right pagination-container">
		<pagination class="pagination-sm"
		ng-model="piahc.handler.currentPage"
		total-items="piahc.handler.filtered.length"
		max-size="4"
		ng-change="select(currentPage)"
		items-per-page="piahc.handler.numPerPage"
		rotate="false"
		previous-text="&lsaquo;" next-text="&rsaquo;"
		boundary-links="true"></pagination>
	</div>
</div>
</footer>
</div>
</section>
</div>	

<!--Modal Add Employment Status-->
<script type="text/ng-template" id="addmodalIncen">
	<div class="modal-header">
		<h4><i class="fa fa-save" style="margin-right: 8px;" ></i>Add Incentive/Allowance</h4>
	</div>
	<div class="modal-body">
		<form name="myForm"  class="form form-validation" ng-submit="myForm.$valid && submit(addmodalincen.form)">	
			<div class='form-group'>
				<fieldset>
					<div class="col-md-5">
						<label for="">Incentive / Allowance Name</label><span class="space space-sm"></span><label style ="color:red">*</label>
					</div>
					<div class="col-md-7">
						<select class='form-control' ng-model="addmodalincen.form.id_incentive_allowance"  ng-options="sal.id as sal.title for sal in addmodalincen.handler.dropdown" ng-change="addmodalincen.changeAmount()" required>
							<option value="">- - S E L E C T - -</option>
							
						</select>

						<span style="color:red" ng-show="myForm.name.$dirty && myForm.name.$invalid" >
							<span ng-show="myForm.name.$error.required">Name is required.</span>
						</span>
					</div>
				</fieldset>
			</div>

			<div class='form-group'>
				<fieldset>
					<div class="col-md-5">
						<label for="">Incentive Amount</label><span class="space space-sm"></span><label style ="color:red">*</label>
					</div>
					<div class="col-md-7">
						<input type="number" name="amount" class="form-control" autocomplete="off" ng-model="addmodalincen.form.amount" placeholder="00.00" disabled/>
						<span style="color:red" ng-show="myForm.amount.$dirty && myForm.amount.$invalid">
							<span ng-show="myForm.amount.$error.required">Amount is required.</span>
						</span>
					</div>
				</fieldset>
			</div>
			<fieldset>
				<div class="col-sm-3">
				</span><label style ="color:red">*</label><span class="space space-xs"><label><small>Required field</small></label>
				</div>										
			</fieldset>	
		</form>	
		<div class="modal-footer">
			<button type="submit" class="btn btn-success" ng-disabled="myForm.$invalid"  ng-click="addmodalincen.save()">Save</button>
			<!-- <button class="btn btn-danger" ng-click="addmodalincen.close()">Cancel</button> -->
			<button class="btn btn-danger" ng-click="addmodalincen.test()">Cancel</button>

		</div>
	</div>
</script>

<!-- END SALARY INCENTEIVE ALLOWANCE PERSONAL -->
</div>




<!-- ----------------------------------------------------------------------------------DEDUCTION CONTRIBUTION ------------------------------------------------------------------ -->

<div class="panel panel-primary" >
	<div class="panel-heading"><strong><span class="glyphicon glyphicon-th"  style="margin-right: 8px;"></span>Deduction Contribution</strong></div>


	<div class="panel-body">


		<form name="myForm" class="form-horizontal form-validation">
			<fieldset>


				<button type="submit" class="btn btn-success" ng-if="sala.handler.editButtonDeduction" ng-click="sala.handler.buttonCtrlDeduction('edit') ; sala.handler.deduction=true ">Edit</button>

				<button type="submit" class="btn btn-success" ng-if="sala.handler.saveButtonDeduction" ng-click="sala.handler.saveDeduction(sala.handler.formDeduction) ;sala.handler.buttonCtrlDeduction('save') ; sala.handler.deduction=false " >Save</button>

				<button type="submit" class="btn btn-danger" ng-if="sala.handler.cancelButtonDeduction" ng-click="sala.handler.buttonCtrlDeduction('cancel'); sala.handler.deduction=false ">Cancel</button>


			</fieldset>
			<br>

			<div class="form-group">
				<fieldset>

					<div class="col-sm-2" >
						<span></span>
						<span>SSS</span>
					</div>
					<div class="col-sm-2">
						<input type="number" class="form-control"
						ng-model="sala.handler.formDeduction.sss"
						ng-disabled="!sala.handler.deduction"
						
						/>
					</div>



				</fieldset>
			</div>
			<div class="form-group">
				<fieldset>

					<div class="col-sm-2" >
						<span>Philhealth</span>
					</div>
					<div class="col-sm-2">
						<input type="number" class="form-control"
						ng-model="sala.handler.formDeduction.philhealth"
						ng-disabled="!sala.handler.deduction"
						
						/>  
					</div>



				</fieldset>
			</div>
			<div class="form-group">
				<fieldset>

					<div class="col-sm-2" >
						<span>HDMF</span>
					</div>
					<div class="col-sm-2">
						<input type="number" class="form-control"
						ng-model="sala.handler.formDeduction.hdmf"
						ng-disabled="!sala.handler.deduction"
																			
						/>
					</div>
					<div class="col-sm-2" >
						<span>HDMF Savings</span>
					</div>

					<div class="col-sm-2">
						<input type="number" class="form-control"
						ng-model="sala.handler.formDeduction.hdmf_saving"
						ng-disabled="!sala.handler.deduction"
																				
						/>
					</div>
				</fieldset>
			</div>
			<hr>


		</form>					
	</div>
</div>



<!-- duduction loans -->

<div class="" ng-controller="deductionPersonalCtrl as deduc">
	<div class="panel panel-primary" ng-if="sala.handler.hideSalaryLocal">
		<div class="panel-heading"><strong><span class="glyphicon glyphicon-th" style="margin-right: 8px;"> </span> Deduction Loans</strong></div>
		<span class="space space-sm"></span>

		<div class="col-sm-12">

		</div>
		<div class="panel-body">		
			<form name="myForm" class="form-horizontal form-validation">


				<div class="form-group">
					<div class="col-sm-12">

						<div class="from-group">
							<div class="row">
								<div class="col-sm-4">
									<form>
										<button class="btn btn-gap-v btn-success"  
										ng-click="deduc.handler.openmodal('add')"
										>
										<!-- ng-show="deduc.handler.button('create')" -->
										Add
									</button>
									<span class="space space-sm"></span>
																				<!-- 	<button type="button" 
																					class="btn btn-gap-v btn-danger"   
																					ng-click="deduc.handler.deldata(deduc.handler.check)"
																					>
																					ng-show="deduc.handler.button('delete')"
																					Delete
																				</button> -->
																			</form>
																		</div>
																	</div>
																</div>






																<table class="table table-bordered table-striped table-responsive">
																	<thead>
																		<tr>

																			<th ng-repeat='a in deduc.handler.headers' width='{{a.width}}'>
																				<div class="th">
																					{{a.name}}
																					<span class="fa fa-angle-up"
																					data-ng-if="a.sort"
																					data-ng-click="deduc.handler.setactiveheader(a,true)"
																					data-ng-class="{active: $index == deduc.handler.activeheader.id && deduc.handler.activeheader.order == true}">
																				</span>
																				<span class="fa fa-angle-down"
																				data-ng-if="a.sort"
																				data-ng-click="deduc.handler.setactiveheader(a,false)"
																				data-ng-class="{active: $index == deduc.handler.activeheader.id && deduc.handler.activeheader.order == false}">
																			</span>
																		</div>
																	</th>
																</tr>
															</thead>
															<tbody >
																<tr>

																	<td>
																		<h5><b>Loan Date </b></h5><br>
																		<h5><b>Principal Amount</b></h5><br>								
																		<h5><b>Interest</b></h5><br>								
																		<h5><b>Total Obligation</b></h5><br>								
																		<h5><b>Less Previous Payments</b></h5><br>								
																		<h5><b>Net Obligation</b></h5><br><br><br>								
																		<h5><b>Monthly Amortization</b></h5><br>								
																		<h5><b>Per Cutoff Amortization</b></h5><br>								
																		<h5><b>Start Deduction</b></h5><br>
																		<h5><b>Total Payment</b></h5><br>	
																		<div style="border-top: 3px double #8c8b8b;"></div><br>								
																		<h5><b>Balance</b></h5><br>							
																	</td>

																	<td >
																		<div ng-repeat="a in deduc.handler.maindataDeduction">
																			<div ng-if="a.type_loan=='sss'" style="cursor:pointer" ng-click="deduc.handler.openmodal('edit',a)">
																				<div ng-click="deduc.handler.openmodal('edit,a')">
																					<h5><b>{{a.loan_date | date : 'yyyy-MM-dd' }}</b></h5><br>
																					<h5><b>{{a.principal_amount}}</b></h5><br>								
																					<h5><b>{{a.interest}}</b></h5><br>								
																					<h5><b>{{a.total_obligation}}</b></h5><br>								
																					<h5><b>{{a.less_payment}}</b></h5><br>								
																					<h5><b>{{a.net_obligation}}</b></h5><br><br><br>								
																					<h5><b>{{a.monthly_amortization}}</b></h5><br>								
																					<h5><b>{{a.per_cutoff_amortization}}</b></h5><br>								
																					<h5><b>{{a.start_deduction | date : 'yyyy-MM-dd'}}</b></h5><br>
																					<h5><b>{{a.total_payment}}</b></h5><br>	
																					<div style="border-top: 3px double #8c8b8b;"></div><br>								
																					<h5><b>{{a.balance}}</b></h5><br>								

																				</div>
																				

																			</div>	
																		</div>

																	</td>

																	<td>
																		<div ng-repeat="a in deduc.handler.maindataDeduction">
																			<div ng-if="a.type_loan=='hdmf'" style="cursor:pointer" ng-click="deduc.handler.openmodal('edit',a)">
																				<div ng-click="deduc.handler.openmodal('edit,a')">
																					<h5><b>{{a.loan_date | date : 'yyyy-MM-dd' }}</b></h5><br>
																					<h5><b>{{a.principal_amount}}</b></h5><br>								
																					<h5><b>{{a.interest}}</b></h5><br>								
																					<h5><b>{{a.total_obligation}}</b></h5><br>								
																					<h5><b>{{a.less_payment}}</b></h5><br>								
																					<h5><b>{{a.net_obligation}}</b></h5><br><br><br>								
																					<h5><b>{{a.monthly_amortization}}</b></h5><br>								
																					<h5><b>{{a.per_cutoff_amortization}}</b></h5><br>								
																					<h5><b>{{a.start_deduction | date : 'yyyy-MM-dd'}}</b></h5><br>
																					<h5><b>{{a.total_payment}}</b></h5><br>	
																					<div style="border-top: 3px double #8c8b8b;"></div><br>								
																					<h5><b>{{a.balance}}</b></h5><br>								
																					
																				</div>

																			</div>	
																		</div>

																	</td>

																	<td>
																		<div ng-repeat="a in deduc.handler.maindataDeduction">
																			<div ng-if="a.type_loan=='hmo'" style="cursor:pointer" ng-click="deduc.handler.openmodal('edit',a)">
																				<div ng-click="deduc.handler.openmodal('edit,a')">
																					<h5><b>{{a.loan_date | date : 'yyyy-MM-dd' }}</b></h5><br>
																					<h5><b>{{a.principal_amount}}</b></h5><br>								
																					<h5><b>{{a.interest}}</b></h5><br>								
																					<h5><b>{{a.total_obligation}}</b></h5><br>								
																					<h5><b>{{a.less_payment}}</b></h5><br>								
																					<h5><b>{{a.net_obligation}}</b></h5><br><br><br>								
																					<h5><b>{{a.monthly_amortization}}</b></h5><br>								
																					<h5><b>{{a.per_cutoff_amortization}}</b></h5><br>								
																					<h5><b>{{a.start_deduction | date : 'yyyy-MM-dd'}}</b></h5><br>
																					<h5><b>{{a.total_payment}}</b></h5><br>	
																					<div style="border-top: 3px double #8c8b8b;"></div><br>								
																					<h5><b>{{a.balance}}</b></h5><br>								
																					
																				</div>

																			</div>	
																		</div>

																	</td>


																	<td>
																		<div ng-repeat="a in deduc.handler.maindataDeduction">
																			<div ng-if="a.type_loan=='cash_advance'" style="cursor:pointer" ng-click="deduc.handler.openmodal('edit',a)">
																				<div ng-click="deduc.handler.openmodal('edit,a')">
																					<h5><b>{{a.loan_date | date : 'yyyy-MM-dd' }}</b></h5><br>
																					<h5><b>{{a.principal_amount}}</b></h5><br>								
																					<h5><b>{{a.interest}}</b></h5><br>								
																					<h5><b>{{a.total_obligation}}</b></h5><br>								
																					<h5><b>{{a.less_payment}}</b></h5><br>								
																					<h5><b>{{a.net_obligation}}</b></h5><br><br><br>								
																					<h5><b>{{a.monthly_amortization}}</b></h5><br>								
																					<h5><b>{{a.per_cutoff_amortization}}</b></h5><br>								
																					<h5><b>{{a.start_deduction | date : 'yyyy-MM-dd'}}</b></h5><br>
																					<h5><b>{{a.total_payment}}</b></h5><br>	
																					<div style="border-top: 3px double #8c8b8b;"></div><br>								
																					<h5><b>{{a.balance}}</b></h5><br>								
																					
																				</div>							
																				<h5><b>{{a.balance}}</b></h5><br>



																			</div>	

																		</div>

																	</td>





																</tr>
															</tbody>
														</table>



														

													</div>
												</div>

											</form>					
										</div>


									</div>

								</div>

							</div>


							<!--Modal Add Employment Status-->
							<script type="text/ng-template" id="addmodal">
								<div class="modal-header">
									<h4><i class="fa fa-save" style="margin-right: 8px;" ></i>Add Deduction </h4>
								</div>
								<div class="modal-body">
									<form name="myForm"  class="form form-validation" ng-submit="myForm.$valid && submit(addmodal.form)">	
										<div class='form-group'>
											<fieldset>
												<div class="col-md-5">
													<label for="">Select Deduction</label><span class="space space-sm"></span><label style ="color:red">*</label>
												</div>
												<div class="col-md-7">
													<!-- <input type="text" name="name" class="form-control" autocomplete="off" ng-model="addmodal.form.title" placeholder="Name" required/> -->

													<select class='form-control' 
													ng-model="addmodal.form.type_loan"
													name="type_loan" 
													required ng-options=" a.type_loan as a.name for a in addmodal.dataDropdown" ng-change=addmodal.changeOptionDeductionLoans()>
<!-- 													<option value=""></option>
													<option value="sss">SSS</option>
													<option value="hdmf">HDMF</option>
													<option value="hmo">HMO</option>
													<option value="cash_advance">Cash Advance</option> -->

												</select>

												<span style="color:red" ng-show="myForm.type_loan.$dirty && myForm.type_loan.$invalid" >
													<span ng-show="myForm.type_loan.$error.required">Type Loan is required.</span>
												</span>
											</div>
										</fieldset>
									</div>

									<div class='form-group'>
										<fieldset>
											<div class="col-md-5">
												<label for="">Loan Date</label><span class="space space-sm"></span><label style ="color:red">*</label>
											</div>
											<div class="col-md-7">
												<input type="date" name="loan_date" class="form-control" autocomplete="off" ng-model="addmodal.form.loan_date" required/>
												<span style="color:red" ng-show="myForm.loan_date.$dirty && myForm.loan_date.$invalid">
													<span ng-show="myForm.loan_date.$error.required">Loan Date is required.</span>
												</span>
											</div>
										</fieldset>
									</div>


									<div class='form-group'>
										<fieldset>
											<div class="col-md-5">
												<label for="">Per Cut-off Amortization</label><span class="space space-sm"></span><label style ="color:red">*</label>
											</div>
											<div class="col-md-7">
												<input type="number" name="per_cutoff_amortization" class="form-control" autocomplete="off" ng-model="addmodal.form.per_cutoff_amortization" placeholder="00.00" required/>
												<span style="color:red" ng-show="myForm.per_cutoff_amortization.$dirty && myForm.per_cutoff_amortization.$invalid">
													<span ng-show="myForm.per_cutoff_amortization.$error.required">Per Cut-Off is required.</span>
												</span>
											</div>
										</fieldset>
									</div>

									<div class='form-group'>
										<fieldset>
											<div class="col-md-5">
												<label for="">Start of Deduction</label><span class="space space-sm"></span><label style ="color:red">*</label>
											</div>
											<div class="col-md-7">
												<input type="date" name="start_deduction" class="form-control" autocomplete="off" ng-model="addmodal.form.start_deduction" required/>
												<span style="color:red" ng-show="myForm.start_deduction.$dirty && myForm.start_deduction.$invalid">
													<span ng-show="myForm.start_deduction.$error.required">Start Deduction is required.</span>
												</span>
											</div>
										</fieldset>
									</div>

									<div class='form-group'>
										<fieldset>
											<div class="col-md-5">
												<label for="">Principal Amount</label><span class="space space-sm"></span><label style ="color:red">*</label>
											</div>
											<div class="col-md-7">
												<input type="number" name="principal_amount" class="form-control" autocomplete="off" ng-model="addmodal.form.principal_amount" placeholder="00.00" required ng-change="addmodal.sumTotalObligation()"/>
												<span style="color:red" ng-show="myForm.principal_amount.$dirty && myForm.principal_amount.$invalid">
													<span ng-show="myForm.principal_amount.$error.required">Principal Amount is required.</span>
												</span>
											</div>
										</fieldset>
									</div>

									<div class='form-group'>
										<fieldset>
											<div class="col-md-5">
												<label for="">Interest</label><span class="space space-sm"></span><label style ="color:red">*</label>
											</div>
											<div class="col-md-7">
												<input type="number" name="interest" class="form-control" autocomplete="off" ng-model="addmodal.form.interest" placeholder="00.00" required ng-change="addmodal.sumTotalObligation()"/>
												<span style="color:red" ng-show="myForm.interest.$dirty && myForm.interest.$invalid">
													<span ng-show="myForm.interest.$error.required">Interest is required.</span>
												</span>
											</div>
										</fieldset>
									</div>

									<div class='form-group'>
										<fieldset>
											<div class="col-md-5">
												<label for="">Total Obligation</label><span class="space space-sm"></span><label style ="color:red">*</label>
											</div>
											<div class="col-md-7">
												<input type="number" name="total_obligation" class="form-control" autocomplete="off" ng-model="addmodal.form.total_obligation" placeholder="00.00" disabled />
												<span style="color:red" ng-show="myForm.total_obligation.$dirty && myForm.total_obligation.$invalid">
													<span ng-show="myForm.total_obligation.$error.required">Total Obligation is required.</span>
												</span>
											</div>
										</fieldset>
									</div>

									<div class='form-group'>
										<fieldset>
											<div class="col-md-5">
												<label for="">Less : Previous Payments</label><span class="space space-sm"></span><label style ="color:red">*</label>
											</div>
											<div class="col-md-7">
												<input type="number" name="less_payment" class="form-control" autocomplete="off" ng-model="addmodal.form.less_payment" placeholder="00.00" required ng-change="addmodal.sumNetObligation()"/>
												<span style="color:red" ng-show="myForm.less_payment.$dirty && myForm.less_payment.$invalid">
													<span ng-show="myForm.less_payment.$error.required">Less is required.</span>
												</span>
											</div>
										</fieldset>
									</div>

									<div style="border-top: 3px double #8c8b8b;"></div><br>

									<div class='form-group'>
										<fieldset>
											<div class="col-md-5">
												<label for="">Net Obligation</label><span class="space space-sm"></span><label style ="color:red">*</label>
											</div>
											<div class="col-md-7">
												<input type="number" name="net_obligation" class="form-control" ng-model="addmodal.form.net_obligation" placeholder="00.00" disabled />
												<span style="color:red" ng-show="myForm.net_obligation.$dirty && myForm.net_obligation.$invalid">
													<span ng-show="myForm.net_obligation.$error.required">Net Obligation is required.</span>
												</span>
											</div>
										</fieldset>
									</div>




									<fieldset>
										<div class="col-sm-3">
										</span><label style ="color:red">*</label><span class="space space-xs"><label><small>Required field</small></label>
										</div>										
									</fieldset>	
								</form>	
								<div class="modal-footer">
									<button type="submit" class="btn btn-success" ng-disabled="myForm.$invalid"  ng-click="addmodal.save()">Save</button>

									<button class="btn btn-danger" ng-click="addmodal.close()">Cancel</button>
								</div>
							</div>
						</script>

						<!-- EDIT DEDUCTION LOANS -->


						<script type="text/ng-template" id="modaledit">

							<div class="modal-header">
								<h4><i class="fa fa-pencil-square-o" style="margin-right: 8px;" ></i>Edit Deduction Loans</h4>
							</div>
							<div class="modal-body">
								<form name="myForm"  class="form form-validation" ng-submit="myForm.$valid && submit(modaledit.form)">	
									<div class='form-group'>
										<fieldset>
											<div class="col-md-5">
												<label for="">Select Deduction</label><span class="space space-sm"></span><label style ="color:red">*</label>
											</div>
											<div class="col-md-7">
												<!-- <input type="text" name="name" class="form-control" autocomplete="off" ng-model="modaledit.form.title" placeholder="Name" required/> -->

												<select class='form-control' 
												ng-model="modaledit.form.type_loan"
												name="type_loan" 
												required disabled>
												<option value=""></option>
												<option value="sss">SSS</option>
												<option value="hdmf">HDMF</option>
												<option value="hmo">HMO</option>
												<option value="cash_advance">Cash Advance</option>

											</select>

											<span style="color:red" ng-show="myForm.type_loan.$dirty && myForm.type_loan.$invalid" >
												<span ng-show="myForm.type_loan.$error.required">Type Loan is required.</span>
											</span>
										</div>
									</fieldset>
								</div>

								<div class='form-group'>
									<fieldset>
										<div class="col-md-5">
											<label for="">Loan Date</label><span class="space space-sm"></span><label style ="color:red">*</label>
										</div>
										<div class="col-md-7">
											<input type="date" name="loan_date" class="form-control" autocomplete="off" ng-model="modaledit.form.loan_date" ng-disabled="!modaledit.button" required/>
											<span style="color:red" ng-show="myForm.loan_date.$dirty && myForm.loan_date.$invalid">
												<span ng-show="myForm.loan_date.$error.required">Loan Date is required.</span>
											</span>
										</div>
									</fieldset>
								</div>





								<div class='form-group'>
									<fieldset>
										<div class="col-md-5">
											<label for="">Principal Amount</label><span class="space space-sm"></span><label style ="color:red">*</label>
										</div>
										<div class="col-md-7">
											<input type="number" name="principal_amount" class="form-control" autocomplete="off" ng-model="modaledit.form.principal_amount" placeholder="00.00" required ng-disabled="!modaledit.button"/>
											<span style="color:red" ng-show="myForm.principal_amount.$dirty && myForm.principal_amount.$invalid">
												<span ng-show="myForm.principal_amount.$error.required">Principal Amount is required.</span>
											</span>
										</div>
									</fieldset>
								</div>

								<div class='form-group'>
									<fieldset>
										<div class="col-md-5">
											<label for="">Interest</label><span class="space space-sm"></span><label style ="color:red">*</label>
										</div>
										<div class="col-md-7">
											<input type="number" name="interest" class="form-control" autocomplete="off" ng-model="modaledit.form.interest" placeholder="00.00" required ng-disabled="!modaledit.button"/>
											<span style="color:red" ng-show="myForm.interest.$dirty && myForm.interest.$invalid">
												<span ng-show="myForm.interest.$error.required">Interest is required.</span>
											</span>
										</div>
									</fieldset>
								</div>

								<div class='form-group'>
									<fieldset>
										<div class="col-md-5">
											<label for="">Total Obligation</label><span class="space space-sm"></span><label style ="color:red">*</label>
										</div>
										<div class="col-md-7">
											<input type="number" name="total_obligation" class="form-control" autocomplete="off" ng-model="modaledit.form.total_obligation" placeholder="00.00" required ng-disabled="!modaledit.button"/>
											<span style="color:red" ng-show="myForm.total_obligation.$dirty && myForm.total_obligation.$invalid">
												<span ng-show="myForm.total_obligation.$error.required">Total Obligation is required.</span>
											</span>
										</div>
									</fieldset>
								</div>

								<div class='form-group'>
									<fieldset>
										<div class="col-md-5">
											<label for="">Less : Previous Payments</label><span class="space space-sm"></span><label style ="color:red">*</label>
										</div>
										<div class="col-md-7">
											<input type="number" name="less_payment" class="form-control" autocomplete="off" ng-model="modaledit.form.less_payment" placeholder="00.00" required ng-disabled="!modaledit.button"/>
											<span style="color:red" ng-show="myForm.less_payment.$dirty && myForm.less_payment.$invalid">
												<span ng-show="myForm.less_payment.$error.required">Less is required.</span>
											</span>
										</div>
									</fieldset>
								</div>

								<div style="border-top: 3px double #8c8b8b;"></div><br>

								<div class='form-group'>
									<fieldset>
										<div class="col-md-5">
											<label for="">Net Obligation</label><span class="space space-sm"></span><label style ="color:red">*</label>
										</div>
										<div class="col-md-7">
											<input type="number" name="net_obligation" class="form-control" autocomplete="off" ng-model="modaledit.form.net_obligation" placeholder="00.00" required ng-disabled="!modaledit.button"/>
											<span style="color:red" ng-show="myForm.net_obligation.$dirty && myForm.net_obligation.$invalid">
												<span ng-show="myForm.net_obligation.$error.required">Net Obligation is required.</span>
											</span>
										</div>
									</fieldset>
								</div>



								<fieldset>
									<div class="col-sm-3">
									</span><label style ="color:red">*</label><span class="space space-xs"><label><small>Required field</small></label>
									</div>										
								</fieldset>	
							</form>	

						<!-- 	<div class="modal-footer" >
								<button type="submit" class="btn btn-success" ng-click="modaledit.button=true && editHide.button=true;" ng-hide="!editHide.button" >Edit</button>
								<button type="submit" class="btn btn-success"  ng-disabled="myForm.$invalid" ng-click="modaledit.save();">Save</button>
								<button class="btn btn-danger" ng-click="modaledit.close()">Cancel</button>
							</div> -->
							<div class="modal-footer" >
								<button type="submit" class="btn btn-success">Generate to Excel</button>
								<button type="submit" class="btn btn-success" ng-click="modaledit.button=true;modaledit.showHide=true" ng-show="!modaledit.showHide">Edit</button>
								<button type="submit" class="btn btn-success"  ng-disabled="myForm.$invalid" ng-click="modaledit.save();" ng-hide="!modaledit.showHide">Save</button>
								<button class="btn btn-danger" ng-click="modaledit.close()">Cancel</button>
							</div>

						</div>
					</script>	

					

				</div>





	<!-- ///////////////////////////////////////////////////////////////////////////////////////////////////////////////////			 -->					
	