	
<div class="page page-salary">
	<div class="row">
		<div class="col-md-2" ng-controller="MenuCtrl">
			<section class="panel panel-box">
				<div class="panel-top bg-primary">
					<div class="text-center">
						<h3>{{names}}</h3>
					</div>
					<div class="divider divider-lg"></div>
					<div class="divider divider-lg"></div>
				</div>
				<div class="panel-img bg-primary">
					<a ng-href="#/employee/photograph/{{id}}"><img ng-src="{{pic}}" height="200" width="200" class="img-circle"></a>
				</div>
			</section>
			<!-- <div class="panel-default"  ng-show="!useracess('user')"> -->
			<div class="panel-default" ng-if="hideButton">		
				
				<div class="panel-body">
					<button class="btn btn-block  btn-primary" ng-click="isCollapsed = !isCollapsed">Change Employee</button>
					<div collapse="!isCollapsed">
						<input type="text"
						placeholder="Search..."
						class="form-control"
						ng-model="employee" 
						typeahead="(address.name) for address in getLocation($viewValue)" 
						typeahead-loading="loadingLocations"
						typeahead-min-length="4"
						typeahead-wait-ms="300"
						typeahead-on-select="onSelect($item, $model, $label)"
						/>							
					</div>
				</div>
			</div>
			<div class="panel panel-default">
				<div style="text-align:center">
					<h3 style="color:rgb(36, 138, 175);text-decoration: underline;text-decoration-color:rgb(36, 138, 175)" >{{localIT}}</h3>
				</div>
				<div class="panel-body">
					<a ng-href="#/employee/personalDetail/{{id}}" class="btn btn-block btn-primary">Personal Details</a></button>
					<a ng-href="#/employee/contact/{{id}}" class="btn btn-block  btn-primary">Contact Details</a></button>
					<a ng-href="#/employee/emergency/{{id}}" class="btn btn-block  btn-primary">Emergency Contacts</a></button>
					<a ng-href="#/employee/dependents/{{id}}" class="btn btn-block btn-primary">Dependents</a></button>
					<a ng-href="#/employee/immigrations/{{id}}" class="btn btn-block btn-primary">Immigrations</a></button>
					<a ng-href="#/employee/report/{{id}}" class="btn btn-block btn-primary">Report-To</a></button>
					<a ng-href="#/employee/qualification/{{id}}" class="btn btn-block btn-primary">Qualification</a></button>
					<a ng-href="#/employee/job/{{id}}" class="btn btn-block  btn-primary">Job History</a></button>
					<a ng-href="#/employee/salary/{{id}}" class="btn btn-block btn-primary active">Salary History</a></button>
				</div>
			</div>
		</div>
		
		<!-- form insert salary -->
		<div class="col-md-10" ng-controller="salaryCtrl as sala">
			<div class="panel panel-primary">
				<div class="panel-heading"><strong><span class="glyphicon glyphicon-th" style="margin-right: 8px;"> </span> Salary - Payment Details</strong></div>
				<div class="panel-body">		
					<form name="myForm" class="form-horizontal form-validation">
						<div class="form-group">
							<fieldset>
								<div class="col-sm-2">
									<label for="">Monthly Salary</label>
								</div>
								<div class="col-sm-3">
									<input type="text"  class="form-control" format="number" ng-model="sala.handler.form.MonthSalary" ng-disabled="!sala.handler.button"/>
								</div>
								<span class="space space-sm">
									<div class="col-sm-2">
										<label for="">ATM Card No.</label>
									</div>
									<div class="col-sm-3">
										<input type="text"  class="form-control" ng-model="sala.handler.form.ATMNcard" ng-disabled="!sala.handler.button"/>
									</div>
								</fieldset>
							</div>
							<div class="form-group">
								<fieldset>
									<div class="col-sm-2">
										<label for="">Net / Gross</label>
									</div>
									<div class="col-sm-3">
										<label class="ui-radio">
											<input 	name="net" 
											type="radio" 
											value="net"  
											ng-model="sala.handler.form.netGross" 
											ng-disabled="!sala.handler.button">
											<span> Net</span>
										</label>
										<label class="ui-radio">
											<input 	name="gross" 	
											type="radio" 
											value="gross"  
											ng-model="sala.handler.form.netGross"
											ng-disabled="!sala.handler.button">
											<span>Gross</span>
										</label>
									</div>
									<span class="space space-sm">
										<div class="col-sm-2">
											<label for="">ATM Account No.</label>
										</div>
										<div class="col-sm-3">
											<input type="text" class="form-control" ng-model="sala.handler.form.ATMacount" ng-disabled="!sala.handler.button"/>
										</div>
									</fieldset>
								</div>
								<div class="form-group">
									<fieldset>
										<div class="col-sm-2">
											<label>Effective Date</label>
										</div>
										<div class="col-sm-3">
											<input type="date" class="form-control" min="1900-01-01" max="2100-01-01" ng-model="sala.handler.form.effectiveDate" ng-disabled="!sala.handler.button"/>
										</div>
									</fieldset>
								</div>
							</form>					
						</div>
					</div>
					
					<!-- form insert salary all deduction  -->
					<div class="panel panel-primary">
						<div class="panel-heading"><strong><span class="glyphicon glyphicon-th"  style="margin-right: 8px;"></span>All Deductions</strong></div>
						<div class="panel-body">		
							<form name="myForm" class="form-horizontal form-validation">
								<div class="form-group">
									<fieldset>
										<div class="col-sm-2">
										</div>
										<div class="col-sm-2">
											<label>Initial Balance</label>
										</div>
										<div class="col-sm-2">
											<label>Deduction</label>
										</div>
										<div class="col-sm-2">
											<label>Total Paid</label>
										</div>
										<div class="col-sm-2">
											<label>Remaining Balance</label>
										</div>	
									</fieldset>
								</div>
								<div class="form-group">
									<fieldset>
										<div class="col-sm-2" ng-hide="!sala.handler.hmohide">
											<label class="ui-checkbox" >
												<input 	name="checkbox1" 
												type="checkbox" 
												value="sala.handler.hmo"
												ng-click="sala.handler.hmo=true;" />			
												<span>HMO</span>
											</label>
										</div>
										<div class="col-sm-2" ng-hide="sala.handler.hmohide">
											<span></span>
											<span>HMO</span>
										</div>
										<div class="col-sm-2">
											<input type="text" class="form-control"
											ng-model="sala.handler.formall.HMO.initial_balance"
											ng-disabled="!sala.handler.hmo"
											format="number"
											/>
										</div>
										<div class="col-sm-2">
											<input type="text" class="form-control"
											ng-model="sala.handler.formall.HMO.deduction"
											ng-disabled="!sala.handler.hmo"
											format="number"
											/>
										</div>
										<div class="col-sm-2">
											<input type="text" class="form-control"
											ng-model="sala.handler.formall.HMO.total_paid"
											ng-disabled="true"
											format="number"
											/>
										</div>
										<div class="col-sm-2">
											<input type="text" class="form-control"
											ng-model="sala.handler.formall.HMO.remain_balance"
											ng-disabled="true"
											format="number"
											/>
										</div>
									</fieldset>
								</div>
								<div class="form-group">
									<fieldset>
										<div class="col-sm-2" ng-hide="!sala.handler.hdmfhide">
											<label class="ui-checkbox">
												<input 	name="checkbox1" 
												type="checkbox" 
												value="option1"
												ng-disabled="!sala.handler.button"
												ng-click="sala.handler.hdmf=true;"/>
												<span>HDMF Loan</span>
											</label>
										</div>
										<div class="col-sm-2" ng-hide="sala.handler.hdmfhide">
											<span>HDMF Loan</span>
										</div>
										<div class="col-sm-2">
											<input type="text" class="form-control"
											ng-model="sala.handler.formall.HDMFLoan.initial_balance"
											ng-disabled="!sala.handler.hdmf"
											format="number"	
											/>  
										</div>
										<div class="col-sm-2">
											<input type="text" class="form-control"
											ng-model="sala.handler.formall.HDMFLoan.deduction"
											ng-disabled="!sala.handler.hdmf"
											format="number"
											/>
										</div>
										<div class="col-sm-2">
											<input type="text" class="form-control"
											ng-model="sala.handler.formall.HDMFLoan.total_paid"
											ng-disabled="true"
											format="number"
											/>
										</div>
										<div class="col-sm-2">
											<input type="text" class="form-control"
											ng-model="sala.handler.formall.HDMFLoan.remain_balance"
											ng-disabled="true"
											format="number"
											/>
										</div>
									</fieldset>
								</div>
								<div class="form-group">
									<fieldset>
										<div class="col-sm-2" ng-hide="!sala.handler.hdmfhide">
											<label class="ui-checkbox">
												<input 	name="checkbox1" 
												type="checkbox" 
												value="option1"
												ng-disabled="!sala.handler.button"
												ng-click="sala.handler.sss=true;"/>
												<span>SSS Loan</span>
											</label>
										</div>
										<div class="col-sm-2" ng-hide="sala.handler.hdmfhide">
											<span>SSS Loan</span>
										</div>
										<div class="col-sm-2">
											<input type="text" class="form-control"
											ng-model="sala.handler.formall.SSSLoan.initial_balance"
											ng-disabled="!sala.handler.sss"
											format="number"															
											/>
										</div>
										<div class="col-sm-2">
											<input type="text" class="form-control"
											ng-model="sala.handler.formall.SSSLoan.deduction"
											ng-disabled="!sala.handler.sss"
											format="number"
											/>
										</div>
										<div class="col-sm-2">
											<input type="text" class="form-control"
											ng-model="sala.handler.formall.SSSLoan.total_paid"
											ng-disabled="true"
											format="number"
											/>
										</div>
										<div class="col-sm-2">
											<input type="text" class="form-control"
											ng-model="sala.handler.formall.SSSLoan.remain_balance"
											ng-disabled="true"
											format="number"
											/>
										</div>
									</fieldset>
								</div>
								<hr>
								<div class="form-group">
									<fieldset>
										<div class="col-sm-5" ng-show="sala.handler.hiden('update')">
											<button type="submit" class="btn btn-success" ng-hide="sala.handler.button" ng-click="sala.handler.button=true;sala.handler.edit(); sala.handler.reverse();">Edit</button>
											<button type="submit" class="btn btn-success" ng-show="sala.handler.button" ng-click="sala.handler.save()">Save</button>
										</div>
									</fieldset>
								</div>
							</form>					
						</div>
					</div>
					
					<!-- form table salary history -->
					<section class="panel panel-primary table-dynamic">
						<div class="panel-heading"><strong><span class="glyphicon glyphicon-th" style="margin-right: 8px;"></span>Salary History</strong></div>
						<div class="panel-body">
							<div class="from-group">
								<div class="row">
									<div class="col-sm-4">
										<form>
											<button type="button" 
											class="btn btn-gap-v btn-danger"
											ng-show="sala.handler.hiden('delete')"
											ng-click="sala.handler.deldatahistory(sala.handler.check)">
											Delete
										</button>
										<!--ng-show="sala.handler.hiden('delete')"-->
									</form>
								</div>
							</div>
						</div><br>
						<div class="form-group">
							<div class="row">
								<div class="col-sm-4">
									<form>
										<input type="text"
										placeholder="Search..."
										class="form-control"
										data-ng-model="sala.handler.search"
										data-ng-model-options="{debounce:300}"
										>
									</form>
								</div>
								<div class="col-sm-3 filter-result-info">
									<span>
										Showing {{sala.handler.paginated.length}}/{{sala.handler.maindata.length}} entries
									</span>              
								</div>
							</div>
						</div>
						<table class="table table-bordered table-striped table-responsive">
							<thead>
								<tr>
									<th><div class="th">
									</div></th>
									<th ng-repeat='a in sala.handler.headers' width='{{a.width}}'>
										<div class="th">
											{{a.name}}
											<span class="fa fa-angle-up"
											data-ng-if="a.sort"
											data-ng-click="sala.handler.setactiveheader(a,true)"
											data-ng-class="{active: $index == sala.handler.activeheader.id && sala.handler.activeheader.order == true}">
										</span>
										<span class="fa fa-angle-down"
										data-ng-if="a.sort"
										data-ng-click="sala.handler.setactiveheader(a,false)"
										data-ng-class="{active: $index == sala.handler.activeheader.id && sala.handler.activeheader.order == false}">
									</span>
								</div>
							</th>
						</tr>
					</thead>
					<tbody>
						<tr data-ng-repeat="a in sala.handler.getdata() | orderBy: sala.handler.activeheader.sort : sala.handler.activeheader.order track by [$index]">
							<td><input type="checkbox" checklist-value="a.deductionId"  checklist-model="sala.handler.check"/></td>
							<td>{{a.changedate}}</td>
							<td>{{a.MonthSalary  |  currency : ""}}</td>
							<td>{{a.netGross}}</td>
							<td>{{a.effective_date}}</td>
							<td>{{a.MonthSalary_HMO  |  currency : ""}}</td>
							<td>{{a.MonthSalary_SSSLoan  |  currency : ""}}</td>
							<td>{{a.MonthSalary_HDMFLoan  |  currency : ""}}</td>
						</tr>
					</tbody>
				</table>
				<footer class="table-footer">
					<div class="row">
						<div class="col-md-6 page-num-info">
							<span>
								Show 
								<select data-ng-model="sala.handler.numPerPage"
								data-ng-options="num for num in sala.handler.numPerPageOpt"
								data-ng-change="onNumPerPageChange()">
							</select> 
							entries per page
						</span>
					</div>
					<div class="col-md-6 text-right pagination-container">
						<pagination class="pagination-sm"
						ng-model="sala.handler.currentPage"
						total-items="sala.handler.filtered.length"
						max-size="4"
						ng-change="select(currentPage)"
						items-per-page="sala.handler.numPerPage"
						rotate="false"
						previous-text="&lsaquo;" next-text="&rsaquo;"
						boundary-links="true"></pagination>
					</div>
				</div>
			</footer>
		</div>
	</section>
	
</div>


</div>
</div>

<!-- <section class="panel panel-primary table-dynamic">
<div class="panel-heading"><span class="glyphicon glyphicon-th" style="margin-right: 8px;"></span>Salary History</div>
<div class="table-filters">
<div class="row">
</div>
</div>
<table class="table table-bordered table-striped table-responsive">
<thead>
<tr id="heading">
<th style="width:10%"><div class="th">
Change Date
</div></th>
<th style="width:10%"><div class="th">
Monthly Salary
</div></th>
<th style="width:10%"><div class="th">
Net / Gross
</div></th>
<th style="width:12%"><div class="th">
HMO
</div></th>
<th style="width:12%"><div class="th">
SSS loan
</div></th>
<th style="width:12%"><div class="th">
HDMF Loan
</div></th>
</tr>
</thead>
<tbody>
<tr ng-repeat="store in currentPageStores |  filter:query ">
<td >{{store.dates}}</td>
<td >{{store.salary  |  currency : ""}}</td>
<td >{{store.net_gross}}</td>
<td >{{store.hmo  |  currency : ""}}</td>
<td >{{store.sss_loan  |  currency : ""}}</td>
<td >{{store.hdmf_loan  |  currency : ""}}</td>
</tr>
</tbody>
</table>

<footer class="table-footer">
<div class="row">
<div class="col-md-6 page-num-info">
<span>
Show 
<select data-ng-model="numPerPage"
data-ng-options="num for num in numPerPageOpt"
data-ng-change="onNumPerPageChange()">
</select> 
entries per page
</span>
</div>
<div class="col-md-6 text-right pagination-container">
<pagination class="pagination-sm"
ng-model="currentPage"
total-items="filteredStores.length"
max-size="4"
ng-change="select(currentPage)"
items-per-page="numPerPage"
rotate="false"
previous-text="&lsaquo;" next-text="&rsaquo;"
boundary-links="true">
</pagination>
</div>
</div>
</footer>
</section>	 -->			

