<div class="page-signin">

    <div class="signin-header">
        <section class="logo text-center">
            {{main.user}}
        </section>
    </div>

    <div class="main-body" ng-controller="signCtrl">
        <div class="container">
            <div class="form-container">
                <form name="myForm" class="form-horizontal form-validation">
                    <fieldset>
                        <div class="form-group">
                            <div class="btn-icon-lined btn-icon-round btn-icon-sm btn-default-light"  >
                                <span class="glyphicon glyphicon-envelope"></span>
                            </div>
                            <input type="hidden" name="auth" ng-model="auth">
                            <input type="text"
                            name="name"
                            class="form-control input-lg input-round text-center"
                            placeholder="Username"
                            ng-model="user.name"
                            ng-pattern="/^[a-zA-Z./]*$/"
                            autocomplete="off"
                            required
                            />
                            <span style="color:red" ng-show="myForm.name.$dirty && myForm.name.$invalid">
                               <span ng-show="myForm.name.$dirty && myForm.name.$error.required">Username is required</span>
                               <span ng-show="myForm.name.$dirty && myForm.name.$error.pattern">Invalid input.</span>

                           </div>
                           <div class="form-group">
                            <div class="btn-icon-lined btn-icon-round btn-icon-sm btn-default-light">
                                <span class="glyphicon glyphicon-lock"></span>
                            </div>
                            
                            <span class="btn-icon-lined btn-icon-round btn-icon-sm btn-default-light" style="margin-left: 400px;">
                                <a ng-click="togglePassword()" class="{{typePassword ? 'glyphicon glyphicon-eye-close' : 'glyphicon glyphicon-eye-open'}}"></a>

                            </span>
                            
                            <input type="{{ typePassword ? 'text' : 'password' }}"
                            name="pass"
                            class="form-control input-lg input-round text-center"
                            placeholder="Password"
                            ng-model="user.password"
                            autocomplete="off"
                            required
                            />


                            <span style="color:red" ng-show="myForm.pass.$dirty && myForm.pass.$invalid">
                                <span ng-show="myForm.pass.$dirty && myForm.pass.$error.required">Password is required</span>

                                <div class="btn-icon-lined btn-icon-round btn-icon-sm btn-default-light" align="left">
                                    <span class="glyphicon glyphicon-lock"></span>
                                </div>
                            </div>
                            <div class="form-group">
                               <button type="submit" ng-click="submitForm()"  ng-disabled="myForm.$invalid" class="btn btn-primary btn-lg btn-round btn-block text-center">Login</button>
                           </div>
                       </fieldset>
                   </form>
               </div>
           </div>
       </div>

   </div>