        <div class="page page-dashboard" ng-controller="dashboardCtrl as dc">
          <div class="panel panel-primary">
            <div class="panel-heading"><strong><span class="glyphicon glyphicon-th" style="margin-right: 8px;"></span> Dashboard</strong></div>
            <div class="panel-body" >   
              <div class="row">
                  <ul class="nav nav-boxed nav-justified">
                    <li>

                    <a href ng-style="myDetails &&{'background-color':'#eeeeee'}" ng-click="hideShow('myDetails')"><i class="color-primary fa fa-user"></i>My Details</a>
                      
                    </li>
                    <li><a href ng-style="mySchedule &&{'background-color':'#eeeeee'}" ng-click="hideShow('myschedule')"><i class=" color-primary glyphicon glyphicon-hand-up"></i> My Attendance</a></li>
                    <li><a href ng-style="mySchedule2 &&{'background-color':'#eeeeee'}" ng-click="hideShow('myschedule2')"><i class=" color-primary glyphicon glyphicon-calendar"></i> My Schedule List</a></li>
                    <li><a href ng-style="leaveRequest &&{'background-color':'#eeeeee'}" ng-click="hideShow('leaverequest')"><i class="color-primary fa fa-external-link-square"></i>Leave Request</a></li>
                    <li><a href ng-style="scheduleRequest &&{'background-color':'#eeeeee'}" ng-click="hideShow('schedulerequest')"><i class="color-primary fa fa-bookmark"></i> Schedule Request</a></li>
                    <li><a href ng-style="requestStatus &&{'background-color':'#eeeeee'}" ng-click="hideShow('requeststatus')"><i class="color-primary fa fa-reply-all"></i>Request Status</a></li>
                    <div style="visibility : hidden ">
                      <li><a href="javascript:;"><i class="color-primary fa fa-money" ></i>Current Payslip </a></li>
                    </div>
                  </ul>
                
              </div>
              <br>
              <div class="row">
                <div class="col-md-12">
                 <div class="col-md-4">
                 </div>
                 <div class="nav nav-boxed nav-justified">
                  <span><img ng-src={{admin.logo}} class="img-responsive"></img></span>
                </div>    
              </div>
            </div>
          </div>

        </div>


        <div ng-if="myDetails" >
          <section data-ng-include="'views/dashboard/profilDashboard.html'"></section>

        </div>

        <!-- MY DETAILS -->
        <div ng-if="mySchedule" >
         <section data-ng-include="'views/dashboard/myScheduleDashboard.html'"></section>

       </div>

        <!-- MY SCHEDULE LIST -->
        <div ng-if="mySchedule2" >
         <section data-ng-include="'views/dashboard/new_scheduleList.html'"></section>
       </div>

       <!--   LEAVE REQUEST -->
       <div ng-if="leaveRequest" >
         <section data-ng-include="'views/dashboard/leaveRequestDashboard.html'"> </section>

       </div>

       <!-- SCHEDULE LIST -->
       <div ng-if="scheduleRequest">
         <section data-ng-include="'views/dashboard/scheduleReqDashboard.html'" ></section>

       </div>

       <div ng-if="requestStatus">
         <section data-ng-include="'views/dashboard/requestStatusDashboard.html'" ></section> 
       </div>

      <!--  <div>
         <section data-ng-include="'views/dashboard/timeInTimeOut.html'" ></section> 
       </div>

       <div>
         <section data-ng-include="'views/dashboard/lateRequest.html'" ></section> 
       </div>

       <div>
       <section data-ng-include="'views/dashboard/earlyOutRequest.html'" ></section> 
       </div>
     -->

   </div>
 </div>
</div>





