
<!-- ///////////////////////////////////DEDUCTION///////////////////////////////////////////////////////////////////////////////			 -->					

<div class="">
	<div class="">
		<div class="col-md-2" ng-controller="MenuCtrlDashboard">

		</div>

		<!-- form insert deducry -->
		<div class="col-md-10" ng-controller="deductionPersonalCtrl as deduc">
			<div class="panel panel-primary">
				<div class="panel-heading"><strong><span class="glyphicon glyphicon-th" style="margin-right: 8px;"> </span> Deduction Loans</strong></div>
				<span class="space space-sm"></span>

				<div class="col-sm-12">

				</div>
				<div class="panel-body">		
					<form name="myForm" class="form-horizontal form-validation">
						
						
						<div class="form-group">
							<div class="col-sm-12">

								<div class="from-group">
									<div class="row">
										<div class="col-sm-4">
											<form>
												<button class="btn btn-gap-v btn-success"  
												ng-click="deduc.handler.openmodal('add')"
												>
												<!-- ng-show="deduc.handler.button('create')" -->
												Add
											</button>
											<span class="space space-sm"></span>
										<!-- 	<button type="button" 
											class="btn btn-gap-v btn-danger"   
											ng-click="deduc.handler.deldata(deduc.handler.check)"
											>
											 ng-show="deduc.handler.button('delete')" 
											Delete
										</button> -->
									</form>
								</div>
							</div>
						</div>






						<table class="table table-bordered table-striped table-responsive">
							<thead>
								<tr>

									<th ng-repeat='a in deduc.handler.headers' width='{{a.width}}'>
										<div class="th">
											{{a.name}}
											<span class="fa fa-angle-up"
											data-ng-if="a.sort"
											data-ng-click="deduc.handler.setactiveheader(a,true)"
											data-ng-class="{active: $index == deduc.handler.activeheader.id && deduc.handler.activeheader.order == true}">
										</span>
										<span class="fa fa-angle-down"
										data-ng-if="a.sort"
										data-ng-click="deduc.handler.setactiveheader(a,false)"
										data-ng-class="{active: $index == deduc.handler.activeheader.id && deduc.handler.activeheader.order == false}">
									</span>
								</div>
							</th>
						</tr>
					</thead>
					<tbody >
						<tr>
							
							<td>
								<h5><b>Loan Date </b></h5><br>
								<h5><b>Principal Amount</b></h5><br>								
								<h5><b>Interest</b></h5><br>								
								<h5><b>Total Obligation</b></h5><br>								
								<h5><b>Less Previous Payments</b></h5><br>								
								<h5><b>Net Obligation</b></h5><br><br><br>								
								<h5><b>Monthly Amortization</b></h5><br>								
								<h5><b>Per Cutoff Amortization</b></h5><br>								
								<h5><b>Start Deduction</b></h5><br>
								<h5><b>Total Payment</b></h5><br>	
								<div style="border-top: 3px double #8c8b8b;"></div><br>								
								<h5><b>Balance</b></h5><br>							
							</td>
							
							<td>
								<div ng-repeat="a in deduc.handler.maindataDeduction">
									<div ng-if="a.type_loan=='sss'">
										<h5><b>{{a.created_at}}</b></h5><br>
										<h5><b>{{a.principal_amount}}</b></h5><br>								
										<h5><b>{{a.interest}}</b></h5><br>								
										<h5><b>{{a.total_obligation}}</b></h5><br>								
										<h5><b>{{a.less_payment}}</b></h5><br>								
										<h5><b>{{a.net_obligation}}</b></h5><br><br><br>								
										<h5><b>{{a.monthly_amortization}}</b></h5><br>								
										<h5><b>{{a.per_cutoff_amortization}}</b></h5><br>								
										<h5><b>{{a.start_deduction}}</b></h5><br>
										<h5><b>{{a.total_payment}}</b></h5><br>	
										<div style="border-top: 3px double #8c8b8b;"></div><br>								
										<h5><b>{{a.balance}}</b></h5><br>								


									</div>	
								</div>

							</td>

							<td>
								<div ng-repeat="a in deduc.handler.maindataDeduction">
									<div ng-if="a.type_loan=='hdmf'">
										<h5><b>{{a.created_at}}</b></h5><br>
										<h5><b>{{a.principal_amount}}</b></h5><br>								
										<h5><b>{{a.interest}}</b></h5><br>								
										<h5><b>{{a.total_obligation}}</b></h5><br>								
										<h5><b>{{a.less_payment}}</b></h5><br>								
										<h5><b>{{a.net_obligation}}</b></h5><br><br><br>								
										<h5><b>{{a.monthly_amortization}}</b></h5><br>								
										<h5><b>{{a.per_cutoff_amortization}}</b></h5><br>								
										<h5><b>{{a.start_deduction}}</b></h5><br>
										<h5><b>{{a.total_payment}}</b></h5><br>	
										<div style="border-top: 3px double #8c8b8b;"></div><br>								
										<h5><b>{{a.balance}}</b></h5><br>								


									</div>	
								</div>

							</td>

							<td>
								<div ng-repeat="a in deduc.handler.maindataDeduction">
									<div ng-if="a.type_loan=='hmo'">
										<h5><b>{{a.created_at}}</b></h5><br>
										<h5><b>{{a.principal_amount}}</b></h5><br>								
										<h5><b>{{a.interest}}</b></h5><br>								
										<h5><b>{{a.total_obligation}}</b></h5><br>								
										<h5><b>{{a.less_payment}}</b></h5><br>								
										<h5><b>{{a.net_obligation}}</b></h5><br><br><br>								
										<h5><b>{{a.monthly_amortization}}</b></h5><br>								
										<h5><b>{{a.per_cutoff_amortization}}</b></h5><br>								
										<h5><b>{{a.start_deduction}}</b></h5><br>
										<h5><b>{{a.total_payment}}</b></h5><br>	
										<div style="border-top: 3px double #8c8b8b;"></div><br>								
										<h5><b>{{a.balance}}</b></h5><br>								


									</div>	
								</div>

							</td>


							<td>
								<div ng-repeat="a in deduc.handler.maindataDeduction">
									<div ng-if="a.type_loan=='cash_advance'">
										<h5><b>{{a.created_at}}</b></h5><br>
										<h5><b>{{a.principal_amount}}</b></h5><br>								
										<h5><b>{{a.interest}}</b></h5><br>								
										<h5><b>{{a.total_obligation}}</b></h5><br>								
										<h5><b>{{a.less_payment}}</b></h5><br>								
										<h5><b>{{a.net_obligation}}</b></h5><br><br><br>								
										<h5><b>{{a.monthly_amortization}}</b></h5><br>								
										<h5><b>{{a.per_cutoff_amortization}}</b></h5><br>								
										<h5><b>{{a.start_deduction}}</b></h5><br>
										<h5><b>{{a.total_payment}}</b></h5><br>	
										<div style="border-top: 3px double #8c8b8b;"></div><br>								
										<h5><b>{{a.balance}}</b></h5><br>								


									</div>	
								</div>

							</td>





						</tr>
					</tbody>
				</table>



				

		</div>
	</div>




</form>					
</div>


</div>

</div>

</div>


<!--Modal Add Employment Status-->
<script type="text/ng-template" id="addmodal">
	<div class="modal-header">
		<h4><i class="fa fa-save" style="margin-right: 8px;" ></i>Add Deduction</h4>
	</div>
	<div class="modal-body">
		<form name="myForm"  class="form form-validation" ng-submit="myForm.$valid && submit(addmodal.form)">	
			<div class='form-group'>
				<fieldset>
					<div class="col-md-5">
						<label for="">Select Deduction</label><span class="space space-sm"></span><label style ="color:red">*</label>
					</div>
					<div class="col-md-7">
						<input type="text" name="name" class="form-control" autocomplete="off" ng-model="addmodal.form.title" placeholder="Name" required/>
						<span style="color:red" ng-show="myForm.name.$dirty && myForm.name.$invalid" >
							<span ng-show="myForm.name.$error.required">Name is required.</span>
						</span>
					</div>
				</fieldset>
			</div>

			<div class='form-group'>
				<fieldset>
					<div class="col-md-5">
						<label for="">Loan Date</label><span class="space space-sm"></span><label style ="color:red">*</label>
					</div>
					<div class="col-md-7">
						<input type="date" name="loan_date" class="form-control" autocomplete="off" ng-model="addmodal.form.loan_date" required/>
						<span style="color:red" ng-show="myForm.loan_date.$dirty && myForm.loan_date.$invalid">
							<span ng-show="myForm.loan_date.$error.required">Loan Date is required.</span>
						</span>
					</div>
				</fieldset>
			</div>


			<div class='form-group'>
				<fieldset>
					<div class="col-md-5">
						<label for="">Per Cut-off Amortization</label><span class="space space-sm"></span><label style ="color:red">*</label>
					</div>
					<div class="col-md-7">
						<input type="number" name="perCutOff" class="form-control" autocomplete="off" ng-model="addmodal.form.perCutOff" placeholder="00.00" required/>
						<span style="color:red" ng-show="myForm.perCutOff.$dirty && myForm.perCutOff.$invalid">
							<span ng-show="myForm.perCutOff.$error.required">Per Cut-Off is required.</span>
						</span>
					</div>
				</fieldset>
			</div>

			<div class='form-group'>
				<fieldset>
					<div class="col-md-5">
						<label for="">Start of Deduction</label><span class="space space-sm"></span><label style ="color:red">*</label>
					</div>
					<div class="col-md-7">
						<input type="date" name="start_deduction" class="form-control" autocomplete="off" ng-model="addmodal.form.start_deduction" required/>
						<span style="color:red" ng-show="myForm.start_deduction.$dirty && myForm.start_deduction.$invalid">
							<span ng-show="myForm.start_deduction.$error.required">Start Deduction is required.</span>
						</span>
					</div>
				</fieldset>
			</div>

			<div class='form-group'>
				<fieldset>
					<div class="col-md-5">
						<label for="">Principal Amount</label><span class="space space-sm"></span><label style ="color:red">*</label>
					</div>
					<div class="col-md-7">
						<input type="number" name="principal_amount" class="form-control" autocomplete="off" ng-model="addmodal.form.principal_amount" placeholder="00.00" required/>
						<span style="color:red" ng-show="myForm.principal_amount.$dirty && myForm.principal_amount.$invalid">
							<span ng-show="myForm.principal_amount.$error.required">Principal Amount is required.</span>
						</span>
					</div>
				</fieldset>
			</div>

			<div class='form-group'>
				<fieldset>
					<div class="col-md-5">
						<label for="">Interest</label><span class="space space-sm"></span><label style ="color:red">*</label>
					</div>
					<div class="col-md-7">
						<input type="number" name="interest" class="form-control" autocomplete="off" ng-model="addmodal.form.interest" placeholder="00.00" required/>
						<span style="color:red" ng-show="myForm.interest.$dirty && myForm.interest.$invalid">
							<span ng-show="myForm.interest.$error.required">Interest is required.</span>
						</span>
					</div>
				</fieldset>
			</div>

			<div class='form-group'>
				<fieldset>
					<div class="col-md-5">
						<label for="">Total Obligation</label><span class="space space-sm"></span><label style ="color:red">*</label>
					</div>
					<div class="col-md-7">
						<input type="number" name="total_obligation" class="form-control" autocomplete="off" ng-model="addmodal.form.total_obligation" placeholder="00.00" required/>
						<span style="color:red" ng-show="myForm.total_obligation.$dirty && myForm.total_obligation.$invalid">
							<span ng-show="myForm.total_obligation.$error.required">Total Obligation is required.</span>
						</span>
					</div>
				</fieldset>
			</div>

			<div class='form-group'>
				<fieldset>
					<div class="col-md-5">
						<label for="">Less : Previous Payments</label><span class="space space-sm"></span><label style ="color:red">*</label>
					</div>
					<div class="col-md-7">
						<input type="number" name="less" class="form-control" autocomplete="off" ng-model="addmodal.form.less" placeholder="00.00" required/>
						<span style="color:red" ng-show="myForm.less.$dirty && myForm.less.$invalid">
							<span ng-show="myForm.less.$error.required">Less is required.</span>
						</span>
					</div>
				</fieldset>
			</div>

			<div style="border-top: 3px double #8c8b8b;"></div><br>

			<div class='form-group'>
				<fieldset>
					<div class="col-md-5">
						<label for="">Net Obligation</label><span class="space space-sm"></span><label style ="color:red">*</label>
					</div>
					<div class="col-md-7">
						<input type="number" name="net_obligation" class="form-control" autocomplete="off" ng-model="addmodal.form.net_obligation" placeholder="00.00" required/>
						<span style="color:red" ng-show="myForm.net_obligation.$dirty && myForm.net_obligation.$invalid">
							<span ng-show="myForm.net_obligation.$error.required">Less is required.</span>
						</span>
					</div>
				</fieldset>
			</div>



			<fieldset>
				<div class="col-sm-3">
				</span><label style ="color:red">*</label><span class="space space-xs"><label><small>Required field</small></label>
				</div>										
			</fieldset>	
		</form>	
		<div class="modal-footer">
			<button type="submit" class="btn btn-success" ng-disabled="myForm.$invalid"  ng-click="addmodal.save()">Save</button>
			<button class="btn btn-danger" ng-click="addmodal.close()">Cancel</button>
		</div>
	</div>
</script>


<script type="text/ng-template" id="modaledit">
	<div class="modal-header">
		<h4><i class="fa fa-pencil-square-o" style="margin-right: 8px;" ></i>Edit Employment Status</h4>
	</div>
	<div class="modal-body">
		<form name="myForm"  class="form form-validation" ng-submit="myForm.$valid && submit(formData)">	
			<div class='form-group'>	
				<fieldset>
					<div class="col-md-2">
						<label for="">Name</label><span class="space space-sm"></span><label style ="color:red">*</label>
					</div>
					<div class="col-md-8">
						<input 	type="text"
						class="form-control"
						name="title" 
						ng-disabled="!modaledit.button"  
						ng-model="modaledit.form.title" 
						autocomplete="off"
						required
						/>
						<span style="color:red" ng-show="myForm.title.$dirty && myForm.title.$invalid">
							<span ng-show="myForm.title.$error.required">Title is required.</span>
						</span>
					</div>
				</fieldset>
			</div>

			<div class='form-group'>	
				<fieldset>
					<div class="col-md-2">
						<label for="">Amount</label><span class="space space-sm"></span><label style ="color:red">*</label>
					</div>
					<div class="col-md-8">
						<input 	type="text"
						class="form-control"
						name="amount" 
						ng-disabled="!modaledit.button"  
						ng-model="modaledit.form.amount" 
						autocomplete="off"
						required
						/>
						<span style="color:red" ng-show="myForm.amount.$dirty && myForm.amount.$invalid">
							<span ng-show="myForm.amount.$error.required">Title is required.</span>
						</span>
					</div>
				</fieldset>
			</div>
			<fieldset>
				<div class="col-sm-3">
				</span><label style ="color:red">*</label><span class="space space-xs"><label><small>Required field</small></label>
				</div>										
			</fieldset>	
		</form>
		<div class="modal-footer" >
			<button type="submit" class="btn btn-success" ng-click="modaledit.button=true;">Edit</button>
			<button type="submit" class="btn btn-success"  ng-disabled="myForm.$invalid" ng-click="modaledit.save();">Save</button>
			<button class="btn btn-danger" ng-click="modaledit.close()">Cancel</button>
		</div>
		<div class="modal-footer">
			<button class="btn btn-danger" ng-click="modaledit.close()">Close</button>
		</div>
	</div>
</script>	