
		<div class="page page-costum">
			<section class="panel panel-primary table-dynamic" ng-controller="costumCtrl">
				<div class="panel-heading"><strong><span class="glyphicon glyphicon-th" style="margin-right: 8px;"></span> Custom Roles Menu</strong></div>
					<div class='panel-body'>
						<div class="form-group">
							<div class="row">
								<div class="col-md-6">
									<form>
										<button class="btn btn-gap-v btn-success" 
												ng-click="open('lg')"
												ng-show="button('create')"> 
												Add 
										</button>
										<span class="space space-sm"></span>
										<button type="button" 
												class="btn btn-gap-v btn-danger" 
												ng-click="remove(check.currentPageStores)"
												ng-show="button('delete')">
												Delete
										</button>
									</form>
								</div>
							</div>
						</div>
						<div class="form-group">
							<div class="row">
								<div class="col-sm-4 col-xs-6">
									<form>
										<input type="text"
											   placeholder="Search..."
											   class="form-control"
											   data-ng-model="searchKeywords"
											   data-ng-keyup="search()">
									</form>
								</div>
								<div class="col-sm-3 col-xs-6 filter-result-info">
									<span>
										Showing {{filteredStores.length}}/{{stores.length}} entries
									</span>              
								</div>
							</div>
						</div><br>
						<table class="table table-bordered table-striped table-responsive">
							<thead>
								<tr>
									<th style="width:1%"><div class="th">
									</div></th>
									<th style="width:50%"><div class="th">
										User Role
										<span class="fa fa-angle-up"
											  data-ng-click=" order('role_name') "
											  data-ng-class="{active: row == 'role_name'}"></span>
										<span class="fa fa-angle-down"
											  data-ng-click=" order('-role_name') "
											  data-ng-class="{active: row == '-role_name'}"></span>
									</div></th>
								</tr>
							</thead>
							<tbody>
								<tr data-ng-repeat="store in currentPageStores">
									<td><input type="checkbox"  checklist-model="check.currentPageStores"  checklist-value="store.role_id" ng-model="store.selected"></td>
									<td ng-click="edit('lg',store)" style="cursor:pointer">{{store.role_name}}</td>
								</tr>
							
							</tbody>	
						</table>
						<footer class="table-footer">
							<div class="row">
								<div class="col-md-6 page-num-info">
									<span>
										Show 
										<select data-ng-model="numPerPage"
												data-ng-options="num for num in numPerPageOpt"
												data-ng-change="onNumPerPageChange()">
										</select> 
										entries per page
									</span>
								</div>
								<div class="col-md-6 text-right pagination-container">
									<pagination class="pagination-sm"
												ng-model="currentPage"
												total-items="filteredStores.length"
												max-size="4"
												ng-change="select(currentPage)"
												items-per-page="numPerPage"
												rotate="false"
												previous-text="&lsaquo;" next-text="&rsaquo;"
												boundary-links="true"></pagination>
								</div>
							</div>
						</footer>
					</div>
			</section>
					
					
			<!--Modal Role -->
			<script type="text/ng-template" id="modalRole.html">
				<div class="modal-header">
					<h4><i class="fa fa-save" style="margin-right: 8px;" ></i>Add User Role</h4>
				</div>
				<div class="modal-body">
					<form name="form_name" class="form-horizontal form-validation">
						<div class="form-group">
							<fieldset>
								<div class="col-md-3">
									 <label for="">Based User Role</label>
								</div>
								<div class="col-sm-5">
									<select class="form-control"  
											ng-model="user.data"
											ng-options="siz as siz.role_name for siz in sizes"
											ng-change="update()"
											>
											<option value="">-- Select --</option>
									</select>
								</div>
							</fieldset>
						</div>
						<div class="form-group">
							<fieldset>
								<div class="col-md-3">
									<label for="">User Role Name</label><span class="space space-sm"></span><label style ="color:red">*</label>
								</div>
								<div class="col-md-5">
									<input type="text" name="firstName" class="form-control" placeholder="Name"   data-ng-model="user.role_name" required="required" />
								</div>
							</fieldset>
						</div>
						<hr>
						<div class="form-group">
							<fieldset>
								<div class="col-md-3">
									<label class="action">Employee Actions</label>
								</div>
								<div class="col-md-3" data-ng-repeat="check in checks">
									<div>
										<label class="ui-checkbox">
											<input type="checkbox" ng-model="check.add_employee" ng-true-value="1" ng-false-value="0" ng-checked="check.add_employee == 1"><span>Add Employee</span>
										</label>
									</div>
								</div>
								<div class="col-md-4" data-ng-repeat="check in checks">													
									<label class="ui-radio"><input name="local"   type="radio" value="local"  ng-model="check.localit"><span> Local</span></label>
									<label class="ui-radio"><input name="expat" type="radio" value="expat"  ng-model="check.localit"><span> Expat</span></label>
									<!--
									<label class="ui-radio"><input name="all" type="radio" value="all"  ng-model="check.localit"><span> Both</span></label>		
									-->
								</div>
							</fieldset>
						</div>
						<div class="form-group">
							<fieldset>
								<div class="col-md-3">
								</div>
								<div class="col-md-3" data-ng-repeat="check in checks">	
									<label class="ui-checkbox">
										<input type="checkbox" ng-model="check.terminate" ng-true-value="1" ng-false-value="0" ng-checked="check.terminate == 1"><span>Terminate Employment</span>
									</label>
								</div>
							</fieldset>
						</div>
						<div class="form-group" >
							<div class="col-sm-3">
								<label for="Group">Data Group Permission</label>
							</div>
						</div>
						<div class="form-group">
							<div class="col-md-12">
								<div class="ui-tab-container">	
									<tabset class="ui-tab">
										<tab heading={{check.role_name}} data-ng-repeat="check in checks">
											<fieldset data-ng-repeat="ch in check.form">
												<div class="col-sm-4" >
													<label>{{ch.form_name}}</label>
												</div>
												<div class="col-sm-8">
													<label class="ui-checkbox"><input type="checkbox" ng-model="ch.action.read"   ng-true-value="1" ng-false-value="0" ng-checked="ch.action.read == 1">  <span>Read</span></label>
													<label class="ui-checkbox"><input type="checkbox" ng-model="ch.action.update" ng-true-value="1" ng-false-value="0" ng-checked="ch.action.update == 1"><span>Update</span></label>
													<label class="ui-checkbox"><input type="checkbox" ng-model="ch.action.create" ng-true-value="1" ng-false-value="0" ng-checked="ch.action.create == 1"><span>Create</span></label>
													<label class="ui-checkbox"><input type="checkbox" ng-model="ch.action.delete" ng-true-value="1" ng-false-value="0" ng-checked="ch.action.delete == 1"><span>Delete</span></label>
												</div>
											</fieldset>
										</tab>
									</tabset>
								</div>                    
							</div>
						</div>


					</form>
				</div>
				<div class="form-group">
					<fieldset>
						<div class="col-sm-3">
							</span><label style ="color:red">*</label><span class="space space-xs"><label><small>Required field</small></label>
						</div>										
					</fieldset>
				</div>
				<div class="modal-footer">
					<button class="btn btn-success" ng-click="save()">Save</button>
					<button class="btn btn-danger" ng-click="cancel()">Cancel</button>
				</div>
			</script>
									
			<!--Modal Edit Role -->
			<script type="text/ng-template" id="editRole.html">
				<div class="modal-header">
					<h4><i class="fa fa-pencil" style="margin-right: 8px;" ></i>Edit User Role</h4>
				</div>
				<div class="modal-body">
					<form name="form_name" class="form-horizontal form-validation">
							<div class="form-group">
									<fieldset>
										<div class="col-md-3">
											 <label for="">Based User Role</label>
										</div>
										<div class="col-sm-5">
											<select class="form-control"
													ng-model="user.data"
													ng-options="siz as siz.role_name for siz in sizes"
													ng-change="update()"
													ng-disabled = "!button"
													>
											</select>
										</div>
									</fieldset>
							</div>
							<div class="form-group">
									<fieldset>
										<div class="col-md-3">
											<label for="">User Role Name</label><span class="space space-sm"></span><label style ="color:red">*</label>
										</div>
										<div class="col-md-5">
											<input type="text" name="firstName" class="form-control" placeholder="Name"   ng-disabled="!button" data-ng-model="user.role_name" required="required" />
										</div>
									</fieldset>
							</div>
							<hr>
							<div class="form-group">
								<fieldset>
									<div class="col-md-3">
										<label class="action">Employee Actions</label>
									</div>
									<div class="col-md-3" data-ng-repeat="check in checks">
										<div>
											<label class="ui-checkbox">
												<input type="checkbox" ng-model="check.add_employee" ng-true-value="1" ng-false-value="0" ng-checked="check.add_employee == 1" ng-disabled="!button"><span>Add Employee</span>
											</label>
										</div>
									</div>
									<div class="col-md-4" data-ng-repeat="check in checks">
										<label class="ui-radio"><input name="local"   type="radio" value="local"  ng-model="check.localit" ng-disabled="!button"><span> Local</span></label>
										<label class="ui-radio"><input name="expat" type="radio" value="expat"  ng-model="check.localit" ng-disabled="!button"><span> Expat</span></label>
										<label class="ui-radio"><input name="all" type="radio" value="all"  ng-model="check.localit" ng-disabled="!button"><span> Both</span></label>		
									</div>
								</fieldset>
							</div>
							<div class="form-group">
								<fieldset>
									<div class="col-md-3">
									</div>
									<div class="col-md-3" data-ng-repeat="check in checks">	
										<label class="ui-checkbox">
											<input type="checkbox" ng-model="check.terminate" ng-true-value="1" ng-false-value="0" ng-checked="check.terminate == 1" ng-disabled="!button"><span>Terminate Employment</span>
										</label>
									</div>
								</fieldset>
							</div>
							<div class="form-group" >
								<div class="col-sm-3">
									<label for="Group">Data Group Permission</label>
								</div>
							</div>
							<div class="form-group">
								<div class="col-md-12">
									<div class="ui-tab-container">
											<tabset class="ui-tab">
												<tab heading={{check.role_name}} data-ng-repeat="check in checks">
													<fieldset data-ng-repeat="ch in check.form">
														<div class="col-sm-4" >
															<label>{{ch.form_name}}</label>
														</div>
														<div class="col-sm-8">
															<label class="ui-checkbox"><input type="checkbox" ng-model="ch.action.read" ng-true-value="1" ng-false-value="0" ng-checked="ch.action.read == 1" ng-disabled="!button"><span>Read</span></label>
															<label class="ui-checkbox"><input type="checkbox" ng-model="ch.action.update" ng-true-value="1" ng-false-value="0" ng-checked="ch.action.update == 1" ng-disabled="!button"><span>Update</span></label>
															<label class="ui-checkbox"><input type="checkbox" ng-model="ch.action.create" ng-true-value="1" ng-false-value="0" ng-checked="ch.action.create == 1" ng-disabled="!button"><span>Create</span></label>
															<label class="ui-checkbox"><input type="checkbox" ng-model="ch.action.delete" ng-true-value="1" ng-false-value="0" ng-checked="ch.action.delete == 1" ng-disabled="!button"><span>Delete</span></label>
														</div>
													</fieldset>
												</tab>
											</tabset>
									</div>                    
								</div>
							</div>

							<div class="form-group">
								<div class="col-md-12">
									<div class="ui-tab-container">
											<tabset class="ui-tab">
											<h4>Salary Roles</h4>
												<tab data-ng-repeat="check in checks" ng-class="'background' : '#ffffff'">
													<fieldset data-ng-repeat="ch in check.formSalary">
														<div class="col-sm-4" >
															<label>{{ch.form_name}}</label>
														</div>
														<div class="col-sm-8">
															<label class="ui-checkbox"><input type="checkbox" ng-model="ch.action.read" ng-true-value="1" ng-false-value="0" ng-checked="ch.action.read == 1" ng-disabled="!button"><span>Read</span></label>
															<label class="ui-checkbox"><input type="checkbox" ng-model="ch.action.update" ng-true-value="1" ng-false-value="0" ng-checked="ch.action.update == 1" ng-disabled="!button"><span>Update</span></label>
															<label class="ui-checkbox"><input type="checkbox" ng-model="ch.action.create" ng-true-value="1" ng-false-value="0" ng-checked="ch.action.create == 1" ng-disabled="!button"><span>Create</span></label>
															<label class="ui-checkbox"><input type="checkbox" ng-model="ch.action.delete" ng-true-value="1" ng-false-value="0" ng-checked="ch.action.delete == 1" ng-disabled="!button"><span>Delete</span></label>
														</div>
													</fieldset>
												</tab>
											</tabset>
									</div>                    
								</div>
							</div>
					</form>
				</div>
				<div class="form-group">
					<fieldset>
						<div class="col-sm-3">
							</span><label style ="color:red">*</label><span class="space space-xs"><label><small>Required field</small></label>
						</div>										
					</fieldset>
				</div>
				<div class="modal-footer">
					<button type="submit" class="btn btn-success" ng-hide="button" ng-click="button=true; edit();">Edit</button>
					<button type="submit" class="btn btn-success" ng-show="button"; ng-click="save();">Save</button>
					<button class="btn btn-danger" ng-click="cancel()">Cancel</button>
				</div>
			</script>


		</div>