	
<div class="page page-table" ng-controller="salaryCutOffController as salcut">

	<section class="panel panel-primary table-dynamic">
		<div class="panel-heading"><strong><span class="glyphicon glyphicon-th" style="margin-right: 8px;"></span>Adjustment </strong></div>
		<div class="panel-body">	
			<form name="myForm" class="form-horizontal form-validation">
				<div class="form-group">
					<div class="col-sm-2">
						<label>Name</label><span class="space space-sm"></span><label style ="color:red">*</label>
					</div>
					<div class="col-sm-2">
						<input 	type="text"
						placeholder="Type for hint . ."
						class="form-control"
						name="leave"
						data-ng-model="salcut.handler.form.employee_id"
						typeahead="(address.name) for address in salcut.handler.getLocation($viewValue)" 
						typeahead-loading="loadingLocations"
						typeahead-min-length="4"
						typeahead-wait-ms="400"
						typeahead-on-select="salcut.handler.onSelect($item, $model, $label)"
						
						/>
						<!-- ng-disabled="salcut.handler.hide" -->
					</div>
					<div class="col-sm-2">
						<label>Select Cut Off Period</label>
					</div>
					<div class="col-sm-2">	
						<select class='form-control' 
						ng-model="salcut.handler.form.cutoff_date" 
						ng-options="sal.periode as sal.periode for sal in salcut.handler.dataCutOff"
						required>
						<option value=""> --  All -- </option>
					</select>
				</div>
			</div>
			<div class="form-group">
				<div class="col-sm-2">
					<label>Department</label>
				</div>
				<div class="col-sm-2">
					<select class='form-control' 
					ng-model="salcut.handler.form.department" 
					ng-options="job.department_id as job.department_name for job in salcut.handler.depart" required>
					<option value=""> --  All -- </option>
				</select>
			</div>
			
			
		</div>
		<br>
		<div class="form-group">
			<fieldset>
				<div class="col-sm-3">
					<label style ="color:red">*</label><span class="space space-xs"></span><label><small>Required field</small></label>
				</div>										
			</fieldset>
		</div>
		<hr>
		<div class="form-group">										
			<div class="col-sm-6">
				<form>
					<button type="submit" 
					class="btn btn-success"  
					ng-click="salcut.handler.searchData(salcut.handler.form)">
					Search
				</button>
			</form>
		</div>
	</div>
</form>
</div>
</section>


<!-- ## TABLE ATTEDANCE  CUTT OFF ## -->

<section class="panel panel-primary table-dynamic">
	<div class="panel-body">
		<div class="table-filters" >
			<div class="row">
				<div class="form-group">										
					<div class="col-sm-6">
						<form>
							<!-- <button type="submit" 
							class="btn btn-success"  
							ng-click="salcut.handler.view()">
							Search
						</button> -->
					</form>
				</div>
			</div>


			<div class="col-sm-4"></div>
		</div>
	</div>

	<div data-ng-repeat="a in salcut.handler.getdata() | orderBy: salcut.handler.activeheader.sort : salcut.handler.activeheader.order track by [$index]">

		<div class="col-md-12" style="border-style: solid;margin-bottom: 20px">


			<form name="myForm" class="form-horizontal form-validation">

				<button type="submit" 
				class="btn btn-success"  
				ng-click="salcut.handler.saveData(a)" style="margin-top: 15px; margin-bottom: 15px;">
				Save
			</button>

			
			<table class="table table-bordered table-striped table-responsive">
				<thead>
					<tr>
						<th>
							<div class="th">
								Name		
							</div>
						</th>
						<th>
							<div class="th">
								Department		
							</div>
						</th>
						<th>
							<div class="th">
								Cut Off Date		
							</div>
						</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>{{a.employee_name}}</td>
						<td>{{a.department_name}}</td>
						<td>{{a.cutoff_date | date:'yyyy-MM-dd' }}</td>


					</tr>
				</tbody>
			</table>


			


			<div class="form-group">
				<fieldset>
					<div class="col-sm-3">
						<h4>Salary : </h4>
					</div>

					<div class="col-sm-3">
						<h4>Current Amount : </h4>

					</div>

					<div class="col-sm-3">
						<h4>Adjusted Amount : </h4>

					</div>

					<div class="col-sm-3">
						<h4>Remarks : </h4>

					</div>	
				</fieldset>

			</div>

			<div class="form-group">
				<div class="col-sm-3">
					<h5>Basic : </h5>
				</div>

				<div class="col-sm-3">
					<input type="number"  class="form-control" ng-model="a.basic" ng-disabled="!sala.handler.button"/>

				</div>

				<div class="col-sm-3">
					<input type="number"  class="form-control" ng-model="a.adjust_salary_basic"/>

				</div>

				<div class="col-sm-3">
					<input type="text"  class="form-control" ng-model="a.remarks_basic"/>					
				</div>
			</div>

			<div class="form-group">
				<div class="col-sm-3">
					<h5>Ecola : </h5>
				</div>

				<div class="col-sm-3">
					<input type="number"  class="form-control" ng-model="a.ecola" ng-disabled="!sala.handler.button"/>					

				</div>

				<div class="col-sm-3">
					<input type="number"  class="form-control" ng-model="a.adjust_salary_ecola" />

				</div>

				<div class="col-sm-3">
					<input type="text"  class="form-control" ng-model="a.remarks_ecola" />					
				</div>
			</div>


			<div class="form-group">
				<fieldset>
					<div class="col-sm-3">
						<h4>Deduction Contributions : </h4>
					</div>

				</fieldset>

			</div>

			<div class="form-group">
				<div class="col-sm-3">
					<h5>SSS : </h5>
				</div>

				<div class="col-sm-3">
					<input type="number"  class="form-control" ng-model="a.sss_cont" ng-disabled="!sala.handler.button"/>	

				</div>

				<div class="col-sm-3">
					<input type="number"  class="form-control" ng-model="a.adjust_contribute_sss" />

				</div>

				<div class="col-sm-3">
					<input type="text"  class="form-control" ng-model="a.remarks_contribute_sss"/>					
				</div>
			</div>

			<div class="form-group">
				<div class="col-sm-3">
					<h5>Philhealth : </h5>
				</div>

				<div class="col-sm-3">
					<input type="number"  class="form-control" ng-model="a.philhealth_cont" ng-disabled="!sala.handler.button"/>					


				</div>

				<div class="col-sm-3">
					<input type="number"  class="form-control" ng-model="a.adjust_contribute_philhealth" />					


				</div>

				<div class="col-sm-3">
					<input type="text"  class="form-control" ng-model="a.remarks_contribute_philhealth" />					

				</div>
			</div>

			<div class="form-group">
				<div class="col-sm-3">
					<h5>HDMF : </h5>
				</div>

				<div class="col-sm-3">
					<input type="number"  class="form-control" ng-model="a.hdmf_cont" ng-disabled="!sala.handler.button"/>					


				</div>

				<div class="col-sm-3">
					<input type="number"  class="form-control" ng-model="a.adjust_contribute_hdmf" />					


				</div>

				<div class="col-sm-3">
					<input type="text"  class="form-control" ng-model="a.remarks_contribute_hdmf"/>					

				</div>
			</div>



			<div class="form-group">
				<fieldset>
					<div class="col-sm-3">
						<h4>Deduction Loans : </h4>
					</div>

					<div class="col-sm-3">
						<!-- <h4>Current Amount : </h4> -->

					</div>

					<div class="col-sm-3">
						<!-- <h4>Adjusted Amount : </h4> -->

					</div>

					<div class="col-sm-3">
						<!-- <h4>Remarks : </h4> -->

					</div>	
				</fieldset>

			</div>

			<div class="form-group">
				<div class="col-sm-3">
					<h5>SSS Loan: </h5>
				</div>

				<div class="col-sm-3">
					<input type="number"  class="form-control" ng-model="a.sss_loan" ng-disabled="!sala.handler.button"/>					


				</div>

				<div class="col-sm-3">
					<input type="number"  class="form-control" ng-model="a.adjust_loan_sss" />					


				</div>

				<div class="col-sm-3">
					<input type="text"  class="form-control" ng-model="a.remarks_loan_sss"/>					

				</div>
			</div>

			<div class="form-group">
				<div class="col-sm-3">
					<h5>HDMF Loan: </h5>
				</div>

				<div class="col-sm-3">
					<input type="number"  class="form-control" ng-model="a.hdmf_loan" ng-disabled="!sala.handler.button"/>					


				</div>

				<div class="col-sm-3">
					<input type="number"  class="form-control" ng-model="a.adjust_loan_hdmf" />					


				</div>

				<div class="col-sm-3">
					<input type="text"  class="form-control" ng-model="a.remarks_loan_hdmf"/>					

				</div>
			</div>

			<div class="form-group">
				<div class="col-sm-3">
					<h5>HMO: </h5>
				</div>

				<div class="col-sm-3">
					<input type="number"  class="form-control" ng-model="a.hmo_loan" ng-disabled="!sala.handler.button"/>					


				</div>

				<div class="col-sm-3">
					<input type="number"  class="form-control" ng-model="a.adjust_loan_hmo" />					


				</div>

				<div class="col-sm-3">
					<input type="text"  class="form-control" ng-model="a.remarks_loan_hmo"/>					

				</div>
			</div>


		</div>
	</form>


</div>


<!-- <footer class="table-footer">
	<div class="row">
		<div class="col-md-6 page-num-info">	
			<span>
				Show 
				<select data-ng-model="salcut.handler.numPerPage"
				data-ng-options="num for num in salcut.handler.numPerPageOpt"
				data-ng-change="onNumPerPageChange()">
			</select> 
			entries per page
		</span>
	</div>
	<div class="col-md-6 text-right pagination-container">
		<pagination class="pagination-sm"
		ng-model="salcut.handler.currentPage"
		total-items="salcut.handler.filtered.length"
		max-size="4"
		ng-change="select(currentPage)"
		items-per-page="salcut.handler.numPerPage"
		rotate="false"
		></pagination>
	</div>
</div>
</footer>						 -->	
<!-- <form name="myForm" class="form-horizontal form-validation">
	<div class="form-group">										
		<div class="col-sm-6">
			<form>
				<button type="submit" 
				class="btn btn-success"  
				ng-disabled = "salcut.handler.cutoff_disabled" 
				ng-click="salcut.handler.cutOff()"
				ng-show="salcut.handler.button('read')">
				Cut Off
			</button>
		</form>
	</div>
</div>
</form> -->
</div>
</section>



</div>



<!-- TABLE HISTORY -->

<div class="page page-status">
	<section class="panel panel-primary table-dynamic" data-ng-controller="adjustmentSalaryCtrl as adHistory">
		<div class="panel-heading"><strong><span class="glyphicon glyphicon-th" style="margin-right: 8px;"></span>Adjustment History</strong></div>
		<div class="panel-body">
			<div class="from-group">
				<div class="row">
					<div class="col-sm-4">
						<form>
						
						<span class="space space-sm"></span>
						<button type="button" 
						class="btn btn-gap-v btn-danger"   
						ng-click="adHistory.handler.deldata(adHistory.handler.check)"
						>
						<!-- ng-show="adHistory.handler.button('delete')" -->
						Delete
					</button>
				</form>
			</div>
		</div>
	</div><br>


	<div class="form-group">
		<div class="row">
			<div class="col-sm-4">
				<form>
					<input type="text"
					placeholder="Search..."
					class="form-control"
					data-ng-model="adHistory.handler.search"
					data-ng-model-options="{debounce:300}"
					>
				</form>
			</div>
			<div class="col-sm-3 filter-result-info">
				<span>
					Showing {{adHistory.handler.paginated.length}}/{{adHistory.handler.maindata.length}} entries
				</span>              
			</div>
		</div>
	</div><br>
	<table class="table table-bordered table-striped table-responsive">
		<thead>
			<tr>
				<th><div class="th">
				</div></th>
				<th ng-repeat='a in adHistory.handler.headers' width='{{a.width}}'>
					<div class="th">
						{{a.changed_date}}
						<span class="fa fa-angle-up"
						data-ng-if="a.sort"
						data-ng-click="adHistory.handler.setactiveheader(a,true)"
						data-ng-class="{active: $index == adHistory.handler.activeheader.id && adHistory.handler.activeheader.order == true}">
					</span>
					<span class="fa fa-angle-down"
					data-ng-if="a.sort"
					data-ng-click="adHistory.handler.setactiveheader(a,false)"
					data-ng-class="{active: $index == adHistory.handler.activeheader.id && adHistory.handler.activeheader.order == false}">
				</span>
			</div>
		</th>

		<th ng-repeat='a in adHistory.handler.headers' width='{{a.width}}'>
			<div class="th">
				{{a.name}}
				<span class="fa fa-angle-up"
				data-ng-if="a.sort"
				data-ng-click="adHistory.handler.setactiveheader(a,true)"
				data-ng-class="{active: $index == adHistory.handler.activeheader.id && adHistory.handler.activeheader.order == true}">
			</span>
			<span class="fa fa-angle-down"
			data-ng-if="a.sort"
			data-ng-click="adHistory.handler.setactiveheader(a,false)"
			data-ng-class="{active: $index == adHistory.handler.activeheader.id && adHistory.handler.activeheader.order == false}">
		</span>
	</div>
</th>
<th ng-repeat='a in adHistory.handler.headers' width='{{a.width}}'>
	<div class="th">
		{{a.department}}
		<span class="fa fa-angle-up"
		data-ng-if="a.sort"
		data-ng-click="adHistory.handler.setactiveheader(a,true)"
		data-ng-class="{active: $index == adHistory.handler.activeheader.id && adHistory.handler.activeheader.order == true}">
	</span>
	<span class="fa fa-angle-down"
	data-ng-if="a.sort"
	data-ng-click="adHistory.handler.setactiveheader(a,false)"
	data-ng-class="{active: $index == adHistory.handler.activeheader.id && adHistory.handler.activeheader.order == false}">
</span>
</div>
</th>
<th ng-repeat='a in adHistory.handler.headers' width='{{a.width}}'>
	<div class="th">
		{{a.basic}}
		<span class="fa fa-angle-up"
		data-ng-if="a.sort"
		data-ng-click="adHistory.handler.setactiveheader(a,true)"
		data-ng-class="{active: $index == adHistory.handler.activeheader.id && adHistory.handler.activeheader.order == true}">
	</span>
	<span class="fa fa-angle-down"
	data-ng-if="a.sort"
	data-ng-click="adHistory.handler.setactiveheader(a,false)"
	data-ng-class="{active: $index == adHistory.handler.activeheader.id && adHistory.handler.activeheader.order == false}">
</span>
</div>
</th>
<th ng-repeat='a in adHistory.handler.headers' width='{{a.width}}'>
	<div class="th">
		{{a.ecola}}
		<span class="fa fa-angle-up"
		data-ng-if="a.sort"
		data-ng-click="adHistory.handler.setactiveheader(a,true)"
		data-ng-class="{active: $index == adHistory.handler.activeheader.id && adHistory.handler.activeheader.order == true}">
	</span>
	<span class="fa fa-angle-down"
	data-ng-if="a.sort"
	data-ng-click="adHistory.handler.setactiveheader(a,false)"
	data-ng-class="{active: $index == adHistory.handler.activeheader.id && adHistory.handler.activeheader.order == false}">
</span>
</div>
</th>
<th ng-repeat='a in adHistory.handler.headers' width='{{a.width}}'>
	<div class="th">
		{{a.deduction}}
		<span class="fa fa-angle-up"
		data-ng-if="a.sort"
		data-ng-click="adHistory.handler.setactiveheader(a,true)"
		data-ng-class="{active: $index == adHistory.handler.activeheader.id && adHistory.handler.activeheader.order == true}">
	</span>
	<span class="fa fa-angle-down"
	data-ng-if="a.sort"
	data-ng-click="adHistory.handler.setactiveheader(a,false)"
	data-ng-class="{active: $index == adHistory.handler.activeheader.id && adHistory.handler.activeheader.order == false}">
</span>
</div>
</th>
<th ng-repeat='a in adHistory.handler.headers' width='{{a.width}}'>
	<div class="th">
		{{a.cut_off_period}}
		<span class="fa fa-angle-up"
		data-ng-if="a.sort"
		data-ng-click="adHistory.handler.setactiveheader(a,true)"
		data-ng-class="{active: $index == adHistory.handler.activeheader.id && adHistory.handler.activeheader.order == true}">
	</span>
	<span class="fa fa-angle-down"
	data-ng-if="a.sort"
	data-ng-click="adHistory.handler.setactiveheader(a,false)"
	data-ng-class="{active: $index == adHistory.handler.activeheader.id && adHistory.handler.activeheader.order == false}">
</span>
</div>
</th>
<th ng-repeat='a in adHistory.handler.headers' width='{{a.width}}'>
	<div class="th">
		{{a.remarks}}
		<span class="fa fa-angle-up"
		data-ng-if="a.sort"
		data-ng-click="adHistory.handler.setactiveheader(a,true)"
		data-ng-class="{active: $index == adHistory.handler.activeheader.id && adHistory.handler.activeheader.order == true}">
	</span>
	<span class="fa fa-angle-down"
	data-ng-if="a.sort"
	data-ng-click="adHistory.handler.setactiveheader(a,false)"
	data-ng-class="{active: $index == adHistory.handler.activeheader.id && adHistory.handler.activeheader.order == false}">
</span>
</div>
</th>

</tr>
</thead>
<tbody>
	<tr data-ng-repeat="a in adHistory.handler.getdata() | orderBy: adHistory.handler.activeheader.sort : adHistory.handler.activeheader.order track by [$index]">
		<td><input type="checkbox" checklist-value="a.id"  checklist-model="adHistory.handler.check"/></td>

		<td style="cursor:pointer">{{a.created_at | date:'yyyy-MM-dd'}}</td>
		<td style="cursor:pointer">{{a.first_name}} {{a.middle_name}} {{a.last_name}}</td>
		<td style="cursor:pointer">{{a.name_department}}</td>
		<td style="cursor:pointer">{{a.adjust_salary_basic}}</td>
		<td style="cursor:pointer">{{a.adjust_salary_ecola}}</td>
		<td style="cursor:pointer">{{a.deduction_loan_hdmf+a.deduction_loan_hmo+a.deduction_loan_sss}}</td>
		<td style="cursor:pointer">{{a.cutoff_date}}</td>
		<td style="cursor:pointer"></td>


<!-- 		<td style="cursor:pointer" ng-click="adHistory.handler.openmodal('edit',a)">{{a.employee_id}}</td>
		<td style="cursor:pointer" ng-click="adHistory.handler.openmodal('edit',a)">{{a.employee_id}}</td>
		<td style="cursor:pointer" ng-click="adHistory.handler.openmodal('edit',a)">{{a.employee_id}}</td>
		<td style="cursor:pointer" ng-click="adHistory.handler.openmodal('edit',a)">{{a.employee_id}}</td>
		<td style="cursor:pointer" ng-click="adHistory.handler.openmodal('edit',a)">{{a.employee_id}}</td>
		<td style="cursor:pointer" ng-click="adHistory.handler.openmodal('edit',a)">{{a.employee_id}}</td>
		<td style="cursor:pointer" ng-click="adHistory.handler.openmodal('edit',a)">{{a.employee_id}}</td>
		<td style="cursor:pointer" ng-click="adHistory.handler.openmodal('edit',a)">{{a.employee_id}}</td>
	-->

	<td></td>
</tr>
</tbody>
</table>
<footer class="table-footer">
	<div class="row">
		<div class="col-md-6 page-num-info">
			<span>
				Show 
				<select data-ng-model="adHistory.handler.numPerPage"
				data-ng-options="num for num in adHistory.handler.numPerPageOpt"
				data-ng-change="onNumPerPageChange()">
			</select> 
			entries per page
		</span>
	</div>
	<div class="col-md-6 text-right pagination-container">
		<pagination class="pagination-sm"
		ng-model="adHistory.handler.currentPage"
		total-items="adHistory.handler.filtered.length"
		max-size="4"
		ng-change="select(currentPage)"
		items-per-page="adHistory.handler.numPerPage"
		rotate="false"
		previous-text="&lsaquo;" next-text="&rsaquo;"
		boundary-links="true"></pagination>
	</div>
</div>
</footer>
</div>
</section>
</div>			
