<div class="page page-atcRecord"  ng-controller="annualTaxCompCtrl as atc">
	

	<section class="panel panel-primary table-dynamic">
		<div class="panel-heading"><strong><span class="glyphicon glyphicon-th" style="margin-right: 8px;"></span>Annual Tax</strong></div>
		<div class="panel-body ">	
			<form name="myForm" class="form-horizontal form-validation">
				<div class="form-group ">
					<div class="col-sm-2">
						<label>Employee Name</label><label style ="color:red">*</label>
					</div>
					<div class="col-sm-2">
						<input 	type="text"
						placeholder="Type for hint . ."
						class="form-control"
						name="employee_id"
						data-ng-model="atc.handler.form.employee_id"
						typeahead="(address.name) for address in atc.handler.getLocation($viewValue)" 
						typeahead-loading="loadingLocations"
						typeahead-min-length="4"
						ng-disabled="atc.handler.hide"
						typeahead-wait-ms="400"
						typeahead-on-select="atc.handler.onSelect($item, $model, $label)"
						autocomplete="off" 
						/>


					</div>

					<div class="col-sm-2">
						<label>Department</label><label style ="color:red">*</label>
					</div>
					<div class="col-sm-2">
						<select name="department" ng-model="atc.handler.form.department" class="form-control" ng-options="department.department_id as department.department_name for department in atc.handler.maindataDepartment">
							<option value=""> - - ALL - - </option>
						</select>




					</div>

				</div><br>
				<div class="form-group">
					<fieldset>
						<div class="col-sm-3">
							<label style="color:red">*</label><span class="space space-xs"></span><label><small>Required field</small></label>
						</div>										
					</fieldset>
				</div>
				<hr>
				<div class="form-group">										
					<div class="col-sm-6">
						<form>
							<button type="submit" class="btn btn-success"  ng-click="atc.handler.save()">View</button>
						</form>
					</div>
				</div>
			</form>
		</div>
	</section>

	<section class="panel panel-primary table-dynamic">
		<div class="panel-heading"><strong><p class="text-center">Annual Tax Record</p></strong></div>
		<div class="panel-body">
			

				<div class="form-group">
		<div class="row">
			<div class="col-sm-4">
				<form>
					<input type="text"
					placeholder="Search..."
					class="form-control"
					data-ng-model="incen.handler.search"
					data-ng-model-options="{debounce:300}"
					>
				</form>
			</div>
			<div class="col-sm-3 filter-result-info">
				<span>
					Showing {{incen.handler.paginated.length}}/{{incen.handler.maindata.length}} entries
				</span>              
			</div>
		</div>
	</div><br>
			<table class="table table-bordered table-striped table-responsive">
				<thead>
					<tr>
						<th ng-repeat='a in atc.handler.headers'  width='{{a.width}}'>
							<div class="th" style="text-align:center">
								{{a.name}}
								<span class="fa fa-angle-up"
								data-ng-if="a.sort"
								data-ng-click="atc.handler.setactiveheader(a,true) "
								data-ng-class="{active: $index == atc.handler.activeheader.id && atc.handler.activeheader.order == true}">
							</span>
							<span class="fa fa-angle-down"
							data-ng-if="a.sort"
							data-ng-click=" atc.handler.setactiveheader(a,false) "
							data-ng-class="{active: $index == atc.handler.activeheader.id && atc.handler.activeheader.order == false}">
						</span>
					</div>
				</th>
			</tr>
		</thead>
		<tbody>
			<tr data-ng-repeat="a in atc.handler.getdata() | orderBy: atc.handler.activeheader.sort : atc.handler.activeheader.order track by [$index]">

				<td style="text-align:center">
					<b>{{a.employee_name}}</b>
				</td>
				<td style="text-align:center">
					<b>{{a.department_name}}</b>
				</td>
				<td  style="text-align:center">
					<b>{{a.total_taxable_basic}}</b>
				</td>

				<td style="text-align:center;">
					<b>{{a.total_sss_phic_hdmf}}</b>
				</td>

				<td style="text-align:center">
					<b>{{a.tax_exemption}}</b>
				</td>

				<td style="text-align:center">
					<b>{{a.net_taxable_salary}}</b>
					
				</td>

				<td style="text-align:center">
					<b>{{a.tax_bonus}}</b>
				</td>

				<td style="text-align:center">
					<b>{{a.deductions_monthly}}</b>
				</td>


				<td style="text-align:center;">
					<b>{{a.food_incentive}}</b>
				</td>

				<td style="text-align:center;">
					<b>{{a.deductions_food}}</b>
				</td>

				<td style="text-align:center;">
					<b>{{a.adjustment_payroll}}</b>
				</td>
				<td style="text-align:center;">
					<b>{{a.total}}</b>
				</td>

			</tr>
		</tbody>
	</table>
	<footer class="table-footer">
				<div class="row">
					<div class="col-sm-2">
						<label class="label" ng-class="atc.handler.getActive(atc.handler.currentPage) == 2 ? 'label-success' : 'label-default'">{{atc.handler.getPeriod(2,atc.handler.currentPage)}}</label>

					</div>
					<div class="col-sm-2">
						<label class="label" ng-class="atc.handler.getActive(atc.handler.currentPage) == 3 ? 'label-success' : 'label-default'">{{atc.handler.getPeriod(3,atc.handler.currentPage)}}</label>
					</div>
					<div class="col-sm-2 text-right pagination-container">


					</div>
					<div class="col-sm-1 text-left pagination-container">
					</div>
					<div class="col-md-4 text-right pagination-container" style="float:right;">


						<pagination class="pagination-sm"
						ng-model="atc.handler.currentPage"
						total-items="atc.handler.filtered.length"
						max-size="4"
						items-per-page="atc.handler.numPerPage"
						rotate="false"
						ng-click = "clickPaginate($index)"
						ng-change="select(currentPage)"
						></pagination>

					</div>

				</div>
			</footer>

	<div class="col-sm-4">
		<form>
		
		<span class="space space-sm"></span>
		<button type="button" ng-click="atc.handler.cutoff_annual()"
		class="btn btn-gap-v btn-danger"   
		>
		Cut Off
	</button>
</form>
</div>


<div>

</div>



</div>
</section>



</div>