
<div class="page page-status">
	<section class="panel panel-primary table-dynamic" data-ng-controller="atmAdiviseController as aac">
		<div class="panel-heading"><strong><span class="glyphicon glyphicon-th" style="margin-right: 8px;"></span>ATM Advise</strong></div>
		<div class="panel-body">
			<div class="from-group">
				<div class="row">
					<div class="col-sm-12">
						<form>
							<div class="col-sm-3">
								<label>Choose Report</label>
								<br>

								<input class="ui-radio" type="radio" name="expatlocal" ng-change="aac.handler.change_payroll_slips()" ng-model="aac.handler.form.local_it" value="1" checked="checked" > Expat<br>
								<input class="ui-radio" type="radio" name="expatlocal" ng-change="aac.handler.change_payroll_slips()" ng-model="aac.handler.form.local_it" value="2">Local<br>

							</div>

							<div ng-if="aac.handler.expat_dropdown">
								<div class="col-sm-3" >
									<label>Type Slips Expat</label><label style ="color:red">*</label>
									<select name="job" ng-model="aac.handler.form.type" class="form-control" ng-options="a.value as a.title for a in aac.handler.dropdownDataExpat">
										<option value=""> - - SELECT - - </option>

									</select>


								</div>

							</div>

							<div ng-if="aac.handler.local_dropdown">
								<div class="col-sm-3">
									<label>Type Slips Local</label><label style ="color:red">*</label>
									<select name="job" ng-model="aac.handler.form.type" class="form-control" ng-options="a.value as a.title for a in aac.handler.dropdownDataLocal">

										<option value=""> - - SELECT - - </option>


									</select>


								</div>

							</div><br>

							<div>

							</div>



						</form>
					</div>
				</div>
				<br><br>
				<div class="col-sm-3">
					<button class="btn btn-gap-v btn-success"  
					ng-click="aac.handler.searchingData()"
					>
					Search
				</button>
			</div>
		</div><br>


		<div class="col-sm-12" style="border: 4px dashed #248aaf; margin-bottom: 20px "></div>



		<div class="col-sm-12">
			<fieldset>

				<div class="col-md-2">

					<label>Date :</label> 
				</div>
				<div class="col-md-2">
					<input 	
					type="date" 
					class="form-control"
					ng-model="aac.handler.form.date"

					/>

				</div>
			</fieldset>
			<br>

			<fieldset>

				<div class="col-md-2">

					<label>Bank Name :</label> 
				</div>
				<div class="col-md-2">
					<input 	
					type="text" 
					class="form-control"
					ng-model="aac.handler.form.bank_name"

					/>

				</div>
			</fieldset>
			<br>

			<fieldset>

				<div class="col-md-2">

					<label>Bank Address :</label> 
				</div>
				<div class="col-md-5">
					<input 	
					type="text" 
					class="form-control"
					ng-model="aac.handler.form.bank_address"
					maxlength="50"
					/>

				</div>
			</fieldset>
			<br>

			<fieldset>

				<div class="col-md-2">


				</div>
				<div class="col-md-5">
					<input 	
					type="text" 
					class="form-control"
					ng-model="aac.handler.form.bank_name_2"
					maxlength="50"

					/>

				</div>
			</fieldset>
			<br>


			<fieldset>

				<div class="col-md-2">
					<label>RE :</label> 


				</div>
				<div class="col-md-4">
					<input 	
					type="text" 
					class="form-control"
					ng-model="aac.handler.form.re"
					maxlength="50"

					/>

				</div>
			</fieldset>


			<br>

			<div style="border: 1px dotted #248aaf; margin-bottom: 20px "></div>

			<fieldset>

				<div class="col-md-2">
					<label>Gentleman/Madam : </label> 
				</div>

			</fieldset>
			<br><br>

			<fieldset>

				<div class="col-md-4">

					<label>This is to formally advise your good office to debit our account in the amount of PESOS : </label> 

				</div>
				<div class="col-md-2">
					<input 	
					placeholder="GRAND TOTAL amount in words" 
					type="text" 
					class="form-control"
					ng-model="aac.handler.form.centavos"
					maxlength="50"

					/>
				</div>

			</fieldset>


		</div>


		<div class="col-sm-12" style="border: 4px dashed #248aaf;margin-top: 20px;margin-bottom: 20px"></div>


		<div class="form-group">
			<div class="row">
				<div class="col-sm-4">
					<form>
						<input type="text"
						placeholder="Search..."
						class="form-control"
						data-ng-model="aac.handler.search"
						data-ng-model-options="{debounce:300}"
						>
					</form>
				</div>
				<div class="col-sm-3 filter-result-info">
					<span>
						Showing {{aac.handler.paginated.length}}/{{aac.handler.maindata.length}} entries
					</span>              
				</div>
			</div>
		</div><br>
		<table class="table table-bordered table-striped table-responsive">
			<thead>
				<tr>

				</div></th>
				<th ng-repeat='a in aac.handler.headers' width='{{a.width}}'>
					<div class="th">
						{{a.title}}
						<span class="fa fa-angle-up"
						data-ng-if="a.sort"
						data-ng-click="aac.handler.setactiveheader(a,true)"
						data-ng-class="{active: $index == aac.handler.activeheader.id && aac.handler.activeheader.order == true}">
					</span>
					<span class="fa fa-angle-down"
					data-ng-if="a.sort"
					data-ng-click="aac.handler.setactiveheader(a,false)"
					data-ng-class="{active: $index == aac.handler.activeheader.id && aac.handler.activeheader.order == false}">
				</span>
			</div>
		</th>

		<th ng-repeat='a in aac.handler.headers' width='{{a.width}}'>
			<div class="th">
				{{a.amount}}
				<span class="fa fa-angle-up"
				data-ng-if="a.sort"
				data-ng-click="aac.handler.setactiveheader(a,true)"
				data-ng-class="{active: $index == aac.handler.activeheader.id && aac.handler.activeheader.order == true}">
			</span>
			<span class="fa fa-angle-down"
			data-ng-if="a.sort"
			data-ng-click="aac.handler.setactiveheader(a,false)"
			data-ng-class="{active: $index == aac.handler.activeheader.id && aac.handler.activeheader.order == false}">
		</span>
	</div>
</th>

<th ng-repeat='a in aac.handler.headers' width='{{a.width}}'>
	<div class="th">
		{{a.netpay}}
		<span class="fa fa-angle-up"
		data-ng-if="a.sort"
		data-ng-click="aac.handler.setactiveheader(a,true)"
		data-ng-class="{active: $index == aac.handler.activeheader.id && aac.handler.activeheader.order == true}">
	</span>
	<span class="fa fa-angle-down"
	data-ng-if="a.sort"
	data-ng-click="aac.handler.setactiveheader(a,false)"
	data-ng-class="{active: $index == aac.handler.activeheader.id && aac.handler.activeheader.order == false}">
</span>
</div>
</th>

<th ng-repeat='a in aac.handler.headers' width='{{a.width}}'>
	<div class="th">
		{{a.remarks}}
		<span class="fa fa-angle-up"
		data-ng-if="a.sort"
		data-ng-click="aac.handler.setactiveheader(a,true)"
		data-ng-class="{active: $index == aac.handler.activeheader.id && aac.handler.activeheader.order == true}">
	</span>
	<span class="fa fa-angle-down"
	data-ng-if="a.sort"
	data-ng-click="aac.handler.setactiveheader(a,false)"
	data-ng-class="{active: $index == aac.handler.activeheader.id && aac.handler.activeheader.order == false}">
</span>
</div>
</th>

</tr>
</thead>
<tbody>
	<tr data-ng-repeat="a in aac.handler.getdata() | orderBy: aac.handler.activeheader.sort : aac.handler.activeheader.order track by [$index]">

		<td >{{a.employee_name}}</td>
		<td >{{a.amount}}</td> 
		
		<td >{{a.net_pay}}</td>
		<td><input type="checkbox" checklist-value="true"  checklist-model="a.hold"/> HOLDS 
			<input type="text" class="form-control"  ng-model="a.remark" placeholder="Comment..." />
		</td>
		<!-- <td></td> -->

	</tr>
</tbody>
</table>

<input style="margin-bottom: 20px" type="text" ng-model="aac.handler.form.message" class="form-control" placeholder="Type the message here...">

<div >
	<fieldset>
		<div class="col-md-6" >
			<label>Prepare & Submitted By : </label><br>
			<textarea name="signature" style="resize: none" cols="60" rows="5"></textarea><br>
<!-- 
			<button type="button" class="btn btn-default ng-valid ng-dirty" accept="files/*" ngf-select="" ngf-change="upload($files)" ngf-multiple="multiple" ng-model="lereq.handler.files">
				Upload a File
			</button> -->
			<fieldset>
				<div class='col-sm-1'>
					<button type="button" 
					ngf-select ngf-change="upload($files)"
					class="btn btn-default" 
					accept="files/*"
					ngf-multiple="multiple"
					ng-model="aac.handler.form.submit_by.files">
					Upload a File
				</button>
			</div>		
			<div class='col-sm-2'>
				<label ng-repeat="f in aac.handler.form.submit_by.files"  ng-show="aac.handler.form.submit_by.files">{{f.name}}</label>
			</div>
			<div class='col-sm-3'  ng-show="aac.handler.form.submit_by.files">
				<button class="btn btn-danger"  tooltip-placement="top" tooltip="Delete File" ng-click=" aac.handler.form.submit_by.files = false">
					<span class="glyphicon glyphicon-trash" ></span>
				</button>
			</div>
		</fieldset>

		<div class="col-md-6">
			<input type="text" ng-model = "aac.handler.form.submit_by.name" class="form-control"><br>
			<input type="text" ng-model = "aac.handler.form.submit_by.position" class="form-control"><br>
		</div>


	</div>		

	<div class="col-md-6">
		<div style=" position: absolute;right: 0px;"> 
			<label>Prepare & Submitted By : </label><br>
			<textarea name="signature" style="resize: none" cols="60" rows="5"></textarea><br>
			<fieldset>
				<div class='col-sm-1'>
					<button type="button" 
					ngf-select ngf-change="upload($files)"
					class="btn btn-default" 
					accept="files/*"
					ngf-multiple="multiple"
					ng-model="aac.handler.form.approve_by.files">
					Upload a File
				</button>
			</div>		
			<div class='col-sm-2'>
				<label ng-repeat="f in aac.handler.form.approve_by.files"  ng-show="aac.handler.form.approve_by.files">{{f.name}}</label>
			</div>
			<div class='col-sm-3'  ng-show="aac.handler.form.approve_by.files">
				<button class="btn btn-danger"  tooltip-placement="top" tooltip="Delete File" ng-click=" aac.handler.form.approve_by.files = false">
					<span class="glyphicon glyphicon-trash" ></span>
				</button>
			</div>
		</fieldset>


			<div>
				<input type="text" ng-model = "aac.handler.form.approve_by.name" class="form-control"><br>
				<input type="text" ng-model = "aac.handler.form.approve_by.position" class="form-control"><br>
			</div>
		</div>
	</div>	

</fieldset>

	<!-- <fieldset>
		<div class='col-sm-1'>
			<button type="button" 
			ngf-select ngf-change="upload($files)"
			class="btn btn-default" 
			accept="files/*"
			ngf-multiple="multiple"
			ng-disabled="aac.handler.button_submit"
			ng-model="aac.handler.form.files">
			Upload a File
		</button>
	</div>		
	<div class='col-sm-2'>
		<label ng-repeat="f in aac.handler.form.files"  ng-show="aac.handler.form.files">{{f.name}}</label>
	</div>
	<div class='col-sm-3'  ng-show="aac.handler.form.files">
		<button class="btn btn-danger"  tooltip-placement="top" tooltip="Delete File" ng-click=" aac.handler.form.files = false">
			<span class="glyphicon glyphicon-trash" ></span>
		</button>
	</div>
</fieldset>
-->
<button class="btn btn-gap-v btn-success" ng-click="aac.handler.cutoffData()">SAVE CUT OFF</button>

</div>

<footer class="table-footer">
	<div class="row">
		<div class="col-md-6 page-num-info">
			<span>
				Show 
				<select data-ng-model="aac.handler.numPerPage"
				data-ng-options="num for num in aac.handler.numPerPageOpt"
				data-ng-change="onNumPerPageChange()">
			</select> 
			entries per page
		</span>
	</div>
	<div class="col-md-6 text-right pagination-container">
		<pagination class="pagination-sm"
		ng-model="aac.handler.currentPage"
		total-items="aac.handler.filtered.length"
		max-size="4"
		ng-change="select(currentPage)"
		items-per-page="aac.handler.numPerPage"
		rotate="false"
		previous-text="&lsaquo;" next-text="&rsaquo;"
		boundary-links="true"></pagination>
	</div>
</div>
</footer>
</div>
</section>
</div>	




<!-- HISTORY ATM ADVISE -->
<div class="page page-status">
	<section class="panel panel-primary table-dynamic" data-ng-controller="incentieveAndAllowanceCtrl as incen">
		<div class="panel-heading"><strong><span class="glyphicon glyphicon-th" style="margin-right: 8px;"></span>Hisotry ATM Advise</strong></div>
		<div class="panel-body">
			<div class="from-group">
				<div class="row">
					<div class="col-sm-12">
						<div class="col-sm-1">
							<label 	class="ui-radio">
								<input	name="local" 
								type="radio" 
								value='1' 
								ng-model="attcut.handler.form.radio"
								/>
								<span>Expat</span>
							</label>
						</div>
						<div class="col-sm-1">
							<label 	class="ui-radio">
								<input	name="local" 
								type="radio" 
								value='2' 
								ng-model="attcut.handler.form.radio"
								/>
								<span>Local</span>
							</label>
						</div>
						<div class="col-sm-1">
							<label 	class="ui-radio">
								<input	name="local" 
								type="radio" 
								value="3"
								ng-checked="true"
								ng-model="attcut.handler.form.radio"
								/>
								<span>Both</span>
							</label>
						</div>	
					</div>
				</div>
			</div><br>


			<div class="form-group">
				<div class="row">
					<div class="col-sm-4">
						<form>
							<input type="text"
							placeholder="Search..."
							class="form-control"
							data-ng-model="incen.handler.search"
							data-ng-model-options="{debounce:300}"
							>
						</form>
					</div>
					<div class="col-sm-3 filter-result-info">
						<span>
							Showing {{incen.handler.paginated.length}}/{{incen.handler.maindata.length}} entries
						</span>              
					</div>
				</div>
			</div><br>
			<table class="table table-bordered table-striped table-responsive">
				<thead>
					<tr>
						<th><div class="th">
						</div></th>
						<th ng-repeat='a in incen.handler.headers' width='{{a.width}}'>
							<div class="th">
								{{a.title}}
								<span class="fa fa-angle-up"
								data-ng-if="a.sort"
								data-ng-click="incen.handler.setactiveheader(a,true)"
								data-ng-class="{active: $index == incen.handler.activeheader.id && incen.handler.activeheader.order == true}">
							</span>
							<span class="fa fa-angle-down"
							data-ng-if="a.sort"
							data-ng-click="incen.handler.setactiveheader(a,false)"
							data-ng-class="{active: $index == incen.handler.activeheader.id && incen.handler.activeheader.order == false}">
						</span>
					</div>
				</th>

				<th ng-repeat='a in incen.handler.headers' width='{{a.width}}'>
					<div class="th">
						{{a.amount}}
						<span class="fa fa-angle-up"
						data-ng-if="a.sort"
						data-ng-click="incen.handler.setactiveheader(a,true)"
						data-ng-class="{active: $index == incen.handler.activeheader.id && incen.handler.activeheader.order == true}">
					</span>
					<span class="fa fa-angle-down"
					data-ng-if="a.sort"
					data-ng-click="incen.handler.setactiveheader(a,false)"
					data-ng-class="{active: $index == incen.handler.activeheader.id && incen.handler.activeheader.order == false}">
				</span>
			</div>
		</th>

	</tr>
</thead>
<tbody>
	<tr data-ng-repeat="a in incen.handler.getdata() | orderBy: incen.handler.activeheader.sort : incen.handler.activeheader.order track by [$index]">
		<td><input type="checkbox" checklist-value="a.id"  checklist-model="incen.handler.check"/></td>

		<td style="cursor:pointer" ng-click="incen.handler.openmodal('edit',a)">{{a.title}}</td>
		<td style="cursor:pointer" ng-click="incen.handler.openmodal('edit',a)">{{a.amount}}</td>
		
		<td></td>
	</tr>
</tbody>
</table>
<footer class="table-footer">
	<div class="row">
		<div class="col-md-6 page-num-info">
			<span>
				Show 
				<select data-ng-model="incen.handler.numPerPage"
				data-ng-options="num for num in incen.handler.numPerPageOpt"
				data-ng-change="onNumPerPageChange()">
			</select> 
			entries per page
		</span>
	</div>
	<div class="col-md-6 text-right pagination-container">
		<pagination class="pagination-sm"
		ng-model="incen.handler.currentPage"
		total-items="incen.handler.filtered.length"
		max-size="4"
		ng-change="select(currentPage)"
		items-per-page="incen.handler.numPerPage"
		rotate="false"
		previous-text="&lsaquo;" next-text="&rsaquo;"
		boundary-links="true"></pagination>
	</div>
</div>
</footer>
</div>
</section>
</div>	
