
<div class="page page-status">
	<section class="panel panel-primary table-dynamic" data-ng-controller="bir_alphalistCtrl as ppco">
		<div class="panel-heading"><strong><span class="glyphicon glyphicon-th" style="margin-right: 8px;"></span>Last Pay Sheet</strong></div>
		<div class="panel-body">
			<div class="from-group">
				<div class="row">

					<div class="col-sm-3">
						<label>Year</label><label style ="color:red">*</label>
						<select name="year" ng-model="ppco.handler.form.year" class="form-control">
							
							<option value=""> - - ALL - - </option>
							
							<option ng-repeat="a in ppco.handler.year"  value="{{a}}"> {{a}}</option>

						</select>


					</div>

					<div class="col-sm-3">
						<label>Department</label><label style ="color:red">*</label>
						<select name="department" ng-model="ppco.handler.form.department" class="form-control">
							
							<option value=""> - - ALL - - </option>
							
							<option ng-repeat="a in ppco.handler.department"  value="{{a.department_id}}"> {{a.department_name}}</option>

						</select>


					</div>
					<div class="col-sm-3">
						<button type="button" 
							class="btn btn-gap-v btn-danger"   
							ng-click="ppco.handler.getdatas()"
							>
							Search
						</button>
					</div>
					


					
					<!-- <div class="col-sm-4">
						<form>
							<button class="btn btn-gap-v btn-success"  
							ng-click="ppco.handler.openmodal('add')"
							>
							Add
						</button>
						<span class="space space-sm"></span>
						<button type="button" 
						class="btn btn-gap-v btn-danger"   
						ng-click="ppco.handler.deldata(ppco.handler.check)"
						>
						Delete
					</button>
				</form>
			</div> -->
		</div>
	</div><br>


	<div class="form-group">
		<div class="row">
			<div class="col-sm-4">
				<form>
					<input type="text"
					placeholder="Search..."
					class="form-control"
					data-ng-model="ppco.handler.search"
					data-ng-model-options="{debounce:300}"
					>
				</form>
			</div>
			<div class="col-sm-3 filter-result-info">
				<span>
					Showing {{ppco.handler.paginated.length}}/{{ppco.handler.maindata.length}} entries
				</span>              
			</div>
		</div>
	</div><br>

	<div class="table-responsive">
		<table class="table-striped table-bordered" >
			<thead>
				<tr>
							<!--<th ng-repeat='a in ppco.handler.headers' width='{{a.width}}'>
								<div class="th">
									{{a.name}}
									<span class="fa fa-angle-up"
									data-ng-if="a.sort"
									data-ng-click="ppco.handler.setactiveheader(a,true)"
									data-ng-class="{active: $index == ppco.handler.activeheader.id && ppco.handler.activeheader.order == true}">
								</span>
								<span class="fa fa-angle-down"
								data-ng-if="a.sort"<div class="th">
								data-ng-click="ppco<div class="th">.handler.setactiv</div>eheader(a,false)"
								data-ng-class="{act<div class="th">ive: $index == ppc</div>o.handler.activeheader.id && ppco.handler.activeheader.order == false}">
							</span>
						</div>
					</th>-->
					<th colspan="24" style="text-align:center; background-color:#A5A;"><div class="th">ALPHALIST OF EMPLOYEES AS OF DECEMBER 31 WITH NO PREVIOUS EMPLOYER WITHIN THE YEAR</div></th>
				</tr>
				<tr>
					<th rowspan="3" style="text-align:center; background-color:#FFFF00;"><div class="th">SEQ NO.</div></th>
					<th rowspan="3" style="text-align:center; background-color:#92D050;"><div class="th">TAXPAYER INDENTIFICATION NUMBER</div></th>
					<th colspan="4" style="text-align:center; background-color:red;"><div class="th">NAME OF EMPLOYEES</div></th>
					<th colspan="8" style="text-align:center; background-color:#DAD;"><div class="th">GROSS COMPENSATION INCOME</div></th>
					<th rowspan="3" style="text-align:center; background-color:#DAD;"><div class="th">TAX STATUS</div></th>
					<th rowspan="3" style="text-align:center; background-color:#DAD;"><div class="th">AMOUNT OF EXEMPTION</div></th>
					<th rowspan="3" style="text-align:center; background-color:#DAD;"><div class="th">Premium Paid of Health / Hospital Insurance</div></th>
					<th rowspan="3" style="text-align:center; background-color:#DAD;"><div class="th">TAX INCOME</div></th>
					<th rowspan="3" style="text-align:center; background-color:#DAD;"><div class="th">TAX DUE</div></th>
					<th rowspan="3" style="text-align:center; background-color:#DAD;"><div class="th">TAX INCOME<br>(JAN-NOV)</div></th>
					<th rowspan="3" style="text-align:center; background-color:#DAD;"><div class="th">TAX WITHHELD<BR>(JAN-NOV)</div></th>
					<th colspan="2" style="text-align:center; background-color:#DAD;"><div class="th">YEAR END ADJUSTMENT</div></th>
					<th rowspan="3" style="text-align:center; background-color:#DAD;"><div class="th">AMOUNT TAX WITHHELD AS ADJUST</div></th>

				</tr>
				<tr>
					<th rowspan="2" style="text-align:center; background-color:#FFFF00;"><div class="th">Last Name</div></th>
					<th rowspan="2" style="text-align:center; background-color:#92D050;"><div class="th">Middle Name</div></th>
					<th rowspan="2" style="text-align:center; background-color:red;"><div class="th">First Name</div></th>
					<th rowspan="2" style="text-align:center; background-color:#DAD;"><div class="th">Total Gross Compensation</div></th>
					<th colspan="4" style="text-align:center; background-color:#DAD;"><div class="th">NON-TAXABLE</div></th>
					<th colspan="4" style="text-align:center; background-color:#DAD;"><div class="th">TAXABLE</div></th>
					<th ROWSPAN="3" style="text-align:center; background-color:#DAD;"><div class="th">AMOUNT WITHHELD AND PAID FOR IN DEC</div></th>
					<th ROWSPAN="3" style="text-align:center; background-color:#DAD;"><div class="th">OVER WITHHELD TAX REFUNDED TO EMPLOYEE</div></th>
				</tr>
				<tr>
					<th style="text-align:center; background-color:#DAD;"><div class="th">13th Month Pay and Other Benefit</div></th>
					<th style="text-align:center; background-color:#DAD;"><div class="th">SSS,PHIC,G.SIS,Pagbig Contribution</div></th>
					<th style="text-align:center; background-color:#DAD;"><div class="th">Salaries and Other Form of 
					<th style="text-align:center; background-color:#DAD;"><div class="th">Total NON-TAXABLE</div></th>

					<th style="text-align:center; background-color:#DAD;"><div class="th">Basic Salary</div></th>
					<th style="text-align:center; background-color:#DAD;"><div class="th">13th Month Pay and Other Benefit</div></th>
					<th style="text-align:center; background-color:#DAD;"><div class="th">Salaries and Other Forms of Compensation</div></th>
					<th style="text-align:center; background-color:#DAD;"><div class="th">Total TAXABLE</div></th>
				</tr>
			</thead>

		<tbody>
			<tr data-ng-repeat="a in ppco.handler.getdata() | orderBy: ppco.handler.activeheader.sort : ppco.handler.activeheader.order track by [$index]">
				<td><input type="checkbox" checklist-value="a.id"  checklist-model="ppco.handler.check"/> {{a.department_name}}</td>
				<td>{{a.employee_name}}</td>
				<td>{{a.date_resign || '-'}}</td>
				<td>{{a.unpaid_no_of_day || 0}}</td>
				<td>{{a.absences_of_days.VL}}
				</td>
				<td>{{a.absences_of_days.EL}}
				</td>
				<td>{{a.absences_of_days.SL}}
				</td>
				<td>{{a.absences_of_days.BL}}
				</td>
				<td>{{a.absences_of_days.BEL}}
				</td>
				<td>{{a.absences_of_days.MAL}}
				</td>
				<td>{{a.absences_of_days.PL}}
				</td>
				<td>{{a.absences_of_days.ML}}
				</td>
				<td>{{a.leave_with_pay.BL}}
				</td>
				<td>{{a.leave_with_pay.MA}}
				</td>
				<td>{{a.leave_with_pay.PL}}
				</td>
				<td>{{a.absences_of_days.BEL}}
				</td>

				<td>{{a.holiday_work.sh}}
				</td>
				<td>{{a.holiday_work.rh}}
				</td>

				<td>{{a.overtime_of_hours.got}}
				</td>
				<td>{{a.overtime_of_hours.rot}}
				</td>
				<td>{{a.overtime_of_hours.rhot}}
				</td>
				<td>{{a.overtime_of_hours.shot}}
				</td>
				<td>{{a.overtime_of_hours.rotdo_1st}}
				</td>
				<td>{{a.overtime_of_hours.rotdo_excess}}
				</td>
				<td>{{a.overtime_of_hours.rhrdot_1st}}
				</td>
				<td>{{a.overtime_of_hours.rhrdot_excess}}
				</td>
				<td>{{a.overtime_of_hours.shrdot_1st}}
				</td>
				<td>{{a.overtime_of_hours.shrdot_excess}}
				</td>

				<td>{{a.night_differential.nd}}
				</td>
				<td>{{a.night_differential.rhnd}}
				</td>
				<td>{{a.night_differential.shnd}}
				</td>
				<td>{{a.night_differential.rdnd}}
				</td>
				<td>{{a.night_differential.rhrdnd}}
				</td>
				<td>{{a.night_differential.shrdnd}}
				</td>

				<td>{{a.tardiness.late}}
				</td>
				<td>{{a.tardiness.undertime}}
				</td>

				<td>{{a.monthly_salary_rate.basic}}
				</td>
				<td>{{a.monthly_salary_rate.ecola}}
				</td>
				<td>{{a.monthly_salary_rate.other_allowance}}
				</td>
				<td>{{a.monthly_salary_rate.total}}
				</td>

				<td>{{a.daily_salary_rate.basic}}
				</td>
				<td>{{a.daily_salary_rate.ecola}}
				</td>
				<td>{{a.daily_salary_rate.other_allowance}}
				</td>
				<td>{{a.daily_salary_rate.total}}
				</td>

				<td>{{a.hourly_salary_rate.basic}}
				</td>
				<td>{{a.hourly_salary_rate.ecola}}
				</td>
				<td>{{a.hourly_salary_rate.other_allowance}}
				</td>
				<td>{{a.hourly_salary_rate.total}}
				</td>

				<td>{{a.minutely_salary_rate.basic}}
				</td>
				<td>{{a.minutely_salary_rate.ecola}}
				</td>
				<td>{{a.minutely_salary_rate.other_allowance}}
				</td>
				<td>{{a.minutely_salary_rate.total}}
				</td>

				<td>{{a.unpaid_salary.basic}}
				</td>
				<td>{{a.unpaid_salary.ecola}}
				</td>
				<td>{{a.unpaid_salary.other_allowance}}
				</td>
				<td>{{a.unpaid_salary.total}}
				</td>

				<td>{{a.total_absences.basic}}
				</td>
				<td>{{a.total_absences.ecola}}
				</td>
				<td>{{a.total_absences.other_allowance}}
				</td>
				<td>{{a.total_absences.total}}
				</td>

				<td>{{a.total_leave_pay.basic}}
				</td>
				<td>{{a.total_leave_pay.ecola}}
				</td>
				<td>{{a.total_leave_pay.other_allowance}}
				</td>
				<td>{{a.total_leave_pay.total}}
				</td>

				<td>{{a.total_holiday_pay.basic}}
				</td>
				<td>{{a.total_holiday_pay.ecola}}
				</td>
				<td>{{a.total_holiday_pay.other_allowance}}
				</td>
				<td>{{a.total_holiday_pay.total}}
				</td>

				<td>{{a.total_overtime_pay.basic}}
				</td>
				<td>{{a.total_overtime_pay.ecola}}
				</td>
				<td>{{a.total_overtime_pay.other_allowance}}
				</td>
				<td>{{a.total_overtime_pay.total}}
				</td>

				<td>{{a.total_nd_pay.basic}}
				</td>
				<td>{{a.total_nd_pay.ecola}}
				</td>
				<td>{{a.total_nd_pay.other_allowance}}
				</td>
				<td>{{a.total_nd_pay.total}}
				</td>

				<td>{{a.total_tardiness_pay.basic}}
				</td>
				<td>{{a.total_tardiness_pay.ecola}}
				</td>
				<td>{{a.total_tardiness_pay.other_allowance}}
				</td>
				<td>{{a.total_tardiness_pay.total}}
				</td>

				<td>{{a.other_adjustment.basic}}
				</td>
				<td>{{a.other_adjustment.ecola}}
				</td>
				<td>{{a.other_adjustment.other_allowance}}
				</td>
				<td>{{a.other_adjustment.total}}
				</td>

				<td>{{a.total_unpaid_salary.basic}}
				</td>
				<td>{{a.total_unpaid_salary.ecola}}
				</td>
				<td>{{a.total_unpaid_salary.other_allowance}}
				</td>
				<td>{{a.total_unpaid_salary.total}}
				</td>

				<td>{{a.additional.month13thpay || 0}}
				</td>
				<td>{{a.additional.sil_conv || 0}}
				</td>
				<td>{{a.additional.tax_refund || 0}}
				</td>
				<td>{{a.additional.hold_salary || 0}}
				</td>

				<td>{{a.total_last_pay}}
				</td>

				<td>{{a.deduction.sss}}
				</td>
				<td>{{a.deduction.philhealth}}
				</td>
				<td>{{a.deduction.hdmf}}
				</td>
				<td>{{a.deduction.wtax}}
				</td>
				<td>{{a.deduction.sss_loan}}
				</td>
				<td>{{a.deduction.hdmf_loan}}
				</td>
				<td>{{a.deduction.hmo}}
				</td>
				<td>{{a.deduction.cash_advance}}
				</td>
				<td>{{a.deduction.other}}
				</td>
				<td>{{a.deduction.total}}
				</td>

				<td>{{a.net_pay}}
				</td>
			</tr>
		</tbody>
	</table>
</div>

<footer class="table-footer">
	<div class="row">
		<div class="col-md-6 page-num-info">
			<span>
				Show 
				<select data-ng-model="ppco.handler.numPerPage"
				data-ng-options="num for num in ppco.handler.numPerPageOpt"
				data-ng-change="onNumPerPageChange()">
			</select> 
			entries per page
		</span>
	</div>
	<div class="col-md-6 text-right pagination-container">
		<pagination class="pagination-sm"
		ng-model="ppco.handler.currentPage"
		total-items="ppco.handler.filtered.length"
		max-size="4"
		ng-change="select(currentPage)"
		items-per-page="ppco.handler.numPerPage"
		rotate="false"
		previous-text="&lsaquo;" next-text="&rsaquo;"
		boundary-links="true"></pagination>
	</div>
</div>
</footer>
</div>
</section>
</div>			
<!--Modal Add Employment Status-->
<script type="text/ng-template" id="addmodal">
	<div class="modal-header">
		<h4><i class="fa fa-save" style="margin-right: 8px;" ></i>Add ppcotive/Allowance</h4>
	</div>
	<div class="modal-body">
		<form name="myForm"  class="form form-validation" ng-submit="myForm.$valid && submit(addmodal.form)">	
			<div class='form-group'>
				<fieldset>
					<div class="col-md-5">
						<label for="">ppcotive / Allowance Name</label><span class="space space-sm"></span><label style ="color:red">*</label>
					</div>
					<div class="col-md-7">
						<input type="text" name="name" class="form-control" autocomplete="off" ng-model="addmodal.form.title" placeholder="Name" required/>
						<span style="color:red" ng-show="myForm.name.$dirty && myForm.name.$invalid" >
							<span ng-show="myForm.name.$error.required">Name is required.</span>
						</span>
					</div>
				</fieldset>
			</div>

			<div class='form-group'>
				<fieldset>
					<div class="col-md-5">
						<label for="">ppcotive Amount</label><span class="space space-sm"></span><label style ="color:red">*</label>
					</div>
					<div class="col-md-7">
						<input type="number" name="amount" class="form-control" autocomplete="off" ng-model="addmodal.form.amount" placeholder="00.00" required/>
						<span style="color:red" ng-show="myForm.amount.$dirty && myForm.amount.$invalid">
							<span ng-show="myForm.amount.$error.required">Amount is required.</span>
						</span>
					</div>
				</fieldset>
			</div>
			<fieldset>
				<div class="col-sm-3">
				</span><label style ="color:red">*</label><span class="space space-xs"><label><small>Required field</small></label>
				</div>										
			</fieldset>	
		</form>	
		<div class="modal-footer">
			<button type="submit" class="btn btn-success" ng-disabled="myForm.$invalid"  ng-click="addmodal.save()">Save</button>
			<button class="btn btn-danger" ng-click="addmodal.close()">Cancel</button>
		</div>
	</div>
</script>

<!--Modal Edit Employment Status-->
<script type="text/ng-template" id="modaledit">
	<div class="modal-header">
		<h4><i class="fa fa-pencil-square-o" style="margin-right: 8px;" ></i>Edit Salary And ppcotive Allowance</h4>
	</div>
	<div class="modal-body">
		<form name="myForm"  class="form form-validation" ng-submit="myForm.$valid && submit(formData)">	
			<div class='form-group'>	
				<fieldset>
					<div class="col-md-2">
						<label for="">Name</label><span class="space space-sm"></span><label style ="color:red">*</label>
					</div>
					<div class="col-md-8">
						<input 	type="text"
						class="form-control"
						name="title" 
						ng-disabled="!modaledit.button"  
						ng-model="modaledit.form.title" 
						autocomplete="off"
						required
						/>
						<span style="color:red" ng-show="myForm.title.$dirty && myForm.title.$invalid">
							<span ng-show="myForm.title.$error.required">Title is required.</span>
						</span>
					</div>
				</fieldset>
			</div>

			<div class='form-group'>	
				<fieldset>
					<div class="col-md-2">
						<label for="">Amount</label><span class="space space-sm"></span><label style ="color:red">*</label>
					</div>
					<div class="col-md-8">
						<input 	type="text"
						class="form-control"
						name="amount" 
						ng-disabled="!modaledit.button"  
						ng-model="modaledit.form.amount" 
						autocomplete="off"
						required
						/>
						<span style="color:red" ng-show="myForm.amount.$dirty && myForm.amount.$invalid">
							<span ng-show="myForm.amount.$error.required">Title is required.</span>
						</span>
					</div>
				</fieldset>
			</div>
			<fieldset>
				<div class="col-sm-3">
				</span><label style ="color:red">*</label><span class="space space-xs"><label><small>Required field</small></label>
				</div>										
			</fieldset>	
		</form>
		<div class="modal-footer" >
			<button type="submit" class="btn btn-success" ng-click="modaledit.button=true;">Edit</button>
			<button type="submit" class="btn btn-success"  ng-disabled="myForm.$invalid" ng-click="modaledit.save();">Save</button>
			<button class="btn btn-danger" ng-click="modaledit.close()">Cancel</button>
		</div>

	</div>
</script>		

