
<div class="page page-status">
	<section class="panel panel-primary table-dynamic" data-ng-controller="incentieveAndAllowanceCtrl as incen">
		<div class="panel-heading"><strong><span class="glyphicon glyphicon-th" style="margin-right: 8px;"></span>Salary and Incentive Allowance</strong></div>
		<div class="panel-body">
			<div class="from-group">
				<div class="row">
					<div class="col-sm-4">
						<form>
							<button class="btn btn-gap-v btn-success"  
							ng-click="incen.handler.openmodal('add')"
							>
							<!-- ng-show="incen.handler.button('create')" -->
							Add
						</button>
						<span class="space space-sm"></span>
						<button type="button" 
						class="btn btn-gap-v btn-danger"   
						ng-click="incen.handler.deldata(incen.handler.check)"
						>
						<!-- ng-show="incen.handler.button('delete')" -->
						Delete
					</button>
				</form>
			</div>
		</div>
	</div><br>


	<div class="form-group">
		<div class="row">
			<div class="col-sm-4">
				<form>
					<input type="text"
					placeholder="Search..."
					class="form-control"
					data-ng-model="incen.handler.search"
					data-ng-model-options="{debounce:300}"
					>
				</form>
			</div>
			<div class="col-sm-3 filter-result-info">
				<span>
					Showing {{incen.handler.paginated.length}}/{{incen.handler.maindata.length}} entries
				</span>              
			</div>
		</div>
	</div><br>
	<table class="table table-bordered table-striped table-responsive">
		<thead>
			<tr>
				<th><div class="th">
				</div></th>
				<th ng-repeat='a in incen.handler.headers' width='{{a.width}}'>
					<div class="th">
						{{a.title}}
						<span class="fa fa-angle-up"
						data-ng-if="a.sort"
						data-ng-click="incen.handler.setactiveheader(a,true)"
						data-ng-class="{active: $index == incen.handler.activeheader.id && incen.handler.activeheader.order == true}">
					</span>
					<span class="fa fa-angle-down"
					data-ng-if="a.sort"
					data-ng-click="incen.handler.setactiveheader(a,false)"
					data-ng-class="{active: $index == incen.handler.activeheader.id && incen.handler.activeheader.order == false}">
				</span>
			</div>
		</th>

		<th ng-repeat='a in incen.handler.headers' width='{{a.width}}'>
			<div class="th">
				{{a.amount}}
				<span class="fa fa-angle-up"
				data-ng-if="a.sort"
				data-ng-click="incen.handler.setactiveheader(a,true)"
				data-ng-class="{active: $index == incen.handler.activeheader.id && incen.handler.activeheader.order == true}">
			</span>
			<span class="fa fa-angle-down"
			data-ng-if="a.sort"
			data-ng-click="incen.handler.setactiveheader(a,false)"
			data-ng-class="{active: $index == incen.handler.activeheader.id && incen.handler.activeheader.order == false}">
		</span>
	</div>
</th>

</tr>
</thead>
<tbody>
	<tr data-ng-repeat="a in incen.handler.getdata() | orderBy: incen.handler.activeheader.sort : incen.handler.activeheader.order track by [$index]">
		<td><input type="checkbox" checklist-value="a.id"  checklist-model="incen.handler.check"/></td>

		<td style="cursor:pointer" ng-click="incen.handler.openmodal('edit',a)">{{a.title}}</td>
		<td style="cursor:pointer" ng-click="incen.handler.openmodal('edit',a)">{{a.amount}}</td>
		
		<td></td>
	</tr>
</tbody>
</table>
<footer class="table-footer">
	<div class="row">
		<div class="col-md-6 page-num-info">
			<span>
				Show 
				<select data-ng-model="incen.handler.numPerPage"
				data-ng-options="num for num in incen.handler.numPerPageOpt"
				data-ng-change="onNumPerPageChange()">
			</select> 
			entries per page
		</span>
	</div>
	<div class="col-md-6 text-right pagination-container">
		<pagination class="pagination-sm"
		ng-model="incen.handler.currentPage"
		total-items="incen.handler.filtered.length"
		max-size="4"
		ng-change="select(currentPage)"
		items-per-page="incen.handler.numPerPage"
		rotate="false"
		previous-text="&lsaquo;" next-text="&rsaquo;"
		boundary-links="true"></pagination>
	</div>
</div>
</footer>
</div>
</section>
</div>	


<!--Modal Add Employment Status-->
<script type="text/ng-template" id="addmodal">
	<div class="modal-header">
		<h4><i class="fa fa-save" style="margin-right: 8px;" ></i>Add performtive/Allowance</h4>
	</div>
	<div class="modal-body">
		<form name="myForm"  class="form form-validation" ng-submit="myForm.$valid && submit(addmodal.form)">	
			<div class='form-group'>
				<fieldset>
					<div class="col-md-5">
						<label for="">Min</label><span class="space space-sm"></span><label style ="color:red">*</label>
					</div>
					<div class="col-md-7">
						<input type="number" name="min" class="form-control" autocomplete="off" ng-model="addmodal.form.min" placeholder="00.00" required/>
						<span style="color:red" ng-show="myForm.min.$dirty && myForm.min.$invalid" >
							<span ng-show="myForm.min.$error.required">Min is required.</span>
						</span>
					</div>
				</fieldset>
			</div>

			<div class='form-group'>
				<fieldset>
					<div class="col-md-5">
						<label for="">Max</label><span class="space space-sm"></span>
					</div>
					<div class="col-md-7">
						<input type="number" name="max" class="form-control" autocomplete="off" ng-model="addmodal.form.max" placeholder="00.00"/>

					</div>
				</fieldset>
			</div>


			<div class='form-group'>
				<fieldset>
					<div class="col-md-5">
						<label for="">Monthly Premium</label><span class="space space-sm"></span><label style ="color:red">*</label>
					</div>
					<div class="col-md-7">
						<input type="number" name="monthly_premium" class="form-control" autocomplete="off" ng-model="addmodal.form.monthly_premium" placeholder="00.00" required/>
						<span style="color:red" ng-show="myForm.monthly_premium.$dirty && myForm.monthly_premium.$invalid" >
							<span ng-show="myForm.monthly_premium.$error.required">Performance Bonus Rate is required.</span>
						</span>
					</div>
				</fieldset>
			</div>

			<div class='form-group'>
				<fieldset>
					<div class="col-md-5">
						<label for="">Personal Share</label><span class="space space-sm"></span><label style ="color:red">*</label>
					</div>
					<div class="col-md-7">
						<input type="number" name="personal_share" class="form-control" autocomplete="off" ng-model="addmodal.form.personal_share" placeholder="00.00" required/>
						<span style="color:red" ng-show="myForm.personal_share.$dirty && myForm.personal_share.$invalid" >
							<span ng-show="myForm.personal_share.$error.required">Performance Bonus Rate is required.</span>
						</span>
					</div>
				</fieldset>
			</div>




			<div class='form-group'>
				<fieldset>
					<div class="col-md-5">
						<label for="">Employer Share</label><span class="space space-sm"></span><label style ="color:red">*</label>
					</div>
					<div class="col-md-7">
						<input type="number" name="employer_share" class="form-control" autocomplete="off" ng-model="addmodal.form.employer_share" placeholder="00.00" required/>
						<span style="color:red" ng-show="myForm.employer_share.$dirty && myForm.employer_share.$invalid" >
							<span ng-show="myForm.employer_share.$error.required">Performance Bonus Rate is required.</span>
						</span>
					</div>
				</fieldset>
			</div>


			<div class='form-group'>
				<fieldset>
					<div class="col-md-5">
						<label for="">Computation Type</label><span class="space space-sm"></span><label style ="color:red">*</label>
					</div>
					<div class="col-md-7">

						<select name="computation_type" class="form-control" ng-model="addmodal.form.computation_type" ng-change="addmodal.selectComp()">
							<option value="Salary Based" selected>Salary Based</option>
							<option value="Fixed Based">Fixed Based</option>

						</select>

					</div>
				</fieldset>
			</div>

			<!-- <input type="checkbox" ng-model="addmodal.checked"></label><br/> -->
			
			<div class='form-group'>
				<fieldset>
					<div class="col-md-5">
						<label for="">For Fixed Base</label><span class="space space-sm"></span><label style ="color:red">*</label>
					</div>
					<div class="col-md-7">
						<input type="number" name="for_fixed_based" class="form-control" autocomplete="off" ng-model="addmodal.form.for_fixed_based" placeholder="00.00" ng-disabled="addmodal.disabledButton"/>
						
					</div>
				</fieldset>
			</div>

			<fieldset>
				<div class="col-sm-3">
				</span><label style ="color:red">*</label><span class="space space-xs"><label><small>Required field</small></label>
				</div>										
			</fieldset>	
		</form>	
		<div class="modal-footer">
			<button type="submit" class="btn btn-success" ng-disabled="myForm.$invalid"  ng-click="addmodal.save()">Save</button>
			<button class="btn btn-danger" ng-click="addmodal.close()">Cancel</button>
		</div>
	</div>
</script>


<!--Modal Add Employment Status-->
<script type="text/ng-template" id="addmodalIncen">
	<div class="modal-header">
		<h4><i class="fa fa-save" style="margin-right: 8px;" ></i>Add Incentive/Allowance</h4>
	</div>
	<div class="modal-body">
		<form name="myForm"  class="form form-validation" ng-submit="myForm.$valid && submit(addmodalincen.form)">	
			<div class='form-group'>
				<fieldset>
					<div class="col-md-5">
						<label for="">Incentive / Allowance Name</label><span class="space space-sm"></span><label style ="color:red">*</label>
					</div>
					<div class="col-md-7">
						<input type="text" name="name" class="form-control" autocomplete="off" ng-model="addmodalincen.form.title" placeholder="Name" required/>
						<span style="color:red" ng-show="myForm.name.$dirty && myForm.name.$invalid" >
							<span ng-show="myForm.name.$error.required">Name is required.</span>
						</span>
					</div>
				</fieldset>
			</div>

			<div class='form-group'>
				<fieldset>
					<div class="col-md-5">
						<label for="">Incentive Amount</label><span class="space space-sm"></span><label style ="color:red">*</label>
					</div>
					<div class="col-md-7">
						<input type="number" name="amount" class="form-control" autocomplete="off" ng-model="addmodalincen.form.amount" placeholder="00.00" required/>
						<span style="color:red" ng-show="myForm.amount.$dirty && myForm.amount.$invalid">
							<span ng-show="myForm.amount.$error.required">Amount is required.</span>
						</span>
					</div>
				</fieldset>
			</div>
			<fieldset>
				<div class="col-sm-3">
				</span><label style ="color:red">*</label><span class="space space-xs"><label><small>Required field</small></label>
			</div>										
		</fieldset>	
	</form>	
	<div class="modal-footer">
		<button type="submit" class="btn btn-success" ng-disabled="myForm.$invalid"  ng-click="addmodalincen.save()">Save</button>
		<!-- <button class="btn btn-danger" ng-click="addmodalincen.close()">Cancel</button> -->
		<button class="btn btn-danger" ng-click="addmodalincen.test()">Cancel</button>

	</div>
</div>
</script>

<!--Modal Edit Employment Status-->
<script type="text/ng-template" id="modaledit">
	<div class="modal-header">
		<h4><i class="fa fa-pencil-square-o" style="margin-right: 8px;" ></i>Edit Salary And Incentive Allowance</h4>
	</div>
	<div class="modal-body">
		<form name="myForm"  class="form form-validation" ng-submit="myForm.$valid && submit(formData)">	
			<div class='form-group'>	
				<fieldset>
					<div class="col-md-2">
						<label for="">Name</label><span class="space space-sm"></span><label style ="color:red">*</label>
					</div>
					<div class="col-md-8">
						<input 	type="text"
						class="form-control"
						name="title" 
						ng-disabled="!modaledit.button"  
						ng-model="modaledit.form.title" 
						autocomplete="off"
						required
						/>
						<span style="color:red" ng-show="myForm.title.$dirty && myForm.title.$invalid">
							<span ng-show="myForm.title.$error.required">Title is required.</span>
						</span>
					</div>
				</fieldset>
			</div>

			<div class='form-group'>	
				<fieldset>
					<div class="col-md-2">
						<label for="">Amount</label><span class="space space-sm"></span><label style ="color:red">*</label>
					</div>
					<div class="col-md-8">
						<input 	type="text"
						class="form-control"
						name="amount" 
						ng-disabled="!modaledit.button"  
						ng-model="modaledit.form.amount" 
						autocomplete="off"
						required
						/>
						<span style="color:red" ng-show="myForm.amount.$dirty && myForm.amount.$invalid">
							<span ng-show="myForm.amount.$error.required">Title is required.</span>
						</span>
					</div>
				</fieldset>
			</div>
			<fieldset>
				<div class="col-sm-3">
				</span><label style ="color:red">*</label><span class="space space-xs"><label><small>Required field</small></label>
			</div>										
		</fieldset>	
	</form>
	<div class="modal-footer" >
		<button type="submit" class="btn btn-success" ng-click="modaledit.button=true;modaledit.showHide=true" ng-show="!modaledit.showHide">Edit</button>
		<button type="submit" class="btn btn-success"  ng-disabled="myForm.$invalid" ng-click="modaledit.save();" ng-hide="!modaledit.showHide">Save</button>
		<button class="btn btn-danger" ng-click="modaledit.close()">Cancel</button>
	</div>
	
</div>
</script>		

