


<!-- ///////////////////////////////////////////Management Bonus////////////////////////////////////////////////////////////////// -->
<div class=""  ng-controller="managementBonusCtrl as manBon">
	<section class="panel panel-primary table-dynamic">
		<div class="panel-heading"><strong><p class="text-center">Management Bonus</p></strong></div>
		<div class="panel-body">
			<footer class="table-footer">
				<div class="row">

					<div class="col-sm-2">
						<input type="month" class='form-control' ng-disabled="manBon.handler.button" id="exampleInput" name="input" 
						ng-model="manBon.handler.Selectdate" min="{{manBon.handler.Selectdate_start}}" max="{{manBon.handler.Selectdate_end}}"
						ng-change="manBon.handler.select_month(manBon.handler.Selectdate)"
						style="float: left"/>

					</div>
					<div class="col-sm-1 text-left pagination-container">
						<button type="submit" class="btn btn-danger"  ng-disabled="manBon.handler.button" ng-click="manBon.handler.setToday(manBon.handler.today,'date')"> X </button>
					</div>
					<div class="col-sm-2">
						<label class="label" ng-class="manBon.handler.getActive(manBon.handler.currentPage) == 2 ? 'label-success' : 'label-default'">{{manBon.handler.getPeriod(2,manBon.handler.currentPage)}}</label>

					</div>
					<div class="col-sm-2">
						<label class="label" ng-class="manBon.handler.getActive(manBon.handler.currentPage) == 3 ? 'label-success' : 'label-default'">{{manBon.handler.getPeriod(3,manBon.handler.currentPage)}}</label>
					</div>
					<div class="col-sm-2 text-right pagination-container">


					</div>
					<div class="col-sm-1 text-left pagination-container">
					</div>
					<div class="col-md-4 text-right pagination-container" style="float:right;">


						<pagination class="pagination-sm"
						ng-model="manBon.handler.currentPage"
						total-items="manBon.handler.filtered.length"
						max-size="4"
						items-per-page="manBon.handler.numPerPage"
						rotate="false"
						ng-click = "clickPaginate($index)"
						ng-change="select(currentPage)"
						></pagination>

					</div>

				</div>
			</footer>


			

			<table class="table table-bordered table-striped table-responsive">
				<thead>
					<tr>
						<th ng-repeat='a in manBon.handler.headers'  width='{{a.width}}'>
							<div class="th" style="text-align:center">
								{{a.name}}
								<span class="fa fa-angle-up"
								data-ng-if="a.sort"
								data-ng-click="manBon.handler.setactiveheader(a,true) "
								data-ng-class="{active: $index == manBon.handler.activeheader.id && manBon.handler.activeheader.order == true}">
							</span>
							<span class="fa fa-angle-down"
							data-ng-if="a.sort"
							data-ng-click=" manBon.handler.setactiveheader(a,false) "
							data-ng-class="{active: $index == manBon.handler.activeheader.id && manBon.handler.activeheader.order == false}">
						</span>
					</div>
				</th>
			</tr>
		</thead>
		<tbody>

			<tr data-ng-repeat="a in manBon.handler.getdata() | orderBy: manBon.handler.activeheader.sort : manBon.handler.activeheader.order track by [$index]">
				<td style="text-align:center;cursor:pointer " ng-click="manBon.handler.openmodal('edit',a)">
					<!-- <b><input type="text" class="form-control" name="employee_name" ng-model="a.employee_name" ng-disabled=""></b> -->
					<b>{{a.employee_name}}</b>


				</td >
				<td style="text-align:center;cursor:pointer " ng-click="manBon.handler.openmodal('edit',a)">

					<b>{{a.department_name}}</b>
				</td>
				<td  style="text-align:center;cursor:pointer " ng-click="manBon.handler.openmodal('edit',a)">
					
					<b>{{a.amount_management}}</b>

				</td>
				<td  style="text-align:center;cursor:pointer " ng-click="manBon.handler.openmodal('edit',a)">
					<b>{{a.years}}</b>
				</td>


			</tr>
		</tbody>
	</table>

	


	<footer class="table-footer">
		<div class="row">
			<div class="col-md-6 page-num-info">
				<span>
					Show 
					<select data-ng-model="manBon.handler.numPerPage"
					data-ng-options="num for num in manBon.handler.numPerPageOpt"
					data-ng-change="onNumPerPageChange()">
				</select> 
				entries per page
			</span>
		</div>
		<div class="col-md-6 text-right pagination-container">
			<pagination class="pagination-sm"
			ng-model="manBon.handler.currentPage"
			total-items="manBon.handler.filtered.length"
			max-size="4"
			ng-change="select(currentPage)"
			items-per-page="manBon.handler.numPerPage"
			rotate="false"
			previous-text="&lsaquo;" next-text="&rsaquo;"
			boundary-links="true"></pagination>
		</div>
	</div>
</footer>




<div>

</div>



</div>
</section>






</div>


<!--Modal Edit Management Bonus-->
<script type="text/ng-template" id="modaleditManage">
	<div class="modal-header">
		<h4><i class="fa fa-pencil-square-o" style="margin-right: 8px;" ></i>Edit Management Bonus</h4>
	</div>
	<div class="modal-body">
		<form name="myForm"  class="form form-validation" ng-submit="myForm.$valid && submit(formData)">	
			<div class='form-group'>	
				<fieldset>
					<div class="col-md-4">
						<label for="">Employee Name</label><span class="space space-sm"></span><label style ="color:red">*</label>
					</div>


					<div class="col-md-8">
						<input 	type="text"
						class="form-control"
						name="december_diff"  
						ng-model="modaleditManage.form.employee_name" 
						autocomplete="off"
						disabled 
						/>

					</div>
				</fieldset>
			</div>

			<div class='form-group'>	
				<fieldset>
					<div class="col-md-4">
						<label for="">Department</label><span class="space space-sm"></span><label style ="color:red">*</label>
					</div>
					<div class="col-md-8">
						<input 	type="text"
						class="form-control"
						ng-model="modaleditManage.form.department_name" 
						autocomplete="off"
						disabled
						/>

					</div>
				</fieldset>
			</div>

			<div class='form-group'>	
				<fieldset>
					<div class="col-md-4">
						<label for="">Amount Management</label><span class="space space-sm"></span><label style ="color:red">*</label>
					</div>
					<div class="col-md-8">
						<input 	type="number"
						class="form-control"
						name="amount_managemet"   
						ng-model="modaleditManage.form.amount_management" 
						autocomplete="off"
						ng-disabled="!modaleditManage.buttonEdit"
						required
						/>
						<span style="color:red" ng-show="myForm.adjustment.$dirty && myForm.adjustment.$invalid">
							<span ng-show="myForm.adjustment.$error.required">Amount is required.</span>
						</span>

					</div>
				</fieldset>
			</div>
			

			<div class='form-group'>	
				<fieldset>
					<div class="col-md-4">
						<label for="">Year</label><span class="space space-sm"></span><label style ="color:red">*</label>
					</div>
					<div class="col-md-8">
						<input 	type="text"
						class="form-control"
						ng-model="modaleditManage.form.years" 
						autocomplete="off"
						disabled
						/>

					</div>
				</fieldset>
			</div>
			

			
			
			<fieldset>
				<div class="col-sm-3">
				</span><label style ="color:red">*</label><span class="space space-xs"><label><small>Required field</small></label>
				</div>										
			</fieldset>	
		</form>
		<div class="modal-footer" >
			<!-- <button type="submit" class="btn btn-success" ng-click="modaleditManage.button=true;modaleditManage.showHide=true" ng-show="!modaleditManage.showHide">Edit</button>
			<button type="submit" class="btn btn-success"  ng-disabled="myForm.$invalid" ng-click="modaleditManage.save();" ng-hide="!modaleditManage.showHide">Save</button>
			<button class="btn btn-danger" ng-click="modaleditManage.close()" ng-show="!modaleditManage.showHide">Close</button>
			<button class="btn btn-danger" ng-click="modaleditManage.close()" ng-hide="!modaleditManage.showHide">Cancel</button>
		-->

		<button class="btn btn-success" ng-click="modaleditManage.buttonEdit=true;modaleditManage.showHide=true" ng-show="!modaleditManage.showHide">Edit</button>
		<button class="btn btn-success" ng-click="modaleditManage.save()" ng-hide="!modaleditManage.showHide">Save</button>
		<button class="btn btn-danger" ng-click="modaleditManage.close()" ng-show="!modaleditManage.showHide">Close</button>
		<button class="btn btn-danger" ng-click="modaleditManage.close()" ng-hide="!modaleditManage.showHide">Cancel</button>
	</div>

</div>
</script>		


