
<div class="page page-status">
	<section class="panel panel-primary table-dynamic" data-ng-controller="monthlyGovernmentsReportCtrl as mgrc">
		<div class="panel-heading"><strong><span class="glyphicon glyphicon-th" style="margin-right: 8px;"></span>Monthly Expatriate Payroll</strong></div>
		<div class="panel-body">
			<form name="myForm" class="form-horizontal form-validation">
				<div class="from-group">
					<div class="row">
						<div class="col-sm-3">
							<label>Choose Report</label>
							<br>

							<input type="radio" name="monthyear" value="month" checked="checked" > Monthly<br>
							<input type="radio" name="monthyear" value="year"> Yearly<br>

						</div>

						<div class="col-sm-3">
							<label>Cut Off Periode</label><label style ="color:red">*</label>
							<select name="job" ng-model="mgrc.handler.form.cutoff" class="form-control">

								<option value=""> - - ALL - - </option>

								<option ng-repeat="a in mgrc.handler.cutoff_date"  value="{{a.payout_date}}"> {{a.payout_date}}</option>

							</select>


						</div>
						<div class="col-sm-3">
							<label>Department</label>
							<table class="table table-bordered table-striped table-responsive">
								<thead>
									<tr>
										<th style="width:1%"></th>
										<th style="width:100%">Name Department</th>
									</tr>
								</thead>
								<tbody>
									<tr data-ng-repeat="b in mgrc.handler.setdataDepartment">
										<td>
											<input 	type="checkbox"  
											checklist-value="b.department_id"  
											checklist-model="mgrc.handler.form.department"
											ng-click='mgrc.handler.disabledinput()'
											/>            
										</td>
										<td>{{b.department_name}}</td>
									</tr>
								</tbody>
							</table>

						</div>

						<div class="col-sm-3">
							<label>Cut Off Periode</label><label style ="color:red">*</label>
							<select name="job" ng-model="mgrc.handler.form.cutoff" class="form-control">

								<option value=""> - - ALL - - </option>

								<option ng-repeat="a in mgrc.handler.cutoff_date"  value="{{a.payout_date}}"> {{a.payout_date}}</option>

							</select>


						</div>





					</div>


					<button type="submit" class="btn btn-success" ng-click="mgrc.handler.searchDatas(mgrc.handler.form.employee_id,mgrc.handler.form.department, mgrc.handler.form.cutoff)">Search</button>

				</div><br>
			</form>



			<div class="form-group">
				<div class="row">
					<div class="col-sm-4">
						<form>
							<input type="text"
							placeholder="Search..."
							class="form-control"
							data-ng-model="mgrc.handler.search"
							data-ng-model-options="{debounce:300}"
							>
						</form>
					</div>
					<div class="col-sm-3 filter-result-info">
						<span>
							Showing {{mgrc.handler.paginated.length}}/{{mgrc.handler.maindata.length}} entries
						</span>              
					</div>
				</div>
			</div><br>

			<div style="overflow-x: auto;">
				<table class="table table-bordered table-striped table-responsive" >
					<thead>
						<tr>
							<th><div class="th">
							</div></th>
							<th ng-repeat='a in mgrc.handler.headers' width='{{a.width}}'>
								<div class="th">
									{{a.name}}
									<span class="fa fa-angle-up"
									data-ng-if="a.sort"
									data-ng-click="mgrc.handler.setactiveheader(a,true)"
									data-ng-class="{active: $index == mgrc.handler.activeheader.id && mgrc.handler.activeheader.order == true}">
								</span>
								<span class="fa fa-angle-down"
								data-ng-if="a.sort"
								data-ng-click="mgrc.handler.setactiveheader(a,false)"
								data-ng-class="{active: $index == mgrc.handler.activeheader.id && mgrc.handler.activeheader.order == false}">
							</span>
						</div>
					</th>



				</tr>
			</thead>

			<tbody>
				<tr data-ng-repeat="a in mgrc.handler.getdata() | orderBy: mgrc.handler.activeheader.sort : mgrc.handler.activeheader.order track by [$index]">
					<td><input type="checkbox" checklist-value="a.id"  checklist-model="mgrc.handler.check"/></td>

					<td style="cursor:pointer" ng-click="mgrc.handler.openmodal('edit',a)">{{a.first_name}} {{a.middle_name}} {{a.last_name}}</td>
					<td style="cursor:pointer" ng-click="mgrc.handler.openmodal('edit',a)">{{a.department_name}}</td>
					<td style="cursor:pointer" ng-click="mgrc.handler.openmodal('edit',a)">{{a.basic}}</td>
					<td style="cursor:pointer" ng-click="mgrc.handler.openmodal('edit',a)">{{a.ecola}}</td>
					<td style="cursor:pointer" ng-click="mgrc.handler.openmodal('edit',a)"></td>
					<td style="cursor:pointer" ng-click="mgrc.handler.openmodal('edit',a)">{{a.total}}</td>
					<td style="cursor:pointer" ng-click="mgrc.handler.openmodal('edit',a)"></td>
					<td style="cursor:pointer" ng-click="mgrc.handler.openmodal('edit',a)">{{a.sss}}</td>
					<td style="cursor:pointer" ng-click="mgrc.handler.openmodal('edit',a)">{{a.philhealth}}</td>
					<td style="cursor:pointer" ng-click="mgrc.handler.openmodal('edit',a)">{{a.hdmf}}</td>
					<td style="cursor:pointer" ng-click="mgrc.handler.openmodal('edit',a)"></td>
					<td style="cursor:pointer" ng-click="mgrc.handler.openmodal('edit',a)">{{a.loan_sss}}</td>
					<td style="cursor:pointer" ng-click="mgrc.handler.openmodal('edit',a)">{{a.loan_hdmf}}</td>
					<td style="cursor:pointer" ng-click="mgrc.handler.openmodal('edit',a)">{{a.loan_hmo}}</td>
					<td style="cursor:pointer" ng-click="mgrc.handler.openmodal('edit',a)">{{a.loan_cash_advance}}</td>
					<td style="cursor:pointer" ng-click="mgrc.handler.openmodal('edit',a)"></td>
					<td style="cursor:pointer" ng-click="mgrc.handler.openmodal('edit',a)">{{a.total_deduction}}</td>
					<td style="cursor:pointer" ng-click="mgrc.handler.openmodal('edit',a)">{{a.total_net_pay}}</td>


					<td></td>
				</tr>
			</tbody>
		</table>
	</div>

	<footer class="table-footer">
		<div class="row">
			<div class="col-md-6 page-num-info">
				<span>
					Show 
					<select data-ng-model="mgrc.handler.numPerPage"
					data-ng-options="num for num in mgrc.handler.numPerPageOpt"
					data-ng-change="onNumPerPageChange()">
				</select> 
				entries per page
			</span>
		</div>
		<div class="col-md-6 text-right pagination-container">
			<pagination class="pagination-sm"
			ng-model="mgrc.handler.currentPage"
			total-items="mgrc.handler.filtered.length"
			max-size="4"
			ng-change="select(currentPage)"
			items-per-page="mgrc.handler.numPerPage"
			rotate="false"
			previous-text="&lsaquo;" next-text="&rsaquo;"
			boundary-links="true"></pagination>
		</div>
	</div>
</footer>
</div>
</section>
</div>			
<!--Modal Add Employment Status-->
<script type="text/ng-template" id="addmodal"> 
	<div class="modal-header">
		<h4><i class="fa fa-save" style="margin-right: 8px;" ></i>Add Incentive/Allowance</h4>
	</div>
	<div class="modal-body">
		<form name="myForm"  class="form form-validation" ng-submit="myForm.$valid && submit(addmodal.form)">	
			<div class='form-group'>
				<fieldset>
					<div class="col-md-5">
						<label for="">Incentive / Allowance Name</label><span class="space space-sm"></span><label style ="color:red">*</label>
					</div>
					<div class="col-md-7">
						<input type="text" name="name" class="form-control" autocomplete="off" ng-model="addmodal.form.title" placeholder="Name" required/>
						<span style="color:red" ng-show="myForm.name.$dirty && myForm.name.$invalid" >
							<span ng-show="myForm.name.$error.required">Name is required.</span>
						</span>
					</div>
				</fieldset>
			</div>

			<div class='form-group'>
				<fieldset>
					<div class="col-md-5">
						<label for="">Incentive Amount</label><span class="space space-sm"></span><label style ="color:red">*</label>
					</div>
					<div class="col-md-7">
						<input type="number" name="amount" class="form-control" autocomplete="off" ng-model="addmodal.form.amount" placeholder="00.00" required/>
						<span style="color:red" ng-show="myForm.amount.$dirty && myForm.amount.$invalid">
							<span ng-show="myForm.amount.$error.required">Amount is required.</span>
						</span>
					</div>
				</fieldset>
			</div>
			<fieldset>
				<div class="col-sm-3">
				</span><label style ="color:red">*</label><span class="space space-xs"><label><small>Required field</small></label>
				</div>										
			</fieldset>	
		</form>	
		<div class="modal-footer">
			<button type="submit" class="btn btn-success" ng-disabled="myForm.$invalid"  ng-click="addmodal.save()">Save</button>
			<button class="btn btn-danger" ng-click="addmodal.close()">Cancel</button>
		</div>
	</div>
</script>

<!--Modal Edit Employment Status-->
<script type="text/ng-template" id="modaledit">
	<div class="modal-header">
		<h4><i class="fa fa-pencil-square-o" style="margin-right: 8px;" ></i>Edit Salary And mgrctive Allowance</h4>
	</div>
	<div class="modal-body">
		<form name="myForm"  class="form form-validation" ng-submit="myForm.$valid && submit(formData)">	
			<div class='form-group'>	
				<fieldset>
					<div class="col-md-2">
						<label for="">Name</label><span class="space space-sm"></span><label style ="color:red">*</label>
					</div>
					<div class="col-md-8">
						<input 	type="text"
						class="form-control"
						name="title" 
						ng-disabled="!modaledit.button"  
						ng-model="modaledit.form.title" 
						autocomplete="off"
						required
						/>
						<span style="color:red" ng-show="myForm.title.$dirty && myForm.title.$invalid">
							<span ng-show="myForm.title.$error.required">Title is required.</span>
						</span>
					</div>
				</fieldset>
			</div>

			<div class='form-group'>	
				<fieldset>
					<div class="col-md-2">
						<label for="">Amount</label><span class="space space-sm"></span><label style ="color:red">*</label>
					</div>
					<div class="col-md-8">
						<input 	type="text"
						class="form-control"
						name="amount" 
						ng-disabled="!modaledit.button"  
						ng-model="modaledit.form.amount" 
						autocomplete="off"
						required
						/>
						<span style="color:red" ng-show="myForm.amount.$dirty && myForm.amount.$invalid">
							<span ng-show="myForm.amount.$error.required">Title is required.</span>
						</span>
					</div>
				</fieldset>
			</div>
			<fieldset>
				<div class="col-sm-3">
				</span><label style ="color:red">*</label><span class="space space-xs"><label><small>Required field</small></label>
				</div>										
			</fieldset>	
		</form>
		<div class="modal-footer" >
			<button type="submit" class="btn btn-success" ng-click="modaledit.button=true;">Edit</button>
			<button type="submit" class="btn btn-success"  ng-disabled="myForm.$invalid" ng-click="modaledit.save();">Save</button>
			<button class="btn btn-danger" ng-click="modaledit.close()">Cancel</button>
		</div>

	</div>
</script>		

