<div class="page page-mIncAllRecord"  ng-controller="monthIncenAllowCtrl as mIncAll">
	<style>
		.boxmodel{
			width: 10px;
			height: 10px;  
			padding: 10px;
			border: 2px solid black;
			margin-left: 20px;
			margin-right: 10px;


		}


	</style>

	<section class="panel panel-primary table-dynamic">
		<div class="panel-heading"><strong><span class="glyphicon glyphicon-th" style="margin-right: 8px;"></span>Monthly Incentives and Allowances</strong></div>
		<div class="panel-body ">	
			<form name="myForm" class="form-horizontal form-validation">
				<div class="form-group ">
					<div class="col-sm-2">
						<label>Employee Name</label><label style ="color:red">*</label>
					</div>
					<div class="col-sm-2">
						<input 	type="text"
						placeholder="Type for hint . ."
						class="form-control"
						name="employee_id"
						data-ng-model="mIncAll.handler.form.employee_id"
						typeahead="(address.name) for address in mIncAll.handler.getLocation($viewValue)" 
						typeahead-loading="loadingLocations"
						typeahead-min-length="4"
						ng-disabled="mIncAll.handler.hide"
						typeahead-wait-ms="400"
						typeahead-on-select="mIncAll.handler.onSelect($item, $model, $label)"
						autocomplete="off" 
						/>


					</div>

					<div class="col-sm-2">
						<label>Department</label><label style ="color:red">*</label>
					</div>
					<div class="col-sm-2">
						<select name="department" ng-model="mIncAll.handler.form.department" class="form-control" ng-options="department.id as department.name for department in mIncAll.handler.maindataDepartment">
							<option value=""> - - ALL - - </option>
						</select>




					</div>

					<div class="col-sm-2">
						<label>Job Title</label><label style ="color:red">*</label>
					</div>
					<div class="col-sm-2">
						<select name="job" ng-model="mIncAll.handler.form.job" class="form-control" ng-options="job.id as job.title for job in mIncAll.handler.maindataJobs">
							<option value=""> - - ALL - - </option>
						</select>



					</div>

					<br>
					<br>
					<br>

					<div class="col-sm-2">
						<label>Monthly Incentive Cut Off</label><label style ="color:red">*</label>
					</div>
					<div class="col-sm-2">
						<select name="cutoff" ng-model="mIncAll.handler.form.cutoff_date" class="form-control" ng-options="maindataPeriod.periode as maindataPeriod.periode for maindataPeriod in mIncAll.handler.maindataPeriod" required>
							<option value=""> - - ALL - - </option>
						</select>


					</div>
				</div><br>
				<div class="form-group">
					<fieldset>
						<div class="col-sm-3">
							<label style="color:red">*</label><span class="space space-xs"></span><label><small>Required field</small></label>
						</div>										
					</fieldset>
				</div>
				<hr>
				<div class="form-group">										
					<div class="col-sm-6">
						<form>
							<button type="submit" class="btn btn-success"  ng-click="mIncAll.handler.save()">View</button>
						</form>
					</div>
				</div>
			</form>
		</div>
	</section>

	<section class="panel panel-primary table-dynamic">
		<div class="panel-heading"><strong><p class="text-center">Monthly Incentives and allowances record</p></strong></div>
		<div class="panel-body">
			<footer class="table-footer">
				<div class="row">

					<div class="col-sm-2">
						<input type="month" class='form-control' ng-disabled="mIncAll.handler.button" id="exampleInput" name="input" 
						ng-model="mIncAll.handler.Selectdate" min="{{mIncAll.handler.Selectdate_start}}" max="{{mIncAll.handler.Selectdate_end}}"
						ng-change="mIncAll.handler.select_month(mIncAll.handler.Selectdate)"
						style="float: left"/>

					</div>
					<div class="col-sm-1 text-left pagination-container">
						<button type="submit" class="btn btn-danger"  ng-disabled="mIncAll.handler.button" ng-click="mIncAll.handler.setToday(mIncAll.handler.today,'date')"> X </button>
					</div>
					<div class="col-sm-2">
						<label class="label" ng-class="mIncAll.handler.getActive(mIncAll.handler.currentPage) == 2 ? 'label-success' : 'label-default'">{{mIncAll.handler.getPeriod(2,mIncAll.handler.currentPage)}}</label>

					</div>
					<div class="col-sm-2">
						<label class="label" ng-class="mIncAll.handler.getActive(mIncAll.handler.currentPage) == 3 ? 'label-success' : 'label-default'">{{mIncAll.handler.getPeriod(3,mIncAll.handler.currentPage)}}</label>
					</div>
					<div class="col-sm-2 text-right pagination-container">


					</div>
					<div class="col-sm-1 text-left pagination-container">
					</div>
					<div class="col-md-4 text-right pagination-container" style="float:right;">


						<pagination class="pagination-sm"
						ng-model="mIncAll.handler.currentPage"
						total-items="mIncAll.handler.filtered.length"
						max-size="4"
						items-per-page="mIncAll.handler.numPerPage"
						rotate="false"
						ng-click = "clickPaginate($index)"
						ng-change="select(currentPage)"
						></pagination>

					</div>

				</div>
			</footer>
			<table class="table table-bordered table-striped table-responsive">
				<thead>
					<tr>
						<th ng-repeat='a in mIncAll.handler.headers'  width='{{a.width}}'>
							<div class="th" style="text-align:center">
								{{a.name}}
								<span class="fa fa-angle-up"
								data-ng-if="a.sort"
								data-ng-click="mIncAll.handler.setactiveheader(a,true) "
								data-ng-class="{active: $index == mIncAll.handler.activeheader.id && mIncAll.handler.activeheader.order == true}">
							</span>
							<span class="fa fa-angle-down"
							data-ng-if="a.sort"
							data-ng-click=" mIncAll.handler.setactiveheader(a,false) "
							data-ng-class="{active: $index == mIncAll.handler.activeheader.id && mIncAll.handler.activeheader.order == false}">
						</span>
					</div>
				</th>
			</tr>
		</thead>
		<tbody>
			<tr data-ng-repeat="a in mIncAll.handler.getdata() | orderBy: mIncAll.handler.activeheader.sort : mIncAll.handler.activeheader.order track by [$index]">
				<td style="text-align:center" >
					<b>{{a.department_name}}</b>
				</td>
				<td style="text-align:center">
					<b>{{a.job_title}}</b>
				</td>
				<td  style="text-align:center">
					<b>{{a.Name}}</b>
				</td>

				<td style="text-align:center;">
					<b>{{a.tar}}</b>
				</td>

				<td style="text-align:center">
					<b>{{a.abs}}</b>
				</td>

				<td style="text-align:center">
					<b>{{a.disciplin}}</b>
					
				</td>

				<td style="text-align:center">
					<b>{{a.monthly_incentive}}</b>
				</td>

				<td style="text-align:center;cursor:pointer" ng-click="mIncAll.handler.openmodal('edit',a)" >
					<b>{{a.deductions_monthly}}</b>
				</td>


				<td style="text-align:center;cursor:pointer" ng-click="mIncAll.handler.openmodal('edit',a)" >
					<b>{{a.food_incentive}}</b>
				</td>

				<td style="text-align:center;cursor:pointer" ng-click="mIncAll.handler.openmodal('edit',a)" >
					<b>{{a.deductions_food}}</b>
				</td>

				<td style="text-align:center;cursor:pointer" ng-click="mIncAll.handler.openmodal('edit',a)" >
					<b>{{a.adjustment_payroll}}</b>
				</td>
				<td style="text-align:center;cursor:pointer" ng-click="mIncAll.handler.openmodal('edit',a)" >
					<b>{{a.total}}</b>
				</td>

				<td>
					<button type="button" 
					class="btn btn-gap-v btn-success"   
					ng-click="mIncAll.handler.generateExcel(a)"	
					>
					Generate to Excel
				</button>
			</td>

		</tr>
	</tbody>
</table>

<div class="col-sm-4">
	<form>
			<!-- <button class="btn btn-gap-v btn-success"  
			ng-click="mIncAll.handler.openmodal('add')"
			>
			Edit
		</button> -->
		<span class="space space-sm"></span>
		<button type="button" 
		class="btn btn-gap-v btn-danger"   
		ng-click="mIncAll.handler.cutOffData()"	
		>
		Cut Off
	</button>
</form>
</div>


<div>

</div>



</div>
</section>



</div>




<!--Modal Edit 13th Pay Status-->
<script type="text/ng-template" id="modaledit">
	<div class="modal-header">
		<h4><i class="fa fa-pencil-square-o" style="margin-right: 8px;" ></i>Edit Deduction</h4>
	</div>
	<div class="modal-body">
		<form name="myForm"  class="form form-validation" ng-submit="myForm.$valid && submit(formData)">	
			<div class='form-group'>	
				<fieldset>
					<div class="col-md-4">
						<label for="">Monthly Incentives</label><span class="space space-sm"></span>
					</div>
					<div class="col-md-8">
						<input 	type="number"
						class="form-control"
						name="december_diff"  
						ng-model="modaledit.form.monthly_incentive" 
						autocomplete="off"
						disabled 
						/>

					</div>
				</fieldset>
			</div>


			<div class='form-group'>	
				<fieldset>
					<div class="col-md-4">
						<label for="">Deduction Month</label><span class="space space-sm"></span><label style ="color:red">*</label>
					</div>
					<div class="col-md-8">
						<input 	type="number"
						class="form-control"
						name="december_diff"  
						ng-model="modaledit.form.deductions_monthly" 
						ng-disabled="!modaledit.buttonEdit"  
						autocomplete="off"
						ng-change = "modaledit.disabledButton1(); modaledit.calculate()"
						disabled 
						/>

						<div ng-show="modaledit.showErrorCompare1">
							<span style="color:red" >
								<span>Deduction Month Must be Less Than Monthly Incentives!</span>
							</span>
						</div>
					</div>
				</fieldset>
			</div>

			<div class='form-group'>	
				<fieldset>
					<div class="col-md-4">
						<label for="">Food Incentives</label><span class="space space-sm"></span>
					</div>
					<div class="col-md-8">
						<input 	type="number"
						class="form-control"
						ng-model="modaledit.form.food_incentive" 
						autocomplete="off"
						disabled
						/>

					</div>
				</fieldset>
			</div>

			<div class='form-group'>	
				<fieldset>
					<div class="col-md-4">
						<label for="">Deductions Food</label><span class="space space-sm"></span>
					</div>
					<div class="col-md-8">
						<input 	type="number"
						class="form-control"  
						ng-model="modaledit.form.deductions_food"  
						ng-disabled="!modaledit.buttonEdit"  
						ng-change = "modaledit.disabledButton2();modaledit.calculate()"

						disabled 
						/>
						<div ng-show="modaledit.showErrorCompare2">
							<span style="color:red">
								<span>Deductions Food must be Less than Food Incentives!</span>
							</span>
						</div>

					</div>
				</fieldset>
			</div>
			<div class='form-group'>	
				<fieldset>
					<div class="col-md-4">
						<label for="">Adjustment</label><span class="space space-sm"></span><label style ="color:red">*</label>
					</div>
					<div class="col-md-8">
						<input 	type="number"
						class="form-control"
						name="adjustment" 
						ng-disabled="!modaledit.buttonEdit"  
						ng-model="modaledit.form.adjustment_payroll" 
						autocomplete="off"
						ng-change="modaledit.calculate() "
						required
						/>
						<span style="color:red" ng-show="myForm.adjustment.$dirty && myForm.adjustment.$invalid">
							<span ng-show="myForm.adjustment.$error.required">Adjustment is required.</span>
						</span>
					</div>
				</fieldset>
			</div>

			<div class='form-group'>	
				<fieldset>
					
					<div class="col-md-12">
						<div style="border-top: 3px double #8c8b8b;"></div>
					</div>
				</fieldset>
			</div>

			<div class='form-group'>	
				<fieldset>
					<div class="col-md-4">
						<label for="">Total</label><span class="space space-sm"></span>
					</div>
					<div class="col-md-8">
						<input 	type="number"
						class="form-control"
						ng-model="modaledit.form.total" 
						autocomplete="off"
						disabled
						/>

					</div>
				</fieldset>
			</div>
			
			<fieldset>
				<div class="col-sm-3">
				</span><label style ="color:red">*</label><span class="space space-xs"><label><small>Required field</small></label>
				</div>										
			</fieldset>	
		</form>
		<div class="modal-footer" >
<!-- 			<button type="submit" class="btn btn-success" ng-click="modaledit.button=true;">Edit</button>
			<button type="submit" class="btn btn-success"  ng-disabled="myForm.$invalid" ng-click="modaledit.save();">Save</button>
			<button class="btn btn-danger" ng-click="modaledit.close()">Cancel</button> -->
			<button class="btn btn-success" ng-click="modaledit.buttonEdit=true;modaledit.showHide=true" ng-show="!modaledit.showHide">Edit</button>
			<button class="btn btn-success" ng-click="modaledit.save()" ng-hide="!modaledit.showHide" ng-disabled="myForm.$invalid || modaledit.disabledbuttonsave">Save</button>
			<button class="btn btn-danger" ng-click="modaledit.close()" ng-show="!modaledit.showHide" >Close</button>
			<button class="btn btn-danger" ng-click="modaledit.close()" ng-hide="!modaledit.showHide">Cancel</button>
		</div>

	</div>
</script>		


