
<div class="page page-status">
	<section class="panel panel-primary table-dynamic" data-ng-controller="payrollPerCutoffCtrl as ppco">
		<div class="panel-heading"><strong><span class="glyphicon glyphicon-th" style="margin-right: 8px;"></span>Payroll Per Cut Off</strong></div>
		<div class="panel-body">
			<div class="from-group">
				<div class="row">
					<div class="col-sm-3">
						<label>Employee Name</label>
						<input 	type="text"
						placeholder="Type for hint . ."
						class="form-control"
						name="employee_id"
						data-ng-model="ppco.handler.form.employee_id"
						typeahead="(address.name) for address in ppco.handler.getLocation($viewValue)" 
						typeahead-loading="loadingLocations"
						typeahead-min-length="4"
						typeahead-wait-ms="400"
						typeahead-on-select="ppco.handler.onSelect($item, $model, $label)"
						autocomplete="off" 
						
						/>

					</div>
					<div class="col-sm-3">
						<label>Department</label>
						<table class="table table-bordered table-striped table-responsive">
							<thead>
								<tr>
									<th style="width:1%"></th>
									<th style="width:100%">Name Department</th>
								</tr>
							</thead>
							<tbody>
								<tr data-ng-repeat="b in ppco.handler.setdataDepartment">
									<td>
										<input 	type="checkbox"  
										checklist-value="b.department_id"  
										checklist-model="ppco.handler.form.department"
										ng-click='ppco.handler.disabledinput()'
										/>            
									</td>
									<td>{{b.department_name}}</td>
								</tr>
							</tbody>
						</table>

					</div>

					<div class="col-sm-3">
						<label>Cut Off Periode</label><label style ="color:red">*</label>
						<select name="job" ng-model="ppco.handler.form.cutoff" class="form-control">
							
							<option value=""> - - ALL - - </option>
							
							<option ng-repeat="a in ppco.handler.cutoff_date"  value="{{a.periode}}"> {{a.payout_date}}</option>

						</select>


					</div>
					


					
				</div>
			</div><br>
			<div class="col-sm-4">
				<form>
					<button class="btn btn-gap-v btn-success"  
					ng-click="ppco.handler.searchingData()"
					>
					Search
				</button>
				<span class="space space-sm"></span>

			</form>
		</div>

		<br>
		<br>
		<br>


		<div class="form-group">
			<div class="row">
				<div class="col-sm-4">
					<form>
						<input type="text"
						placeholder="Search..."
						class="form-control"
						data-ng-model="ppco.handler.search"
						data-ng-model-options="{debounce:300}"
						>
					</form>
				</div>
				<div class="col-sm-3 filter-result-info">
					<span>
						Showing {{ppco.handler.paginated.length}}/{{ppco.handler.maindata.length}} entries
					</span>              
				</div>
			</div>
		</div><br>

		<div style="overflow-x: auto;">
			<table class="table table-bordered table-striped table-responsive" >
				<thead>
					<tr>
						<th class="th" ></th>
						<th class="th" ></th>
						<th class="th" ></th>
						<th class="th" ></th>
						<th style="vertical-align: middle" class="th" colspan="8"> <center>Absences (No of Days) </center></th>
						<th style="vertical-align: middle" class="th" colspan="4"> <center>Leave With Pay (No of Days) </center></th>
						<th style="vertical-align: middle" class="th" colspan="2"> <center>Holiday Works (No of Days) </center></th>
						<th style="vertical-align: middle" class="th" colspan="10"> <center>Overtime (No of Hours) </center></th>
						<th style="vertical-align: middle" class="th" colspan="6"> <center>Night Differential (No of Hours) </center></th>
						<th style="vertical-align: middle" class="th" colspan="2"> <center>Tardiness (No of Minutes) </center></th>
						<th style="vertical-align: middle" class="th" colspan="4"> <center>Monthly Salary Rate </center></th>
						<th style="vertical-align: middle" class="th" colspan="4"> <center>Daily Salary Rate </center></th>
						<th style="vertical-align: middle" class="th" colspan="4"> <center>Hourly Salary Rate </center></th>
						<th style="vertical-align: middle" class="th" colspan="4"> <center>Minutely Salary Rate </center></th>
						<th style="vertical-align: middle" class="th" colspan="4"> <center>Per Cut-off Salary Rate </center></th>
						<th style="vertical-align: middle" class="th" colspan="4"> <center>Total Absences</center></th>
						<th style="vertical-align: middle" class="th" colspan="4"> <center>Total Leave With Pay</center></th>
						<th style="vertical-align: middle" class="th" colspan="4"> <center>Total Holiday Work Pay</center></th>
						<th style="vertical-align: middle" class="th" colspan="4"> <center>Total Overtime Pay</center></th>
						<th style="vertical-align: middle" class="th" colspan="4"> <center>Total Night Difeerential Pay</center></th>
						<th style="vertical-align: middle" class="th" colspan="4"> <center>Total Tardiness </center></th>
						<th style="vertical-align: middle" class="th" colspan="4"> <center>Other Adjustment</center></th>
						<th style="vertical-align: middle" class="th" colspan="4"> <center>Total Gross Salary This Cut Off</center></th>
						<th style="vertical-align: middle" class="th"> <center>Gov't</center></th>
						<th style="vertical-align: middle" class="th" colspan="10"> <center>Deductions</center></th>
						<th style="vertical-align: middle" class="th"> <center>Net Pay</center></th>




					</tr>
					<tr>
						<th ng-repeat='a in ppco.handler.headers' width='{{a.width}}'>
							<div class="th">
								{{a.name}}
								<span class="fa fa-angle-up"
								data-ng-if="a.sort"
								data-ng-click="ppco.handler.setactiveheader(a,true)"
								data-ng-class="{active: $index == ppco.handler.activeheader.id && ppco.handler.activeheader.order == true}">
							</span>
							<span class="fa fa-angle-down"
							data-ng-if="a.sort"
							data-ng-click="ppco.handler.setactiveheader(a,false)"
							data-ng-class="{active: $index == ppco.handler.activeheader.id && ppco.handler.activeheader.order == false}">
						</span>
					</div>
				</th>



			</tr>
		</thead>

		<tbody ng-repeat="a in ppco.handler.getdata() | orderBy: ppco.handler.activeheader.sort : ppco.handler.activeheader.order track by [$index]">
			<tr ng-repeat="b in a.account">
				<td > {{a.department_name}}</td>
				<td > {{b.employee_name}}</td>


				<td style="font-weight: bold;background-color:#fffa63"> {{b.detail.working_day}}</td>
				<td style="font-weight: bold;background-color:#fda735"> {{b.detail.no_day_off}}</td>
				

				<!-- ABSENCE DAY -->
				<td style="font-weight: bold;background-color:#72ba51"> {{b.detail.absences_of_days.VL}}</td>
				<td style="font-weight: bold;background-color:#72ba51"> {{b.detail.absences_of_days.EL}}</td>
				<td style="font-weight: bold;background-color:#72ba51"> {{b.detail.absences_of_days.SL}}</td>
				<td style="font-weight: bold;background-color:#72ba51"> {{b.detail.absences_of_days.BL}}</td>
				<td style="font-weight: bold;background-color:#72ba51"> {{b.detail.absences_of_days.BEL}}</td>
				<td style="font-weight: bold;background-color:#72ba51"> {{b.detail.absences_of_days.MAL}}</td>
				<td style="font-weight: bold;background-color:#72ba51"> {{b.detail.absences_of_days.PL}}</td>
				<td style="font-weight: bold;background-color:#72ba51"> {{b.detail.absences_of_days.ML}}</td>

				<!-- LEAVE WITH PAY -->
				<td style="font-weight: bold;background-color:#fb3823;color: white;"> {{b.detail.leave_with_pay.BL}}</td>
				<td style="font-weight: bold;background-color:#fb3823;color: white;"> {{b.detail.leave_with_pay.MA}}</td>
				<td style="font-weight: bold;background-color:#fb3823;color: white;"> {{b.detail.leave_with_pay.PL}}</td>
				<td style="font-weight: bold;background-color:#fb3823;color: white;"> {{b.detail.leave_with_pay.BE}}</td>

				<!-- HOLIDAY WORK -->
				<td style="font-weight: bold;background-color:#d6d6d6;"> {{b.detail.holiday_work.rh}}</td>
				<td style="font-weight: bold;background-color:#d6d6d6;"> {{b.detail.holiday_work.sh}}</td>

				<!-- OVERTIME OF HOURS -->
				<td style="font-weight: bold;background-color:#1b63e9;color: white;"> {{b.detail.overtime_of_hours.got}}</td>
				<td style="font-weight: bold;background-color:#1b63e9;color: white;"> {{b.detail.overtime_of_hours.rot}}</td>
				<td style="font-weight: bold;background-color:#1b63e9;color: white;"> {{b.detail.overtime_of_hours.rhot}}</td>
				<td style="font-weight: bold;background-color:#1b63e9;color: white;"> {{b.detail.overtime_of_hours.shot}}</td>
				<td style="font-weight: bold;background-color:#1b63e9;color: white;"> {{b.detail.overtime_of_hours.rotdo_1st}}</td>
				<td style="font-weight: bold;background-color:#1b63e9;color: white;"> {{b.detail.overtime_of_hours.rotdo_excess}}</td>
				<td style="font-weight: bold;background-color:#1b63e9;color: white;"> {{b.detail.overtime_of_hours.rhrdot_1st}}</td>
				<td style="font-weight: bold;background-color:#1b63e9;color: white;"> {{b.detail.overtime_of_hours.rhrdot_excess}}</td>
				<td style="font-weight: bold;background-color:#1b63e9;color: white;"> {{b.detail.overtime_of_hours.shrdot_1st}}</td>
				<td style="font-weight: bold;background-color:#1b63e9;color: white;"> {{b.detail.overtime_of_hours.shrdot_excess}}</td>
				
				<!-- NIGHT DIFFERENT -->
				<td style="font-weight: bold;background-color:#a7c5f8"> {{b.detail.night_differential.nd}}</td>
				<td style="font-weight: bold;background-color:#a7c5f8"> {{b.detail.night_differential.rhnd}}</td>
				<td style="font-weight: bold;background-color:#a7c5f8"> {{b.detail.night_differential.shnd}}</td>
				<td style="font-weight: bold;background-color:#a7c5f8"> {{b.detail.night_differential.rdnd}}</td>
				<td style="font-weight: bold;background-color:#a7c5f8"> {{b.detail.night_differential.rhrdnd}}</td>
				<td style="font-weight: bold;background-color:#a7c5f8"> {{b.detail.night_differential.shrdnd}}</td>

				
				<!-- TARDINESS -->
				<td style="font-weight: bold;background-color:#d4d5d4"> {{b.detail.tardiness.late}}</td>
				<td style="font-weight: bold;background-color:#d4d5d4"> {{b.detail.tardiness.undertime}}</td>
				
				

				<!-- MONTH SALARY RATE -->
				<td style="font-weight: bold;background-color:#f4eb44"> {{b.detail.monthly_salary_rate.basic}}</td>
				<td style="font-weight: bold;background-color:#f4eb44"> {{b.detail.monthly_salary_rate.ecola}}</td>
				<td style="font-weight: bold;background-color:#f4eb44"> {{b.detail.monthly_salary_rate.other_allowance}}</td>
				<td style="font-weight: bold;background-color:#f4eb44"> {{b.detail.monthly_salary_rate.total}}</td>

				<!-- DAILY SALARY RATE -->
				<td style="font-weight: bold;background-color:#72bb52"> {{b.detail.daily_salary_rate.basic}}</td>
				<td style="font-weight: bold;background-color:#72bb52"> {{b.detail.daily_salary_rate.ecola}}</td>
				<td style="font-weight: bold;background-color:#72bb52"> {{b.detail.daily_salary_rate.other_allowance}}</td>
				<td style="font-weight: bold;background-color:#72bb52"> {{b.detail.daily_salary_rate.total}}</td>

				
				<!-- HOURLY SALARY RATE	 -->
				<td style="font-weight: bold;background-color:#3d89f4;color: white;"> {{b.detail.hourly_salary_rate.basic}}</td>
				<td style="font-weight: bold;background-color:#3d89f4;color: white;"> {{b.detail.hourly_salary_rate.ecola}}</td>
				<td style="font-weight: bold;background-color:#3d89f4;color: white;"> {{b.detail.hourly_salary_rate.other_allowance}}</td>
				<td style="font-weight: bold;background-color:#3d89f4;color: white;"> {{b.detail.hourly_salary_rate.total}}</td>

				<!-- MINUTELY SALARY RATE -->
				<td style="font-weight: bold;background-color:#fb8b84"> {{b.detail.minutely_salary_rate.basic}}</td>
				<td style="font-weight: bold;background-color:#fb8b84"> {{b.detail.minutely_salary_rate.ecola}}</td>
				<td style="font-weight: bold;background-color:#fb8b84"> {{b.detail.minutely_salary_rate.other_allowance}}</td>
				<td style="font-weight: bold;background-color:#fb8b84"> {{b.detail.minutely_salary_rate.total}}</td>

				<!-- PER CUT OFF SALARY -->
				<td style="font-weight: bold;background-color:#fea735"> {{b.detail.percutoff_salary_rate.basic}}</td>
				<td style="font-weight: bold;background-color:#fea735"> {{b.detail.percutoff_salary_rate.ecola}}</td>
				<td style="font-weight: bold;background-color:#fea735"> {{b.detail.percutoff_salary_rate.other_allowance}}</td>
				<td style="font-weight: bold;background-color:#fea735"> {{b.detail.percutoff_salary_rate.total}}</td>

				<!-- TOTAL ABSENCES -->
				<td style="font-weight: bold;background-color:#f4e947"> {{b.detail.total_absences.basic}}</td>
				<td style="font-weight: bold;background-color:#f4e947"> {{b.detail.total_absences.ecola}}</td>
				<td style="font-weight: bold;background-color:#f4e947"> {{b.detail.total_absences.other_allowance}}</td>
				<td style="font-weight: bold;background-color:#f4e947"> {{b.detail.total_absences.total}}</td>


				<!-- TOTAL LEAVE WITH PAY -->
				<td style="font-weight: bold;background-color:#e6160c;color: white;"> {{b.detail.total_leave_pay.basic}}</td>
				<td style="font-weight: bold;background-color:#e6160c;color: white;"> {{b.detail.total_leave_pay.ecola}}</td>
				<td style="font-weight: bold;background-color:#e6160c;color: white;"> {{b.detail.total_leave_pay.other_allowance}}</td>
				<td style="font-weight: bold;background-color:#e6160c;color: white;"> {{b.detail.total_leave_pay.total}}</td>

				<!-- TOTAL HOLIDAY WORK PAY -->
				<td style="font-weight: bold;background-color:#fd5d56;color: white;"> {{b.detail.total_holiday_pay.basic}}</td>
				<td style="font-weight: bold;background-color:#fd5d56;color: white;"> {{b.detail.total_holiday_pay.ecola}}</td>
				<td style="font-weight: bold;background-color:#fd5d56;color: white;"> {{b.detail.total_holiday_pay.other_allowance}}</td>
				<td style="font-weight: bold;background-color:#fd5d56;color: white;"> {{b.detail.total_holiday_pay.total}}</td>

				<!-- TOTAL OVERTIME PAY -->
				<td style="font-weight: bold;background-color:#1763f5;color: white;"> {{b.detail.total_overtime_pay.basic}}</td>
				<td style="font-weight: bold;background-color:#1763f5;color: white;"> {{b.detail.total_overtime_pay.ecola}}</td>
				<td style="font-weight: bold;background-color:#1763f5;color: white;"> {{b.detail.total_overtime_pay.other_allowance}}</td>
				<td style="font-weight: bold;background-color:#1763f5;color: white;"> {{b.detail.total_overtime_pay.total}}</td>

				<!-- TOTAL NIGHT DIFFERENTIAL -->
				<td style="font-weight: bold;background-color:#74a9fb"> {{b.detail.total_nd_pay.basic}}</td>
				<td style="font-weight: bold;background-color:#74a9fb"> {{b.detail.total_nd_pay.ecola}}</td>
				<td style="font-weight: bold;background-color:#74a9fb"> {{b.detail.total_nd_pay.other_allowance}}</td>
				<td style="font-weight: bold;background-color:#74a9fb"> {{b.detail.total_nd_pay.total}}</td>

				<!-- TOTAL TARDINESS -->
				<td style="font-weight: bold;background-color:#629c43;color: white;"> {{b.detail.total_tardiness_pay.basic}}</td>
				<td style="font-weight: bold;background-color:#629c43;color: white;"> {{b.detail.total_tardiness_pay.ecola}}</td>
				<td style="font-weight: bold;background-color:#629c43;color: white;"> {{b.detail.total_tardiness_pay.other_allowance}}</td>
				<td style="font-weight: bold;background-color:#629c43;color: white;"> {{b.detail.total_tardiness_pay.total}}</td>

				<!-- TOTAL OTHER ADJUSTMENT -->
				<td style="font-weight: bold;background-color:#765515;color: white;"> {{b.detail.other_adjustment.basic}}</td>
				<td style="font-weight: bold;background-color:#765515;color: white;"> {{b.detail.other_adjustment.ecola}}</td>
				<td style="font-weight: bold;background-color:#765515;color: white;"> {{b.detail.other_adjustment.other_allowance}}</td>
				<td style="font-weight: bold;background-color:#765515;color: white;"> {{b.detail.other_adjustment.total}}</td>

				<!-- TOTAL GROSS SALARY -->
				<td style="font-weight: bold;background-color:#454445;color: white;"> {{b.detail.total_gross_salary_this_cutoff.basic}}</td>
				<td style="font-weight: bold;background-color:#454445;color: white;"> {{b.detail.total_gross_salary_this_cutoff.ecola}}</td>
				<td style="font-weight: bold;background-color:#454445;color: white;"> {{b.detail.total_gross_salary_this_cutoff.other_allowance}}</td>
				<td style="font-weight: bold;background-color:#454445;color: white;"> {{b.detail.total_gross_salary_this_cutoff.total}}</td>

				<!-- gov -->
				<td style="font-weight: bold;background-color:#fe5c54"> {{b.detail.gov}}</td>

				<!-- total deduction -->
				<td style="font-weight: bold;background-color:#71ba51"> {{b.detail.deduction.sss}}</td>
				<td style="font-weight: bold;background-color:#71ba51"> {{b.detail.deduction.philhealth}}</td>
				<td style="font-weight: bold;background-color:#71ba51"> {{b.detail.deduction.hdmf}}</td>
				<td style="font-weight: bold;background-color:#71ba51"> {{b.detail.deduction.wtax}}</td>
				<td style="font-weight: bold;background-color:#71ba51"> {{b.detail.deduction.sss_loan}}</td>
				<td style="font-weight: bold;background-color:#71ba51"> {{b.detail.deduction.hdmf_loan}}</td>
				<td style="font-weight: bold;background-color:#71ba51"> {{b.detail.deduction.hmo}}</td>
				<td style="font-weight: bold;background-color:#71ba51"> {{b.detail.deduction.cash_advance}}</td>
				<td style="font-weight: bold;background-color:#71ba51"> {{b.detail.deduction.other}}</td>
				<td style="font-weight: bold;background-color:#71ba51"> {{b.detail.deduction.total}}</td>
				<td style="font-weight: bold;background-color:#71ba51"> {{b.detail.net_pay}}</td>




			</tr>
		</tbody>
	</table>
</div>


<footer class="table-footer">
	<div class="row">
		<div class="col-md-6 page-num-info">
			<span>
				Show 
				<select data-ng-model="ppco.handler.numPerPage"
				data-ng-options="num for num in ppco.handler.numPerPageOpt"
				data-ng-change="onNumPerPageChange()">
			</select> 
			entries per page
		</span>
	</div>
	<div class="col-md-6 text-right pagination-container">
		<pagination class="pagination-sm"
		ng-model="ppco.handler.currentPage"
		total-items="ppco.handler.filtered.length"
		max-size="4"
		ng-change="select(currentPage)"
		items-per-page="ppco.handler.numPerPage"
		rotate="false"
		previous-text="&lsaquo;" next-text="&rsaquo;"
		boundary-links="true"></pagination>
	</div>
</div>

</footer>


<div>
	<form>
		<button class="btn btn-gap-v btn-success"  
		ng-click="ppco.handler.cutOffData()"
		>
		Cut Off 

		
	</button>

	<button class="btn btn-gap-v btn-success"  
	ng-click="ppco.handler.generate_excel()"
	>
	Generate to Excel
</button>
<span class="space space-sm"></span>

</form>	
</div>


</div>
</section>
</div>			


<!--Modal Add Employment Status-->
<script type="text/ng-template" id="addmodal">
	<div class="modal-header">
		<h4><i class="fa fa-save" style="margin-right: 8px;" ></i>Add ppcotive/Allowance</h4>
	</div>
	<div class="modal-body">
		<form name="myForm"  class="form form-validation" ng-submit="myForm.$valid && submit(addmodal.form)">	
			<div class='form-group'>
				<fieldset>
					<div class="col-md-5">
						<label for="">ppcotive / Allowance Name</label><span class="space space-sm"></span><label style ="color:red">*</label>
					</div>
					<div class="col-md-7">
						<input type="text" name="name" class="form-control" autocomplete="off" ng-model="addmodal.form.title" placeholder="Name" required/>
						<span style="color:red" ng-show="myForm.name.$dirty && myForm.name.$invalid" >
							<span ng-show="myForm.name.$error.required">Name is required.</span>
						</span>
					</div>
				</fieldset>
			</div>

			<div class='form-group'>
				<fieldset>
					<div class="col-md-5">
						<label for="">ppcotive Amount</label><span class="space space-sm"></span><label style ="color:red">*</label>
					</div>
					<div class="col-md-7">
						<input type="number" name="amount" class="form-control" autocomplete="off" ng-model="addmodal.form.amount" placeholder="00.00" required/>
						<span style="color:red" ng-show="myForm.amount.$dirty && myForm.amount.$invalid">
							<span ng-show="myForm.amount.$error.required">Amount is required.</span>
						</span>
					</div>
				</fieldset>
			</div>
			<fieldset>
				<div class="col-sm-3">
				</span><label style ="color:red">*</label><span class="space space-xs"><label><small>Required field</small></label>
				</div>										
			</fieldset>	
		</form>	
		<div class="modal-footer">
			<button type="submit" class="btn btn-success" ng-disabled="myForm.$invalid"  ng-click="addmodal.save()">Save</button>
			<button class="btn btn-danger" ng-click="addmodal.close()">Cancel</button>
		</div>
	</div>
</script>

<!--Modal Edit Employment Status-->
<script type="text/ng-template" id="modaledit">
	<div class="modal-header">
		<h4><i class="fa fa-pencil-square-o" style="margin-right: 8px;" ></i>Edit Salary And ppcotive Allowance</h4>
	</div>
	<div class="modal-body">
		<form name="myForm"  class="form form-validation" ng-submit="myForm.$valid && submit(formData)">	
			<div class='form-group'>	
				<fieldset>
					<div class="col-md-2">
						<label for="">Name</label><span class="space space-sm"></span><label style ="color:red">*</label>
					</div>
					<div class="col-md-8">
						<input 	type="text"
						class="form-control"
						name="title" 
						ng-disabled="!modaledit.button"  
						ng-model="modaledit.form.title" 
						autocomplete="off"
						required
						/>
						<span style="color:red" ng-show="myForm.title.$dirty && myForm.title.$invalid">
							<span ng-show="myForm.title.$error.required">Title is required.</span>
						</span>
					</div>
				</fieldset>
			</div>

			<div class='form-group'>	
				<fieldset>
					<div class="col-md-2">
						<label for="">Amount</label><span class="space space-sm"></span><label style ="color:red">*</label>
					</div>
					<div class="col-md-8">
						<input 	type="text"
						class="form-control"
						name="amount" 
						ng-disabled="!modaledit.button"  
						ng-model="modaledit.form.amount" 
						autocomplete="off"
						required
						/>
						<span style="color:red" ng-show="myForm.amount.$dirty && myForm.amount.$invalid">
							<span ng-show="myForm.amount.$error.required">Title is required.</span>
						</span>
					</div>
				</fieldset>
			</div>
			<fieldset>
				<div class="col-sm-3">
				</span><label style ="color:red">*</label><span class="space space-xs"><label><small>Required field</small></label>
				</div>										
			</fieldset>	
		</form>
		<div class="modal-footer" >
			<button type="submit" class="btn btn-success" ng-click="modaledit.button=true;">Edit</button>
			<button type="submit" class="btn btn-success"  ng-disabled="myForm.$invalid" ng-click="modaledit.save();">Save</button>
			<button class="btn btn-danger" ng-click="modaledit.close()">Cancel</button>
		</div>

	</div>
</script>		

