<!-- ///////////////////////////////////PERFORMANCE BONUS YEAR CTRL////////////////////////////////////////////// -->
<div class="" ng-controller="perBonusYearCtrl as perbon">
	
	<section class="panel panel-primary table-dynamic" >
		<div class="panel-heading"><strong><p class="text-center">Performance Bonus</p></strong></div>
		<div class="panel-body">
			<footer class="table-footer">
				<div class="row">

					<div class="col-sm-2">
						<input type="month" class='form-control' ng-disabled="perbon.handler.button" id="exampleInput" name="input" 
						ng-model="perbon.handler.Selectdate" min="{{perbon.handler.Selectdate_start}}" max="{{perbon.handler.Selectdate_end}}"
						ng-change="perbon.handler.select_month(perbon.handler.Selectdate)"
						style="float: left"/>

					</div>
					<div class="col-sm-1 text-left pagination-container">
						<button type="submit" class="btn btn-danger"  ng-disabled="perbon.handler.button" ng-click="perbon.handler.setToday(perbon.handler.today,'date')"> X </button>
					</div>
					<div class="col-sm-2">
						<label class="label" ng-class="perbon.handler.getActive(perbon.handler.currentPage) == 2 ? 'label-success' : 'label-default'">{{perbon.handler.getPeriod(2,perbon.handler.currentPage)}}</label>

					</div>
					<div class="col-sm-2">
						<label class="label" ng-class="perbon.handler.getActive(perbon.handler.currentPage) == 3 ? 'label-success' : 'label-default'">{{perbon.handler.getPeriod(3,perbon.handler.currentPage)}}</label>
					</div>
					<div class="col-sm-2 text-right pagination-container">


					</div>
					<div class="col-sm-1 text-left pagination-container">
					</div>
					<div class="col-md-4 text-right pagination-container" style="float:right;">


						<pagination class="pagination-sm"
						ng-model="perbon.handler.currentPage"
						total-items="perbon.handler.filtered.length"
						max-size="4"
						items-per-page="perbon.handler.numPerPage"
						rotate="false"
						ng-click = "clickPaginate($index)"
						ng-change="select(currentPage)"
						></pagination>

					</div>

				</div>
			</footer>


			<table class="table table-bordered table-striped table-responsive">
				<thead>
					<tr>
						<th ng-repeat='a in perbon.handler.headers'  width='{{a.width}}'>
							<div class="th" style="text-align:center">
								{{a.name}}
								<span class="fa fa-angle-up"
								data-ng-if="a.sort"
								data-ng-click="perbon.handler.setactiveheader(a,true) "
								data-ng-class="{active: $index == perbon.handler.activeheader.id && perbon.handler.activeheader.order == true}">
							</span>
							<span class="fa fa-angle-down"
							data-ng-if="a.sort"
							data-ng-click=" perbon.handler.setactiveheader(a,false) "
							data-ng-class="{active: $index == perbon.handler.activeheader.id && perbon.handler.activeheader.order == false}">
						</span>
					</div>
				</th>
			</tr>
		</thead>
		<tbody>
			<tr data-ng-repeat="a in perbon.handler.getdata() | orderBy: perbon.handler.activeheader.sort : perbon.handler.activeheader.order track by [$index]">
				<td >
					<b>{{a.employee_name}}</b>
				</td >
				<td >
					<b>{{a.department_name}}</b>
				</td>
				<td  >
					<b>{{a.salary}} </b>
				</td>
				<td  >
					<!-- <b>{{a.performance}}</b> -->

					<a style="text-align:center;cursor:pointer " ng-click="perbon.handler.openmodal('edit_bonus',a)" title=""><b style="color:#767676;"> {{a.performance||0}}</b></a>
				</td>
				<td  >
					<a style="text-align:center;cursor:pointer " ng-click="perbon.handler.openmodal('edit',a)" title=""><b style="color:#767676;"> {{a.deduction||0}}</b></a>
					
				</td>


				<td  >
					<b>{{a.total}}</b>
				</td>
				<td  >
					<b>{{a.hire_date |date:'yyyy-MM-dd'}}</b>
				</td>


			</tr>
		</tbody>
	</table>


	<footer class="table-footer">
		<div class="row">
			<div class="col-md-6 page-num-info">
				<span>
					Show 
					<select data-ng-model="perbon.handler.numPerPage"
					data-ng-options="num for num in perbon.handler.numPerPageOpt"
					data-ng-change="onNumPerPageChange()">
				</select> 
				entries per page
			</span>
		</div>
		<div class="col-md-6 text-right pagination-container">
			<pagination class="pagination-sm"
			ng-model="perbon.handler.currentPage"
			total-items="perbon.handler.filtered.length"
			max-size="4"
			ng-change="select(currentPage)"
			items-per-page="perbon.handler.numPerPage"
			rotate="false"
			previous-text="&lsaquo;" next-text="&rsaquo;"
			boundary-links="true"></pagination>
		</div>
	</div>
</footer>



<div>

</div>



</div>
</section>
</div>



<!--Modal Edit Performance-->
<script type="text/ng-template" id="modaleditPerformance">
	<div class="modal-header">
		<h4><i class="fa fa-pencil-square-o" style="margin-right: 8px;" ></i>View Deductions</h4>
	</div>
	<div class="modal-body">
		<form name="myForm"  class="form form-validation" ng-submit="myForm.$valid && submit(formData)">	
			
			<div class='form-group'>	
				<fieldset>
					<div class="col-md-3">
						<label for="">Information</label><span class="space space-sm"></span>
					</div>
					<div class="col-md-6">
						
						<label for=""></label><span class="space space-sm"></span>

					</div>
					
					<div class="col-md-3">
						
						<label for="">Total</label><span class="space space-sm"></span>

					</div>
				</fieldset>
			</div>

			<div class='form-group'>	
				<fieldset>
					<div class="col-md-3">
						<label for="">Suspension</label><span class="space space-sm"></span><label style ="color:red">*</label>
					</div>
					<div class="col-md-2">
						<h5><center><b>{{modaledit.form.salary}}</b></center></h5>
					</div>

					<div class="col-md-2">
						<h5><center><b>X</b></center></h5>
					</div>

					<div class="col-md-2">
						<h5><center><b>{{modaledit.form.sus_rate}}</b></center></h5>
					</div>


					<div class="col-md-3">
						<h5><b>{{modaledit.form.sum_suspension}}</b></h5>
					</div>
					

				</fieldset>
			</div>

			<div class='form-group'>	
				<fieldset>
					<div class="col-md-3">
						<label for="">Maternity/Paternity</label><span class="space space-sm"></span><label style ="color:red">*</label>
					</div>
					<div class="col-md-2">
						<h5><center><b>{{modaledit.form.salary}}</b></center></h5>
					</div>

					<div class="col-md-2">
						<h5><center><b>X</b></center></h5>
					</div>

					<div class="col-md-2">
						<h5><center><b>{{modaledit.form.maternity}}</b></center></h5>
					</div>


					<div class="col-md-3">
						<h5><b>{{modaledit.form.sum_maternity}}</b></h5>
					</div>
					
				</fieldset>
			</div>

			<div class='form-group'>	
				<fieldset>
					<div class="col-md-3">
						<label for="">Tardiness</label><span class="space space-sm"></span><label style ="color:red">*</label>
					</div>
					<div class="col-md-2">
						<h5><center><b>{{modaledit.form.salary}}</b></center></h5>
					</div>

					<div class="col-md-2">
						<h5><center><b>X</b></center></h5>
					</div>

					<div class="col-md-2">
						<h5><center><b>{{modaledit.form.tardiness}}</b></center></h5>
					</div>


					<div class="col-md-3">
						<h5><b>{{modaledit.form.sum_tardiness}}</b></h5>
					</div>
					
				</fieldset>
			</div>
			
			


			<div class='form-group'>	
				<fieldset>
					
					<div class="col-md-12">
						<div style="border-top: 3px double #8c8b8b;"></div>
					</div>
				</fieldset>
			</div>
			<div class='form-group'>	
				<fieldset>
					<div class="col-md-9">
						<label for="">Total</label><span class="space space-sm"></span><label style ="color:red">*</label>
					</div>
					<div class="col-md-3">
						<h5><b>{{modaledit.form.sum_suspension +  modaledit.form.sum_maternity + modaledit.form.sum_tardiness}}</b></h5>

						
					</div>
				</fieldset>
			</div>
			<fieldset>
				<div class="col-sm-3">
				</span><label style ="color:red">*</label><span class="space space-xs"><label><small>Required field</small></label>
				</div>										
			</fieldset>	
		</form>
		<div class="modal-footer" >
			<!-- <button type="submit" class="btn btn-success" ng-click="modaledit.button=true;">Edit</button>
				<button type="submit" class="btn btn-success"  ng-disabled="myForm.$invalid" ng-click="modaledit.save();">Save</button> -->
				<button class="btn btn-danger" ng-click="modaledit.close()">Close</button>
			</div>

		</div>
	</script>		




	<!--Modal Edit Performance Bonus Rate-->
	<script type="text/ng-template" id="modaleditPerformanceBonusRate">
		<div class="modal-header">
			<h4><i class="fa fa-pencil-square-o" style="margin-right: 8px;" ></i>Special Case Performance Bonus</h4>
		</div>
		<div class="modal-body">
			<form name="myForm"  class="form form-validation" ng-submit="myForm.$valid && submit(formData)">	



				<div class='form-group'>	
					<fieldset>
						<div class="col-md-4">
							<label for="">Employee Name</label><span class="space space-sm"></span>
						</div>
						<div class="col-md-7">
							<!-- <h5><center><b>{{modaleditBonus.form.salary}}</b></center></h5> -->
							<input 	type="text"
							class="form-control"
							name="salary"  
							ng-model="modaleditBonus.form.employee_name" 
							autocomplete="off"
							disabled 
							/>
						</div>

					</fieldset>
				</div>

				<div class='form-group'>	
					<fieldset>
						<div class="col-md-4">
							<label for="">Department</label><span class="space space-sm"></span>
						</div>
						<div class="col-md-7">
							<!-- <h5><center><b>{{modaleditBonus.form.salary}}</b></center></h5> -->
							<input 	type="text"
							class="form-control"
							name="department"  
							ng-model="modaleditBonus.form.department_name" 
							autocomplete="off"
							disabled 
							/>
						</div>


					</fieldset>
				</div>


				<div class='form-group'>	
					<fieldset>
						<div class="col-md-4">
							<label for="">Salary</label><span class="space space-sm"></span>
						</div>
						<div class="col-md-7">
							<input 	type="number"
							class="form-control"
							name="salary"  
							ng-model="modaleditBonus.form.salary" 
							autocomplete="off"
							disabled 
							/>
						</div>


					</fieldset>
				</div>


				<div class='form-group'>	
					<fieldset>
						<div class="col-md-4">
							<label for="">Bonus Rate</label><span class="space space-sm"></span>
						</div>
						<div class="col-md-7">
							<input 	type="number"
							class="form-control"
							name="bonus_rate"  
							ng-model="modaleditBonus.form.performance" 
							autocomplete="off"
							ng-disabled="!modaleditBonus.buttonEdit"
							ng-change = "modaleditBonus.calculatePerformanceBonus()"

							/>
						</div>


					</fieldset>
				</div>


				<div class='form-group'>	
					<fieldset>
						<div class="col-md-4">
							<label for="">Deduction</label><span class="space space-sm"></span>
						</div>
						<div class="col-md-7">
							<input 	type="number"
							class="form-control"
							name="deduction"  
							ng-model="modaleditBonus.form.deduction" 
							autocomplete="off"
							disabled 
							/>
						</div>


					</fieldset>
				</div>





				<div class='form-group'>	
					<fieldset>

						<div class="col-md-12">
							<div style="border-top: 3px double #8c8b8b;"></div>
						</div>
					</fieldset>
				</div>
				<div class='form-group'>	
					<fieldset>
						<!-- <div class="col-md-9">
							<label for="">Total</label><span class="space space-sm"></span><label style ="color:red">*</label>
						</div> -->
<!-- 						<div class="col-md-3">
							<h5><b>{{modaleditBonus.form.sum_suspension +  modaleditBonus.form.sum_maternity + modaleditBonus.form.sum_tardiness}}</b></h5>


						</div> -->


						<div class='form-group'>	
							<fieldset>
								<div class="col-md-4">
									<label for="">Total</label><span class="space space-sm"></span>
								</div>
								<div class="col-md-7">
									<input 	type="number"
									class="form-control"
									name="total"  
									ng-model="modaleditBonus.form.total" 
									autocomplete="off"
									disabled 
									/>
								</div>


							</fieldset>
						</div>

					</fieldset>
				</div>
				<fieldset>
					<div class="col-sm-3">
					</span><label style ="color:red">*</label><span class="space space-xs"><label><small>Required field</small></label>
					</div>										
				</fieldset>	
			</form>
			<div class="modal-footer" >
			<!-- <button type="submit" class="btn btn-success" ng-click="modaleditBonus.button=true;">Edit</button>
				<button type="submit" class="btn btn-success"  ng-disabled="myForm.$invalid" ng-click="modaleditBonus.save();">Save</button> -->
				<button class="btn btn-success" ng-click="modaleditBonus.buttonEdit=true;modaleditBonus.showHide=true" ng-show="!modaleditBonus.showHide">Edit</button>
				<button class="btn btn-success" ng-click="modaleditBonus.save()" ng-hide="!modaleditBonus.showHide">Save</button>
				<button class="btn btn-danger" ng-click="modaleditBonus.close()" ng-show="!modaleditBonus.showHide">Close</button>
				<button class="btn btn-danger" ng-click="modaleditBonus.close()" ng-hide="!modaleditBonus.showHide">Cancel</button>
			</div>

		</div>
	</script>		


