
<div class="">
	<section class="panel panel-primary table-dynamic" data-ng-controller="personalIncentiveAndAllowanceCtrl as piac">
		<div class="panel-heading"><strong><span class="glyphicon glyphicon-th" style="margin-right: 8px;"></span>Salary and Incentive Allowance</strong></div>
		<div class="panel-body">
			<div class="from-group">
				<div class="row">
					<div class="col-sm-4">
						<form>
							<button class="btn btn-gap-v btn-success"  
							ng-click="piac.handler.openmodal('add')"
							>
							<!-- ng-show="piac.handler.button('create')" -->
							Add
						</button>
						<span class="space space-sm"></span>
						<button type="button" 
						class="btn btn-gap-v btn-danger"   
						ng-click="piac.handler.deldata(piac.handler.check)"
						>
						<!-- ng-show="piac.handler.button('delete')" -->
						Delete
					</button>
				</form>
			</div>
		</div>
	</div><br>


	<div class="form-group">
		<div class="row">
			<div class="col-sm-4">
				<form>
					<input type="text"
					placeholder="Search..."
					class="form-control"
					data-ng-model="piac.handler.search"
					data-ng-model-options="{debounce:300}"
					>
				</form>
			</div>
			<div class="col-sm-3 filter-result-info">
				<span>
					Showing {{piac.handler.paginated.length}}/{{piac.handler.maindata.length}} entries
				</span>              
			</div>
		</div>
	</div><br>
	<table class="table table-bordered table-striped table-responsive">
		<thead>
			<tr>
				<th><div class="th">
				</div></th>
				<th ng-repeat='a in piac.handler.headers' width='{{a.width}}'>
					<div class="th">
						{{a.title}}
						<span class="fa fa-angle-up"
						data-ng-if="a.sort"
						data-ng-click="piac.handler.setactiveheader(a,true)"
						data-ng-class="{active: $index == piac.handler.activeheader.id && piac.handler.activeheader.order == true}">
					</span>
					<span class="fa fa-angle-down"
					data-ng-if="a.sort"
					data-ng-click="piac.handler.setactiveheader(a,false)"
					data-ng-class="{active: $index == piac.handler.activeheader.id && piac.handler.activeheader.order == false}">
				</span>
			</div>
		</th>

		<th ng-repeat='a in piac.handler.headers' width='{{a.width}}'>
			<div class="th">
				{{a.amount}}
				<span class="fa fa-angle-up"
				data-ng-if="a.sort"
				data-ng-click="piac.handler.setactiveheader(a,true)"
				data-ng-class="{active: $index == piac.handler.activeheader.id && piac.handler.activeheader.order == true}">
			</span>
			<span class="fa fa-angle-down"
			data-ng-if="a.sort"
			data-ng-click="piac.handler.setactiveheader(a,false)"
			data-ng-class="{active: $index == piac.handler.activeheader.id && piac.handler.activeheader.order == false}">
		</span>
	</div>
</th>

</tr>
</thead>
<tbody>
	<tr data-ng-repeat="a in piac.handler.getdata() | orderBy: piac.handler.activeheader.sort : piac.handler.activeheader.order track by [$index]">
		<td><input type="checkbox" checklist-value="a.id"  checklist-model="piac.handler.check"/></td>

		<td>{{a.title}}</td>
		<td>{{a.amount}}</td>
		
		<td></td>
	</tr>
</tbody>
</table>
<footer class="table-footer">
	<div class="row">
		<div class="col-md-6 page-num-info">
			<span>
				Show 
				<select data-ng-model="piac.handler.numPerPage"
				data-ng-options="num for num in piac.handler.numPerPageOpt"
				data-ng-change="onNumPerPageChange()">
			</select> 
			entries per page
		</span>
	</div>
	<div class="col-md-6 text-right pagination-container">
		<pagination class="pagination-sm"
		ng-model="piac.handler.currentPage"
		total-items="piac.handler.filtered.length"
		max-size="4"
		ng-change="select(currentPage)"
		items-per-page="piac.handler.numPerPage"
		rotate="false"
		previous-text="&lsaquo;" next-text="&rsaquo;"
		boundary-links="true"></pagination>
	</div>
</div>
</footer>
</div>
</section>
</div>	


<!-- add salary and incentive allowance history -->
<div class="">
	<section class="panel panel-primary table-dynamic" data-ng-controller="personalIncentiveAndAllowanceHistoryCtrl as piahc">
		<div class="panel-heading"><strong><span class="glyphicon glyphicon-th" style="margin-right: 8px;"></span>Salary and Incentive Allowance History</strong></div>
		<div class="panel-body">
			<div class="from-group">
				<div class="row">
					<div class="col-sm-4">
						<form>
						<span class="space space-sm"></span>
						<button type="button" 
						class="btn btn-gap-v btn-danger"   
						ng-click="piahc.handler.deldata(piahc.handler.check)"
						>
						<!-- ng-show="piac.handler.button('delete')" -->
						Delete
					</button>
				</form>
			</div>
		</div>
	</div><br>



		<table class="table table-bordered table-striped table-responsive">
			<thead>
				<tr>
					<th><div class="th">
					</div></th>


					<th ng-repeat='a in piahc.handler.headers' width='{{a.width}}'>
						<div class="th">
							{{a.changed_date}}
							<span class="fa fa-angle-up"
							data-ng-if="a.sort"
							data-ng-click="piahc.handler.setactiveheader(a,true)"
							data-ng-class="{active: $index == piahc.handler.activeheader.id && piahc.handler.activeheader.order == true}">
						</span>
						<span class="fa fa-angle-down"
						data-ng-if="a.sort"
						data-ng-click="piahc.handler.setactiveheader(a,false)"
						data-ng-class="{active: $index == piahc.handler.activeheader.id && piahc.handler.activeheader.order == false}">
					</span>
				</div>
			</th>

			<th ng-repeat='a in piahc.handler.headers' width='{{a.width}}'>
				<div class="th">
					{{a.title}}
					<span class="fa fa-angle-up"
					data-ng-if="a.sort"
					data-ng-click="piahc.handler.setactiveheader(a,true)"
					data-ng-class="{active: $index == piahc.handler.activeheader.id && piahc.handler.activeheader.order == true}">
				</span>
				<span class="fa fa-angle-down"
				data-ng-if="a.sort"
				data-ng-click="piahc.handler.setactiveheader(a,false)"
				data-ng-class="{active: $index == piahc.handler.activeheader.id && piahc.handler.activeheader.order == false}">
			</span>
		</div>
	</th>
	<th ng-repeat='a in piahc.handler.headers' width='{{a.width}}'>
				<div class="th">
					{{a.amount}}
					<span class="fa fa-angle-up"
					data-ng-if="a.sort"
					data-ng-click="piahc.handler.setactiveheader(a,true)"
					data-ng-class="{active: $index == piahc.handler.activeheader.id && piahc.handler.activeheader.order == true}">
				</span>
				<span class="fa fa-angle-down"
				data-ng-if="a.sort"
				data-ng-click="piahc.handler.setactiveheader(a,false)"
				data-ng-class="{active: $index == piahc.handler.activeheader.id && piahc.handler.activeheader.order == false}">
			</span>
		</div>
	</th>

</tr>
</thead>
<tbody>
	<tr data-ng-repeat="a in piahc.handler.getdata() | orderBy: piahc.handler.activeheader.sort : piahc.handler.activeheader.order track by [$index]">
		<td><input type="checkbox" checklist-value="a.id"  checklist-model="piahc.handler.check"/></td>
		<td>{{a.created_at | date:'yyyy-MM-dd' }}</td>
		<td>{{a.title}}</td>
		<td>{{a.amount}}</td>
		
		<td></td>
	</tr>
</tbody>
</table>
<footer class="table-footer">
	<div class="row">
		<div class="col-md-6 page-num-info">
			<span>
				Show 
				<select data-ng-model="piahc.handler.numPerPage"
				data-ng-options="num for num in piahc.handler.numPerPageOpt"
				data-ng-change="onNumPerPageChange()">
			</select> 
			entries per page
		</span>
	</div>
	<div class="col-md-6 text-right pagination-container">
		<pagination class="pagination-sm"
		ng-model="piahc.handler.currentPage"
		total-items="piahc.handler.filtered.length"
		max-size="4"
		ng-change="select(currentPage)"
		items-per-page="piahc.handler.numPerPage"
		rotate="false"
		previous-text="&lsaquo;" next-text="&rsaquo;"
		boundary-links="true"></pagination>
	</div>
</div>
</footer>
</div>
</section>
</div>	

<!--Modal Add Employment Status-->
<script type="text/ng-template" id="addmodalIncen">
	<div class="modal-header">
		<h4><i class="fa fa-save" style="margin-right: 8px;" ></i>Add Incentive/Allowance</h4>
	</div>
	<div class="modal-body">
		<form name="myForm"  class="form form-validation" ng-submit="myForm.$valid && submit(addmodalincen.form)">	
			<div class='form-group'>
				<fieldset>
					<div class="col-md-5">
						<label for="">Incentive / Allowance Name</label><span class="space space-sm"></span><label style ="color:red">*</label>
					</div>
					<div class="col-md-7">
						<select class='form-control' ng-model="addmodalincen.form.id_incentive_allowance"  ng-options="sal.id as sal.title for sal in addmodalincen.handler.dropdown" ng-change="addmodalincen.changeAmount()" required>
							<option value="">- - S E L E C T - -</option>
							
						</select>

						<span style="color:red" ng-show="myForm.name.$dirty && myForm.name.$invalid" >
							<span ng-show="myForm.name.$error.required">Name is required.</span>
						</span>
					</div>
				</fieldset>
			</div>

			<div class='form-group'>
				<fieldset>
					<div class="col-md-5">
						<label for="">Incentive Amount</label><span class="space space-sm"></span><label style ="color:red">*</label>
					</div>
					<div class="col-md-7">
						<input type="number" name="amount" class="form-control" autocomplete="off" ng-model="addmodalincen.form.amount" placeholder="00.00" disabled/>
						<span style="color:red" ng-show="myForm.amount.$dirty && myForm.amount.$invalid">
							<span ng-show="myForm.amount.$error.required">Amount is required.</span>
						</span>
					</div>
				</fieldset>
			</div>
			<fieldset>
				<div class="col-sm-3">
				</span><label style ="color:red">*</label><span class="space space-xs"><label><small>Required field</small></label>
				</div>										
			</fieldset>	
		</form>	
		<div class="modal-footer">
			<button type="submit" class="btn btn-success" ng-disabled="myForm.$invalid"  ng-click="addmodalincen.save()">Save</button>
			<!-- <button class="btn btn-danger" ng-click="addmodalincen.close()">Cancel</button> -->
			<button class="btn btn-danger" ng-click="addmodalincen.test()">Cancel</button>

		</div>
	</div>
</script>
