<div class="page page-silRecord"  ng-controller="silCtrl as sil">


	<section class="panel panel-primary table-dynamic">
		<div class="panel-heading"><strong><span class="glyphicon glyphicon-th" style="margin-right: 8px;"></span>Service Incentive Leave</strong></div>


		<div class="panel-body ">	
			<form name="myForm" class="form-horizontal form-validation">
				<div class="form-group ">





					<div class="col-sm-2">
						<label>Year</label><label style ="color:red">*</label>
					</div>
					<div class="col-sm-2">
						<select name="job" ng-model="sil.handler.form.years" class="form-control" ng-change="sil.handler.checkButtonYear()">
							
							<option value=""> - - ALL - - </option>
							
							<option ng-repeat="a in sil.handler.years"  value="{{a}}"> {{a}}</option>

						</select>

					</div>

					<div class="col-sm-2">
						<label>Pay Out Date</label>
					</div>
					<div class="col-sm-2">
						<select name="department" ng-model="sil.handler.form.payout_date" class="form-control">
							<option value=""> - - ALL - - </option>
							<option ng-repeat="a in sil.handler.maindatapayout"  value="{{a}}"> {{a}}</option>
							
						</select>

					</div>

				</div><br>
				<div class="form-group">
					<fieldset>
						<div class="col-sm-3">
							<label style="color:red">*</label><span class="space space-xs"></span><label><small>Required field</small></label>
						</div>										
					</fieldset>
				</div>
				<hr>
				<div class="form-group">										
					<div class="col-sm-6">
						<form>
							<button type="submit" class="btn btn-success" ng-disabled="sil.handler.buttonDisabled" ng-click="sil.handler.save()">View</button>
						</form>
					</div>
				</div>
			</form>
		</div>
	</section>

	<section class="panel panel-primary table-dynamic">
		<div class="panel-heading"><strong><p class="text-center">service incentive Record</p></strong></div>
		<div class="panel-body">
			<div class="form-group">
				<div class="row">
					<div class="col-sm-3">
						<form>
							<input type="text"
							placeholder="Search..."
							class="form-control"
							data-ng-model="sil.handler.search"
							data-ng-model-options="{debounce:300}"
							>
						</form>
					</div>
					<div class="col-sm-3 filter-result-info">
						<span>
							Showing {{sil.handler.paginated.length}}/{{sil.handler.maindata.length}} entries
						</span>              
					</div>

					<div class="col-sm-3">
						<label>Department</label>
					</div>
					<div class="col-sm-3">
						<select name="department" ng-model="sil.handler.form.department_id" class="form-control" ng-options="department.department_id as department.department_name for department in sil.handler.maindataDepartment" ng-change="sil.handler.save()">
							<option value=""> - - ALL - - </option>
						</select>

					</div>

				</div>
			</div><br>



			
			<table style="overflow-x:auto;"class="table table-bordered table-striped table-responsive" >
				<thead>
					<tr >
						<th ng-repeat='a in sil.handler.headers'  width='{{a.width}}'>
							<div class="th" style="text-align:center">
								{{a.name}}
								<span class="fa fa-angle-up"
								data-ng-if="a.sort"
								data-ng-click="sil.handler.setactiveheader(a,true) "
								data-ng-class="{active: $index == sil.handler.activeheader.id && sil.handler.activeheader.order == true}">
							</span>
							<span class="fa fa-angle-down"
							data-ng-if="a.sort"
							data-ng-click=" sil.handler.setactiveheader(a,false) "
							data-ng-class="{active: $index == sil.handler.activeheader.id && sil.handler.activeheader.order == false}">
						</span>
					</div>
				</th>
			</tr>
		</thead>
		<tbody>
			<tr data-ng-repeat="a in sil.handler.getdata() | orderBy: sil.handler.activeheader.sort : sil.handler.activeheader.order track by [$index]">
				<td style="text-align:center;cursor:pointer "  ng-click="sil.handler.openmodal('edit',a)">
					<b>{{a.employee_name}}</b>
				</td >
				<td style="text-align:center;cursor:pointer "  ng-click="sil.handler.openmodal('edit',a)">
					<b>{{a.department_name}}</b>
				</td>
				<td  style="text-align:center;cursor:pointer "  ng-click="sil.handler.openmodal('edit',a)">
					<b>{{a.date_hire | date:'yyyy-mm-dd'}} </b>
				</td>
				<td  style="text-align:center;cursor:pointer "  ng-click="sil.handler.openmodal('edit',a)">
					<b>{{a.tenure_year.year}}</b>
				</td>
				<td  style="text-align:center;cursor:pointer "  ng-click="sil.handler.openmodal('edit',a)">
					<b>{{a.tenure_year.month}}</b>
				</td>
			</td>
			<td  style="text-align:center;cursor:pointer "  ng-click="sil.handler.openmodal('edit',a)">
				<b>{{a.convert_to_cast.vl}}</b>
			</td>
		</td>
		<td  style="text-align:center;cursor:pointer "  ng-click="sil.handler.openmodal('edit',a)">
			<b>{{a.convert_to_cast.sl}}</b>
		</td>
	</td>
	<td  style="text-align:center;cursor:pointer "  ng-click="sil.handler.openmodal('edit',a)">
		<b>{{a.total_daily_rate}}</b>
	</td>
</td>
<td  style="text-align:center;cursor:pointer "  ng-click="sil.handler.openmodal('edit',a)">
	<b>{{a.convertion.vl}}</b>
</td>
</td>
<td  style="text-align:center;cursor:pointer "  ng-click="sil.handler.openmodal('edit',a)">
	<b>{{a.convertion.sl}}</b>
</td>
</td>
<td  style="text-align:center;cursor:pointer "  ng-click="sil.handler.openmodal('edit',a)">
	<b>{{a.total_convertion}}</b>
</td>
</td>
<td  style="text-align:center;cursor:pointer "  ng-click="sil.handler.openmodal('edit',a)">
	<b>{{a.add_reimburesement}}</b>
</td>
</td>
<td  style="text-align:center;cursor:pointer "  ng-click="sil.handler.openmodal('edit',a)">
	<b>{{a.less_withholding_tax}}</b>
</td>
</td>
<td  style="text-align:center;cursor:pointer "  ng-click="sil.handler.openmodal('edit',a)">
	<b>{{a.net_pay}}</b>
</td>

</tr>
</tbody>
</table>


<footer class="table-footer">
	<div class="row">
		<div class="col-md-6 page-num-info">
			<span>
				Show 
				<select data-ng-model="sil.handler.numPerPage"
				data-ng-options="num for num in sil.handler.numPerPageOpt"
				data-ng-change="onNumPerPageChange()">
			</select> 
			entries per page
		</span>
	</div>
	<div class="col-md-6 text-right pagination-container">
		<pagination class="pagination-sm"
		ng-model="sil.handler.currentPage"
		total-items="sil.handler.filtered.length"
		max-size="4"
		ng-change="select(currentPage)"
		items-per-page="sil.handler.numPerPage"
		rotate="false"
		previous-text="&lsaquo;" next-text="&rsaquo;"
		boundary-links="true"></pagination>
	</div>
</div>
</footer>

<footer class="table-footer">
	<div class="row">
		<div class="col-md-6 page-num-info">

		</div>
		<div class="col-md-6 text-right pagination-container">
			<button type="submit" ng-click="sil.handler.cutoff_sil()" class="btn btn-success">Cut Off</button>

		</div>
	</div>
</footer>


	<!-- <div class="col-sm-4">
		<form>
			<button class="btn btn-gap-v btn-success"  
			ng-click="sil.handler.openmodal('add')"
			>
			Edit
		</button>
		<span class="space space-sm"></span>
		<button type="button" 
		class="btn btn-gap-v btn-danger"   
		>
		Cut Off
	</button>
</form>
</div> -->


<div>

</div>



</div>
</section>



</div>



<!--Modal Edit Employment Status-->
<script type="text/ng-template" id="modaledit">
	<div class="modal-header">
		<h4><i class="fa fa-pencil-square-o" style="margin-right: 8px;" ></i>Service Incentive Leave</h4>
	</div>
	<div class="modal-body">
		<form name="myForm"  class="form form-validation" ng-submit="myForm.$valid && submit(formData)">	
			<div class='form-group'>	
				<fieldset>
					<div class="col-md-4">
						<label for="">VL</label><span class="space space-sm"></span><label style ="color:red">*</label>
					</div>
					<div class="col-md-8">
						<input 	type="text"
						class="form-control"
						name="december_diff"  
						ng-model="modaledit.form.convert_to_cast.vl" 
						autocomplete="off"
						ng-disabled = "!modaledit.button" 
						
						/>

					</div>
				</fieldset>
			</div>

			<div class='form-group'>	
				<fieldset>
					<div class="col-md-4">
						<label for="">SL</label><span class="space space-sm"></span><label style ="color:red">*</label>
					</div>
					<div class="col-md-8">
						<input 	type="text"
						class="form-control"
						ng-model="modaledit.form.convert_to_cast.sl" 
						autocomplete="off"
						ng-disabled = "!modaledit.button" 
						
						/>
						
					</div>
				</fieldset>
			</div>

			<div class='form-group'>	
				<fieldset>
					<div class="col-md-4">
						<label for="">Total Daily Rate</label><span class="space space-sm"></span><label style ="color:red">*</label>
					</div>
					<div class="col-md-8">
						<input 	type="text"
						class="form-control"  
						ng-model="modaledit.form.total_daily_rate" 
						ng-disabled = "!modaledit.button" 
						/>
						
					</div>
				</fieldset>
			</div>
			


			
			<fieldset>
				<div class="col-sm-3">
				</span><label style ="color:red">*</label><span class="space space-xs"><label><small>Required field</small></label>
				</div>										
			</fieldset>	
		</form>
		<div class="modal-footer" >
<!-- 			<button type="submit" class="btn btn-success" ng-click="modaledit.button=true;">Edit</button>
			<button type="submit" class="btn btn-success"  ng-disabled="myForm.$invalid" ng-click="modaledit.save();">Save</button>
			<button class="btn btn-danger" ng-click="modaledit.close()">Cancel</button>
			 -->
			<button class="btn btn-success" ng-click="modaledit.button=true;modaledit.showHide=true" ng-show="!modaledit.showHide">Edit</button>
			<button class="btn btn-success" ng-click="modaledit.save()" ng-hide="!modaledit.showHide" ng-disabled="myForm.$invalid || modaledit.disabledbuttonsave">Save</button>
			<button class="btn btn-danger" ng-click="modaledit.close()" ng-show="!modaledit.showHide" >Close</button>
			<button class="btn btn-danger" ng-click="modaledit.close()" ng-hide="!modaledit.showHide">Cancel</button>

		</div>

	</div>
</script>		

