

<!-- ///////////////////////////////////////////WITHHOLDING TAX////////////////////////////////////////////////////////////////// -->
<div class=""  ng-controller="withHoldingTaxCtrl as withHolding">
	<section class="panel panel-primary table-dynamic">
		<div class="panel-heading"><strong><p class="text-center">Withholding Tax</p></strong></div>
		<div class="panel-body">
			<footer class="table-footer">
				<div class="row">

					<div class="col-sm-2">
						<input type="month" class='form-control' ng-disabled="withHolding.handler.button" id="exampleInput" name="input" 
						ng-model="withHolding.handler.Selectdate" min="{{withHolding.handler.Selectdate_start}}" max="{{withHolding.handler.Selectdate_end}}"
						ng-change="withHolding.handler.select_month(withHolding.handler.Selectdate)"
						style="float: left"/>

					</div>
					<div class="col-sm-1 text-left pagination-container">
						<button type="submit" class="btn btn-danger"  ng-disabled="withHolding.handler.button" ng-click="withHolding.handler.setToday(withHolding.handler.today,'date')"> X </button>
					</div>
					<div class="col-sm-2">
						<label class="label" ng-class="withHolding.handler.getActive(withHolding.handler.currentPage) == 2 ? 'label-success' : 'label-default'">{{withHolding.handler.getPeriod(2,withHolding.handler.currentPage)}}</label>

					</div>
					<div class="col-sm-2">
						<label class="label" ng-class="withHolding.handler.getActive(withHolding.handler.currentPage) == 3 ? 'label-success' : 'label-default'">{{withHolding.handler.getPeriod(3,withHolding.handler.currentPage)}}</label>
					</div>
					<div class="col-sm-2 text-right pagination-container">


					</div>
					<div class="col-sm-1 text-left pagination-container">
					</div>
					<div class="col-md-4 text-right pagination-container" style="float:right;">


						<pagination class="pagination-sm"
						ng-model="withHolding.handler.currentPage"
						total-items="withHolding.handler.filtered.length"
						max-size="4"
						items-per-page="withHolding.handler.numPerPage"
						rotate="false"
						ng-click = "clickPaginate($index)"
						ng-change="select(currentPage)"
						></pagination>

					</div>

				</div>
			</footer>





			<table class="table table-bordered table-striped table-responsive">
				<thead>
					<tr>
						<th ng-repeat='a in withHolding.handler.headers'  width='{{a.width}}'>
							<div class="th" style="text-align:center">
								{{a.name}}
								<span class="fa fa-angle-up"
								data-ng-if="a.sort"
								data-ng-click="withHolding.handler.setactiveheader(a,true) "
								data-ng-class="{active: $index == withHolding.handler.activeheader.id && withHolding.handler.activeheader.order == true}">
							</span>
							<span class="fa fa-angle-down"
							data-ng-if="a.sort"
							data-ng-click=" withHolding.handler.setactiveheader(a,false) "
							data-ng-class="{active: $index == withHolding.handler.activeheader.id && withHolding.handler.activeheader.order == false}">
						</span>
					</div>
				</th>
			</tr>
		</thead>
		<tbody>

			<tr data-ng-repeat="a in withHolding.handler.getdata() | orderBy: withHolding.handler.activeheader.sort : withHolding.handler.activeheader.order track by [$index]">
				<td >
					<b>{{a.employee_name}}</b>
					
				</td >
				<td>

					<b>{{a.department_name}}</b>
				</td>
				<td >
					<b>{{a.pay13th}}</b>
					
				</td>
				<td >
					<b>{{a.total_performance_bonus}}</b>
				</td>

				<td >
					<b>{{a.amount_management}}</b>
				</td>
				<td >
					<b>{{a.total_monthly_incentive}}</b>
				</td>

				<td >
					<b>{{a.add_reimburesement}}</b>
				</td>

				<td >
					<b>{{a.less_withholding_tax}}</b>
				</td>

				<td >
					<b>{{a.net_bonus_amount}}</b>
				</td>


			</tr>
		</tbody>
	</table>


	<br>


	<footer class="table-footer">
		<div class="row">
			<div class="col-md-6 page-num-info">
				<span>
					Show 
					<select data-ng-model="withHolding.handler.numPerPage"
					data-ng-options="num for num in withHolding.handler.numPerPageOpt"
					data-ng-change="onNumPerPageChange()">
				</select> 
				entries per page
			</span>
		</div>
		<div class="col-md-6 text-right pagination-container">
			<pagination class="pagination-sm"
			ng-model="withHolding.handler.currentPage"
			total-items="withHolding.handler.filtered.length"
			max-size="4"
			ng-change="select(currentPage)"
			items-per-page="withHolding.handler.numPerPage"
			rotate="false"
			previous-text="&lsaquo;" next-text="&rsaquo;"
			boundary-links="true"></pagination>
		</div>
	</div>
</footer>



<footer class="table-footer">
	<div class="row">
		<div class="col-md-6 page-num-info">
			<button type="submit" class="btn btn-success" ng-click="withHolding.handler.generate_excel()"  >GENERATE TO EXCEL
			</button>
		
		</div>
		<div class="col-md-6 text-right pagination-container">
			<button type="submit" class="btn btn-primary" ng-click="withHolding.handler.buttonEdit=true;withHolding.buttonDisabled=true;withHolding.buttonDisabledFinal=false" ng-disabled="withHolding.buttonDisabledFinal">Cutoff</button>
			<span class="space space-sm"></span>
			<button type="submit" class="btn btn-success" ng-click="withHolding.handler.saving()"  >Finalizedzz</button>
<!-- ng-disabled="!withHolding.buttonDisabled" -->
		</div>
	</div>
</footer>








<div>

</div>



</div>
</section>






</div>

