<div class="page page-yearBonRecord"  ng-controller="yearlyBonusCtrl as yearBon">


	<!-- FORM SEARCHING -->

	<section class="panel panel-primary table-dynamic">
		<div class="panel-heading"><strong><span class="glyphicon glyphicon-th" style="margin-right: 8px;"></span>Yearly Bonus</strong></div>
		<div class="panel-body ">	
			<form name="myForm" class="form-horizontal form-validation">
				<div class="form-group ">
					<div class="col-sm-2">
						<label>Employee Name</label>
					</div>
					<div class="col-sm-2">
						<input 	type="text"
						placeholder="Type for hint . ."
						class="form-control"
						name="employee_id"
						data-ng-model="yearBon.handler.form.employee_id"
						typeahead="(address.name) for address in yearBon.handler.getLocation($viewValue)" 
						typeahead-loading="loadingLocations"
						typeahead-min-length="4"
						typeahead-wait-ms="400"
						typeahead-on-select="yearBon.handler.onSelect($item, $model, $label)"
						autocomplete="off" 
						
						/>


					</div>

					<div class="col-sm-2">
						<label>Department</label>
					</div>
					<div class="col-sm-2">
						<select name="department" ng-model="yearBon.handler.form.department_id" class="form-control" ng-options="department.department_id as department.department_name for department in yearBon.handler.maindataDepartment" ng-change="yearBon.handler.checkButtonDepartment()">
							<option value=""> - - ALL - - </option>
						</select>




					</div>

					<div class="col-sm-2">
						<label>Year</label><label style ="color:red">*</label>
					</div>
					<div class="col-sm-2">
						<select name="job" ng-model="yearBon.handler.form.years" class="form-control" ng-change="yearBon.handler.checkButtonYear()">
							
							<option value=""> - - ALL - - </option>
							
							<option ng-repeat="a in yearBon.handler.years"  value="{{a}}"> {{a}}</option>

						</select>



					</div>


				</div><br>
				<div class="form-group">
					<fieldset>
						<div class="col-sm-3">
							<label style="color:red">*</label><span class="space space-xs"></span><label><small>Required field</small></label>
						</div>										
					</fieldset>
				</div>
				<hr>
				<div class="form-group">										
					<div class="col-sm-6">
						<form>
							<button type="submit" class="btn btn-success" ng-disabled="yearBon.handler.buttonDisabled" ng-click="yearBon.handler.save()">View</button>
						</form>
					</div>
				</div>
			</form>
		</div>
	</section>



	<!-- TAB MENU -->

	<div class="panel panel-primary">
		<div class="panel-heading"><strong></span></strong></div>
		<div class="panel-body">
			<div class="row">
				<ul class="nav  nav-justified">
					<li><a href="" style="padding-top: 5px" ng-style="yearBon.handler.monthPay13 &&{'background-color':'#eeeeee'}" ng-click="yearBon.handler.tabControlMenu('a') ; yearBon.handler.findData('a')">13TH Month Pay</a></li>
					<li><a href="" style="padding-top: 5px" ng-style=" yearBon.handler.PerformanceBonus&& {'background-color':'#eeeeee'}" ng-click="yearBon.handler.tabControlMenu('b') ; yearBon.handler.findData('b')">Performance Bonus</a></li>
					<li><a href="" style="padding-top: 5px" ng-style=" yearBon.handler.ManagementBonus&& {'background-color':'#eeeeee'}" ng-click="yearBon.handler.tabControlMenu('c') ; yearBon.handler.findData('c')">Management Bonus</a></li>
					<li><a href="" style="padding-top: 5px" ng-style="yearBon.handler.withHoldingTax &&{'background-color':'#eeeeee'}" ng-click="yearBon.handler.tabControlMenu('d') ; yearBon.handler.findData('d')">Withholding Tax</a></li>
				</ul>
			</div>
		</div>
	</div>






	<!-- ///////////////////////////////////////////////////13TH Month Pay//////////////////////////////////////////////////// -->
	<div ng-show="yearBon.handler.monthPay13">
		<section class="panel panel-primary table-dynamic">
			<div class="panel-heading"><strong><p class="text-center">13TH Month Pay</p></strong></div>
			<div class="panel-body">
				<footer class="table-footer">
					<div class="row">

						<div class="col-sm-2">
							<input type="month" class='form-control' ng-disabled="yearBon.handler.button" id="exampleInput" name="input" 
							ng-model="yearBon.handler.Selectdate" min="{{yearBon.handler.Selectdate_start}}" max="{{yearBon.handler.Selectdate_end}}"
							ng-change="yearBon.handler.select_month(yearBon.handler.Selectdate)"
							style="float: left"/>

						</div>
						<div class="col-sm-1 text-left pagination-container">
							<button type="submit" class="btn btn-danger"  ng-disabled="yearBon.handler.button" ng-click="yearBon.handler.setToday(yearBon.handler.today,'date')"> X </button>
						</div>
						<div class="col-sm-2">
							<label class="label" ng-class="yearBon.handler.getActive(yearBon.handler.currentPage) == 2 ? 'label-success' : 'label-default'">{{yearBon.handler.getPeriod(2,yearBon.handler.currentPage)}}</label>

						</div>
						<div class="col-sm-2">
							<label class="label" ng-class="yearBon.handler.getActive(yearBon.handler.currentPage) == 3 ? 'label-success' : 'label-default'">{{yearBon.handler.getPeriod(3,yearBon.handler.currentPage)}}</label>
						</div>
						<div class="col-sm-2 text-right pagination-container">


						</div>
						<div class="col-sm-1 text-left pagination-container">
						</div>
						<div class="col-md-4 text-right pagination-container" style="float:right;">


							<pagination class="pagination-sm"
							ng-model="yearBon.handler.currentPage"
							total-items="yearBon.handler.filtered.length"
							max-size="4"
							items-per-page="yearBon.handler.numPerPage"
							rotate="false"
							ng-click = "clickPaginate($index)"
							ng-change="select(currentPage)"
							></pagination>

						</div>

					</div>
				</footer>
				<table class="table table-bordered table-striped table-responsive">
					<thead>
						<tr>
							<th ng-repeat='a in yearBon.handler.headers'  width='{{a.width}}'>
								<div class="th" style="text-align:center">
									{{a.name}}
									<span class="fa fa-angle-up"
									data-ng-if="a.sort"
									data-ng-click="yearBon.handler.setactiveheader(a,true) "
									data-ng-class="{active: $index == yearBon.handler.activeheader.id && yearBon.handler.activeheader.order == true}">
								</span>
								<span class="fa fa-angle-down"
								data-ng-if="a.sort"
								data-ng-click=" yearBon.handler.setactiveheader(a,false) "
								data-ng-class="{active: $index == yearBon.handler.activeheader.id && yearBon.handler.activeheader.order == false}">
							</span>
						</div>
					</th>
				</tr>
			</thead>
			<tbody>
				<tr data-ng-repeat="a in yearBon.handler.getdata() | orderBy: yearBon.handler.activeheader.sort : yearBon.handler.activeheader.order track by [$index]">
					<td style="cursor:pointer "  ng-click="yearBon.handler.openmodal('edit',a)">
						<b>{{a.employee_name}}</b>
					</td >
					<td style="cursor:pointer "  ng-click="yearBon.handler.openmodal('edit',a)">
						<b>{{a.department_name}}</b>
					</td>
					<td  style="cursor:pointer "  ng-click="yearBon.handler.openmodal('edit',a)">
						<b>{{a.pay13th}} </b>
					</td>
					<td  style="cursor:pointer "  ng-click="yearBon.handler.openmodal('edit',a)">
						<b>{{a.years}}</b>
					</td>


				</tr>
			</tbody>
		</table>


		<footer class="table-footer">
			<div class="row">
				<div class="col-md-6 page-num-info">
					<span>
						Show 
						<select data-ng-model="yearBon.handler.numPerPage"
						data-ng-options="num for num in yearBon.handler.numPerPageOpt"
						data-ng-change="onNumPerPageChange()">
					</select> 
					entries per page
				</span>
			</div>
			<div class="col-md-6 text-right pagination-container">
				<pagination class="pagination-sm"
				ng-model="yearBon.handler.currentPage"
				total-items="yearBon.handler.filtered.length"
				max-size="4"
				ng-change="select(currentPage)"
				items-per-page="yearBon.handler.numPerPage"
				rotate="false"
				previous-text="&lsaquo;" next-text="&rsaquo;"
				boundary-links="true"></pagination>
			</div>
		</div>
	</footer>

	<!-- <div class="col-sm-4">
		<form>
			<button class="btn btn-gap-v btn-success"  
			ng-click="yearBon.handler.openmodal('add')"
			>
			Edit
		</button>
		<span class="space space-sm"></span>
		<button type="button" 
		class="btn btn-gap-v btn-danger"   
		>
		Cut Off
	</button>
</form>
</div> -->


<div>

</div>



</div>
</section>




</div>

<div ng-show="yearBon.handler.PerformanceBonus">
	<section data-ng-include="'views/salary/performanceBonusYear.html'"></section>
	
</div>

<div ng-show="yearBon.handler.ManagementBonus">
	<section data-ng-include="'views/salary/managementBonusYear.html'"></section>
	
</div>

<div  ng-show="yearBon.handler.withHoldingTax">
	<section data-ng-include="'views/salary/withHoldingTaxYear.html'"></section>
	
</div>





</div>


<!--Modal Edit 13th Pay Status-->
<script type="text/ng-template" id="modaledit">
	<div class="modal-header">
		<h4><i class="fa fa-pencil-square-o" style="margin-right: 8px;" ></i>Edit 13th Pay Status</h4>
	</div>
	<div class="modal-body">
		<form name="myForm"  class="form form-validation" ng-submit="myForm.$valid && submit(formData)">	
			<div class='form-group'>	
				<fieldset>
					<div class="col-md-4">
						<label for="">December Difference {{modaledit.form.years - 1}}</label><span class="space space-sm"></span><label style ="color:red">*</label>
					</div>
					<div class="col-md-8">
						<input 	type="text"
						class="form-control"
						name="december_diff"  
						ng-model="modaledit.form.dec_diff" 
						autocomplete="off"
						disabled 
						/>

					</div>
				</fieldset>
			</div>

			<div class='form-group'>	
				<fieldset>
					<div class="col-md-4">
						<label for="">January-November {{modaledit.form.years}}</label><span class="space space-sm"></span><label style ="color:red">*</label>
					</div>
					<div class="col-md-8">
						<input 	type="text"
						class="form-control"
						ng-model="modaledit.form.jan_nov" 
						autocomplete="off"
						disabled
						/>

					</div>
				</fieldset>
			</div>

			<div class='form-group'>	
				<fieldset>
					<div class="col-md-4">
						<label for="">Estimated December {{modaledit.form.years}}</label><span class="space space-sm"></span><label style ="color:red">*</label>
					</div>
					<div class="col-md-8">
						<input 	type="text"
						class="form-control"  
						ng-model="modaledit.form.dec_now" 
						disabled 
						/>

					</div>
				</fieldset>
			</div>
			<div class='form-group'>	
				<fieldset>
					<div class="col-md-4">
						<label for="">Adjustment</label><span class="space space-sm"></span><label style ="color:red">*</label>
					</div>
					<div class="col-md-8">
						<input 	type="number"
						class="form-control"
						name="adjustment" 
						ng-disabled="!modaledit.buttonEdit"  
						ng-model="modaledit.form.adjustment" 
						autocomplete="off"
						ng-change="modaledit.calculate13monthPay()"
						required
						/>
						<span style="color:red" ng-show="myForm.adjustment.$dirty && myForm.adjustment.$invalid">
							<span ng-show="myForm.adjustment.$error.required">Adjustment is required.</span>
						</span>
					</div>
				</fieldset>
			</div>
			<div class='form-group'>	
				<fieldset>
					<div class="col-md-4">
						<label for="">Total</label><span class="space space-sm"></span><label style ="color:red">*</label>
					</div>
					<div class="col-md-8">
						<input 	type="text"
						class="form-control" 
						ng-model="modaledit.form.total" 
						autocomplete="off"
						disabled 
						/>
					</div>
				</fieldset>
			</div>


			<div class='form-group'>	
				<fieldset>
					<div class="col-md-4">
						<label for="">Divided by 12 months</label><span class="space space-sm"></span><label style ="color:red">*</label>
					</div>
					<div class="col-md-8">
						<div style="border-top: 3px double #8c8b8b;"></div>
					</div>
				</fieldset>
			</div>
			<div class='form-group'>	
				<fieldset>
					<div class="col-md-4">
						<label for="">13th Month Pay</label><span class="space space-sm"></span><label style ="color:red">*</label>
					</div>
					<div class="col-md-8">
						<input 	type="number"
						class="form-control"
						name="pay13th"   
						ng-model="modaledit.form.pay13th" 
						disabled
						/>

					</div>
				</fieldset>
			</div>
			<fieldset>
				<div class="col-sm-3">
				</span><label style ="color:red">*</label><span class="space space-xs"><label><small>Required field</small></label>
				</div>										
			</fieldset>	
		</form>
		<div class="modal-footer" >
<!-- 			<button type="submit" class="btn btn-success" ng-click="modaledit.button=true;">Edit</button>
			<button type="submit" class="btn btn-success"  ng-disabled="myForm.$invalid" ng-click="modaledit.save();">Save</button>
			<button class="btn btn-danger" ng-click="modaledit.close()">Cancel</button> -->
			<button class="btn btn-success" ng-click="modaledit.buttonEdit=true;modaledit.showHide=true" ng-show="!modaledit.showHide">Edit</button>
			<button class="btn btn-success" ng-click="modaledit.save()" ng-hide="!modaledit.showHide" ng-disabled="myForm.adjustment.$dirty && myForm.adjustment.$invalid">Save</button>
			<button class="btn btn-danger" ng-click="modaledit.close()" ng-show="!modaledit.showHide">Close</button>
			<button class="btn btn-danger" ng-click="modaledit.close()" ng-hide="!modaledit.showHide">Cancel</button>
		</div>

	</div>
</script>		


