
		<div class="page page-docTemplate" data-ng-controller="docTempCtrl">
			<section class="panel panel-primary table-dynamic" >
				<div class="panel-heading"><strong><span class="glyphicon glyphicon-th" style="margin-right: 8px;"></span> Document Template</strong></div>
					<div class='panel-body'>	
						<div class="table-filters">
							<div class="row">
								<div class="col-md-4">
									<form>
										<button class="btn btn-gap-v btn-success" ng-show="button('create')" ng-click="open('lg')"> Add </button>
											<span class="space space-sm"></span>
										<button class="btn btn-gap-v btn-danger"  ng-show="button('delete')" ng-click="remove(check.stores)">Delete</button>
									</form>
								</div>
							</div>
						</div>
						<table class="table table-bordered table-striped table-responsive">
							<thead>
								<tr id="heading">
									<th style="width:1%"><div class="th">
									</div></th>
									<th style="width:35%"><div class="th">
										Template Name
									</div></th>
									<th  style="width:35%"><div class="th">
										Description
									</div></th>
									<th  style="width:15%"><div class="th">
										Page Size
									</div></th>
									<th  style="width:15%"><div class="th">
										Section
									</div></th>
								</tr>
							</thead>
							<tbody>
								<tr data-ng-repeat="store in stores | filter:search | filter:new_search">
									<td><input type="checkbox"  checklist-model="check.stores"  checklist-value="store.id"></td>
									<td ng-click="edit('lg',store)" style="cursor:pointer">{{store.template_name}}</td>
									<td ng-click="edit('lg',store)" style="cursor:pointer">{{store.description}}</td>
									<td ng-click="edit('lg',store)" style="cursor:pointer">{{store.size}}</td>
									<td ng-click="edit('lg',store)" style="cursor:pointer">{{store.link_to_section}}</td>
								</tr>
							</tbody>
						</table>
					</div>
			</section>
		
			<!--MODAL ADD DOCUMENT-->		
			<script type="text/ng-template" id="modalDocument.html">
				<div class="modal-header">
					<h4><i class="fa fa-save" style="margin-right: 8px;" ></i>Add Document Template</h4>
				</div>
				<div class="modal-body">
						<form name="myForm" novalidate>	
							<div class="form-group">
								<fieldset>
									<div class="col-md-2">
										<label for="name">Name</label><span class="space space-sm"></span><label style ="color:red">*</label>
									</div>
									<div class="col-md-3">
										<input type="text" name="name" class="form-control" data-ng-model="formData.template_name" required/>
										<span style="color:red" ng-show="myForm.name.$dirty && myForm.name.$invalid">
											<span ng-show="myForm.name.$error.required">Name is required.</span>
										</span>
									</div>
									<div class="col-md-1"></div>
									<div class="col-md-2">
										<label for="margin">Margin Left</label>
									</div>
									<div class="col-md-3">
										<input type="number" name="mar_left" class="form-control" data-ng-model="formData.margin_left"/>
									</div>
								</fieldset>
							</div>
							<div class="form-group">
								<fieldset>
									<div class="col-sm-2">
										<label for="link">Link to Section</label>
									</div>
									<div class="col-sm-3">
										<select class="form-control" ng-model="formData.link_to_section">
											<option value="201-JOB">Create Document</option>
										</select>
									</div>
									<div class="col-md-1"></div>
									<div class="col-md-2">
										<label for="margin">Margin Right</label>
									</div>
									<div class="col-md-3">
										<input type="number" name="number" class="form-control" data-ng-model="formData.margin_right" required/>
									</div>
								</fieldset>
							</div>
							<div class="form-group">
								<fieldset>
									<div class="col-sm-2">
										<label for="link">Page Size</label>
									</div>
									<div class="col-sm-3">
										<select class="form-control" ng-model="formData.size">
											<option value="A4">A4</option>
											<option value="F4">F4</option>
										</select>
									</div>
									<div class="col-md-1"></div>
									<div class="col-md-2">
										<label for="margin">Margin Top</label>
									</div>
									<div class="col-md-3">
										<input type="number" class="form-control" data-ng-model="formData.margin_top"/>
									</div>
								</fieldset>
							</div>
							<div class="form-group">
								<fieldset>
									<div class="col-sm-2">
										<label for="desc">Description</label>
									</div>
									<div class="col-sm-3">
										<textarea class="form-control" 
										rows="3" 
										cols="40"  
										data-ng-model="formData.description"></textarea>
									</div>
									<div class="col-md-1"></div>
									<div class="col-md-2">
										<label for="margin">Margin Bottom</label>
									</div>
									<div class="col-md-3">
										<input type="number" name="number" class="form-control" data-ng-model="formData.margin_bottom"/>
									</div>
								</fieldset>
							</div>
							<div class="form-group">
								<fieldset>
									<div class="col-sm-6"></div>
									<div class="col-sm-6">
										<label id ="margin">( Define the margin of the document in mm, default is 1 Inch. )</label>
									</div>
								</fieldset>
							</div>
							<hr>
							<div class="form-group">
								<fieldset>	
									<div class="col-sm-12">
										<div text-angular ng-model="formData.content_text" class="ui-editor" my-text></div>
										<!--
										<div class="col-sm-3">
											<fieldset>
												<select class="form-control" ng-model="select" id ="select">
													<option value=""> -- Select Input -- </option>
													<option value=""></option>
													<option value="first_name">First Name</option>
													<option value="last_name">Last Name</option>
													<option value="employee_id">Employee Id</option>
													<option value="pressent_address">Pressent Address</option>
													<option value="pressent_city">Pressent City</option>															
													<option value="present_state">Present State</option>
													<option value="present_zip" >Present Zip</option>
													<option value="date_probation_end">Date Probation End</option>
													<option value="date_permanency">Date Permanency</option>
													<option value="joined_date">Joined Date</option>
												</select>
												<br>
													<button type="submit" class="fa fa-reply" ng-click="addInput()"></button>
											</fieldset>
										</div>
										-->
									</div>
								</fieldset>	
							</div>
							<div class="form-group">
								<fieldset>
									<div class="col-sm-1">
										<label for="link">Tokens</label>
									</div>
									<div class="col-sm-4">
										<select class="form-control"  
												ng-model="data"
												ng-options="sizes.indexOf(data) as data for data in sizes"
												ng-change="update(data)">
										</select>																
									</div>
									<div class="col-sm-4" ng-hide="!data">
										<select class="form-control"  
												ng-model="select"
												ng-options="get as get.field_name for get in getselect">
											<option value="">-- Select --</option>
										</select>
									</div>
									<div class="col-sm-2">
										<button type="submit" class="btn btn-success"  ng-click="addInput()">Add Token</button>
									</div>
								</fieldset>
							</div>
						</form>	
					<br>
					<fieldset>
						<div class="col-sm-3">
							<label style ="color:red">*</label><span class="space space-xs"></span><label><small>Required field</small></label>
						</div>										
					</fieldset>
					<div class="modal-footer">
						<button type="submit" class="btn btn-success" ng-click="save()">Save</button>
						<button class="btn btn-danger" ng-click="cancel()">Cancel</button>
					</div>
				</div>
			</script>
					
					
			<!--MODAL EDIT DOCUMENT-->		
			<script type="text/ng-template" id="modalEditDocument.html">
				<div class="modal-header">
					<h4><i class="fa fa-pencil-square-o" style="margin-right: 8px;" ></i>Edit Document Template</h4>
				</div>
				<div class="modal-body">
					<form name="myForm" novalidate>	
						<div class="form-group">
							<fieldset>
								<div class="col-md-2">
									<label for="name">Name</label><span class="space space-sm"></span><label style ="color:red">*</label>
								</div>
								<div class="col-md-3">
									<input type="text" name="name" class="form-control" data-ng-model="formData.template_name" ng-disabled="!button" required/>
									<span style="color:red" ng-show="myForm.name.$dirty && myForm.name.$invalid">
										<span ng-show="myForm.name.$error.required">Name is required.</span>
									</span>
								</div>
								<div class="col-md-1"></div>
								<div class="col-md-2">
									<label for="margin">Margin Left</label>
								</div>
								<div class="col-md-3">
									<input type="number" name="mar_left" class="form-control" data-ng-model="formData.margin_left" ng-disabled="!button"/>
								</div>
							</fieldset>
						</div>
						<div class="form-group">
							<fieldset>
								<div class="col-sm-2">
									<label for="link">Link to Section</label>
								</div>
								<div class="col-sm-3">
									<select class="form-control" ng-model="formData.link_to_section" ng-disabled="!button">
										<option value="201-JOB">Create Document</option>
									</select>
								</div>
								<div class="col-md-1"></div>
								<div class="col-md-2">
									<label for="margin">Margin Right</label>
								</div>
								<div class="col-md-3">
									<input type="number" name="number" class="form-control" data-ng-model="formData.margin_right" ng-disabled="!button"/>
								</div>
							</fieldset>
						</div>
						<div class="form-group">
							<fieldset>
								<div class="col-sm-2">
									<label for="link">Page Size</label>
								</div>
								<div class="col-sm-3">
									<select class="form-control" ng-model="formData.size" ng-disabled="!button">
										<option value="a4">A4</option>
										<option value="f4">F4</option>
									</select>
								</div>
								<div class="col-md-1"></div>
								<div class="col-md-2">
									<label for="margin">Margin Top</label>
								</div>
								<div class="col-md-3">
									<input type="number" name="number" class="form-control" data-ng-model="formData.margin_top" ng-disabled="!button"/>
								</div>
							</fieldset>
						</div>
						<div class="form-group">
							<fieldset>
								<div class="col-sm-2">
									<label for="desc">Description</label>
								</div>
								<div class="col-sm-3">
									<textarea class="form-control" 
									rows="3" 
									cols="40"  
									data-ng-model="formData.description" ng-disabled="!button"></textarea>
								</div>
								<div class="col-md-1"></div>
								<div class="col-md-2">
									<label for="margin">Margin Bottom</label>
								</div>
								<div class="col-md-3">
									<input type="number" name="number" class="form-control" data-ng-model="formData.margin_bottom" ng-disabled="!button"/>
								</div>
							</fieldset>
						</div>
						<div class="form-group">
							<fieldset>
								<div class="col-sm-6"></div>
								<div class="col-sm-6">
									<label id ="margin">( Define the margin of the document in mm, default is 1 Inch. )</label>
								</div>
							</fieldset>
						</div>
						<hr>
						<div class="form-group">
							<fieldset>	
								<div class="col-sm-12">
									<div text-angular ng-model="formData.content_text" class="ui-editor"  ng-disabled="!button"  my-text></div>
									<!--
									<div class="col-sm-3">
										<fieldset>
											<select class="form-control" ng-model="select" id ="select">
												<option value=""> -- Select Input -- </option>
												<option value=""></option>
												<option value="first_name">First Name</option>
												<option value="last_name">Last Name</option>
												<option value="employee_id">Employee Id</option>
												<option value="pressent_address">Pressent Address</option>
												<option value="pressent_city">Pressent City</option>															
												<option value="present_state">Present State</option>
												<option value="present_zip" >Present Zip</option>
												<option value="date_probation_end">Date Probation End</option>
												<option value="date_permanency">Date Permanency</option>
												<option value="joined_date">Joined Date</option>
											</select>
											<br>
												<button type="submit" class="fa fa-reply" ng-click="addInput()"></button>
										</fieldset>
									</div>
									-->
								</div>
							</fieldset>	
						</div>
						<div class="form-group">
							<fieldset>
								<div class="col-sm-1">
									<label for="link">Tokens</label>
								</div>
								<div class="col-sm-4">
									<select class="form-control"  
											ng-model="data"
											ng-options="sizes.indexOf(data) as data for data in sizes"
											ng-change="update(data)"
											ng-disabled = "!button"
											>
									</select>																
								</div>
								<div class="col-sm-4" ng-hide="!data">
									<select class="form-control"  
											ng-model="select"
											ng-options="get as get.field_name for get in getselect">
										<option value="">-- Select --</option>
									</select>
								</div>
								<div class="col-sm-2">
									<button type="submit" class="btn btn-success"  ng-click="addInput()">Add Token</button>
								</div>
							</fieldset>
						</div>
					</form>	
					<br>
					<fieldset>
						<div class="col-sm-3">
							<label style ="color:red">*</label><span class="space space-xs"></span><label><small>Required field</small></label>
						</div>										
					</fieldset>
					<div class="modal-footer" ng-show="hide('update')">
						<button type="submit" class="btn btn-success" ng-hide="button" ng-click="button=true; edit();">Edit</button>
						<button type="submit" class="btn btn-success" ng-disabled="myForm.$invalid"  ng-show="button"  ng-click="save();">Save</button>
						<button class="btn btn-danger" ng-click="cancel()">Cancel</button>
					</div>
					<div class="modal-footer" ng-hide="hide('update')">
						<button class="btn btn-danger" ng-click="cancel()">Close</button>
					</div>
				</div>
			</script>
			
		</div>