
		<div class="page page-immigration" data-ng-controller="immigrationctrl as immig">
			<section class="panel panel-primary table-dynamic">
				<div class="panel-heading"><strong><span class="glyphicon glyphicon-th" style="margin-right: 8px;"></span>Immigration Issuer</strong></div>
					<div class="panel-body">
						<div class="from-group">
							<div class="row">
								<div class="col-sm-4">
									<form>
										<button class="btn btn-gap-v btn-success"  
												ng-click="immig.handler.openmodal('add')"
												ng-show="immig.handler.button('create')">
												Add
										</button>
										<span class="space space-sm"></span>
										<button type="button" 
												class="btn btn-gap-v btn-danger"   
												ng-click="immig.handler.deldata(immig.handler.check)"
												ng-show="immig.handler.button('delete')">
												Delete
										</button>
									</form>
								</div>
							</div>
						</div><br>
						<div class="form-group">
							<div class="row">
								<div class="col-sm-4">
									<form>
										<input type="text"
											   placeholder="Search..."
											   class="form-control"
											   data-ng-model="immig.handler.search"
											   data-ng-model-options="{debounce:300}"
											   >
									</form>
								</div>
								<div class="col-sm-3 filter-result-info">
									<span>
										Showing {{immig.handler.paginated.length}}/{{immig.handler.maindata.length}} entries
									</span>              
								</div>
							</div>
						</div><br>
						<table class="table table-bordered table-striped table-responsive">
							<thead>
								<tr>
									<th><div class="th">
									</div></th>
									<th ng-repeat='a in immig.handler.headers' width='{{a.width}}'>
										<div class="th">
											{{a.name}}
											<span class="fa fa-angle-up"
												  data-ng-if="a.sort"
												  data-ng-click="immig.handler.setactiveheader(a,true)"
												  data-ng-class="{active: $index == immig.handler.activeheader.id && immig.handler.activeheader.order == true}">
											</span>
											<span class="fa fa-angle-down"
												  data-ng-if="a.sort"
												  data-ng-click="immig.handler.setactiveheader(a,false)"
												  data-ng-class="{active: $index == immig.handler.activeheader.id && immig.handler.activeheader.order == false}">
											</span>
										</div>
									</th>
								</tr>
							</thead>
							<tbody>
								<tr data-ng-repeat="a in immig.handler.getdata() | orderBy: immig.handler.activeheader.sort : immig.handler.activeheader.order track by [$index]">
									<td><input type="checkbox" checklist-model="immig.handler.check" checklist-value="a.id"/></td>
									<td style="cursor:pointer" ng-click="immig.handler.openmodal('edit',a)">{{a.title}}</td>
								</tr>
							</tbody>
						</table>
						<footer class="table-footer">
							<div class="row">
								<div class="col-sm-6 page-num-info">
									<span>
										Show 
										<select data-ng-model="immig.handler.numPerPage"
												data-ng-options="num for num in immig.handler.numPerPageOpt"
												data-ng-change="onNumPerPageChange()">
										</select> 
										entries per page
									</span>
								</div>
								<div class="col-sm-6 text-right pagination-container">
									<pagination class="pagination-sm"
												ng-model="immig.handler.currentPage"
												total-items="immig.handler.filtered.length"
												max-size="4"
												ng-change="select(currentPage)"
												items-per-page="immig.handler.numPerPage"
												rotate="false"
												previous-text="&lsaquo;" next-text="&rsaquo;"
												boundary-links="true"></pagination>
								</div>
							</div>
						</footer>
					</div>
			</section>
		</div>
		<!--Modal Add Immigration-->
			<script type="text/ng-template" id="modalimmig">
				<div class="modal-header">
					<h4><i class="fa fa-save" style="margin-right: 8px;" ></i>Add Immigration</h4>
				</div>
				<div class="modal-body">
					<form name="myForm" class="form form-validation" ng-submit="myForm.$valid && submit()">	
						<div class='form-group'>
							<fieldset>
								<div class="col-md-2">
									<label for="name">Name</label><span class="space space-sm"></span><label style ="color:red">*</label>
								</div>
								<div class="col-md-8">
									<input 	type="text" 
											name="name" 
											class="form-control" 
											ng-model="modalimmig.form.title"
											autocomplete='off'
											required
									/>
									<span style="color:red" ng-show="myForm.name.$dirty && myForm.name.$invalid">
										<span ng-show="myForm.name.$error.required">Required field.</span>
									</span>
								</div>
							</fieldset>
						</div>
					</form>	
					<fieldset>
						<div class="col-md-3">
							</span><label style ="color:red">*</label><span class="space space-xs"><label><small>Required field</small></label>
						</div>										
					</fieldset>
					<div class="modal-footer">
						<button type="submit" class="btn btn-success" ng-disabled="myForm.$invalid" ng-click="modalimmig.save()">Save</button>
						<button class="btn btn-danger" ng-click="modalimmig.close()">Cancel</button>
					</div>
				</div>
			</script>
								
			<!--Modal Edit Immigration-->
			<script type="text/ng-template" id="modaleditimmig">
				<div class="modal-header">
					<h4><i class="fa fa-pencil-square-o" style="margin-right: 8px;" ></i>Edit Immigration</h4>
				</div>
				<div class="modal-body">
						<form name="myForm"  class="form form-validation" ng-submit="myForm.$valid && submit()">	
							<div class='form-group'>
								<fieldset>
									<div class="col-md-2">
										<label for="name">Name</label><span class="space space-sm"></span><label style ="color:red">*</label>
									</div>
									<div class="col-md-8">
										<input 	type="text" 
												name="name" 
												class="form-control"
												ng-disabled="!modaleditimmig.button"
												autocomplete='off'												
												ng-model="modaleditimmig.form.title" 
												required
										/>
										<span style="color:red" ng-show="myForm.name.$dirty && myForm.name.$invalid">
											<span ng-show="myForm.name.$error.required">Required field.</span>
										</span>
									</div>
								</fieldset>
							</div>
						</form>	
						<fieldset>
							<div class="col-md-3">
								</span><label style ="color:red">*</label><span class="space space-xs"><label><small>Required field</small></label>
							</div>										
						</fieldset>
					<div class="modal-footer" ng-show="modaleditimmig.handler.button('update')">
						<button type="submit" class="btn btn-success" ng-hide="modaleditimmig.button" ng-click="modaleditimmig.button=true;">Edit</button>
						<button type="submit" class="btn btn-success" ng-show="modaleditimmig.button" ng-disabled="myForm.$invalid" ng-click="modaleditimmig.save();">Save</button>
						<button class="btn btn-danger" ng-click="modaleditimmig.close()">Cancel</button>
					</div>
					<div class="modal-footer" ng-hide="modaleditimmig.handler.button('update')">
						<button class="btn btn-danger" ng-click="modaleditimmig.close()">Close</button>
					</div>
				</div>
			</script>
<!-- <section class="panel panel-primary table-dynamic" >
	<div class="panel-heading"><strong><span class="glyphicon glyphicon-th" style="margin-right: 8px;"></span> Immigration Issuer</strong></div>
		<div class="table-filters">
			<div class="row">
				<div class="col-md-4">
					<form>
						<button class="btn btn-gap-v btn-success" ng-disabled="!role" ng-click="open()">Add </button>
							<span class="space space-sm"></span>
						<button class="btn btn-gap-v btn-danger" ng-disabled ="!role" ng-click="remove(check.imigs)">Delete</button>
					</form>
				</div>
			</div>
		</div>
		<table class="table table-bordered table-striped table-responsive">
			<thead>
				<tr id="heading">
					<th style="width:1%" ng-model="student.selected"><div class="th">
						
					</div></th>
					<th style="width:99%"><div class="th">
						Name
					</div></th>
				</tr>
			</thead>
			<tbody>
				<tr data-ng-repeat="imig in imigs | filter:search | filter:new_search">
					<td><input type="checkbox" checklist-model="check.imigs" checklist-value="imig.id" ng-model="imig.selected"></td>
					  <td ng-click="edit('',imig)" style="cursor:pointer">{{imig.title}}</td>
					  
				</tr>
			</tbody>
		</table>
</section> -->