
		<div class="page page-infract" ng-controller='infractionlistcontroller as infract'>
		
				<section class="panel panel-primary table-dynamic">
					<div class="panel-heading"><strong><span class="glyphicon glyphicon-th" style="margin-right: 8px;"></span>Infraction List</strong></div>
						<div class="panel-body">	
							<form name="myForm" class="form-horizontal form-validation">
								<div class="form-group">
									<div class="col-sm-2">
										<label>From</label>
									</div>
									<div class="col-sm-2">
										<input type="date" class="form-control" min="1900-01-01" max="2100-01-01" ng-model="infract.handler.form.from"/>	
									</div>
								</div>
								<div class="form-group">
									<div class="col-sm-2">
										<label>To</label>
									</div>
									<div class="col-sm-2">
										<input type="date" class="form-control" min="1900-01-01" max="2100-01-01" ng-model="infract.handler.form.to"/>	
									</div>
								</div>
								<div class="form-group">
									<div class="col-sm-2">
										<label>Include Past Employees</label>
									</div>
									<div class="col-sm-10">
										<div>
											<label class="ui-checkbox">
												<input 	type="checkbox" 
														ng-model="infract.handler.form.past" 
														ng-true-value="1" 
														ng-false-value="0" 
														ng-checked="infract.handler.form.include == 1"><span></span>
											</label>
										</div>
									</div>
								</div>
								<div class="form-group">
									<div class="col-sm-2">
										<label>Employee</label>
									</div>
									<div class="col-sm-2">
										<input 	type="text"
												placeholder="Type for hint . ."
												class="form-control"
												data-ng-model="infract.handler.form.employee_id"
												typeahead="(address.name) for address in infract.handler.getLocation($viewValue)" 
												typeahead-loading="loadingLocations"
												typeahead-min-length="4"
												typeahead-wait-ms="400"
												typeahead-on-select="infract.handler.onSelect($item,$model,$label)"
												autocomplete="off"
										/>	
									</div>
								</div>
								<div class="form-group">
									<div class="col-sm-2">
										<label>Department</label>
									</div>
									<div class="col-sm-2">
										<select class="form-control"  ng-model="infract.handler.form.department_id">
												<option value=""> -- Select --</option>
												<option value="{{job.department_id}}" ng-repeat="job in infract.handler.data">{{job.name}}</option>
										</select>
									</div>
								</div>
								<div class="form-group">
									<div class="col-sm-2">
										<label>Job Title</label>
									</div>
									<div class="col-sm-2">
										<select class="form-control"  ng-model="infract.handler.form.job_id">
											<option value=""> -- Select --</option>
											<option value="{{job.job_id}}"   ng-repeat="job in infract.handler.jobtitle">{{job.title}}</option>
										</select>
									</div>
								</div>
								<hr>
								<div class="form-group">										
									<div class="col-sm-6">
										<button type="submit" 
												class="btn btn-success"  	
												ng-click="infract.handler.searchlist()"
												ng-show="infract.handler.button('read')">Search
										</button>
										<span class="space space-sm"></span>
										<button type="submit" 
												class="btn btn-danger"  	
												ng-click="infract.handler.reset()"
												ng-show="infract.handler.button('read')">Reset
										</button>
										<span class="space space-sm"></span>
										<button type="submit" 
												class="btn btn-success"  	
												ng-click="infract.handler.export(infract.handler.getdata())"
												ng-show="infract.handler.button('read')">Export To Excel
										</button>
									</div>
								</div>
							</form>
						</div>
				</section>
							
				<section class="panel panel-primary table-dynamic">
					<div class="panel-body">
						<div class="from-group">
							<div class="row">
								<div class="col-sm-4">
									<form>
										<button type="button" 
												class="btn btn-gap-v btn-danger"   
												ng-click="infract.handler.deldatacheck(infract.handler.checklist)"
												ng-show="infract.handler.button('delete')">
												Delete
										</button>
									</form>
								</div>
							</div>
						</div><br>
						<div class="from-group">
							<div class="row">
								<div class="col-sm-4">
									<form>
										<input type="text"
											   placeholder="Search..."
											   class="form-control"
											   data-ng-model="infract.handler.search"
											   data-ng-model-options="{debounce:300}"
											   >
									</form>
								</div>
								<div class="col-sm-3 filter-result-info">
									<span>
										Showing {{infract.handler.paginated.length}}/{{infract.handler.maindata.length}} entries
									</span>              
								</div>
							</div>
						</div><br>
						<table class="table table-bordered table-striped table-responsive">
							<thead>
								<tr>
									<th><div class="th">
									</div></th>
									<th ng-repeat='a in infract.handler.headers'  width='{{a.width}}'>
										<div class="th">
											{{a.name}}
											<span class="fa fa-angle-up"
												  data-ng-if="a.sort"
												  data-ng-click="infract.handler.setactiveheader(a,true) "
												  data-ng-class="{active: $index == infract.handler.activeheader.id && infract.handler.activeheader.order == true}">
											</span>
											<span class="fa fa-angle-down"
												  data-ng-if="a.sort"
												  data-ng-click=" infract.handler.setactiveheader(a,false) "
												  data-ng-class="{active: $index == infract.handler.activeheader.id && infract.handler.activeheader.order == false}">
											</span>
										</div>
									</th>
									<!-- <th colspan="3" class='text-center'>
										<div class="th">
											Action
										</div>
									</th> -->
								</tr>
							</thead>
							<tbody>
								<tr data-ng-repeat="a in infract.handler.getdata() | orderBy: infract.handler.activeheader.sort : infract.handler.activeheader.order track by [$index]">
									<!-- <td><input type="checkbox" checklist-value="a.id"  checklist-model="infract.handler.check"/></td> -->
									<td><input type="checkbox" checklist-value="a.id" ng-model="a.isChecked" ng-change="infract.handler.selectList(a)"/></td>
									<td style="cursor:pointer" ng-click="infract.handler.openmodal('edit',a)">{{a.employeeName}}</td>
									<td style="cursor:pointer" ng-click="infract.handler.openmodal('edit',a)">{{a.department}}</td>
									<td style="cursor:pointer" ng-click="infract.handler.openmodal('edit',a)">{{a.JobTitle}}</td>
									<td style="cursor:pointer" ng-click="infract.handler.openmodal('edit',a)">{{a.date}}</td>
									<td style="cursor:pointer" ng-click="infract.handler.openmodal('edit',a)">{{a.infraction}}</td>
									<td style="cursor:pointer" ng-click="infract.handler.openmodal('edit',a)">{{a.sanction}}</td>
									<!-- <td style="cursor:pointer" ng-click="infract.handler.openmodal('detail',a)">{{a.status}}</td> -->
									<!-- <td width='1%' ng-show="infract.handler.setbuttonapprove('approve',infract.handler.form.employee_role)">
										<button class="btn btn-success"
												tooltip-placement="top" 
												tooltip="Approve"
												ng-click="infract.handler.openmodal('app',a)">
												<span class="fa fa-check"></span>
										</button>
									</td>
									<td width='1%' ng-show="infract.handler.setbuttonapprove('reject',infract.handler.form.employee_role)">
										<button class="btn btn-danger" 
												ng-click="infract.handler.openmodal('rej',a)" 
												tooltip-placement="top" 
												tooltip="Reject">
											<span class="fa fa-times" ></span>
										</button>
									</td>
									<td width='1%' ng-show="infract.handler.setbuttonapprove('cancel',infract.handler.form.employee_role)">
										<button class="btn btn-warning" 
												ng-click="infract.handler.openmodal('can',a)" 
												tooltip-placement="top" 
												tooltip="Cancel">
												<span class="fa fa-ban"></span>
										</button>
									</td> -->
								</tr>
							</tbody>
						</table>
						<footer class="table-footer">
							<div class="row">
								<div class="col-md-6 page-num-info">
									<span>
										Show 
										<select data-ng-model="infract.handler.numPerPage"
												data-ng-options="num for num in infract.handler.numPerPageOpt"
												data-ng-change="onNumPerPageChange()">
										</select> 
										entries per page
									</span>
								</div>
								<div class="col-md-6 text-right pagination-container">
									<pagination class="pagination-sm"
												ng-model="infract.handler.currentPage"
												total-items="infract.handler.filtered.length"
												max-size="4"
												ng-change="select(currentPage)"
												items-per-page="infract.handler.numPerPage"
												rotate="false"
												previous-text="&lsaquo;" next-text="&rsaquo;"
												boundary-links="true">
									</pagination>
								</div>
							</div>
						</footer>
					</div>
				</section>
							
				<!-- Modal Infraction Detail -->
				<script type="text/ng-template" id="modaleditinfrac">
					<div class="modal-header">
						<h4><label>{{modaleditinfrac.title}}</label> {{modaleditinfrac.form.employeeName}}</h4>
					</div>
					<div class="modal-body">
						<form name="myForm" class="form form-validation" ng-submit="myForm.$valid && submit(modaleditinfrac.form)">
							<div class="form-group">
								<fieldset>
									<div class="col-sm-2">
										<label>Name</label>
									</div>
									<div class="col-sm-5">
										<input type="text" name="employee" class="form-control" ng-model="modaleditinfrac.form.employeeName" disabled="true"> 
									</div>
								</fieldset>
							</div>
							<div class="form-group">
								<fieldset>
									<div class="col-sm-2">
										<label>Infraction Name</label>
									</div>
									<div class="col-sm-5">
										<input 	type="text"
											placeholder="Infraction Name"
											class="form-control"
											autocomplete="off"
											data-ng-model="modaleditinfrac.form.infraction"
											ng-disabled="!modaleditinfrac.button"
										/>	
									</div>
								</fieldset>
							</div>
							<div class="form-group">
								<fieldset>
									<div class="col-sm-2">
										<label>Sanction</label><span class="space space-sm"></span><label style ="color:red">*</label>
									</div>
									<div class="col-sm-5">
										<select class="form-control"  name="type" ng-disabled="!modaleditinfrac.button" ng-model="modaleditinfrac.form.idSanction" required>
											<option value="">-- Select --</option>
											<option value="1">Verbal Warning (VW)</option>
											<option value="2">Written Warning (WW)</option>
											<option value="3">Final Written Warning (FWW)</option>
											<option value="4">Suspension (SUS)</option>
										</select>
									</div>
									<div class="col-sm-2" ng-show="modaleditinfrac.form.idSanction == '4' ">
										<input 	type="number"
												placeholder="Sanction Days"
												class="form-control"
												autocomplete="off"
												data-ng-model="modaleditinfrac.form.day"
												ng-disabled="!modaleditinfrac.button"
										/>
									</div>
									<div class="col-sm-2" ng-show="modaleditinfrac.form.idSanction=='4'">
										<label>Remaining Days</label>
										<!--<span class="space space-sm"></span><label style ="color:red">*</label>-->
									</div>
								</fieldset>
							</div>
							<div class="form-group">
								<fieldset>
									<div class="col-sm-2">
										<label>Sanction Date</label>
									</div>
									<div class="col-sm-5">
										<input 	type="date"
												class="form-control"
												autocomplete="off"
												data-ng-model="modaleditinfrac.form.date"
												ng-disabled="!modaleditinfrac.button"
										/>
										
									</div>
								</fieldset>
							</div>
							
							<div class="panel panel-default">
								<div class="panel-heading"><label class="text-capitalize">Additional Information</label></div>
								<div class="panel-body">	
									<form name="myForm" class="form-horizontal form-validation">
										<div class="form-group">
											<fieldset>	
												<div class="col-md-12">
													<textarea class="form-control" ng-disabled="!modaleditinfrac.button" rows="5" cols="40" placeholder="Additional Information" ng-model="modaleditinfrac.form.comment"></textarea>
												</div>
											</fieldset>
										</div>
									</form>
								</div>
							</div>
							<div class="form-group">
								<fieldset>
									<div class='col-sm-2'>
										<button type="button" 
												class="btn btn-default" 
												accept="image/*"
												ngf-select ngf-change="upload($files)"
												ngf-multiple="multiple"
												ng-model="modaleditinfrac.files"
												ng-disabled="!modaleditinfrac.button">
												Upload a Photo
										</button>
									</div>		
									<div class='col-sm-2'>
										<label ng-repeat="f in modaleditinfrac.files"  ng-show="modaleditinfrac.files">{{f.name}}</label>
									</div>
									<div class='col-sm-3'  ng-show="modaleditinfrac.files">
										<button class="btn btn-danger"  tooltip-placement="top" tooltip="Delete File" ng-click=" modaleditinfrac.files = false">
											<span class="glyphicon glyphicon-trash" ></span>
										</button>
									</div>
								</fieldset>
							</div>
						</form>
					</div>
					<div class="modal-footer custommodalfooter">
						<button type="submit" class="btn btn-success" ng-hide="modaleditinfrac.button" ng-click="modaleditinfrac.button=true;">Edit</button>
						<button type="submit" class="btn btn-success" ng-show="modaleditinfrac.button" ng-disabled="myForm.$invalid" ng-click="modaleditinfrac.save(modaleditinfrac.files);">Save</button>
						<button class="btn btn-danger" ng-click="modaleditinfrac.close()">Cancel</button>
					</div>
				</script>
				
		</div>