
		<div class="page page-skill" data-ng-controller="terminationsctrl as term">	
			<section class="panel panel-primary table-dynamic">
				<div class="panel-heading"><strong><span class="glyphicon glyphicon-th" style="margin-right: 8px;"></span>Termination Reasons</strong></div>
					<div class="panel-body">
						<div class="from-group">
							<div class="row">
								<div class="col-sm-4">
									<form>
										<button class="btn btn-gap-v btn-success"  
												ng-click="term.handler.openmodal('add')"
												ng-show="term.handler.button('create')">
												Add
										</button>
										<span class="space space-sm"></span>
										<button type="button" 
												class="btn btn-gap-v btn-danger"   
												ng-click="term.handler.deldata(term.handler.check)"
												ng-show="term.handler.button('delete')">
												Delete
										</button>
									</form>
								</div>
							</div>
						</div><br>
						<div class="form-group">
							<div class="row">
								<div class="col-sm-4">
									<form>
										<input type="text"
											   placeholder="Search..."
											   class="form-control"
											   data-ng-model="term.handler.search"
											   data-ng-model-options="{debounce:300}"
											   >
									</form>
								</div>
								<div class="col-sm-3 filter-result-info">
									<span>
										Showing {{term.handler.paginated.length}}/{{term.handler.maindata.length}} entries
									</span>              
								</div>
							</div>
						</div><br>
						<table class="table table-bordered table-striped table-responsive">
							<thead>
								<tr>
									<th><div class="th">
									</div></th>
									<th ng-repeat='a in term.handler.headers' width='{{a.width}}'>
										<div class="th">
											{{a.name}}
											<span class="fa fa-angle-up"
												  data-ng-if="a.sort"
												  data-ng-click="term.handler.setactiveheader(a,true)"
												  data-ng-class="{active: $index == term.handler.activeheader.id && term.handler.activeheader.order == true}">
											</span>
											<span class="fa fa-angle-down"
												  data-ng-if="a.sort"
												  data-ng-click="term.handler.setactiveheader(a,false)"
												  data-ng-class="{active: $index == term.handler.activeheader.id && term.handler.activeheader.order == false}">
											</span>
										</div>
									</th>
								</tr>
							</thead>
							<tbody>
								<tr data-ng-repeat="a in term.handler.getdata() | orderBy: term.handler.activeheader.sort : term.handler.activeheader.order track by [$index]">
									<td><input type="checkbox" checklist-model="term.handler.check" checklist-value="a.id"/></td>
									<td style="cursor:pointer" ng-click="term.handler.openmodal('edit',a)">{{a.title}}</td>
								</tr>
							</tbody>
						</table>
						<footer class="table-footer">
							<div class="row">
								<div class="col-sm-6 page-num-info">
									<span>
										Show 
										<select data-ng-model="term.handler.numPerPage"
												data-ng-options="num for num in term.handler.numPerPageOpt"
												data-ng-change="onNumPerPageChange()">
										</select> 
										entries per page
									</span>
								</div>
								<div class="col-sm-6 text-right pagination-container">
									<pagination class="pagination-sm"
												ng-model="term.handler.currentPage"
												total-items="term.handler.filtered.length"
												max-size="4"
												ng-change="select(currentPage)"
												items-per-page="term.handler.numPerPage"
												rotate="false"
												previous-text="&lsaquo;" next-text="&rsaquo;"
												boundary-links="true"></pagination>
								</div>
							</div>
						</footer>
					</div>
			</section>
		</div>
		<!--Modal Add Termination-->
		<script type="text/ng-template" id="modalterm">
			<div class="modal-header">
				<h4><i class="fa fa-save" style="margin-right: 8px;" ></i>Add Termination Reasons</h4>
			</div>
			<div class="modal-body">
					<form name="myForm" class="form form-validation" ng-submit="myForm.$valid && submit()">	
						<div class='form-group'>	
							<fieldset>
								<div class="col-md-2">
									<label for="name">Name</label><span class="space space-sm"></span><label style ="color:red">*</label>
								</div>
								<div class="col-md-8">
									<input 	type="text"  
											class="form-control" 
											name="name" 
											data-ng-model="modalterm.form.title" 
											autocomplete='off'
											required
									/>
									<span style="color:red" ng-show="myForm.name.$dirty && myForm.name.$invalid">
										<span ng-show="myForm.name.$error.required">Required field.</span>
									</span>
								</div>
							</fieldset>
						</div>
						<fieldset>
							<div class="col-md-3">
								</span><label style ="color:red">*</label><span class="space space-xs"><label><small>Required field</small></label>
							</div>										
						</fieldset>
					</form>	
				<div class="modal-footer">
					<button type="submit" class="btn btn-success" ng-disabled="myForm.$invalid" ng-click="modalterm.save()">Save</button>
					<button class="btn btn-danger" ng-click="modalterm.close()">Cancel</button>
				</div>
			</div>
		</script>
					
		<!--Modal Edit Terminations-->
		<script type="text/ng-template" id="modaleditterm">
			<div class="modal-header">
				<h4><i class="fa fa-pencil-square-o" style="margin-right: 8px;" ></i>Edit Termination Reasons</h4>
			</div>
			<div class="modal-body">
				<form name="myForm"  class="form form-validation"  ng-submit="myForm.$valid && submit()">	
					<div class='form-group'>	
						<fieldset>
							<div class="col-md-2">
								<label for="name">Name</label><span class="space space-sm"></span><label style ="color:red">*</label>
							</div>
							<div class="col-md-8">
								<input 	type="text" 
										name="name" 
										class="form-control" 
										ng-disabled="!modaleditterm.button" 
										data-ng-model="modaleditterm.form.title" 
										autocomplete='off'
										required
								/>
								<span style="color:red" ng-show="myForm.name.$dirty && myForm.name.$invalid">
									<span ng-show="myForm.name.$error.required">Required field.</span>
								</span>
							</div>
						</fieldset>
					</div>
					<fieldset>
						<div class="col-md-3">
							</span><label style ="color:red">*</label><span class="space space-xs"><label><small>Required field</small></label>
						</div>										
					</fieldset>
				</form>	
				<div class="modal-footer" ng-show="modaleditterm.handler.button('update')">
					<button type="submit" class="btn btn-success" ng-hide="modaleditterm.button" ng-click="modaleditterm.button=true;">Edit</button>
					<button type="submit" class="btn btn-success" ng-show="modaleditterm.button" ng-disabled="myForm.$invalid" ng-click="modaleditterm.save();">Save</button>
					<button class="btn btn-danger" ng-click="modaleditterm.close()">Cancel</button>
				</div>
				<div class="modal-footer" ng-hide="modaleditterm.handler.button('update')">
					<button class="btn btn-danger" ng-click="modaleditterm.close()">Close</button>
				</div>
			</div>
		</script>
<!-- <section class="panel panel-primary table-dynamic" >
	<div class="panel-heading"><strong><span class="glyphicon glyphicon-th" style="margin-right: 8px;"></span> Termination Reasons</strong></div>
		<div class="table-filters">
			<div class="row">
				<div class="col-md-4">
					<form>
						<button class="btn btn-gap-v btn-success" ng-disabled="!role" ng-click="open()"> Add </button>
							<span class="space space-sm"></span>
						<button class="btn btn-gap-v btn-danger" ng-disabled ="!role" ng-click="remove(check.terminations)">Delete</button>
					</form>
				</div>
			</div>
		</div>
		<table class="table table-bordered table-striped table-responsive">
			<thead>
				<tr id="heading">
					<th style="width:1%" ng-model="student.selected"><div class="th">
					</div></th>
					<th style="width:99%"><div class="th">
						Name
					</div></th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="term in terminations | filter:search | filter:new_search">
					<td><input type="checkbox" checklist-model="check.terminations" checklist-value="term.id" ></td>
					  <td ng-click="edit('',term)" style="cursor:pointer">{{term.title}}</td>
				</tr>
			</tbody>
		</table>
</section> -->