
<div class="page page-info" data-ng-controller="generalCtrl">
	<section class="panel panel-primary table-dynamic" >
		<div class="panel-heading">
			<strong><span class="glyphicon glyphicon-th" style="margin-right: 8px;"></span> General Information</strong>
		</div>
		<div class="panel-body">
			<form name="myForm" class="form-horizontal form-validation" novalidate ng-submit="myForm.$valid && submit(formData)">
				<div class="form-group">
					<fieldset>
						<div class="col-sm-2">
							<label for="Organization">Organization Name</label><span class="space space-sm"></span><label style ="color:red">*</label>
						</div>
						<div class="col-sm-2">
							<input type="text" name="name" class="form-control" ng-model="genInfo.name" ng-disabled="!button" required="required"/>
								<span style="color:red" ng-show="myForm.name.$dirty && myForm.name.$invalid">
									<span ng-show="myForm.name.$error.required">Name is required.</span>
								</span>
						</div>
						<div class="col-sm-1"></div>
						<div class="col-sm-1">
							<label for="BIR">BIR Number</label>
						</div>
						<div class="col-sm-2">
							<input type="text" name="birNumber" class="form-control" id="birNumber"
								ng-disabled="!button"
								ng-model="genInfo.bir_numb" 
								ui-mask="999-999-999-999"
								placeholder="XXX-XXX-XXX-XXX"
							/>
						</div>
						 <div class="col-sm-2">
							 <input type="hidden" ng-model="genInfo.id"/>
						</div>
					</fieldset>
				</div>
				<div class="form-group">
					<fieldset>
						<div class="col-sm-2">
							<label for="Number">Number Of Employees</label>
						</div>
						<div class="col-sm-2">
							<label>Local <span class="space space-sm"></span>: {{genInfo.local}}</label><br>
							<label>Expat<span class="space space-sm"></span>: {{genInfo.expat}}</label>
						</div>
						<div class="col-sm-1"></div>
						<div class="col-sm-1">
							<label for="SSS">SSS Number</label>
						</div>
						<div class="col-sm-2">
							 <input type="text" name="sssNumber" class="form-control" id="sssNumber"
								ng-disabled="!button"
								ng-model="genInfo.sss_numb" 
								ui-mask="99-9999999-9"
								placeholder="XX-XXXXXXX-X" >
						</div>
					</fieldset>
				</div>
				<div class="form-group">
					<fieldset>
						<div class="col-sm-2">
							<label for="Philhealth">Philhealth Number</label>
						</div>
						<div class="col-sm-2">
							 <input type="text" name="phihealth_numb" class="form-control" id="philNumber"
								ng-disabled="!button"
								ng-model="genInfo.phihealth_numb" 
								ui-mask="99-999999999-9"
								placeholder="XX-XXXXXXXXX-X" >
						</div>
						<div class="col-sm-1"></div>
						<div class="col-sm-1">
							<label for="RDO">RDO Number</label>
						</div>
						<div class="col-sm-2">
							 <input type="text" name="rdoNumber" class="form-control" id="rdoNumber"
								ng-disabled="!button"
								ng-model="genInfo.rdo_numb" 
								ui-mask="999"
								placeholder="XXX">
						</div>
					</fieldset>
				</div>
				<div class="form-group">
					<fieldset>
						<div class="col-sm-2">
							<label for="Pag-ibig">Pag-ibig-number</label>
						</div>
						<div class="col-sm-2">
							 <input type="text" name="pagNumber" class="form-control" id="pagNumber"
								ng-disabled="!button"
								ng-model="genInfo.pag_big_numb" 
								ui-mask="9999 9999 9999"
								placeholder="XXXX XXXX XXXX" >
						</div>
					</fieldset>
				</div>
				<hr>
				<div class="form-group">
					<fieldset>
						<div class="col-sm-2">
							<label for="Phone">Phone</label>
						</div>
						<div class="col-sm-2">
							<input type="text" name="phone" ng-disabled="!button"  class="form-control" 
								   ng-disabled="!button"
								   ng-model="genInfo.phone"
								   ng-pattern="/^[\d\-\_\()^ ]+$/"
								   autocomplete='off'
							/>
							<span style="color:red" ng-show="myForm.phone.$dirty && myForm.phone.$error.pattern">Invalid input.</span>
						</div>
						<div class="col-sm-1"></div>
						<div class="col-sm-1">
							<label for="Fax">Fax</label>
						</div>
						<div class="col-sm-2">
							<input type="text" name="fax" class="form-control" ng-disabled="!button" ng-model="genInfo.fax"  autocomplete='off' ng-pattern="/^[\d\-\^ ]+$/">
								<span style="color:red" ng-show="myForm.fax.$dirty && myForm.fax.$error.pattern">Invalid input.</span>
						</div>
					</fieldset>
				</div>
				<div class="form-group">
					<fieldset>
						<div class="col-sm-2">
							<label for="Email">Email</label>
						</div>
						<div class="col-sm-2">
							<input type="email" class="form-control" name="emailG" ng-disabled="!button" ng-model="genInfo.email"  autocomplete='off' ng-pattern="/^[_a-z0-9]+(\.[_a-z0-9]+)*@[a-z0-9-]+(\.[a-z0-9-]+)*(\.[a-z]{2,4})$/">
								<span style="color:red" ng-show="myForm.emailG.$error.pattern">Invalid email address.</span>
						</div>
					</fieldset>
				</div>
				<hr>
				<div class="form-group">
					<fieldset>
						<div class="col-sm-2">
							<label for="Address">Address 1</label>
						</div>
						<div class="col-sm-2">
							<input type="text" class="form-control" ng-disabled="!button"  autocomplete='off' ng-model="genInfo.address1">
						</div>
						<div class="col-sm-1"></div>
						<div class="col-sm-1">
							<label for="Address">Address 2</label>
						</div>
						<div class="col-sm-2">
							<input type="text" class="form-control" ng-disabled="!button"  autocomplete='off' ng-model="genInfo.address2">
							</fieldset>
						</div>
				</div>
				<div class="form-group">
					<fieldset>
						<div class="col-sm-2">
							<label for="Address">City</label>
						</div>
						<div class="col-sm-2">
							<input type="text" ng-disabled="!button" ng-model="genInfo.city"  autocomplete='off' class="form-control">
						</div>
						<div class="col-sm-1"></div>
						<div class="col-sm-1">
							<label for="Address">State / Province</label>
						</div>
						<div class="col-sm-2">
							<input type="text" ng-disabled="!button" ng-model="genInfo.state"  autocomplete='off' class="form-control">
						</div>
					</fieldset>
				</div>
				<div class="form-group">
					<fieldset>
						<div class="col-sm-2">
							<label for="Address">Zip / Postal Code </label>
						</div>
						<div class="col-sm-2">
							<input type="text" name="zipG" class="form-control" ng-disabled="!button"  autocomplete='off' ng-model="genInfo.zip" ng-pattern="/^[\d\-\^ ]+$/">
								<span style="color:red" ng-show="myForm.zipG.$dirty && myForm.zipG.$error.pattern">Invalid input.</span>
						</div>
						<div class="col-sm-1"></div>
						<div class="col-sm-1">
							<label for="Address">Country</label>
						</div>
						<div class="col-sm-2">
							<country-select class="form-control" ng-model="genInfo.country" ng-disabled="!button"></country-select>
						<!--
							<select class="form-control" ng-model="genInfo.country" ng-disabled="!button">
								<option value=""> -- Select -- </option>
								<option ng-selected="{{genInfo.country == job.title}}" ng-repeat="job in jobs" value="{{job.id}}">{{job.title}}</option>
							</select>
						-->
						</div>
					</fieldset>
				</div>
				<hr>
				<div class="form-group">
					<fieldset>
						<div class="col-sm-2">
							<label for="">Company Logo</label>
						</div>
						<div class= "col-sm-5">
							<fieldset>
								<label  ng-show="files" ng-repeat="f in files" style="font-size:0.8em" ng-click="test()" ><a target="_parent" style="cursor:pointer" ng-href = "{{logo}}" >{{f.name}}</a></label>
							</fieldset>
						</div>	 
					</fieldset>	
				</div>
				<div class="form-group">			
					<fieldset>
						<div class="col-sm-2"></div>
						<div class="col-sm-10" ng-show="open">
							<label class="ui-radio"><input name="keep"   type="radio" value="1"  ng-model="genInfo.radio"><span> Keep Current</span></label>
							<label class="ui-radio"><input name="delete" type="radio" value="2"  ng-model="genInfo.radio"><span> Delete Current</span></label>
							<label class="ui-radio"><input name="delete" type="radio" value="3"  ng-model="genInfo.radio" ng-click="replaceFile()"><span> Replace Current</span></label>
						</div>
					</fieldset>
				</div>		
				<div class="form-group">
					<fieldset>
						<div class="col-sm-2"></div>
						<div class="col-sm-2">
							<button type="button" 
									class="btn btn-primary" 
									accept="image/jpg, image/png, image/gif, image/jpeg"
									name="file"
									ngf-multiple="multiple"
									ngf-select ng-model="files"
									ng-disabled="!button"
									ng-show="bfile"
							>Select File</button>
						</div>
					</fieldset>
				</div>
				<div class="form-group">
					<fieldset>
						<div class="col-sm-2"></div>
						<div class="col-sm-5">
							<label ng-show="bfile">Accepts up to 1 MB</label>
						</div>
					</fieldset>
				</div>
				<br>
				<div class="form-group">
					<fieldset>
						<div class="col-sm-3">
							</span><label style ="color:red">*</label><span class="space space-xs"><label><small>Required field</small></label>
						</div>										
					</fieldset>
				</div>
				<hr>
				<div class="form-group">
					<fieldset>
						<div class="col-sm-3" ng-show="hidebutton('create')">
							<button type="submit" class="btn btn-success" ng-hide="button" ng-click="button=true; edit();">Edit</button>
							<button type="submit" class="btn btn-success" ng-disabled="myForm.$invalid" ng-show="button" ng-click="save(files,genInfo.id)">Save</button>
						</div>
					</fieldset>
				</div>
			</form>		
		</div>
	</section>													
</div>