<div class="" data-ng-controller="personalCtrl">
	<div class="row">
		<div class="col-md-2">
			<section class="panel panel-box">
				<div class="panel-top bg-primary">
					<div class="text-center">
						<h3>{{name}}</h3>
					</div>
					<div class="divider divider-lg"></div>
					<div class="divider divider-lg"></div>
				</div>
				<div class="panel-img bg-primary">
					<a ng-href="#/employee/photograph/{{id}}"><img ng-src="{{pic}}" height="200" width="200" class="img-circle"></a>
				</div>
			</section>
			<div class="panel-default" ng-show="!useracess('user')">
				<div class="panel-body">
					<button class="btn btn-block  btn-primary" ng-click="isCollapsed = !isCollapsed">Change Employee</button>
					<div collapse="!isCollapsed">
						<div class="well">
							<input 	type="text"
							placeholder="Search..."
							class="form-control"
							ng-model="employee" 
							typeahead="(address.name) for address in getLocation($viewValue)" 
							typeahead-loading="loadingLocations"
							typeahead-min-length="4"
							typeahead-wait-ms="300"
							typeahead-on-select="onSelect($item, $model, $label)"
							/>			
						</div>						
					</div>
				</div>
			</div>
			<div class="panel panel-default">
				<div style="text-align:center">
					<h3 style="color:rgb(36, 138, 175);text-decoration: underline;text-decoration-color:rgb(36, 138, 175)" >{{localIT}}</h3>
				</div>
				<div class="panel-body">
					<a ng-href="#/employee/personalDetail/{{id}}" class="btn btn-block btn-primary active">Personal Details</a></button>
					<a ng-href="#/employee/contact/{{id}}" class="btn btn-block  btn-primary">Contact Details</a></button>
					<a ng-href="#/employee/emergency/{{id}}" class="btn btn-block  btn-primary">Emergency Contacts</a></button>
					<a ng-href="#/employee/dependents/{{id}}" class="btn btn-block btn-primary">Dependents</a></button>
					<a ng-href="#/employee/immigrations/{{id}}" class="btn btn-block btn-primary">Immigrations</a></button>
					<a ng-href="#/employee/report/{{id}}" class="btn btn-block btn-primary">Report-To</a></button>
					<a ng-href="#/employee/qualification/{{id}}" class="btn btn-block btn-primary">Qualification</a></button>
					<a ng-href="#/employee/job/{{id}}" class="btn btn-block  btn-primary">Job History</a></button>
					<a ng-href="#/employee/salary/{{id}}" class="btn btn-block btn-primary">Salary History</a></button>
				</div>
			</div>
		</div>	
	</div>
