
		<div class="page page-overtimeUnder">
					
					<!-- #########################    TABLE OVERTIME ############################################################  -->
					<section class="panel panel-primary table-dynamic">
						<div class="panel-heading"><strong><span class="glyphicon glyphicon-th" style="margin-right: 8px;"></span>Overtime Request</strong></div>
							<div class="panel-body">	
								<form name="myForm" class="form-horizontal form-validation" novalidate>
									<div class="form-group">
										<div class="col-sm-2">
											<label>Name</label><span class="space space-sm"></span><label style ="color:red">*</label>
										</div>
										<div class="col-sm-2">
											<input type="text" name="over" class="form-control" data-ng-model="formData.name_over" required/>
												<span style="color:red" ng-show="myForm.over.$dirty && myForm.over.$invalid">
													<span ng-show="myForm.over.$error.required">Name is required.</span>
												</span>			
										</div>
									</div>
									<div class="form-group">
										<div class="col-sm-2">
											<label>Request Type</label>
										</div>
										<div class="col-sm-2">
											<select class="form-control"  ng-model="formData.request_type">
												<option value="{{job.id}}"  ng-repeat="job in jobs" ng-selected="{{formData.cut_off == job.title}}">{{job.title}}</option>
											</select>	
										</div>
									</div>
									<div class="form-group">
										<fieldset>
											<div class="col-sm-2">
												<label> Date Start</label>
											</div>
											<div class="col-sm-2">
												 <input type="date" class="form-control" ng-change="change()" ng-model="formData.date_start"
														placeholder="yyyy-mm-dd" min="1950-01-01" max="2020-12-30" />												
											</div>
											<div class="col-sm-1">
												<label>Compensation With</label>
											</div>
											<div class="col-sm-2">												
												<label class="ui-radio"><input name="local" type="radio" value="local" ng-model="formData.local_it" ><span>Pay</span></label>
												<label class="ui-radio"><input name="local" type="radio" value="expat" ng-model="formData.local_it" ><span>Overtime Day Off</span></label>
											</div>
										</fieldset>
									</div>
									<div class="form-group">
										<fieldset>
											<div class="col-sm-2">
												<label for="">Schedule Work Hours</label>
											</div>
											<div class="col-sm-2">
												 <input type="text" name="name" class="form-control" data-ng-model="formData.work_hours"/>												
											</div>
										</fieldset>
									</div>
									<div class="form-group">
										<fieldset>
											<div class="col-sm-2">
												<label for="">Overtime Needed From :</label>
											</div>
											<div class="col-sm-1">
												<input type="text" class="form-control" dn-timepicker ng-model="from" step="15m" time-format="HH:mm"/>
											</div>
											<div class="col-sm-1">
												<label >To </label>
											</div>
											<div class="col-sm-1">
												<input type="text" class="form-control" dn-timepicker ng-model="from" step="15m" time-format="HH:mm"/>
											</div>
											<div class="col-sm-2">
												<label for="">Total Overtime not to exceed :</label>
											</div>
											<div class="col-sm-1">
												<input type="text" class="form-control"/>
											</div>
											<div class="col-sm-1">
												<label for="">hours</label>
											</div>
										</fieldset>
									</div>
									<hr>
									<div class="form-group">
										<fieldset>
											<div class="col-sm-3">
												<label style ="color:red">*</label><span class="space space-xs"></span><label><small>Required field</small></label>
											</div>										
										</fieldset>
									</div>
								</form>
							</div>
					</section>
					
					<!-- #########################    TABLE COMMENT OVERTIME  ############################################################  -->
					
					<section class="panel panel-primary table-dynamic">
							<div class="panel-body">	
								<form name="myForm" class="form-horizontal form-validation">
									<div class="form-group">
										<div class="col-md-3">
											<label>Comments for Consideration</label>
										</div>
									</div>
									<div class="form-group">
										<div class="col-md-12">
											<textarea class="form-control" rows="4" cols="40" ng-model="formData.text_area"></textarea>
										</div>
									</div>
									<hr>
									<div class="form-group">										
										<div class="col-sm-6">
											<form>
												<button type="submit" class="btn btn-success"  ng-click="save()">Save</button>
												<span class="space space-sm"></span>
												<button type="submit" class="btn btn-danger"   ng-click="cancel()">Cancel</button>
											</form>
										</div>
									</div>
								</form>
							</div>
					</section>
					
					
					
					
					
					<!-- #########################    TABLE UNDERTIME  ############################################################  -->
					
					<section class="panel panel-primary table-dynamic">
						<div class="panel-heading"><strong><span class="glyphicon glyphicon-th" style="margin-right: 8px;"></span>Undertime Request</strong></div>
							<div class="panel-body">	
								<form name="myForm" class="form-horizontal form-validation" novalidate>
									<div class="form-group">
										<div class="col-sm-2">
											<label>Name</label><span class="space space-sm"></span><label style ="color:red">*</label>
										</div>
										<div class="col-sm-2">
											<input type="text" name="name1" class="form-control" data-ng-model="formData.name" required/>
												<span style="color:red" ng-show="myForm.name1.$dirty && myForm.name1.$invalid">
													<span ng-show="myForm.name1.$error.required">Name is required.</span>
												</span>			
										</div>
									</div>
									<div class="form-group">
										<div class="col-sm-2">
											<label>Request Type</label>
										</div>
										<div class="col-sm-2">
											<select class="form-control"  ng-model="formData.request_type">
												<option value="{{job.id}}"  ng-repeat="job in jobs" ng-selected="{{formData.cut_off == job.title}}">{{job.title}}</option>
											</select>	
										</div>
									</div>
									<div class="form-group">
										<fieldset>
											<div class="col-sm-2">
												<label>Date Request</label>
											</div>
											<div class="col-sm-2">
												 <input type="date" class="form-control" ng-change="short()" ng-model="formData.date_start"
														placeholder="yyyy-mm-dd" min="1950-01-01" max="2020-12-30" />												
											</div>
										</fieldset>
									</div>
									<div class="form-group">
										<fieldset>
											<div class="col-sm-2">
												<label for="">Schedule Work Hours</label>
											</div>
											<div class="col-sm-2">
												 <input type="text" name="name" class="form-control" data-ng-model="formData.work_hours"/>												
											</div>
										</fieldset>
									</div>
									<div class="form-group">
										<fieldset>
											<div class="col-sm-2">
												<label for="">Request work end time</label>
											</div>
											<div class="col-sm-1">
												<input type="text" class="form-control" dn-timepicker ng-model="from" step="15m" time-format="HH:mm"/>
											</div>
											<div class="col-sm-1">
												<label >Short</label>
											</div>
											<div class="col-sm-1">
												<input type="text" class="form-control"/>
											</div>
										</fieldset>
									</div>
									<hr>
									<div class="form-group">
										<fieldset>
											<div class="col-sm-3">
												<label style ="color:red">*</label><span class="space space-xs"></span><label><small>Required field</small></label>
											</div>										
										</fieldset>
									</div>
								</form>
							</div>
					</section>
					
					
					<!-- #########################    TABLE UNDERTIME  ############################################################  -->
					
					<section class="panel panel-primary table-dynamic">
							<div class="panel-body">	
								<form name="myForm" class="form-horizontal form-validation">
									<div class="form-group">
										<div class="col-md-3">
											<label>Comments for Consideration</label>
										</div>
									</div>
									<div class="form-group">
										<div class="col-md-12">
											<textarea class="form-control" rows="4" cols="40" ng-model="formData.text_area"></textarea>
										</div>
									</div>
									<hr>
									<div class="form-group">										
										<div class="col-sm-6">
											<form>
												<button type="submit" class="btn btn-success"  ng-click="save()">Save</button>
												<span class="space space-sm"></span>
												<button type="submit" class="btn btn-danger"   ng-click="cancel()">Cancel</button>
											</form>
										</div>
									</div>
								</form>
							</div>
					</section>
			
		</div>