
		<div class="page page-leaveList" ng-controller="scheduleRequestListCtrl as reqlist">
		
				<section class="panel panel-primary table-dynamic">
					<div class="panel-heading"><strong><span class="glyphicon glyphicon-th" style="margin-right: 8px;"></span>Schedule Request List</strong></div>
						<div class="panel-body">	
							<form name="myForm" class="form-horizontal form-validation" novalidate>
								<div class="form-group">
									<div class="col-sm-2">
										<label>From</label>
									</div>
									<div class="col-sm-2">
										<input type="date" class="form-control" ng-model="reqlist.handler.form.from" placeholder="yyyy-MM-dd"/>	
									</div>
								</div>
								<div class="form-group">
									<div class="col-sm-2">
										<label>To</label>
									</div>
									<div class="col-sm-2">
										<input type="date" class="form-control" ng-model="reqlist.handler.form.to" placeholder="yyyy-mm-dd"/>	
									</div>
								</div>
								<div class="form-group">
									<div class="col-sm-2">
										<label>Show Request Status</label>
									</div>
									<div class="col-sm-10">
										<div>
											<label class="ui-checkbox">
												<input type="checkbox" ng-model="reqlist.handler.form.all" ng-true-value="1" ng-false-value="0" 
																	   ng-checked="reqlist.handler.form.all == 1"><span>All</span>
											</label>
											<label class="ui-checkbox">
												<input type="checkbox" ng-model="reqlist.handler.form.rejected" ng-true-value="1" ng-false-value="0" 
																	   ng-checked="reqlist.handler.form.rejected == 1"><span>Rejected</span>
											</label>
											<label class="ui-checkbox">
												<input type="checkbox" ng-model="reqlist.handler.form.canceled" ng-true-value="1" ng-false-value="0" 
																	   ng-checked="reqlist.handler.form.canceled == 1"><span>Canceled</span>
											</label>
											<label class="ui-checkbox">
												<input type="checkbox" ng-model="reqlist.handler.form.pending" ng-true-value="1" ng-false-value="0" 
																	   ng-checked="reqlist.handler.form.pending == 1"><span>Pending Approval</span>
											</label>
											<label class="ui-checkbox">
												<input type="checkbox" ng-model="reqlist.handler.form.schedule" ng-true-value="1" ng-false-value="0" 
																	   ng-checked="reqlist.handler.form.schedule == 1"><span>Schedule</span>
											</label>
											<label class="ui-checkbox">
												<input type="checkbox" ng-model="reqlist.handler.form.past" ng-true-value="1" ng-false-value="0" 
																	   ng-checked="reqlist.handler.form.past == 1"><span>Past</span>
											</label>
										</div>
									</div>
								</div>
								<div class="form-group">
									<div class="col-sm-2">
										<label>Include Past Employee</label>
									</div>
									<div class="col-sm-10">
										<div>
											<label class="ui-checkbox">
												<input type="checkbox" ng-model="reqlist.handler.form.include" ng-true-value="1" ng-false-value="0" 
																	   ng-checked="reqlist.handler.form.include == 1"><span></span>
											</label>
										</div>
									</div>
								</div>
								<div class="form-group">
									<div class="col-sm-2">
										<label>Employee</label>
									</div>
									<div class="col-sm-2">
										<input type="text" class="form-control" ng-model="reqlist.handler.form.employee"  placeholder="Type for Hints . .">	
									</div>
								</div>
								<div class="form-group">
									<div class="col-sm-2">
										<label>Department</label>
									</div>
									<div class="col-sm-2">
										<select class="form-control"  ng-model="reqlist.handler.form.depart">
											<option value="{{job.id}}"  ng-repeat="job in jobs">{{job.title}}</option>
										</select>	
									</div>
								</div>
								<div class="form-group">
									<div class="col-sm-2">
										<label>Request Type</label>
									</div>
									<div class="col-sm-2">
										<select class="form-control" ng-model="reqlist.handler.form.request">
											<option value="{{job.id}}"   ng-repeat="job in jobs">{{job.title}}</option>
										</select>
									</div>
								</div><hr>
								<div class="form-group">										
									<div class="col-sm-6">
										<form>
											<button type="submit" class="btn btn-success"  	ng-click="reqlist.handler.find()">Search</button>
											<span class="space space-sm"></span>
											<button type="submit" class="btn btn-danger"  	ng-click="reqlist.handler.reset()">Reset</button>
											<span class="space space-sm"></span>
											<button type="submit" class="btn btn-success"  	ng-click="reqlist.handler.exp()">Export to CSV</button>
										</form>
									</div>
								</div>
							</form>
						</div>
				</section>
							
				<section class="panel panel-primary table-dynamic">
					<div class="panel-body">
						<div class="table-filters">
							<div class="row">
								<div class="col-sm-4">
									<form>
										<input type="text"
											   placeholder="Search..."
											   class="form-control"
											   data-ng-model="reqlist.handler.search"
											   data-ng-model-options="{debounce:300}"
											   >
									</form>
								</div>
								<div class="col-sm-3 filter-result-info">
									<span>
										Showing {{reqlist.handler.paginated.length}}/{{reqlist.handler.maindata.length}} entries
									</span>              
								</div>
							</div>
						</div>
							
						<table class="table table-bordered table-striped table-responsive">
							<thead>
								<tr>
									<th ng-repeat='a in reqlist.handler.headers'  width='{{a.width}}'>
										<div class="th">
											{{a.name}}
											<span class="fa fa-angle-up"
												  data-ng-if="a.sort"
												  data-ng-click="reqlist.handler.setactiveheader(a,true) "
												  data-ng-class="{active: $index == reqlist.handler.activeheader.id && reqlist.handler.activeheader.order == true}">
											</span>
											<span class="fa fa-angle-down"
												  data-ng-if="a.sort"
												  data-ng-click=" reqlist.handler.setactiveheader(a,false) "
												  data-ng-class="{active: $index == reqlist.handler.activeheader.id && reqlist.handler.activeheader.order == false}">
											</span>
										</div>
									</th>
									<th colspan="3" class='text-center'>
										<div class="th">
											Action
										</div>
									</th>
								</tr>
							</thead>
							<tbody>
								<tr data-ng-repeat="a in reqlist.handler.getdata() | orderBy: reqlist.handler.activeheader.sort : reqlist.handler.activeheader.order track by [$index]">
									<td style="cursor:pointer" ng-click="reqlist.handler.openmodal('time',a)">{{a.dateRequest}}</td>
									<td style="cursor:pointer" ng-click="reqlist.handler.openmodal('time',a)">{{a.availment_date}}</td>
									<td style="cursor:pointer" ng-click="reqlist.handler.openmodal('time',a)">{{a.employee_name}}</td>
									<td style="cursor:pointer" ng-click="reqlist.handler.openmodal('time',a)">{{a.request_type}}</td>
									<td style="cursor:pointer" ng-click="reqlist.handler.openmodal('time',a)">{{a.status}}</td>
									<td width='1%'>
										<button class="btn btn-success" ng-click="reqlist.handler.openmodal('app',a)" tooltip-placement="top" tooltip="Approve">
											<span class="fa fa-check"></span>
										</button>
									</td>
									<td width='1%'>
										<button class="btn btn-danger" ng-click="reqlist.handler.openmodal('rej',a)" tooltip-placement="top" tooltip="Reject">
											<span class="fa fa-times" ></span>
										</button>
									</td>
								</tr>
							</tbody>
						</table>
						<footer class="table-footer">
							<div class="row">
								<div class="col-md-6 page-num-info">
									<span>
										Show 
										<select data-ng-model="reqlist.handler.numPerPage"
												data-ng-options="num for num in reqlist.handler.numPerPageOpt"
												data-ng-change="onNumPerPageChange()">
										</select> 
										entries per page
									</span>
								</div>
								<div class="col-md-6 text-right pagination-container">
									<pagination class="pagination-sm"
												ng-model="reqlist.handler.currentPage"
												total-items="reqlist.handler.filtered.length"
												max-size="4"
												ng-change="select(currentPage)"
												items-per-page="reqlist.handler.numPerPage"
												rotate="false"
												previous-text="&lsaquo;" next-text="&rsaquo;"
												boundary-links="true"></pagination>
								</div>
							</div>
						</footer>
					</div>
				</section>
							
					
				
				<!-- MODAL REJECT AND APPROVE -->
				<script type="text/ng-template" id="AppRejModal">
					<div class="modal-header">
						<h4><i style="margin-right: 8px;" ></i>{{AppRejModal.title}} Confirmation</h4>
					</div>
					<div class="modal-body">
							<form name="myForm"  class='form form-validation' data-ng-submit='AppRejModal.submit()'>	
								<fieldset>
									<div class="col-sm-12">
										<span>Are you sure want to {{AppRejModal.title | lowercase}} <b>{{AppRejModal.form.name}}</b> ?</span>
									</div>
								</fieldset>
							</form>
							<br>
						<div class="modal-footer">
							<button class='btn btn-gap-h btn-danger' type='submit' ng-click='AppRejModal.submit()'> Ok </button>
							<button class='btn btn-gap-h btn-success' ng-click='AppRejModal.close()'> Cancel </button>
						</div>
					</div>
				</script>
				
				
				<!-- ######################### MODAL TIME IN / TIME OUT ############################################################ -->
					<script type="text/ng-template" id="timeInOut">
							<div class="modal-header">
								<h4>Time-in / Time Out Request <span class="space space-sm"></span>
									<label>{{timeInOut.form.dateRequest}}</label>
										<span class="space space-sm"></span>
									<label>{{timeInOut.form.employee_name}}</label>
								</h4>
							</div>
							<div class="modal-body">
								<form name="myForm" class="form-horizontal form-validation">
										<div class="form-group">
											<div class="col-sm-3">
												<label>Request Type</label>
											</div>
											<div class="col-sm-3">
												<input type="text" class="form-control" data-ng-model="timeInOut.form.request"/>		
											</div>
											<div class="col-sm-2">
												<label>Current Status</label>
											</div>
											<div class="col-sm-3">
												<input type="text" class="form-control" data-ng-model="timeInOut.form.status"/>		
											</div>
										</div>
										<div class="form-group">
											<div class="col-sm-3">
												<label>Request Time/Date</label>
											</div>
											<div class="col-sm-3">
												<input type="text" class="form-control" data-ng-model="timeInOut.form.name_over"/>		
											</div>
											<div class="col-sm-2">
												<label>Request by</label>
											</div>
											<div class="col-sm-3">
												<input type="text" class="form-control" data-ng-model="timeInOut.form.name"/>		
											</div>
										</div>
										<div class="form-group">
											<div class="col-sm-3">
												<label>Current Schedule</label>
											</div>
											<div class="col-sm-3">
												<input type="text" class="form-control" data-ng-model="timeInOut.form.name_over"/>		
											</div>
										</div>
										<div class="form-group">
											<div class="col-sm-3">
											</div>
											<div class="col-sm-3">
												<p class="text-center"><label>Time In</label></p>
											</div>
											<div class="col-sm-3">
												<p class="text-center"><label>Time Out</label></p>
											</div>
										</div>
										<div class="form-group">
											<div class="col-sm-3">
												<label>Original</label>
											</div>
											<div class="col-sm-3">
												<input type="text" class="form-control" data-ng-model="timeInOut.form.name_over"/>	
											</div>
											<div class="col-sm-3">
												<input type="text" class="form-control" data-ng-model="timeInOut.form.name_over"/>	
											</div>
										</div>
										<div class="form-group">
											<div class="col-sm-3">
												<label>Request</label>
											</div>
											<div class="col-sm-3">
												<input type="text" class="form-control" data-ng-model="timeInOut.form.name_over"/>	
											</div>
											<div class="col-sm-3">
												<input type="text" class="form-control" data-ng-model="timeInOut.form.name_over"/>	
											</div>
										</div><br>
										<table class="table table-bordered table-striped table-responsive">
											<thead>
												<tr>
													<th><div class="text-center">
														Approval
													</div></th>
													<th><div class="text-center">
														Status
													</div></th>
													<th><div class="text-center">
														Date
													</div></th>
													<th><div class="text-center">
														Time
													</div></th>
													<th><div class="text-center">
														Approver
													</div></th>
												</tr>
											</thead>
											<tbody>
												<tr data-ng-repeat="store in timeInOut.currentPageStores">
													<td>{{store.approval}}</td>
													<td>{{store.staus}}</td>
													<td>{{store.date}}</td>
													<td>{{store.time}}</td>
													<td>{{store.approver}}</td>
												</tr>
											</tbody>
										</table>
										<div class="modal-footer">
											<button type="submit" class="btn btn-warning pull-left"  ng-click="timeInOut.back()">Back</button>
											<span class="space space-sm"></span>
											<button type="submit" class="btn btn-success"   ng-click="timeInOut.approve()">Approve</button>
											<span class="space space-sm"></span>
											<button type="submit" class="btn btn-danger"    ng-click="timeInOut.reject()">Reject</button>
										</div>
										<section class="panel panel-default">
											<div class="panel-heading"><label>Comments For Consideration</label>
												<div class="form-group">
													<div class="col-sm-12">
														<textarea class="form-control" rows="4" cols="40" ng-model="timeInOut.form.text_area"></textarea>
													</div>
												</div>
											</div>
										</section>
										<div class="form-group">
											<div class="col-sm-2">
												<button type="button" 
														class="btn btn-primary" 
														accept="image/jpg, image/png, image/gif, image/jpeg,"
														name="file"
														ngf-multiple="multiple"
														ngf-select ng-model="timeInOut.picFile" 	
												>Upload a Photo</button>
											</div>
											<div class="col-sm-3">
													<label ng-repeat="f in timeInOut.picFile" style="font-size:0.8em" ng-click="timeInOut.test()" >{{f.name}}</label>
											</div>
										</div>
								</form>
							</div>
							
					</script>
					
					
					
					
					
					<!-- ######################### MODAL CHANGE SHIFT ############################################################  -->
					<script type="text/ng-template" id="changeShift.html">
								<div class="modal-header">
									<h4>Change Shift Request<span class="space space-sm"></span><label>{{form.date}}</label><span class="space space-sm"></span><label>{{form.name}}</label></h4>
								</div>
								<div class="modal-body">
									<form name="myForm" class="form-horizontal form-validation" novalidate>
									<div class="form-group">
										<div class="col-sm-3">
											<label>Request Type</label>
										</div>
										<div class="col-sm-3">
											<input type="text" class="form-control" data-ng-model="form.request"/>		
										</div>
										<div class="col-sm-2">
											<label>Current Status</label>
										</div>
										<div class="col-sm-3">
											<input type="text" class="form-control" data-ng-model="form.status"/>		
										</div>
									</div>
									<div class="form-group">
										<div class="col-sm-3">
											<label>Request Time/Date</label>
										</div>
										<div class="col-sm-3">
											<input type="text" class="form-control" data-ng-model="form.name_over"/>		
										</div>
										<div class="col-sm-2">
											<label>Request by</label>
										</div>
										<div class="col-sm-3">
											<input type="text" class="form-control" data-ng-model="form.name"/>		
										</div>
									</div>
									<div class="form-group">
										<div class="col-sm-1">
										</div>
										<div class="col-sm-3">
											<p class="text-center"><label>Date</label></p>
										</div>
										<div class="col-sm-3">
											<p class="text-center"><label>Original</label></p>
										</div>
										<div class="col-sm-3">
											<p class="text-center"><label>New</label></p>
										</div>
									</div>
									<div class="form-group">
										<div class="col-sm-1">
										</div>
										<div class="col-sm-3">
											<input type="text" class="form-control" data-ng-model="form.name_over"/>	
										</div>
										<div class="col-sm-3">
											<input type="text" class="form-control" data-ng-model="form.name_over"/>	
										</div>
										<div class="col-sm-3">
											<input type="text" class="form-control" data-ng-model="form.name_over"/>	
										</div>
									</div>
									<table class="table table-bordered table-striped table-responsive">
										<thead>
											<tr>
												<th><div class="th">
													Approval
												</div></th>
												<th><div class="th">
													Status
												</div></th>
												<th><div class="th">
													Date
												</div></th>
												<th><div class="th">
													Time
												</div></th>
												<th><div class="th">
													Approver
												</div></th>
											</tr>
										</thead>
										<tbody>
											<tr data-ng-repeat="store in currentPageStores">
												<td ng-click="edit('lg',store)" style="cursor:pointer">{{store.name}}</td>
												<td ng-click="edit('lg',store)" style="cursor:pointer">{{store.date}}</td>
												<td ng-click="edit('lg',store)" style="cursor:pointer">{{store.repeat_annualy}}</td>
												<td ng-click="edit('lg',store)" style="cursor:pointer">{{store.date}}</td>
												<td ng-click="edit('lg',store)" style="cursor:pointer">{{store.repeat_annualy}}</td>
											</tr>
										</tbody>
									</table>
									<div class="form-group">
										<div class="col-sm-3">
											<label>Comments for Consideration</label>
										</div>
									</div>
									<div class="form-group">
										<div class="col-sm-12">
											<textarea class="form-control" rows="4" cols="40" ng-model="form.text_area"></textarea>
										</div>
									</div>
									<div class="form-group">
										<div class="col-sm-1">
											<button type="button" 
													class="btn btn-primary" 
													accept="image/jpg, image/png, image/gif, image/jpeg,"
													name="file"
													ngf-multiple="multiple"
													ngf-select ng-model="picFile" 	
											>Upload a Photo</button>
										</div>
										<div class="col-sm-3">
											<ul> 
												<li ng-repeat="f in picFile" style="font-size:0.8em" ng-click="test()" >{{f.name}}</li>
											</ul>
										</div>
									</div>
								</form>
								</div>
								<div class="modal-footer">
										<button type="submit" class="btn btn-warning pull-left"  ng-click="back()">Back</button>
										<span class="space space-sm"></span>
										<button type="submit" class="btn btn-success"   ng-click="cancel()">Approve</button>
										<span class="space space-sm"></span>
										<button type="submit" class="btn btn-danger"   ng-click="cancel()">Reject</button>
								</div>
					</script>
					
					
					
					
					
					<!-- ######################### MODAL OVERTIME ############################################################  -->
					<script type="text/ng-template" id="overtime.html">
								<div class="modal-header">
									<h4>Overtime Request<span class="space space-sm"></span><label>{{form.date}}</label><span class="space space-sm"></span><label>{{form.name}}</label></h4>
								</div>
								<div class="modal-body">
									<form name="myForm" class="form-horizontal form-validation" novalidate>
									<div class="form-group">
										<div class="col-sm-3">
											<label>Request Type</label>
										</div>
										<div class="col-sm-3">
											<input type="text" class="form-control" data-ng-model="form.request"/>		
										</div>
										<div class="col-sm-2">
											<label>Current Status</label>
										</div>
										<div class="col-sm-3">
											<input type="text" class="form-control" data-ng-model="form.status"/>		
										</div>
									</div>
									<div class="form-group">
										<div class="col-sm-3">
											<label>Request Time/Date</label>
										</div>
										<div class="col-sm-3">
											<input type="text" class="form-control" data-ng-model="form.name_over"/>		
										</div>
										<div class="col-sm-2">
											<label>Request by</label>
										</div>
										<div class="col-sm-3">
											<input type="text" class="form-control" data-ng-model="form.name"/>		
										</div>
									</div>
									<div class="form-group">
										<div class="col-sm-3">
											<label>Date Request</label>
										</div>
										<div class="col-sm-3">
											<input type="text" class="form-control" data-ng-model="form.name"/>		
										</div>
										<div class="col-sm-3">
											<label>Compensation with pay</label>
										</div>
									</div>
									<div class="form-group">
										<div class="col-sm-3">
											<label>Schedule</label>
										</div>
										<div class="col-sm-3">
											<input type="text" class="form-control" data-ng-model="form.name"/>		
										</div>
									</div>
									<div class="form-group">
										<div class="col-sm-3">
											<label>Overtime needed</label>
										</div>
										<div class="col-sm-3">
											<input type="text" class="form-control" data-ng-model="form.name"/>		
										</div>
									</div>
									<table class="table table-bordered table-striped table-responsive">
										<thead>
											<tr>
												<th><div class="th">
													Approval
												</div></th>
												<th><div class="th">
													Status
												</div></th>
												<th><div class="th">
													Date
												</div></th>
												<th><div class="th">
													Time
												</div></th>
												<th><div class="th">
													Approver
												</div></th>
											</tr>
										</thead>
										<tbody>
											<tr data-ng-repeat="store in currentPageStores">
												<td ng-click="edit('lg',store)" style="cursor:pointer">{{store.name}}</td>
												<td ng-click="edit('lg',store)" style="cursor:pointer">{{store.date}}</td>
												<td ng-click="edit('lg',store)" style="cursor:pointer">{{store.repeat_annualy}}</td>
												<td ng-click="edit('lg',store)" style="cursor:pointer">{{store.date}}</td>
												<td ng-click="edit('lg',store)" style="cursor:pointer">{{store.repeat_annualy}}</td>
											</tr>
										</tbody>
									</table>
									<div class="form-group">
										<div class="col-sm-3">
											<label>Comments for Consideration</label>
										</div>
									</div>
									<div class="form-group">
										<div class="col-sm-12">
											<textarea class="form-control" rows="4" cols="40" ng-model="form.text_area"></textarea>
										</div>
									</div>
									<div class="form-group">
										<div class="col-sm-1">
											<button type="button" 
													class="btn btn-primary" 
													accept="image/jpg, image/png, image/gif, image/jpeg,"
													name="file"
													ngf-multiple="multiple"
													ngf-select ng-model="picFile" 	
											>Upload a Photo</button>
										</div>
										<div class="col-sm-3">
											<ul> 
												<li ng-repeat="f in picFile" style="font-size:0.8em" ng-click="test()" >{{f.name}}</li>
											</ul>
										</div>
									</div>
								</form>
								</div>
								<div class="modal-footer">
										<button type="submit" class="btn btn-warning pull-left"  ng-click="back()">Back</button>
										<span class="space space-sm"></span>
										<button type="submit" class="btn btn-success"   ng-click="cancel()">Approve</button>
										<span class="space space-sm"></span>
										<button type="submit" class="btn btn-danger"   ng-click="cancel()">Reject</button>
								</div>
					</script>
					
					
					
					
					
					<!-- ######################### MODAL UNDERTIME ############################################################  -->
					<script type="text/ng-template" id="undertime.html">
								<div class="modal-header">
									<h4>Undertime Request<span class="space space-sm"></span><label>{{form.date}}</label><span class="space space-sm"></span><label>{{form.name}}</label></h4>
								</div>
								<div class="modal-body">
									<form name="myForm" class="form-horizontal form-validation" novalidate>
									<div class="form-group">
										<div class="col-sm-3">
											<label>Request Type</label>
										</div>
										<div class="col-sm-3">
											<input type="text" class="form-control" data-ng-model="form.request"/>		
										</div>
										<div class="col-sm-2">
											<label>Current Status</label>
										</div>
										<div class="col-sm-3">
											<input type="text" class="form-control" data-ng-model="form.status"/>		
										</div>
									</div>
									<div class="form-group">
										<div class="col-sm-3">
											<label>Request Time/Date</label>
										</div>
										<div class="col-sm-3">
											<input type="text" class="form-control" data-ng-model="form.name_over"/>		
										</div>
										<div class="col-sm-2">
											<label>Request by</label>
										</div>
										<div class="col-sm-3">
											<input type="text" class="form-control" data-ng-model="form.name"/>		
										</div>
									</div>
									<div class="form-group">
										<div class="col-sm-3">
											<label>Date Request</label>
										</div>
										<div class="col-sm-3">
											<input type="text" class="form-control" data-ng-model="form.name"/>		
										</div>
									</div>
									<div class="form-group">
										<div class="col-sm-3">
											<label>Schedule Work hours</label>
										</div>
										<div class="col-sm-3">
											<input type="text" class="form-control" data-ng-model="form.name"/>		
										</div>
										<div class="col-sm-2">
											<label>with duration</label>
										</div>
										<div class="col-sm-2">
											<input type="text" class="form-control" data-ng-model="form.duration"/>		
										</div>
										<div class="col-sm-1">
											<label>hours</label>
										</div>
									</div>
									<div class="form-group">
										<div class="col-sm-3">
											<label>Request work end time</label>
										</div>
										<div class="col-sm-3">
											<input type="text" class="form-control" data-ng-model="form.name"/>		
										</div>
										<div class="col-sm-2">
											<label>duration short for</label>
										</div>
										<div class="col-sm-2">
											<input type="text" class="form-control" data-ng-model="form.duration"/>		
										</div>
										<div class="col-sm-1">
											<label>hours</label>
										</div>
									</div>
									<table class="table table-bordered table-striped table-responsive">
										<thead>
											<tr>
												<th><div class="th">
													Approval
												</div></th>
												<th><div class="th">
													Status
												</div></th>
												<th><div class="th">
													Date
												</div></th>
												<th><div class="th">
													Time
												</div></th>
												<th><div class="th">
													Approver
												</div></th>
											</tr>
										</thead>
										<tbody>
											<tr data-ng-repeat="store in currentPageStores">
												<td ng-click="edit('lg',store)" style="cursor:pointer">{{store.name}}</td>
												<td ng-click="edit('lg',store)" style="cursor:pointer">{{store.date}}</td>
												<td ng-click="edit('lg',store)" style="cursor:pointer">{{store.repeat_annualy}}</td>
												<td ng-click="edit('lg',store)" style="cursor:pointer">{{store.date}}</td>
												<td ng-click="edit('lg',store)" style="cursor:pointer">{{store.repeat_annualy}}</td>
											</tr>
										</tbody>
									</table>
									<div class="form-group">
										<div class="col-sm-3">
											<label>Comments for Consideration</label>
										</div>
									</div>
									<div class="form-group">
										<div class="col-sm-12">
											<textarea class="form-control" rows="4" cols="40" ng-model="form.text_area"></textarea>
										</div>
									</div>
									<div class="form-group">
										<div class="col-sm-1">
											<button type="button" 
													class="btn btn-primary" 
													accept="image/jpg, image/png, image/gif, image/jpeg,"
													name="file"
													ngf-multiple="multiple"
													ngf-select ng-model="picFile" 	
											>Upload a Photo</button>
										</div>
										<div class="col-sm-3">
											<ul> 
												<li ng-repeat="f in picFile" style="font-size:0.8em" ng-click="test()" >{{f.name}}</li>
											</ul>
										</div>
									</div>
								</form>
								</div>
								<div class="modal-footer">
										<button type="submit" class="btn btn-warning pull-left"  ng-click="back()">Back</button>
										<span class="space space-sm"></span>
										<button type="submit" class="btn btn-success"   ng-click="cancel()">Approve</button>
										<span class="space space-sm"></span>
										<button type="submit" class="btn btn-danger"   ng-click="cancel()">Reject</button>
								</div>
					</script>
					
					
					
					
					<!-- ######################### LATE/ EARLY OUT EXEMPTION ############################################################  -->
					<script type="text/ng-template" id="lateEarly.html">
								<div class="modal-header">
									<h4> Late / Early Out Exemption Request<span class="space space-sm"></span><label>{{form.date}}</label><span class="space space-sm"></span><label>{{form.name}}</label></h4>
								</div>
								<div class="modal-body">
									<form name="myForm" class="form-horizontal form-validation" novalidate>
									<div class="form-group">
										<div class="col-sm-3">
											<label>Request Type</label>
										</div>
										<div class="col-sm-3">
											<input type="text" class="form-control" data-ng-model="form.request"/>		
										</div>
										<div class="col-sm-2">
											<label>Current Status</label>
										</div>
										<div class="col-sm-3">
											<input type="text" class="form-control" data-ng-model="form.status"/>		
										</div>
									</div>
									<div class="form-group">
										<div class="col-sm-3">
											<label>Request Time/Date</label>
										</div>
										<div class="col-sm-3">
											<input type="text" class="form-control" data-ng-model="form.name_over"/>		
										</div>
										<div class="col-sm-2">
											<label>Request by</label>
										</div>
										<div class="col-sm-3">
											<input type="text" class="form-control" data-ng-model="form.name"/>		
										</div>
									</div>
									<div class="form-group">
										<div class="col-sm-3">
											<label>Current Schedule</label>
										</div>
										<div class="col-sm-3">
											<input type="text" class="form-control" data-ng-model="form.name"/>		
										</div>
									</div>
									<div class="form-group">
										<div class="col-sm-3">
											<label>Record Time-In</label>
										</div>
										<div class="col-sm-3">
											<input type="text" class="form-control" data-ng-model="form.name"/>
										</div>
									</div>
									<div class="form-group">
										<div class="col-sm-3">
											<label>Late for</label>
										</div>
										<div class="col-sm-3">
											<input type="text" class="form-control" data-ng-model="form.name"/>
										</div>
									</div>
									<table class="table table-bordered table-striped table-responsive">
										<thead>
											<tr>
												<th><div class="th">
													Approval
												</div></th>
												<th><div class="th">
													Status
												</div></th>
												<th><div class="th">
													Date
												</div></th>
												<th><div class="th">
													Time
												</div></th>
												<th><div class="th">
													Approver
												</div></th>
											</tr>
										</thead>
										<tbody>
											<tr data-ng-repeat="store in currentPageStores">
												<td ng-click="edit('lg',store)" style="cursor:pointer">{{store.name}}</td>
												<td ng-click="edit('lg',store)" style="cursor:pointer">{{store.date}}</td>
												<td ng-click="edit('lg',store)" style="cursor:pointer">{{store.repeat_annualy}}</td>
												<td ng-click="edit('lg',store)" style="cursor:pointer">{{store.date}}</td>
												<td ng-click="edit('lg',store)" style="cursor:pointer">{{store.repeat_annualy}}</td>
											</tr>
										</tbody>
									</table>
									<div class="form-group">
										<div class="col-sm-3">
											<label>Comments for Consideration</label>
										</div>
									</div>
									<div class="form-group">
										<div class="col-sm-12">
											<textarea class="form-control" rows="4" cols="40" ng-model="form.text_area"></textarea>
										</div>
									</div>
									<div class="form-group">
										<div class="col-sm-1">
											<button type="button" 
													class="btn btn-primary" 
													accept="image/jpg, image/png, image/gif, image/jpeg,"
													name="file"
													ngf-multiple="multiple"
													ngf-select ng-model="picFile" 	
											>Upload a Photo</button>
										</div>
										<div class="col-sm-3">
											<ul> 
												<li ng-repeat="f in picFile" style="font-size:0.8em" ng-click="test()" >{{f.name}}</li>
											</ul>
										</div>
									</div>
								</form>
								</div>
								<div class="modal-footer">
										<button type="submit" class="btn btn-warning pull-left"  ng-click="back()">Back</button>
										<span class="space space-sm"></span>
										<button type="submit" class="btn btn-success"   ng-click="cancel()">Approve</button>
										<span class="space space-sm"></span>
										<button type="submit" class="btn btn-danger"   ng-click="cancel()">Reject</button>
								</div>
					</script>
					
					
					
					<!-- ######################### TRAINING MODAL ############################################################  -->
					<script type="text/ng-template" id="trainingModal.html">
								<div class="modal-header">
									<h4>Training Request<span class="space space-sm"></span><label>{{form.date}}</label><span class="space space-sm"></span><label>{{form.name}}</label></h4>
								</div>
								<div class="modal-body">
									<form name="myForm" class="form-horizontal form-validation" novalidate>
									<div class="form-group">
										<div class="col-sm-3">
											<label>Request Type</label>
										</div>
										<div class="col-sm-3">
											<input type="text" class="form-control" data-ng-model="form.request"/>		
										</div>
										<div class="col-sm-2">
											<label>Current Status</label>
										</div>
										<div class="col-sm-3">
											<input type="text" class="form-control" data-ng-model="form.status"/>		
										</div>
									</div>
									<div class="form-group">
										<div class="col-sm-3">
											<label>Request Time/Date</label>
										</div>
										<div class="col-sm-3">
											<input type="text" class="form-control" data-ng-model="form.name_over"/>		
										</div>
										<div class="col-sm-2">
											<label>Request by</label>
										</div>
										<div class="col-sm-3">
											<input type="text" class="form-control" data-ng-model="form.name"/>		
										</div>
									</div>
									<div class="form-group">
										<div class="col-sm-3">
											<label>Requested Time/Date</label>
										</div>
										<div class="col-sm-3">
											<input type="text" class="form-control" data-ng-model="form.name"/>		
										</div>
									</div>
									<table class="table table-bordered table-striped table-responsive">
										<thead>
											<tr>
												<th><div class="th">
													Approval
												</div></th>
												<th><div class="th">
													Status
												</div></th>
												<th><div class="th">
													Date
												</div></th>
												<th><div class="th">
													Time
												</div></th>
												<th><div class="th">
													Approver
												</div></th>
											</tr>
										</thead>
										<tbody>
											<tr data-ng-repeat="store in currentPageStores">
												<td ng-click="edit('lg',store)" style="cursor:pointer">{{store.name}}</td>
												<td ng-click="edit('lg',store)" style="cursor:pointer">{{store.date}}</td>
												<td ng-click="edit('lg',store)" style="cursor:pointer">{{store.repeat_annualy}}</td>
												<td ng-click="edit('lg',store)" style="cursor:pointer">{{store.date}}</td>
												<td ng-click="edit('lg',store)" style="cursor:pointer">{{store.repeat_annualy}}</td>
											</tr>
										</tbody>
									</table>
									<div class="form-group">
										<div class="col-sm-3">
											<label>Comments for Consideration</label>
										</div>
									</div>
									<div class="form-group">
										<div class="col-sm-12">
											<textarea class="form-control" rows="4" cols="40" ng-model="form.text_area"></textarea>
										</div>
									</div>
									<div class="form-group">
										<div class="col-sm-1">
											<button type="button" 
													class="btn btn-primary" 
													accept="image/jpg, image/png, image/gif, image/jpeg,"
													name="file"
													ngf-multiple="multiple"
													ngf-select ng-model="picFile" 	
											>Upload a Photo</button>
										</div>
										<div class="col-sm-3">
											<ul> 
												<li ng-repeat="f in picFile" style="font-size:0.8em" ng-click="test()" >{{f.name}}</li>
											</ul>
										</div>
									</div>
								</form>
								</div>
								<div class="modal-footer">
										<button type="submit" class="btn btn-warning pull-left"  ng-click="back()">Back</button>
										<span class="space space-sm"></span>
										<button type="submit" class="btn btn-success"   ng-click="cancel()">Approve</button>
										<span class="space space-sm"></span>
										<button type="submit" class="btn btn-danger"   ng-click="cancel()">Reject</button>
								</div>
					</script>
					
					
					
					<!-- ######################### SWAP SHIFT MODAL ############################################################  -->
					<script type="text/ng-template" id="swapShift.html">
								<div class="modal-header">
									<h4>Swap Shift Request<span class="space space-sm"></span><label>{{form.date}}</label><span class="space space-sm"></span><label>{{form.name}}</label></h4>
								</div>
								<div class="modal-body">
									<form name="myForm" class="form-horizontal form-validation" novalidate>
									<div class="form-group">
										<div class="col-sm-3">
											<label>Request Type</label>
										</div>
										<div class="col-sm-3">
											<input type="text" class="form-control" data-ng-model="form.request"/>		
										</div>
										<div class="col-sm-2">
											<label>Current Status</label>
										</div>
										<div class="col-sm-3">
											<input type="text" class="form-control" data-ng-model="form.status"/>		
										</div>
									</div>
									<div class="form-group">
										<div class="col-sm-3">
											<label>Request Time/Date</label>
										</div>
										<div class="col-sm-3">
											<input type="text" class="form-control" data-ng-model="form.name_over"/>		
										</div>
									</div>
									<div class="form-group">
										<div class="col-sm-3">
											<label>Request by</label>
										</div>
										<div class="col-sm-3">
											<input type="text" class="form-control" data-ng-model="form.name"/>		
										</div>
									</div>
									<div class="form-group">
										<div class="col-sm-3">
											<label>Swap with</label>
										</div>
										<div class="col-sm-3">
											<input type="text" class="form-control" data-ng-model="form.name"/>		
										</div>
									</div>
									<div class="form-group">
										<div class="col-sm-1">
										</div>
										<div class="col-sm-2">
											<p class="text-center"><label>Date</label></p>
										</div>
										<div class="col-sm-3">
											<p class="text-center"><label>Cris</label></p>
										</div>
										<div class="col-sm-2">
											<p class="text-center"><label>Swaft with</label></p>
										</div>
										<div class="col-sm-3">
											<p class="text-center"><label>Legan</label></p>
										</div>
									</div>
									<div class="form-group">
										<div class="col-sm-1">
										</div>
										<div class="col-sm-2">
											<input type="text" class="form-control" data-ng-model="form.date"/>	
										</div>
										<div class="col-sm-3">
											<input type="text" class="form-control" data-ng-model="form.s1"/>		
										</div>
										<div class="col-sm-2">
											<p class="text-center"><label>|</label></p>
										</div>
										<div class="col-sm-3">
											<input type="text" class="form-control" data-ng-model="form.s2"/>		
										</div>
									</div>
									<div class="form-group">
										<div class="col-sm-1">
										</div>
										<div class="col-sm-2">
											<input type="text" class="form-control" data-ng-model="form.date"/>	
										</div>
										<div class="col-sm-3">
											<input type="text" class="form-control" data-ng-model="form.s1"/>		
										</div>
										<div class="col-sm-2">
											<p class="text-center"><label>|</label></p>
										</div>
										<div class="col-sm-3">
											<input type="text" class="form-control" data-ng-model="form.s2"/>		
										</div>
									</div>
									<table class="table table-bordered table-striped table-responsive">
										<thead>
											<tr>
												<th><div class="th">
													Approval
												</div></th>
												<th><div class="th">
													Status
												</div></th>
												<th><div class="th">
													Date
												</div></th>
												<th><div class="th">
													Time
												</div></th>
												<th><div class="th">
													Approver
												</div></th>
											</tr>
										</thead>
										<tbody>
											<tr data-ng-repeat="store in currentPageStores">
												<td ng-click="edit('lg',store)" style="cursor:pointer">{{store.name}}</td>
												<td ng-click="edit('lg',store)" style="cursor:pointer">{{store.date}}</td>
												<td ng-click="edit('lg',store)" style="cursor:pointer">{{store.repeat_annualy}}</td>
												<td ng-click="edit('lg',store)" style="cursor:pointer">{{store.date}}</td>
												<td ng-click="edit('lg',store)" style="cursor:pointer">{{store.repeat_annualy}}</td>
											</tr>
										</tbody>
									</table>
									<div class="form-group">
										<div class="col-sm-3">
											<label>Comments for Consideration</label>
										</div>
									</div>
									<div class="form-group">
										<div class="col-sm-12">
											<textarea class="form-control" rows="4" cols="40" ng-model="form.text_area"></textarea>
										</div>
									</div>
									<div class="form-group">
										<div class="col-sm-1">
											<button type="button" 
													class="btn btn-primary" 
													accept="image/jpg, image/png, image/gif, image/jpeg,"
													name="file"
													ngf-multiple="multiple"
													ngf-select ng-model="picFile" 	
											>Upload a Photo</button>
										</div>
										<div class="col-sm-3">
											<ul> 
												<li ng-repeat="f in picFile" style="font-size:0.8em" ng-click="test()" >{{f.name}}</li>
											</ul>
										</div>
									</div>
								</form>
								</div>
								<div class="modal-footer">
										<button type="submit" class="btn btn-warning pull-left"  ng-click="back()">Back</button>
										<span class="space space-sm"></span>
										<button type="submit" class="btn btn-success"   ng-click="cancel()">Approve</button>
										<span class="space space-sm"></span>
										<button type="submit" class="btn btn-danger"   ng-click="cancel()">Reject</button>
								</div>
					</script>
				
		</div>