
	<div class="page page-table" ng-controller="unApprovedController as unApp">

		<section class="panel panel-primary table-dynamic">
			<div class="panel-heading"><strong><span class="glyphicon glyphicon-th" style="margin-right: 8px;"></span>Un-Approved Schedule List</strong></div>
				<div class="panel-body">	
					<form name="myForm" class="form-horizontal form-validation">
						<div class="form-group">
							<div class="col-sm-1">
								<label>Department</label>
							</div>
							<div class="col-sm-2">
								<select class="form-control"  ng-model="unApp.handler.form.department">
									<option value="{{job.id}}"  ng-repeat="job in jobs" ng-selected="{{formData.job == job.title}}">{{job.title}}</option>
								</select>	
							</div>
						</div>
						<div class="form-group">
							<div class="col-sm-1">
								<label>Month</label>
							</div>
							<div class="col-sm-2">
								<select class="form-control"  ng-model="unApp.handler.form.month">
									<option value="{{job.id}}"  ng-repeat="job in jobs" ng-selected="{{formData.job == job.title}}">{{job.title}}</option>
								</select>	
							</div>
						</div>
						<div class="form-group">
							<div class="col-sm-1">
								<label>Year</label>
							</div>
							<div class="col-sm-2">
								<select class="form-control"  ng-model="unApp.handler.form.year">
									<option value="{{job.id}}"  ng-repeat="job in jobs" ng-selected="{{formData.job == job.title}}">{{job.title}}</option>
								</select>	
							</div>
						</div><hr>
						<div class="form-group">										
							<div class="col-sm-6">
								<form>
									<button type="submit" class="btn btn-success"  ng-click="unApp.handler.search()">Search</button>
								</form>
							</div>
						</div>
					</form>
				</div>
		</section>
					
		<section class="panel panel-primary table-dynamic">
					<div class="table-filters">
						<div class="row">
							<div class="col-md-4">
								<form>
									<input type="text"
										   placeholder="Search..."
										   class="form-control"
										   data-ng-model="unApp.handler.search"
										   data-ng-model-options="{debounce:300}"
										   >
								</form>
							</div>
							<div class="col-sm-3 filter-result-info">
								<span>
									Showing {{unApp.handler.paginated.length}}/{{unApp.handler.maindata.length}} entries
								</span>              
							</div>
						</div>
					</div>
					
					<table class="table table-bordered table-striped table-responsive">
						<thead>
							<tr>
								<th ng-repeat='a in unApp.handler.headers'  width='{{a.width}}'><div class="th">
									{{a.name}}
									<span class="fa fa-angle-up"
										  data-ng-if="a.sort"
										  data-ng-click="unApp.handler.setactiveheader(a,true) "
										  data-ng-class="{active: $index == unApp.handler.activeheader.id && unApp.handler.activeheader.order == true}"></span>
									<span class="fa fa-angle-down"
										  data-ng-if="a.sort"
										  data-ng-click=" unApp.handler.setactiveheader(a,false) "
										  data-ng-class="{active: $index == unApp.handler.activeheader.id && unApp.handler.activeheader.order == false}"></span>
								</div></th>
							</tr>
						</thead>
						<tbody>
							<!-- <tr data-ng-repeat="a in unApp.handler.getdata() | orderBy: unApp.handler.activeheader.sort : unApp.handler.activeheader.order track by [$index]">
								<td ng-click="unApp.handler.openmodal('edit',a)" style="cursor:pointer">{{a.name}}</td>
							</tr> -->
						</tbody>
					</table>
					<footer class="table-footer">
						<div class="row">
							
							<div class="col-md-6 page-num-info">
								<span>
									Show 
									<select data-ng-model="unApp.handler.numPerPage"
											data-ng-options="num for num in unApp.handler.numPerPageOpt"
											data-ng-change="onNumPerPageChange()">
									</select> 
									entries per page
								</span>
							</div>
							<div class="col-md-6 text-right pagination-container">
								<pagination class="pagination-sm"
											ng-model="unApp.handler.currentPage"
											total-items="unApp.handler.filtered.length"
											max-size="4"
											ng-change="select(currentPage)"
											items-per-page="unApp.handler.numPerPage"
											rotate="false"
											previous-text="&lsaquo;" next-text="&rsaquo;"
											boundary-links="true"></pagination>
							</div>
						</div>
					</footer>
		</section>
		
		<!-- SCRIPT MODAL EDIT WORKSHIFT -->
		<script type="text/ng-template" id="unAppModal">
			<div class="modal-header">
				<h4><i class="fa fa-pencil-square-o" style="margin-right: 8px;" ></i>Change Workshift</h4>
			</div>
			<div class="modal-body">
					<form name="myForm"  class="form form-validation" ng-submit="myForm.$valid && submit(formData)">	
						<fieldset>
							<div class="col-md-3">
								<label for="">Name</label>
							</div>
							<div class="col-md-7">
								<input type="text" name="name" class="form-control" ng-model="unAppModal.form.name" required/>
							</div>
						</fieldset>
						<br>
						<fieldset>
							<div class="col-md-3">
								<label for="">Date</label><span class="space space-sm"></span><label style ="color:red">*</label>
							</div>
							<div class="col-md-7">
								<input type="date" name="name" class="form-control" ng-model="unAppModal.form.date" required/>
							</div>
						</fieldset>
						<br>
						<fieldset>
							<div class="col-md-3">
								<label for="">Shift Code</label><span class="space space-sm"></span><label style ="color:red">*</label>
							</div>
							<div class="col-md-7">
								<select class="form-control"  ng-model="unAppModal.form.shift_code" required>
									<option value="{{job.id}}"  ng-repeat="job in jobs" ng-selected="{{formData.job == job.title}}">{{job.title}}</option>
								</select>	
							</div>
						</fieldset>
						<br>
						<fieldset>
							<div class="col-sm-3">
								</span><label style ="color:red">*</label><span class="space space-xs"><label><small>Required field</small></label>
							</div>										
						</fieldset>	
					</form>	
					<div class="modal-footer">
						<button class='btn btn-success' type='submit'> Save </button>
						<button class='btn btn-danger' ng-click='unAppModal.close()'> cancel </button>
					</div>
			</div>
		</script>
		
		
		<!-- <script type="text/ng-template" id="employeeModal">
			<form name="manufacturerModalForm" class='form form-validation' data-ng-submit='employeeModal.submit()'>
				<div class="custommodalheader">
					<h4>Change Workshift </h4>
				</div>
				<div class="modal-body">
					<div class='row'>
						<div class='form-group'>
							<label class="col-sm-3 control-label"> Name 
								<span class='color-danger'> * </span>
							</label>
							<div class="col-sm-7">
								<input type="text" class="form-control"  placeholder="Name" data-ng-model='employeeModal.form.name' required>
							</div>
						</div>
					</div>
				</div>
				<div class='form-group'>
					<label class="col-sm-3"><small>Required field</small>
						<span class='color-danger'> * </span>
					</label>
				</div><br>
				<div class="modal-footer">
					<button class='btn btn-success' type='submit'> Save </button>
					<button class='btn btn-danger' ng-click='employeeModal.close()'> cancel </button>
				</div>
			</form>
		</script> -->
		
		
		
		