
	<div class="page page-department" ng-controller="departmentCtrl as depart">
			<section class="panel panel-primary table-dynamic">
				<div class="panel-heading">
					<strong><span class="glyphicon glyphicon-th" style="margin-right: 8px;"></span>Department</strong>
				</div>
				<div class="panel-body">
					<div class="from-group">
						<div class="row">
							<div class="col-sm-4">
								<form>
									<button class="btn btn-gap-v btn-success"  
											ng-click="depart.handler.openmodal('add')"
											ng-show="depart.handler.button('create')">
											Add
									</button>
									<span class="space space-sm"></span>
									<button type="button" 
											class="btn btn-gap-v btn-danger"   
											ng-click="depart.handler.deldata(depart.handler.check)"
											ng-show="depart.handler.button('delete')">
											Delete
									</button>
								</form>
							</div>
						</div>
					</div><br>
					<div class="form-group">
						<div class="row">
							<div class="col-sm-4">
								<form>
									<input type="text"
										   placeholder="Search..."
										   class="form-control"
										   data-ng-model="depart.handler.search"
										   data-ng-model-options="{debounce:300}"
										   >
								</form>
							</div>
							<div class="col-sm-3 filter-result-info">
								<span>
									Showing {{depart.handler.paginated.length}}/{{depart.handler.maindata.length}} entries
								</span>              
							</div>
						</div>
					</div><br>
					<table class="table table-bordered table-striped table-responsive">
						<thead>
							<tr>
								<th><div class="th" >
								</div></th>
								<th ng-repeat='a in depart.handler.headers' width='{{a.width}}'>
									<div class="th">
										{{a.name}}
										<span class="fa fa-angle-up"
											  data-ng-if="a.sort"
											  data-ng-click="depart.handler.setactiveheader(a,true)"
											  data-ng-class="{active: $index == depart.handler.activeheader.id && depart.handler.activeheader.order == true}">
										</span>
										<span class="fa fa-angle-down"
											  data-ng-if="a.sort"
											  data-ng-click="depart.handler.setactiveheader(a,false)"
											  data-ng-class="{active: $index == depart.handler.activeheader.id && depart.handler.activeheader.order == false}">
										</span>
									</div>
								</th>
							</tr>
						</thead>
						<tbody>
							<tr data-ng-repeat="a in depart.handler.getdata() | orderBy: depart.handler.activeheader.sort : depart.handler.activeheader.order track by [$index]">
								<td><input type="checkbox" checklist-model="depart.handler.check" checklist-value="a.id"/></td>
								<td style="cursor:pointer" ng-click="depart.handler.openmodal('edit',a)"><span>{{a.name}}</span></td>
								<td style="cursor:pointer" ng-click="depart.handler.openmodal('edit',a)"><span>{{a.parent}}</span></td>
							</tr>
						</tbody>
					</table>
					<footer class="table-footer">
						<div class="row">
							<div class="col-md-6 page-num-info">
								<span>
									Show 
									<select data-ng-model="depart.handler.numPerPage"
											data-ng-options="num for num in depart.handler.numPerPageOpt"
											data-ng-change="onNumPerPageChange()">
									</select> 
									entries per page
								</span>
							</div>
							<div class="col-md-6 text-right pagination-container">
								<pagination class="pagination-sm"
											ng-model="depart.handler.currentPage"
											total-items="depart.handler.filtered.length"
											max-size="4"
											ng-change="select(currentPage)"
											items-per-page="depart.handler.numPerPage"
											rotate="false"
											previous-text="&lsaquo;" next-text="&rsaquo;"
											boundary-links="true"></pagination>
							</div>
						</div>
					</footer>
				</div>
			</section>
	</div>			
					
	<script type="text/ng-template" id="modalDepartment">
		<div class="modal-header">
			<h4><i class="fa fa-save" style="margin-right: 8px;" ></i>Add Department</h4>
		</div>
		<div class="modal-body">
			<form name="myForm"  class="form form-validation" ng-submit="myForm.$valid && submit(formData)">	
				<div class='form-group'>	
					<fieldset>
						<div class="col-md-2">
							<label for="">Name</label><span class="space space-sm"></span><label style ="color:red">*</label>
						</div>
						<div class="col-md-8">
							<input 	type="text" 
									name="name" 
									class="form-control" 
									autocomplete="off"
									ng-model="modalDepartment.form.name" 
									required
							/>
							<span style="color:red" ng-show="myForm.name.$dirty && myForm.name.$invalid">
								<span ng-show="myForm.name.$error.required">Name is required.</span>
							</span>
						</div>
					</fieldset>
				</div>
				<fieldset>
					<div class="col-sm-3">
						</span><label style ="color:red">*</label><span class="space space-xs"><label><small>Required field</small></label>
					</div>										
				</fieldset>
			</form>	
			<div class="modal-footer">
				<button type="submit" class="btn btn-success" ng-disabled="myForm.$invalid"  ng-click="modalDepartment.save()">Save</button>
				<button class="btn btn-danger" ng-click="modalDepartment.close()">Cancel</button>
			</div>
		</div>
	</script>					
					
	<script type="text/ng-template" id="modalEditDepart">
		<div class="modal-header">
			<h4><i class="fa fa-pencil-square-o" style="margin-right: 8px;" ></i>Edit Department</h4>
		</div>
		<div class="modal-body">
			<form name="myForm"  class="form form-validation" ng-submit="myForm.$valid && submit(formData)">	
				<div class='form-group'>	
					<fieldset>
						<div class="col-md-2">
							<label>Name</label><span class="space space-sm"></span><label style ="color:red">*</label>
						</div>
						<div class="col-md-8">
							<input 	type="text" 
									name="name" 
									class="form-control"
									autocomplete="off"
									ng-model="modalEditDepart.form.name" 
									ng-disabled="!modalEditDepart.button" 
									required
							/>
							<span style="color:red" ng-show="myForm.name.$dirty && myForm.name.$invalid">
								<span ng-show="myForm.name.$error.required">Name is required.</span>
							</span>
						</div>
					</fieldset>
				</div>
				<fieldset>
					<div class="col-sm-3">
						</span><label style ="color:red">*</label><span class="space space-xs"><label><small>Required field</small></label>
					</div>										
				</fieldset>
			</form>	
			<div class="modal-footer" ng-show="modalEditDepart.handler.button('update')">
				<button type="submit" class="btn btn-success" ng-hide="modalEditDepart.button" ng-click="modalEditDepart.button=true;">Edit</button>
				<button type="submit" class="btn btn-success" ng-show="modalEditDepart.button" ng-disabled="myForm.$invalid" ng-click="modalEditDepart.save();">Save</button>
				<button class="btn btn-danger" ng-click="modalEditDepart.close()">Cancel</button>
			</div>
			<div class="modal-footer" ng-hide="modalEditDepart.handler.button('update')">
				<button class="btn btn-danger" ng-click="modalEditDepart.close()">Close</button>
			</div>
		</div>
	</script>
						
		