<div class="page page-structure" data-ng-controller="structureCtrl">
					
	<div class="row">
		<div class="col-sm-12">
			<section class="panel panel-primary">
				<div class="panel-heading"><strong><span class="glyphicon glyphicon-th" style="margin-right: 8px;"></span>Organization Structure </strong></div>
				<div class="panel-body">
					<div class="col-sm-8">
						<div class="col-sm-8">												
							<div ui-tree="options">
								<ol ui-tree-nodes ng-model="list">
									<li ng-repeat="item in list" data-nodrag data-nodrop ui-tree-node ng-include="'items_renderer.html'"></li>
								</ol>
							</div>
						</div>
					</div>
				</div>
			</section> 
		</div>
	</div>
								
	<script type="text/ng-template" id="items_renderer.html">
		<div class="angular-ui-tree-handle">
		<span>{{item.sub}}</span>
		</div>
	</script>
		
	<script type="text/ng-template" id="items_renderer.html">
		<div class = "angular-ui-tree-handle">
			<a class="btn btn-success btn-xs" data-nodrag ng-click="toggle(this)">
				<span class="glyphicon" ng-class="{'glyphicon-chevron-right': collapsed, 'glyphicon-chevron-down': !collapsed}">
				</span>
			</a>
			{{item.sub_unit}}
			<a  class="pull-right btn btn-danger btn-sm" 
				ng-click="openDelete('',item,index)"
				ng-hide="button('delete',item)"
				tooltip-placement="top" tooltip="Delete Unit" tooltip-append-to-body="true"
				style="margin-right: 8px;">
				<span class="glyphicon glyphicon-remove"></span>
			</a>
			<a  class="pull-right btn btn-success btn-sm" 
				ng-click="open('',item,item.sub_unit)"
				ng-hide="button('create',item)"
				tooltip-placement="top" tooltip="Add Unit" tooltip-append-to-body="true"
				style="margin-right: 8px;">
				<span class="glyphicon glyphicon-plus"></span>
			</a>
			<a  class="pull-right btn btn-primary btn-sm" 
				ng-click="edit('',item)"
				ng-show="hidebutton('update')"
				tooltip-placement="top" tooltip="Edit Unit" tooltip-append-to-body="true"
				style="margin-right: 8px;">
				<span class="fa fa-pencil"></span>
			</a>
			 
			<a  class="pull-right btn btn-success btn-sm" 
				tooltip-placement="top" tooltip="Total Unit" tooltip-append-to-body="true"
				style="margin-right: 15px;">
				<span class="badge primary">{{item.count}}</span></a>
		</div>
		<ol ui-tree-nodes="options" ng-model="item.list" ng-class="{hidden: collapsed}">
			<li ng-repeat="item in item.sub" ui-tree-node ng-include="'items_renderer.html'" ng-if="item.sub_unit != undefined">
			</li>
		</ol>
	</script>
								
	<!-- Modal Add Unit-->	
	<script type="text/ng-template" id="modalStructure.html">
		<div class="modal-header">
			<h4><i class="fa fa-save" style="margin-right: 8px;" ></i>Add Unit</h4>
		</div>
		<div class="modal-body" >
			<form name="myForm"  class="form form-validation" ng-submit="myForm.$valid && submit()">	
				<fieldset>
					<div class="col-md-3">
						<label for="">Name</label><span class="space space-sm"></span><label style ="color:red">*</label>
					</div>
					<div class="col-md-7">
						<select class="form-control" name="name" ng-model="sub_unit" ng-disabled="dropDisable" required>
							<option value=""> -- Select -- </option>
							<option value="{{job.id}}" ng-selected="{{sub_unit == job.name}}" ng-repeat="job in jobs">{{job.name}}</option>
						</select>
						<span style="color:red" ng-show="myForm.name.$dirty && myForm.name.$invalid">
							<span ng-show="myForm.name.$error.required">Required field</span>
						</span>
						<!--
						<input type="text" name="name" class="form-control" ng-model="sub_unit" required="required"/>
						<span style="color:red" ng-show="myForm.name.$dirty && myForm.name.$invalid">
							<span ng-show="myForm.name.$error.required">Name is required.</span>
						</span>
						-->
					</div>
				</fieldset>
				<br>
				<fieldset>
					<div class="col-sm-3">
						<label for="">Description</label>
					</div>
					<div class="col-sm-7"  >
						<textarea class="form-control" 
						ng-disabled="dropDisable"
						rows="4"
						cols="40"
						ng-model="descript"></textarea>
					</div>
				</fieldset>
				<br><br>
				<fieldset>
					<div class="col-sm-12">
						</span><label style ="color:red"><marquee>{{messageEmpty}}</marquee></label>
					</div>										
				</fieldset>	
				<fieldset>
					<div class="col-sm-12">
						</span><label >This department will be added under <u>{{subUnitDeparts}}</u></label>
					</div>										
				</fieldset>	
				<fieldset>
					<div class="col-sm-3">
						</span><label style ="color:red">*</label><span class="space space-xs"><label><small>Required Field</small></label>
					</div>										
				</fieldset>										
			</form>	
			<div class="modal-footer">
				<button type="submit" class="btn btn-success" ng-disabled="myForm.$invalid" ng-click="save()">Save</button>
				<button class="btn btn-danger" ng-click="cancel()">Cancel</button>
			</div>
		</div>
	</script>
							
	<!-- Modal Edit Unit-->	
	<script type="text/ng-template" id="modalEditStructure.html">
		<div class="modal-header">
			<h4><i class="fa fa-pencil" style="margin-right: 8px;" ></i>Edit Unit</h4>
		</div>
		<div class="modal-body" >
			<form name="myForm"  class="form form-validation" ng-submit="myForm.$valid && submit()">	
				<fieldset>
					<div class="col-md-3">
						<label for="">Name</label><span class="space space-sm"></span><label style ="color:red">*</label>
					</div>
					<div class="col-md-7">
						<select class="form-control" name="name" ng-model="formData.sub_unit" ng-disabled="!button" required>
							<option value=""> -- Select -- </option>
							<option value="{{job.id}}" ng-selected="{{formData.sub_unit == job.name}}" ng-repeat="job in jobs">{{job.name}}</option>
						</select>
						<span style="color:red" ng-show="myForm.name.$dirty && myForm.name.$invalid">
							<span ng-show="myForm.name.$error.required">Required field</span>
						</span>
						<!--
						<input type="text" name="name" class="form-control" ng-model="sub_unit" required="required"/>
						<span style="color:red" ng-show="myForm.name.$dirty && myForm.name.$invalid">
							<span ng-show="myForm.name.$error.required">Name is required.</span>
						</span>
						-->
					</div>
				</fieldset>
				<br>
				<fieldset>
					<div class="col-sm-3">
						<label for="">Description</label>
					</div>
					<div class="col-sm-7">
						<textarea class="form-control" 
						rows="4" 
						cols="40"
						ng-disabled="!button"
						ng-model="formData.descript"></textarea>
					</div>
				</fieldset>
				<br><br>
				<fieldset>
					<div class="col-sm-3">
						</span><label style ="color:red">*</label><span class="space space-xs"><label><small>Required Field</small></label>
					</div>										
				</fieldset>	
			</form>
			<div class="modal-footer">
				<button type="submit" class="btn btn-success" ng-hide="button" ng-click="button=true; edit();">Edit</button>
				<button type="submit" class="btn btn-success" ng-disabled="myForm.$invalid" ng-show="button"; ng-click="save();">Save</button>
				<button class="btn btn-danger" ng-click="cancel()">Close</button>
			</div>
		</div>
	</script>
					
					
	<!-- Modal Delete Unit-->	
	<script type="text/ng-template" id="modalDelete.html">
		<div class="modal-header">
			<h3>{{confirm}}</h3>
		</div>
		<div class="modal-body">
			<form name="myForm" novalidate>	
				<div class='form-group'>	
					<fieldset>
						<div class="col-sm-12">
							<label ng-show="showNotif">Please confirm to delete the selected department <br> Delete?</label>
							<label ng-show="hideNotif">The department is not yet empty, please make sure that there is no employee and no sub-department remained</label>	
						</div>
					</fieldset>
				</div>
				<!-- <div class='form-group'>
					<fieldset>
						<div class="col-md-2">
							<label for="">Name</label>
						</div>
						<div class="col-md-7">
							<input type="text" name="name" class="form-control"  ng-disabled="!button" autocomplete='off' ng-model="formData.sub_unit" required/>
							<span style="color:red" ng-show="myForm.name.$dirty && myForm.name.$invalid">
								<span ng-show="myForm.name.$error.required">Name is required.</span>
							</span>
						</div>
					</fieldset>
				</div>
				<div class='form-group'>
					<fieldset>
						<div class="col-sm-2">
							<label for="">Description</label>
						</div>
						<div class="col-sm-7">
							<textarea class="form-control" 
							rows="4" 
							cols="40"
							ng-disabled="!button"
							autocomplete='off'
							ng-model="formData.descript"></textarea>
						</div>
					</fieldset>
				</div> -->
			</form>
			<br>
			<div class="modal-footer">
				<button type="submit" class="btn btn-success" ng-show="showNotif" ng-click="remove($index)">Ok</button>
				<button type="submit" class="btn btn-success" ng-show="hideNotif" ng-click="cancel()">Ok</button>
				<button class="btn btn-danger" ng-show="showNotif" ng-click="cancel()">Cancel</button>
			</div>
		</div>
	</script>
</div>
