
		<div class="page page-status">
			<section class="panel panel-primary table-dynamic" data-ng-controller="tableemployeestatusCtrl as empstatus">
				<div class="panel-heading"><strong><span class="glyphicon glyphicon-th" style="margin-right: 8px;"></span>Employment Status</strong></div>
					<div class="panel-body">
						<div class="from-group">
							<div class="row">
								<div class="col-sm-4">
									<form>
										<button class="btn btn-gap-v btn-success"  
												ng-click="empstatus.handler.openmodal('add')"
												ng-show="empstatus.handler.button('create')">
												Add
										</button>
										<span class="space space-sm"></span>
										<button type="button" 
												class="btn btn-gap-v btn-danger"   
												ng-click="empstatus.handler.deldata(empstatus.handler.check)"
												ng-show="empstatus.handler.button('delete')">
												Delete
										</button>
									</form>
								</div>
							</div>
						</div><br>
						<div class="form-group">
							<div class="row">
								<div class="col-sm-4">
									<form>
										<input type="text"
											   placeholder="Search..."
											   class="form-control"
											   data-ng-model="empstatus.handler.search"
											   data-ng-model-options="{debounce:300}"
											   >
									</form>
								</div>
								<div class="col-sm-3 filter-result-info">
									<span>
										Showing {{empstatus.handler.paginated.length}}/{{empstatus.handler.maindata.length}} entries
									</span>              
								</div>
							</div>
						</div><br>
						<table class="table table-bordered table-striped table-responsive">
							<thead>
								<tr>
									<th><div class="th">
									</div></th>
									<th ng-repeat='a in empstatus.handler.headers' width='{{a.width}}'>
										<div class="th">
											{{a.name}}
											<span class="fa fa-angle-up"
												  data-ng-if="a.sort"
												  data-ng-click="empstatus.handler.setactiveheader(a,true)"
												  data-ng-class="{active: $index == empstatus.handler.activeheader.id && empstatus.handler.activeheader.order == true}">
											</span>
											<span class="fa fa-angle-down"
												  data-ng-if="a.sort"
												  data-ng-click="empstatus.handler.setactiveheader(a,false)"
												  data-ng-class="{active: $index == empstatus.handler.activeheader.id && empstatus.handler.activeheader.order == false}">
											</span>
										</div>
									</th>
								</tr>
							</thead>
							<tbody>
								<tr data-ng-repeat="a in empstatus.handler.getdata() | orderBy: empstatus.handler.activeheader.sort : empstatus.handler.activeheader.order track by [$index]">
									<td><input type="checkbox" checklist-value="a.id"  checklist-model="empstatus.handler.check"/></td>
									 
									<td style="cursor:pointer" ng-click="empstatus.handler.openmodal('edit',a)">{{a.title}}</td>
								</tr>
							</tbody>
						</table>
						<footer class="table-footer">
							<div class="row">
								<div class="col-md-6 page-num-info">
									<span>
										Show 
										<select data-ng-model="empstatus.handler.numPerPage"
												data-ng-options="num for num in empstatus.handler.numPerPageOpt"
												data-ng-change="onNumPerPageChange()">
										</select> 
										entries per page
									</span>
								</div>
								<div class="col-md-6 text-right pagination-container">
									<pagination class="pagination-sm"
												ng-model="empstatus.handler.currentPage"
												total-items="empstatus.handler.filtered.length"
												max-size="4"
												ng-change="select(currentPage)"
												items-per-page="empstatus.handler.numPerPage"
												rotate="false"
												previous-text="&lsaquo;" next-text="&rsaquo;"
												boundary-links="true"></pagination>
								</div>
							</div>
						</footer>
					</div>
			</section>
		</div>			
			<!--Modal Add Employment Status-->
			<script type="text/ng-template" id="addmodal">
				<div class="modal-header">
					<h4><i class="fa fa-save" style="margin-right: 8px;" ></i>Add Employment Status</h4>
				</div>
				<div class="modal-body">
					<form name="myForm"  class="form form-validation" ng-submit="myForm.$valid && submit(addmodal.form)">	
						<div class='form-group'>
							<fieldset>
								<div class="col-md-2">
									<label for="">Name</label><span class="space space-sm"></span><label style ="color:red">*</label>
								</div>
								<div class="col-md-8">
									<input type="text" name="name" class="form-control" autocomplete="off" ng-model="addmodal.form.title" required/>
									<span style="color:red" ng-show="myForm.name.$dirty && myForm.name.$invalid">
										<span ng-show="myForm.name.$error.required">Name is required.</span>
									</span>
								</div>
							</fieldset>
						</div>
						<fieldset>
							<div class="col-sm-3">
								</span><label style ="color:red">*</label><span class="space space-xs"><label><small>Required field</small></label>
							</div>										
						</fieldset>	
					</form>	
					<div class="modal-footer">
						<button type="submit" class="btn btn-success" ng-disabled="myForm.$invalid"  ng-click="addmodal.save()">Save</button>
						<button class="btn btn-danger" ng-click="addmodal.close()">Cancel</button>
					</div>
				</div>
			</script>
					
			<!--Modal Edit Employment Status-->
			<script type="text/ng-template" id="modaledit">
				<div class="modal-header">
					<h4><i class="fa fa-pencil-square-o" style="margin-right: 8px;" ></i>Edit Employment Status</h4>
				</div>
				<div class="modal-body">
					<form name="myForm"  class="form form-validation" ng-submit="myForm.$valid && submit(formData)">	
						<div class='form-group'>	
							<fieldset>
								<div class="col-md-2">
									<label for="">Name</label><span class="space space-sm"></span><label style ="color:red">*</label>
								</div>
								<div class="col-md-8">
									<input 	type="text"
											class="form-control"
											name="name" 
											ng-disabled="!modaledit.button"  
											ng-model="modaledit.form.title" 
											autocomplete="off"
											required
									/>
									<span style="color:red" ng-show="myForm.name.$dirty && myForm.name.$invalid">
										<span ng-show="myForm.name.$error.required">Name is required.</span>
									</span>
								</div>
							</fieldset>
						</div>
						<fieldset>
							<div class="col-sm-3">
								</span><label style ="color:red">*</label><span class="space space-xs"><label><small>Required field</small></label>
							</div>										
						</fieldset>	
					</form>
					<div class="modal-footer" ng-show="modaledit.handler.button('update')">
						<button type="submit" class="btn btn-success" ng-hide="modaledit.button" ng-click="modaledit.button=true;">Edit</button>
						<button type="submit" class="btn btn-success" ng-show="modaledit.button" ng-disabled="myForm.$invalid" ng-click="modaledit.save();">Save</button>
						<button class="btn btn-danger" ng-click="modaledit.close()">Cancel</button>
					</div>
					<div class="modal-footer" ng-hide="modaledit.handler.button('update')">
						<button class="btn btn-danger" ng-click="modaledit.close()">Close</button>
					</div>
				</div>
			</script>		
		
<!-- 
<section class="panel panel-primary table-dynamic" >
	<div class="panel-heading"><strong><span class="glyphicon glyphicon-th" style="margin-right: 8px;"></span> EMPLOYMENT STATUS</strong></div>
		<div class="table-filters">
			<div class="row">
				<div class="col-md-4">
					<form>
						<button class="btn btn-gap-v btn-success" ng-disabled ="!role" ng-click="open()"> Add </button>
							<span class="space space-sm"></span>
						<button class="btn btn-gap-v btn-danger"  ng-disabled ="!role" ng-click="remove(check.users)">Delete</button>
					</form>
				</div>
			</div>
		</div>
		<div class="form-group">
		</div>
		<table class="table table-bordered table-striped table-responsive">
			<thead>
				<tr id="heading">
					<th style="width:1%" ><div class="th">
					</div></th>
					<th style="width:99%"><div class="th">
						Employement Status
					</div></th>
				</tr>
			</thead>
			<tbody>
				<tr data-ng-repeat="user in users | filter:search">
					<td><input type="checkbox" checklist-model="check.users" checklist-value="user.id" />
					<td ng-click="edit('',user)" style="cursor:pointer">{{user.title}}</td>
				</tr>
			</tbody>
		</table>
</section> 
-->