
	<div class="page page-job" data-ng-controller="tableJobCtrl as tablejob">
	
		<section class="panel panel-primary table-dynamic">
				<div class="panel-heading"><strong><span class="glyphicon glyphicon-th" style="margin-right: 8px;"></span>Job Titles</strong></div>
					<div class="panel-body">
						<div class="from-group">
							<div class="row">
								<div class="col-sm-4">
									<form>
										<button class="btn btn-gap-v btn-success"  
												ng-click="tablejob.handler.openmodal('add')"
												ng-show="tablejob.handler.button('create')">
												Add
										</button>
										<span class="space space-sm"></span>
										<button type="button" 
												class="btn btn-gap-v btn-danger"   
												ng-click="tablejob.handler.deldata(tablejob.handler.check)"
												ng-show="tablejob.handler.button('delete')">
												Delete
										</button>
									</form>
								</div>
							</div>
						</div><br>
						<div class="form-group">
							<div class="row">
								<div class="col-sm-4">
									<form>
										<input type="text"
											   placeholder="Search..."
											   class="form-control"
											   data-ng-model="tablejob.handler.search"
											   data-ng-model-options="{debounce:300}"
											   >
									</form>
								</div>
								<div class="col-sm-3 filter-result-info">
									<span>
										Showing {{tablejob.handler.paginated.length}}/{{tablejob.handler.maindata.length}} entries
									</span>              
								</div>
							</div>
						</div><br>
						<table class="table table-bordered table-striped table-responsive">
							<thead>
								<tr>
									<th><div class="th">
									</div></th>
									<th ng-repeat='a in tablejob.handler.headers' width='{{a.width}}'>
										<div class="th">
											{{a.name}}
											<span class="fa fa-angle-up"
												  data-ng-if="a.sort"
												  data-ng-click="tablejob.handler.setactiveheader(a,true)"
												  data-ng-class="{active: $index == tablejob.handler.activeheader.id && tablejob.handler.activeheader.order == true}">
											</span>
											<span class="fa fa-angle-down"
												  data-ng-if="a.sort"
												  data-ng-click="tablejob.handler.setactiveheader(a,false)"
												  data-ng-class="{active: $index == tablejob.handler.activeheader.id && tablejob.handler.activeheader.order == false}">
											</span>
										</div>
									</th>
								</tr>
							</thead>
							<tbody>
								<tr data-ng-repeat="a in tablejob.handler.getdata() | orderBy: tablejob.handler.activeheader.sort : tablejob.handler.activeheader.order track by [$index]">
									<td><input type="checkbox" checklist-value="a.id"  checklist-model="tablejob.handler.check"/></td>
									<td style="cursor:pointer" ng-click="tablejob.handler.openmodal('edit',a)">{{a.title}}</td>
									<td style="cursor:pointer" ng-click="tablejob.handler.openmodal('edit',a)">{{a.descript}}</td>
								</tr>
							</tbody>
						</table>
						<footer class="table-footer">
							<div class="row">
								<div class="col-md-6 page-num-info">
									<span>
										Show 
										<select data-ng-model="tablejob.handler.numPerPage"
												data-ng-options="num for num in tablejob.handler.numPerPageOpt"
												data-ng-change="onNumPerPageChange()">
										</select> 
										entries per page
									</span>
								</div>
								<div class="col-md-6 text-right pagination-container">
									<pagination class="pagination-sm"
												ng-model="tablejob.handler.currentPage"
												total-items="tablejob.handler.filtered.length"
												max-size="4"
												ng-change="select(currentPage)"
												items-per-page="tablejob.handler.numPerPage"
												rotate="false"
												previous-text="&lsaquo;" next-text="&rsaquo;"
												boundary-links="true"></pagination>
								</div>
							</div>
						</footer>
					</div>
			</section>
				
	</div>
	
	<!-- Modal add job title -->			
	<script type="text/ng-template" id="addmodal">
		<div class="modal-header">
			<h4><i class="fa fa-save" style="margin-right: 8px;" ></i>Add Job Title</h4>
		</div>
		<div class="modal-body" >
			<form name="myForm"  class="form form-validation" ng-submit="myForm.$valid && submit(modaledit.form)">	
				<div class="form-group">	
					<fieldset>
						<div class="col-sm-2">
							<label for="">Job Title</label><span class="space space-sm"></span><label style ="color:red">*</label>
						</div>
						<div class="col-sm-8">
							<input type="text" name="name" class="form-control" autocomplete="off" ng-model="addmodal.form.title" required/>
							<span style="color:red" ng-show="myForm.name.$dirty && myForm.name.$invalid">
								<span ng-show="myForm.name.$error.required">Required field.</span>
							</span>
						</div>
					</fieldset>
				</div>
				<br>
				<div class="form-group">	
					<fieldset>
						<div class="col-sm-2">
							<label>Job Description</label>
						</div>
						<div class="col-sm-8">
							<textarea 	class="form-control" 
										rows="6" 
										cols="50"
										ng-model="addmodal.form.descript"
										autocomplete="off">
							</textarea>
						</div>
					</fieldset>
				</div>
				<br>
				<div class="form-group">
					<fieldset>
						<div class="col-sm-2">
							<label>Job Specification</label>
						</div>
						<div class="col-sm-5">
							<label ng-repeat="f in files"  ng-show="files">{{f.name}}</label>
							<button type="button" 
									class="btn btn-primary" 
									accept="application/pdf, application/msword, application/docx, application/doc,"
									ngf-select ngf-change="upload($files)"
									ngf-multiple="multiple"
									ng-model="files"
									ng-hide="files"
							>Choose File</button>
							<br><br>
							<label ng-hide="files">Accepts up to 1MB</label>
						</div>
					</fieldset><br>
				</div>
			</form>
			<br><br>
			<fieldset>
				<div class="col-sm-3">
					</span><label style ="color:red">*</label><span class="space space-xs"><label><small>Required field</small></label>
				</div>										
			</fieldset>
			<div class="modal-footer">
				<button type="submit" class="btn btn-success" ng-disabled="myForm.$invalid"  ng-click="addmodal.save(files)">Save</button>
				<button class="btn btn-danger" ng-click="addmodal.cancel()">Cancel</button>
			</div>
		</div>
	</script>
	
	<!-- Modal Edit Job Title -->
	<script type="text/ng-template" id="modaledit">
		<div class="modal-header">
			<h4><i class="fa fa-pencil-square-o" style="margin-right: 8px;" ></i>Edit Job Title</h4>
		</div>
		<div class="modal-body" >
			<form name="myForm" class="form form-validation" ng-submit="myForm.$valid && submit(modaledit.form)">	
				<div class="form-group">	
					<fieldset>
						<div class="col-sm-2">
							<label for="">Job Title</label></label><span class="space space-sm"></span><label style ="color:red">*</label>
						</div>
						<div class="col-sm-8">
							<input 	type="text"
									name="name" 
									class="form-control" 
									autocomplete="off" 
									ng-disabled="!modaledit.button" 
									ng-model="modaledit.form.title" 
									required
							/>
							<span style="color:red" ng-show="myForm.name.$dirty && myForm.name.$invalid">
								<span ng-show="myForm.name.$error.required">Required field.</span>
							</span>
						</div>
					</fieldset>
				</div>
				<br>
				<div class="form-group">
					<fieldset>
						<div class="col-sm-2">
							<label for="">Job Description
						</div>
						<div class="col-sm-8">
							<textarea class="form-control" 
							rows="6" 
							cols="50"
							ng-disabled="!modaledit.button" 
							autocomplete="off"
							ng-model="modaledit.form.descript"></textarea>
						</div>
					</fieldset>
				</div>
				<br>
				<div class="form-group">
					<fieldset>
						<div class="col-sm-2">
							<label for="">Job Specification</label>
						</div>
						<div class="col-sm-4">
							<label ng-repeat="f in modaledit.files" ng-click="modaledit.handler.getfile(f.name)">
								<a target="_parent" style="cursor:pointer" ng-href = "{{e}}">{{f.name}}</a>
							</label>
						</div>
					</fieldset>
					<br>
					<fieldset>
						<div class="col-sm-2"></div>
						<div class="col-sm-9" ng-show="modaledit.handler.showradio">
							<label class="ui-radio">
									<input 	name="keep"   
											type="radio" 
											value="1"  
											ng-model="modaledit.form.radio"
											ng-disabled="!modaledit.button">
											<span>Keep Current</span>
							</label>
							<label class="ui-radio">
									<input 	name="delete" 
											type="radio" 
											value="2"  
											ng-model="modaledit.form.radio"
											ng-disabled="!modaledit.button">
											<span> Delete Current</span>
							</label>
							<label class="ui-radio">
									<input 	name="delete" 
											type="radio" 
											value="3"  
											ng-model="modaledit.form.radio"
											ng-disabled="!modaledit.button"											
											ng-click="modaledit.handler.replace()">
											<span>Replace Current</span>
							</label>
						</div>
					</fieldset>
					<br>
					<fieldset>
						<div class="col-sm-2"></div>
						<div class="col-sm-3">
							<button type="button" 
									class="btn btn-primary" 
									accept="application/pdf, application/msword, application/docx, application/doc, application/vnd.ms-excel, application/vnd.ms-powerpoint,"
									ng-disabled="!modaledit.button"
									ngf-select ngf-change="upload($files)"
									ngf-multiple="multiple"
									ng-model="modaledit.files"
									ng-show="modaledit.handler.showbutton"
									ng-change="modaledit.handler.setupload(modaledit.form)">
									Select File
							</button>
						</div>
					</fieldset>
				</div>
			</form>
			<br><br>
			<fieldset>
				<div class="col-sm-3">
					</span><label style ="color:red">*</label><span class="space space-xs"><label><small>Required field</small></label>
				</div>										
			</fieldset>
			<div class="modal-footer" ng-show="modaledit.handler.button('update')">
				<button type="submit" class="btn btn-success" ng-hide="modaledit.button" ng-click="modaledit.button=true; modaledit.handler.edit(modaledit.form);">Edit</button>
				<button type="submit" class="btn btn-success" ng-show="modaledit.button" ng-disabled="myForm.$invalid" ng-click="modaledit.save(modaledit.files);">Save</button>
				<button class="btn btn-danger" ng-click="modaledit.close()">Cancel</button>
			</div>
			<div class="modal-footer" ng-hide="modaledit.handler.button('update')">
				<button class="btn btn-danger" ng-click="modaledit.close()">Close</button>
			</div>
		</div>
	</script>
				

<!--
<section class="panel panel-primary table-dynamic">
<div class="panel-heading">
<strong><span class="glyphicon glyphicon-th" style="margin-right: 8px;"></span> Job Titles</strong>
</div>
<div class="panel-body">
<form name="myForm" class="form form-horizontal">
<div class="form-group">
<div class="col-sm-6">
<button class="btn btn-gap-v btn-success" 
ng-click="open('lg')"
ng-show="button('create')">
Add 
</button>
<span class="space space-sm"></span>
<button class="btn btn-gap-v btn-danger"  
ng-click="remove(check.currentPageStores)"
ng-show="button('delete')">
Delete
</button>										
</div>
</div>
<div class="form-group">
<div class="col-sm-4">
<input type="text"
placeholder="Search..."
class="form-control"
data-ng-model="searchKeywords"
data-ng-keyup="search()">
</div>
<div class="col-sm-4">
<span>
Showing {{currentPageStores.length}}/{{filteredStores.length}} entries
</span>              
</div>
</div>
</form>
<br>
<table class="table table-bordered table-striped table-responsive">
<thead>
<tr>
<th style="width:8px"><div class="th">
</div></th>
<th><div class="th">
Job Title
<span class="fa fa-angle-up"
data-ng-click=" order('title') "
data-ng-class="{active: row == 'title'}"></span>
<span class="fa fa-angle-down"
data-ng-click=" order('-title') "
data-ng-class="{active: row == '-title'}"></span>
</div></th>
<th><div class="th">
Job Description
<span class="fa fa-angle-up"
data-ng-click=" order('descript') "
data-ng-class="{active: row == 'descript'}"></span>
<span class="fa fa-angle-down"
data-ng-click=" order('-descript') "
data-ng-class="{active: row == '-descript'}"></span>
</div></th>
</tr>
</thead>
<tbody>
<tr data-ng-repeat="store in currentPageStores">
<td><input type="checkbox"  name="checkbox" checklist-model="check.currentPageStores" checklist-value="store.id"></td>
<td ng-click="edit('lg',store)" style="cursor:pointer">{{store.title}}</td>
<td ng-click="edit('lg',store)" style="cursor:pointer">{{store.descript}}</td>
</tr>
</tbody>
</table>
<footer class="table-footer">
<div class="row">
<div class="col-md-6 page-num-info">
<span>
Show 
<select data-ng-model="numPerPage"
data-ng-options="num for num in numPerPageOpt"
data-ng-change="onNumPerPageChange()">
</select> 
entries per page
</span>
</div>
<div class="col-md-6 text-right pagination-container">
<pagination class="pagination-sm"
ng-model="currentPage"
total-items="filteredStores.length"
max-size="4"
ng-change="select(currentPage)"
items-per-page="numPerPage"
rotate="false"
previous-text="&lsaquo;" next-text="&rsaquo;"
boundary-links="true"></pagination>
</div>
</div>
</footer>
</div>
</section>
-->				
<!-- <section class="panel panel-primary table-dynamic" >
<div class="panel-heading"><strong><span class="glyphicon glyphicon-th" style="margin-right: 8px;"></span> Job Titles</strong></div>
<div class="table-filters">
<div class="row">
<div class="col-md-4">
<form>
<button class="btn btn-gap-v btn-success" ng-hide="!role('create',a)" ng-click="open('lg')"> Add </button>
<span class="space space-sm"></span>
<button class="btn btn-gap-v btn-danger"  ng-hide="!role('delete',a)" ng-click="remove(check.jobs)">Delete</button>
</form>
</div>
</div>
</div>
<table class="table table-bordered table-striped table-responsive">
<thead>
<tr id="heading">
<th style="width:1%" ><div class="th">

</div></th>
<th style="width:50%"><div class="th">
Job Title
</div></th>
<th  style="width:50%"><div class="th">
Job Description
</div></th>
</tr>
</thead>
<tbody>
<tr data-ng-repeat="job in jobs | filter:search ">
<td><input type="checkbox"  name="checkbox" checklist-model="check.jobs" checklist-value="job.id"></td>
<td  ng-click="edit('lg',job)" style="cursor:pointer" >{{job.title}}</td>
<td  ng-click="edit('lg',job)" style="cursor:pointer">{{job.descript}}</td>
</tr>
</tbody>
</table>
</section> -->
					
						
		