
		<div class="page page-workShift" ng-controller="workshiftCtrl as workShift">
			<section class="panel panel-primary table-dynamic">
				<div class="panel-heading">
					<strong><span class="glyphicon glyphicon-th" style="margin-right: 8px;"></span>Work Shifts</strong>
				</div>
				<div class="panel-body">
						<div class="from-group">
							<div class="row">
								<div class="col-sm-4">
									<form>
										<button class="btn btn-gap-v btn-success"  
												ng-click="workShift.handler.openmodal('add')"
												ng-show="workShift.handler.button('create')">
												Add
										</button>
										<span class="space space-sm"></span>
										<button type="button" 
												class="btn btn-gap-v btn-danger"   
												ng-click="workShift.handler.deldata(workShift.handler.check)"
												ng-show="workShift.handler.button('delete')">
												Delete
										</button>
									</form>
								</div>
							</div>
						</div><br>
						<div class="form-group">
							<div class="row">
								<div class="col-sm-4">
									<form>
										<input type="text"
											   placeholder="Search..."
											   class="form-control"
											   data-ng-model="workShift.handler.search"
											   data-ng-model-options="{debounce:300}"
											   >
									</form>
								</div>
								<div class="col-sm-3 filter-result-info">
									<span>
										Showing {{workShift.handler.paginated.length}}/{{workShift.handler.maindata.length}} entries
									</span>              
								</div>
							</div>
						</div><br>
					<table class="table table-bordered table-striped table-responsive">
						<thead>
							<tr>
								<th><div class="th">
								</div></th>
								<th ng-repeat='a in workShift.handler.headers'  width='{{a.width}}'>
									<div class="th">
										{{a.name}}
										<span class="fa fa-angle-up"
											  data-ng-if="a.sort"
											  data-ng-click="workShift.handler.setactiveheader(a,true) "
											  data-ng-class="{active: $index == workShift.handler.activeheader.id && workShift.handler.activeheader.order == true}">
										</span>
										<span class="fa fa-angle-down"
											  data-ng-if="a.sort"
											  data-ng-click=" workShift.handler.setactiveheader(a,false) "
											  data-ng-class="{active: $index == workShift.handler.activeheader.id && workShift.handler.activeheader.order == false}">
										</span>
									</div>
								</th>
							</tr>
						</thead>
						<tbody>
							<tr data-ng-repeat="a in workShift.handler.getdata() | orderBy: workShift.handler.activeheader.sort : workShift.handler.activeheader.order track by [$index]">
								<td><input type="checkbox" checklist-model="workShift.handler.check" checklist-value="a.shift_id"></td>
								<td style="cursor:pointer" ng-click="workShift.handler.openmodal('edit',a)">{{a.shift_code}}</td>
								<td style="cursor:pointer" ng-click="workShift.handler.openmodal('edit',a)">{{a._from}}</td>
								<td style="cursor:pointer" ng-click="workShift.handler.openmodal('edit',a)">{{a._to}}</td>
								<td style="cursor:pointer" ng-click="workShift.handler.openmodal('edit',a)">{{a.hour_per_day}}</td>
							</tr>
						</tbody>
					</table>
					<footer class="table-footer">
						<div class="row">
							<div class="col-md-6 page-num-info">
								<span>
									Show 
									<select data-ng-model="workShift.handler.numPerPage"
											data-ng-options="num for num in workShift.handler.numPerPageOpt"
											data-ng-change="onNumPerPageChange()">
									</select> 
									entries per page
								</span>
							</div>
							<div class="col-md-6 text-right pagination-container">
								<pagination class="pagination-sm"
											ng-model="workShift.handler.currentPage"
											total-items="workShift.handler.filtered.length"
											max-size="4"
											ng-change="select(currentPage)"
											items-per-page="workShift.handler.numPerPage"
											rotate="false"
											previous-text="&lsaquo;" next-text="&rsaquo;"
											boundary-links="true"></pagination>
							</div>
						</div>
					</footer>
				</div>
			</section>
							
			<!--MODAL ADD WORK SHIFT-->
			<script type="text/ng-template" id="modalshift">
				<div class="modal-header">
					<h4><i class="fa fa-save" style="margin-right: 8px;" ></i>Add Work Shift</h4>
				</div>
				<div class="modal-body">
					<form name="myForm" class="form form-validation" ng-submit="myForm.$valid && submit()">
						<div class="form-group">
							<fieldset>
								<div class="col-sm-2">
									<label>Shift Code</label><span class="space space-sm"></span><label style ="color:red">*</label>
								</div>
								<div class="col-sm-8">
									<input type="text" name="name" class="form-control" ng-model="modalshift.form.shift_code"  required/>
									<span style="color:red" ng-show="myForm.name.$dirty && myForm.name.$invalid">
										<span ng-show="myForm.name.$error.required"> Required field.</span>
									</span>													
								</div>
							</fieldset>
						</div>
						<div class="form-group">
							<fieldset>
								<div class="col-sm-2">
									<label>Work Hours</label><span class="space space-sm"></span><label style ="color:red">*</label>
								</div>
								<div class="col-sm-1">
									<label>From</label>
								</div>
								<div class="col-sm-2">
									<select class="form-control" 
											ng-model="modalshift.form._from"  
											style="-webkit-appearance: none;"
											ng-init="modalshift.form._from = modalshift.schedule[0]"
											required>
											<option ng-repeat="job in modalshift.schedule" 
													value="{{job}}">
													{{job}}
											</option>
									</select>
								</div>
								<div class="col-sm-1">
									<label>To</label>
								</div>
								<div class="col-sm-2">
									<select class="form-control" 
											ng-model="modalshift.form._to"  
											style="-webkit-appearance: none;"
											ng-init="modalshift.form._to = modalshift.schedule[0]"
											ng-change="modalshift.findOvertime()"
											required>
											<option ng-repeat="job in modalshift.schedule" 
													value="{{job}}">
													{{job}}
											</option>
									</select>
								</div>
								<div class="col-sm-1">
									<label>Duration</label>
								</div>
								<div class="col-sm-1">
									<label>{{modalshift.form.hour_per_day}}</label>
								</div>
							</fieldset>
						</div>
					</form>
				</div>
				<fieldset>
					<div class="col-md-3">
						<label style ="color:red">*</label><span class="space space-xs"></span><label><small>Required field</small></label>
					</div>										
				</fieldset>
				<div class="modal-footer">
					<button class="btn btn-success" ng-click="modalshift.save(a)" ng-disabled="myForm.$invalid" >Save</button>
					<button class="btn btn-danger" ng-click="modalshift.close()">Cancel</button>
				</div>
			</script>
							
							
					<!--MODAL EDIT WORK SHIFT-->
					
					<script type="text/ng-template" id="editshift">
							<div class="modal-header">
								<h4><i class="fa fa-pencil-square-o" style="margin-right: 8px;" ></i>Edit Work Shift</h4>
							</div>
							<div class="modal-body">
								<form name="myForm" class="form form-validation" ng-submit="myForm.$valid && submit()">
									<div class="form-group">
										<fieldset>
											<div class="col-sm-2">
												<label>Shift Code</label><span class="space space-sm"></span><label style ="color:red">*</label>
											</div>
											<div class="col-sm-8">
												<input type="text" name="name" class="form-control" ng-model="editshift.form.shift_code" ng-disabled="!editshift.button" required/>
												<span style="color:red" ng-show="myForm.name.$dirty && myForm.name.$invalid">
													<span ng-show="myForm.name.$error.required"> Required field.</span>
												</span>													
											</div>
										</fieldset>
									</div>
									<div class="form-group">
										<fieldset>
											<div class="col-sm-2">
												<label>Work Hours</label><span class="space space-sm"></span><label style ="color:red">*</label>
											</div>
											<div class="col-sm-1">
												<label>From</label>
											</div>
											<div class="col-sm-2">
												<select class="form-control" 
														ng-model="editshift.form._from"  
														style="-webkit-appearance: none;"
														ng-disabled="!editshift.button"
														required>
														<option ng-repeat="job in editshift.schedule" 
																ng-selected="{{editshift.form._from === job}}"
																value="{{job}}"
																>
																{{job}}
														</option>
														
												</select>
											</div>
											<div class="col-sm-1">
												<label>To</label>
											</div>
											<div class="col-sm-2">
												<select class="form-control" 
														ng-model="editshift.form._to"  
														style="-webkit-appearance: none;"
														ng-disabled="!editshift.button"
														ng-change="editshift.findOvertime()"
														required>
														<option ng-repeat="job in editshift.schedule" 
																ng-selected="{{editshift.form._to === job}}"
																value="{{job}}">
																{{job}}
														</option>
														
												</select>
											</div>
											<div class="col-sm-1">
												<label>Duration</label>
											</div>
											<div class="col-sm-1">
												{{editshift.form.hour_per_day}}
											</div>
										</fieldset>
									</div>
								</form>
							</div>
							<fieldset>
								<div class="col-md-3">
									<label style ="color:red">*</label><span class="space space-xs"></span><label><small>Required field</small></label>
								</div>										
							</fieldset>
							<div class="modal-footer" ng-show="editshift.handler.button('update')">
								<button type="submit" class="btn btn-success" ng-hide="editshift.button" ng-click="editshift.button=true;">Edit</button>
								<button type="submit" class="btn btn-success" ng-show="editshift.button" ng-disabled="myForm.$invalid" ng-click="editshift.save();">Save</button>
								<button class="btn btn-danger" ng-click="editshift.close()">Cancel</button>
							</div>
							<div class="modal-footer" ng-hide="editshift.handler.button('update')">
								<button class="btn btn-danger" ng-click="editshift.close()">Close</button>
							</div>
					</script>
							 
					
		</div>