
		<div class="page page-national" data-ng-controller="nationalCtrl as nas">
			<section class="panel panel-primary table-dynamic">
				<div class="panel-heading"><strong><span class="glyphicon glyphicon-th" style="margin-right: 8px;"></span>Nationalities</strong></div>
					<div class="panel-body">
						<div class="from-group">
							<div class="row">
								<div class="col-sm-4">
									<form>
										<button class="btn btn-gap-v btn-success"  
												ng-click="nas.handler.openmodal('add')"
												ng-show="nas.handler.button('create')">
												Add
										</button>
										<span class="space space-sm"></span>
										<button type="button" 
												class="btn btn-gap-v btn-danger"   
												ng-click="nas.handler.deldata(nas.handler.check)"
												ng-show="nas.handler.button('delete')">
												Delete
										</button>
									</form>
								</div>
							</div>
						</div><br>
						<div class="form-group">
							<div class="row">
								<div class="col-sm-4">
									<form>
										<input type="text"
											   placeholder="Search..."
											   class="form-control"
											   data-ng-model="nas.handler.search"
											   data-ng-model-options="{debounce:300}"
											   >
									</form>
								</div>
								<div class="col-sm-3 filter-result-info">
									<span>
										Showing {{nas.handler.paginated.length}}/{{nas.handler.maindata.length}} entries
									</span>              
								</div>
							</div>
						</div><br>
						<table class="table table-bordered table-striped table-responsive">
							<thead>
								<tr>
									<th><div class="th">
									</div></th>
									<th ng-repeat='a in nas.handler.headers' width='{{a.width}}'>
										<div class="th">
											{{a.name}}
											<span class="fa fa-angle-up"
												  data-ng-if="a.sort"
												  data-ng-click="nas.handler.setactiveheader(a,true)"
												  data-ng-class="{active: $index == nas.handler.activeheader.id && nas.handler.activeheader.order == true}">
											</span>
											<span class="fa fa-angle-down"
												  data-ng-if="a.sort"
												  data-ng-click="nas.handler.setactiveheader(a,false)"
												  data-ng-class="{active: $index == nas.handler.activeheader.id && nas.handler.activeheader.order == false}">
											</span>
										</div>
									</th>
								</tr>
							</thead>
							<tbody>
								<tr data-ng-repeat="a in nas.handler.getdata() | orderBy: nas.handler.activeheader.sort : nas.handler.activeheader.order track by [$index]">
									<td><input type="checkbox" checklist-model="nas.handler.check" checklist-value="a.id"/></td>
									<td style="cursor:pointer" ng-click="nas.handler.openmodal('edit',a)">{{a.title}}</td>
								</tr>
							</tbody>
						</table>
						<footer class="table-footer">
							<div class="row">
								<div class="col-sm-6 page-num-info">
									<span>
										Show 
										<select data-ng-model="nas.handler.numPerPage"
												data-ng-options="num for num in nas.handler.numPerPageOpt"
												data-ng-change="onNumPerPageChange()">
										</select> 
										entries per page
									</span>
								</div>
								<div class="col-sm-6 text-right pagination-container">
									<pagination class="pagination-sm"
												ng-model="nas.handler.currentPage"
												total-items="nas.handler.filtered.length"
												max-size="4"
												ng-change="select(currentPage)"
												items-per-page="nas.handler.numPerPage"
												rotate="false"
												previous-text="&lsaquo;" next-text="&rsaquo;"
												boundary-links="true"></pagination>
								</div>
							</div>
						</footer>
					</div>
			</section>			
		</div>
		
		<!--Modal Add Nationality-->
		<script type="text/ng-template" id="modalnational">
			<div class="modal-header">
				<h4><i class="fa fa-save" style="margin-right: 8px;" ></i>Add Nationality</h4>
			</div>
			<div class="modal-body">
					<form name="myForm"  class="form form-validation" ng-submit="myForm.$valid && submit()">	
						<div class='form-group'>	
							<fieldset>
								<div class="col-md-2">
									<label for="">Name</label><span class="space space-sm"></span><label style ="color:red">*</label>
								</div>
								<div class="col-md-8">
									<input 	type="text" 
											name="name" 
											class="form-control" 
											ng-model="modalnational.form.title" 
											autocomplete='off'
											required
									/>
									<span style="color:red" ng-show="myForm.name.$dirty && myForm.name.$invalid">
										<span ng-show="myForm.name.$error.required"> Required field.</span>
									</span>
								</div>
							</fieldset>
						</div>
						<fieldset>
							<div class="col-md-3">
								<label style ="color:red">*</label><span class="space space-xs"></span><label><small>Required field</small></label>
							</div>										
						</fieldset>
					</form>	
				<div class="modal-footer">
					<button type="submit" class="btn btn-success" ng-disabled="myForm.$invalid" ng-click="modalnational.save()">Save</button>
					<button class="btn btn-danger" ng-click="modalnational.close()">Cancel</button>
				</div>
			</div>
		</script>
					
		<!--Modal Edit Nationality-->
		<script type="text/ng-template" id="modaleditnational">
			<div class="modal-header">
				<h4><i class="fa fa-pencil-square-o" style="margin-right: 8px;" ></i>Edit Nationality</h4>
			</div>
			<div class="modal-body">
				<form name="myForm" class="form form-validation" ng-submit="myForm.$valid && submit()">
					<div class='form-group'>
						<fieldset>
							<div class="col-md-2">
								<label for="">Name</label><span class="space space-sm"></span><label style ="color:red">*</label>
							</div>
							<div class="col-md-8">
								<input 	type="text" 
										class="form-control" 
										name ="name" 
										autocomplete='off' 
										ng-disabled="!modaleditnational.button" 
										ng-model="modaleditnational.form.title" 
										required
								/>
								<span style="color:red" ng-show="myForm.name.$dirty && myForm.name.$invalid">
									<span ng-show="myForm.name.$error.required"> Required field.</span>
								</span>
							</div>
						</fieldset>
					</div>
					<fieldset>
						<div class="col-md-3">
							</span><label style ="color:red">*</label><span class="space space-xs"><label><small>Required field</small></label>
						</div>										
					</fieldset>
				</form>
				<div class="modal-footer" ng-show="modaleditnational.handler.button('update')">
					<button type="submit" class="btn btn-success" ng-hide="modaleditnational.button" ng-click="modaleditnational.button=true;">Edit</button>
					<button type="submit" class="btn btn-success" ng-show="modaleditnational.button" ng-disabled="myForm.$invalid" ng-click="modaleditnational.save();">Save</button>
					<button class="btn btn-danger" ng-click="modaleditnational.close()">Cancel</button>
				</div>
				<div class="modal-footer" ng-hide="modaleditnational.handler.button('update')">
					<button class="btn btn-danger" ng-click="modaleditnational.close()">Close</button>
				</div>
			</div>
		</script>
<!-- <section class="panel panel-primary table-dynamic">
	<div class="panel-heading"><strong><span class="glyphicon glyphicon-th" style="margin-right: 8px;"></span> Nationalities</strong></div>
		<div class="table-filters">
			<div class="row">
				<div class="col-md-6">
					<form>
						<button class="btn btn-gap-v btn-success" ng-disabled="!role" ng-click="open()"> Add </button>
						<span class="space space-sm"></span>
						<button type="button" class="btn btn-gap-v btn-danger" ng-disabled="!role"  ng-click="remove(check.currentPageStores)">Delete</button>
					</form>
				</div>
			</div>
		</div>
		<div class="table-filters">
			<div class="row">
				<div class="col-sm-4 col-xs-6">
					<form>
						<input type="text"
							   placeholder="Search..."
							   class="form-control"
							   data-ng-model="searchKeywords"
							   data-ng-keyup="search()">
					</form>
				</div>
				<div class="col-sm-3 col-xs-6 filter-result-info">
					<span>
						Showing {{filteredStores.length}}/{{stores.length}} entries
					</span>              
				</div>
			</div>
		</div>
		<table class="table table-bordered table-striped table-responsive">
			<thead>
				<tr>
					<th style="width:1%"><div class="th">
					</div></th>
					<th><div class="th">
						Nationality
						<span class="fa fa-angle-up"
							  data-ng-click=" order('title') "
							  data-ng-class="{active: row == 'title'}"></span>
						<span class="fa fa-angle-down"
							  data-ng-click=" order('-title') "
							  data-ng-class="{active: row == '-title'}"></span>
					</div></th>
				</tr>
			</thead>
			<tbody>
				<tr data-ng-repeat="store in currentPageStores">
					<td><input type="checkbox"  checklist-model="check.currentPageStores" checklist-value="store.id"></td>
					<td ng-click="edit('',store)" style="cursor:pointer">{{store.title}}</td>
				</tr>
			</tbody>
		</table>

		<footer class="table-footer">
			<div class="row">
				<div class="col-md-6 page-num-info">
					<span>
						Show 
						<select data-ng-model="numPerPage"
								data-ng-options="num for num in numPerPageOpt"
								data-ng-change="onNumPerPageChange()">
						</select> 
						entries per page
					</span>
				</div>
				<div class="col-md-6 text-right pagination-container">
					<pagination class="pagination-sm"
								ng-model="currentPage"
								total-items="filteredStores.length"
								max-size="4"
								ng-change="select(currentPage)"
								items-per-page="numPerPage"
								rotate="false"
								previous-text="&lsaquo;" next-text="&rsaquo;"
								boundary-links="true"></pagination>
				</div>
			</div>
		</footer>
		 
</section> -->