		<div class="" ng-controller='leaveRequestctrlDashboard as lereq'>	
			<section class="panel panel-primary table-dynamic">
				<div class="panel-heading" ng-click="showLeaveRequest = !showLeaveRequest"><strong><span class="glyphicon glyphicon-th" style="margin-right: 8px;"></span>Leave Request</strong></div>
				<div>
					<div class="panel-body">


						



						<form name="myForm" class="form-horizontal form-validation" novalidate>

							<div ng-if="lereq.handler.formRegulerSearch">
								<div class="form-group">
									<div class="col-sm-1">
										<label>Name</label><span class="space space-sm"></span><label style ="color:red">*</label>
									</div>
									<div class="col-sm-2">
										<input 	type="text"
										placeholder="Type for hint . ."
										class="form-control"
										data-ng-model="name"
										typeahead="(address.name) for address in lereq.handler.getLocation($viewValue)" 
										typeahead-loading="loadingLocations"
										typeahead-min-length="4"
										typeahead-wait-ms="400"
										typeahead-on-select="lereq.handler.onSelect($item,$model,$label)"
										autocomplete="on"
										disabled
										/>
									</div>
								</div>

							</div>

							<div ng-if="lereq.handler.formNotRegulerSearch">
								<div class="form-group">
									<div class="col-sm-1">
										<label>Name</label><span class="space space-sm"></span><label style ="color:red">*</label>
									</div>
									<div class="col-sm-2">
										<input 	type="text"
										placeholder="Type for hint . ."
										class="form-control"
										data-ng-model="lereq.handler.form.name"
										typeahead="(address.name) for address in lereq.handler.getLocation($viewValue)" 
										typeahead-loading="loadingLocations"
										typeahead-min-length="4"
										typeahead-wait-ms="400"
										typeahead-on-select="lereq.handler.onSelect($item,$model,$label)"
										autocomplete="on"
										
										/>
									</div>
								</div>
							</div>
							
							<div ng-if="lereq.handler.formRegulerSearch">
								<div class="form-group">
									<div class="col-sm-1">
										<label>Leave Type</label><div class="space"></div><label style ="color:red">*</label>
									</div>
									<div class="col-sm-2">
										<select class="form-control"  ng-model="lereq.handler.form.LeaveType"  ng-click="lereq.handler.getado()" >
											<option value=''>-- Select --</option>
											<option value="{{job.leave_type}}"  ng-repeat="job in lereq.handler.leaves">{{job.leave_type}}</option>
										</select>
											<!--
												<select class="form-control"  ng-model="lereq.handler.form.LeaveType" ng-disabled='!lereq.handler.form.name' ng-change="lereq.handler.getado()">
												<option value=''>-- Select --</option>
												<option value="{{job.leave_type}}"  ng-repeat="job in lereq.handler.leaves">{{job.leave_type}}</option>
												</select> 
											-->	
										</div>
										<div class="col-sm-2">
											<!-- <select class="form-control" ng-change="lereq.handler.setvalue(lereq.handler.bereaves,lereq.handler.form.LeaveBrea)" ng-model="lereq.handler.form.LeaveBrea"  ng-hide="lereq.handler.breaHide" ng-click="lereq.handler.open_quest(false)">
												<option value=''>-- Select --</option>
												<option value="{{job.relation_to_deceased}}"  ng-repeat="job in lereq.handler.bereaves track by $index"  >{{job.relation_to_deceased}}</option>
											</select> -->
											<select class="form-control" ng-change="lereq.handler.setvalue(lereq.handler.bereaves,lereq.handler.form.LeaveBrea)" ng-model="lereq.handler.form.LeaveBrea"  ng-hide="true" ng-click="lereq.handler.open_quest(false)" >
												<option value=''>-- Select --</option>
												<option value="{{job.relation_to_deceased}}"  ng-repeat="job in lereq.handler.bereaves track by $index"  >{{job.relation_to_deceased}}</option>
											</select>
										</div>

										
										
										
									</div>	
								</div>


								<div ng-if="lereq.handler.formNotRegulerSearch">
									<div class="form-group">
										<div class="col-sm-1">
										<label>Leave Type</label><div class="space"></div><label style ="color:red">*</label>
										</div>
										<div class="col-sm-2">
											<select class="form-control"  ng-model="lereq.handler.form.LeaveType"  ng-click="lereq.handler.getado()" >
												<option value=''>-- Select --</option>
												<option value="{{job.leave_type}}"  ng-repeat="job in lereq.handler.leaves">{{job.leave_type}}</option>
											</select>
											<!--
												<select class="form-control"  ng-model="lereq.handler.form.LeaveType" ng-disabled='!lereq.handler.form.name' ng-change="lereq.handler.getado()">
												<option value=''>-- Select --</option>
												<option value="{{job.leave_type}}"  ng-repeat="job in lereq.handler.leaves">{{job.leave_type}}</option>
												</select> 
											-->	
										</div>
										<div class="col-sm-2">
											<!-- <select class="form-control" ng-change="lereq.handler.setvalue(lereq.handler.bereaves,lereq.handler.form.LeaveBrea)" ng-model="lereq.handler.form.LeaveBrea"  ng-hide="lereq.handler.breaHide" ng-click="lereq.handler.open_quest(false)">
												<option value=''>-- Select --</option>
												<option value="{{job.relation_to_deceased}}"  ng-repeat="job in lereq.handler.bereaves track by $index"  >{{job.relation_to_deceased}}</option>
											</select> -->
											<select class="form-control" ng-change="lereq.handler.setvalue(lereq.handler.bereaves,lereq.handler.form.LeaveBrea)" ng-model="lereq.handler.form.LeaveBrea"  ng-hide="true" ng-click="lereq.handler.open_quest(false)">
												<option value=''>-- Select --</option>
												<option value="{{job.relation_to_deceased}}"  ng-repeat="job in lereq.handler.bereaves track by $index"  >{{job.relation_to_deceased}}</option>
											</select>
										</div>

										<div class="col-sm-2">
											<select class="form-control"  ng-change="lereq.handler.testSuspen()" ng-model="lereq.handler.form.suspension"  ng-hide="lereq.handler.suspen">
												<option value=''>-- Select --</option>
												<option ng-repeat="job in lereq.handler.susPen" value="{{job.infraction_name}}" >{{job.infraction_name}}</option>
											</select>
										</div>
										<div class="col-sm-2" ng-hide="lereq.handler.suspen">
											<label>Remaining Days</label>
										</div>
										<div class="col-sm-2" ng-hide="lereq.handler.suspen">
											{{lereq.handler.form.remaining_day}}												
										</div>
									</div>
								</div>

									<!-- <div ng-show="lereq.handler.form.LeaveType=='Vacation Leave'" style="visibility:hidden">
										<div class='form-group'>
											<fieldset>
												<div class="col-sm-1"></div>
												<div class="col-sm-2">
													<label>Last Date Request :</label>
												</div>
												<div class="col-sm-2">
													<label style="color:red">{{lereq.handler.form.date.last_date}}</label>
												</div>
											</fieldset>
										</div>
										<div class='form-group'>
											<fieldset>
												<div class="col-sm-1"></div>
												<div class="col-sm-2">
													<label>Next Date Request :</label>
												</div>
												<div class="col-sm-2">
													<label style="color:green">{{lereq.handler.form.date.for_request}}</label>
												</div>
											</fieldset>
										</div>
										<div class='form-group'>
											<fieldset>
												<div class="col-sm-1"></div>
												<div class="col-sm-2">
													<label>Maximum Date Request :</label>
												</div>
												<div class="col-sm-2">
													<label style="color:red">{{lereq.handler.form.date.max_date_req}}</label>
												</div>
											</fieldset>
										</div>
									</div> -->
									<div class="form-group" ng-show="!lereq.handler.hideADO">
										<fieldset>
											<!--ng-change="lereq.handler.getEnabledTo('yes')"-->
											<div class="col-sm-1">
												<label> From</label>
											</div>
											<div class="col-sm-2">	
												<!-- <input type="date" class="form-control" min="{{lereq.handler.getStartDay}}" max="{{lereq.handler.getLastDayFirst}}" ng-model="lereq.handler.form.From" onkeydown="return false"  ng-disabled="lereq.handler.from_check_button" ng-bind="date | date:'MM/dd/yyyy'"  ng-change="lereq.handler.new_number(lereq.handler)"  />												 -->
												<input type="date" class="form-control" ng-model="lereq.handler.form.From" onkeydown="return false"  ng-disabled="lereq.handler.from_check_button" ng-bind="date | date:'MM/dd/yyyy'"  ng-change="lereq.handler.new_number(lereq.handler)"  />												

												
											</div>
											<div class="col-sm-2">
												<label> Day off/ Birthday Leave in between</label>
											</div>
											<!--<span><B>{{lereq.handler.form.DOB}}</B></span>-->
											<!-- 
												ng-change="lereq.handler.getdayone(lereq.handler.form.remaining_day,lereq.handler.form.From)"
												<div class="col-sm-1">
												<input type="number" class="form-control" placeholder='Number' ng-model="lereq.handler.form.DOB"/>	
											</div> -->
											<div class="col-sm-1" >
												<input type="number" ng-bind="date | date:'MM/dd/yyyy'" class="form-control" placeholder='0'  ng-model="lereq.handler.form.DayOffBetween"/>	
											</div>

											<!--<button type="submit" class="btn btn-success"  ng-hide="" ng-click="lereq.handler.save(lereq.handler.files)" ng-disabled="lereq.handler.from_check_button">-</button>
											<button type="submit" class="btn btn-danger"  ng-hide="" ng-click="lereq.handler.save(lereq.handler.files)" ng-disabled="lereq.handler.button_submit">+</button>-->
										</fieldset>
									</div>
									<div class="form-group" ng-show="!lereq.handler.hideADO">
										<fieldset>
											<div class="col-sm-1">
												<label for="">To</label>
											</div>
											<div class="col-sm-2">

												<!-- <input type="date" class="form-control" min="{{lereq.handler.injectTo}}" max="{{lereq.handler.getLastDay}}" ng-model="lereq.handler.form.To" ng-disabled="lereq.handler.statHide() || lereq.handler.actived" ng-change="lereq.handler.getday(lereq.handler.form) "/>												 -->
												<!-- <input type="date" class="form-control" min="{{lereq.handler.injectTo}}" ng-model="lereq.handler.form.To" ng-disabled="lereq.handler.from_check_button" /> -->							
												<input type="date" class="form-control" min="{{lereq.handler.injectTo}}" ng-model="lereq.handler.form.To" ng-disabled="lereq.handler.from_check_button" ng-change="lereq.handler.getDaysBetween()" />					
											</div>
											<!-- <div class='show-includeADO' ng-hide="lereq.handler.showado">	
												<div class="col-sm-2">
													<label>Include ADO</label>
												</div>
												<div class="col-sm-2" >
													<label class="ui-radio">
														<input 	name="local" 
																type="radio" 
																value="No" 
																ng-model="lereq.handler.form.IncludeAdo"
																ng-change="lereq.handler.getinclude()">
																<span>No</span>
													</label>
													<label class="ui-radio">
														<input 	name="local" 
																type="radio" 
																value='Yes' 
																ng-model="lereq.handler.form.IncludeAdo"
																ng-change="lereq.handler.getinclude()">
																<span>Yes</span>
													</label>
												</div>
											</div> -->
										</fieldset>
									</div>
									<div class='page-ADO' ng-show="lereq.handler.showformado">	
										<hr>
										<div class="form-group">
											<fieldset>
												<div class="col-sm-3">
													<label>Accumulation Day Off (ADO)</label>
												</div>
												<div class="col-sm-2"></div>
												<div class="col-sm-3">
													<label>New Schedule</label>
												</div>
											</fieldset>
										</div>
										<div class="form-group">
											<fieldset>
												<div class="col-sm-2">
													<label>Enter your 1st ADO</label>
												</div>
												<div class="col-sm-2">
													<input 	type="date" 
													class="form-control" 
													placeholder="dd-MM-yyyy"
													ng-change="lereq.handler.check_ado(1)"
													ng-model="lereq.handler.form.date1"
													/>
													<!-- ng-change="lereq.handler.slider(lereq.handler.form.date1)" --> 
													<!-- <input type="text" class="form-control" ng-show="lereq.handler.date_ado[0]" ng-disabled="true" ng-model="lereq.handler.date_ado[0].code"/> -->
												</div>
												<div class="col-sm-1">
												</div>
												<div class="col-sm-2">
													<select class="form-control"  ng-model="lereq.handler.form.ado1">
														<option value=''>-- Select --</option>
														<option value="{{job.id}}"  ng-repeat="job in lereq.handler.schedule">{{job.shif_code}}</option>
													</select>	
												</div>
											</fieldset>
										</div>
										<div class="form-group">
											<fieldset>
												<div class="col-sm-2">
													<label>Enter your 2nd ADO</label>
												</div>
												<div class="col-sm-2">
													<input type="date" class="form-control"
													ng-change="lereq.handler.check_ado(2)"  min="1900-01-01" max="2200-01-01" ng-model="lereq.handler.form.date2"
													ng-disabled="lereq.handler.date2_disabled"/>		

													<!-- <input type="text" class="form-control" ng-show="lereq.handler.date_ado[1]" ng-disabled="true" ng-model="lereq.handler.date_ado[1].code" /> -->
												</div>
												<div class="col-sm-1">
												</div>
												<div class="col-sm-2">
													<select class="form-control"  ng-model="lereq.handler.form.ado2" ng-disabled="lereq.handler.date2_disabled">
														<option value=''>-- Select --</option>
														<option value="{{job.id}}"  ng-repeat="job in lereq.handler.schedule">{{job.shif_code}}</option>
													</select>	
												</div>
											</fieldset>
										</div>
										<div class="form-group">
											<fieldset>
												<div class="col-sm-2">
													<label>Enter your 3rd ADO</label>
												</div>
												<div class="col-sm-2">
													<input type="date" ng-change="lereq.handler.check_ado(3)" class="form-control"  min="1900-01-01" max="2200-01-01" ng-model="lereq.handler.form.date3" 
													ng-disabled="lereq.handler.date3_disabled"/>												
													<!-- <input type="text"class="form-control" ng-show="lereq.handler.date_ado[2]" ng-disabled="true" ng-model="lereq.handler.date_ado[2].code" /> -->
												</div>
												<div class="col-sm-1">
												</div>
												<div class="col-sm-2">
													<select class="form-control"  ng-model="lereq.handler.form.ado3" ng-disabled="lereq.handler.date3_disabled">
														<option value=''>-- Select --</option>
														<option value="{{job.id}}"  ng-repeat="job in lereq.handler.schedule">{{job.shif_code}}</option>
													</select>	
												</div>
											</fieldset>
										</div>
										<div class="form-group">
											<fieldset>
												<div class="col-sm-2">
													<label>Enter your 4th ADO</label>
												</div>
												<div class="col-sm-2">
													<input type="date" class="form-control" ng-change="lereq.handler.check_ado(4)"  min="1900-01-01" max="2200-01-01" ng-model="lereq.handler.form.date4"
													ng-disabled="lereq.handler.date4_disabled"/>												
													<!-- <input type="text" class="form-control" ng-show="lereq.handler.date_ado[3]" ng-disabled="true" ng-model="lereq.handler.date_ado[3].code"/> -->
												</div>
												<div class="col-sm-1">
												</div>
												<div class="col-sm-2">
													<select class="form-control"  ng-model="lereq.handler.form.ado4" ng-disabled="lereq.handler.date4_disabled">
														<option value=''>-- Select --</option>
														<option value="{{job.id}}"  ng-repeat="job in lereq.handler.schedule">{{job.shif_code}}</option>
													</select>	
												</div>
											</fieldset>
										</div>
										<div class="form-group">
											<fieldset>
												<div class="col-sm-2">
													<label>Enter your next Day Off</label>
												</div>
												<div class="col-sm-2">
													<input type="date" ng-change="lereq.handler.nearest_day()" class="form-control"  min="1900-01-01" max="2200-01-01" ng-model="lereq.handler.form.nextday"/>
												</div>
											</fieldset>
										</div>
										<div class="form-group">
											<fieldset>
												<div class="col-sm-2">
													<label>Availment Position :</label>
												</div>
											</fieldset>
										</div>

										<div class="form-group">
											<div class="col-sm-3">
												<input type="date" class="form-control" ng-model="lereq.handler.form.avail1" ng-disabled="lereq.handler.avail1_disabled"/>
<!-- 												<input 	type="text"

style = "border-radius: 50px;"
class="form-control"
data-ng-model="lereq.handler.form.datev1"
style = "text-align:center"
ng-disabled="true"
/>-->
</div>
<div class="col-sm-3">
	<input type="date" class="form-control" ng-model="lereq.handler.form.avail2" ng-disabled="lereq.handler.avail2_disabled"/>
<!-- 												<input 	type="text"
style = "border-radius: 50px;"
class="form-control"
style = "text-align:center"
data-ng-model="lereq.handler.form.datev2"
ng-disabled="true"
/> -->
</div>
<div class="col-sm-3">
	<input type="date" class="form-control" ng-model="lereq.handler.form.avail3" ng-disabled="lereq.handler.avail3_disabled"/>
<!-- 												<input 	type="text"
style = "border-radius: 50px;"
class="form-control"
style = "text-align:center"
data-ng-model="lereq.handler.form.datev3"
ng-disabled="true"
/> -->
</div>
<div class="col-sm-3">
	<input type="date" class="form-control" ng-model="lereq.handler.form.avail4" ng-disabled="lereq.handler.avail4_disabled"/>
												<!-- <input 	type="text"
												style = "border-radius: 50px;"
												class="form-control"
												style = "text-align:center"
												data-ng-model="lereq.handler.form.datev4"
												ng-disabled="true"
												/> -->
											</div>
										</div>

										<div class="form-group">
											<fieldset>
												<div class="col-sm-2">
													<label>Your ADO Availment date : </label>
												</div>
												<div class="col-sm-8">
													<label ng-show="lereq.handler.form.avail1">{{lereq.handler.form.avail1}}</label>,<div class='space'></div>
													<label ng-show="lereq.handler.form.avail2">{{lereq.handler.form.avail2}}</label>,<div class='space'></div>
													<label ng-show="lereq.handler.form.avail3">{{lereq.handler.form.avail3}}</label>,<div class='space'></div>
													<label ng-show="lereq.handler.form.avail4">{{lereq.handler.form.avail4}}</label>,<div class='space'></div>
													<!-- <label>
														{{lereq.handler.form.datev1}},<div class='space'></div>
														{{lereq.handler.form.datev2}},<div class='space'></div>
														{{lereq.handler.form.datev3}},<div class='space'></div> and <div class='space'></div>
														{{lereq.handler.form.datev4}}
													</label> -->
												</div>
											</fieldset>
										</div>
									</div>
									<hr>
									<div class="form-group">
										<fieldset>
											<div class="col-sm-12">
												<label>
													Certification : I hereby request leave/approved absence from duty as indicated above and certifiy
													that such leave/absences is requested for the purpose(s) indicated. i understand that i must with 
													comply with procedures for requesting leave/approved absence (and provide additional documentation, including
													medical certification, if required) and that falsification on this form may be grounds for diciplinary action,
													including termination
												</label>
											</div>										
										</fieldset>
									</div>
									<div class="form-group">
										<fieldset>
											<div class="col-sm-3">
												<label class="ui-checkbox">
													<input  type="checkbox" ng-model="lereq.handler.form.aggred" ng-true-value="1" ng-false-value="0" 
													ng-checked="lereq.handler.form.aggred == 1"><span>I Understood and agreed</span>
												</label>
												<label style ="color:red">*</label><span class="space space-xs"></span>
											</div>										
										</fieldset>
									</div>
								</form>
							</div>
						</div>
						
					</section>

					<div>

						<!-- ## TABLE COMMENT  ##-->
						<section class="panel panel-primary">
							<div class="panel-heading"><label class="text-capitalize">Comments for Consideration</label></div>
							<div class="panel-body">	
								<form name="myForm" class="form-horizontal form-validation">
									<div class="form-group">
										<div class="col-md-12">
											<textarea class="form-control" rows="5" cols="40" ng-model="lereq.handler.form.comment"></textarea>
										</div>
									</div><br>
									<div class="form-group">
										<fieldset>
											<div class='col-sm-1'>
												<button type="button" 
												class="btn btn-default" 
												accept="files/*"
												ngf-select ngf-change="upload($files)"
												ngf-multiple="multiple"
												ng-disabled="lereq.handler.button_submit"
												ng-model="lereq.handler.files">
												Upload a File
											</button>
										</div>		
										<div class='col-sm-2'>
											<label ng-repeat="f in lereq.handler.files"  ng-show="lereq.handler.files">{{f.name}}</label>
										</div>
										<div class='col-sm-3'  ng-show="lereq.handler.files">
											<button class="btn btn-danger"  tooltip-placement="top" tooltip="Delete File" ng-click=" lereq.handler.files = false">
												<span class="glyphicon glyphicon-trash" ></span>
											</button>
										</div>
									</fieldset>
								</div>
								<hr>
								<div class="form-group">										
									<div class="col-sm-6">
										<form>
											<!--ng-show="lereq.handler.button('save')" ng-show="lereq.handler.button('save')"-->
											<button type="submit" class="btn btn-success"  ng-hide="lereq.handler.hideButton == true" ng-click="lereq.handler.save(lereq.handler.files);lereq.handler.files = false" ng-disabled="lereq.handler.button_submit">Save</button>
											<span class="space space-sm"></span>
											<button type="submit" class="btn btn-danger"   ng-click="lereq.handler.cancel()" ng-disabled="lereq.handler.button_submit">Cancel</button>
										</form>
									</div>
								</div>
							</form>
						</div>
					</section>

				</div>						
			</div>
