<div class="" ng-controller="timeInOutController as open">
	<section class="panel panel-primary table-dynamic">
		<div class="panel-heading" ng-click="(showTime = !showTime) && open.handler.saveNew()"><strong><span class="glyphicon glyphicon-th" style="margin-right: 8px;"></span>Time In / Time Out</strong></div>
		<div ng-show="showTime">
			<div class="panel-body">	
				<form name="myForm" class="form-horizontal form-validation">
					<div ng-if="open.handler.cantAccess">
						<div class="form-group">
							<div class="col-sm-2">
								<label>Name</label>
							</div>
							<div class="col-sm-3">
								<input type="text" class="form-control" ng-model="open.form.Name" ng-disabled='true'/></input>		
							</div>
						</div>
					</div>

					<div ng-if="open.handler.canAccess">
						<div class="form-group">
							<div class="col-sm-2">
								<label>Name</label>
							</div>
							<div class="col-sm-3">
								<input 	type="text"
								placeholder="Type for hint . ."
								class="form-control"
								name="name"
								ng-model="open.handler.form.name"
								typeahead="(address.name) for address in open.handler.getLocation($viewValue)" 
								typeahead-loading="loadingLocations"
								typeahead-min-length="4"
								typeahead-wait-ms="300"
								typeahead-on-select="open.handler.onSelect($item, $model, $label)"
								autocomplete="off"


								/>
							</div>
						</div>	
					</div>



					<div class="form-group">
						<div class="col-sm-2">
							<label>Date Request</label>
						</div>
						<div class="col-sm-3">
							<input type="date" 
							class="form-control" 
							ng-model="open.form.date" 
							ng-change="open.dateRequest()"
							min='1900-01-01'
							max='2200-01-01'
							placeholder="yyyy-MM-dd"
							/>

						</div>
					</div>

					<div class="form-group">
						<div class="col-sm-2">
							<label>Current Schedule</label>
						</div>
						<div class="col-sm-3">
							<label>{{open.form.schedule}}</label>		
						</div>
					</div>
					<div class="form-group">
						<div class="col-sm-2">
						</div>
						<div class="col-sm-3">
							<p class="text-center"><label>Time In</label></p>
						</div>
						<div class="col-sm-3">
							<p class="text-center"><label>Time Out</label></p>
						</div>
					</div>
					<div class="form-group">
						<div class="col-sm-2">
							<label>Original</label>
						</div>
						<div class="col-sm-3">
							<p class="text-center"><label>{{open.form.timeIn}}</label></p>	
						</div>
						<div class="col-sm-3">
							<p class="text-center"><label>{{open.form.timeOut}}</label></p>	
						</div>
					</div>
					<div class="form-group">
						<div class="col-sm-2">
							<label>New Entry</label>
						</div>
						<div class="col-sm-3" style="text-align:center">
							<label class="ui-checkbox">
								<input 	type="checkbox"
								ng-disabled='open.handler.formdisabled'
								ng-model="open.checkTimeIn"
								ng-true-value="Yes" 
								ng-false-value="Yes"
								><span>Time In</span>
							</label>
						</div>
						<div class="col-sm-3" style="text-align:center">
							<label class="ui-checkbox">
								<input 	type="checkbox"
								ng-disabled='open.handler.formdisabled'
								ng-model="open.checkTimeOut"
								ng-true-value="Yes" 
								ng-false-value="No"
								><span>Time Out</span>
							</label>
						</div>
					</div>
					<div class="form-group">
						<div class="col-sm-2">
							<label>Requested</label>
						</div>
						<div class="col-sm-3"  style="text-align:center;">
							<div ng-model="open.getTimeIn" ng-change="open.changed()" ng-show="open.checkTimeIn" style="display:inline-block;">
								<timepicker class="ui-timepicker" 
								hour-step="open.hstep" 
								minute-step="open.mstep" 
								show-meridian="open.ismeridian">
							</timepicker>
						</div>	
					</div>
					<div class="col-sm-3"  style="text-align:center;" >
						<div ng-model="open.getTimeOut" ng-change="open.changedOut()" ng-show="open.checkTimeOut" style="display:inline-block;">
							<timepicker class="ui-timepicker" 
							hour-step="open.hstepOut" 
							minute-step="open.mstepOut" 
							show-meridian="open.ismeridian">
						</timepicker>
					</div>	
				</div>
			</div><hr>
			<br>
			<section class="panel panel-default">
				<div class="panel-heading"><label><p class="text-capitalize">Comments for Consideration</p></label></div>
				<div class="panel-body">	
					<div class="form-group">
						<div class="col-sm-12">
							<textarea 	class="form-control" 
							rows="5" 
							cols="60" 
							ng-model="open.form.comment"
							ng-disabled='open.handler.formdisabled'
							>
						</textarea>
					</div>
				</div>
			</div>
		</section>

		<div class="form-group">
			<fieldset>
				<div class='col-sm-2'>
					<button type="button" 
					class="btn btn-default" 
					accept="files/*"
					ngf-select ngf-change="upload($files)"
					ngf-multiple="multiple"
					ng-model="open.handler.files"
					ng-disabled='open.handler.formdisabled'
					>
					Upload a File
				</button>
			</div>		
			<div class='col-sm-2'>
				<label ng-repeat="f in open.handler.files"  ng-show="open.handler.files">{{f.name}}</label>
			</div>
			<div class='col-sm-3'  ng-show="open.handler.files">
				<button class="btn btn-danger"  tooltip-placement="top" tooltip="Delete File" ng-click=" open.handler.files = false">
					<span class="glyphicon glyphicon-trash" ></span>
				</button>
			</div>
		</fieldset>
	</div>

	<div class="modal-footer">
		<button type="submit" 
		class="btn btn-success"  
		ng-click="open.save(open.handler.files)"
		ng-disabled='open.handler.formdisabled'
		>
		Save
	</button>
	<span class="space space-sm"></span>
	<button type="submit" 
	class="btn btn-danger"  
	ng-click="open.cancel()">
	Cancel
</button>	
</div>

</form>
</div>
</div>

</section>


</div>


<!-- LATE REQUEST -->
<div class="" ng-controller="lateDashController as late">
	<section class="panel panel-primary table-dynamic">
		<div class="panel-heading" ng-click="(showLateReq = !showLateReq) && late.handler.saveNew()">
			<strong>
				<span class="glyphicon glyphicon-th" style="margin-right: 8px;"></span>
				<span class="space space-sm"></span>
				Late Request
				<span class="space space-sm"></span>
			</strong>
		</div>

		<div ng-show="showLateReq">
			<div class="panel-body">
				<form name="myForm" class="form-horizontal form-validation">
					<!-- <div class="form-group">
						<div class="col-sm-2">
							<label>Name</label>
						</div>
						<div class="col-sm-3">
							<input type="text" class="form-control" data-ng-model="late.form.Name" ng-disabled='true'/>		
						</div>
					</div> -->
					<div ng-if="late.handler.cantAccess">
						<div class="form-group">
							<div class="col-sm-2">
								<label>Name</label>
							</div>
							<div class="col-sm-3">
								<input type="text" class="form-control" ng-model="late.form.Name" ng-disabled='true'/></input>		
							</div>
						</div>
					</div>

					<div ng-if="late.handler.canAccess">
						<div class="form-group">
							<div class="col-sm-2">
								<label>Name</label>
							</div>
							<div class="col-sm-3">
								<input 	type="text"
								placeholder="Type for hint . ."
								class="form-control"
								name="name"
								ng-model="late.handler.form.name"
								typeahead="(address.name) for address in late.handler.getLocation($viewValue)" 
								typeahead-loading="loadingLocations"
								typeahead-min-length="4"
								typeahead-wait-ms="300"
								typeahead-on-select="late.handler.onSelect($item, $model, $label)"
								autocomplete="off"


								/>
							</div>
						</div>	
					</div>

					<div class="form-group">
						<div class="col-sm-2">
							<label>Date Request</label>
						</div>
						<div class="col-sm-3">
							<input 	type="date" 
							class="form-control" 
							ng-model="late.form.date"
							ng-change="late.getlateRequest()"
							placeholder="yyyy-MM-dd"/>

						</div>
					</div>

					<div class="form-group">
						<div class="col-sm-2">
							<label>Current Schedule</label>
						</div>
						<div class="col-sm-3">
							<label>{{late.form.schedule}}</label>		
						</div>
					</div>

					<div class="form-group">
						<div class="col-sm-2">
							<label>Record Time-In</label>
						</div>
						<div class="col-sm-3">
							<label >{{late.form.timeIn}}</label>
						</div>
					</div>

					<div class="form-group">
						<div class="col-sm-2">
							<label>Late For</label>

						</div>
						<div class="col-sm-3">
							<label>{{late.form.Late}}</label>

						</div>
					</div>
					<hr>
					<br>
					<section class="panel panel-default">
						<div class="panel-heading"><label><p class="text-capitalize">Comments for Consideration</p></label></div>
						<div class="panel-body">	
							<div class="form-group">
								<div class="col-sm-12">
									<textarea class="form-control" rows="5" cols="60" ng-model="late.form.comment"></textarea>
								</div>
							</div>
						</div>
					</section>

					<div class="form-group">
						<fieldset>
							<div class='col-sm-2'>
								<button type="button" 
								class="btn btn-default" 
								accept="files/*"
								ngf-select ngf-change="upload($files)"
								ngf-multiple="multiple"
								ng-model="late.handler.files">
								Upload a File
							</button>
						</div>		
						<div class='col-sm-2'>
							<label ng-repeat="f in late.handler.files"  ng-show="late.handler.files">{{f.name}}</label>
						</div>
						<div class='col-sm-3'  ng-show="late.handler.files">
							<button class="btn btn-danger"  tooltip-placement="top" tooltip="Delete File" ng-click=" late.handler.files = false">
								<span class="glyphicon glyphicon-trash" ></span>
							</button>
						</div>
					</fieldset>
				</div>
				
				<div class="modal-footer">
					<button type="submit" class="btn btn-success"  ng-click="late.save(late.handler.files)">Save</button>
					<span class="space space-sm"></span>
					<button type="submit" class="btn btn-danger"  ng-click="late.cancel()">Cancel</button>	
				</div>
			</form>
		</div>
	</div>
	
</section>	
</div>

<!-- EARLY OUT -->
<div class="" ng-controller="earlyOutController as late">
	<section class="panel panel-primary table-dynamic">
		<div class="panel-heading" ng-click="(showEarlyOut = !showEarlyOut) && late.handler.saveNew()">
			<strong>
				<span class="glyphicon glyphicon-th" style="margin-right: 8px;"></span>
				<span class="space space-sm"></span>
				Early Out
				<span class="space space-sm"></span>
			</strong>
		</div>

		<div ng-show="showEarlyOut">
			<div class="panel-body">
				<form name="myForm" class="form-horizontal form-validation">
					<!-- <div class="form-group">
						<div class="col-sm-2">
							<label>Name</label>
						</div>
						<div class="col-sm-3">
							<input type="text" class="form-control" data-ng-model="late.form.Name" ng-disabled='true'/>		
						</div>
					</div> -->
					<div ng-if="late.handler.cantAccess">
						<div class="form-group">
							<div class="col-sm-2">
								<label>Name</label>
							</div>
							<div class="col-sm-3">
								<input type="text" class="form-control" ng-model="late.form.Name" ng-disabled='true'/></input>		
							</div>
						</div>
					</div>

					<div ng-if="late.handler.canAccess">
						<div class="form-group">
							<div class="col-sm-2">
								<label>Name</label>
							</div>
							<div class="col-sm-3">
								<input 	type="text"
								placeholder="Type for hint . ."
								class="form-control"
								name="name"
								ng-model="late.handler.form.name"
								typeahead="(address.name) for address in late.handler.getLocation($viewValue)" 
								typeahead-loading="loadingLocations"
								typeahead-min-length="4"
								typeahead-wait-ms="300"
								typeahead-on-select="late.handler.onSelect($item, $model, $label)"
								autocomplete="off"


								/>
							</div>
						</div>	
					</div>


					<div class="form-group">
						<div class="col-sm-2">
							<label>Date Request</label>
						</div>
						<div class="col-sm-3">
							

							<input 	type="date" 
							class="form-control" 
							ng-change="late.getearlyRequest()"
							ng-model="late.form.date" 
							placeholder="yyyy-MM-dd"
							/>
						</div>
					</div>

					<div class="form-group">
						<div class="col-sm-2">
							<label>Current Schedule</label>
						</div>
						<div class="col-sm-3">
							<label>{{late.form.schedule}}</label>		
						</div>
					</div>

					<div class="form-group">
						<div class="col-sm-2">
							<label>Record Time-Out</label>
						</div>
						<div class="col-sm-3">

							<label>{{late.form.timeOut}}</label>
						</div>
					</div>

					<div class="form-group">
						<div class="col-sm-2">
							<label>Early For</label>
						</div>
						<div class="col-sm-3">
							<label >{{late.form.EarlyOut}}</label>
						</div>
					</div>
					<hr>
					<br>
					<section class="panel panel-default">
						<div class="panel-heading"><label><p class="text-capitalize">Comments for Consideration</p></label></div>
						<div class="panel-body">	
							<div class="form-group">
								<div class="col-sm-12">
									<textarea class="form-control" rows="5" cols="60" ng-model="late.form.comment"></textarea>
								</div>
							</div>
						</div>
					</section>

					<div class="form-group">
						<fieldset>
							<div class='col-sm-2'>
								<button type="button" 
								class="btn btn-default" 
								accept="files/*"
								ngf-select ngf-change="upload($files)"
								ngf-multiple="multiple"
								ng-model="late.handler.files">
								Upload a File
							</button>
						</div>		
						<div class='col-sm-2'>
							<label ng-repeat="f in late.handler.files"  ng-show="late.handler.files">{{f.name}}</label>
						</div>
						<div class='col-sm-3'  ng-show="late.handler.files">
							<button class="btn btn-danger"  tooltip-placement="top" tooltip="Delete File" ng-click=" late.handler.files = false">
								<span class="glyphicon glyphicon-trash" ></span>
							</button>
						</div>
					</fieldset>
				</div>
				
				<div class="modal-footer">
					<button type="submit" class="btn btn-success"  ng-click="late.save(late.handler.files)">Save</button>
					<span class="space space-sm"></span>
					<button type="submit" class="btn btn-danger"  ng-click="late.cancel()">Cancel</button>	
				</div>
			</form>
		</div>
	</div>
	
</section>	
</div>
