<div class=""  ng-controller="timeInOutController as open">

	<section class="panel panel-primary table-dynamic">
		<div class="panel-heading" ng-click="showTime = !showTime"><strong><span class="glyphicon glyphicon-th" style="margin-right: 8px;"></span>Time In / Time Out</strong></div>
		<div ng-show="showTime">
			<div class="panel-body">	
				<form name="myForm" class="form-horizontal form-validation">
					<div class="form-group">
						<div class="col-sm-2">
							<label>Name</label>
						</div>
						<div class="col-sm-3">
							<input type="text" class="form-control" ng-model="open.form.Name" ng-disabled='true'/></input>		
						</div>
					</div>
					<div class="form-group">
						<div class="col-sm-2">
							<label>Date Request</label>
						</div>
						<div class="col-sm-3">
							<input type="date" 
							class="form-control" 
							ng-model="open.form.date" 
							ng-change="open.dateRequest()"
							min='1900-01-01'
							max='2200-01-01'
							placeholder="yyyy-MM-dd"
							/>
							<!-- ng-disabled='open.handler.formdisabled' -->
							<!-- ng-disabled="open.form.noTimeIn== 'no' || open.form.noTimeOut== 'no'" -->
						</div>
					</div>

					<div class="form-group">
						<div class="col-sm-2">
							<label>Current Schedule</label>
						</div>
						<div class="col-sm-3">
							<label>{{open.form.schedule}}</label>		
						</div>
					</div>
					<div class="form-group">
						<div class="col-sm-2">
						</div>
						<div class="col-sm-3">
							<p class="text-center"><label>Time In</label></p>
						</div>
						<div class="col-sm-3">
							<p class="text-center"><label>Time Out</label></p>
						</div>
					</div>
					<div class="form-group">
						<div class="col-sm-2">
							<label>Original</label>
						</div>
						<div class="col-sm-3">
							<p class="text-center"><label>{{open.form.timeIn}}</label></p>	
						</div>
						<div class="col-sm-3">
							<p class="text-center"><label>{{open.form.timeOut}}</label></p>	
						</div>
					</div>
					<div class="form-group">
						<div class="col-sm-2">
							<label>New Entry</label>
						</div>
						<div class="col-sm-3" style="text-align:center">
							<label class="ui-checkbox">
								<input 	type="checkbox"
								ng-disabled='open.handler.formdisabled'
								ng-model="open.checkTimeIn"
								ng-true-value="Yes" 
								ng-false-value="Yes"
								><span>Time In</span>
							</label>
						</div>
						<div class="col-sm-3" style="text-align:center">
							<label class="ui-checkbox">
								<input 	type="checkbox"
								ng-disabled='open.handler.formdisabled'
								ng-model="open.checkTimeOut"
								ng-true-value="Yes" 
								ng-false-value="No"
								><span>Time Out</span>
							</label>
						</div>
					</div>
					<div class="form-group">
						<div class="col-sm-2">
							<label>Requested</label>
						</div>
						<div class="col-sm-3"  style="text-align:center;">
							<div ng-model="open.getTimeIn" ng-change="open.changed()" ng-show="open.checkTimeIn" style="display:inline-block;">
								<timepicker class="ui-timepicker" 
								hour-step="open.hstep" 
								minute-step="open.mstep" 
								show-meridian="open.ismeridian">
							</timepicker>
						</div>	
					</div>
					<div class="col-sm-3"  style="text-align:center;" >
						<div ng-model="open.getTimeOut" ng-change="open.changedOut()" ng-show="open.checkTimeOut" style="display:inline-block;">
							<timepicker class="ui-timepicker" 
							hour-step="open.hstepOut" 
							minute-step="open.mstepOut" 
							show-meridian="open.ismeridian">
						</timepicker>
					</div>	
				</div>
			</div><hr>
			<br>
			<section class="panel panel-default">
				<div class="panel-heading"><label><p class="text-capitalize">Comments for Consideration</p></label></div>
				<div class="panel-body">	
					<div class="form-group">
						<div class="col-sm-12">
							<textarea 	class="form-control" 
							rows="5" 
							cols="60" 
							ng-model="open.form.comment"
							ng-disabled='open.handler.formdisabled'
							>
						</textarea>
					</div>
				</div>
			</div>
		</section>

		<div class="form-group">
			<fieldset>
				<div class='col-sm-2'>
					<button type="button" 
					class="btn btn-default" 
					accept="files/*"
					ngf-select ngf-change="upload($files)"
					ngf-multiple="multiple"
					ng-model="open.handler.files"
					ng-disabled='open.handler.formdisabled'
					>
					Upload a File
				</button>
			</div>		
			<div class='col-sm-2'>
				<label ng-repeat="f in open.handler.files"  ng-show="open.handler.files">{{f.name}}</label>
			</div>
			<div class='col-sm-3'  ng-show="open.handler.files">
				<button class="btn btn-danger"  tooltip-placement="top" tooltip="Delete File" ng-click=" open.handler.files = false">
					<span class="glyphicon glyphicon-trash" ></span>
				</button>
			</div>
		</fieldset>
	</div>

	<div class="modal-footer">
		<button type="submit" 
		class="btn btn-success"  
		ng-click="open.save(open.handler.files)"
		ng-disabled='open.handler.formdisabled'
		>
		Save
	</button>
	<span class="space space-sm"></span>
	<button type="submit" 
	class="btn btn-danger"  
	ng-click="open.cancel()">
	Cancel
</button>	
</div>

</form>
</div>
</div>

</section>


<!-- <div ng-controller="timeInOutController as tio">
 	<button ng-click="tio.handler.newData()">LALA</button>
</div> -->



