
		<div class="page page-table" ng-controller="attCutOffController as attcut">
					
					<section class="panel panel-primary table-dynamic">
						<div class="panel-heading"><strong><span class="glyphicon glyphicon-th" style="margin-right: 8px;"></span>Attendance Cut-Off</strong></div>
							<div class="panel-body">	
								<form name="myForm" class="form-horizontal form-validation">
									<div class="form-group">
										<div class="col-sm-2">
											<label>Attendance Cut-Off Period</label><span class="space space-sm"></span><label style ="color:red">*</label>
										</div>
										<div class="col-sm-2">
											<select class="form-control"  ng-model="attcut.handler.form.attendance">
												<option value=''>-- Select --</option>
												<option value="{{job.periode}}"  ng-repeat="job in attcut.handler.dataperiod">{{job.periode}}</option>
											</select>											
										</div>
										<div class="col-sm-1">
											<label>Department</label>
										</div>
										<div class="col-sm-2">	
											<select class='form-control' 
												ng-model="attcut.handler.form.department" 
												ng-options="job.id as job.name for job in attcut.handler.depart">
												<option value=""> --  All -- </option>
											</select>
										</div>
									</div>
									<div class="form-group">
										<div class="col-sm-2">
											<label>Job Title</label>
										</div>
										<div class="col-sm-2">
											<select class='form-control' 
												ng-model="attcut.handler.form.job" 
												ng-options="job.id as job.title for job in attcut.handler.jobs">
												<option value=""> --  All -- </option>
											</select>
										</div>
										<div class="col-sm-1">
											<label 	class="ui-radio">
												<input	name="local" 
														type="radio" 
														value='1' 
														ng-model="attcut.handler.form.radio"
												/>
												<span>Expat</span>
											</label>
										</div>
										<div class="col-sm-1">
											<label 	class="ui-radio">
												<input	name="local" 
														type="radio" 
														value='2' 
														ng-model="attcut.handler.form.radio"
												/>
												<span>Local</span>
											</label>
										</div>
										<div class="col-sm-1">
											<label 	class="ui-radio">
												<input	name="local" 
														type="radio" 
														value="3"
														ng-checked="true"
														ng-model="attcut.handler.form.radio"
												/>
												<span>Both</span>
											</label>
										</div>	
									</div>
									<br>
									<div class="form-group">
										<fieldset>
											<div class="col-sm-3">
												<label style ="color:red">*</label><span class="space space-xs"></span><label><small>Required field</small></label>
											</div>										
										</fieldset>
									</div>
									<hr>
									<div class="form-group">										
										<div class="col-sm-6">
											<form>
												<button type="submit" 
														class="btn btn-success"  
														ng-click="attcut.handler.view()"
														ng-show="attcut.handler.button('read')">
														View
												</button>
											</form>
										</div>
									</div>
								</form>
							</div>
					</section>
					
					
					<!-- ## TABLE ATTEDANCE  CUTT OFF ## -->
					
					<section class="panel panel-primary table-dynamic">
						<div class="panel-body">
							<div class="table-filters" >
								<div class="row">
									<div class="col-sm-3"></div>
									<div class="col-sm-1">

										<button class="btn btn-small" ng-click="attcut.handler.prev()">Prev</button>
										
									</div>
									<div class="col-sm-4">
										<tabset class="ui-tab" style="max-width:470px;">	
											<tab  ng-repeat="a in attcut.handler.dataRange"
										          heading="{{a.tab}}" 
										          active="a.active" 
										          select="attcut.handler.setIndex($index)">
										    </tab>
										</tabset>
									</div>
									<div class="col-sm-1">
										<button class="btn btn-small" ng-click="attcut.handler.next()">Next</button>
									</div>
									<div class="col-sm-4"></div>
								</div>
							</div>
							<table class="table table-bordered table-striped table-responsive">
								<thead>
									<tr>
										<th ng-repeat='a in attcut.handler.headers'  width='{{a.width}}'>
											<div class="th">
												{{a.name}}
												<span class="fa fa-angle-up"
													  data-ng-if="a.sort"
													  data-ng-click="attcut.handler.setactiveheader(a,true) "
													  data-ng-class="{active: $index == attcut.handler.activeheader.id && attcut.handler.activeheader.order == true}">
												</span>
												<span class="fa fa-angle-down"
													  data-ng-if="a.sort"
													  data-ng-click=" attcut.handler.setactiveheader(a,false) "
													  data-ng-class="{active: $index == attcut.handler.activeheader.id && attcut.handler.activeheader.order == false}">
												</span>
											</div>
										</th>
									</tr>
								</thead>
								<tbody>
									<!--<tr data-ng-repeat="a in attcut.handler.getdata() | orderBy: attcut.handler.activeheader.sort : attcut.handler.activeheader.order track by [$index]">
										<td style="text-align:center">
											{{a.Name}}
										</td>
										<td style="text-align:center">
											{{a.date}}
										</td>
										<td style="text-align:center" ng-class="{'color-green': a.schedule_ex === 'green_block'}">{{a.schedule}}</td>
										<td style="text-align:center" 
											ng-class="{'color-green': a.schedule_ex === 'green_block','color-red': a.time_In_ex === 'yes'}">
											{{a.timeIn}}
										</td>
										<td style="text-align:center" 
											ng-class="{'color-green': a.schedule_ex === 'green_block','color-red': a.time_out_ex === 'yes'}">
											{{a.timeOut}}
										</td>
										<td style="text-align:center" 
											ng-class="{'color-green': a.schedule_ex === 'green_block','color-red': a.workhour_ex === 'yes'}">
											{{a.WorkHours}}
										</td>
										<td style="text-align:center" 
											ng-class="{'color-green': a.schedule_ex === 'green_block','color-red': a.overtime_ex === 'yes'}">
											{{a.total_overtime}}
										</td>
										<td style="text-align:center" 
											ng-class="{'color-green': a.schedule_ex === 'green_block','color-red': a.restday_ex === 'yes'}">
											{{a.OvertimeRestDay}}
										</td>
										<td style="text-align:center" 
											ng-class="{'color-green': a.schedule_ex === 'green_block','color-red': a.short_ex === 'yes'}">
											{{a.Short}}
										</td>
										<td style="text-align:center" 
											ng-class="{'color-green': a.schedule_ex === 'green_block','color-red': a.late_ex === 'yes'}">
											{{a.Late}}
										</td>
										<td style="text-align:center" 
											ng-class="{'color-green': a.schedule_ex === 'green_block','color-red': a.early_out_ex === 'yes'}">
											{{a.EarlyOut}}
										</td>
									</tr>-->
									<tr data-ng-repeat="a in attcut.handler.getdata() | orderBy: attcut.handler.activeheader.sort : attcut.handler.activeheader.order track by [$index]" >
										<td style="text-align:center" ng-class="{'color-green': a.schedule === 'DO'}">
											{{a.Name}}
										</td>
										<td style="text-align:center" ng-class="{'color-green': a.schedule === 'DO'}">
											{{a.date}}
											<span><b>{{a.check_holiday}}</b></span>
										</td>
										<td style="text-align:center" ng-class="{'color-green': a.schedule === 'DO'}">{{a.schedule}}</td>
										<td style="text-align:center" 
											ng-class="{'color-green': a.schedule === 'DO'}"
											ng-style="{'color': a.C_TimeIn }"
											>
											{{a.timeIn}}
										</td>
										<td style="text-align:center" 
											ng-class="{'color-green': a.schedule === 'DO'}"
											ng-style="{'color': a.C_TimeOut }"
											>
											{{a.timeOut}}
										</td>
										<td style="text-align:center" 
											ng-class="{'color-green': a.schedule === 'DO'}"
											ng-class="{'color-red': a.workStatus === 'yes','color-green': a.schedule === 'DO'}"
											>
											{{a.WorkHours}}
										</td>
										<td style="text-align:center" 
											ng-class="{'color-green': a.schedule === 'DO'}"
											ng-style="{'color': a.new_color_overtime}"
											>
											{{a.total_overtime}}
										</td>
										<td style="text-align:center" 
											ng-class="{'color-green': a.schedule === 'DO'}"
											ng-style="{'color': a.OvertimeRestDay_Color  }"
											>
											{{a.OvertimeRestDay}}
										</td>
										<td style="color:red; text-align:center" 
											ng-class="{'color-green': a.schedule === 'DO'}"
											>
											{{a.Short}}
										</td>
										<td style="text-align:center" 
											ng-class="{'color-green': a.schedule === 'DO'}"
											ng-style="{'color' : a.colorLate}"
											>
											{{a.Late}}
										</td>
										<td style="text-align:center" 
											ng-class="{'color-green': a.schedule === 'DO'}"
											ng-style="{'color' : a.early_c}"
											>
											{{a.EarlyOut}}
										</td>
									</tr>
								</tbody>
							</table>
							<footer class="table-footer">
								<div class="row">
									<div class="col-md-6 page-num-info">	
										<span>
											Show 
											<select data-ng-model="attcut.handler.numPerPage"
													data-ng-options="num for num in attcut.handler.numPerPageOpt"
													data-ng-change="onNumPerPageChange()">
											</select> 
											entries per page
										</span>
									</div>
									<div class="col-md-6 text-right pagination-container">
										<pagination class="pagination-sm"
													ng-model="attcut.handler.currentPage"
													total-items="attcut.handler.filtered.length"
													max-size="4"
													ng-change="select(currentPage)"
													items-per-page="attcut.handler.numPerPage"
													rotate="false"
										></pagination>
									</div>
								</div>
							</footer>							
							<form name="myForm" class="form-horizontal form-validation">
								<div class="form-group">										
									<div class="col-sm-6">
										<form>
											<button type="submit" 
													class="btn btn-success"  
													ng-disabled = "attcut.handler.cutoff_disabled" 
													ng-click="attcut.handler.cutOff()"
													ng-show="attcut.handler.button('read')">
													Cut Off
											</button>
										</form>
									</div>
								</div>
							</form>
						</div>
					</section>
			
		</div>