
		<div class="page page-table" ng-controller="attCutOffController as attcut">
					
					<section class="panel panel-primary table-dynamic">
						<div class="panel-heading"><strong><span class="glyphicon glyphicon-th" style="margin-right: 8px;"></span>Attendance Cut-Off</strong></div>
							<div class="panel-body">	
								<form name="myForm" class="form-horizontal form-validation">
									<div class="form-group">
										<div class="col-sm-2">
											<label>Attendance Cut-Off Period</label><span class="space space-sm"></span><label style ="color:red">*</label>
										</div>
										<div class="col-sm-2">
											<select class="form-control"  ng-model="attcut.handler.form.attendance">
												<option value=''>-- Select --</option>
												<option value="{{job.periode}}"  ng-repeat="job in attcut.handler.dataperiod">{{job.periode}}</option>
											</select>											
										</div>
										<div class="col-sm-2">
											<label>Department</label>
										</div>
										<div class="col-sm-2">
									
											<select class='form-control' 
												ng-model="attcut.handler.form.department" 
												ng-options="job.id as job.name for job in attcut.handler.depart">
												<option value=""> --  Select -- </option>
											</select>
											<!-- <select class="form-control"  ng-model="attcut.handler.form.department">
												<option value=''>-- Select --</option>
												<option value="{{job.id}}" ng-repeat="job in attcut.handler.depart">{{job.name}}</option>
											</select> -->	
										</div>

									</div>
									<div class="form-group">
										<div class="col-sm-2">
											<label>Job Title</label>
										</div>
										<div class="col-sm-2">
											<select class='form-control' 
												ng-model="attcut.handler.form.job" 
												ng-options="job.id as job.title for job in attcut.handler.jobs">
												<option value=""> --  Select -- </option>
											</select>
											
											<!-- <select class="form-control"  ng-model="attcut.handler.form.job">
												<option value=''>-- Select --</option>
												<option value="{{job.id}}"  ng-repeat="job in attcut.handler.jobs">{{job.title}}</option>
											</select>	 -->
										</div>
										<div class="col-sm-1">
											<label><input type="radio" 
													name="local"
													ng-model = "attcut.handler.form.radio"
													value="1"
													>&nbsp;&nbsp;Local
											</label>
										</div>
										<div class="col-sm-1">
											<label><input type="radio" 
													name="local"
													ng-model = "attcut.handler.form.radio"
													value ="2">
													&nbsp;&nbsp;Expat
											</label>
										</div>
										<div class="col-sm-1">
											<label><input type="radio" 
													name="local"
													ng-model = "attcut.handler.form.radio"
													value="3"
													ng-checked="true"
													ng-value="true"
													checked="checked">
													&nbsp;&nbsp;Both
											</label>
										</div>	
									</div>
								
									<br>
									<div class="form-group">
										<fieldset>
											<div class="col-sm-3">
												<label style ="color:red">*</label><span class="space space-xs"></span><label><small>Required field</small></label>
											</div>										
										</fieldset>
									</div>
									<hr>
									<div class="form-group">										
										<div class="col-sm-6">
											<form>
												<button type="submit" 
														class="btn btn-success"  
														ng-click="attcut.handler.view()"
														ng-show="attcut.handler.button('read')">
														View
												</button>
											</form>
										</div>
									</div>
								</form>
							</div>
					</section>
					
					
					<!-- ## TABLE ATTEDANCE  CUTT OFF ## -->
					
					<section class="panel panel-primary table-dynamic">
						<div class="panel-body">
							<table class="table table-bordered table-striped table-responsive">
								<thead>
									<tr>
										<th ng-repeat='a in attcut.handler.headers'  width='{{a.width}}'>
											<div class="th">
												{{a.name}}
												<span class="fa fa-angle-up"
													  data-ng-if="a.sort"
													  data-ng-click="attcut.handler.setactiveheader(a,true) "
													  data-ng-class="{active: $index == attcut.handler.activeheader.id && attcut.handler.activeheader.order == true}">
												</span>
												<span class="fa fa-angle-down"
													  data-ng-if="a.sort"
													  data-ng-click=" attcut.handler.setactiveheader(a,false) "
													  data-ng-class="{active: $index == attcut.handler.activeheader.id && attcut.handler.activeheader.order == false}">
												</span>
											</div>
										</th>
									</tr>
								</thead>
								<tbody>
									<tr data-ng-repeat="a in attcut.handler.getdata() | orderBy: attcut.handler.activeheader.sort : attcut.handler.activeheader.order track by [$index]">
										<td style="text-align:center">
											{{a.Name}}
										</td>
										<td style="text-align:center">
											{{a.date}}
										</td>
										<td style="text-align:center" ng-class="{'block-green': a.schedule_ex === 'green_block'}">{{a.schedule}}</td>
										<td style="text-align:center" 
											ng-class="{'block-green': a.schedule_ex === 'green_block','color-red': a.time_In_ex === 'yes'}">
											{{a.timein}}
										</td>
										<td style="text-align:center" 
											ng-class="{'block-green': a.schedule_ex === 'green_block','color-red': a.time_out_ex === 'yes'}">
											{{a.time_out}}
										</td>
										<td style="text-align:center" 
											ng-class="{'block-green': a.schedule_ex === 'green_block','color-red': a.workhour_ex === 'yes'}">
											{{a.workhour}}
										</td>
										<td style="text-align:center" 
											ng-class="{'block-green': a.schedule_ex === 'green_block','color-red': a.overtime_ex === 'yes'}">
											{{a.overtime}}
										</td>
										<td style="text-align:center" 
											ng-class="{'block-green': a.schedule_ex === 'green_block','color-red': a.restday_ex === 'yes'}">
											{{a.retsday}}
										</td>
										<td style="text-align:center" 
											ng-class="{'block-green': a.schedule_ex === 'green_block','color-red': a.short_ex === 'yes'}">
											{{a.short}}
										</td>
										<td style="text-align:center" 
											ng-class="{'block-green': a.schedule_ex === 'green_block','color-red': a.late_ex === 'yes'}">
											{{a.late}}
										</td>
										<td style="text-align:center" 
											ng-class="{'block-green': a.schedule_ex === 'green_block','color-red': a.early_out_ex === 'yes'}">
											{{a.early_out}}
										</td>
									</tr>
								</tbody>
							</table>
							<footer class="table-footer">
								<div class="row">
									<div class="col-md-6 page-num-info">	
										<span>
											Show 
											<select data-ng-model="attcut.handler.numPerPage"
													data-ng-options="num for num in attcut.handler.numPerPageOpt"
													data-ng-change="onNumPerPageChange()">
											</select> 
											entries per page
										</span>
									</div>
									<div class="col-md-6 text-right pagination-container">
										<pagination class="pagination-sm"
													ng-model="attcut.handler.currentPage"
													total-items="attcut.handler.filtered.length"
													max-size="4"
													ng-change="select(currentPage)"
													items-per-page="attcut.handler.numPerPage"
													rotate="false"
										></pagination>
									</div>
								</div>
							</footer>							
							<form name="myForm" class="form-horizontal form-validation">
								<div class="form-group">										
									<div class="col-sm-6">
										<form>
											<button type="submit" 
													class="btn btn-success"  
													ng-click="attcut.handler.cutOff()"
													ng-show="attcut.handler.button('read')">
													Cut Off
											</button>
										</form>
									</div>
								</div>
							</form>
						</div>
					</section>
			
		</div>