
		<div class="page page-attRecord" ng-controller="attrecordcontroller as attrecord">
			
			<section class="panel panel-primary table-dynamic">
				<div class="panel-heading">
					<strong><span class="glyphicon glyphicon-th"></span><div class='space'></div>Attendance Cut Off Record</strong>
				</div>
				<div class="panel-body">
					<form name="merchantForm" class='form form-validation'>
						<div class="form-group">
							<fieldset>
								<label class="col-sm-2 control-label"> Attendance Cut Off Period
									<span class='color-danger'> * </span>
								</label>
								<div class="col-sm-3">
									<select class='form-control' 
										ng-model="attrecord.handler.form.attendance" 
										ng-options="job.periode as job.periode for job in attrecord.handler.dataperiod">
										<option value=""> --  Select -- </option>
									</select>
								</div>
								<div class="col-sm-1">
									<label>Department</label>
								</div>
								<div class="col-sm-2">	
									<select class='form-control' 
										ng-model="attrecord.handler.form.department" 
										ng-options="job.id as job.name for job in attrecord.handler.department">
										<option value=""> --  All -- </option>
									</select>
								</div>
							</fieldset>
						</div>
						<div class="form-group">
							<div class="form-group">
								<div class="col-sm-2">
									<label>Job Title</label>
								</div>
								<div class="col-sm-2">
									<select class='form-control' 
										ng-model="attrecord.handler.form.job" 
										ng-options="job.id as job.title for job in attrecord.handler.job">
										<option value=""> --  All -- </option>
									</select>
								</div>
								<div class="col-sm-1">
									<label 	class="ui-radio">
										<input	name="local" 
												type="radio" 
												value='1' 
												ng-model="attrecord.handler.form.radio"
										/>
										<span>Expat</span>
									</label>
								</div>
								<div class="col-sm-1">
									<label 	class="ui-radio">
										<input	name="local" 
												type="radio" 
												value='2' 
												ng-model="attrecord.handler.form.radio"
										/>
										<span>Local</span>
									</label>
								</div>
								<div class="col-sm-1">
									<label 	class="ui-radio">
										<input	name="local" 
												type="radio" 
												value="3"
												ng-checked="true"
												ng-model="attrecord.handler.form.radio"
										/>
										<span>Both</span>
									</label>
								</div>	
							</div>
						</div>
						<hr>
						<br>
						<div class="form-group">
							<fieldset>
								<div class='col-sm-4'>
									<button type="submit" 
											class="btn btn-success" 
											ng-click="attrecord.handler.view()"
											ng-show="attrecord.handler.button('read')">
											View
									</button>
								</div>
							</fieldset>
						</div>
					</form>
				</div>
			</section>
					
			<!-- TABLE ATTEDANCE RECORD -->
			<section class="panel panel-primary table-dynamic">
				<div class="panel-heading">
					<strong><span class="glyphicon glyphicon-th" style="margin-right: 8px;"></span>Attendance Record For The Period : </strong>
				</div>
				<div class="panel-body">
				<br>
				<table class="table table-bordered table-striped table-responsive">
					<thead>
						<tr>
							<th>
								<div class="th">
									No.
								</div>
							</th>
							<th>
								<div class="th">
									Last
								</div>
							</th>
							<th>
								<div class="th">
									First Name
								</div>
							</th>
							<th ng-repeat='b in attrecord.handler.getdate'>
								<div class="th">
									{{b.date  | date:"dd"}}
								</div>
							</th>
							<th>
								<div class="th">
									TAR(Mins)
								</div>
							</th>
							<th>
								<div class="th">
									ABS(Day)
								</div>
							</th>
							<th>
								<div class="th">
									ND(Hrs)
								</div>
							</th>
							<th>
								<div class="th">
									ND(OT)(Mins)
								</div>
							</th>
							<th>
								<div class="th">
									ROT(Mins)
								</div>
							</th>
							<th>
								<div class="th">
									ROT DO(Mins)
								</div>
							</th>
						</tr>
					</thead>
					<tbody>
						<tr data-ng-repeat="a in attrecord.handler.getdata() | orderBy: attrecord.handler.activeheader.sort : attrecord.handler.activeheader.order track by [$index]" ng-if='attrecord.handler.check_data(a,($index+1))' ng-bind-html='attrecord.handler.listTable'>
							<!-- <td>{{$index +1}}</td>
							<td>{{a.last_name}}</td>
							<td>{{a.first_name}}</td>
							<td style="text-align:center" ng-class="{'color-green': a.statusa === 'green','color-yellow': a.statusa === 'yellow','color-pink': a.statusa === 'red','color-brown': a.statusa === 'brown'}" ng-if='a.a'><b>{{a.a}}</b></td>
							<td style="text-align:center" ng-class="{'color-green': a.statusb === 'green','color-yellow': a.statusb === 'yellow','color-pink': a.statusb === 'red','color-brown': a.statusb === 'brown'}" ng-if='a.b'><b>{{a.b}}</b></td>
							<td style="text-align:center" ng-class="{'color-green': a.statusc === 'green','color-yellow': a.statusc === 'yellow','color-pink': a.statusc === 'red','color-brown': a.statusc === 'brown'}" ng-if='a.c'><b>{{a.c}}</b></td>
							<td style="text-align:center" ng-class="{'color-green': a.statusd === 'green','color-yellow': a.statusd === 'yellow','color-pink': a.statusd === 'red','color-brown': a.statusd === 'brown'}" ng-if='a.d'><b>{{a.d}}</b></td>
							<td style="text-align:center" ng-class="{'color-green': a.statuse === 'green','color-yellow': a.statuse === 'yellow','color-pink': a.statuse === 'red','color-brown': a.statuse === 'brown'}" ng-if='a.e'><b>{{a.e}}</b></td>
							<td style="text-align:center" ng-class="{'color-green': a.statusf === 'green','color-yellow': a.statusf === 'yellow','color-pink': a.statusf === 'red','color-brown': a.statusf === 'brown'}" ng-if='a.f'><b>{{a.f}}</b></td>
							<td style="text-align:center" ng-class="{'color-green': a.statusg === 'green','color-yellow': a.statusg === 'yellow','color-pink': a.statusg === 'red','color-brown': a.statusg === 'brown'}" ng-if='a.g'><b>{{a.g}}</b></td>
							<td style="text-align:center" ng-class="{'color-green': a.statush === 'green','color-yellow': a.statush === 'yellow','color-pink': a.statush === 'red','color-brown': a.statush === 'brown'}" ng-if='a.h'><b>{{a.h}}</b></td>
							<td style="text-align:center" ng-class="{'color-green': a.statusi === 'green','color-yellow': a.statusi === 'yellow','color-pink': a.statusi === 'red','color-brown': a.statusi === 'brown'}" ng-if='a.i'><b>{{a.i}}</b></td>
							<td style="text-align:center" ng-class="{'color-green': a.statusj === 'green','color-yellow': a.statusj === 'yellow','color-pink': a.statusj === 'red','color-brown': a.statusj === 'brown'}" ng-if='a.j'><b>{{a.j}}</b></td>
							<td style="text-align:center" ng-class="{'color-green': a.statusk === 'green','color-yellow': a.statusk === 'yellow','color-pink': a.statusk === 'red','color-brown': a.statusk === 'brown'}" ng-if='a.k'><b>{{a.k}}</b></td>
							<td style="text-align:center" ng-class="{'color-green': a.statusl === 'green','color-yellow': a.statusl === 'yellow','color-pink': a.statusl === 'red','color-brown': a.statusl === 'brown'}" ng-if='a.l'><b>{{a.l}}</b></td>
							<td style="text-align:center" ng-class="{'color-green': a.statusm === 'green','color-yellow': a.statusm === 'yellow','color-pink': a.statusm === 'red','color-brown': a.statusm === 'brown'}" ng-if='a.m'><b>{{a.m}}</b></td>
							<td style="text-align:center" ng-class="{'color-green': a.statusn === 'green','color-yellow': a.statusn === 'yellow','color-pink': a.statusn === 'red','color-brown': a.statusn === 'brown'}" ng-if='a.n'><b>{{a.n}}</b></td>
							<td style="text-align:center" ng-class="{'color-green': a.statuso === 'green','color-yellow': a.statuso === 'yellow','color-pink': a.statuso === 'red','color-brown': a.statuso === 'brown'}" ng-if='a.o'><b>{{a.o}}</b></td>
							<td style="text-align:center" ng-class="{'color-green': a.statusp === 'green','color-yellow': a.statusp === 'yellow','color-pink': a.statusp === 'red','color-brown': a.statusp === 'brown'}" ng-if='a.p'><b>{{a.p}}</b></td>
							<td style="text-align:center" ng-class="{'color-green': a.statusq === 'green','color-yellow': a.statusq === 'yellow','color-pink': a.statusq === 'red','color-brown': a.statusq === 'brown'}" ng-if='a.q'><b>{{a.q}}</b></td>
							<td style="text-align:center" ng-class="{'color-green': a.statusr === 'green','color-yellow': a.statusr === 'yellow','color-pink': a.statusr === 'red','color-brown': a.statusr === 'brown'}" ng-if='a.r'><b>{{a.r}}</b></td>
							<td style="text-align:center" ng-class="{'color-green': a.statuss === 'green','color-yellow': a.statuss === 'yellow','color-pink': a.statuss === 'red','color-brown': a.statuss === 'brown'}" ng-if='a.s'><b>{{a.s}}</b></td>
							<td style="text-align:center" ng-class="{'color-green': a.statust === 'green','color-yellow': a.statust === 'yellow','color-pink': a.statust === 'red','color-brown': a.statust === 'brown'}" ng-if='a.t'><b>{{a.t}}</b></td>
							<td style="text-align:center" ng-class="{'color-green': a.statusu === 'green','color-yellow': a.statusu === 'yellow','color-pink': a.statusu === 'red','color-brown': a.statusu === 'brown'}" ng-if='a.u'><b>{{a.u}}</b></td>
							<td style="text-align:center" ng-class="{'color-green': a.statusv === 'green','color-yellow': a.statusv === 'yellow','color-pink': a.statusv === 'red','color-brown': a.statusv === 'brown'}" ng-if='a.v'><b>{{a.v}}</b></td>
							<td style="text-align:center" ng-class="{'color-green': a.statusw === 'green','color-yellow': a.statusw === 'yellow','color-pink': a.statusw === 'red','color-brown': a.statusw === 'brown'}" ng-if='a.w'><b>{{a.w}}</b></td>
							<td style="text-align:center" ng-class="{'color-green': a.statusx === 'green','color-yellow': a.statusx === 'yellow','color-pink': a.statusx === 'red','color-brown': a.statusx === 'brown'}" ng-if='a.x'><b>{{a.x}}</b></td>
							<td style="text-align:center" ng-class="{'color-green': a.statusy === 'green','color-yellow': a.statusy === 'yellow','color-pink': a.statusy === 'red','color-brown': a.statusy === 'brown'}" ng-if='a.y'><b>{{a.y}}</b></td>
							<td style="text-align:center" ng-class="{'color-green': a.statusz === 'green','color-yellow': a.statusz === 'yellow','color-pink': a.statusz === 'red','color-brown': a.statusz === 'brown'}" ng-if='a.z'><b>{{a.z}}</b></td>
							<td style="text-align:center" ng-class="{'color-green': a.statusaa === 'green','color-yellow': a.statusaa === 'yellow','color-pink': a.statusaa === 'red','color-brown': a.statusaa === 'brown'}" ng-if='a.aa'><b>{{a.aa}}</b></td>
							<td style="text-align:center" ng-class="{'color-green': a.statusab === 'green','color-yellow': a.statusab === 'yellow','color-pink': a.statusab === 'red','color-brown': a.statusab === 'brown'}" ng-if='a.ab'><b>{{a.ab}}</b></td>
							<td style="text-align:center" ng-class="{'color-green': a.statusac === 'green','color-yellow': a.statusac === 'yellow','color-pink': a.statusac === 'red','color-brown': a.statusac === 'brown'}" ng-if='a.ac'><b>{{a.ac}}</b></td>
							<td style="text-align:center" ng-class="{'color-green': a.statusad === 'green','color-yellow': a.statusad === 'yellow','color-pink': a.statusad === 'red','color-brown': a.statusad === 'brown'}" ng-if='a.ad'><b>{{a.ad}}</b></td>
							<td style="text-align:center" ng-class="{'color-green': a.statusae === 'green','color-yellow': a.statusae === 'yellow','color-pink': a.statusae === 'red','color-brown': a.statusae === 'brown'}" ng-if='a.ae'><b>{{a.ae}}</b></td>
							<td>{{a.tar}}</td>
							<td>{{a.abs}}</td>
							<td>{{a.nd}}</td>
							<td>{{a.ndot}}</td>
							<td>{{a.rot}}</td>
							<td>{{a.rotdo}}</td> -->
						</tr>
					</tbody>
				</table>
				<div class="form-group">
					<fieldset>
						<div class='col-sm-12'>
							<textarea class="form-control" rows="5" cols="40" placeholder="Insert Note . . ." ng-model="attrecord.handler.form.comment"></textarea>
						</div>
					</fieldset>
				</div><hr>
				<div class="form-group">
					<fieldset>
						<div class='col-sm-12'>
							<button type="submit" 
									class="btn btn-success" 
									ng-click="attrecord.handler.savecomment()"
									ng-show="attrecord.handler.button('create')">
									Save
							</button>
							<button type="submit" 
									class="btn btn-success pull-right" 
									ng-click="attrecord.handler.export()"
									ng-show="attrecord.handler.button('create')">
									Export To Excel
							</button>
						</div>
					</fieldset>
				</div>
				</div>
			</section>	
		</div>
<!-- <footer class="table-footer">
	<div class="row">
		<div class="col-md-6 page-num-info">
			<span>
				Show 
				<select data-ng-model="attrecord.handler.numPerPage"
						data-ng-options="num for num in attrecord.handler.numPerPageOpt"
						data-ng-change="onNumPerPageChange()">
				</select> 
				entries per page
			</span>
		</div>
		<div class="col-md-6 text-right pagination-container">
			<pagination class="pagination-sm"
						ng-model="attrecord.handler.currentPage"
						total-items="attrecord.handler.filtered.length"
						max-size="4"
						ng-change="select(currentPage)"
						items-per-page="attrecord.handler.numPerPage"
						rotate="false"
						previous-text="&lsaquo;" next-text="&rsaquo;"
						boundary-links="true">
			</pagination>
		</div>
	</div>
</footer> 
<th>
			<div class="th">
				{{attrecord.handler.date1  | date:"dd"}}
			</div>
		</th>
		<th>
			<div class="th">
				{{attrecord.handler.date2 | date:"dd"}}
			</div>
		</th>
		<th>
			<div class="th">
				{{attrecord.handler.date3 | date:"dd"}}
			</div>
		</th>
		<th>
			<div class="th">
				{{attrecord.handler.date4 | date:"dd"}}
			</div>
		</th>
		<th>
			<div class="th">
				{{attrecord.handler.date5| date:"dd"}}
			</div>
		</th>
		<th>
			<div class="th">
				{{attrecord.handler.date6 | date:"dd"}}
			</div>
		</th>
		<th>
			<div class="th">
				{{attrecord.handler.date7 | date:"dd"}}
			</div>
		</th>
		<th>
			<div class="th">
				{{attrecord.handler.date8 | date:"dd"}}
			</div>
		</th>
		<th>
			<div class="th">
				{{attrecord.handler.date9 | date:"dd"}}
			</div>
		</th>
		<th>
			<div class="th">
				{{attrecord.handler.date10 | date:"dd"}}
			</div>
		</th>
			<td>{{$index +1}}</td>
		<td>{{a.last_name}}</td>
		<td>{{a.first_name}}</td>
		<td ng-class="{'color-green': a.a' === 'DO'}" ng-if='a.a'>{{a.a}}</td>
		<td ng-class="{'color-green': a.b' === 'DO'}" ng-if='a.b'>{{a.b}}</td>
		<td ng-class="{'color-green': a.c' === 'DO'}" ng-if='a.c'>{{a.c}}</td>
		<td ng-class="{'color-green': a.d' === 'DO'}" ng-if='a.d'>{{a.d}}</td>
		<td ng-class="{'color-green': a.e' === 'DO'}" ng-if='a.e'>{{a.e}}</td>
		<td ng-class="{'color-green': a.f' === 'DO'}" ng-if='a.f'>{{a.f}}</td>
		<td ng-class="{'color-green': a.g' === 'DO'}" ng-if='a.g'>{{a.g}}</td>
		<td ng-class="{'color-green': a.h' === 'DO'}" ng-if='a.h'>{{a.h}}</td>
		<td ng-class="{'color-green': a.i' === 'DO'}" ng-if='a.i'>{{a.i}}</td>
		<td ng-class="{'color-green': a.j' === 'DO'}" ng-if='a.j'>{{a.j}}</td>
		<td ng-class="{'color-green': a.k' === 'DO'}" ng-if='a.k'>{{a.k}}</td>
		<td ng-class="{'color-green': a.l' === 'DO'}" ng-if='a.l'>{{a.l}}</td>
		<td ng-class="{'color-green': a.m' === 'DO'}" ng-if='a.m'>{{a.m}}</td>
		<td ng-class="{'color-green': a.n' === 'DO'}" ng-if='a.n'>{{a.n}}</td>
		<td ng-class="{'color-green': a.o' === 'DO'}" ng-if='a.o'>{{a.o}}</td>
		<td ng-class="{'color-green': a.p' === 'DO'}" ng-if='a.p'>{{a.p}}</td>
		<td ng-class="{'color-green': a.q' === 'DO'}" ng-if='a.q'>{{a.q}}</td>
		<td ng-class="{'color-green': a.r' === 'DO'}" ng-if='a.r'>{{a.r}}</td>
		<td ng-class="{'color-green': a.s' === 'DO'}" ng-if='a.s'>{{a.s}}</td>
		<td ng-class="{'color-green': a.t' === 'DO'}" ng-if='a.t'>{{a.t}}</td>
		<td ng-class="{'color-green': a.u' === 'DO'}" ng-if='a.u'>{{a.u}}</td>
		<td ng-class="{'color-green': a.v' === 'DO'}" ng-if='a.v'>{{a.v}}</td>
		<td ng-class="{'color-green': a.w' === 'DO'}" ng-if='a.w'>{{a.w}}</td>
		<td ng-class="{'color-green': a.x' === 'DO'}" ng-if='a.x'>{{a.x}}</td>
		<td ng-class="{'color-green': a.y' === 'DO'}" ng-if='a.y'>{{a.y}}</td>
		<td ng-class="{'color-green': a.z' === 'DO'}" ng-if='a.z'>{{a.z}}</td>
		<td ng-class="{'color-green': a.aa === 'DO'}" ng-if='a.aa'>{{a.aa}}</td>
		<td ng-class="{'color-green': a.ab === 'DO'}" ng-if='a.ab'>{{a.ab}}</td>
		<td ng-class="{'color-green': a.ac === 'DO'}" ng-if='a.ac'>{{a.ac}}</td>
		<td ng-class="{'color-green': a.ad === 'DO'}" ng-if='a.ad'>{{a.ad}}</td>
		<td ng-class="{'color-green': a.ae === 'DO'}" ng-if='a.ae'>{{a.ae}}</td>
		<td>{{a.tar}}</td>
		<td>{{a.abs}}</td>
		<td>{{a.nd}}</td>
		<td>{{a.rot}}</td>
		<td>{{a.rotdo}}</td>
-->