
		<div class="page page-manualAttRecord" ng-controller='manualInputCtrl as manual'>
					
			<section class="panel panel-primary table-dynamic">
				<div class="panel-heading"><strong><span class="glyphicon glyphicon-th" style="margin-right: 8px;"></span>Manual Input Attendance Record</strong></div>
					<div class="panel-body">	
						<form name="myForm" class="form-horizontal form-validation">
							<div class="form-group">
								<div class="col-sm-1">
									<label>Date</label>
								</div>
								<div class="col-sm-2">
										<input type="date" class="form-control" min="1900-01-01" max="2100-01-01" ng-model="manual.handler.form.date"
												placeholder="yyyy-mm-dd"/>												
								</div>
								<div class="col-sm-1">
									<label>Shift Code</label>
								</div>
								<div class="col-sm-2">
									<select class="form-control"  ng-model="manual.handler.form.shift_code">
										<option value=''>-- Select --</option>
										<option value="{{s.shift_id}}"  ng-repeat="s in manual.handler.shift">{{s.shift_code}}</option>
									</select>	
								</div>
							</div>
							<div class="form-group">
								<div class="col-sm-1">
									<label>Employee</label>
								</div>
								<div class="col-sm-2">
									<input 	type="text"
											placeholder="Type for hint . ."
											class="form-control"
											data-ng-model="manual.handler.form.employee"
											typeahead="(address.name) for address in manual.handler.getLocation($viewValue)" 
											typeahead-loading="loadingLocations"
											typeahead-min-length="4"
											typeahead-wait-ms="400"
											typeahead-on-select="manual.handler.onSelect($item, $model, $label)"
											autocomplete="off"
									/>
								</div>
								<div class="col-sm-1">
									<label>Job Title</label>
								</div>
								<div class="col-sm-2">
									<select class="form-control"  ng-model="manual.handler.form.job_title">
										<option value=''>-- Select --</option>
										<option value="{{j.id}}"  ng-repeat="j in manual.handler.jobs">{{j.title}}</option>
									</select>	
								</div>
							</div>
							<div class="form-group">
								<div class="col-sm-1">
									<label>Department</label>
								</div>
								<div class="col-sm-2">
									<select class="form-control"  ng-model="manual.handler.form.department">
										<option value=''>-- Select --</option>
										<option value="{{d.id}}"  ng-repeat="d in manual.handler.depart">{{d.name}}</option>
									</select>	
								</div>
							</div>
							<hr>
							<div class="form-group">										
								<div class="col-sm-6">
									<form>
										<button type="submit" class="btn btn-success" ng-show="manual.handler.button('read')" ng-click="manual.handler.find()">Search</button>
										<span class="space space-sm"></span>
										<button type="submit" class="btn btn-danger"  ng-show="manual.handler.button('read')" ng-click="manual.handler.reset()">Reset</button>
									</form>
								</div>
							</div>
						</form>
					</div>
			</section>
					
					
			<!-- ######################### TABLE MANUAL INPUT ############################################################  -->
			<section class="panel panel-primary table-dynamic">
				<div class="panel-body">
						<div class="from-group">
							<div class="row">
								<div class="col-sm-4">
									<form>
										<button class="btn btn-gap-v btn-success"  ng-show="manual.handler.button('update')" ng-click="manual.handler.save()">Save</button>
										<span class="space space-sm"></span>
										<button type="button" 
												class="btn btn-gap-v btn-danger"   
												ng-click="manual.handler.cancel()"
												ng-show="manual.handler.button('update')">
												Cancel
										</button>
									</form>
								</div>
							</div>
						</div><br>
						<div class="form-group">
							<div class="row">
								<div class="col-sm-4">
									<form>
										<input type="text"
											   placeholder="Search..."
											   class="form-control"
											   data-ng-model="manual.handler.search"
											   data-ng-model-options="{debounce:300}"
											   >
									</form>
								</div>
								<div class="col-sm-3 filter-result-info">
									<span>
										Showing {{manual.handler.paginated.length}}/{{manual.handler.maindata.length}} entries
									</span>              
								</div>
							</div>
						</div><br>
					<table class="table table-bordered table-striped table-responsive">
						<thead>
							<tr>
								<th ng-repeat='a in manual.handler.headers'  width='{{a.width}}'>
									<div class="th">
										{{a.name}}
										<span class="fa fa-angle-up"
											  data-ng-if="a.sort"
											  data-ng-click="manual.handler.setactiveheader(a,true) "
											  data-ng-class="{active: $index == manual.handler.activeheader.id && manual.handler.activeheader.order == true}">
										</span>
										<span class="fa fa-angle-down"
											  data-ng-if="a.sort"
											  data-ng-click=" manual.handler.setactiveheader(a,false) "
											  data-ng-class="{active: $index == manual.handler.activeheader.id && manual.handler.activeheader.order == false}">
										</span>
									</div>
								</th>
							</tr>
						</thead>
						<tbody>
							<tr data-ng-repeat="a in manual.handler.getdata() | orderBy: manual.handler.activeheader.sort : manual.handler.activeheader.order track by [$index]">
								<td>{{a.Name}}</td>
								<td>{{a.Schedule}}</td>
								<td>{{a.department}}</td>
								<td>{{a.title}}</td>
								<td>
									<input type='time' class="form-control" ng-model="a.timeIn">
								</td>
								<td>
									<input type='time' class="form-control" ng-model="a.timeOut">
								</td>
							</tr>
						</tbody>
					</table>
					<footer class="table-footer">
						<div class="row">
							<div class="col-md-6 page-num-info">
								<span>
									Show 
									<select data-ng-model="manual.handler.numPerPage"
											data-ng-options="num for num in manual.handler.numPerPageOpt"
											data-ng-change="onNumPerPageChange()">
									</select> 
									entries per page
								</span>
							</div>
							<div class="col-md-6 text-right pagination-container">
								<pagination class="pagination-sm"
											ng-model="manual.handler.currentPage"
											total-items="manual.handler.filtered.length"
											max-size="4"
											ng-change="select(currentPage)"
											items-per-page="manual.handler.numPerPage"
											rotate="false"
											previous-text="&lsaquo;" next-text="&rsaquo;"
											boundary-links="true"></pagination>
							</div>
						</div>
					</footer>
				</div>
			</section>
			
	</div>