
		<div class="page page-sRequestList" ng-controller="sRequestListCtrl">
					
					<section class="panel panel-primary table-dynamic">
						<div class="panel-heading"><strong><span class="glyphicon glyphicon-th" style="margin-right: 8px;"></span>Schedule Request List</strong></div>
							<div class="panel-body">	
								<form name="myForm" class="form-horizontal form-validation" novalidate>
									<div class="form-group">
										<div class="col-sm-1">
											<label>From</label>
										</div>
										<div class="col-sm-2">
											<input type="date" class="form-control" ng-change="change()" ng-model="formData.from"
															placeholder="yyyy-mm-dd" min="1950-01-01" max="2020-12-30" />	
										</div>
									</div>
									<div class="form-group">
										<div class="col-sm-1">
											<label>To</label>
										</div>
										<div class="col-sm-2">
											<input type="date" class="form-control" ng-change="change()" ng-model="formData.to"
															placeholder="yyyy-mm-dd" min="1950-01-01" max="2020-12-30" />	
										</div>
									</div>
									<div class="form-group">
										<div class="col-sm-1">
											<label>Show Request Status</label>
										</div>
										<div class="col-sm-10">
											<div>
												<label class="ui-checkbox">
													<input name="expat" type="checkbox" ng-model="user.all" ng-value="1" ><span>All</span>
												</label>
												<label class="ui-checkbox">
													<input name="local" type="checkbox" ng-model="user.rejected" ng-value="2" ><span>Rejected</span>
												</label>
												<label class="ui-checkbox">
													<input name="expat" type="checkbox" ng-model="user.canceled" ng-value="1" ><span>Canceled</span>
												</label>
												<label class="ui-checkbox">
													<input name="local" type="checkbox" ng-model="user.pending" ng-value="2" ><span>Pending Approval</span>
												</label>
												<label class="ui-checkbox">
													<input name="expat" type="checkbox" ng-model="user.schedule" ng-value="1" ><span>Schedule</span>
												</label>
												<label class="ui-checkbox">
													<input name="local" type="checkbox" ng-model="user.past" ng-value="2" ><span>Past</span>
												</label>
											</div>
										</div>
									</div>
									<div class="form-group">
										<div class="col-sm-1">
											<label>Employee</label>
										</div>
										<div class="col-sm-2">
											<input type="text" class="form-control" placeholder="Type for a hints . . ">	
										</div>
									</div>
									<div class="form-group">
										<div class="col-sm-1">
											<label>Department</label>
										</div>
										<div class="col-sm-2">
											<select class="form-control"  ng-model="formData.job">
												<option value="{{job.id}}"  ng-repeat="job in jobs" ng-selected="{{formData.job == job.title}}">{{job.title}}</option>
											</select>	
										</div>
									</div>
									<div class="form-group">
										<div class="col-sm-1">
											<label>Request Type</label>
										</div>
										<div class="col-sm-2">
											<select class="form-control"  ng-model="formData.job">
												<option value="{{job.id}}"  ng-repeat="job in jobs" ng-selected="{{formData.job == job.title}}">{{job.title}}</option>
											</select>
										</div>
									</div><hr>
									<div class="form-group">										
										<div class="col-sm-6">
											<form>
												<button type="submit" class="btn btn-success"  ng-click="search()">Search</button>
												<span class="space space-sm"></span>
												<button type="submit" class="btn btn-danger"  ng-click="reset()">Reset</button>
												<span class="space space-sm"></span>
												<button type="submit" class="btn btn-success"  ng-click="export()">Export to CSV</button>
											</form>
										</div>
									</div>
								</form>
							</div>
					</section>
					
					<section class="panel panel-primary table-dynamic">
							<div class="table-filters">
								<div class="row">
									<div class="col-sm-4 col-xs-6">
										<form>
											<input type="text"
												   placeholder="Search..."
												   class="form-control"
												   data-ng-model="searchKeywords"
												   data-ng-keyup="search()">
										</form>
									</div>
									<div class="col-sm-3 col-xs-6 filter-result-info">
										<span>
											Showing {{filteredStores.length}}/{{stores.length}} entries
										</span>              
									</div>
								</div>
							</div>
							<table class="table table-bordered table-striped table-responsive">
								<thead>
									<tr>
										<th><div class="th">
											Date Request
											<span class="fa fa-angle-up"
												  data-ng-click=" order('device_name') "
												  data-ng-class="{active: row == 'device_name'}"></span>
											<span class="fa fa-angle-down"
												  data-ng-click=" order('-device_name') "
												  data-ng-class="{active: row == '-device_name'}"></span>
										</div></th>
										<th><div class="th">
											Availment Date
											<span class="fa fa-angle-up"
												  data-ng-click=" order('device_number') "
												  data-ng-class="{active: row == 'device_number'}"></span>
											<span class="fa fa-angle-down"
												  data-ng-click=" order('-device_number') "
												  data-ng-class="{active: row == '-device_number'}"></span>
										</div></th>
										<th><div class="th">
											Employee Name
											<span class="fa fa-angle-up"
												  data-ng-click=" order('device_location') "
												  data-ng-class="{active: row == 'device_location'}"></span>
											<span class="fa fa-angle-down"
												  data-ng-click=" order('-device_location') "
												  data-ng-class="{active: row == '-device_location'}"></span>
										</div></th>
										<th><div class="th">
											Request Type
											<span class="fa fa-angle-up"
												  data-ng-click=" order('device_location') "
												  data-ng-class="{active: row == 'device_location'}"></span>
											<span class="fa fa-angle-down"
												  data-ng-click=" order('-device_location') "
												  data-ng-class="{active: row == '-device_location'}"></span>
										</div></th>
										<th><div class="th">
											status
											<span class="fa fa-angle-up"
												  data-ng-click=" order('device_location') "
												  data-ng-class="{active: row == 'device_location'}"></span>
											<span class="fa fa-angle-down"
												  data-ng-click=" order('-device_location') "
												  data-ng-class="{active: row == '-device_location'}"></span>
										</div></th>
										<th><div class="th">
											Actions
											<span class="fa fa-angle-up"
												  data-ng-click=" order('device_location') "
												  data-ng-class="{active: row == 'device_location'}"></span>
											<span class="fa fa-angle-down"
												  data-ng-click=" order('-device_location') "
												  data-ng-class="{active: row == '-device_location'}"></span>
										</div></th>
									</tr>
								</thead>
								<tbody>
									<tr data-ng-repeat="store in currentPageStores">
										<td ng-click="edit('lg',store)" style="cursor:pointer">{{store.date}}</td>
										<td ng-click="edit('lg',store)" style="cursor:pointer">{{store.availment}}</td>
										<td ng-click="edit('lg',store)" style="cursor:pointer">{{store.name}}</td>
										<td ng-click="edit('lg',store)" style="cursor:pointer">{{store.request}}</td>
										<td ng-click="edit('lg',store)" style="cursor:pointer">{{store.status}}</td>
										<td>
											<button class="btn btn-success" tooltip-placement="top" tooltip="Approve"><span class="fa fa-check"></span></button>
											<span class="space space-sm"></span>
											<button class="btn btn-danger"  tooltip-placement="top" tooltip="Reject"><span class="fa fa-times"></span></button>
										</td>
									</tr>
								</tbody>
							</table>

							<footer class="table-footer">
								<div class="row">
									<div class="col-md-6 page-num-info">
										<span>
											Show 
											<select data-ng-model="numPerPage"
													data-ng-options="num for num in numPerPageOpt"
													data-ng-change="onNumPerPageChange()">
											</select> 
											entries per page
										</span>
									</div>
									<div class="col-md-6 text-right pagination-container">
										<pagination class="pagination-sm"
													ng-model="currentPage"
													total-items="filteredStores.length"
													max-size="4"
													ng-change="select(currentPage)"
													items-per-page="numPerPage"
													rotate="false"
													previous-text="&lsaquo;" next-text="&rsaquo;"
													boundary-links="true"></pagination>
									</div>
								</div>
							</footer>
					</section>
					
					
					<!-- ######################### MODAL TIME IN / TIME OUT ############################################################  -->
					<script type="text/ng-template" id="timeInOut.html">
								<div class="modal-header">
									<h4>Time-in / Time Out Request <span class="space space-sm"></span><label>{{formData.date}}</label><span class="space space-sm"></span><label>{{formData.name}}</label></h4>
								</div>
								<div class="modal-body">
									<form name="myForm" class="form-horizontal form-validation" novalidate>
									<div class="form-group">
										<div class="col-sm-3">
											<label>Request Type</label>
										</div>
										<div class="col-sm-3">
											<input type="text" class="form-control" data-ng-model="formData.request"/>		
										</div>
										<div class="col-sm-2">
											<label>Current Status</label>
										</div>
										<div class="col-sm-3">
											<input type="text" class="form-control" data-ng-model="formData.status"/>		
										</div>
									</div>
									<div class="form-group">
										<div class="col-sm-3">
											<label>Request Time/Date</label>
										</div>
										<div class="col-sm-3">
											<input type="text" class="form-control" data-ng-model="formData.name_over"/>		
										</div>
										<div class="col-sm-2">
											<label>Request by</label>
										</div>
										<div class="col-sm-3">
											<input type="text" class="form-control" data-ng-model="formData.name"/>		
										</div>
									</div>
									<div class="form-group">
										<div class="col-sm-3">
											<label>Current Schedule</label>
										</div>
										<div class="col-sm-3">
											<input type="text" class="form-control" data-ng-model="formData.name_over"/>		
										</div>
									</div>
									<div class="form-group">
										<div class="col-sm-3">
										</div>
										<div class="col-sm-3">
											<p class="text-center"><label>Time In</label></p>
										</div>
										<div class="col-sm-3">
											<p class="text-center"><label>Time Out</label></p>
										</div>
									</div>
									<div class="form-group">
										<div class="col-sm-3">
											<label>Original</label>
										</div>
										<div class="col-sm-3">
											<input type="text" class="form-control" data-ng-model="formData.name_over"/>	
										</div>
										<div class="col-sm-3">
											<input type="text" class="form-control" data-ng-model="formData.name_over"/>	
										</div>
									</div>
									<div class="form-group">
										<div class="col-sm-3">
											<label>Request</label>
										</div>
										<div class="col-sm-3">
											<input type="text" class="form-control" data-ng-model="formData.name_over"/>	
										</div>
										<div class="col-sm-3">
											<input type="text" class="form-control" data-ng-model="formData.name_over"/>	
										</div>
									</div>
									<table class="table table-bordered table-striped table-responsive">
										<thead>
											<tr>
												<th><div class="th">
													Approval
												</div></th>
												<th><div class="th">
													Status
												</div></th>
												<th><div class="th">
													Date
												</div></th>
												<th><div class="th">
													Time
												</div></th>
												<th><div class="th">
													Approver
												</div></th>
											</tr>
										</thead>
										<tbody>
											<tr data-ng-repeat="store in currentPageStores">
												<td ng-click="edit('lg',store)" style="cursor:pointer">{{store.name}}</td>
												<td ng-click="edit('lg',store)" style="cursor:pointer">{{store.date}}</td>
												<td ng-click="edit('lg',store)" style="cursor:pointer">{{store.repeat_annualy}}</td>
												<td ng-click="edit('lg',store)" style="cursor:pointer">{{store.date}}</td>
												<td ng-click="edit('lg',store)" style="cursor:pointer">{{store.repeat_annualy}}</td>
											</tr>
										</tbody>
									</table>
									<div class="form-group">
										<div class="col-sm-3">
											<label>Comments for Consideration</label>
										</div>
									</div>
									<div class="form-group">
										<div class="col-sm-12">
											<textarea class="form-control" rows="4" cols="40" ng-model="formData.text_area"></textarea>
										</div>
									</div>
									<div class="form-group">
										<div class="col-sm-1">
											<button type="button" 
													class="btn btn-primary" 
													accept="image/jpg, image/png, image/gif, image/jpeg,"
													name="file"
													ngf-multiple="multiple"
													ngf-select ng-model="picFile" 	
											>Upload a Photo</button>
										</div>
										<div class="col-sm-3">
											<ul> 
												<li ng-repeat="f in picFile" style="font-size:0.8em" ng-click="test()" >{{f.name}}</li>
											</ul>
										</div>
									</div>
								</form>
								</div>
								<div class="modal-footer">
										<button type="submit" class="btn btn-warning pull-left"  ng-click="back()">Back</button>
										<span class="space space-sm"></span>
										<button type="submit" class="btn btn-success"   ng-click="cancel()">Approve</button>
										<span class="space space-sm"></span>
										<button type="submit" class="btn btn-danger"   ng-click="cancel()">Reject</button>
								</div>
					</script>
					
					
					
					
					
					<!-- ######################### MODAL CHANGE SHIFT ############################################################  -->
					<script type="text/ng-template" id="changeShift.html">
								<div class="modal-header">
									<h4>Change Shift Request<span class="space space-sm"></span><label>{{formData.date}}</label><span class="space space-sm"></span><label>{{formData.name}}</label></h4>
								</div>
								<div class="modal-body">
									<form name="myForm" class="form-horizontal form-validation" novalidate>
									<div class="form-group">
										<div class="col-sm-3">
											<label>Request Type</label>
										</div>
										<div class="col-sm-3">
											<input type="text" class="form-control" data-ng-model="formData.request"/>		
										</div>
										<div class="col-sm-2">
											<label>Current Status</label>
										</div>
										<div class="col-sm-3">
											<input type="text" class="form-control" data-ng-model="formData.status"/>		
										</div>
									</div>
									<div class="form-group">
										<div class="col-sm-3">
											<label>Request Time/Date</label>
										</div>
										<div class="col-sm-3">
											<input type="text" class="form-control" data-ng-model="formData.name_over"/>		
										</div>
										<div class="col-sm-2">
											<label>Request by</label>
										</div>
										<div class="col-sm-3">
											<input type="text" class="form-control" data-ng-model="formData.name"/>		
										</div>
									</div>
									<div class="form-group">
										<div class="col-sm-1">
										</div>
										<div class="col-sm-3">
											<p class="text-center"><label>Date</label></p>
										</div>
										<div class="col-sm-3">
											<p class="text-center"><label>Original</label></p>
										</div>
										<div class="col-sm-3">
											<p class="text-center"><label>New</label></p>
										</div>
									</div>
									<div class="form-group">
										<div class="col-sm-1">
										</div>
										<div class="col-sm-3">
											<input type="text" class="form-control" data-ng-model="formData.name_over"/>	
										</div>
										<div class="col-sm-3">
											<input type="text" class="form-control" data-ng-model="formData.name_over"/>	
										</div>
										<div class="col-sm-3">
											<input type="text" class="form-control" data-ng-model="formData.name_over"/>	
										</div>
									</div>
									<table class="table table-bordered table-striped table-responsive">
										<thead>
											<tr>
												<th><div class="th">
													Approval
												</div></th>
												<th><div class="th">
													Status
												</div></th>
												<th><div class="th">
													Date
												</div></th>
												<th><div class="th">
													Time
												</div></th>
												<th><div class="th">
													Approver
												</div></th>
											</tr>
										</thead>
										<tbody>
											<tr data-ng-repeat="store in currentPageStores">
												<td ng-click="edit('lg',store)" style="cursor:pointer">{{store.name}}</td>
												<td ng-click="edit('lg',store)" style="cursor:pointer">{{store.date}}</td>
												<td ng-click="edit('lg',store)" style="cursor:pointer">{{store.repeat_annualy}}</td>
												<td ng-click="edit('lg',store)" style="cursor:pointer">{{store.date}}</td>
												<td ng-click="edit('lg',store)" style="cursor:pointer">{{store.repeat_annualy}}</td>
											</tr>
										</tbody>
									</table>
									<div class="form-group">
										<div class="col-sm-3">
											<label>Comments for Consideration</label>
										</div>
									</div>
									<div class="form-group">
										<div class="col-sm-12">
											<textarea class="form-control" rows="4" cols="40" ng-model="formData.text_area"></textarea>
										</div>
									</div>
									<div class="form-group">
										<div class="col-sm-1">
											<button type="button" 
													class="btn btn-primary" 
													accept="image/jpg, image/png, image/gif, image/jpeg,"
													name="file"
													ngf-multiple="multiple"
													ngf-select ng-model="picFile" 	
											>Upload a Photo</button>
										</div>
										<div class="col-sm-3">
											<ul> 
												<li ng-repeat="f in picFile" style="font-size:0.8em" ng-click="test()" >{{f.name}}</li>
											</ul>
										</div>
									</div>
								</form>
								</div>
								<div class="modal-footer">
										<button type="submit" class="btn btn-warning pull-left"  ng-click="back()">Back</button>
										<span class="space space-sm"></span>
										<button type="submit" class="btn btn-success"   ng-click="cancel()">Approve</button>
										<span class="space space-sm"></span>
										<button type="submit" class="btn btn-danger"   ng-click="cancel()">Reject</button>
								</div>
					</script>
					
					
					
					
					
					<!-- ######################### MODAL OVERTIME ############################################################  -->
					<script type="text/ng-template" id="overtime.html">
								<div class="modal-header">
									<h4>Overtime Request<span class="space space-sm"></span><label>{{formData.date}}</label><span class="space space-sm"></span><label>{{formData.name}}</label></h4>
								</div>
								<div class="modal-body">
									<form name="myForm" class="form-horizontal form-validation" novalidate>
									<div class="form-group">
										<div class="col-sm-3">
											<label>Request Type</label>
										</div>
										<div class="col-sm-3">
											<input type="text" class="form-control" data-ng-model="formData.request"/>		
										</div>
										<div class="col-sm-2">
											<label>Current Status</label>
										</div>
										<div class="col-sm-3">
											<input type="text" class="form-control" data-ng-model="formData.status"/>		
										</div>
									</div>
									<div class="form-group">
										<div class="col-sm-3">
											<label>Request Time/Date</label>
										</div>
										<div class="col-sm-3">
											<input type="text" class="form-control" data-ng-model="formData.name_over"/>		
										</div>
										<div class="col-sm-2">
											<label>Request by</label>
										</div>
										<div class="col-sm-3">
											<input type="text" class="form-control" data-ng-model="formData.name"/>		
										</div>
									</div>
									<div class="form-group">
										<div class="col-sm-3">
											<label>Date Request</label>
										</div>
										<div class="col-sm-3">
											<input type="text" class="form-control" data-ng-model="formData.name"/>		
										</div>
										<div class="col-sm-3">
											<label>Compensation with pay</label>
										</div>
									</div>
									<div class="form-group">
										<div class="col-sm-3">
											<label>Schedule</label>
										</div>
										<div class="col-sm-3">
											<input type="text" class="form-control" data-ng-model="formData.name"/>		
										</div>
									</div>
									<div class="form-group">
										<div class="col-sm-3">
											<label>Overtime needed</label>
										</div>
										<div class="col-sm-3">
											<input type="text" class="form-control" data-ng-model="formData.name"/>		
										</div>
									</div>
									<table class="table table-bordered table-striped table-responsive">
										<thead>
											<tr>
												<th><div class="th">
													Approval
												</div></th>
												<th><div class="th">
													Status
												</div></th>
												<th><div class="th">
													Date
												</div></th>
												<th><div class="th">
													Time
												</div></th>
												<th><div class="th">
													Approver
												</div></th>
											</tr>
										</thead>
										<tbody>
											<tr data-ng-repeat="store in currentPageStores">
												<td ng-click="edit('lg',store)" style="cursor:pointer">{{store.name}}</td>
												<td ng-click="edit('lg',store)" style="cursor:pointer">{{store.date}}</td>
												<td ng-click="edit('lg',store)" style="cursor:pointer">{{store.repeat_annualy}}</td>
												<td ng-click="edit('lg',store)" style="cursor:pointer">{{store.date}}</td>
												<td ng-click="edit('lg',store)" style="cursor:pointer">{{store.repeat_annualy}}</td>
											</tr>
										</tbody>
									</table>
									<div class="form-group">
										<div class="col-sm-3">
											<label>Comments for Consideration</label>
										</div>
									</div>
									<div class="form-group">
										<div class="col-sm-12">
											<textarea class="form-control" rows="4" cols="40" ng-model="formData.text_area"></textarea>
										</div>
									</div>
									<div class="form-group">
										<div class="col-sm-1">
											<button type="button" 
													class="btn btn-primary" 
													accept="image/jpg, image/png, image/gif, image/jpeg,"
													name="file"
													ngf-multiple="multiple"
													ngf-select ng-model="picFile" 	
											>Upload a Photo</button>
										</div>
										<div class="col-sm-3">
											<ul> 
												<li ng-repeat="f in picFile" style="font-size:0.8em" ng-click="test()" >{{f.name}}</li>
											</ul>
										</div>
									</div>
								</form>
								</div>
								<div class="modal-footer">
										<button type="submit" class="btn btn-warning pull-left"  ng-click="back()">Back</button>
										<span class="space space-sm"></span>
										<button type="submit" class="btn btn-success"   ng-click="cancel()">Approve</button>
										<span class="space space-sm"></span>
										<button type="submit" class="btn btn-danger"   ng-click="cancel()">Reject</button>
								</div>
					</script>
					
					
					
					
					
					<!-- ######################### MODAL UNDERTIME ############################################################  -->
					<script type="text/ng-template" id="undertime.html">
								<div class="modal-header">
									<h4>Undertime Request<span class="space space-sm"></span><label>{{formData.date}}</label><span class="space space-sm"></span><label>{{formData.name}}</label></h4>
								</div>
								<div class="modal-body">
									<form name="myForm" class="form-horizontal form-validation" novalidate>
									<div class="form-group">
										<div class="col-sm-3">
											<label>Request Type</label>
										</div>
										<div class="col-sm-3">
											<input type="text" class="form-control" data-ng-model="formData.request"/>		
										</div>
										<div class="col-sm-2">
											<label>Current Status</label>
										</div>
										<div class="col-sm-3">
											<input type="text" class="form-control" data-ng-model="formData.status"/>		
										</div>
									</div>
									<div class="form-group">
										<div class="col-sm-3">
											<label>Request Time/Date</label>
										</div>
										<div class="col-sm-3">
											<input type="text" class="form-control" data-ng-model="formData.name_over"/>		
										</div>
										<div class="col-sm-2">
											<label>Request by</label>
										</div>
										<div class="col-sm-3">
											<input type="text" class="form-control" data-ng-model="formData.name"/>		
										</div>
									</div>
									<div class="form-group">
										<div class="col-sm-3">
											<label>Date Request</label>
										</div>
										<div class="col-sm-3">
											<input type="text" class="form-control" data-ng-model="formData.name"/>		
										</div>
									</div>
									<div class="form-group">
										<div class="col-sm-3">
											<label>Schedule Work hours</label>
										</div>
										<div class="col-sm-3">
											<input type="text" class="form-control" data-ng-model="formData.name"/>		
										</div>
										<div class="col-sm-2">
											<label>with duration</label>
										</div>
										<div class="col-sm-2">
											<input type="text" class="form-control" data-ng-model="formData.duration"/>		
										</div>
										<div class="col-sm-1">
											<label>hours</label>
										</div>
									</div>
									<div class="form-group">
										<div class="col-sm-3">
											<label>Request work end time</label>
										</div>
										<div class="col-sm-3">
											<input type="text" class="form-control" data-ng-model="formData.name"/>		
										</div>
										<div class="col-sm-2">
											<label>duration short for</label>
										</div>
										<div class="col-sm-2">
											<input type="text" class="form-control" data-ng-model="formData.duration"/>		
										</div>
										<div class="col-sm-1">
											<label>hours</label>
										</div>
									</div>
									<table class="table table-bordered table-striped table-responsive">
										<thead>
											<tr>
												<th><div class="th">
													Approval
												</div></th>
												<th><div class="th">
													Status
												</div></th>
												<th><div class="th">
													Date
												</div></th>
												<th><div class="th">
													Time
												</div></th>
												<th><div class="th">
													Approver
												</div></th>
											</tr>
										</thead>
										<tbody>
											<tr data-ng-repeat="store in currentPageStores">
												<td ng-click="edit('lg',store)" style="cursor:pointer">{{store.name}}</td>
												<td ng-click="edit('lg',store)" style="cursor:pointer">{{store.date}}</td>
												<td ng-click="edit('lg',store)" style="cursor:pointer">{{store.repeat_annualy}}</td>
												<td ng-click="edit('lg',store)" style="cursor:pointer">{{store.date}}</td>
												<td ng-click="edit('lg',store)" style="cursor:pointer">{{store.repeat_annualy}}</td>
											</tr>
										</tbody>
									</table>
									<div class="form-group">
										<div class="col-sm-3">
											<label>Comments for Consideration</label>
										</div>
									</div>
									<div class="form-group">
										<div class="col-sm-12">
											<textarea class="form-control" rows="4" cols="40" ng-model="formData.text_area"></textarea>
										</div>
									</div>
									<div class="form-group">
										<div class="col-sm-1">
											<button type="button" 
													class="btn btn-primary" 
													accept="image/jpg, image/png, image/gif, image/jpeg,"
													name="file"
													ngf-multiple="multiple"
													ngf-select ng-model="picFile" 	
											>Upload a Photo</button>
										</div>
										<div class="col-sm-3">
											<ul> 
												<li ng-repeat="f in picFile" style="font-size:0.8em" ng-click="test()" >{{f.name}}</li>
											</ul>
										</div>
									</div>
								</form>
								</div>
								<div class="modal-footer">
										<button type="submit" class="btn btn-warning pull-left"  ng-click="back()">Back</button>
										<span class="space space-sm"></span>
										<button type="submit" class="btn btn-success"   ng-click="cancel()">Approve</button>
										<span class="space space-sm"></span>
										<button type="submit" class="btn btn-danger"   ng-click="cancel()">Reject</button>
								</div>
					</script>
					
					
					
					
					<!-- ######################### LATE/ EARLY OUT EXEMPTION ############################################################  -->
					<script type="text/ng-template" id="lateEarly.html">
								<div class="modal-header">
									<h4> Late / Early Out Exemption Request<span class="space space-sm"></span><label>{{formData.date}}</label><span class="space space-sm"></span><label>{{formData.name}}</label></h4>
								</div>
								<div class="modal-body">
									<form name="myForm" class="form-horizontal form-validation" novalidate>
									<div class="form-group">
										<div class="col-sm-3">
											<label>Request Type</label>
										</div>
										<div class="col-sm-3">
											<input type="text" class="form-control" data-ng-model="formData.request"/>		
										</div>
										<div class="col-sm-2">
											<label>Current Status</label>
										</div>
										<div class="col-sm-3">
											<input type="text" class="form-control" data-ng-model="formData.status"/>		
										</div>
									</div>
									<div class="form-group">
										<div class="col-sm-3">
											<label>Request Time/Date</label>
										</div>
										<div class="col-sm-3">
											<input type="text" class="form-control" data-ng-model="formData.name_over"/>		
										</div>
										<div class="col-sm-2">
											<label>Request by</label>
										</div>
										<div class="col-sm-3">
											<input type="text" class="form-control" data-ng-model="formData.name"/>		
										</div>
									</div>
									<div class="form-group">
										<div class="col-sm-3">
											<label>Current Schedule</label>
										</div>
										<div class="col-sm-3">
											<input type="text" class="form-control" data-ng-model="formData.name"/>		
										</div>
									</div>
									<div class="form-group">
										<div class="col-sm-3">
											<label>Record Time-In</label>
										</div>
										<div class="col-sm-3">
											<input type="text" class="form-control" data-ng-model="formData.name"/>
										</div>
									</div>
									<div class="form-group">
										<div class="col-sm-3">
											<label>Late for</label>
										</div>
										<div class="col-sm-3">
											<input type="text" class="form-control" data-ng-model="formData.name"/>
										</div>
									</div>
									<table class="table table-bordered table-striped table-responsive">
										<thead>
											<tr>
												<th><div class="th">
													Approval
												</div></th>
												<th><div class="th">
													Status
												</div></th>
												<th><div class="th">
													Date
												</div></th>
												<th><div class="th">
													Time
												</div></th>
												<th><div class="th">
													Approver
												</div></th>
											</tr>
										</thead>
										<tbody>
											<tr data-ng-repeat="store in currentPageStores">
												<td ng-click="edit('lg',store)" style="cursor:pointer">{{store.name}}</td>
												<td ng-click="edit('lg',store)" style="cursor:pointer">{{store.date}}</td>
												<td ng-click="edit('lg',store)" style="cursor:pointer">{{store.repeat_annualy}}</td>
												<td ng-click="edit('lg',store)" style="cursor:pointer">{{store.date}}</td>
												<td ng-click="edit('lg',store)" style="cursor:pointer">{{store.repeat_annualy}}</td>
											</tr>
										</tbody>
									</table>
									<div class="form-group">
										<div class="col-sm-3">
											<label>Comments for Consideration</label>
										</div>
									</div>
									<div class="form-group">
										<div class="col-sm-12">
											<textarea class="form-control" rows="4" cols="40" ng-model="formData.text_area"></textarea>
										</div>
									</div>
									<div class="form-group">
										<div class="col-sm-1">
											<button type="button" 
													class="btn btn-primary" 
													accept="image/jpg, image/png, image/gif, image/jpeg,"
													name="file"
													ngf-multiple="multiple"
													ngf-select ng-model="picFile" 	
											>Upload a Photo</button>
										</div>
										<div class="col-sm-3">
											<ul> 
												<li ng-repeat="f in picFile" style="font-size:0.8em" ng-click="test()" >{{f.name}}</li>
											</ul>
										</div>
									</div>
								</form>
								</div>
								<div class="modal-footer">
										<button type="submit" class="btn btn-warning pull-left"  ng-click="back()">Back</button>
										<span class="space space-sm"></span>
										<button type="submit" class="btn btn-success"   ng-click="cancel()">Approve</button>
										<span class="space space-sm"></span>
										<button type="submit" class="btn btn-danger"   ng-click="cancel()">Reject</button>
								</div>
					</script>
					
					
					
					<!-- ######################### TRAINING MODAL ############################################################  -->
					<script type="text/ng-template" id="trainingModal.html">
								<div class="modal-header">
									<h4>Training Request<span class="space space-sm"></span><label>{{formData.date}}</label><span class="space space-sm"></span><label>{{formData.name}}</label></h4>
								</div>
								<div class="modal-body">
									<form name="myForm" class="form-horizontal form-validation" novalidate>
									<div class="form-group">
										<div class="col-sm-3">
											<label>Request Type</label>
										</div>
										<div class="col-sm-3">
											<input type="text" class="form-control" data-ng-model="formData.request"/>		
										</div>
										<div class="col-sm-2">
											<label>Current Status</label>
										</div>
										<div class="col-sm-3">
											<input type="text" class="form-control" data-ng-model="formData.status"/>		
										</div>
									</div>
									<div class="form-group">
										<div class="col-sm-3">
											<label>Request Time/Date</label>
										</div>
										<div class="col-sm-3">
											<input type="text" class="form-control" data-ng-model="formData.name_over"/>		
										</div>
										<div class="col-sm-2">
											<label>Request by</label>
										</div>
										<div class="col-sm-3">
											<input type="text" class="form-control" data-ng-model="formData.name"/>		
										</div>
									</div>
									<div class="form-group">
										<div class="col-sm-3">
											<label>Requested Time/Date</label>
										</div>
										<div class="col-sm-3">
											<input type="text" class="form-control" data-ng-model="formData.name"/>		
										</div>
									</div>
									<table class="table table-bordered table-striped table-responsive">
										<thead>
											<tr>
												<th><div class="th">
													Approval
												</div></th>
												<th><div class="th">
													Status
												</div></th>
												<th><div class="th">
													Date
												</div></th>
												<th><div class="th">
													Time
												</div></th>
												<th><div class="th">
													Approver
												</div></th>
											</tr>
										</thead>
										<tbody>
											<tr data-ng-repeat="store in currentPageStores">
												<td ng-click="edit('lg',store)" style="cursor:pointer">{{store.name}}</td>
												<td ng-click="edit('lg',store)" style="cursor:pointer">{{store.date}}</td>
												<td ng-click="edit('lg',store)" style="cursor:pointer">{{store.repeat_annualy}}</td>
												<td ng-click="edit('lg',store)" style="cursor:pointer">{{store.date}}</td>
												<td ng-click="edit('lg',store)" style="cursor:pointer">{{store.repeat_annualy}}</td>
											</tr>
										</tbody>
									</table>
									<div class="form-group">
										<div class="col-sm-3">
											<label>Comments for Consideration</label>
										</div>
									</div>
									<div class="form-group">
										<div class="col-sm-12">
											<textarea class="form-control" rows="4" cols="40" ng-model="formData.text_area"></textarea>
										</div>
									</div>
									<div class="form-group">
										<div class="col-sm-1">
											<button type="button" 
													class="btn btn-primary" 
													accept="image/jpg, image/png, image/gif, image/jpeg,"
													name="file"
													ngf-multiple="multiple"
													ngf-select ng-model="picFile" 	
											>Upload a Photo</button>
										</div>
										<div class="col-sm-3">
											<ul> 
												<li ng-repeat="f in picFile" style="font-size:0.8em" ng-click="test()" >{{f.name}}</li>
											</ul>
										</div>
									</div>
								</form>
								</div>
								<div class="modal-footer">
										<button type="submit" class="btn btn-warning pull-left"  ng-click="back()">Back</button>
										<span class="space space-sm"></span>
										<button type="submit" class="btn btn-success"   ng-click="cancel()">Approve</button>
										<span class="space space-sm"></span>
										<button type="submit" class="btn btn-danger"   ng-click="cancel()">Reject</button>
								</div>
					</script>
					
					
					
					<!-- ######################### SWAP SHIFT MODAL ############################################################  -->
					<script type="text/ng-template" id="swapShift.html">
								<div class="modal-header">
									<h4>Swap Shift Request<span class="space space-sm"></span><label>{{formData.date}}</label><span class="space space-sm"></span><label>{{formData.name}}</label></h4>
								</div>
								<div class="modal-body">
									<form name="myForm" class="form-horizontal form-validation" novalidate>
									<div class="form-group">
										<div class="col-sm-3">
											<label>Request Type</label>
										</div>
										<div class="col-sm-3">
											<input type="text" class="form-control" data-ng-model="formData.request"/>		
										</div>
										<div class="col-sm-2">
											<label>Current Status</label>
										</div>
										<div class="col-sm-3">
											<input type="text" class="form-control" data-ng-model="formData.status"/>		
										</div>
									</div>
									<div class="form-group">
										<div class="col-sm-3">
											<label>Request Time/Date</label>
										</div>
										<div class="col-sm-3">
											<input type="text" class="form-control" data-ng-model="formData.name_over"/>		
										</div>
									</div>
									<div class="form-group">
										<div class="col-sm-3">
											<label>Request by</label>
										</div>
										<div class="col-sm-3">
											<input type="text" class="form-control" data-ng-model="formData.name"/>		
										</div>
									</div>
									<div class="form-group">
										<div class="col-sm-3">
											<label>Swap with</label>
										</div>
										<div class="col-sm-3">
											<input type="text" class="form-control" data-ng-model="formData.name"/>		
										</div>
									</div>
									<div class="form-group">
										<div class="col-sm-1">
										</div>
										<div class="col-sm-2">
											<p class="text-center"><label>Date</label></p>
										</div>
										<div class="col-sm-3">
											<p class="text-center"><label>Cris</label></p>
										</div>
										<div class="col-sm-2">
											<p class="text-center"><label>Swaft with</label></p>
										</div>
										<div class="col-sm-3">
											<p class="text-center"><label>Legan</label></p>
										</div>
									</div>
									<div class="form-group">
										<div class="col-sm-1">
										</div>
										<div class="col-sm-2">
											<input type="text" class="form-control" data-ng-model="formData.date"/>	
										</div>
										<div class="col-sm-3">
											<input type="text" class="form-control" data-ng-model="formData.s1"/>		
										</div>
										<div class="col-sm-2">
											<p class="text-center"><label>|</label></p>
										</div>
										<div class="col-sm-3">
											<input type="text" class="form-control" data-ng-model="formData.s2"/>		
										</div>
									</div>
									<div class="form-group">
										<div class="col-sm-1">
										</div>
										<div class="col-sm-2">
											<input type="text" class="form-control" data-ng-model="formData.date"/>	
										</div>
										<div class="col-sm-3">
											<input type="text" class="form-control" data-ng-model="formData.s1"/>		
										</div>
										<div class="col-sm-2">
											<p class="text-center"><label>|</label></p>
										</div>
										<div class="col-sm-3">
											<input type="text" class="form-control" data-ng-model="formData.s2"/>		
										</div>
									</div>
									<table class="table table-bordered table-striped table-responsive">
										<thead>
											<tr>
												<th><div class="th">
													Approval
												</div></th>
												<th><div class="th">
													Status
												</div></th>
												<th><div class="th">
													Date
												</div></th>
												<th><div class="th">
													Time
												</div></th>
												<th><div class="th">
													Approver
												</div></th>
											</tr>
										</thead>
										<tbody>
											<tr data-ng-repeat="store in currentPageStores">
												<td ng-click="edit('lg',store)" style="cursor:pointer">{{store.name}}</td>
												<td ng-click="edit('lg',store)" style="cursor:pointer">{{store.date}}</td>
												<td ng-click="edit('lg',store)" style="cursor:pointer">{{store.repeat_annualy}}</td>
												<td ng-click="edit('lg',store)" style="cursor:pointer">{{store.date}}</td>
												<td ng-click="edit('lg',store)" style="cursor:pointer">{{store.repeat_annualy}}</td>
											</tr>
										</tbody>
									</table>
									<div class="form-group">
										<div class="col-sm-3">
											<label>Comments for Consideration</label>
										</div>
									</div>
									<div class="form-group">
										<div class="col-sm-12">
											<textarea class="form-control" rows="4" cols="40" ng-model="formData.text_area"></textarea>
										</div>
									</div>
									<div class="form-group">
										<div class="col-sm-1">
											<button type="button" 
													class="btn btn-primary" 
													accept="image/jpg, image/png, image/gif, image/jpeg,"
													name="file"
													ngf-multiple="multiple"
													ngf-select ng-model="picFile" 	
											>Upload a Photo</button>
										</div>
										<div class="col-sm-3">
											<ul> 
												<li ng-repeat="f in picFile" style="font-size:0.8em" ng-click="test()" >{{f.name}}</li>
											</ul>
										</div>
									</div>
								</form>
								</div>
								<div class="modal-footer">
										<button type="submit" class="btn btn-warning pull-left"  ng-click="back()">Back</button>
										<span class="space space-sm"></span>
										<button type="submit" class="btn btn-success"   ng-click="cancel()">Approve</button>
										<span class="space space-sm"></span>
										<button type="submit" class="btn btn-danger"   ng-click="cancel()">Reject</button>
								</div>
					</script>
					
					
					
		</div>