
		<div class="page page-status" data-ng-controller="quallangcontroller as lang">
				
				<section class="panel panel-primary table-dynamic">
					<div class="panel-heading"><strong><span class="glyphicon glyphicon-th" style="margin-right: 8px;"></span>Language</strong></div>
						<div class="panel-body">
							<div class="from-group">
								<div class="row">
									<div class="col-sm-4">
										<form>
											<button class="btn btn-gap-v btn-success"  
													ng-click="lang.handler.openmodal('add')"
													ng-show="lang.handler.button('create')">
													Add
											</button>
											<span class="space space-sm"></span>
											<button type="button" 
													class="btn btn-gap-v btn-danger"   
													ng-click="lang.handler.deldata(lang.handler.check)"
													ng-show="lang.handler.button('delete')">
													Delete
											</button>
										</form>
									</div>
								</div>
							</div><br>
							<div class="form-group">
								<div class="row">
									<div class="col-sm-4">
										<form>
											<input type="text"
												   placeholder="Search..."
												   class="form-control"
												   data-ng-model="lang.handler.search"
												   data-ng-model-options="{debounce:300}"
												   >
										</form>
									</div>
									<div class="col-sm-3 filter-result-info">
										<span>
											Showing {{lang.handler.paginated.length}}/{{lang.handler.maindata.length}} entries
										</span>              
									</div>
								</div>
							</div><br>
							<table class="table table-bordered table-striped table-responsive">
								<thead>
									<tr>
										<th><div class="th">
										</div></th>
										<th ng-repeat='a in lang.handler.headers' width='{{a.width}}'>
											<div class="th">
												{{a.name}}
												<span class="fa fa-angle-up"
													  data-ng-if="a.sort"
													  data-ng-click="lang.handler.setactiveheader(a,true)"
													  data-ng-class="{active: $index == lang.handler.activeheader.id && lang.handler.activeheader.order == true}">
												</span>
												<span class="fa fa-angle-down"
													  data-ng-if="a.sort"
													  data-ng-click="lang.handler.setactiveheader(a,false)"
													  data-ng-class="{active: $index == lang.handler.activeheader.id && lang.handler.activeheader.order == false}">
												</span>
											</div>
										</th>
									</tr>
								</thead>
								<tbody>
									<tr data-ng-repeat="a in lang.handler.getdata() | orderBy: lang.handler.activeheader.sort : lang.handler.activeheader.order track by [$index]">
										<td><input type="checkbox" checklist-model="lang.handler.check" checklist-value="a.id"/></td>
										<td style="cursor:pointer" ng-click="lang.handler.openmodal('edit',a)">{{a.title}}</td>
									</tr>
								</tbody>
							</table>
							<footer class="table-footer">
								<div class="row">
									<div class="col-sm-6 page-num-info">
										<span>
											Show 
											<select data-ng-model="lang.handler.numPerPage"
													data-ng-options="num for num in lang.handler.numPerPageOpt"
													data-ng-change="onNumPerPageChange()">
											</select> 
											entries per page
										</span>
									</div>
									<div class="col-sm-6 text-right pagination-container">
										<pagination class="pagination-sm"
													ng-model="lang.handler.currentPage"
													total-items="lang.handler.filtered.length"
													max-size="4"
													ng-change="select(currentPage)"
													items-per-page="lang.handler.numPerPage"
													rotate="false"
													previous-text="&lsaquo;" next-text="&rsaquo;"
													boundary-links="true"></pagination>
									</div>
								</div>
							</footer>
						</div>
				</section>	
					
				<!--Modal Add Languages-->
				<script type="text/ng-template" id="modaladdlang">
					<div class="modal-header">
						<h4><i class="fa fa-save" style="margin-right: 8px;" ></i>Add Languages</h4>
					</div>
					<div class="modal-body">
						<form name="myForm"  class="form form-validation" ng-submit="myForm.$valid && submit()">	
							<div class='form-group'>	
								<fieldset>
									<div class="col-md-2">
										<label for="">Name</label><span class="space space-sm"></span><label style ="color:red">*</label>
									</div>
									<div class="col-md-8">
										<input type="text" name="name" class="form-control" autocomplete="off" data-ng-model="modaladdlang.form.title" required/>
										<span style="color:red" ng-show="myForm.name.$dirty && myForm.name.$invalid">
											<span ng-show="myForm.name.$error.required"> Required field.</span>
										</span>
									</div>
								</fieldset>
							</div>
							<fieldset>
								<div class="col-md-3">
									</span><label style ="color:red">*</label><span class="space space-xs"><label><small>Required field</small></label>
								</div>										
							</fieldset>	
						</form>	
						<div class="modal-footer">
							<button type="submit" class="btn btn-success" ng-disabled="myForm.$invalid"  ng-click="modaladdlang.save()">Save</button>
							<button class="btn btn-danger" ng-click="modaladdlang.close()">Cancel</button>
						</div>
					</div>
				</script>
								
				<!--Modal Edit Languages-->
				<script type="text/ng-template" id="modaleditlang">
					<div class="modal-header">
						<h4><i class="fa fa-pencil-square-o" style="margin-right: 8px;" ></i>Edit Languages</h4>
					</div>
					<div class="modal-body">
						<form name="myForm"  class="form form-validation"  ng-submit="myForm.$valid && submit()">	
							<div class='form-group'>	
								<fieldset>
									<div class="col-md-2">
										<label for="">Name</label><span class="space space-sm"></span><label style ="color:red">*</label>
									</div>
									<div class="col-md-8">
										<input 	type="text" 
												name="name" 
												class="form-control" 
												ng-disabled="!modaleditlang.button" 
												data-ng-model="modaleditlang.form.title"
												autocomplete="off"												
												required
										/>
										<span style="color:red" ng-show="myForm.name.$dirty && myForm.name.$invalid">
											<span ng-show="myForm.name.$error.required"> Required field.</span>
										</span>
									</div>
								</fieldset>
							</div>
							<fieldset>
								<div class="col-md-3">
									</span><label style ="color:red">*</label><span class="space space-xs"><label><small>Required field</small></label>
								</div>										
							</fieldset>
						</form>
						<div class="modal-footer" ng-show="modaleditlang.handler.button('update')">
							<button type="submit" class="btn btn-success" ng-hide="modaleditlang.button" ng-click="modaleditlang.button=true;">Edit</button>
							<button type="submit" class="btn btn-success" ng-show="modaleditlang.button" ng-disabled="myForm.$invalid" ng-click="modaleditlang.save();">Save</button>
							<button class="btn btn-danger" ng-click="modaleditlang.close()">Cancel</button>
						</div>
						<div class="modal-footer" ng-hide="modaleditlang.handler.button('update')">
							<button class="btn btn-danger" ng-click="modaleditlang.close()">Close</button>
						</div>
					</div>
				</script>
						
		</div>
<!-- <section class="panel panel-primary table-dynamic" >
	<div class="panel-heading"><strong><span class="glyphicon glyphicon-th " style="margin-right: 8px;"></span>Languages </strong></div>
		<div class="table-filters">
			<div class="row">
				<div class="col-md-4">
					<form>
						<button class="btn btn-gap-v btn-success" ng-disabled ="!role"  ng-click="open()"> Add </button>
							<span class="space space-sm"></span>
						<button class="btn btn-gap-v btn-danger" ng-disabled ="!role" ng-click="remove(check.languages)">Delete</button>
					</form>
				</div>
			</div>
		</div>
		<table class="table table-bordered table-striped table-responsive">
			<thead>
				<tr id="heading">
					<th style="width:1%" ng-model="student.selected"><div class="th">
					</div></th>
					<th style="width:99%"><div class="th">
						Name
					</div></th>
				</tr>
			</thead>
			<tbody>
				<tr data-ng-repeat="lang in languages | filter:search">
					<td><input type="checkbox" checklist-model="check.languages" checklist-value="lang.id" ></td>
					  <td ng-click="edit('',lang)" style="cursor:pointer">{{lang.title}}</td>
				</tr>
			</tbody>
		</table>
</section> -->