
		<div class="page page-skill">
			<section class="panel panel-primary table-dynamic" data-ng-controller="qualskilcontroller as skill">
				<div class="panel-heading"><strong><span class="glyphicon glyphicon-th" style="margin-right: 8px;"></span>Skill</strong></div>
					<div class="panel-body">
						<div class="from-group">
							<div class="row">
								<div class="col-sm-4">
									<form>
										<button class="btn btn-gap-v btn-success"  
												ng-click="skill.handler.openmodal('add')"
												ng-show="skill.handler.button('create')">
												Add
										</button>
										<span class="space space-sm"></span>
										<button type="button" 
												class="btn btn-gap-v btn-danger"   
												ng-click="skill.handler.deldata(skill.handler.check)"
												ng-show="skill.handler.button('delete')">
												Delete
										</button>
									</form>
								</div>
							</div>
						</div><br>
						<div class="form-group">
							<div class="row">
								<div class="col-sm-4">
									<form>
										<input type="text"
											   placeholder="Search..."
											   class="form-control"
											   data-ng-model="skill.handler.search"
											   data-ng-model-options="{debounce:300}"
											   >
									</form>
								</div>
								<div class="col-sm-3 filter-result-info">
									<span>
										Showing {{skill.handler.paginated.length}}/{{skill.handler.maindata.length}} entries
									</span>              
								</div>
							</div>
						</div><br>
						<table class="table table-bordered table-striped table-responsive">
							<thead>
								<tr>
									<th><div class="th">
									</div></th>
									<th ng-repeat='a in skill.handler.headers' width='{{a.width}}'>
										<div class="th">
											{{a.name}}
											<span class="fa fa-angle-up"
												  data-ng-if="a.sort"
												  data-ng-click="skill.handler.setactiveheader(a,true)"
												  data-ng-class="{active: $index == skill.handler.activeheader.id && skill.handler.activeheader.order == true}">
											</span>
											<span class="fa fa-angle-down"
												  data-ng-if="a.sort"
												  data-ng-click="skill.handler.setactiveheader(a,false)"
												  data-ng-class="{active: $index == skill.handler.activeheader.id && skill.handler.activeheader.order == false}">
											</span>
										</div>
									</th>
								</tr>
							</thead>
							<tbody>
								<tr data-ng-repeat="a in skill.handler.getdata() | orderBy: skill.handler.activeheader.sort : skill.handler.activeheader.order track by [$index]">
									<td><input type="checkbox" checklist-model="skill.handler.check" checklist-value="a.id"/></td>
									<td style="cursor:pointer" ng-click="skill.handler.openmodal('edit',a)">{{a.title}}</td>
									<td style="cursor:pointer" ng-click="skill.handler.openmodal('edit',a)">{{a.descript}}</td>
								</tr>
							</tbody>
						</table>
						<footer class="table-footer">
							<div class="row">
								<div class="col-sm-6 page-num-info">
									<span>
										Show 
										<select data-ng-model="skill.handler.numPerPage"
												data-ng-options="num for num in skill.handler.numPerPageOpt"
												data-ng-change="onNumPerPageChange()">
										</select> 
										entries per page
									</span>
								</div>
								<div class="col-sm-6 text-right pagination-container">
									<pagination class="pagination-sm"
												ng-model="skill.handler.currentPage"
												total-items="skill.handler.filtered.length"
												max-size="4"
												ng-change="select(currentPage)"
												items-per-page="skill.handler.numPerPage"
												rotate="false"
												previous-text="&lsaquo;" next-text="&rsaquo;"
												boundary-links="true"></pagination>
								</div>
							</div>
						</footer>
					</div>
			</section>
			
			<!--Modal Add Skill-->
			<script type="text/ng-template" id="modalSkill">
				<div class="modal-header">
					<h4><i class="fa fa-save" style="margin-right: 8px;" ></i>Add Skill</h4>
				</div>
				<div class="modal-body">
					<form name="myForm"  class="form form-validation" ng-submit="myForm.$valid && submit(forsmata)">	
						<div class='form-group'>	
							<fieldset>
								<div class="col-sm-3">
									<label for="name">Name</label><span class="space space-sm"></span><label style ="color:red">*</label>
								</div>
								<div class="col-sm-8">
									<input type="text" name="name" class="form-control" autocomplete="off" data-ng-model="modalSkill.form.title" required/>
									<span style="color:red" ng-show="myForm.name.$dirty && myForm.name.$invalid">
										<span ng-show="myForm.name.$error.required">Name is required.</span>
									</span>
								</div>
							</fieldset>
						</div>
						<div class='form-group'>		
							<fieldset>
								<div class="col-sm-3">
									<label for="desc">Description</label>
								</div>
								<div class="col-sm-8">
									<textarea class="form-control" 
									rows="4" 
									cols="40"
									data-ng-model="modalSkill.form.descript"
									autocomplete="off">
									</textarea>
								</div>
							</fieldset>
						</div>
						<fieldset>
							<div class="col-sm-3">
								</span><label style ="color:red">*</label><span class="space space-xs"><label><small>Required field</small></label>
							</div>										
						</fieldset>	
					</form>	
					<div class="modal-footer">	
						<button type="submit" class="btn btn-success" ng-disabled="myForm.$invalid" ng-click="modalSkill.save()">Save</button>
						<button class="btn btn-danger" ng-click="modalSkill.close()">Cancel</button>
					</div>
				</div>
			</script>
								
			<!--Modal Edit Skill-->
			<script type="text/ng-template" id="modalEditSkill">
				<div class="modal-header">
					<h4><i class="fa fa-pencil-square-o" style="margin-right: 8px;" ></i>Edit Skill</h4>
				</div>
				<div class="modal-body">
					<form name="myForm"  class="form form-validation" ng-submit="myForm.$valid && submit(forsmata)">	
						<div class='form-group'>
							<fieldset>
								<div class="col-sm-3">
									<label>Name</label><span class="space space-sm"></span><label style ="color:red">*</label>
								</div>
								<div class="col-sm-8">
									<input 	type="text" 
											name="name" 
											class="form-control" 
											ng-disabled="!modalEditSkill.button" 
											data-ng-model="modalEditSkill.form.title"
											autocomplete="off"
											required
									/>
									<span style="color:red" ng-show="myForm.name.$dirty && myForm.name.$invalid">
										<span ng-show="myForm.name.$error.required">Name is required.</span>
									</span>
								</div>
							</fieldset>
						</div>
						<div class='form-group'>
							<fieldset>
								<div class="col-sm-3">
									<label for="desc">Description</label>
								</div>
								<div class="col-sm-8">
									<textarea 	class="form-control" 
												rows="4" 
												cols="40"
												ng-disabled="!modalEditSkill.button"														
												data-ng-model="modalEditSkill.form.descript"
												autocomplete="off">
									</textarea>
								</div>
							</fieldset>
						</div>
						<fieldset>
							<div class="col-sm-3">
								</span><label style ="color:red">*</label><span class="space space-xs"><label><small>Required field</small></label>
							</div>										
						</fieldset>	
					</form>	
					<div class="modal-footer" ng-show="modalEditSkill.handler.button('update')">
						<button type="submit" class="btn btn-success" ng-hide="modalEditSkill.button" ng-click="modalEditSkill.button=true;">Edit</button>
						<button type="submit" class="btn btn-success" ng-show="modalEditSkill.button" ng-disabled="myForm.$invalid" ng-click="modalEditSkill.save();">Save</button>
						<button class="btn btn-danger" ng-click="modalEditSkill.close()">Cancel</button>
					</div>
					<div class="modal-footer" ng-hide="modalEditSkill.handler.button('update')">
						<button class="btn btn-danger" ng-click="modalEditSkill.close()">Close</button>
					</div>
				</div>
			</script>
						
		</div>
<!-- 
<section class="panel panel-primary table-dynamic" >
<div class="panel-heading"><strong><span class="glyphicon glyphicon-th" style="margin-right: 8px;"></span> SKILLS</strong></div>
	<div class="table-filters">
		<div class="row">
			<div class="col-sm-4">
				<form>
					<button class="btn btn-gap-v btn-success" ng-disabled ="!role"  ng-click="open()"> Add </button>
						<span class="space space-sm"></span>
					<button class="btn btn-gap-v btn-danger" ng-disabled ="!role" ng-click="remove(check.skills)">Delete</button>
				</form>
			</div>
		</div>
	</div>
	<table class="table table-bordered table-striped table-responsive">
		<thead>
			<tr id="heading">
				<th style="width:1%"><div class="th">
				</div></th>
				<th style="width:45%"><div class="th">
					Name
				</div></th>
				<th  style="width:45%"><div class="th">
					Description
				</div></th>
			</tr>
		</thead>
		<tbody>
			<tr data-ng-repeat=" skill in skills  | filter:search | filter:new_search ">
				<td><input type="checkbox" checklist-model="check.skills" checklist-value="skill.id"></td>
				<td ng-click="edit('',skill)" style="cursor:pointer">{{skill.title}}</td>
				<td ng-click="edit('',skill)" style="cursor:pointer">{{skill.descript}}</td>
			</tr>
		</tbody>
	</table>
</section> 
-->