		
		<div class="page page-email" data-ng-controller="emailSettingCtrl as email">
			<section class="panel panel-primary table-dynamic" >
				<div class="panel-heading"><strong><span class="fa fa-envelope-o" style="margin-right: 8px;"></span> Mail Configuration</strong></div>
					<div class="panel-body">
						<form name="myForm" class="form-horizontal form-validation" novalidate >
							<div class="form-group">
								<fieldset>
									<div class="col-sm-2">
										<label for="Organization">Mail Sent As</label><span class="space space-sm"></span><label style ="color:red">*</label>
									</div>
									<div class="col-sm-2">
										<input 	type="email" 
												name="email" 
												class="form-control" 
												data-ng-model="email.handler.form.from.address" 
												ng-disabled="!email.handler.button" 
												ng-pattern="/^[_a-z0-9]+(\.[_a-z0-9]+)*@[a-z0-9-]+(\.[a-z0-9-]+)*(\.[a-z]{2,4})$/" 
												required
										/>
										<span style="color:red" ng-show="myForm.email.$dirty && myForm.email.$invalid">
											<span ng-show="myForm.email.$error.required">Mail is required.</span>
										</span>
										<span style="color:red">
											<span ng-show="myForm.email.$error.pattern">Not valid email!</span>
										</span>
									</div>
									<div class="col-sm-1">
										<input type="hidden" ng-model="email.handler.form.driver" class="form-control" ng-disabled="!email.handler.button" />
									</div>
									<div class="col-sm-2">
										<label>Sender Name</label>
									</div>
									<div class="col-sm-2">
										<input type="text" class="form-control" ng-model="email.handler.form.from.name" ng-disabled="!email.handler.button" />
									</div>
								</fieldset>
							</div>
							<hr>
							<div class="form-group">
								<fieldset>
									<div class="col-sm-2">
										<label for="host">SMTP Host</label>
									</div>
									<div class="col-sm-2">
										<input type="text" name="host" ng-model="email.handler.form.host" class="form-control"ng-disabled="!email.handler.button" />
									</div>
									<div class="col-sm-1"></div>
									<div class="col-sm-2">
										<label for="SSS">SMTP Port</label>
									</div>
									<div class="col-sm-2">
										<input type="text" class="form-control" ng-model="email.handler.form.port" ng-disabled="!email.handler.button" />
									</div>
								</fieldset>
							</div>
							<div class="form-group">
								<fieldset>
									<div class="col-sm-2">
										<label for="Philhealth">Use SMTP Authentication</label>
									</div>
									<div class="col-sm-2">
										<label class="ui-radio">
											<input 	name="auth_yes" 
													type="radio" 
													value="yes" 
													ng-model="email.handler.form.auth" 
													ng-disabled="!email.handler.button" />
													<span>Yes</span>
										</label>
										<label class="ui-radio">
											<input 	name="auth_no" 
													type="radio"  
													value="no" 
													ng-model="email.handler.form.auth" 
													ng-disabled="!email.handler.button" >
													<span>No</span>
										</label>
									</div>
								</fieldset>
							</div>
							<div class="form-group">
								<fieldset>
									<div class="col-sm-2">
										<label for="Pag-ibig">SMTP User</label>
									</div>
									<div class="col-sm-2">
										<input type="email" name="email_user" class="form-control" ng-model="email.handler.form.username"  ng-disabled="!email.handler.button"  ng-pattern="/^[_a-z0-9]+(\.[_a-z0-9]+)*@[a-z0-9-]+(\.[a-z0-9-]+)*(\.[a-z]{2,4})$/">
											<span style="color:red">
												<span ng-show="myForm.email_user.$error.pattern">Not valid email!</span>
											</span>
									</div>
									<div class="col-sm-1"></div>
									<div class="col-sm-2">
										<label for="SSS">SMTP Password</label><span class="space space-sm"></span><label style ="color:red">*</label>
									</div>
									<div class="col-sm-2">
										<input type="password" name="pass" class="form-control" ng-model="email.handler.form.password" ng-disabled="!email.handler.button" required/>
										<span style="color:red" ng-show="myForm.pass.$dirty && myForm.pass.$invalid">
											<span ng-show="myForm.pass.$error.required">Password is required.</span>
										</span>
									</div>
								</fieldset>
							</div>
							<div class="form-group">
								<fieldset>
									<div class="col-sm-2">
										<label for="">Use Secure Connection</label>
									</div>
									<div class="col-sm-3">
										<label class="ui-radio"><input name="no"   type="radio"  value="no"  ng-model="email.handler.form.encryption" ng-disabled="!email.handler.button"><span>No</span></label>
										<label class="ui-radio"><input name="ssl"  type="radio"  value="ssl" ng-model="email.handler.form.encryption" ng-disabled="!email.handler.button"><span>SSL</span></label>
										<label class="ui-radio"><input name="tls"  type="radio"  value="tls" ng-model="email.handler.form.encryption" ng-disabled="!email.handler.button"><span>TLS</span></label>
									</div>
								</fieldset>
							</div>
							<hr>
							<div class="form-group">
								<fieldset>
									<div class="col-sm-2">
										<label for="">Test Email Addres</label>
									</div>
									<div class="col-sm-2">
										<input type="email" name="email_test" class="form-control" data-ng-model="email.handler.form.to" ng-disabled="!email.handler.button" ng-pattern="/^[_a-z0-9]+(\.[_a-z0-9]+)*@[a-z0-9-]+(\.[a-z0-9-]+)*(\.[a-z]{2,4})$/">
											<span style="color:red">
												<span ng-show="myForm.email_test.$error.pattern">Not valid email!</span>
											</span>
									</div>
								</fieldset>
							</div><br><br>
							<fieldset>
								<div class="col-md-3">
									<label style ="color:red">*</label><span class="space space-xs"></span><label><small>Required field</small></label>
								</div>										
							</fieldset>
							<hr>
							<div class="form-group" ng-show="email.handler.hiden('update')">
								<fieldset>
									<div class="col-sm-5">
										<button type="submit" class="btn btn-success"   ng-hide="email.handler.button" ng-click="email.handler.button=true;">Edit</button>
										<button type="submit" class="btn btn-success" 	ng-show="email.handler.button" ng-click="email.handler.save()">Save</button>
										<span class="space space-sm"></span>
										<button type="submit" class="btn btn-danger"    ng-show="email.handler.button" ng-click="email.handler.reset()">Reset</button>
										<span class="space space-sm"></span>
										<button type="button" class="btn btn-success"	ng-show="email.handler.button" ng-click="email.handler.sent()">Send Test Email</button>
										<span class="space space-sm"></span>
									</div>
								</fieldset>
							</div>
						</form>		
					</div>
			</section>	
					
		</div>