
		<div class="page page-usermenu" ng-controller="userCtrl">
			<section class="panel panel-primary table-dynamic">
				<div class="panel-heading"><strong><span class="glyphicon glyphicon-th" style="margin-right: 8px;"></span> System Users</strong></div>
					<div class='panel-body'>	
						<div class="form-group">
							<div class="row">
								<div class="col-md-6">
									<form>
										<button class="btn btn-gap-v btn-success" 
												ng-click="open()"
												ng-show="button('create')">
												Add 
										</button>
										<span class="space space-sm"></span>
										<button type="button" 
												class="btn btn-gap-v btn-danger" 
												ng-click="remove(check.currentPageStores)"
												ng-show="button('delete')">
												Delete
										</button>
									</form>
								</div>
							</div>
						</div>
						<div class="form-group">
							<div class="row">
								<div class="col-sm-4 col-xs-6">
									<form>
										<input type="text"
											   placeholder="Search..."
											   class="form-control"
											   data-ng-model="searchKeywords"
											   data-ng-keyup="search()">
									</form>
								</div>
								<div class="col-sm-3 col-xs-6 filter-result-info">
									<span>
										Showing {{filteredStores.length}}/{{stores.length}} entries
									</span>              
								</div>
							</div>
						</div><br>
						<table class="table table-bordered table-striped table-responsive">
							<thead>
								<tr>
									<th style="width:8px"><div class="th">
									</div></th>
									<th><div class="th">
										Employee Username
										<span class="fa fa-angle-up"
											  data-ng-click=" order('name') "
											  data-ng-class="{active: row == 'name'}"></span>
										<span class="fa fa-angle-down"
											  data-ng-click=" order('-name') "
											  data-ng-class="{active: row == '-name'}"></span>
									</div></th>
									<th><div class="th">
										Employee Role
										<span class="fa fa-angle-up"
											  data-ng-click=" order('role_name') "
											  data-ng-class="{active: row == 'role_name'}"></span>
										<span class="fa fa-angle-down"
											  data-ng-click=" order('-role_name') "
											  data-ng-class="{active: row == '-role_name'}"></span>
									</div></th>
									<th><div class="th">
										Status
										<span class="fa fa-angle-up"
											  data-ng-click=" order('status') "
											  data-ng-class="{active: row == 'status'}"></span>
										<span class="fa fa-angle-down"
											  data-ng-click=" order('-status') "
											  data-ng-class="{active: row == '-status'}"></span>
									</div></th>
								</tr>
							</thead>
							<tbody>
								<tr data-ng-repeat="store in currentPageStores">
									<td><input type="checkbox"  checklist-model="check.currentPageStores" checklist-value="store.id"></td>
									<td ng-click="edit('',store)" style="cursor:pointer">{{store.name}}</td>
									<td ng-click="edit('',store)" style="cursor:pointer">{{store.role_name}}</td>
									<td ng-click="edit('',store)" style="cursor:pointer">{{store.status}}</td>
								</tr>
							</tbody>
						</table>

						<footer class="table-footer">
							<div class="row">
								<div class="col-md-6 page-num-info">
									<span>
										Show 
										<select data-ng-model="numPerPage"
												data-ng-options="num for num in numPerPageOpt"
												data-ng-change="onNumPerPageChange()">
										</select> 
										entries per page
									</span>
								</div>
								<div class="col-md-6 text-right pagination-container">
									<pagination class="pagination-sm"
												ng-model="currentPage"
												total-items="filteredStores.length"
												max-size="4"
												ng-change="select(currentPage)"
												items-per-page="numPerPage"
												rotate="false"
												previous-text="&lsaquo;" next-text="&rsaquo;"
												boundary-links="true"></pagination>
								</div>
							</div>
						</footer>
					</div> 
			</section>
					
					
			<!--Modal Add User-->
			<script type="text/ng-template" id="ModalContent.html">
				<div class="modal-header">
					<h4><i class="fa fa-info-circle" style="margin-right: 8px;" ></i>Add New Employee</h4>
				</div>
				<div class="modal-body">
					<form name="form_name" class="form-horizontal form-validation">
						<div class="form-group">
							<fieldset>
								<div class="col-sm-5">
									<h4><i class="fa fa-user" style="margin-right: 8px;"></i>Domain Username</h4>
								</div>
							</fieldset>
						</div>
						<div class="form-group">
							<div class ="col-sm-12">
								<input  type="text"
										placeholder="Type for hint . ."
										class="form-control"
										ng-model="user.domain_name" 
										typeahead="(address.domain_name) for address in getLocation($viewValue)" 
										typeahead-loading="loadingLocations"
										typeahead-min-length="4"
										typeahead-wait-ms="300"
										typeahead-on-select="onSelect($item, $model, $label)"
								/>			
							</div>
						</div>
						<div class="form-group">
							<fieldset>
								<div class="col-sm-5">
									<h4><i class="fa fa-info" style="margin-right: 8px;" ></i>Employee Role</h4>
								</div>
							</fieldset>
						</div>
						<div class="form-group">
							<div class="col-sm-12">
								<select class="form-control"  ng-model="user.role">
									<option value=''>-- Select --</option>
									<option value="{{stat.role_id}}" ng-repeat="stat in status">{{stat.role_name}}</option>
								</select>
							</div>
						</div>
						<div class="form-group">
							<fieldset>
								<div class="col-sm-5">
									<h4><i class="fa fa-lock" style="margin-right: 8px;" ></i>Status</h4>
								</div>
							</fieldset>
						</div>
						<div class="form-group">
							<div class="col-sm-12">
								<select class="form-control" ng-model="user.status">
									<option value=''>-- Select --</option>
									<option value="Enabled">Enabled</option>
									<option value="Disabled">Disabled</option>
								</select>
							</div>
						</div>
					</form>
				</div>
				<div class="modal-footer">
					<button class="btn btn-success" ng-click="save()">Save</button>
					<button class="btn btn-danger" ng-click="cancel()">Cancel</button>
				</div>
			</script>
							
			<!--Modal Edit User-->
			<script type="text/ng-template" id="EditModalContent.html">
				<div class="modal-header">
					<h4><i class="fa fa-info-circle" style="margin-right: 8px;" ></i>Edit Employee</h4>
				</div>
				<div class="modal-body">
					<form name="form_name" class="form-horizontal form-validation">
						<div class="form-group">
							<fieldset>
								<div class="col-sm-5">
									<h4><i class="fa fa-user" style="margin-right: 8px;"></i>Domain Username</h4>
								</div>
							</fieldset>
						</div>
						<div class="form-group">
							<div class ="col-sm-12">
								<input  type="text"
										placeholder="Type for hint . ."
										class="form-control"
										ng-model="user.domain_name" 
										ng-disabled="!button"
										typeahead="(address.domain_name) for address in getLocation($viewValue)" 
										typeahead-loading="loadingLocations"
										typeahead-min-length="4"
										typeahead-wait-ms="300"
										typeahead-on-select="onSelect($item, $model, $label)"
								/>			
							</div>
						</div>
						<div class="form-group">
							<fieldset>
								<div class="col-sm-5">
									<h4><i class="fa fa-info" style="margin-right: 8px;" ></i>Employee Role</h4>
								</div>
							</fieldset>
						</div>
						<div class="form-group">
							<div class="col-sm-12">
								<select class="form-control"  ng-model="user.role" ng-disabled="!button">
									<option value=''>-- Select --</option>
									<option value="{{store.role_id}}" ng-selected="{{user.role_name == store.role_name}}"  ng-repeat="store in stores">{{store.role_name}}</option>
								</select>
							</div>
						</div>
						<div class="form-group">
							<fieldset>
								<div class="col-sm-5">
									<h4><i class="fa fa-lock" style="margin-right: 8px;" ></i>Status</h4>
								</div>
							</fieldset>
						</div>
						<div class="form-group">
							<div class="col-sm-12">
								<select class="form-control"  ng-model="user.status" ng-disabled="!button">
									<option value=''>-- Select --</option>
									<option ng-value="Enabled">Enabled</option>
									<option ng-value="Disabled">Disabled</option>
								</select>
							</div>
						</div>
					</form>
				</div>
				<div class="modal-footer" ng-show="hide('update')">
					<button type="submit" class="btn btn-success" ng-hide="button" ng-click="button=true; edit();">Edit</button>
					<button type="submit" class="btn btn-success" ng-disabled="myForm.$invalid"  ng-show="button"  ng-click="save();">Save</button>
					<button class="btn btn-danger" ng-click="cancel()">Cancel</button>
				</div>
				<div class="modal-footer" ng-hide="hide('update')">
					<button class="btn btn-danger" ng-click="cancel()">Close</button>
				</div>
			</script>
						
		</div>