        <div class="page page-dashboard" ng-controller="dashboardCtrl">
                <div class="panel panel-primary" style="visibility: hidden;">
                    <div class="panel-heading"><strong><span class="glyphicon glyphicon-th" style="margin-right: 8px;"></span> Dashboard</strong></div>
                        <div class="panel-body" >   
                            <div class="row">
                                <div class="col-md-12">
                                    <ul class="nav nav-boxed nav-justified">
                                        
										<li>
											<a href="javascript:;" ng-click="open()"><i class="color-primary fa fa-user"></i>My Details</a>
										</li>
										
                                        <li><a href= "javascript:;"><i class="color-primary fa fa-calendar"></i> My schedule</a></li>
										<!--  
											<li><a href="#schedule/calendar" "javascript:;"><i class="color-primary fa fa-calendar"></i> My schedule</a></li>
										-->
									   <li><a href="javascript:;"><i class="color-primary fa fa-external-link-square"></i>Leave Request</a></li>
                                        <li><a href="javascript:;"><i class="color-primary fa fa-bookmark"></i> Change Shift</a></li>
                                        <li><a href="javascript:;"><i class="color-primary fa fa-reply-all"></i>Request Status</a></li>
                                        <li><a href="javascript:;"><i class="color-primary fa fa-money"></i>Current Payslip </a></li>
                                    </ul>
                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="col-md-12">
									<div class="col-md-4">
									</div>
									<div class="nav nav-boxed nav-justified">
										<span><img ng-src={{admin.logo}} class="img-responsive"></img></span>
									</div>	
                                </div>
                            </div>
                        </div>
                </div>
        </div>