<header class="top-header clearfix"  ng-controller="HeaderCtrl as header">

    <!-- Logo -->
    <div class="logo">
        <a href="#/">
            <span ><img ng-src="{{logo.getData()}}" height="60" width="220" ></span>
        </a>
    </div>

    <div class="top-nav">
        <ul class="nav-right pull-left list-unstyled">
            <!-- <li class="dropdown text-normal nav-profile" >
                <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" >
                    <i class="fa fa-envelope-o"></i>
                    <span class="badge badge-danger">{{header.handler.form.ping}}</span>
                </a>
                <div class=" dropdown-menu with-arrow panel panel-dark" ng-click="$event.stopPropagation()">
                
                </div>       
            </li>   -->  
            <li class="dropdown text-normal nav-profile">
               <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" is-open="status.isopen" on-toggle="toggled(open)" >
                    <i class="fa fa-envelope-o"></i>
                    <span class="badge badge-danger">{{header.handler.form.ping}}</span>
                </a>
                <ul class=" dropdown-menu  " ng-click="$event.stopPropagation()"  >
                    <li style="padding : 1em">
                        <div class="row">
                            <ul class="list-unstyled col-md-4">    
                                <div class="panel panel-default">
                                    <div class="panel-heading"><h3 style="display: inline; padding-right  : 1em; margin-top  : 3em">Notification Panel</h3>  <button type="button" class="btn btn-danger notif" ng-show="">Hide Notif</button></div>
                                        <ul class="list-group" id="chat-output">
                                            <li ng-repeat="req in header.handler.readX">
                                                <!--Training -->

                                                <div class="panel-body read" ng-class=""   ng-if="req.type == 'Training'">
                                                    <h4>{{req.type}} <marquee scrollamount="10"
                                                            style="width: 40%; background-color:green; padding: 2px; font-size : 16px; font-family :arial; color : white; border-radius : 4px; float : right; display :  inline" 
                                                            ng-if="req.new_message > 0">
                                                            <b><i>new message {{req.new_message}}<b></i></marquee>
                                                             <input type="checkbox" value="None" id="squaredFour" name="check" ng-click="hide_notification($index)"/>
                                                            <label for="squaredFour"></label>
                                                            </h4>
                                                         <button type="button" class="btn btn-success notif" ng-hide="req.action != 'need_action'"><i class="fa fa-thumbs-up" aria-hidden="true" ng-click="approve($index,req)"></i>approve</button>
                                                        <button type="button" class="btn btn-danger notif" ng-hide="req.action != 'need_action'"><i class="fa fa-thumbs-down" aria-hidden="true" ng-click="reject($index,req)"></i>reject</button>
                                                          <button type="button" class="btn btn-warning notif" style="float:right" ng-hide="req.action != 'need_cancle'""><i class="fa fa-thumbs-down" aria-hidden="true" ng-click="cancle($index,req)"></i>cancel</button>
                                                    <div class="panel-body" ng-click="header.handler.clickRequest($index)">
                                                        <p><b>Annotation :</b></p>
                                                        <div class="media">
                                                        <div class="media-left">
                                                           <a href="#"> 
                                                             <img class="media-object"  style="width:50px"  class="circle-avatar"  src="http://hrmsapilab.leekie.com:8943/images/{{req.employee_id}}/{{req.filename ==  null ? 'test.png' :   req.filename}}" alt="...">
                                                            </a>
                                                        </div>
                                                        <div class="media-body">
                                                             <h4 class="media-heading">{{req.employee}}</h4>
                                                                <hr color="gray">
                                                                <p><b>Date :</b>  {{req.start_training}} - {{req.end_training}}</p>
								     <p><b>Request for date :</b> {{req.date_created}}</p>		
								     <p><b>Status :</b> {{req.status  == 'Approval' ? 'Approved' : req.status }}</p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div> 

						    <div class="panel-body read" ng-class=""   ng-if="req.leave_type == 'Suspension'">
                                                    <h4>{{req.leave_type}} <marquee scrollamount="10"
                                                            style="width: 40%; background-color:green; padding: 2px; font-size : 16px; font-family :arial; color : white; border-radius : 4px; float : right; display :  inline" 
                                                            ng-if="req.new_message > 0">
                                                            <b><i>new message {{req.new_message}}<b></i></marquee>
                                                             <input type="checkbox" value="None" id="squaredFour" name="check" ng-click="hide_notification($index)"/>
                                                            <label for="squaredFour"></label>
                                                            </h4>
                                                         <button type="button" class="btn btn-success notif" ng-hide="req.action != 'need_action'"><i class="fa fa-thumbs-up" aria-hidden="true" ng-click="approve($index,req)"></i>approve</button>
                                                        <button type="button" class="btn btn-danger notif" ng-hide="req.action != 'need_action'"><i class="fa fa-thumbs-down" aria-hidden="true" ng-click="reject($index,req)"></i>reject</button>
                                                          <button type="button" class="btn btn-warning notif" style="float:right" ng-hide="req.action != 'need_cancle'""><i class="fa fa-thumbs-down" aria-hidden="true" ng-click="cancle($index,req)"></i>cancel</button>
                                                    <div class="panel-body" ng-click="header.handler.clickRequest($index)">
                                                        <p><b>Annotation :</b></p>
                                                        <div class="media">
                                                        <div class="media-left">
                                                           <a href="#"> 
                                                             <img class="media-object"  style="width:50px"  class="circle-avatar"  src="http://hrmsapilab.leekie.com:8943/images/{{req.employee_id}}/{{req.filename ==  null ? 'test.png' :   req.filename}}" alt="...">
                                                            </a>
                                                        </div>
                                                        <div class="media-body">
                                                             <h4 class="media-heading">{{req.employee}}</h4>
                                                                <hr color="gray">
                                                                <p><b>Date :</b>  {{req.from_}} - {{req.to_}}</p>
								     <p><b>Sanction For :</b> {{req.sanction}}                </p>
	                                                         <p><b>Status :</b> {{req.status  == 'Approval' ? 'Approved' : req.status }}</p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div> 

							
                                            <!--Official bussiness-->
                                                <div class="panel-body read" ng-class=""   ng-if="req.type == 'Official Business'">
                                                    <h4>{{req.type}} <marquee scrollamount="10"
                                                            style="width: 40%; background-color:green; padding: 2px; font-size : 16px; font-family :arial; color : white; border-radius : 4px; float : right; display : inline" 

                                                            ng-if="req.new_message > 0">
                                                            <b><i>new message {{req.new_message}}<b></i></marquee><input type="checkbox" value="None" id="squaredFour" name="check" ng-click="hide_notification($index)"/>
                                                                <label for="squaredFour"></label></h4>
                                                        <button type="button" class="btn btn-success notif" ng-hide="req.action != 'need_action'" ><i class="fa fa-thumbs-up" aria-hidden="true" ng-click="approve($index,req)"></i>approve</button>
                                                        <button type="button" class="btn btn-danger notif" ng-hide="req.action != 'need_action'"><i class="fa fa-thumbs-down" aria-hidden="true" ng-click="reject($index,req)"></i>reject</button>
                                                        <button type="button" class="btn btn-warning notif" style="float:right" ng-hide="req.action != 'need_cancle'""><i class="fa fa-thumbs-down" aria-hidden="true" ng-click="cancle($index,req)"></i>cancel</button>
                                                    <div class="panel-body" ng-click="header.handler.clickRequest($index)">
                                                        <p><b>Annotation :</b></p>
                                                        <div class="media">
                                                        <div class="media-left">
                                                             <a href="#"> 
                                                             <img class="media-object"  style="width:50px"  class="circle-avatar"  src="http://hrmsapilab.leekie.com:8943/images/{{req.employee_id}}/{{req.filename ==  null ? 'test.png' :   req.filename}}" alt="...">
                                                            </a>
                                                        </div>
                                                        <div class="media-body">
                                                            <h4 class="media-heading">{{req.employee}}</h4>
                                                                <hr color="gray">
                                                                <p><b>Date :</b>  {{req.start_training}} - {{req.end_training}}</p>
                                                                <p><b>Status :</b> {{req.status  == 'Approval' ? 'Approved' : req.status }}</p>
                                                                
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div> 

                                                <!--Vacation-->

                                                <div class="panel-body read" ng-class=""   ng-if="req.leave_type == 'Vacation Leave'">
                                                    <h4>{{req.leave_type}} <marquee scrollamount="10"
                                                            style="width: 40%; background-color:green; padding: 2px; font-size : 16px; font-family :arial; color : white; border-radius : 4px; float : right; display : inline" 
                                                            ng-if="req.new_message > 0">
                                                              
                                                            <b><i>new message {{req.new_message}}<b></i></marquee><input type="checkbox" value="None" id="squaredFour" name="check" ng-click="hide_notification($index)"/>
                                                                <label for="squaredFour"></label> </h4>
                                                       
                                                       <button type="button" class="btn btn-success notif" ng-hide="req.action != 'need_action'" ><i class="fa fa-thumbs-up" aria-hidden="true" ng-click="approve($index,req)"></i>approve</button>
                                                        <button type="button" class="btn btn-danger notif" ng-hide="req.action != 'need_action'"><i class="fa fa-thumbs-down" aria-hidden="true" ng-click="reject($index,req)"></i>reject</button>
                                                        <button type="button" class="btn btn-warning notif" style="float:right" ng-hide="req.action != 'need_cancle'""><i class="fa fa-thumbs-down" aria-hidden="true" ng-click="cancle($index,req)"></i>cancel</button>
                                                    <div class="panel-body" ng-click="header.handler.clickRequest($index)">
                                                        <p><b>Annotation :</b></p>
                                                        <div class="media">
                                                        <div class="media-left">
                                                            <a href="#"> 
                                                             <img class="media-object"  style="width:50px"  class="circle-avatar"  src="http://hrmsapilab.leekie.com:8943/images/{{req.employee_id}}/{{req.filename ==  null ? 'test.png' :   req.filename}}" alt="...">
                                                            </a>
                                                        </div>
                                                        <div class="media-body">
                                                            <h4 class="media-heading">{{req.employee}}</h4>
                                                                <hr color="gray">
                                                                <p><b>Date :</b>  {{req.from_}} - {{req.to_}}</p>
                                                                    <p><b>Taken day :</b>  {{req.created_at}}</p>
                                                                    <p><b>Status :</b> {{req.status  == 'Approval' ? 'Approved' : req.status }}</p>
                                                                
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div> 

                                                <!--Bereavement-->

                                                <div class="panel-body read" ng-class=""   ng-if="req.leave_type == 'Bereavement Leave'">
                                                    <h4>{{req.leave_type}} <marquee scrollamount="10"
                                                            style="width: 40%; background-color:green; padding: 2px; font-size : 16px; font-family :arial; color : white; border-radius : 4px; float : right; display : inline" 
                                                            ng-if="req.new_message > 0">
                                                              
                                                            <b><i>new message {{req.new_message}}<b></i></marquee><input type="checkbox" value="None" id="squaredFour" name="check" ng-click="hide_notification($index)"/>
                                                                <label for="squaredFour"></label> </h4>
                                                       
                                                       <button type="button" class="btn btn-success notif" ng-hide="req.action != 'need_action'" ><i class="fa fa-thumbs-up" aria-hidden="true" ng-click="approve($index,req)"></i>approve</button>
                                                        <button type="button" class="btn btn-danger notif" ng-hide="req.action != 'need_action'"><i class="fa fa-thumbs-down" aria-hidden="true" ng-click="reject($index,req)"></i>reject</button>
                                                        <button type="button" class="btn btn-warning notif" style="float:right" ng-hide="req.action != 'need_cancle'""><i class="fa fa-thumbs-down" aria-hidden="true" ng-click="cancle($index,req)"></i>cancel</button>
                                                    <div class="panel-body" ng-click="header.handler.clickRequest($index)">
                                                        <p><b>Annotation :</b></p>
                                                        <div class="media">
                                                        <div class="media-left">
                                                            <a href="#"> 
                                                             <img class="media-object"  style="width:50px"  class="circle-avatar"  src="http://hrmsapilab.leekie.com:8943/images/{{req.employee_id}}/{{req.filename ==  null ? 'test.png' :   req.filename}}" alt="...">
                                                            </a>
                                                        </div>
                                                        <div class="media-body">
                                                            <h4 class="media-heading">{{req.employee}}</h4>
                                                                <hr color="gray">
                                                                <p><b>Date :</b>  {{req.from_}} - {{req.to_}}</p>
                                                                    <p><b>Taken day :</b>  {{req.created_at}}</p>
                                                                    <p><b>Status :</b> {{req.status  == 'Approval' ? 'Approved' : req.status }}</p>
                                                                
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div> 

                                               <!--Maternity Leave-->
                                                    <div class="panel-body read" ng-class=""   ng-if="req.leave_type == 'Maternity Leave'">
                                                    <h4>{{req.leave_type}} <marquee scrollamount="10"
                                                            style="width: 40%; background-color:green; padding: 2px; font-size : 16px; font-family :arial; color : white; border-radius : 4px; float : right; display : inline" 
                                                            ng-if="req.new_message > 0">
                                                              
                                                            <b><i>new message {{req.new_message}}<b></i></marquee><input type="checkbox" value="None" id="squaredFour" name="check" ng-click="hide_notification($index)"/>
                                                                <label for="squaredFour"></label> </h4>
                                                       
                                                       <button type="button" class="btn btn-success notif" ng-hide="req.action != 'need_action'" ><i class="fa fa-thumbs-up" aria-hidden="true" ng-click="approve($index,req)"></i>approve</button>
                                                        <button type="button" class="btn btn-danger notif" ng-hide="req.action != 'need_action'"><i class="fa fa-thumbs-down" aria-hidden="true" ng-click="reject($index,req)"></i>reject</button>
                                                        <button type="button" class="btn btn-warning notif" style="float:right" ng-hide="req.action != 'need_cancle'""><i class="fa fa-thumbs-down" aria-hidden="true" ng-click="cancle($index,req)"></i>cancel</button>
                                                    <div class="panel-body" ng-click="header.handler.clickRequest($index)">
                                                        <p><b>Annotation :</b></p>
                                                        <div class="media">
                                                        <div class="media-left">
                                                            <a href="#"> 
                                                             <img class="media-object"  style="width:50px"  class="circle-avatar"  src="http://hrmsapilab.leekie.com:8943/images/{{req.employee_id}}/{{req.filename ==  null ? 'test.png' :   req.filename}}" alt="...">
                                                            </a>
                                                        </div>
                                                        <div class="media-body">
                                                            <h4 class="media-heading">{{req.employee}}</h4>
                                                                <hr color="gray">
                                                                <p><b>Date :</b>  {{req.from_}} - {{req.to_}}</p>
                                                                    <p><b>Taken day :</b>  {{req.created_at}}</p>
                                                                    <p><b>Status :</b> {{req.status  == 'Approval' ? 'Approved' : req.status }}</p>
                                                                
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div> 


                                               <!--////////-->

                                                <!-- enhance -->
                                                 <div class="panel-body read" ng-class=""   ng-if="req.leave_type == 'Enhance Vacation Leave'">
                                                    <h4>{{req.leave_type}}  <marquee scrollamount="10"
                                                            style="width: 40%; background-color:green; padding: 2px; font-size : 16px; font-family :arial; color : white; border-radius : 4px; float : right; display:inline" 
                                                            ng-if="req.new_message > 0">
                                                              
                                                            <b><i>new message {{req.new_message}}<b></i></marquee><input type="checkbox" value="None" id="squaredFour" name="check" ng-click="hide_notification($index)"/>
                                                                <label for="squaredFour"></label></h4>
                                                       <button type="button" class="btn btn-success notif" ng-hide="req.action != 'need_action'" ><i class="fa fa-thumbs-up" aria-hidden="true" ng-click="approve($index,req)"></i>approve</button>
                                                        <button type="button" class="btn btn-danger notif" ng-hide="req.action != 'need_action'"><i class="fa fa-thumbs-down" aria-hidden="true" ng-click="reject($index,req)"></i>reject</button>
                                                        <button type="button" class="btn btn-warning notif" style="float:right" ng-hide="req.action != 'need_cancle'""><i class="fa fa-thumbs-down" aria-hidden="true" ng-click="cancle($index,req)"></i>cancel</button>
                                                    <div class="panel-body" ng-click="header.handler.clickRequest($index)">
                                                        <p><b>Annotation :</b></p>
                                                        <div class="media">
                                                        <div class="media-left">
                                                           <a href="#"> 
                                                             <img class="media-object"  style="width:50px"  class="circle-avatar"  src="http://hrmsapilab.leekie.com:8943/images/{{req.employee_id}}/{{req.filename ==  null ? 'test.png' :   req.filename}}" alt="...">
                                                            </a>
                                                        </div>
                                                        <div class="media-body">
                                                            <h4 class="media-heading">{{req.employee}}</h4>
                                                                <hr color="gray">
                                                                <p><b>Date :</b>  {{req.from_}} - {{req.to_}}</p>
                                                                <p><b>Taken day :</b>  {{req.from_}}</p>
                                                                <p><b>Status :</b> {{req.status  == 'Approval' ? 'Approved' : req.status }}</p>
                                                                
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div> 


                                                <!-- paternity -->
                                                 <div class="panel-body read" ng-class=""   ng-if="req.leave_type == 'Paternity Leave'">
                                                    <h4>{{req.leave_type}}  <marquee scrollamount="10"
                                                            style="width: 40%; background-color:green; padding: 2px; font-size : 16px; font-family :arial; color : white; border-radius : 4px; float : right; display : inline" 
                                                            ng-if="req.new_message > 0">    
                                                            <b><i>new message {{req.new_message}}<b></i></marquee><input type="checkbox" value="None" id="squaredFour" name="check" ng-click="hide_notification($index)"/>
                                                                <label for="squaredFour"></label></h4>
                                                        <button type="button" class="btn btn-success notif" ng-hide="req.action != 'need_action'" ><i class="fa fa-thumbs-up" aria-hidden="true" ng-click="approve($index,req)"></i>approve</button>
                                                        <button type="button" class="btn btn-danger notif" ng-hide="req.action != 'need_action'"><i class="fa fa-thumbs-down" aria-hidden="true" ng-click="reject($index,req)"></i>reject</button>
                                                        <button type="button" class="btn btn-warning notif" style="float:right" ng-hide="req.action != 'need_cancle'""><i class="fa fa-thumbs-down" aria-hidden="true" ng-click="cancle($index,req)"></i>cancel</button>
                                                    <div class="panel-body" ng-click="header.handler.clickRequest($index)">
                                                        <p><b>Annotation :</b></p>
                                                        <div class="media">
                                                        <div class="media-left">
                                                          
                                                            <a href="#"> 
                                                             <img class="media-object"  style="width:50px"  class="circle-avatar"  src="http://hrmsapilab.leekie.com:8943/images/{{req.employee_id}}/{{req.filename ==  null ? 'test.png' :   req.filename}}" alt="...">
                                                            </a>
                                                        </div>
                                                        <div class="media-body">
                                                            <h4 class="media-heading">{{req.employee}}</h4>
                                                                <hr color="gray">
                                                                <p><b>Date :</b>  {{req.from_}} - {{req.to_}}</p>
                                                                <p><b>Taken day :</b>  {{req.from_}}</p>
                                                                <p><b>Status :</b> {{req.status  == 'Approval' ? 'Approved' : req.status }}</p>
                                                                
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div> 

                                                <!-- Overtime  -->

                                                <div class="panel-body read" ng-class=""  ng-click="header.handler.clickRequest($index)" ng-if="req.type == 'Overtime' ">
                                                    <h4>{{req.type}} <marquee scrollamount="10"
                                                            style="width: 40%; background-color:green; padding: 2px; font-size : 16px; font-family :arial; color : white; border-radius : 4px; float : right; display:  inline" 

                                                            ng-if="req.new_message > 0">
                                                            
                                                            <b><i>new message {{req.new_message}}<b></i></marquee>  <input type="checkbox" value="None" id="squaredFour" name="check" ng-click="hide_notification($index)"/>
                                                                <label for="squaredFour"></label></h4>
                                                        <button type="button" class="btn btn-success notif" ng-hide="req.action != 'need_action'" ><i class="fa fa-thumbs-up" aria-hidden="true" ng-click="approve($index,req)"></i>approve</button>
                                                        <button type="button" class="btn btn-danger notif" ng-hide="req.action != 'need_action'"><i class="fa fa-thumbs-down" aria-hidden="true" ng-click="reject($index,req)"></i>reject</button>
                                                        <button type="button" class="btn btn-warning notif" style="float:right" ng-hide="req.action != 'need_cancle'""><i class="fa fa-thumbs-down" aria-hidden="true" ng-click="cancle($index,req)"></i>cancel</button>
                                                    <div class="panel-body">
                                                        <p><b>Annotation :</b></p>
                                                        <div class="media">
                                                        <div class="media-left">
                                                             <a href="#"> 
                                                             <img class="media-object"  style="width:50px"  class="circle-avatar"  src="http://hrmsapilab.leekie.com:8943/images/{{req.employee_id}}/{{req.filename ==  null ? 'test.png' :   req.filename}}" alt="...">
                                                            </a>
                                                        </div>
                                                        <div class="media-body">
                                                            <h4 class="media-heading">{{req.employee}}</h4>
                                                                <hr color="gray">
                                                                <p><b>Date  :</b>{{req.date_}}</p>
								<p><b>Request for date :</>{{req.availment_date}}</p>
                                                                <p><b>Working Time  :</b>{{req.time_shift_code_overtime}}</p>
                                                                <p><b>Overtime Time :</b>{{req.overtime_start}} - {{req.overtime_end}}</p>
                                                               <p><b>Status :</b> {{req.status  == 'Approval' ? 'Approved' : req.status }}</p>
                                                                
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                                <!-- Undertime  -->

                                                <div class="panel-body read" ng-class=""  ng-click="header.handler.clickRequest($index)" ng-if="req.type == 'Undertime'">
                                                    <h4>{{req.type}} <marquee scrollamount="10"
                                                            style="width: 40%; background-color:green; padding: 2px; font-size : 16px; font-family :arial; color : white; border-radius : 4px; float : right; display  : inline" 
                                                            ng-if="req.new_message > 0">
                                                             
                                                            <b><i>new message {{req.new_message}}<b></i></marquee><input type="checkbox" value="None" id="squaredFour" name="check" ng-click="hide_notification($index)"/>
                                                             <label for="squaredFour"></label></h4>
                                                       <button type="button" class="btn btn-success notif" ng-hide="req.action != 'need_action'" ><i class="fa fa-thumbs-up" aria-hidden="true" ng-click="approve($index,req)"></i>approve</button>
                                                        <button type="button" class="btn btn-danger notif" ng-hide="req.action != 'need_action'"><i class="fa fa-thumbs-down" aria-hidden="true" ng-click="reject($index,req)"></i>reject</button>
                                                        <button type="button" class="btn btn-warning notif" style="float:right" ng-hide="req.action != 'need_cancle'""><i class="fa fa-thumbs-down" aria-hidden="true" ng-click="cancle($index,req)"></i>cancel</button>
                                                    <div class="panel-body">
                                                        <p><b>Annotation :</b></p>
                                                        <div class="media">
                                                        <div class="media-left">
                                                            <a href="#"> 
                                                             <img class="media-object"  style="width:50px"  class="circle-avatar"  src="http://hrmsapilab.leekie.com:8943/images/{{req.employee_id}}/{{req.filename ==  null ? 'test.png' :   req.filename}}" alt="...">
                                                            </a>
                                                        </div>
                                                        <div class="media-body">
                                                            <h4 class="media-heading">{{req.employee}}</h4>
                                                                <hr color="gray">
                                                                <p><b>Date  :</b>{{req.date_}}</p>
                                                                <p><b>Working Time  :</b>{{req.time_shift_code_undertime}}</p>
                                                                <p><b>Undertime Time :</b>{{req.end_time_request_undertime}}</p>
                                                                <p><b>Undertime Total Time :</b>{{req.date_diff_end_time_and_shift_time}}</p>
                                                                <p><b>Status :</b> {{req.status  == 'Approval' ? 'Approved' : req.status }}</p>
                                                                
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div> 

                                                <!--Late / Early-->
                                                <div class="panel-body read" ng-class=""  ng-click="header.handler.clickRequest($index)" ng-if="
                                                req.type == 'Early Out'">
                                                    <h4>{{req.type}} <marquee scrollamount="10"
                                                            style="width: 40%; background-color:green; padding: 2px; font-size : 16px; font-family :arial; color : white; border-radius : 4px; float : right; display: inline" 
                                                            ng-if="req.new_message > 0">
                                                              
                                                            <b><i>new message {{req.new_message}}<b></i></marquee><input type="checkbox" value="None" id="squaredFour" name="check" ng-click="hide_notification($index)"/>
                                                                <label for="squaredFour"></label></h4>
                                                        <button type="button" class="btn btn-success notif" ng-hide="req.action != 'need_action'" ><i class="fa fa-thumbs-up" aria-hidden="true" ng-click="approve($index,req)"></i>approve</button>
                                                        <button type="button" class="btn btn-danger notif" ng-hide="req.action != 'need_action'"><i class="fa fa-thumbs-down" aria-hidden="true" ng-click="reject($index,req)"></i>reject</button>
                                                        <button type="button" class="btn btn-warning notif" style="float:right" ng-hide="req.action != 'need_cancle'""><i class="fa fa-thumbs-down" aria-hidden="true" ng-click="cancle($index,req)"></i>cancel</button>
                                                    <div class="panel-body">
                                                        <p><b>Annotation :</b></p>
                                                        <div class="media">
                                                        <div class="media-left">
                                                             <a href="#"> 
                                                             <img class="media-object"  style="width:50px"  class="circle-avatar"  src="http://hrmsapilab.leekie.com:8943/images/{{req.employee_id}}/{{req.filename ==  null ? 'test.png' :   req.filename}}" alt="...">
                                                            </a>
                                                        </div>
                                                        <div class="media-body">
                                                            <h4 class="media-heading">{{req.employee}}</h4>
                                                                <hr color="gray">
								<p><b>Current Schedule  :</b>{{req.schedule_earlyOut}}</p>
								<p><b>Record Time Out  :</b>{{req.time_out}}</p>
								<p><b>Early For  :</b>{{req.earlyOut_for}}</p>
                                                                <p><b>Date  :</b>{{req.date_}}</p>

                                                                <p><b>Status :</b> {{req.status  == 'Approval' ? 'Approved' : req.status }}</p>
                                                                
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div> 

                                                  <div class="panel-body read" ng-class=""  ng-click="header.handler.clickRequest($index)" ng-if="req.type == 'Late'">
                                                    <h4>{{req.type}} <marquee scrollamount="10"
                                                            style="width: 40%; background-color:green; padding: 2px; font-size : 16px; font-family :arial; color : white; border-radius : 4px; float : right; display : inline" 

                                                            ng-if="req.new_message > 0">
                                                             
                                                            <b><i>new message {{req.new_message}}<b></i></marquee><input type="checkbox" value="None" id="squaredFour" name="check" ng-click="hide_notification($index)"/>
                                                             <label for="squaredFour"></label></h4>
                                                        <button type="button" class="btn btn-success notif" ng-hide="req.action != 'need_action'" ><i class="fa fa-thumbs-up" aria-hidden="true" ng-click="approve($index,req)"></i>approve</button>
                                                        <button type="button" class="btn btn-danger notif" ng-hide="req.action != 'need_action'"><i class="fa fa-thumbs-down" aria-hidden="true" ng-click="reject($index,req)"></i>reject</button>
                                                        <button type="button" class="btn btn-warning notif" style="float:right" ng-hide="req.action != 'need_cancle'""><i class="fa fa-thumbs-down" aria-hidden="true" ng-click="cancle($index,req)"></i>cancel</button>
                                                    <div class="panel-body">
                                                        <p><b>Annotation :</b></p>
                                                        <div class="media">
                                                        <div class="media-left">
                                                            <a href="#"> 
                                                             <img class="media-object"  style="width:50px"  class="circle-avatar"  src="http://hrmsapilab.leekie.com:8943/images/{{req.employee_id}}/{{req.filename ==  null ? 'test.png' :   req.filename}}" alt="...">
                                                            </a>
                                                        </div>
                                                        <div class="media-body">
                                                            <h4 class="media-heading">{{req.employee}}</h4>
                                                                <hr color="gray">
								<p><b>Request Tiem/Date :</b>{{req.dateLate}}</p>
								<p><b>Current Schedule  :</b>{{req.late_schedule}}</p>
								<p><b>Record Time In    :</b>{{req.time_in_late}}</p>
								<p><b>Late for          :</b>{{req.lateTime}}</p>
								<p><b>Status            :</b>{{req.status  == 'Approval' ? 'Approved' : req.status }}</p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div> 

                                                <!-- Change Shift  -->

                                                <div class="panel-body read" ng-class=""  ng-click="header.handler.clickRequest($index)" ng-if="req.type == 'Change Shift'">
                                                    <h4>{{req.type}} <marquee scrollamount="10"
                                                            style="width: 40%; background-color:green; padding: 2px; font-size : 16px; font-family :arial; color : white; border-radius : 4px; float : right;display : inline" 
                                                            ng-if="req.new_message > 0">
                                                                
                                                            <b><i>new message {{req.new_message}}<b></i></marquee><input type="checkbox" value="None" id="squaredFour" name="check" ng-click="hide_notification($index)"/>
                                                                <label for="squaredFour"></label></h4>
                                                        <button type="button" class="btn btn-success notif" ng-hide="req.action != 'need_action'" ><i class="fa fa-thumbs-up" aria-hidden="true" ng-click="approve($index,req)"></i>approve</button>
                                                        <button type="button" class="btn btn-danger notif" ng-hide="req.action != 'need_action'"><i class="fa fa-thumbs-down" aria-hidden="true" ng-click="reject($index,req)"></i>reject</button>
                                                        <button type="button" class="btn btn-warning notif" style="float:right" ng-hide="req.action != 'need_cancle'""><i class="fa fa-thumbs-down" aria-hidden="true" ng-click="cancle($index,req)"></i>cancel</button>
                                                    <div class="panel-body">
                                                        <p><b>Annotation :</b></p>
                                                        <div class="media">
                                                        <div class="media-left">
                                                            <a href="#"> 
                                                             <img class="media-object"  style="width:50px"  class="circle-avatar"  src="http://hrmsapilab.leekie.com:8943/images/{{req.employee_id}}/{{req.filename ==  null ? 'test.png' :   req.filename}}" alt="...">
                                                            </a>
                                                        </div>
                                                        <div class="media-body">
                                                            <h4 class="media-heading">{{req.employee}}</h4>
                                                                <hr color="gray">
                                                                <p><b>Date  :</b>{{req.date_request_change_shift}}</p>
                                                                <p><b>Old Shift  :</b>{{req.old_shift_change_shift}}</p>
                                                                <p><b>New Shift :</b>{{req.new_shift_change_shift}}</p>
                                                                <p><b>Status :</b> {{req.status  == 'Approval' ? 'Approved' : req.status }}</p>
                                                                
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div> 

                                                <!-- Swap Shift  -->

                                                <div class="panel-body read" ng-class=""  ng-click="header.handler.clickRequest($index)" ng-if="req.type == 'Swap Shift / Day Off'">
                                                    <h4>{{req.type}} <marquee scrollamount="10"
                                                            style="width: 40%; background-color:green; padding: 2px; font-size : 16px; font-family :arial; color : white; border-radius : 4px; float : right; display: inline" 

                                                            ng-if="req.new_message > 0">
                                                              
                                                            <b><i>new message {{req.new_message}}<b></i></marquee><input type="checkbox" value="None" id="squaredFour" name="check" ng-click="hide_notification($index)"/>
                                                                <label for="squaredFour"></label></h4>
                                                        <button type="button" class="btn btn-success notif" ng-hide="req.action != 'need_action'" ><i class="fa fa-thumbs-up" aria-hidden="true" ng-click="approve($index,req)"></i>approve</button>
                                                        <button type="button" class="btn btn-danger notif" ng-hide="req.action != 'need_action'"><i class="fa fa-thumbs-down" aria-hidden="true" ng-click="reject($index,req)"></i>reject</button>
                                                        <button type="button" class="btn btn-warning notif" style="float:right" ng-hide="req.action != 'need_cancle'""><i class="fa fa-thumbs-down" aria-hidden="true" ng-click="cancle($index,req)"></i>cancel</button>
                                                    <div class="panel-body">
                                                        <p><b>Annotation :</b></p>
                                                        <div class="media">
                                                        <div class="media-left">
                                                             <a href="#"> 
                                                             <img class="media-object"  style="width:50px"  class="circle-avatar"  src="http://hrmsapilab.leekie.com:8943/images/{{req.employee_id}}/{{req.filename ==  null ? 'test.png' :   req.filename}}" alt="...">
                                                            </a>
                                                        </div>
                                                        <div class="media-body">
                                                            <h4 class="media-heading">{{req.employee}}</h4>
                                                                <hr color="gray">
                                                                <p><b>Date  :</b>{{req.date_}}</p>
                                                                <p><b>Employee  :</b>{{req.employee}} (shift id : {{req.old_shift_swap_shift}} )</p>
                                                                <p><b>Change With :</b>{{req.employee_swap_for_swap_shift}} ( shift id : {{req.new_shift_swap_shift}})</p>
                                                                <p><b>Status :</b> {{req.status  == 'Approval' ? 'Approved' : req.status }}</p>
                                                                
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div> 
                                               
                                                <!-- Sick Leave -->

                                                <div class="panel-body read" ng-class=""   ng-if="req.leave_type == 'Sick Leave'">
                                                    <h4>{{req.leave_type}} <marquee scrollamount="10"
                                                            style="width: 40%; background-color:green; padding: 2px; font-size : 16px; font-family :arial; color : white; border-radius : 4px; float : right; display  : inline" 
                                                            ng-if="req.new_message > 0">
                                                              
                                                            <b><i>new message {{req.new_message}}<b></i></marquee><input type="checkbox" value="None" id="squaredFour" name="check" ng-click="hide_notification($index)"/>
                                                                <label for="squaredFour"></label> </h4>
                                                       
                                                        <button type="button" class="btn btn-success notif" ng-hide="req.action != 'need_action'" ><i class="fa fa-thumbs-up" aria-hidden="true" ng-click="approve($index,req)"></i>approve</button>
                                                        <button type="button" class="btn btn-danger notif" ng-hide="req.action != 'need_action'"><i class="fa fa-thumbs-down" aria-hidden="true" ng-click="reject($index,req)"></i>reject</button>
                                                        <button type="button" class="btn btn-warning notif" style="float:right" ng-hide="req.action != 'need_cancle'""><i class="fa fa-thumbs-down" aria-hidden="true" ng-click="cancle($index,req)"></i>cancel</button>
                                                    <div class="panel-body" ng-click="header.handler.clickRequest($index,req)">
                                                        <p><b>Annotation :</b></p>
                                                        <div class="media">
                                                        <div class="media-left">
                                                             <a href="#"> 
                                                             <img class="media-object"  style="width:50px"  class="circle-avatar"  src="http://hrmsapilab.leekie.com:8943/images/{{req.employee_id}}/{{req.filename ==  null ? 'test.png' :   req.filename}}" alt="...">
                                                            </a>
                                                        </div>
                                                        <div class="media-body">
                                                            <h4 class="media-heading">{{req.employee}}</h4>
                                                                <hr color="gray">
                                                                <p><b>Date :</b>  {{req.from_}} - {{req.to_}}</p>
                                                                <p><b>Taken day :</b>  {{req.from_created_at}}</p>
                                                                <p><b>Status :</b> {{req.status  == 'Approval' ? 'Approved' : req.status }}</p>
                                                                
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                                <!-- Maariage Leave -->

                                                <div class="panel-body read" ng-class=""   ng-if="req.leave_type == 'Marriage Leave' ">
                                                    <h4>{{req.leave_type}} <marquee scrollamount="10"
                                                            style="width: 40%; background-color:green; padding: 2px; font-size : 16px; font-family :arial; color : white; border-radius : 4px; float : right; display  : inline" 
                                                            ng-if="req.new_message > 0">
                                                              
                                                            <b><i>new message {{req.new_message}}<b></i></marquee><input type="checkbox" value="None" id="squaredFour" name="check" ng-click="hide_notification($index)"/>
                                                                <label for="squaredFour"></label> </h4>
                                                       
                                                        <button type="button" class="btn btn-success notif" ng-hide="req.action != 'need_action'" ><i class="fa fa-thumbs-up" aria-hidden="true" ng-click="approve($index,req)"></i>approve</button>
                                                        <button type="button" class="btn btn-danger notif" ng-hide="req.action != 'need_action'"><i class="fa fa-thumbs-down" aria-hidden="true" ng-click="reject($index,req)"></i>reject</button>
                                                        <button type="button" class="btn btn-warning notif" style="float:right" ng-hide="req.action != 'need_cancle'""><i class="fa fa-thumbs-down" aria-hidden="true" ng-click="cancle($index,req)"></i>cancel</button>
                                                    <div class="panel-body" ng-click="header.handler.clickRequest($index,req)">
                                                        <p><b>Annotation :</b></p>
                                                        <div class="media">
                                                        <div class="media-left">
                                                             <a href="#"> 
                                                             <img class="media-object"  style="width:50px"  class="circle-avatar"  src="http://hrmsapilab.leekie.com:8943/images/{{req.employee_id}}/{{req.filename ==  null ? 'test.png' :   req.filename}}" alt="...">
                                                            </a>
                                                        </div>
                                                        <div class="media-body">
                                                            <h4 class="media-heading">{{req.employee}}</h4>
                                                                <hr color="gray">
                                                                <p><b>Date :</b>  {{req.from_}} - {{req.to_}}</p>
                                                                <p><b>Taken day :</b>  {{req.from_created_at}}</p>
                                                                <p><b>Status :</b> {{req.status  == 'Approval' ? 'Approved' : req.status }}</p>
                                                                
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>


                                                <!-- Emmergency Leave -->

                                                <div class="panel-body read" ng-class=""   ng-if="req.leave_type == 'Emergency Leave'">
                                                    <h4>{{req.leave_type}} <marquee scrollamount="10"
                                                            style="width: 40%; background-color:green; padding: 2px; font-size : 16px; font-family :arial; color : white; border-radius : 4px; float : right; display : inline" 

                                                            ng-if="req.new_message > 0">
                                                              
                                                            <b><i>new message {{req.new_message}}<b></i></marquee><input type="checkbox" value="None" id="squaredFour" name="check" ng-click="hide_notification($index)"/>
                                                                <label for="squaredFour"></label> </h4>
                                                       
                                                       <button type="button" class="btn btn-success notif" ng-hide="req.action != 'need_action'" ><i class="fa fa-thumbs-up" aria-hidden="true" ng-click="approve($index,req)"></i>approve</button>
                                                        <button type="button" class="btn btn-danger notif" ng-hide="req.action != 'need_action'"><i class="fa fa-thumbs-down" aria-hidden="true" ng-click="reject($index,req)"></i>reject</button>
                                                        <button type="button" class="btn btn-warning notif" style="float:right" ng-hide="req.action != 'need_cancle'""><i class="fa fa-thumbs-down" aria-hidden="true" ng-click="cancle($index,req)"></i>cancel</button>
                                                    <div class="panel-body" ng-click="header.handler.clickRequest($index,req)">
                                                        <p><b>Annotation :</b></p>
                                                        <div class="media">
                                                        <div class="media-left">
                                                            <a href="#"> 
                                                             <img class="media-object"  style="width:50px"  class="circle-avatar"  src="http://hrmsapilab.leekie.com:8943/images/{{req.employee_id}}/{{req.filename ==  null ? 'test.png' :   req.filename}}" alt="...">
                                                            </a>
                                                        </div>
                                                        <div class="media-body">
                                                            <h4 class="media-heading">{{req.employee}}</h4>
                                                                <hr color="gray">
                                                                <p><b>Date :</b>  {{req.from_}} - {{req.to_}}</p>
                                                                <p><b>Taken day :</b>  {{req.from_created_at}}</p>
                                                                <p><b>Status :</b> {{req.status  == 'Approval' ? 'Approved' : req.status }}</p>
                                                                
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div> 


						<!-- Time in Out -->
                                                <div class="panel-body read" ng-class=""   ng-if="req.type == 'Time-In / Time-Out' ">
                                                    <h4>{{req.type}} <marquee scrollamount="10"
                                                            style="width: 40%; background-color:green; padding: 2px; font-size : 16px; font-family :arial; color : white; border-radius : 4px; float : right; display:inline" ng-if="req.new_message > 0"><b><i>new message {{req.new_message}}<b></i></marquee>
                                                                <input type="checkbox" value="None" id="squaredFour" name="check" ng-click="hide_notification($index)"/>
                                                                <label for="squaredFour"></label>
                                                            </h4>
  
                                                        <button type="button" class="btn btn-success notif" ng-hide="req.action != 'need_action'"><i class="fa fa-thumbs-up" aria-hidden="true" ng-click="approve($index,req)"></i>approve</button>
                                                        <button type="button" class="btn btn-danger notif" ng-hide="req.action != 'need_action'"><i class="fa fa-thumbs-down" aria-hidden="true" ng-click="reject($index,req)"></i>reject</button>
                                                        <button type="button" class="btn btn-warning notif" style="float:right" ng-hide="req.action != 'need_cancle'"><i class="fa fa-thumbs-down" aria-hidden="true" ng-click="cancle($index,req)"></i>cancel</button>
                                                    <div class="panel-body" ng-click="header.handler.clickRequest($index)">
                                                        <p><b>Annotation :</b></p>
                                                        <div class="media">
                                                        <div class="media-left">
                                                             <a href="#"> 
                                                             <img class="media-object"  style="width:50px"  class="circle-avatar"  src="http://hrmsapilab.leekie.com:8943/images/{{req.employee_id}}/{{req.filename ==  null ? 'test.png' :   req.filename}}" alt="...">
                                                            </a>
                                                        </div>
                                                        <div class="media-body">
                                                            <h4 class="media-heading">{{req.employee}}</h4>
                                                                <hr color="gray">
                                                                <p><b>Date :</b>  {{req.availment_date}}</p>
                                                                <p><b>Date Request :</b>  {{req.date_request}}</p>
								<p><b>Schedule  :</b>  {{req.time_in_out_schedule}}</p>
                                                                <p><b>Time In :</b>  {{req.req_in}}</p>
                                                                <p><b>Time Out :</b>  {{req.req_out}}</p>
                                                                <p><b>Status :</b> {{req.status  == 'Approval' ? 'Approved' : req.status }}</p>
                                                                
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div> 

                                        </li>
                                
                                      
                                    </ul>
                                 </div>    
                                                   
                            </ul>


                            <ul class="list-unstyled col-md-8">

                                 
                                  <div class="panel panel-default">
                                  <div class="panel-heading"><h3>Chat Panel</h3></div>
                                  <ul class="list-group" id="chat-output" >
                                    <li class=" "  ng-class="chat.side == 'force' ? 'send message' : 'receive message'  " ng-repeat="chat in header.handler.test.data" ng-hide="">
                                        <strong>{{chat.comm_name}}</strong> : {{chat.comment}}
                                    </li>
                                   <!--  <li class="receive message">
                                        Ya, Sat.
                                    </li>
                                    <li class="send message">
                                        NGapain di rumah jing.
                                    </li>
                                    <li class="receive message">
                                        Berisik lu Sat.
                                    </li> -->
                                  </ul>
                                  <div class="panel-body">

                                    <form id="chat">
                                      <div class="input-group">
                                        <input type="text" class="form-control" id="chat-input" ng-model="header.form.comment" ng-hide="checkDisabled()"/>
                                            <span class="input-group-btn">
                                              <button type="submit" class="btn btn-default" ng-click="header.handler.onMessage(header.form.comment)"  
                                              ng-hide="checkDisabled()">Send Message</button>
                                            </span>
                                      </div>
                                    </form>
                                  </div>
                                </div>                   
                            </ul>
                        </div>
                    </li>
                </ul>     
            </li>
        </ul>

        <ul class="nav-right pull-right list-unstyled">
            <li>
	            <label style="display:block; font-size: .8em;margin-right: .5em; margin-top: 0.5em; font-weight: 450" id="clock"></label>
	            <label style="display:block;font-size: .8em;margin-right: .5em;font-weight: 450" id="date"></label>
            </li>
            <li class="dropdown text-normal nav-profile">
                <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown">
					<span> Welcome,</span>
					<span>{{name.getname()}}</span>
                    <span class="hidden-xs">
                        
                    </span>
				<i class="fa fa-angle-double-down"></i>
                </a>
                <ul class="dropdown-menu with-arrow pull-right">
                    <!--
					<li>
                        <a href="#/pages/lock-screen">
                            <i class="fa fa-lock"></i>
                            <span data-i18n="Lock"></span>
                        </a>
                    </li>
					-->
                    <li ng-click="logOut()">
                        <a href="">
                            <i class="fa fa-sign-out"></i>
                            <span data-i18n="Log Out"></span>
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
    <script type="text/javascript">
    var months = ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December'];
	var date = new Date();
	var day = date.getDate();
	var month = date.getMonth();
	var yy = date.getYear();
	var year = (yy < 1000) ? yy + 1900 : yy;
	document.getElementById('date').innerHTML = "Date  : "+day + " " + months[month] + " " + year;


   	function showTime() {
    	var a_p = "";
	    var today = new Date();
	    var curr_hour = today.getHours();
	    var curr_minute = today.getMinutes();
	    var curr_second = today.getSeconds();
	    if (curr_hour < 12) {
	        a_p = "AM";
	    } else {
	        a_p = "PM";
	    }
	    if (curr_hour == 0) {
	        curr_hour = 12;
	    }
	    if (curr_hour > 12) {
	        curr_hour = curr_hour - 12;
	    }
	    curr_hour = checkTime(curr_hour);
	    curr_minute = checkTime(curr_minute);
	    curr_second = checkTime(curr_second);
 		document.getElementById('clock').innerHTML="Time  : "+curr_hour + ":" + curr_minute + ":" + curr_second + " " + a_p;
    }

	function checkTime(i) {
    	if (i < 10) {
        	i = "0" + i;
    	}
    return i;
	}
	setInterval(showTime, 500);

</script>
</header>
