<li class="dropdown" >
                <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" >
                    <i class="fa fa-envelope-o"></i>
                    <span class="badge badge-danger">{{header.handler.form.ping}}</span>
                </a>
                <div class=" dropdown-menu with-arrow panel panel-dark">
                    <div class="panel-heading">
                        You have {{pinger}} mails.
                    </div>
                    <ul class="list-group" ng-repeat="data in header.handler.form.request" ng-click="$event.stopPropagation();">
                        <li class="list-group-item" ng-style="data.read ===  'r' ? {'background-color':'rgba(214, 239, 255, 1)'} :{ 'background-color':'white'}">
                                <a href="javascript:;" class="media" ><!-- ng-click="d(data)" -->
                                    <span class="media-left media-icon">
                                        <span class="btn-icon-lined btn-icon-round btn-warning"><i class="fa fa-envelope"></i></span>
                                    </span>
                                    <div class="media-body" ng-click="unread('read',$index)">
                                        <span class="block" ng-click="showdetail = !showdetail" ng-hide="data.status == 'Pending'"><b>{{data.employee}}</b> sent you request <b><b>{{data.type}}</b></b></span>
                                            {{data.status}}
                                          <span class="block" ng-click="showdetail = !showdetail" ng-hide="data.status != 'Pending'">replied request for <b>{{data.types}}</b></span>
                                            
                                        <div ng-show="showdetail">
                                             <div ng-if="data.status == 'Approved' ">
                                                <div class="panel panel-success"  >

                                                    <div class="panel-heading">
                                                        <h3 class="panel-title"><b>{{data.types}}</b></h3>
                                                    </div>
                                                    <div class="panel panel-default ui-ribbon-container ui-ribbon-success">
                                                        <div class="ui-ribbon-wrapper">
                                                            <div class="ui-ribbon">
                                                                {{data.status}}
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div></div>
                                                    <div class="panel-body">
                                                        <span class="block">For request at {{data.date_request}}</span>
                                                        <span class="block">Approved By {{data.approve_by}}</span>
                                                        
                                                    </div>
                                                </div>
                                                
                                            </div>
                                            <div ng-if="data.type == 'Time-In / Time-Out' ">
                                                <div class="panel panel-success"  >

                                                    <div class="panel-heading">
                                                        <h3 class="panel-title"><b>{{data.type}}</b></h3>
                                                    </div>
                                                    <div class="panel panel-default ui-ribbon-container ui-ribbon-success">
                                                        <div class="ui-ribbon-wrapper">
                                                            <div class="ui-ribbon">
                                                                {{data.status}}
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div></div>
                                                    <div class="panel-body">
                                                        <span class="block">For request at {{data.for_request}}</span>
                                                        <span class="block">Time-in    : {{data.req_in}}</span>
                                                        <span class="block">Time-out   :{{data.req_out}}</span> 
                                                        <br>
                                                        <div class= "col-md-6">
                                                            <button type="button" class="btn btn-w-md btn-gap-v btn-round btn-success" ng-click="approve(data)"><span class="fa fa-thumbs-o-up">&nbsp;approve</span> </button> 
                                                        </div>
                                                        <div class= "col-md-6">
                                                            <button type="button" class="btn btn-w-md btn-gap-v btn-round btn-danger" ng-click="reject(data)"><span class="fa fa-thumbs-o-down">&nbsp;reject</span> </button> 
                                                        </div>
                                                    </div>
                                                </div>
                                                
                                            </div>
                                            <div ng-if="data.type == 'Training' ">
                                                <div class="panel panel-success">
                                                    <div class="panel-heading">
                                                        <h3 class="panel-title"><b>{{data.type}}</b></h3>
                                                    </div>
                                                    <div class="panel panel-default ui-ribbon-container ui-ribbon-success">
                                                        <div class="ui-ribbon-wrapper">
                                                            <div class="ui-ribbon">
                                                                {{data.status}}
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div></div>
                                                    <div class="panel-body">
                                                        <label class="block">Start From Training Date : </label>
                                                        <span class="block">{{data.start_train}}</span>
                                                        <label class="block">End Date Training Date : </label>
                                                        <span class="block">{{data.end_train}}</span> 
                                                        <br>
                                                        <div class= "col-md-6">
                                                            <button type="button" class="btn btn-w-md btn-gap-v btn-round btn-success" ng-click="approve(data)"><span class="fa fa-thumbs-o-up">&nbsp;approve</span> </button> 
                                                        </div>
                                                        <div class= "col-md-6">
                                                            <button type="button" class="btn btn-w-md btn-gap-v btn-round btn-danger" ng-click="reject(data)"><span class="fa fa-thumbs-o-down">&nbsp;reject</span> </button> 
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div ng-if="data.type == 'Official Business' ">
                                                <div class="panel panel-success">
                                                    <div class="panel-heading">
                                                        <h3 class="panel-title"><b>{{data.type}}</b></h3>
                                                    </div>
                                                    <div class="panel panel-default ui-ribbon-container ui-ribbon-success">
                                                        <div class="ui-ribbon-wrapper">
                                                            <div class="ui-ribbon">
                                                                {{data.status}}
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div></div>
                                                    <div class="panel-body">
                                                        <label class="block">Start From Training Date : </label>
                                                        <span class="block">{{data.start_train}}</span>
                                                        <label class="block">End Date Training Date : </label>
                                                        <span class="block">{{data.end_train}}</span> 
                                                        <br>
                                                        <div class= "col-md-6">
                                                            <button type="button" class="btn btn-w-md btn-gap-v btn-round btn-success" ng-click="approve(data)"><span class="fa fa-thumbs-o-up">&nbsp;approve</span> </button> 
                                                        </div>
                                                        <div class= "col-md-6">
                                                            <button type="button" class="btn btn-w-md btn-gap-v btn-round btn-danger" ng-click="reject(data)"><span class="fa fa-thumbs-o-down">&nbsp;reject</span> </button> 
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div ng-if="data.type == 'Change Shift' ">
                                                <div class="panel panel-success">
                                                    <div class="panel-heading">
                                                        <h3 class="panel-title"><b>{{data.type}}</b></h3>
                                                    </div>
                                                    <div class="panel panel-default ui-ribbon-container ui-ribbon-success">
                                                        <div class="ui-ribbon-wrapper">
                                                            <div class="ui-ribbon">
                                                                {{data.status}}
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div></div>
                                                    <div class="panel-body">
                                                        <label class="block">Change schedule at : </label>
                                                        <span class="block">{{data.request_date}}</span>
                                                        <br>
                                                        <label class="block">Old request schedule : </label>
                                                        <span class="block">Schedule : {{data.old_shift}} ( {{data.time_old_shift}} )</span>
                                                        
                                                        <label class="block">New request date : </label>
                                                        <span class="block">Schedule : {{data.new_shift}} ( {{data.time_new_shift}} )</span>
                                                        <div class= "col-md-6">
                                                            <button type="button" class="btn btn-w-md btn-gap-v btn-round btn-success" ng-click="approve(data)"><span class="fa fa-thumbs-o-up">&nbsp;approve</span> </button> 
                                                        </div>
                                                        <div class= "col-md-6">
                                                            <button type="button" class="btn btn-w-md btn-gap-v btn-round btn-danger" ng-click="reject(data)"><span class="fa fa-thumbs-o-down">&nbsp;reject</span> </button> 
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div ng-if="data.type == 'Overtime' ">
                                                <div class="panel panel-success">
                                                    <div class="panel-heading">
                                                        <h3 class="panel-title"><b>{{data.type}}</b></h3>
                                                    </div>
                                                    <div class="panel panel-default ui-ribbon-container ui-ribbon-success">
                                                        <div class="ui-ribbon-wrapper">
                                                            <div class="ui-ribbon">
                                                                {{data.status}}
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div></div>
                                                    <div class="panel-body">
                                                        <label class="block">Date request overtime : {{data.request_date}}</label>
                                                        <span class="block"></span>
                                                        <label class="block">Schedule : {{data.shift_code}} ( {{data.time_shift_code}} )</label>
                                                        <span class="block"></span>
                                                        <label class="block">Start From : {{data.overtime_start}}</label><span class="block"></span>
                                                        <label class="block">End time : {{data.overtime_start}} </label><span class="block"></span>
                                                        <label class="block">Overtime Total (Hours) : {{data.overtime_total}} </label>
                                                        <div class= "col-md-6">
                                                            <button type="button" class="btn btn-w-md btn-gap-v btn-round btn-success" ng-click="approve(data)"><span class="fa fa-thumbs-o-up">&nbsp;approve</span> </button> 
                                                        </div>
                                                        <div class= "col-md-6">
                                                            <button type="button" class="btn btn-w-md btn-gap-v btn-round btn-danger" ng-click="reject(data)"><span class="fa fa-thumbs-o-down">&nbsp;reject</span> </button> 
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div ng-if="data.type == 'Undertime' ">
                                                <div class="panel panel-success">
                                                    <div class="panel-heading">
                                                        <h3 class="panel-title"><b>{{data.type}}</b></h3>
                                                    </div>
                                                    <div class="panel panel-default ui-ribbon-container ui-ribbon-success">
                                                        <div class="ui-ribbon-wrapper">
                                                            <div class="ui-ribbon">
                                                                {{data.status}}
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div></div>
                                                    <div class="panel-body">
                                                        <label class="block">Date Request Undertime : </label>
                                                        <span class="block">{{data.request_date}}</span>
                                                        <label class="block"></label>
                                                        <label>Schedule : </label>
                                                        <span>{{data.shift_code}} ({{data.time_shift_code}})</span>
                                                        <span class="block"></span>
                                                        <label> watch out : </label><span> {{data.work_end_time}} </span><span>( short : {{data.short}} )</span>
                                                        <div class= "col-md-6">
                                                            <button type="button" class="btn btn-w-md btn-gap-v btn-round btn-success" ng-click="approve(data)"><span class="fa fa-thumbs-o-up">&nbsp;approve</span> </button> 
                                                        </div>
                                                        <div class= "col-md-6">
                                                            <button type="button" class="btn btn-w-md btn-gap-v btn-round btn-danger" ng-click="reject(data)"><span class="fa fa-thumbs-o-down">&nbsp;reject</span> </button> 
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div ng-if="data.type == 'Swap Shift / Day Off' ">
                                                <div class="panel panel-success">
                                                    <div class="panel-heading">
                                                        <h3 class="panel-title"><b>{{data.type}}</b></h3>
                                                    </div>
                                                    <div class="panel panel-default ui-ribbon-container ui-ribbon-success">
                                                        <div class="ui-ribbon-wrapper">
                                                            <div class="ui-ribbon">
                                                                {{data.status}}
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div></div>
                                                    <div class="panel-body">
                                                        <label class="block">Date Request Swap Shift </label>
                                                        <span class="block">{{data.request_date}}</span>
                                                        <label class="block"></label>
                                                        <label>Swap with : </label>
                                                        <span>{{data.swap_with}}</span>
                                                        <span class="block"></span>
                                                        <label class="block"> Schedule  : {{data.old_shift}} ({{data.time_old_shift}})</span>
                                                        <span class="block"></span>
                                                        <label class="block"> Switch To  : {{data.new_shift}} ({{data.time_new_shift}})</span>
                                                        <br>
                                                        <div class= "col-md-6">
                                                            <button type="button" class="btn btn-w-md btn-gap-v btn-round btn-success" ng-click="approve(data)"><span class="fa fa-thumbs-o-up">&nbsp;approve</span> </button> 
                                                        </div>
                                                        <div class= "col-md-6">
                                                            <button type="button" class="btn btn-w-md btn-gap-v btn-round btn-danger" ng-click="reject(data)"><span class="fa fa-thumbs-o-down">&nbsp;reject</span> </button> 
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div ng-if="data.type == 'Late' ">
                                                <div class="panel panel-success">
                                                    <div class="panel-heading">
                                                        <h3 class="panel-title"><b>{{data.type}}</b></h3>
                                                    </div>
                                                    <div class="panel panel-default ui-ribbon-container ui-ribbon-success">
                                                        <div class="ui-ribbon-wrapper">
                                                            <div class="ui-ribbon">
                                                                {{data.status}}
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div></div>
                                                    <div class="panel-body">
                                                        <label class="block">Date Request Late </label>
                                                        <span class="block">{{data.request_date}}</span>
                                                        <label class="block"></label>
                                                        <label>Late Time : </label>
                                                        <span>{{data.late_time}}</span>
                                                        <br>
                                                        <div class= "col-md-6">
                                                            <button type="button" class="btn btn-w-md btn-gap-v btn-round btn-success" ng-click="approve(data)"><span class="fa fa-thumbs-o-up">&nbsp;approve</span> </button> 
                                                        </div>
                                                        <div class= "col-md-6">
                                                            <button type="button" class="btn btn-w-md btn-gap-v btn-round btn-danger" ng-click="reject(data)"><span class="fa fa-thumbs-o-down">&nbsp;reject</span> </button> 
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div ng-if="data.type == 'Early Out' ">
                                                <div class="panel panel-success">
                                                    <div class="panel-heading">
                                                        <h3 class="panel-title"><b>{{data.type}}</b></h3>
                                                    </div>
                                                    <div class="panel panel-default ui-ribbon-container ui-ribbon-success">
                                                        <div class="ui-ribbon-wrapper">
                                                            <div class="ui-ribbon">
                                                                {{data.status}}
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div></div>
                                                    <div class="panel-body">
                                                        <label class="block">Date Request Late </label>
                                                        <span class="block">{{data.request_date}}</span>
                                                        <label class="block"></label>
                                                        <label>Early Out Time : </label>
                                                        <span>{{data.early_time}}</span>
                                                        <br>
                                                        <div class= "col-md-6">
                                                            <button type="button" class="btn btn-w-md btn-gap-v btn-round btn-success" ng-click="approve(data)"><span class="fa fa-thumbs-o-up">&nbsp;approve</span> </button> 
                                                        </div>
                                                        <div class= "col-md-6">
                                                            <button type="button" class="btn btn-w-md btn-gap-v btn-round btn-danger" ng-click="reject(data)"><span class="fa fa-thumbs-o-down">&nbsp;reject</span> </button> 
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                           <!--  <span class="block">for request at {{data.for_request}}</span> -->
                                            <hr>
                                            <div class= "col-md-9">
                                                <span class="text-muted block "><label class="fa fa-clock-o">&nbsp;{{data.created_at}}</label></span>
                                            </div>
                                           
                                        </div>
                                    </div>
                                </a>
                            
                        </li>                 
                    </ul>
                    <div class="panel-footer">
                        <a href="#/mail/inbox">Show all mails.</a>
                    </div>
                </div>
            </li>