        
<div class="nav-wrapper">
    <ul id="nav"
        class="nav"
        data-ng-controller="NavCtrl as  nav"
        data-slim-scroll
        data-collapse-nav
        data-highlight-active>

			<li><a href="#/dashboard2"> <i class="fa fa-dashboard"></i><span data-i18n="Dashboard"></span></a></li>
			<li>
				<a ng-show="menu.master_att" href="#/attendance"><i class="fa fa-list-alt"></i><span data-i18n="Attendance "></span></a>
				<ul>
					<!-- Cut Off  -->
					<li ng-show="menu.sub_cut_off"><i class="fa fa-angle-down"></i><span class="space space-sm"></span><span data-i18n="Cut-Off"></span></li>

					<li ng-show="menu.process_attendance_cut_off"><a href="#/attendance/attCutOff"><i class="fa fa-angle-right"></i><span data-i18n="Attendance Cut-Off"></span></a></li>
					<li ng-show="menu.process_attendance_cut_off_record"><a href="#/attendance/attRecord"><i class="fa fa-angle-right"></i><span data-i18n="Attendance Record"></span></a></li>

					<!--Request-->
					<li ng-show="menu.sub_schedule_req"><i class="fa fa-angle-down"></i><span class="space space-sm"></span><span data-i18n="Request"></span></li>
					<li ng-show="menu.schedule_request_training_official_business"><a href="#/attendance/trainingOff"><i class="fa fa-angle-right"></i><span data-i18n="Training / Official Business Request"></span></a></li>
					<li ng-show="menu.schedule_request_overtime_undertime"><a href="#/attendance/overtimeUnder"><i class="fa fa-angle-right"></i><span data-i18n="Overtime / Undertime"></span></a></li>
					<li ng-show="menu.schedule_request_change_swap_shift"><a href="#/attendance/changeShift"><i class="fa fa-angle-right"></i><span data-i18n="Change / Swap Shift Or Day Off"></span></a></li>
					<li ng-show="menu.schedule_request_list"><a href="#/attendance/ScheduleRequestList"><i class="fa fa-angle-right"></i><span data-i18n="Schedule Request List"></span></a></li>

					<!--Schedule-->
					<li ng-show="menu.sub_schedule"><i class="fa fa-angle-down"></i><span class="space space-sm"></span><span data-i18n="Schedule"></span></li>
					<li ng-show="menu.schedule_import"><a href="#/attendance/scheduleImport"><i class="fa fa-angle-right"></i><span data-i18n="Schedule Import"></span></a></li>
					<li ng-show="menu.unapproved_schedule"><a href="#/attendance/unApproved"><i class="fa fa-angle-right"></i><span data-i18n="Un-Approved Schedule"></span></a></li>
					<li ng-show="menu.attendance_schedule_list"><a href="#/attendance/scheduleList"><i class="fa fa-angle-right"></i><span data-i18n="Schedule List"></span></a></li>
					<li ng-show="menu.schedule_import"><a href="#/attendance/fixSchedule"><i class="fa fa-angle-right"></i><span data-i18n="Fix Schedule"></span></a></li>
					<li ng-show="menu.manual_input_att"><a href="#/attendance/manualinputAttRecord"><i class="fa fa-angle-right"></i><span data-i18n="Manual Input Attendance Record"></span></a></li>
					<li ng-show="menu.attendance_schedule_list"><a href="#/attendance/employeeAttendanceRecord"><i class="fa fa-angle-right"></i><span data-i18n="Employee Attendance Record"></span></a></li>

<!-- 					<li><i class="fa fa-angle-down"></i><span class="space space-sm"></span><span data-i18n="Cut-Off"></span></li> -->
					
					
										
					
					<!--
					<li><a href="#/attendance/scheduleRequest"><i class="fa fa-angle-right"></i><span data-i18n="Schedule Request"></span></a></li>
					-->
					
					<!--
					<li><a href="#/attendance/sRequestDetails"><i class="fa fa-angle-right"></i><span data-i18n="Schedule Request Detail"></span></a></li>
					-->
					
				</ul>
			</li>
			<li>
				<a ng-show="menu.master_leave" href="#/leave"><i class="fa fa-outdent"></i><span data-i18n="Leave"></span></a>
				<ul>
					<li ng-show="menu.leave_entitlements"><a href="#/leave/leaveEntitlement"><i class="fa fa-angle-right"></i><span data-i18n="Employee Entitlements"></span></a></li>
				    <li ng-show="menu.leave_report"><a href="#/leave/leaveReport"><i class="fa fa-angle-right"></i><span data-i18n="Leave Reports"></span></a></li>
					<li ng-show="menu.leave_request"><a href="#/leave/leaveRequest"><i class="fa fa-angle-right"></i><span data-i18n="Leave Request"></span></a></li>
					<li ng-show="menu.leave_list"><a href="#/leave/leaveList"><i class="fa fa-angle-right"></i><span data-i18n="Leave List"></span></a></li>
					<li ng-show="menu.leave_request_detail"><a href="#/leave/leaveTable"><i class="fa fa-angle-right"></i><span data-i18n="Leave Tables"></span></a></li>

					
					
					
				</ul>
			</li>
			<li ng-show="menu.master_infraction">
				<a href="#/job"><i class="fa fa-warning"></i><span data-i18n="Infraction"></span></a>
				<ul>
					<li ng-show="menu.infraction_add_infraction"><a href="#/pim/addInfraction"><i class="fa fa-angle-right"></i><span data-i18n="Add Infraction"></span></a></li>
					<li ng-show="menu.infraction_list"><a href="#/pim/InfractionList"><i class="fa fa-angle-right"></i><span data-i18n="Infraction List"></span></a></li>
					
				</ul>
			</li>
			<li ng-show="menu.master_config">
				<a ng-show="menu.master_config" href="#/config"><i class="fa fa-cogs"></i><span data-i18n="Configuration"></span></a>
				<ul>
					<li ng-show="menu.admin_user_management"><i class="fa fa-angle-down"></i><span class="space space-sm"></span><span data-i18n="User management"></span></li>
					<li ng-show="menu.admin_user_roles"><a href="#/user/costum"><i class="fa fa-angle-right"></i><span data-i18n="Custom Roles Menu"></span></a></li>
					<li ng-show="menu.admin_user_management"><a href="#/user/usermenu"><i class="fa fa-angle-right"></i><span data-i18n="Users Menu"></span></a></li>
					<li ng-show="menu.admin_biometric_setup"><a href="#/config/biometric"><i class="fa fa-angle-right"></i><span data-i18n="Biometric Setup"></span></a></li>
					<li ng-show="menu.admin_email_setting"><a href="#/config/emailSetting"><i class="fa fa-angle-right"></i><span data-i18n="Email Settings"></span></a></li>
					<li ng-show="menu.admin_ldap_setting"><a href="#/config/ldap"><i class="fa fa-angle-right"></i><span data-i18n="LDAP Configuration"></span></a></li>
				
				</ul>

			</li>
			<li ng-show="menu.master_setting">
				<a href="#/user"><i class="fa fa-wrench"></i><span data-i18n="Setting"></span></a>
				<ul>
					<li ng-show="menu.admin_employment_status"><a href="#/job/employeStatus"><i class="fa fa-angle-right"></i><span data-i18n="Employee Status"></span></a></li>
					<li ng-show="menu.admin_job"><a href="#/job/job"><i class="fa fa-angle-right"></i><span data-i18n="Job Title"></span></a></li>
					<li ng-show="menu.admin_workshift"><a href="#/job/workShift"><i class="fa fa-angle-right"></i><span data-i18n="Work Shift"></span></a></li>
					<li ng-show="menu.admin_orginaztion_structure"><a href="#/organization/department"><i class="fa fa-angle-right"></i><span data-i18n="Department"></span></a></li>
					<li ng-show="menu.admin_education"><a href="#/qualification/education"><i class="fa fa-angle-right"></i><span data-i18n="Education"></span></a></li>
					<li ng-show="menu.admin_language"><a href="#/qualification/language"><i class="fa fa-angle-right"></i><span data-i18n="Language"></span></a></li>
					<li ng-show="menu.admin_skills"><a href="#/qualification/skills"><i class="fa fa-angle-right"></i><span data-i18n="Skill"></span></a></li>
					<li ng-show="menu.admin_nationalities"><a href="#/national/national"><i class="fa fa-angle-right"></i><span data-i18n="Nationalities"></span></a></li>
					<li ng-show="menu._immigration_issuer"><a href="#/pim/immigration"><i class="fa fa-angle-right"></i><span data-i18n="Immigration Issuer"></span></a></li>
					<li ng-show="menu._termination_reason"><a href="#/pim/termination"><i class="fa fa-angle-right"></i><span data-i18n="Termination Reasons"></span></a></li>
					<li ng-show="menu.admin_cut_off_period"><a href="#/attendance/cutOff"><i class="fa fa-angle-right"></i><span data-i18n="Cut-Off Period"></span></a></li>
					<li ng-show="menu.admin_holiday_setup"><a href="#/leave/holiday"><i class="fa fa-angle-right"></i><span data-i18n="Holiday Setup"></span></a></li>


				<!-- 	<li><i class="fa fa-angle-down"></i><span class="space scpace-sm"></span><span data-i18n="Configuration"></span></li>

					<li><i class="fa fa-angle-down"></i><span class="space scpace-sm"></span><span data-i18n="Entitlements"></span></li> -->
				</ul>

			</li>
			<!-- <li>
				<a href="#/job"><i class="fa fa-suitcase"></i><span data-i18n="Job"></span></a>
				<ul>
					
					<li><a href="#/job/employeStatus"><i class="fa fa-angle-right"></i><span data-i18n="Employee Status"></span></a></li>
					<li><a href="#/job/job"><i class="fa fa-angle-right"></i><span data-i18n="Job Title"></span></a></li>
					<li><a href="#/job/workShift"><i class="fa fa-angle-right"></i><span data-i18n="Work Shift"></span></a></li>
				</ul>
			</li> -->
			<!-- <li>
				<a href="#/organization"><i class="fa fa-sitemap"></i><span data-i18n="Organization"></span></a>
				<ul>
					<li><a href="#/organization/department"><i class="fa fa-angle-right"></i><span data-i18n="Department"></span></a></li>
					
			</li>
			<li>
				<a href="#/qualification"><i class="fa fa-graduation-cap"></i><span data-i18n="Qualification"></span></a>
				<ul>
				
				</ul>
			</li>
			<li>
				
			</li> -->
			<li ng-show="menu.master_company">
				<a href="#/pim"><i class="fa fa-users"></i><span data-i18n="Company"></span></a>
				<ul>
					<li ng-show="menu.emp_list"><a href="#/pim/employeeList"><i class="fa fa-angle-right"></i><span data-i18n="Employee List"></span></a></li>
					<li ng-show="menu._csv_data_import"><a href="#/pim/csv"><i class="fa fa-angle-right"></i><span data-i18n="Excel Data Import"></span></a></li>
					<li ng-show="menu.admin_general_information"><a href="#/organization/general"><i class="fa fa-angle-right"></i><span data-i18n="General Information"></span></a></li>
					<li ng-show="menu.admin_orginaztion_structure"><a href="#/organization/structure"><i class="fa fa-angle-right"></i><span data-i18n="Organization Structure"></span></a></li>
				</ul>
					<!-- <li><a href="#/pim/docTemplate"><i class="fa fa-angle-right"></i><span data-i18n="Document Templates"></span></a></li> -->
					
				
					
					<!-- <li><i class="fa fa-angle-down"></i><span class="space scpace-sm"></span><span data-i18n="Infraction"></span></li> -->
					<!--
					<li><a href="#/pim/addInfraction"><i class="fa fa-angle-right"></i><span data-i18n="Add Infraction"></span></a></li>
					-->
				
				<!-- </ul> -->
			</li>
			
			
			
			
    </ul>
</div>