
		<div class="page page-holidaySetup" ng-controller="holidayCtrl">
					
					<section class="panel panel-primary table-dynamic">
						<div class="panel-heading"><strong><span class="glyphicon glyphicon-th" style="margin-right: 8px;"></span>Holidays</strong></div>
							<div class="panel-body">	
								<form name="myForm" class="form-horizontal form-validation" novalidate>
									<div class="form-group">
										<div class="col-sm-1">
											<label>From</label>
										</div>
										<div class="col-sm-2">
											<input type="date" class="form-control" min="1900-01-01" max="2100-01-01" ng-model="formData.start"
													placeholder="yyyy-mm-dd" />	
										</div>
									</div>
									<div class="form-group">
										<div class="col-sm-1">
											<label>To</label>
										</div>
										<div class="col-sm-2">
											<input type="date" class="form-control" min="1900-01-01" max="2100-01-01" ng-model="formData.end"
													placeholder="yyyy-mm-dd"/>	
										</div>
									</div><hr>
									<div class="form-group">										
										<div class="col-sm-6">
											<form>
												<button type="submit" class="btn btn-success" ng-show="button('read')" ng-click="view()">Search</button>
											</form>
										</div>
									</div>
								</form>
							</div>
					</section>
					
					
					<!-- ######################### TABLE HOLIDAY ############################################################  -->
					
					<section class="panel panel-primary table-dynamic">
						<div class="panel-body">
						    <div class="from-group">
							<div class="row">
								<div class="col-sm-4">
									<form>
										<button class="btn btn-gap-v btn-success"  ng-show="button('create')" ng-click="open()">Add</button>
										<span class="space space-sm"></span>
										<button type="button" class="btn btn-gap-v btn-danger"  ng-show="button('delete')" ng-click="remove(check.currentPageStores)">Delete</button>										</form>
								</div>
							</div>
						</div><br>
						<div class="form-group">
							<div class="row">
								<div class="col-sm-4">
									<form>
										<input type="text"
											   placeholder="Search..."
											   class="form-control"
											   data-ng-model="searchKeywords"
											   data-ng-keyup="search()">
									</form>
								</div>
								<div class="col-sm-3 filter-result-info">
									<span>
										Showing {{currentPageStores.length}}/{{currentPageStores.length}} entries
									</span>              
								</div>
							</div>
						</div><br>

							<!-- <form name="myForm" class="form form-horizontal">
								<div class="form-group">
									<div class="col-sm-6">
										<button class="btn btn-gap-v btn-success"  ng-show="button('create')" ng-click="open()">Add</button>
										<span class="space space-sm"></span>
										<button type="button" class="btn btn-gap-v btn-danger"  ng-show="button('delete')" ng-click="remove(check.currentPageStores)">Delete</button>										
									</div>
								</div>
								<div class="form-group">
									<div class="col-sm-4">
										<input type="text"
											   placeholder="Search..."
											   class="form-control"
											   data-ng-model="searchKeywords"
											   data-ng-keyup="search()">
									</div>
									<div class="col-sm-4">
										<span>
											Showing {{currentPageStores.length}}/{{currentPageStores.length}} entries
										</span>              
									</div>
								</div>
							</form> -->
							

							<table class="table table-bordered table-striped table-responsive">
								<thead>
									<tr>
										<th style="width:8px"><div class="th">
										</div></th>
										<th><div class="th">
											Name
											<span class="fa fa-angle-up"
												  data-ng-click=" order('name') "
												  data-ng-class="{active: row == 'name'}"></span>
											<span class="fa fa-angle-down"
												  data-ng-click=" order('-name') "
												  data-ng-class="{active: row == '-name'}"></span>
										</div></th>
										<th><div class="th">
											Date
											<span class="fa fa-angle-up"
												  data-ng-click=" order('date') "
												  data-ng-class="{active: row == 'date'}"></span>
											<span class="fa fa-angle-down"
												  data-ng-click=" order('-date') "
												  data-ng-class="{active: row == '-date'}"></span>
										</div></th>
										<th><div class="th">
											Repeats Annualy
											<span class="fa fa-angle-up"
												  data-ng-click=" order('repeat_annually') "
												  data-ng-class="{active: row == 'repeat_annually'}"></span>
											<span class="fa fa-angle-down"
												  data-ng-click=" order('-repeat_annually') "
												  data-ng-class="{active: row == '-repeat_annually'}"></span>
										</div></th>
										<th><div class="th">
											Type of Holiday
											<span class="fa fa-angle-up"
												  data-ng-click=" order('type') "
												  data-ng-class="{active: row == 'type'}"></span>
											<span class="fa fa-angle-down"
												  data-ng-click=" order('-type') "
												  data-ng-class="{active: row == '-type'}"></span>
										</div></th>
									</tr>
								</thead>
								<tbody>
									<tr data-ng-repeat="store in currentPageStores">
										<td><input type="checkbox"  checklist-model="check.currentPageStores" checklist-value="store.id"></td>
										<td ng-click="edit('',store)" style="cursor:pointer">{{store.name}}</td>
										<td ng-click="edit('',store)" style="cursor:pointer">{{store.date}}</td>
										<td ng-click="edit('',store)" style="cursor:pointer">{{store.repeat_annually}}</td>
										<td ng-click="edit('',store)" style="cursor:pointer">{{store.type}}</td>
									</tr>
								</tbody>
							</table>

							<footer class="table-footer">
								<div class="row">
									<div class="col-md-6 page-num-info">
										<span>
											Show 
											<select data-ng-model="numPerPage"
													data-ng-options="num for num in numPerPageOpt"
													data-ng-change="onNumPerPageChange()">
											</select> 
											entries per page
										</span>
									</div>
									<div class="col-md-6 text-right pagination-container">
										<pagination class="pagination-sm"
													ng-model="currentPage"
													total-items="filteredStores.length"
													max-size="4"
													ng-change="select(currentPage)"
													items-per-page="numPerPage"
													rotate="false"
													previous-text="&lsaquo;" next-text="&rsaquo;"
													boundary-links="true"></pagination>
									</div>
								</div>
							</footer>
						</div>
					</section>
							
							
						<!--MODAL ADD HOLIDAY-->
						
						<script type="text/ng-template" id="addHoliday.html">
							<div class="modal-header">
								<h4><i class="fa fa-save" style="margin-right: 8px;" ></i>Add Holiday</h4>
							</div>
							<div class="modal-body">
								<form name="myForm" class="form-validation">
									<div class="form-group">
										<fieldset>
											<div class="col-sm-3">
												<label>Name</label><span class="space space-sm"></span><label style ="color:red">*</label>
											</div>
											<div class="col-sm-7">
												<input type="text" name="name" class="form-control" ng-model="formData.name"  required/>
												<span style="color:red" ng-show="myForm.name.$dirty && myForm.name.$invalid">
													<span ng-show="myForm.name.$error.required"> Required field.</span>
												</span>
											</div>
										</fieldset>
									</div>
									<div class="form-group">
										<fieldset>
											<div class="col-sm-3">
												<label>Repeats Annualy</label>
											</div>
											<div class="col-sm-2">
												<label class="ui-checkbox">
														<input 	type="checkbox" 
																ng-model="formData.repeat_annually" 
																ng-true-value="Yes" 
																ng-false-value="No"
																>
														<span></span>
												</label>
											</div>
										</fieldset>
									</div>
									<div class="form-group" ng-show="formData.repeat_annually">
										<fieldset>
											<div class="col-sm-3">
												<label>Year</label>
											</div>
											<div class="col-sm-3">
												<label>{{year}}</label>
											</div>
										</fieldset>
									</div>
									<div class="form-group" ng-show="formData.repeat_annually">
										<fieldset>
											<div class="col-sm-3">
												<label>Month</label><span class="space space-sm"></span><label style ="color:red">*</label>
											</div>
											<div class="col-sm-7">
												<select class="form-control" name="month" ng-model="formData.month" ng-change="testMonth()" required>
													<option value=""> -- Select -- </option>
													<option value="01">January</option>
													<option value="02">February</option>
													<option value="03">March</option>
													<option value="04">April</option>
													<option value="05">May</option>
													<option value="06">June</option>
													<option value="07">July</option>
													<option value="08">August</option>
													<option value="09">September</option>
													<option value="10">October</option>
													<option value="11">November</option>
													<option value="12">December</option>
												</select>
												<span style="color:red" ng-show="myForm.month.$dirty && myForm.month.$invalid">
													<span ng-show="myForm.month.$error.required"> Required field.</span>
												</span>
											</div>
										</fieldset>
									</div>
									<div class="form-group" ng-show="formData.repeat_annually">
										<fieldset>
											<div class="col-sm-3">
												<label class="ui-radio"><input name="radio1" type="radio" value="day" ng-model="day" ng-click="checkstuff('day')" ><span>Day :</span></label>
											</div>
											<div class="col-sm-7" ng-disabled="formData.repeat_annually">
												<select class="form-control"  ng-model="formData.repeat_day" ng-disabled="((!day) || (day_x))">
														<option value="{{data | date: 'dd'}}"  ng-repeat="data in datas">{{data | date : 'dd'}}</option>
												</select>
											</div>
										</fieldset>
									</div>
									<div class="form-group" ng-show="formData.repeat_annually">
										<fieldset>
											<div class="col-sm-3">
												<label class="ui-radio"><input name="radio1" type="radio" value="on" ng-model="on" ng-click="checkstuff('repeat')"><span>On :</span></label>
											</div>
											<div class="col-sm-3" ng-show="formData.repeat_annually">
												<select class="form-control" name="on_week" ng-model="formData.week" ng-disabled="((!on)||(on_x))" >
													<option value="">-- Select --</option>
													<option value="first">First</option>
													<option value="second">Second</option>
													<option value="third">Third</option>
													<option value="fourth">Fourth</option>
													<option value="last">Last</option>
												</select>
												<span style="color:red" ng-show="myForm.on_week.$dirty && myForm.on_week.$invalid">
													<span ng-show="myForm.on_week.$error.required"> Required field.</span>
												</span>
											</div>
											<div class="col-sm-4" ng-show="formData.repeat_annually" >
												<select class="form-control" name="on_day" ng-model="formData.day" ng-disabled="((!on)||(on_x))" >
													<option value="">-- Select --</option>
													<option value="monday">Monday</option>
													<option value="tuesday">Tuesday</option>
													<option value="wednesyday">Wednesday</option>
													<option value="thursday">Thursday</option>
													<option value="friday">Friday</option>
													<option value="saturday">Saturday</option>
													<option value="sunday">Sunday</option>
												</select>
												<span style="color:red" ng-show="myForm.on_day.$dirty && myForm.on_day.$invalid">
													<span ng-show="myForm.on_day.$error.required"> Required field.</span>
												</span>
											</div>
										</fieldset>
									</div>
									<div class="form-group" ng-hide="formData.repeat_annually">
										<fieldset>
											<div class="col-sm-3">
												<label>Date</label><span class="space space-sm"></span><label style ="color:red">*</label>
											</div>
											<div class="col-sm-7">
												<input type="date" class="form-control" ng-change="change()" ng-model="formData.date"
																placeholder="yyyy-mm-dd" min="1950-01-01" max="2050-12-30" />	
											</div>
										</fieldset>
									</div>
									<div class="form-group">
										<fieldset>
											<div class="col-sm-3">
												<label>Type of Holiday</label>
											</div>
											<div class="col-sm-7">
												<select class="form-control" ng-model="formData.type">
													<option value="">-- Select --</option>
													<option value="Regular">Regular</option>
													<option value="Special Holiday">Special Holiday</option>
												</select>
											</div>
										</fieldset>
									</div>
								</form>
							</div>
							<fieldset>
								<div class="col-md-3">
									<label style ="color:red">*</label><span class="space space-xs"></span><label><small>Required field</small></label>
								</div>										
							</fieldset>
							<div class="modal-footer">
								<button class="btn btn-success" ng-click="save()">Save</button>
								<button class="btn btn-danger" ng-click="cancel()">Cancel</button>
							</div>
						</script>
							
							
						<!--MODAL EDIT WORK SHIFT-->
						
						<script type="text/ng-template" id="EditHoliday.html">
								<div class="modal-header">
									<h4><i class="fa fa-pencil-square-o" style="margin-right: 8px;" ></i>Edit Holiday</h4>
								</div>
								<div class="modal-body">
									<form name="myForm" class="form-validation">
									<div class="form-group">
										<fieldset>
											<div class="col-sm-3">
												<label>Name</label><span class="space space-sm"></span><label style ="color:red">*</label>
											</div>
											<div class="col-sm-7">
												<input type="text" name="name" class="form-control" ng-model="formData.name" ng-disabled="!button" required/>
												<span style="color:red" ng-show="myForm.name.$dirty && myForm.name.$invalid">
													<span ng-show="myForm.name.$error.required"> Required field.</span>
												</span>
											</div>
										</fieldset>
									</div>
									<div class="form-group">
										<fieldset>
											<div class="col-sm-3">
												<label>Repeats Annualy</label>
											</div>
											<div class="col-sm-2">
												<label class="ui-checkbox">
													<input 	type="checkbox" 
																ng-model="formData.repeat_annually" 
																ng-true-value="Yes" 
																ng-false-value="No"
																ng-disabled="!button"
																>
														<span></span>
												</label>
											</div>
										</fieldset>
									</div>
									<div class="form-group" ng-show="formData.repeat_annually">
										<fieldset>
											<div class="col-sm-3">
												<label>Year</label>
											</div>
											<div class="col-sm-3">
												<label>{{year}}</label>
											</div>
										</fieldset>
									</div>
									<div class="form-group" ng-show="formData.repeat_annually">
										<fieldset>
											<div class="col-sm-3">
												<label>Month</label><span class="space space-sm"></span><label style ="color:red">*</label>
											</div>
											<div class="col-sm-7">
												<select class="form-control" name="month" ng-model="formData.month" ng-disabled="!button" ng-change="testMonth()"  required>
													<option value=""> -- Select -- </option>
													<option value="01">January</option>
													<option value="02">February</option>
													<option value="03">March</option>
													<option value="04">April</option>
													<option value="05">May</option>
													<option value="06">June</option>
													<option value="07">July</option>
													<option value="08">August</option>
													<option value="09">September</option>
													<option value="10">October</option>
													<option value="11">November</option>
													<option value="12">December</option>
												</select>
												<span style="color:red" ng-show="myForm.month.$dirty && myForm.month.$invalid">
													<span ng-show="myForm.month.$error.required"> Required field.</span>
												</span>
											</div>
										</fieldset>
									</div>
									<div class="form-group" ng-show="formData.repeat_annually">
										<fieldset>
											<div class="col-sm-3">
												<label class="ui-radio"><input name="radio1" type="radio" value="month" ng-disabled="!button" ng-model="month" ng-click="checkstuff('day')"><span>Day :</span></label>
											</div>
											<div class="col-sm-7" ng-show="formData.repeat_annually">
												<select class="form-control"  ng-model="formData.repeat_day" ng-disabled="((!month) || (day_x))" required>
														<option value="">-- Select --</option>
														<option value="{{data}}" ng-selected="{{formData.repeat_day ===  data }}"  ng-repeat="data in datas">{{data}}</option>
												</select>
											</div>
										</fieldset>
									</div>
									<div class="form-group" ng-show="formData.repeat_annually">
										<fieldset>
											<div class="col-sm-3">
												<label class="ui-radio"><input name="radio1" type="radio" value="day" ng-disabled="!button" ng-model="day" ng-click="checkstuff('repeat')"><span>On :</span></label>
											</div>
											<div class="col-sm-3" ng-show="formData.repeat_annually">
												<select class="form-control" name="on_week" ng-model="formData.week" ng-disabled="((!day)||(on_x))" required>
													<option value="">-- Select --</option>
													<option value="first">First</option>
													<option value="second">Second</option>
													<option value="third">Third</option>
													<option value="fourth">Fourth</option>
													<option value="last">Last</option>
												</select>
												<span style="color:red" ng-show="myForm.on_week.$dirty && myForm.on_week.$invalid">
													<span ng-show="myForm.on_week.$error.required"> Required field.</span>
												</span>
											</div>
											<div class="col-sm-4" ng-show="formData.repeat_annually" >
												<select class="form-control" name="on_day" ng-model="formData.day" ng-disabled="((!day)||(on_x))" required>
													<option value="">-- Select --</option>
													<option value="monday">Monday</option>
													<option value="tuesday">Tuesday</option>
													<option value="wednesyday">Wednesday</option>
													<option value="thursday">Thursday</option>
													<option value="friday">Friday</option>
													<option value="saturday">Saturday</option>
													<option value="sunday">Sunday</option>
												</select>
												<span style="color:red" ng-show="myForm.on_day.$dirty && myForm.on_day.$invalid">
													<span ng-show="myForm.on_day.$error.required"> Required field.</span>
												</span>
											</div>
										</fieldset>
									</div>
									<div class="form-group" ng-hide="formData.repeat_annually">
										<fieldset>
											<div class="col-sm-3">
												<label>Date</label><span class="space space-sm"></span><label style ="color:red">*</label>
											</div>
											<div class="col-sm-7">
												<input type="date" class="form-control" ng-disabled="!button" ng-model="formData.date"
																placeholder="yyyy-mm-dd" min="1950-01-01" max="2050-12-30" />	
											</div>
										</fieldset>
									</div>
									<div class="form-group">
										<fieldset>
											<div class="col-sm-3">
												<label>Type of Holiday</label>
											</div>
											<div class="col-sm-7">
												<select class="form-control" ng-model="formData.type" ng-disabled="!button">
													<option value="">-- Select --</option>
													<option value="Regular">Regular</option>
													<option value="Special Holiday">Special Holiday</option>
												</select>
											</div>
										</fieldset>
									</div>
								</form>
								</div>
								<fieldset>
									<div class="col-md-3">
										<label style ="color:red">*</label><span class="space space-xs"></span><label><small>Required field</small></label>
									</div>										
								</fieldset>
								<div class="modal-footer" ng-show="hide('update')">
									<button type="submit" class="btn btn-success" ng-hide="button" ng-click="button=true; edit();">Edit</button>
									<button type="submit" class="btn btn-success" ng-show="button"; ng-click="save();">Save</button>
									<button class="btn btn-danger" ng-click="cancel()">Cancel</button>
								</div>
								<div class="modal-footer" ng-hide="hide('update')">
									<button class="btn btn-danger" ng-click="cancel()">Cancel</button>
								</div>
						</script>
							 
					
		</div>