
		<div class="page page-leaveReport" ng-controller="leaveReportCtlr as leavereport">
					
					<section class="panel panel-primary table-dynamic">
						<div class="panel-heading"><strong><span class="glyphicon glyphicon-th" style="margin-right: 8px;"></span>Leave Report</strong></div>
							<div class="panel-body">	
								<form name="myForm" class="form-horizontal form-validation">
									<div class="form-group">
										<div class="col-sm-2">
											<label>Generate For</label><span class="space space-sm"></span><label style ="color:red">*</label>
										</div>
										<div class="col-sm-2">
											<!-- LABEL INPUT 1-->
											<label ng-show="leavereport.handler.form.generate == '1'">Employee
												<span class="space space-sm"></span><label style ="color:red">*</label>
											</label>
											
											<!-- LABEL INPUT LEAVE TYPE-->
											<label ng-show="leavereport.handler.form.generate == '2'">Leave Type</label>
										</div>
										<div class="col-sm-2" ng-show="leavereport.handler.form.generate == '2'">
											<label>Job Title</label>
										</div>
										<div class="col-sm-2" ng-show="leavereport.handler.form.generate == '2'">
											<label>Department</label>
										</div>
									</div>
									
									
									<!-- FORM INPUT -->
									<div class="form-group">
										<div class="col-sm-2">
											<select class="form-control"
													ng-model="leavereport.handler.form.generate" 
													ng-disabled="!leavereport.handler.button('search')"
													ng-change="leavereport.handler.setgenerate(leavereport.handler.form.generate)">
													<option value="">--Select--</option>
													<option value="1">Employee</option>
											</select>
										</div>
										<div class="col-sm-2">
											<!-- input employee -->
											<input 	type="text"
													placeholder="Type for hint . ."
													class="form-control"
													data-ng-model="leavereport.handler.form.name"
													typeahead="(address.name) for address in leavereport.handler.getLocation($viewValue)" 
													typeahead-loading="loadingLocations"
													typeahead-min-length="4"
													typeahead-wait-ms="400"
													typeahead-on-select="leavereport.handler.onSelect($item,$model,$label)"
													autocomplete="off"
													ng-show="leavereport.handler.form.generate == '1'"
											/>
											
											<!-- select leave type -->
											<select class="form-control"  
													ng-model="leavereport.handler.form.leave_type" 
													ng-show="leavereport.handler.form.generate == '2'">
													<option value=""> -- Select --</option>
													<option value="{{job.id}}"  ng-repeat="job in leavereport.handler.leaves">{{job.leave_type}}</option>
											</select>	
										</div>
										<div class="col-sm-2" ng-show="leavereport.handler.form.generate == '2'">
											<!-- select job title-->
											<select class="form-control"  ng-model="leavereport.handler.form.job_title">
												<option value=""> -- Select --</option>
												<option value="{{job.id}}"   ng-repeat="job in leavereport.handler.jobs">{{job.title}}</option>
											</select>	
										</div>
										<div class="col-sm-2" ng-show="leavereport.handler.form.generate == '2'">
											<!-- select department -->
											<select class="form-control"  ng-model="leavereport.handler.form.department">
												<option value=""> -- Select --</option>		
												<option value="{{job.id}}"   ng-repeat="job in leavereport.handler.depart">{{job.name}}</option>
											</select>	
										</div>
									</div>
									<div class="form-group">
										<div class="col-sm-2" ng-show="leavereport.handler.form.generate == '2'">
											<label class="ui-checkbox">
												<input type="checkbox" ng-model="leavereport.handler.form.include_past" ng-true-value="1" ng-false-value="0" 
																	   ng-checked="leavereport.handler.form.include == 1"><span>Include past Employees</span>
											</label>
										</div>
										<div class="col-sm-3"  ng-show="leavereport.handler.form.generate == '2'">
											<label class="ui-radio">
												<input name="local" type="radio" value="1" ng-model="leavereport.handler.form.for" ><span>Expat</span>
											</label>
											<label class="ui-radio">
												<input name="local" type="radio" value="2" ng-model="leavereport.handler.form.for" ><span>Local</span>
											</label>
											<label class="ui-radio">
												<input name="local" type="radio" value="3" ng-model="leavereport.handler.form.for" ><span>Both</span>
											</label>
										</div>										
									</div>
									<br>
									<div class="form-group">
										<fieldset>
											<div class="col-sm-3">
												<label style ="color:red">*</label><span class="space space-xs"></span><label><small>Required field</small></label>
											</div>										
										</fieldset>
									</div>
									<hr>
									<div class="form-group">										
										<div class="col-sm-6">
											<form>
												<button type="submit" class="btn btn-success"  ng-show="leavereport.handler.button('search')" ng-click="leavereport.handler.getnextprev('view')">View</button>
												<span class="space space-sm"></span>
												<button type="submit" class="btn btn-success"  ng-show="leavereport.handler.button('search')" ng-click="leavereport.handler.exportTo(leavereport.handler.getdata())">Export To Excel</button>
											</form>
										</div>
									</div>
								</form>
							</div>
					</section>
				
				
					<!-- ## TABLE LEAVE REPORT ## -->	
					<section class="panel panel-primary table-dynamic">
						<div class="panel-body">
							<div class="table-filters">
								<div class="row">
									<div class='col-sm-4'></div>
									<div class='col-sm-6'>
										<div class='col-sm-2' ng-show="leavereport.handler.button('search')">
											<div class='pull-left'>
												<button class="btn btn-success" ng-click="leavereport.handler.getnextprev('prev')">
													<span class="glyphicon glyphicon-backward"></span><span class="space space-sm">Prev</span>
												</button>
											</div>
										</div>
										<div class='col-sm-2' ng-show="leavereport.handler.button('search')">
											<div class='text-center'>
												<button class="btn btn-primary">
													{{leavereport.handler.getyear()}}
												</button>
											</div>
										</div>
										<div class='col-sm-2' ng-show="leavereport.handler.button('search')">
											<div class='pull-right'>
												<button class="btn btn-success" ng-click="leavereport.handler.getnextprev('next')">
													Next<span class="space space-sm"><span class="glyphicon glyphicon-forward"></span>
												</button>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="table-filters">
								<div class="row">
									<div class="col-sm-4">
										<form>
											<input type="text"
												   placeholder="Search..."
												   class="form-control"
												   data-ng-model="leavereport.handler.search"
												   data-ng-model-options="{debounce:300}"
												   >
										</form>
									</div>
									<div class="col-sm-3 filter-result-info">
										<span>
											Showing {{leavereport.handler.paginated.length}}/{{leavereport.handler.maindata.length}} entries
										</span>              
									</div>
								</div>
							</div>
								
							<table class="table table-bordered table-striped table-responsive">
								<thead>
									<tr>
										<th ng-repeat='a in leavereport.handler.headers'  width='{{a.width}}'>
											<div class="th">
												{{a.name}}
												<span class="fa fa-angle-up"
													  data-ng-if="a.sort"
													  data-ng-click="leavereport.handler.setactiveheader(a,true) "
													  data-ng-class="{active: $index == leavereport.handler.activeheader.id && leavereport.handler.activeheader.order == true}">
												</span>
												<span class="fa fa-angle-down"
													  data-ng-if="a.sort"
													  data-ng-click=" leavereport.handler.setactiveheader(a,false) "
													  data-ng-class="{active: $index == leavereport.handler.activeheader.id && leavereport.handler.activeheader.order == false}">
												</span>
											</div>
										</th>
									</tr>
								</thead>
								<tbody>
									<tr data-ng-repeat="a in leavereport.handler.getdata() | orderBy: leavereport.handler.activeheader.sort : leavereport.handler.activeheader.order track by [$index]">
										<td ng-if="a.Employee">{{a.Employee}}</td>
										<td>{{a.leave_type}}</td>
										<td>{{a.DateTaken}}</td>
										<td  class='text-center'>{{a.taken_day}}</td>
										<td  class='text-center'>{{a.EntitlementDay}}</td>
										<td  class='text-center'>{{a.RemainingDay}}</td>
										<td>{{a.approver}}</td>
									</tr>
								</tbody>
							</table>
							<footer class="table-footer">
								<div class="row">
									<div class="col-md-6 page-num-info">
										<span>
											Show 
											<select data-ng-model="leavereport.handler.numPerPage"
													data-ng-options="num for num in leavereport.handler.numPerPageOpt"
													data-ng-change="onNumPerPageChange()">
											</select> 
											entries per page
										</span>
									</div>
									<div class="col-md-6 text-right pagination-container">
										<pagination class="pagination-sm"
													ng-model="leavereport.handler.currentPage"
													total-items="leavereport.handler.filtered.length"
													max-size="4"
													ng-change="select(currentPage)"
													items-per-page="leavereport.handler.numPerPage"
													rotate="false"
													previous-text="&lsaquo;" next-text="&rsaquo;"
													boundary-links="true">
										</pagination>
									</div>
								</div>
							</footer>
						</div>
					</section>	
					
		</div>
		
		
<!-- ######################### TABLE REPORT BY LEAVE TYPE ############################################################  -->	
<!-- <section class="panel panel-primary table-dynamic" ng-show="leavereport.handler.form.generate == '2'" ng-controller="reportLeaveCtrl as reportLe">
	<div class="panel-body">
		<div class="table-filters">
			<div class="row">
				<div class='col-sm-4'></div>
				<div class='col-sm-6'>
					<div class='col-sm-2'>
						<div class='pull-left'>
							<button class="btn btn-success" ng-click="reportLe.handler.prevnext('prev')">
								<span class="glyphicon glyphicon-backward"></span><span class="space space-sm">Prev</span>
							</button>
						</div>
					</div>
					<div class='col-sm-2'>
						<div class='text-center'>
							<button class="btn btn-primary">
								{{reportLe.handler.getyear()}}
							</button>
						</div>
					</div>
					<div class='col-sm-2'>
						<div class='pull-right'>
							<button class="btn btn-success" ng-click="reportLe.handler.prevnext('next')">
								Next<span class="space space-sm"><span class="glyphicon glyphicon-forward"></span>
							</button>
						</div>
					</div>
				</div>
			</div>
		</div>
		<br>
		<div class="table-filters">
			<div class="row">
				<div class="col-sm-4">
					<form>
						<input type="text"
							   placeholder="Search..."
							   class="form-control"
							   data-ng-model="reportLe.handler.search"
							   data-ng-model-options="{debounce:300}"
							   >
					</form>
				</div>
				<div class="col-sm-3 filter-result-info">
					<span>
						Showing {{reportLe.handler.paginated.length}}/{{reportLe.handler.maindata.length}} entries
					</span>              
				</div>
			</div>
		</div>
			
		<table class="table table-bordered table-striped table-responsive">
			<thead>
				<tr>
					<th ng-repeat='a in reportLe.handler.headers'  width='{{a.width}}'>
						<div class="th">
							{{a.name}}
							<span class="fa fa-angle-up"
								  data-ng-if="a.sort"
								  data-ng-click="reportLe.handler.setactiveheader(a,true) "
								  data-ng-class="{active: $index == reportLe.handler.activeheader.id && reportLe.handler.activeheader.order == true}">
							</span>
							<span class="fa fa-angle-down"
								  data-ng-if="a.sort"
								  data-ng-click=" reportLe.handler.setactiveheader(a,false) "
								  data-ng-class="{active: $index == reportLe.handler.activeheader.id && reportLe.handler.activeheader.order == false}">
							</span>
						</div>
					</th>
				</tr>
			</thead>
			<tbody>
				<tr data-ng-repeat="a in reportLe.handler.getdata() | orderBy: reportLe.handler.activeheader.sort : reportLe.handler.activeheader.order track by [$index]">
					<td>{{a.Employee}}</td>
					<td>{{a.DateTaken}}</td>
					<td  class='text-center'>{{a.taken_day}}</td>
					<td  class='text-center'>{{a.EntitlementDay}}</td>
					<td  class='text-center'>{{a.RemainingDay}}</td>
					<td>{{a.approver}}</td>
				</tr>
			</tbody>
		</table>
		<footer class="table-footer">
			<div class="row">
				<div class="col-md-6 page-num-info">
					<span>
						Show 
						<select data-ng-model="reportLe.handler.numPerPage"
								data-ng-options="num for num in reportLe.handler.numPerPageOpt"
								data-ng-change="onNumPerPageChange()">
						</select> 
						entries per page
					</span>
				</div>
				<div class="col-md-6 text-right pagination-container">
					<pagination class="pagination-sm"
								ng-model="reportLe.handler.currentPage"
								total-items="reportLe.handler.filtered.length"
								max-size="4"
								ng-change="select(currentPage)"
								items-per-page="reportLe.handler.numPerPage"
								rotate="false"
								previous-text="&lsaquo;" next-text="&rsaquo;"
								boundary-links="true">
					</pagination>
				</div>
			</div>
		</footer>
	</div>
</section> -->
					