
		<div class="page page-leaveList" ng-controller="leaveListCtrl as leavelist">
		
				<section class="panel panel-primary table-dynamic">
					<div class="panel-heading"><strong><span class="glyphicon glyphicon-th" style="margin-right: 8px;"></span>Leave List</strong></div>
						<div class="panel-body">	
							<form name="myForm" class="form-horizontal form-validation">
								<div class="form-group">
									<div class="col-sm-2">
										<label>From</label>
									</div>
									<div class="col-sm-2">
										<input type="date" class="form-control" min="1900-01-01" max="2100-01-01" ng-model="leavelist.handler.form.from"/>	
									</div>
								</div>
								<div class="form-group">
									<div class="col-sm-2">
										<label>To</label>
									</div>
									<div class="col-sm-2">
										<input type="date" class="form-control" min="1900-01-01" max="2100-01-01" ng-model="leavelist.handler.form.to"/>	
									</div>
								</div>
								<div class="form-group">
									<div class="col-sm-2">
										<label>Show Leave Status</label>
									</div>
									<div class="col-sm-10">
										<div>
											<label class="ui-checkbox">
												<input type="checkbox" ng-model="leavelist.handler.form.all" ng-true-value="1" ng-false-value="0" 
																	   ng-checked="leavelist.handler.form.all == 1"><span>All</span>
											</label>
											<label class="ui-checkbox">
												<input type="checkbox" ng-model="leavelist.handler.form.rejected" ng-true-value="1" ng-false-value="0" 
																	   ng-checked="leavelist.handler.form.rejected == 1"><span>Rejected</span>
											</label>
											<label class="ui-checkbox">
												<input type="checkbox" ng-model="leavelist.handler.form.canceled" ng-true-value="1" ng-false-value="0" 
																	   ng-checked="leavelist.handler.form.canceled == 1"><span>Canceled</span>
											</label>
											<label class="ui-checkbox">
												<input type="checkbox" ng-model="leavelist.handler.form.pending" ng-true-value="1" ng-false-value="0" 
																	   ng-checked="leavelist.handler.form.pending == 1"><span>Pending Approval</span>
											</label>
											<label class="ui-checkbox">
												<input type="checkbox" ng-model="leavelist.handler.form.schedule" ng-true-value="1" ng-false-value="0" 
																	   ng-checked="leavelist.handler.form.schedule == 1"><span>Scheduled</span>
											</label>
											<label class="ui-checkbox">
												<input type="checkbox" ng-model="leavelist.handler.form.taken" ng-true-value="1" ng-false-value="0" 
																	   ng-checked="leavelist.handler.form.taken == 1"><span>Taken</span>
											</label>
										</div>
									</div>
								</div>
								<div class="form-group">
									<div class="col-sm-2">
										<label>Include Past Employees</label>
									</div>
									<div class="col-sm-10">
										<div>
											<label class="ui-checkbox">
												<input type="checkbox" ng-model="leavelist.handler.form.include_past" ng-true-value="1" ng-false-value="0" 
																	   ng-checked="leavelist.handler.form.include == 1"><span></span>
											</label>
										</div>
									</div>
								</div>
								<div class="form-group">
									<div class="col-sm-2">
										<label>Employee</label>
									</div>
									<div class="col-sm-2">
										<input 	type="text"
												placeholder="Type for hint . ."
												class="form-control"
												data-ng-model="leavelist.handler.form.employee_name"
												typeahead="(address.name) for address in leavelist.handler.getLocation($viewValue)" 
												typeahead-loading="loadingLocations"
												typeahead-min-length="4"
												typeahead-wait-ms="400"
												ng-disabled= "leavelist.handler.accessAction"
												typeahead-on-select="leavelist.handler.onSelect($item,$model,$label)"
												autocomplete="off"
																						/>
										<!-- <input 	type="text"
												placeholder="Type for hint . ."
												class="form-control"
												data-ng-model="leavelist.handler.form.employee_name"
												typeahead="(address.name) for address in leavelist.handler.getLocation($viewValue)" 
												typeahead-loading="loadingLocations"
												typeahead-min-length="4"
												typeahead-wait-ms="400"
												typeahead-on-select="leavelist.handler.onSelect($item,$model,$label)"
												autocomplete="off"
												ng-disabled="leavelist.handler.form.employee_role == 'User'"
										/>-->	
									</div>
								</div>
								<div class="form-group">
									<div class="col-sm-2">
										<label>Department</label>
									</div>
									<div class="col-sm-2">
										<select class="form-control"  ng-model="leavelist.handler.form.department">
												<option value=""> -- Select --</option>
												<option value="{{job.id}}" ng-repeat="job in leavelist.handler.data">{{job.name}}</option>
										</select>
									</div>
								</div>
								<div class="form-group">
									<div class="col-sm-2">
										<label>Leave Type</label>
									</div>
									<div class="col-sm-2">
										<select class="form-control"  ng-model="leavelist.handler.form.type">
											<option value=""> -- Select --</option>
											<option value="{{job.id}}" ng-repeat="job in leavelist.handler.leaves">{{job.leave_type}}</option>
										</select>
									</div>
								</div>
								<hr>
								<div class="form-group">										
									<div class="col-sm-6">
										<button type="submit" 
												class="btn btn-success"  	
												ng-click="leavelist.handler.searchlist()"
												ng-show="leavelist.handler.button('read')">Search
										</button>
										<span class="space space-sm"></span>
										<button type="submit" 
												class="btn btn-danger"  	
												ng-click="leavelist.handler.reset()"
												ng-show="leavelist.handler.button('read')">Reset
										</button>
										<span class="space space-sm"></span>
										<button type="submit" 
												class="btn btn-success"  	
												ng-click="leavelist.handler.export(leavelist.handler.getdata())"
												ng-show="leavelist.handler.button('read')">Export To Excel
										</button>
									</div>
								</div>
							</form>
						</div>
				</section>
							
				<section class="panel panel-primary table-dynamic">
					<div class="panel-body">
						<div class="table-filters">
							<div class="row">
								<div class="col-sm-4">
									<form>
										<input type="text"
											   placeholder="Search..."
											   class="form-control"
											   data-ng-model="leavelist.handler.search"
											   data-ng-model-options="{debounce:300}"
											   >
									</form>
								</div>
								<div class="col-sm-3 filter-result-info">
									<span>
										Showing {{leavelist.handler.paginated.length}}/{{leavelist.handler.maindata.length}} entries
									</span>              
								</div>
							</div>
						</div>
							
						<table class="table table-bordered table-striped table-responsive">
							<thead>
								<tr>
									<th ng-repeat='a in leavelist.handler.headers'  width='{{a.width}}'>
										<div class="th">
											{{a.name}}
											<span class="fa fa-angle-up"
												  data-ng-if="a.sort"
												  data-ng-click="leavelist.handler.setactiveheader(a,true) "
												  data-ng-class="{active: $index == leavelist.handler.activeheader.id && leavelist.handler.activeheader.order == true}">
											</span>
											<span class="fa fa-angle-down"
												  data-ng-if="a.sort"
												  data-ng-click=" leavelist.handler.setactiveheader(a,false) "
												  data-ng-class="{active: $index == leavelist.handler.activeheader.id && leavelist.handler.activeheader.order == false}">
											</span>
										</div>
									</th>
									<th colspan="3" class='text-center'>
										<div class="th">
											Action
										</div>
									</th>
								</tr>
							</thead>
							<tbody>
								<tr data-ng-repeat="a in leavelist.handler.getdata() | orderBy: leavelist.handler.activeheader.sort : leavelist.handler.activeheader.order track by [$index]">
									<td style="cursor:pointer" ng-click="leavelist.handler.openmodal('detail',a)">{{a.schedule}}</td>
									<td style="cursor:pointer" ng-click="leavelist.handler.openmodal('detail',a)">{{a.EmployeeName}}</td>
									<td style="cursor:pointer" ng-click="leavelist.handler.openmodal('detail',a)">{{a.leave_type}}</td>
									<td style="cursor:pointer" ng-click="leavelist.handler.openmodal('detail',a)">{{a.balance_day}}</td>
									<td style="cursor:pointer" ng-click="leavelist.handler.openmodal('detail',a)">{{a.taken_day}}</td>
									<td style="cursor:pointer" ng-click="leavelist.handler.openmodal('detail',a)">{{a.status == 'Approval'  ? 'Approved' : a.status}}</td>
									<td style="cursor:pointer" ng-click="leavelist.handler.openmodal('detail',a)" ng-hide="true">{{a.id}}</td>
									<td style="cursor:pointer" ng-click="leavelist.handler.openmodal('detail',a)" ng-hide="true">{{a.master_type}}</td>

									<td width='1%' ng-show="leavelist.handler.setbuttonapprove('approve',leavelist.handler.form.employee_role)">
										<button class="btn btn-success"
												tooltip-placement="top" 
												tooltip="Approve"
												ng-disabled="a.status == 'Approval' || a.status == 'Rejected' || a.status == 'Cancel'"
												ng-click="leavelist.handler.openmodal('app',a)">
												<span class="fa fa-check"></span>
										</button>
									</td>
									<td width='1%' ng-show="leavelist.handler.setbuttonapprove('reject',leavelist.handler.form.employee_role)">
										<button class="btn btn-danger" 
												ng-click="leavelist.handler.openmodal('rej',a)" 
												ng-disabled="a.status == 'Rejected' || a.status == 'Approval' || a.status == 'Cancel' "
												tooltip-placement="top" 
												tooltip="Reject">

											<span class="fa fa-times" ></span>
										</button>
									</td>
									<td width='1%' ng-show="leavelist.handler.setbuttonapprove('cancel',leavelist.handler.form.employee_role)">
										<button class="btn btn-warning" 
												ng-click="leavelist.handler.openmodal('can',a)"
												ng-disabled="a.status == 'Rejected' || a.status == 'Approval' || a.status == 'Cancel' "
											 
												tooltip-placement="top" 
												tooltip="Cancel">
												<span class="fa fa-ban"></span>
										</button>
									</td>
								</tr>
							</tbody>
						</table>
						<footer class="table-footer">
							<div class="row">
								<div class="col-md-6 page-num-info">
									<span>
										Show 
										<select data-ng-model="leavelist.handler.numPerPage"
												data-ng-options="num for num in leavelist.handler.numPerPageOpt"
												data-ng-change="onNumPerPageChange()">
										</select> 
										entries per page
									</span>
								</div>
								<div class="col-md-6 text-right pagination-container">
									<pagination class="pagination-sm"
												ng-model="leavelist.handler.currentPage"
												total-items="leavelist.handler.filtered.length"
												max-size="4"
												ng-change="select(currentPage)"
												items-per-page="leavelist.handler.numPerPage"
												rotate="false"
												previous-text="&lsaquo;" next-text="&rsaquo;"
												boundary-links="true">
									</pagination>
								</div>
							</div>
						</footer>
					</div>
				</section>
							
					
				<!-- Modal Leave Request Detail -->
				<script type="text/ng-template" id="modalrequest">
						<div class="modal-header">
							<h4>Leave Request <label> ({{modalrequest.form.Date}})</label> {{modalrequest.form.EmployeeName}}</h4>
						</div>
						<div class="modal-body">
							<form name="myForm" class="form form-validation">
								<div class="form-group">
									<fieldset>
										<div class="col-sm-3">
											<label>Leave Type</label>
										</div>
										<div class="col-sm-3">
											<label>{{modalrequest.form.leave_type}}</label>		
										</div>
										<div class="col-sm-2">
											<label>Leave Balance</label>
										</div>
										<div class="col-sm-3">
											<label>{{modalrequest.form.leave_type   ==  "Maternity Leave" ? 0 : modalrequest.form.LeaveBalance}}</label>		
										</div>
									</fieldset>
								</div>
								<div class="form-group">
									<fieldset>
										<div class="col-sm-3">
											<label>Number of Days</label>
										</div>
										<div class="col-sm-3">
											<label>{{modalrequest.form.taken_day}}</label>		
										</div>
										<div class="col-sm-2">
											<label>Curent Status</label>
										</div>
										<div class="col-sm-3">
											<label>{{modalrequest.form.status}}</label>		
										</div>
									</fieldset>
								</div>
								<div class="form-group">
									<fieldset>
										<div class="col-sm-3">
											<label>Request Time/Date</label>
										</div>
										<div class="col-sm-3">
											<label>{{modalrequest.form.request_time}}</label>				
										</div>
										<div class="col-sm-2">
											<label>Request by</label>
										</div>
										<div class="col-sm-3">
											<label>{{modalrequest.form.EmployeeName}}</label>				
										</div>
									</fieldset>
								</div>
								<div class="form-group">
									<fieldset>
										<div class="col-sm-3">
											<label>Day off in Between</label>
										</div>
										<div class="col-sm-3">
											<label>{{modalrequest.form.dayoff_between}}</label>	
										</div>
									</fieldset>
								</div>
								<div class='page-ADO' ng-show='modalrequest.form.NewSchedule_1st'>	
									<hr>
									<div class="form-group">
										<fieldset>
											<div class="col-sm-2">
											</div>
											<div class="col-sm-3">
												<label>ADO Days</label>
											</div>
											<div class="col-sm-1"></div>
											<div class="col-sm-3">
												<label>New Schedule</label>
											</div>
										</fieldset>
									</div>
									<div class="form-group">
										<fieldset>
											<div class="col-sm-2">
												<label> 1st ADO</label>
											</div>
											<div class="col-sm-3">
												<label>{{modalrequest.form.date_ado_1st}}<label>												
											</div>
											<div class="col-sm-1"></div>
											<div class="col-sm-4">
												<label>{{modalrequest.form.NewSchedule_1st}}<label>		
												<!-- <select class="form-control"  ng-model="modalrequest.form.ado1">
													<option value=''>-- Select --</option>
													<option value="{{job.id}}"  ng-repeat="job in lereq.handler.schedule">{{job.shif_code}}</option>
												</select> -->	
											</div>
										</fieldset>
									</div>
									<div class="form-group">
										<fieldset>
											<div class="col-sm-2">
												<label> 2nd ADO</label>
											</div>
											<div class="col-sm-3">
												<label>{{modalrequest.form.date_ado_2nd}}<label>																							
											</div>
											<div class="col-sm-1"></div>
											<div class="col-sm-4">
												<label>{{modalrequest.form.NewSchedule_2nd}}<label>	
												<!-- <select class="form-control"  ng-model="modalrequest.form.ado2">
													<option value=''>-- Select --</option>
													<option value="{{job.id}}"  ng-repeat="job in lereq.handler.schedule">{{job.shif_code}}</option>
												</select> -->	
											</div>
										</fieldset>
									</div>
									<div class="form-group">
										<fieldset>
											<div class="col-sm-2">
												<label> 3rd ADO</label>
											</div>
											<div class="col-sm-3">
												<label>{{modalrequest.form.date_ado_3rd}}<label>																								
											</div>
											<div class="col-sm-1"></div>
											<div class="col-sm-4">
												<label>{{modalrequest.form.NewSchedule_3rd}}<label>	
												<!-- <select class="form-control"  ng-model="modalrequest.form.ado3">
													<option value=''>-- Select --</option>
													<option value="{{job.id}}"  ng-repeat="job in lereq.handler.schedule">{{job.shif_code}}</option>
												</select> -->	
											</div>
										</fieldset>
									</div>
									<div class="form-group">
										<fieldset>
											<div class="col-sm-2">
												<label> 4th ADO</label>
											</div>
											<div class="col-sm-3">
												<label>{{modalrequest.form.date_ado_4th}}<label>																								
											</div>
											<div class="col-sm-1"></div>
											<div class="col-sm-4">
												<label>{{modalrequest.form.NewSchedule_4th}}<label>
												<!-- <select class="form-control"  ng-model="modalrequest.form.ado4">
													<option value=''>-- Select --</option>
													<option value="{{job.id}}"  ng-repeat="job in lereq.handler.schedule">{{job.shif_code}}</option>
												</select> -->	
											</div>
										</fieldset>
									</div>
									<div class="form-group">
										<fieldset>
											<div class="col-sm-2">
												<label> ADO Next Day Off</label>
											</div>
											<div class="col-sm-3">
												<label>{{modalrequest.form.date_ado_Next_Offday}}<label>																								
											</div>
										</fieldset>
									</div>
									<div class="form-group">
										<fieldset>
											<div class="col-sm-2">
												<label>ADO Availment</label>
											</div>
											<div class="col-sm-8">
												<label>{{modalrequest.form.availment}}</label>
											</div>
										</fieldset>
									</div>
								</div>
								<table class="table table-bordered table-striped table-responsive">
									<thead>
										<tr class="color-table">
											<th><div class="text-center">
												Approval
											</div></th>
											<th><div class="text-center">
												Status
											</div></th>
											<th><div class="text-center">
												Date
											</div></th>
											<th><div class="text-center">
												Time
											</div></th>
											<th><div class="text-center">
												Approver
											</div></th>
										</tr>
									</thead>
									<tbody>
										<tr>
											<td class="text-center">{{modalrequest.form.approval}}</td>
											<td class="text-center">{{modalrequest.form.status}}</td>
											<td class="text-center">{{modalrequest.form.Date_table}}</td>
											<td class="text-center">{{modalrequest.form.Time}}</td>
											<td class="text-center">{{modalrequest.form.approver}}</td>
										</tr>
									</tbody>
								</table>
								<div class="modal-footer">
									<button type="submit" class="btn btn-primary pull-left"  ng-click="modalrequest.back()">Back</button>
									<span class="space space-sm"></span>
									<button type="submit" 
											class="btn btn-success" 
											ng-disabled="modalrequest.form.status == 'Approval' || modalrequest.form.status == 'Rejected' || modalrequest.form.status.toLowerCase() == 'cancel'"
											ng-click="modalrequest.handler.actiondetail('app',modalrequest.form)"
											ng-show="modalrequest.handler.setbuttonapprove('approve',modalrequest.handler.form.employee_role)">
											Approve
									</button>
									<span class="space space-sm"></span>
									<button type="submit" 
											class="btn btn-danger" 
											ng-disabled="modalrequest.form.status == 'Approval' || modalrequest.form.status == 'Rejected' || modalrequest.form.status.toLowerCase() == 'cancel'"
											ng-click="modalrequest.handler.actiondetail('rej',modalrequest.form)"
											ng-show="modalrequest.handler.setbuttonapprove('reject',modalrequest.handler.form.employee_role)">
											Reject
									</button>
									<span class="space space-sm"></span>
									<button type="submit" 
											class="btn btn-warning"  
											ng-disabled="modalrequest.form.status.toLowerCase() == 'cancel' "
											ng-click="modalrequest.handler.actiondetail('can',modalrequest.form)"
											ng-show="modalrequest.handler.setbuttonapprove('cancel',modalrequest.handler.form.employee_role)">
											Cancel
									</button>
								</div>
								<section class="panel panel-default">
									<div class="panel-heading"><label><p class="text-capitalize">Comments for Consideration</p></label></div>
										<div class="panel-body">	
											<div class="form-group">
												<div class="col-sm-12">
													<table class="table" style="table-layout: fixed; width: 100%">
														<thead>
															<tr>
																<th >Name</th>
																<th >Created at</th>
																<th >Comment</th>
																<th >Filename</th>
															</tr>
														</thead>
														<tbody>
															<tr ng-repeat='b in modalrequest.handler.datacomment'>
																<td >{{b.employee_id}}</td>
																<td >{{b.created_at}}</td>
																<td style="word-wrap: break-word">{{b.comment}}</td>
																<td ng-click="modalrequest.handler.getfile(b.filename)">
																	<a 	target="_parent" 
																		style="cursor:pointer" 
																		ng-href="{{e}}">
																		{{b.filename}}
																	</a>
																</td>
															</tr>
														</tbody>
													</table>
												</div>
											</div>
											<div class="form-group">
												<div class="col-sm-12">
													<textarea class="form-control" rows="4" cols="40" placeholder='Input New Comment' ng-model="modalrequest.form.newcomment" ></textarea>
												</div>
											</div>
										</div>
								</section>
								<div class="form-group">
								{{modalrequest.handler.hideByStatus()}}
									<fieldset>
										<div class='col-sm-2'>
											<button type="button" 
													class="btn btn-default" 
													accept="files/*"
													ngf-select ngf-change="upload($files)"
													ngf-multiple="multiple"
													ng-model="modalrequest.handler.files">
													Upload a Photo

											</button>
										</div>		
										<div class='col-sm-3'>
											<label ng-repeat="f in modalrequest.handler.files"  ng-show="!modalrequest.handler.files">{{f.name}}</label>
										</div>
										<div class='col-sm-3'  ng-show="modalrequest.handler.files">
											<button class="btn btn-danger"  tooltip-placement="top" tooltip="Delete File" ng-click="modalrequest.handler.files = false">
												<span class="glyphicon glyphicon-trash" ></span>
											</button>
										</div>
									</fieldset>
								</div>
								<hr>
								<div class='form-group'>
									<fieldset>	
										<div class="col-sm-2">
											<button type="submit" class="btn btn-success pull-left"   ng-click="modalrequest.handler.send(modalrequest.handler.files,modalrequest.form)">Send</button>
										</div>
									</fieldset>
								</div>
							</form>
						</div>
				</script>
				
				<!-- MODAL REJECT AND APPROVE -->
				<script type="text/ng-template" id="modalapprej">
					<div class="modal-header">
						<h4><i style="margin-right: 8px;" ></i>{{modalapprej.title}} Request Confirmation</h4>
					</div>
					<div class="modal-body">
						<form name="myForm"  class='form form-validation' data-ng-submit='modalapprej.submit()'>	
							<fieldset>
								<div class="col-sm-12">
									<span>Are you sure want to {{modalapprej.title}} <b>{{modalapprej.form.EmployeeName}}</b> request ?</span>
								</div>
							</fieldset>
						</form>
						<br>
						<div class="modal-footer">
							<button class='btn btn-danger' type='submit' ng-click='modalapprej.submit()'>OK</button>
							<button class='btn btn-success' ng-click='modalapprej.close()'> CANCEL </button>
						</div>
					</div>
				</script>
				
				<!-- <script type="text/ng-template" id="modalrequest">
					<div class="modal-header">
						<h4>leavelist Request<span class="space space-sm"></span>
							<label>{{modalrequest.form.date}}</label>
								<span class="space space-sm"></span>
							<label>{{modalrequest.form.name}}</label>
						</h4>
					</div>
					<div class="modal-body">
						<form name="myForm" class="form-horizontal form-validation" novalidate>
						<div class="form-group">
							<div class="col-sm-3">
								<label>leavelist Type</label>
							</div>
							<div class="col-sm-3">
								<input type="text" class="form-control" data-ng-model="modalrequest.form.leave_type"/>		
							</div>
							<div class="col-sm-2">
								<label>leavelist Balance</label>
							</div>
							<div class="col-sm-3">
								<input type="text" class="form-control" data-ng-model="modalrequest.form.leave_b"/>		
							</div>
						</div>
						<div class="form-group">
							<div class="col-sm-3">
								<label>Number of Days</label>
							</div>
							<div class="col-sm-3">
								<input type="text" class="form-control" data-ng-model="modalrequest.form.number"/>		
							</div>
							<div class="col-sm-2">
								<label>Curent Status</label>
							</div>
							<div class="col-sm-3">
								<input type="text" class="form-control" data-ng-model="modalrequest.form.status"/>		
							</div>
						</div>
						<div class="form-group">
							<div class="col-sm-3">
								<label>Request Time/Date</label>
							</div>
							<div class="col-sm-3">
								<input type="text" class="form-control" data-ng-model="modalrequest.form.time"/>		
							</div>
							<div class="col-sm-2">
								<label>Request by</label>
							</div>
							<div class="col-sm-3">
								<input type="text" class="form-control" data-ng-model="modalrequest.form.request"/>		
							</div>
						</div>
						<div class="form-group">
							<div class="col-sm-3">
								<label>Day off in Between</label>
							</div>
							<div class="col-sm-3">
								<input type="text" class="form-control" data-ng-model="modalrequest.form.day"/>		
							</div>
						</div>
						<div class="form-group">
							<div class="col-sm-3">
								<label>ADO days</label>
							</div>
							<div class="col-sm-3">
								<input type="text" class="form-control" data-ng-model="modalrequest.form.ado"/>		
							</div>
						</div>
						<div class="form-group">
							<div class="col-sm-3">
								<label>ADO Next Off Day</label>
							</div>
							<div class="col-sm-3">
								<input type="text" class="form-control" data-ng-model="modalrequest.form.ado_next"/>		
							</div>
						</div>
						<div class="form-group">
							<div class="col-sm-3">
								<label>ADO Availment</label>
							</div>
							<div class="col-sm-3">
								<input type="text" class="form-control" data-ng-model="modalrequest.form.ado_av"/>		
							</div>
						</div>
						<table class="table table-bordered table-striped table-responsive">
							<thead>
								<tr>
									<th><div class="th">
										Approval
									</div></th>
									<th><div class="th">
										Status
									</div></th>
									<th><div class="th">
										Date
									</div></th>
									<th><div class="th">
										Time
									</div></th>
									<th><div class="th">
										Approver
									</div></th>
								</tr>
							</thead>
							<tbody>
								<tr data-ng-repeat="store in currentPageStores">
									<td>{{store.approval}}</td>
									<td>{{store.status}}</td>
									<td>{{store.date}}</td>
									<td>{{store.time}}</td>
									<td>{{store.approver}}</td>
								</tr>
							</tbody>
						</table>
						<div class="form-group">
							<div class="col-sm-3">
								<label>Comments for Consideration</label>
							</div>
						</div>
						<div class="form-group">
							<div class="col-sm-12">
								<textarea class="form-control" rows="4" cols="40" ng-model="modalrequest.form.comment"></textarea>
							</div>
						</div>
						<div class="form-group">
							<div class="col-sm-1">
								<button type="button" 
										class="btn btn-primary" 
										accept="image/jpg, image/png, image/gif, image/jpeg,"
										name="modalrequest.file"
										ngf-multiple="multiple"
										ngf-select ng-model="picFile" 	
								>Upload a Photo</button>
							</div>
							<div class="col-sm-1"></div>
							<div class="col-sm-3">
								<label ng-repeat = "f in picFile">{{f.name}}</label>
							</div>
						</div>
					</form>
					</div>
					<div class="modal-footer">
							<button type="submit" class="btn btn-warning pull-left"  ng-click="modalrequest.close()">Back</button>
							<span class="space space-sm"></span>
							<button type="submit" class="btn btn-success"  ng-click="modalrequest.approve()">Approve</button>
							<span class="space space-sm"></span>
							<button type="submit" class="btn btn-danger"   ng-click="modalrequest.reject()">Reject</button>
					</div>
				</script> -->
				
				
				
		</div>