<div class="" ng-controller="earlyOutController as late">
	<section class="panel panel-primary table-dynamic">
		<div class="panel-heading" ng-click="showEarlyOut = !showEarlyOut">
			<strong>
				<span class="glyphicon glyphicon-th" style="margin-right: 8px;"></span>
				<!-- <span class="space space-sm"></span> -->
				Early Out
				<!-- <span class="space space-sm"></span> -->
			</strong>
		</div>

		<div ng-show="showEarlyOut">
			<div class="panel-body">
				<form name="myForm" class="form-horizontal form-validation">
					<div class="form-group">
						<div class="col-sm-2">
							<label>Name</label>
						</div>
						<div class="col-sm-3">
							<input type="text" class="form-control" data-ng-model="late.form.Name"/>		
						</div>
					</div>

					<div class="form-group">
						<div class="col-sm-2">
							<label>Date Request</label>
						</div>
						<div class="col-sm-3">
							

							<input 	type="date" 
							class="form-control" 
							ng-change="late.getearlyRequest()"
							ng-model="late.form.date" 
							placeholder="yyyy-MM-dd"
							/>
						</div>
					</div>

					<div class="form-group">
						<div class="col-sm-2">
							<label>Current Schedule</label>
						</div>
						<div class="col-sm-3">
							<label>{{late.form.schedule}}</label>		
						</div>
					</div>

					<div class="form-group">
						<div class="col-sm-2">
							<label>Record Time-Out</label>
						</div>
						<div class="col-sm-3">

							<label>{{late.form.timeOut}}</label>
						</div>
					</div>

					<div class="form-group">
						<div class="col-sm-2">
							<label>Early For</label>
						</div>
						<div class="col-sm-3">
							<label >{{late.form.EarlyOut}}</label>
						</div>
					</div>
					<hr>
					<br>
					<section class="panel panel-default">
						<div class="panel-heading"><label><p class="text-capitalize">Comments for Consideration</p></label></div>
						<div class="panel-body">	
							<div class="form-group">
								<div class="col-sm-12">
									<textarea class="form-control" rows="5" cols="60" ng-model="late.form.comment"></textarea>
								</div>
							</div>
						</div>
					</section>

					<div class="form-group">
						<fieldset>
							<div class='col-sm-2'>
								<button type="button" 
								class="btn btn-default" 
								accept="files/*"
								ngf-select ngf-change="upload($files)"
								ngf-multiple="multiple"
								ng-model="late.handler.files">
								Upload a File
							</button>
						</div>		
						<div class='col-sm-2'>
							<label ng-repeat="f in late.handler.files"  ng-show="late.handler.files">{{f.name}}</label>
						</div>
						<div class='col-sm-3'  ng-show="late.handler.files">
							<button class="btn btn-danger"  tooltip-placement="top" tooltip="Delete File" ng-click=" late.handler.files = false">
								<span class="glyphicon glyphicon-trash" ></span>
							</button>
						</div>
					</fieldset>
				</div>
				
				<div class="modal-footer">
					<button type="submit" class="btn btn-success"  ng-click="late.save(late.handler.files)">Save</button>
					<span class="space space-sm"></span>
					<button type="submit" class="btn btn-danger"  ng-click="late.cancel()">Cancel</button>	
				</div>
			</form>
		</div>
	</div>
	
</section>	
</div>