		
		<div class="page page-leaveEntitlements" ng-controller="leaveEntitCtrl as leaveEnt">
					
					<section class="panel panel-primary table-dynamic">
						<div class="panel-heading"><strong><span class="glyphicon glyphicon-th" style="margin-right: 8px;"></span>Leave Entitlement</strong></div>
							<div class="panel-body">	
								<form name="myForm" class="form-horizontal form-validation">
									<div class="form-group">
										<div class="col-sm-2">
											<label>Employee</label><span class="space space-sm"></span><label style ="color:red">*</label>
										</div>
										<div class="col-sm-2">
											<label>Leave Type</label>
										</div>
									</div>
									<div class="form-group">
										<div class="col-sm-2">
											<input 	type="text"
													placeholder="Type for hint . ."
													class="form-control"
													data-ng-model="leaveEnt.handler.form.employee"
													typeahead="(address.name) for address in leaveEnt.handler.getLocation($viewValue)" 
													typeahead-loading="loadingLocations"
													typeahead-min-length="4"
													typeahead-wait-ms="400"
													typeahead-on-select="leaveEnt.handler.onSelect($item, $model, $label)"
													autocomplete="off"
													ng-disabled="!leaveEnt.handler.button('search')"
											/>
										</div>
										<div class="col-sm-2">
											<select class="form-control"
													ng-model="leaveEnt.handler.form.leave_type" 
													ng-disabled="!leaveEnt.handler.button('search')"
													ng-options="item.id as item.leave_type for item in leaveEnt.handler.selectleave">
													<option value=''> -- Select -- </option>
											</select>
										</div>
									</div><br>
									<div class="form-group">
										<fieldset>
											<div class="col-sm-3">
												<label style ="color:red">*</label><span class="space space-xs"></span><label><small>Required field</small></label>
											</div>										
										</fieldset>
									</div>
									<hr>
									<div class="form-group">										
										<div class="col-sm-6">
											<form>
												<button type="submit" class="btn btn-success" ng-show="leaveEnt.handler.button('search')" ng-click="leaveEnt.handler.find()">Search</button>
											</form>
										</div>
									</div>
								</form>
							</div>
					</section>
					
					
					<!-- ######################### TABLE ENTITLEMENTS ############################################################  -->
					
				<section class="panel panel-primary table-dynamic">
					<div class="panel-body">
						<div class="table-filters">
							<div class="row">
								<div class="col-sm-4">
									<form>
										<input type="text"
											   placeholder="Search..."
											   class="form-control"
											   data-ng-model="leaveEnt.handler.search"
											   data-ng-model-options="{debounce:300}"
											   >
									</form>
								</div>
								<div class="col-sm-3 filter-result-info">
									<span>
										Showing {{leaveEnt.handler.paginated.length}}/{{leaveEnt.handler.maindata.length}} entries
									</span>              
								</div>
							</div>
						</div>
							
						<table class="table table-bordered table-striped table-responsive">
							<thead>
								<tr>
									<th ng-repeat='a in leaveEnt.handler.headers'  width='{{a.width}}'>
										<div class="th">
											{{a.name}}
											<span class="fa fa-angle-up"
												  data-ng-if="a.sort"
												  data-ng-click="leaveEnt.handler.setactiveheader(a,true) "
												  data-ng-class="{active: $index == leaveEnt.handler.activeheader.id && leaveEnt.handler.activeheader.order == true}">
											</span>
											<span class="fa fa-angle-down"
												  data-ng-if="a.sort"
												  data-ng-click=" leaveEnt.handler.setactiveheader(a,false) "
												  data-ng-class="{active: $index == leaveEnt.handler.activeheader.id && leaveEnt.handler.activeheader.order == false}">
											</span>
										</div>
									</th>
								</tr>
							</thead>
							<tbody>
								<tr data-ng-repeat="a in leaveEnt.handler.getdata() | orderBy: leaveEnt.handler.activeheader.sort : leaveEnt.handler.activeheader.order track by [$index]">
									<td>{{a.LeaveType}}</td>
									<td>{{a.DaysEntitled}}</td>
									<td>{{a.DaysRemaining}}</td>
									<td>{{a.AvailedDays}}</td>
									<td>{{a.lastDate}}</td>
									<td>{{a.NumberOfAvailment}}</td>
									<td>{{a.ValidUntil}}</td>
								</tr>
							</tbody>
						</table>
						<footer class="table-footer">
							<div class="row">
								<div class="col-md-6 page-num-info">
									<span>
										Show 
										<select data-ng-model="leaveEnt.handler.numPerPage"
												data-ng-options="num for num in leaveEnt.handler.numPerPageOpt"
												data-ng-change="onNumPerPageChange()">
										</select> 
										entries per page
									</span>
								</div>
								<div class="col-md-6 text-right pagination-container">
									<pagination class="pagination-sm"
												ng-model="leaveEnt.handler.currentPage"
												total-items="leaveEnt.handler.filtered.length"
												max-size="4"
												ng-change="select(currentPage)"
												items-per-page="leaveEnt.handler.numPerPage"
												rotate="false"
												previous-text="&lsaquo;" next-text="&rsaquo;"
												boundary-links="true">
									</pagination>
								</div>
							</div>
						</footer>
						<form name="myForm" class="form-horizontal form-validation">
							<div class="form-group">										
								<div class="col-sm-6">
									<button type="submit" 
											class="btn btn-success"   
											ng-show="leaveEnt.handler.button('adjust')" 
											ng-click="leaveEnt.handler.openmodal('edit',leaveEnt.handler.getdata())">
											Adjust
									</button>
								</div>
							</div>
						</form>
					</div>
				</section>
							
					
					 
					<!-- ######################### MODAL ADJUSTMENT REQUETS ############################################################  -->
					
					<script type="text/ng-template" id="modalAdjust">
						<div class="modal-header">
							<h4><i class="fa fa-map-marker"></i>&nbsp&nbsp Vacation Adjustment Request</h4>
						</div>
						<div class="modal-body">
							<form name="myForm"  class="form-horizontal form-validation">	
								<div class="form-group">	
									<fieldset>
										<div class="col-sm-5">
											<p class="text-center"><label>Vacation Leave</label></p>
										</div>
										<div class="col-sm-5">
											<p class="text-center"><label>Off Days / On Call</label></p>
										</div>
									</fieldset>
								</div>
								<div class="form-group">	
									<fieldset>
										<div class="col-sm-5">
											<p class="text-center"><label>{{modalAdjust.form.vacLeave}} Days</label></p>
										</div>
										<div class="col-sm-5">
											<p class="text-center"><label>{{modalAdjust.form.offDay}} Days</label></p>
										</div>
									</fieldset>
								</div>
								<div class="form-group">	
									<fieldset>
										<div class="col-sm-12">
											<rzslider 
												rz-slider-model="modalAdjust.priceSlider">
											</rzslider>
										</div> 
									</fieldset>
								</div>
								<div class="form-group">	
									<fieldset>
										<div class="col-sm-2">
											<label>Availed : </label>
										</div>
										<div class="col-sm-2">
											<label>{{modalAdjust.form.AvailedVacation}} Days</label>
										</div>
										<div class="col-sm-3">
										</div>
										<div class="col-sm-2">
											<label>Availed : </label>
										</div>
										<div class="col-sm-2">
											<label>{{modalAdjust.form.AvailedOffDay}} Days</label>
										</div>
									</fieldset>
								</div>
								<div class="form-group">	
									<fieldset>
										<div class="col-sm-2">
											<label>Min : </label>
										</div>
										<div class="col-sm-2">
											<label>{{modalAdjust.form.Min}} Days</label>
										</div>
										<div class="col-sm-3">
										</div>
										<div class="col-sm-2">
											<label>Total : </label>
										</div>
										<div class="col-sm-2">
											<label>{{modalAdjust.form.total}} Days</label>
										</div>
									</fieldset>
								</div>
								<div class="form-group">	
									<fieldset>
										<div class="col-sm-2">
											<label>Max : </label>
										</div>
										<div class="col-sm-2">
											<label>{{modalAdjust.form.Max}} Days</label>
										</div>
									</fieldset>
								</div>
							</form>	
						</div><br>
						<div class="modal-footer">
							<button type="submit" class="btn btn-success" ng-click="modalAdjust.confirm()">Confirm</button>
							<button class="btn btn-danger" ng-click="modalAdjust.close()">Cancel</button>
						</div>
					</script>
			
		</div>