
	<div class="page page-leaveTable"  ng-controller="leaveTableController as leaveTab">
			
			<!-- # FORM SEARCHING LEAVE TABLE # -->
			<section class="panel panel-primary table-dynamic">
				<div class="panel-heading"><strong><span class="glyphicon glyphicon-th" style="margin-right: 8px;"></span>Leave Tables</strong></div>
					<div class="panel-body">	
						<form name="myForm" class="form-horizontal form-validation">
							<div class="form-group">
								<div class="col-sm-1">
									<label>Leave Type</label><label style ="color:red">*</label>
								</div>
								<div class="col-sm-2">
									<select class="form-control" ng-model="leaveTab.handler.form.leave_type" ng-disabled="!leaveTab.handler.button('read')">
										<option value=""> --  Select Leave -- </option>
										<option ng-if="leaveTab.handler.form.for=='1' || 
													   leaveTab.handler.form.for=='2' ||
													   leaveTab.handler.form.for=='3'" 
												value="Vacation Leave">Vacation Leave</option>
										<option ng-if="leaveTab.handler.form.for=='1' || 
													   leaveTab.handler.form.for=='2' ||
													   leaveTab.handler.form.for=='3'" 
												value="Sick Leave">Sick Leave</option>
										<option ng-if="leaveTab.handler.form.for=='1' || 
													   leaveTab.handler.form.for=='2' ||
													   leaveTab.handler.form.for=='3'" 
												value="Bereavement Leave">Bereavement Leave</option>
										<option ng-if="leaveTab.handler.form.for=='2'" value="Enhance Leave">
												Enhance Vacation Leave
										</option>
										<!--<option ng-if="leaveTab.handler.form.for=='2' ||
													   leaveTab.handler.form.for=='3'" value="Enhance Leave">
												Enhance Vacation Leave
										</option> -->
										<!-- <option value="{{check.leave_type}}" ng-repeat="check in leaveTab.handler.checking">{{check.leave_type}}</option> -->
									</select>
								</div>
							</div>
							<div class="form-group">
								<div class="col-sm-1">
									<label>For</label><label style ="color:red">*</label>
								</div>
								<div class="col-sm-3">
									<label class="ui-radio">
										<input	name="local" 
												type="radio" 
												value='1' 
												ng-model="leaveTab.handler.form.for"
												ng-disabled="!leaveTab.handler.button('read')">
												<span>Expat</span>
										</label>
									<label class="ui-radio">
										<input 	name="local" 
												type="radio" 
												value="2" 
												ng-model="leaveTab.handler.form.for"
												ng-disabled="!leaveTab.handler.button('read')">
												<span>Local</span>
									</label>
									<label class="ui-radio">
										<input 	name="local" 
												type="radio" 
												value="3" 
												ng-model="leaveTab.handler.form.for"
												ng-disabled="!leaveTab.handler.button('read')">
												<span>Both</span>
									</label>
								</div>
							</div>
							<div class="form-group">
								<fieldset>
									<div class="col-sm-3">
										<label style ="color:red">*</label><span class="space space-xs"></span><label><small>Required field</small></label>
									</div>										
								</fieldset>
							</div>
							<hr>
							<div class="form-group">										
								<div class="col-sm-6">
									<form>
										<button class="btn btn-success"  
												ng-click="leaveTab.handler.search()"
												ng-show="leaveTab.handler.button('read')">
												Search
										</button>
									</form>
								</div>
							</div>
						</form>
					</div>
			</section>
					
					
			<!-- ## VACATION LEAVE TABLE ## -->
			<section class="panel panel-primary table-dynamic" ng-show="leaveTab.handler.form.leave_type == 'Vacation Leave'" ng-controller="vacationTableCtrl as vaca">
				<div class="panel-heading">
					<strong><span class="glyphicon glyphicon-th" style="margin-right:8px;"></span>Vacation Leave Table</strong>
				</div>
				<div class="panel-body">
					<div class="from-group">
						<div class="row">
							<div class="col-sm-4">
								<form>
								
									<button class="btn btn-gap-v btn-success" 	ng-show="vaca.handler.button('create')" ng-click="vaca.handler.openmodal('add',a)">Add</button>
									<span class="space space-sm"></span>
									<button type="button" 
											class="btn btn-gap-v btn-danger"
											ng-show="vaca.handler.button('delete')"														
											ng-click="vaca.handler.deldata(vaca.handler.check)">
											Delete
									</button>
								</form>
							</div>
						</div>
					</div><br>
					<div class="form-group">
						<div class="row">
							<div class="col-sm-4">
								<form>
									<input type="text"
										   placeholder="Search..."
										   class="form-control"
										   data-ng-model="vaca.handler.search"
										   data-ng-model-options="{debounce:300}"
										   >
								</form>
							</div>
							<div class="col-sm-3 filter-result-info">
								<span>
									Showing {{vaca.handler.paginated.length}}/{{vaca.handler.maindata.length}} entries
								</span>              
							</div>
						</div>
					</div><br>
					<table class="table table-bordered table-striped table-responsive">
						<thead>
							<tr>
								<th><div class="th">
								</div></th>
								<th ng-repeat='a in vaca.handler.headers'  width='{{a.width}}'>
									<div class="th">
										{{a.name}}
										<!-- <span class="fa fa-angle-up"
											  data-ng-if="a.sort"
											  data-ng-click="vaca.handler.setactiveheader(a,true) "
											  data-ng-class="{active: $index == vaca.handler.activeheader.id && vaca.handler.activeheader.order == true}">
										</span>
										<span class="fa fa-angle-down"
											  data-ng-if="a.sort"
											  data-ng-click=" vaca.handler.setactiveheader(a,false) "
											  data-ng-class="{active: $index == vaca.handler.activeheader.id && vaca.handler.activeheader.order == false}">
										</span> -->
									</div>
								</th>
							</tr>
						</thead>
						<tbody>
							<tr data-ng-repeat="a in vaca.handler.getdata() | orderBy: vaca.handler.activeheader.sort : vaca.handler.activeheader.order track by [$index]">
								<td><input type="checkbox" checklist-model="vaca.handler.check" checklist-value="a.id"></td>
								<td style="cursor:pointer" ng-click="vaca.handler.openmodal('edit',a)"> 
									{{a.Appliedfor}}<br>{{a.Department}}<br>{{a.Entitlementdays}}<br>{{a.StartFrom}}<br>
								</td>
								<td style="cursor:pointer" ng-click="vaca.handler.openmodal('edit',a)">
									<table>
										<tbody>
											<tr data-ng-repeat="b in a.subvacation">
												<td> 
													{{b.year}}
												</td>
											</tr>
										</tbody>
									</table>
								</td>
								<td style="cursor:pointer" ng-click="vaca.handler.openmodal('edit',a)">
									<table>
										<tbody>
											<tr data-ng-repeat="b in a.subvacation">
												<td> 
													{{b.days}}
												</td>
											</tr>
										</tbody>
									</table>
								</td>
								<td style="cursor:pointer" ng-click="vaca.handler.openmodal('edit',a)">
									<table>
										<tbody>
											<tr data-ng-repeat="b in a.subvacation">
												<td> 
													{{b.offday_oncall}}
												</td>
											</tr>
										</tbody>
									</table>
								</td>
							</tr>
						</tbody>
					</table>
					<footer class="table-footer">
						<div class="row">
							<div class="col-md-6 page-num-info">
								<span>
									Show 
									<select data-ng-model="vaca.handler.numPerPage"
											data-ng-options="num for num in vaca.handler.numPerPageOpt"
											data-ng-change="onNumPerPageChange()">
									</select> 
									entries per page
								</span>
							</div>
							<div class="col-md-6 text-right pagination-container">
								<pagination class="pagination-sm"
											ng-model="vaca.handler.currentPage"
											total-items="vaca.handler.filtered.length"
											max-size="4"
											ng-change="select(currentPage)"
											items-per-page="vaca.handler.numPerPage"
											rotate="false"
											previous-text="&lsaquo;" next-text="&rsaquo;"
											boundary-links="true"></pagination>
							</div>
						</div>
					</footer>
				</div>
			</section>
			<!-- ## MODAL VACATION LEAVE TABLE ## -->
			<script type="text/ng-template" id="modalVacation">
				<div class="modal-header">
					<h4><i class={{modalVacation.icon}} style="margin-right: 8px;" ></i>{{modalVacation.title}} Vacation Leave Table</h4>
				</div>
				<div class="modal-body">
					<form name="myForm"  class="form-horizontal form-validation">	
						<div class="form-group">	
							<fieldset>
								<div class="col-sm-4">
									<label>Applied For</label><span class="space space-xs"></span><label style ="color:red">*</label>
								</div>
								<div class="col-sm-6">
									<label class="ui-radio" ng-show="modalVacation.form.vacLev == 'expat'  || modalVacation.form.vacLev == 'both'">
										<input 	name="local" 
												type="radio" 
												value="Expat" 
												ng-model="modalVacation.form.Appliedfor"
												ng-disabled="!modalVacation.handler.button('update')">
										<span>Expat</span>
									</label>
									<label class="ui-radio" ng-show="modalVacation.form.vacLev == 'local' || modalVacation.form.vacLev == 'both' ">
										<input 	name="local" 
												type="radio" 
												value="Local" 
												ng-model="modalVacation.form.Appliedfor"
												ng-disabled="!modalVacation.handler.button('update')">
												<span>Local</span>
									</label>
								</div>
							</fieldset>
						</div>
						<div class="form-group">
							<fieldset>
								<div class="col-sm-4">
									<label for="">Department</label><span class="space space-sm"></span><label style ="color:red">*</label>
								</div>
								<div class="col-sm-6">
									<select class="form-control" ng-model="modalVacation.form.Department" ng-disabled="!modalVacation.handler.button('update')">
										<option value=""> --  Select -- </option>
										<option value="{{job.id}}"  ng-repeat="job in modalVacation.handler.jobs" ng-selected="{{modalVacation.form.Department == job.name}}">{{job.name}}</option>
									</select>
								</div>
							</fieldset>
						</div>
						<div class="form-group">
							<fieldset>
								<div class="col-sm-4">
									<label for="">Entitlement Start From</label><span class="space space-sm"></span><label style ="color:red">*</label>
								</div>
								<div class="col-sm-6">
									<select ng-model="modalVacation.form.StartFrom" ng-disabled="!modalVacation.handler.button('update')" class="form-control">
										<option value=""> -- Select -- </option>
										<option value="Training Period">Training Period</option>
										<option value="Probationary Period">Probationary Period</option>
										<option value="Fixed Term Contract">Fixed Term Contract</option>
										<option value="Annual Contract">Annual Contract / Regularization</option>
										
									</select>
								</div>
							</fieldset>
						</div>
						<div class="form-group">	
							<fieldset>
								<div class="col-sm-4">
									<label>Entitlement Day</label><span class="space space-xs"></span><label style ="color:red">*</label>
								</div>
								<div class="col-sm-6">
									<label class="ui-radio">
										<input 	name="Calendar Day" 
												type="radio" 
												value="Calendar Day" 
												ng-model="modalVacation.form.Entitlementdays"
												ng-disabled="!modalVacation.handler.button('update')">
												<span>Calendar Day</span>
										</label>
									<label class="ui-radio">
										<input 	name="Working Day" 
												type="radio" 
												value="Working Day" 
												ng-model="modalVacation.form.Entitlementdays"
												ng-disabled="!modalVacation.handler.button('update')">
												<span>Working Day</span>
									</label>
								</div>
							</fieldset>
						</div>
						<div class="form-group">
							<fieldset>
								<div class="col-sm-3">
									<span 	class="btn btn-success" 
											tooltip-placement="top" 
											tooltip="Add New Vacation" 
											ng-disabled="!modalVacation.handler.button('update')"
											ng-click="modalVacation.handler.addsubvacation(modalVacation.form)">
										<i class="fa fa-plus"></i>
										<span> &nbsp; Add</span>
									</span>
								</div>
							</fieldset>
						</div>
						<div class='form-group'>
							<div class="col-sm-12">
								<table class="table table-striped table-bordered">
									<thead>
										<tr id="heading">
											<th style="width:30%"><div class="th">
												<p class="text-center">Years</p>
											</div></th>
											<th style="width:30%"><div class="th">
												<p class="text-center">Days</p>
											</div></th>
											<th style="width:40%"><div class="th">
													<label class="ui-checkbox">
														<input 	type="checkbox" 
																ng-model="modalVacation.form.off"
																ng-disabled="!modalVacation.handler.button('update')"
																ng-true-value="1" 
																ng-false-value="0" 
																ng-checked="modalVacation.form.off == 1" 
																/><span>Off Days / On Call</span>
													</label>
											</div></th>
											<th><div class="th">
											</div></th>
										</tr>
									</thead>
									<tbody>
										<tr ng-repeat='x in modalVacation.form.subvacation track by $index'>
											<td>
												<input class='form-control' type="number" ng-model='x.year' ng-disabled="!modalVacation.handler.button('update')" required></input>
											</td>
											<td>
												<input class='form-control' type="number" ng-model='x.days' ng-disabled="!modalVacation.handler.button('update')" required></input>
											</td>
											<td>
												<input class='form-control' type="number" ng-model='x.offday_oncall' ng-disabled="!modalVacation.handler.button('update')" required></input>
											</td>
											<td>
												<span 	class="btn btn-danger" 
														ng-click="modalVacation.handler.removesubvacation(modalVacation.form,$index,modalVacation.form.subvacation)"
														ng-disabled="!modalVacation.handler.button('update')">
														<i class='fa fa-remove'></i><span></span>
												</span>
											</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</form>	
				</div><br>
				<fieldset>
					<div class="col-sm-3">
						</span><label style ="color:red">*</label><span class="space space-xs"><label><small>Required field</small></label>
					</div>										
				</fieldset>
				<div class="modal-footer">
					<button type="submit" 
							class="btn btn-success" 
							ng-show="modalVacation.handler.button('update')" 
							ng-click="modalVacation.save()">
							Save
					</button>
					<button class="btn btn-danger" 
							ng-click="modalVacation.cancel()">
							Cancel
					</button>
				</div>
			</script>
					
					
			<!-- ### SICK LEAVE TABLE ### -->
			<section class="panel panel-primary table-dynamic" ng-show="leaveTab.handler.form.leave_type == 'Sick Leave'" data-ng-controller="sickTableCtrl as sick">
				<div class="panel-heading">
					<strong><span class="glyphicon glyphicon-th" style="margin-right: 8px;"></span>Sick Leave Table</strong>
				</div>
				<div class="panel-body">
					<div class="from-group">
						<div class="row">
							<div class="col-sm-4">
								<form>
									<button	class="btn btn-gap-v btn-success" 
											ng-show="sick.handler.button('create')" 
											ng-click="sick.handler.openmodal('add',a)">
											Add
									</button>
									<span class="space space-sm"></span>
									<button type="button" 
											class="btn btn-gap-v btn-danger"
											ng-show="sick.handler.button('delete')"															
											ng-click="sick.handler.deldata(sick.handler.check)">
											Delete
									</button>
								</form>
							</div>
						</div>
					</div><br>
					<div class="form-group">
						<div class="row">
							<div class="col-sm-4">
								<form>
									<input type="text"
										   placeholder="Search..."
										   class="form-control"
										   data-ng-model="sick.handler.search"
										   data-ng-model-options="{debounce:300}">
								</form>
							</div>
							<div class="col-sm-3 filter-result-info">
								<span>
									Showing {{sick.handler.paginated.length}}/{{sick.handler.maindata.length}} entries
								</span>              
							</div>
						</div>
					</div>
					<br>
					<table class="table table-bordered table-striped table-responsive">
						<thead>
							<tr>
								<th><div class="th">
								</div></th>
								<th ng-repeat='a in sick.handler.headers'  width='{{a.width}}'>
									<div class="th">
										{{a.name}}
										<!-- <span class="fa fa-angle-up"
											  data-ng-if="a.sort"
											  data-ng-click="sick.handler.setactiveheader(a,true) "
											  data-ng-class="{active: $index == sick.handler.activeheader.id && sick.handler.activeheader.order == true}">
										</span>
										<span class="fa fa-angle-down"
											  data-ng-if="a.sort"
											  data-ng-click=" sick.handler.setactiveheader(a,false) "
											  data-ng-class="{active: $index == sick.handler.activeheader.id && sick.handler.activeheader.order == false}">
										</span> -->
									</div>
								</th>
							</tr>
						</thead>
						<tbody>
							<tr data-ng-repeat="a in sick.handler.getdata() | orderBy: sick.handler.activeheader.sort : sick.handler.activeheader.order track by [$index]">
								<td><input type="checkbox" checklist-model="sick.handler.check" checklist-value="a.id"></td>
								<td style="cursor:pointer" ng-click="sick.handler.openmodal('edit',a)"> 
									{{a.Appliedfor}}<br>{{a.Department}}<br>{{a.Entitlementdays}}<br>{{a.StartFrom}}<br>
								</td>
								<td style="cursor:pointer" ng-click="sick.handler.openmodal('edit',a)">
									<table>
										<tbody>
											<tr data-ng-repeat="b in a.subsick">
												<td> 
													{{b.year}}
												</td>
											</tr>
										</tbody>
									</table>
								</td>
								<td style="cursor:pointer" ng-click="sick.handler.openmodal('edit',a)">
									<table>
										<tbody>
											<tr data-ng-repeat="b in a.subsick">
												<td> 
													{{b.days}}
												</td>
											</tr>
										</tbody>
									</table>
								</td>
							</tr>
						</tbody>
					</table>
					<footer class="table-footer">
						<div class="row">
							<div class="col-md-6 page-num-info">
								<span>
									Show 
									<select data-ng-model="sick.handler.numPerPage"
											data-ng-options="num for num in sick.handler.numPerPageOpt"
											data-ng-change="onNumPerPageChange()">
									</select> 
									entries per page
								</span>
							</div>
							<div class="col-md-6 text-right pagination-container">
								<pagination class="pagination-sm"
											ng-model="sick.handler.currentPage"
											total-items="sick.handler.filtered.length"
											max-size="4"
											ng-change="select(currentPage)"
											items-per-page="sick.handler.numPerPage"
											rotate="false"
											previous-text="&lsaquo;" next-text="&rsaquo;"
											boundary-links="true"></pagination>
							</div>
						</div>
					</footer>
				</div>
			</section>
			<!-- ### MODAL SICK LEAVE TABLE ### -->
			<script type="text/ng-template" id="modalSick">
				<div class="modal-header">
					<h4><i class={{modalSick.icon}} style="margin-right: 8px;" ></i>{{modalSick.title}} Sick Leave Table</h4>
				</div>
				<div class="modal-body">
					<form name="myForm"  class="form-horizontal form-validation">	
						<div class="form-group">	
							<fieldset>
								<div class="col-sm-4">
									<label>Applied For</label><span class="space space-xs"></span><label style ="color:red">*</label>
								</div>
								<div class="col-sm-6">
									<label class="ui-radio" ng-show="modalSick.form.vacLev == 'expat'  || modalSick.form.vacLev == 'both' ">
										<input	name="local" 
												type="radio" 
												value="Expat" 
												ng-disabled="!modalSick.handler.button('update')" 
												ng-model="modalSick.form.Appliedfor">
												<span>Expat</span>
									</label>
									<label class="ui-radio" ng-show="modalSick.form.vacLev == 'local'  || modalSick.form.vacLev == 'both' ">
										<input 	name="local" 
												type="radio" 
												value="Local" 
												ng-disabled="!modalSick.handler.button('update')" 
												ng-model="modalSick.form.Appliedfor">
												<span>Local</span>
									</label>
								</div>
							</fieldset>
						</div>
						<div class="form-group">
							<fieldset>
								<div class="col-sm-4">
									<label for="">Department</label><span class="space space-sm"></span><label style ="color:red">*</label>
								</div>
								<div class="col-sm-6">
									<select class='form-control' 
											ng-model="modalSick.form.Department"
											ng-disabled="!modalSick.handler.button('update')"
											ng-options="job.name as job.name for job in modalSick.handler.jobs">
											<option value=""> --  Select -- </option>
									</select>
									<!-- <select class="form-control" ng-model="modalSick.form.Department" ng-disabled="!modalSick.handler.button('update')">
										<option value=""> --  Select -- </option>
										<option value="{{job.name}}" 
												ng-repeat="job in modalSick.handler.jobs" 
												ng-selected="{{modalSick.form.Department === job.name}}">
												{{job.name}}
										</option>
									</select> -->
								</div>
							</fieldset>
						</div>
						<div class="form-group">
							<fieldset>
								<div class="col-sm-4">
									<label for="">Entitlement Start From</label><span class="space space-sm"></span><label style ="color:red">*</label>
								</div>
								<div class="col-sm-6">
									<select ng-model="modalSick.form.StartFrom" ng-disabled="!modalSick.handler.button('update')" class="form-control">
										<option value=""> -- Select -- </option>
										<option value="Training Period">Training Period</option>
										<option value="Probationary Period">Probationary Period</option>
										<option value="Fixed Term Contract">Fixed Term Contract</option>
										<option value="Annual Contract">Annual Contract</option>
										<option value="Regularization">Regularization</option>
									</select>
								</div>
							</fieldset>
						</div>
						<div class="form-group">	
							<fieldset>
								<div class="col-sm-4">
									<label>Entitlement Day</label><span class="space space-xs"></span><label style ="color:red">*</label>
								</div>
								<div class="col-sm-6">
									<label class="ui-radio">
										<input	name="calendars" 
												type="radio" 
												value="Calendar Day" 
												ng-disabled="!modalSick.handler.button('update')" 
												ng-model="modalSick.form.Entitlementdays">
												<span>Calendar Day</span>
									</label>
									<label class="ui-radio">
										<input 	name="woriking" 
												type="radio" 
												value="Working Day" 
												ng-disabled="!modalSick.handler.button('update')" 
												ng-model="modalSick.form.Entitlementdays">
												<span>Working Day</span>
									</label>
								</div>
							</fieldset>
						</div>
						<div class="form-group">
							<fieldset>
								<div class="col-sm-3">
									<span 	class="btn btn-success" 
											tooltip-placement="top" 
											tooltip="Add New Sick Leave " 
											ng-disabled="!modalSick.handler.button('update')" 
											ng-click="modalSick.handler.addsubsick(modalSick.form)">
										<i class="fa fa-plus"></i>
										<span> &nbsp; Add</span>
									</span>
								</div>
							</fieldset>
						</div>
						<div class='form-group'>
							<div class="col-sm-12">
								<table class="table table-striped table-bordered">
									<thead>
										<tr id="heading">
											<th style="width:50%"><div class="th">
												<p class="text-center">Year</p>
											</div></th>
											<th style="width:50%"><div class="th">
												<p class="text-center">Days</p>
											</div></th>
											<th><div class="th">
											</div></th>
										</tr>
									</thead>
									<tbody>
										<tr ng-repeat='x in modalSick.form.subsick track by $index'>
											<td>
												<input class='form-control' type="number" ng-model='x.year' ng-disabled="!modalSick.handler.button('update')"></input>
											</td>
											<td>
												<input class='form-control' type="number" ng-model='x.days' ng-disabled="!modalSick.handler.button('update')"></input>
											</td>
											<td>
												<span class="btn btn-danger" ng-disabled="!modalSick.handler.button('update')" ng-click="modalSick.handler.removesubsick(modalSick.form,$index,modalSick.form.subsick,sick)">
													<i class='fa fa-remove'></i><span></span>
												</span>
											</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</form>	
				</div><br>
				<fieldset>
					<div class="col-sm-3">
						</span><label style ="color:red">*</label><span class="space space-xs"><label><small>Required field</small></label>
					</div>										
				</fieldset>
				<div class="modal-footer">
					<button class="btn btn-success" 
							ng-show="modalSick.handler.button('update')"  
							ng-click="modalSick.save()">
							Save
					</button>
					<button class="btn btn-danger" 
							ng-click="modalSick.close()">
							Cancel
					</button>
				</div>
			</script>
					
					
			<!-- #### BEREAVEMENT TABLE #### -->
			<section class="panel panel-primary table-dynamic" ng-show="leaveTab.handler.form.leave_type == 'Bereavement Leave'" data-ng-controller="bereavementTableCtrl as bere">
				<div class="panel-heading">
					<strong><span class="glyphicon glyphicon-th" style="margin-right: 8px;"></span>Bereavement Leave Table</strong>
				</div>
				<div class="panel-body">
					<div class="from-group">
						<div class="row">
							<div class="col-sm-4">
								<form>
									<button	class="btn btn-gap-v btn-success"  
											ng-show="bere.handler.button('create')"	
											ng-click="bere.handler.openmodal('add',a)">
											Add
									</button>
									<span class="space space-sm"></span>
									<button type="button" 
											class="btn btn-gap-v btn-danger"
											ng-show="bere.handler.button('delete')"	
											ng-click="bere.handler.deldata(bere.handler.check)">
											Delete
									</button>
								</form>
							</div>
						</div>
					</div><br>
					<div class="form-group">
						<div class="row">
							<div class="col-sm-4">
								<form>
									<input type="text"
										   placeholder="Search..."
										   class="form-control"
										   data-ng-model="bere.handler.search"
										   data-ng-model-options="{debounce:300}"
									/>
								</form>
							</div>
							<div class="col-sm-3 filter-result-info">
								<span>
									Showing {{bere.handler.paginated.length}}/{{bere.handler.maindata.length}} entries
								</span>              
							</div>
						</div>
					</div><br>
					<table class="table table-bordered table-striped table-responsive">
						<thead>
							<tr>
								<th><div class="th">
								</div></th>
								<th ng-repeat='a in bere.handler.headers'  width='{{a.width}}'>
									<div class="th">
										{{a.name}}
										<!-- <span class="fa fa-angle-up"
											  data-ng-if="a.sort"
											  data-ng-click="bere.handler.setactiveheader(a,true) "
											  data-ng-class="{active: $index == bere.handler.activeheader.id && bere.handler.activeheader.order == true}">
										</span>
										<span class="fa fa-angle-down"
											  data-ng-if="a.sort"
											  data-ng-click=" bere.handler.setactiveheader(a,false) "
											  data-ng-class="{active: $index == bere.handler.activeheader.id && bere.handler.activeheader.order == false}">
										</span> -->
									</div>
								</th>
							</tr>
						</thead>
						<tbody>
							<tr data-ng-repeat="a in bere.handler.getdata() | orderBy: bere.handler.activeheader.sort : bere.handler.activeheader.order track by [$index]">
								<td><input type="checkbox" checklist-model="bere.handler.check" checklist-value="a.id"></td>
								<td style="cursor:pointer" ng-click="bere.handler.openmodal('edit',a)"> 
									{{a.Appliedfor}}<br>{{a.Department}}<br>{{a.Entitlementdays}}<br>{{a.StartFrom}}<br>
								</td>
								<td style="cursor:pointer" ng-click="bere.handler.openmodal('edit',a)">
									<table>
										<tbody>
											<tr data-ng-repeat="b in a.subbereavement">
												<td> 
													{{b.relation_to_deceased}}
												</td>
											</tr>
										</tbody>
									</table>
								</td>
								<td style="cursor:pointer" ng-click="bere.handler.openmodal('edit',a)">
									<table>
										<tbody>
											<tr data-ng-repeat="b in a.subbereavement">
												<td> 
													{{b.days}}
												</td>
											</tr>
										</tbody>
									</table>
								</td>
								<td style="cursor:pointer" ng-click="bere.handler.openmodal('edit',a)">
									<table>
										<tbody>
											<tr data-ng-repeat="b in a.subbereavement">
												<td> 
													{{b.days_with_pay}}
												</td>
											</tr>
										</tbody>
									</table>
								</td>
							</tr>
						</tbody>
					</table>
					<footer class="table-footer">
						<div class="row">
							<div class="col-md-6 page-num-info">
								<span>
									Show 
									<select data-ng-model="bere.handler.numPerPage"
											data-ng-options="num for num in bere.handler.numPerPageOpt"
											data-ng-change="onNumPerPageChange()">
									</select> 
									entries per page
								</span>
							</div>
							<div class="col-md-6 text-right pagination-container">
								<pagination class="pagination-sm"
											ng-model="bere.handler.currentPage"
											total-items="bere.handler.filtered.length"
											max-size="4"
											ng-change="select(currentPage)"
											items-per-page="bere.handler.numPerPage"
											rotate="false"
											previous-text="&lsaquo;" next-text="&rsaquo;"
											boundary-links="true"></pagination>
							</div>
						</div>
					</footer>
				</div>
			</section>
			<!-- #### MODAL BEREAVEMENT LEAVE TABLE ####  -->
			<script type="text/ng-template" id="modalBereavement">
				<div class="modal-header">
					<h4><i class={{modalBereavement.icon}} style="margin-right: 8px;" ></i>{{modalBereavement.title}} Bereavement Leave Table</h4>
				</div>
				<div class="modal-body">
					<form name="myForm"  class="form-horizontal form-validation">	
						<div class="form-group">	
							<fieldset>
								<div class="col-sm-4">

									<label>Applied For</label><span class="space space-xs"></span><label style ="color:red">*</label>
									
								</div>
								<div class="col-sm-6">
									<label class="ui-radio" ng-show="modalBereavement.form.vacLev == 'expat'  || modalBereavement.handler.form.vacLev == 'both'">
										<input 	name="Expat" 
												type="radio" 
												value="Expat" 
												ng-model="modalBereavement.form.Appliedfor"
												ng-disabled="!modalBereavement.handler.button('update')">
												<span>Expat</span>
									</label>
									<label 	class="ui-radio" ng-show="modalBereavement.form.vacLev == 'local'  || modalBereavement.handler.form.vacLev == 'both'">
										<input 	name="Local" 
												type="radio" 
												value="Local" 
												ng-model="modalBereavement.form.Appliedfor"
												ng-disabled="!modalBereavement.handler.button('update')">
												<span>Local</span>
									</label>
								</div>
							</fieldset>
						</div>
						<div class="form-group">
							<fieldset>
								<div class="col-sm-4">
									<label for="">Department</label><span class="space space-sm"></span><label style ="color:red">*</label>
								</div>
								<div class="col-sm-6">
									<select class='form-control' 
											ng-model="modalBereavement.form.Department"
											ng-disabled="!modalBereavement.handler.button('update')"
											ng-options="job.name as job.name for job in modalBereavement.handler.data">
											<option value=""> --  Select -- </option>
									</select>
								</div>
							</fieldset>
						</div>
						<div class="form-group">
							<fieldset>
								<div class="col-sm-4">
									<label for="">Entitlement Start From</label><span class="space space-sm"></span><label style ="color:red">*</label>
								</div>
								<div class="col-sm-6">
									<select ng-model="modalBereavement.form.StartFrom" ng-disabled="!modalBereavement.handler.button('update')" class="form-control">
										<option value=""> -- Select -- </option>
										<option value="Training Period">Training Period</option>
										<option value="Probationary Period">Probationary Period</option>
										<option value="Fixed Term Contract">Fixed Term Contract</option>
										<option value="Annual Contract">Annual Contract</option>
										<option value="Regularization">Regularization</option>
									</select>
								</div>
							</fieldset>
						</div>
						<div class="form-group">	
							<fieldset>
								<div class="col-sm-4">
									<label>Entitlement Day</label><span class="space space-xs"></span><label style ="color:red">*</label>
								</div>
								<div class="col-sm-6">
									<label class="ui-radio">
										<input 	name="locals" 
												type="radio" 
												value="Calendar Day" 
												ng-model="modalBereavement.form.Entitlementdays"
												ng-disabled="!modalBereavement.handler.button('update')">
												<span>Calendar Day</span>
									</label>
									<label class="ui-radio">
										<input 	name="localx" 
												type="radio" 
												value="Working Day" 
												ng-model="modalBereavement.form.Entitlementdays"
												ng-disabled="!modalBereavement.handler.button('update')">
												<span>Working Day</span>
									</label>
								</div>
							</fieldset>
						</div>
						<div class="form-group">
							<fieldset>
								<div class="col-sm-3">
									<span 	class="btn btn-success" 
											tooltip-placement="top" 
											tooltip="Add New Sick Leave" 
											ng-click="modalBereavement.handler.addsubbereavement(modalBereavement.form)"
											ng-disabled="!modalBereavement.handler.button('update')">
										<i class="fa fa-plus"></i>
										<span> &nbsp; Add</span>
									</span>
								</div>
							</fieldset>
						</div>
						<div class='form-group'>
							<div class="col-sm-12">
								<table class="table table-striped table-bordered">
									<thead>
										<tr id="heading">
											<th style="width:30%"><div class="th">
												<p class="text-center">Relation to Deceased</p>
											</div></th>
											<th style="width:30%"><div class="th">
												<p class="text-center">Days</p>
											</div></th>
											<th style="width:30%"><div class="th">
												<p class="text-center">Days With Pay</p>
											</div></th>
											<th><div class="th">
											</div></th>
										</tr>
									</thead>
									<tbody>
										<tr ng-repeat='x in modalBereavement.form.subbereavement track by $index'>
											<td>
												<input class='form-control' ng-model='x.relation_to_deceased' type="text"  ng-disabled="!modalBereavement.handler.button('update')"></input>
											</td>
											<td>
												<input class='form-control' ng-model='x.days'  type="number" ng-disabled="!modalBereavement.handler.button('update')"></input>
											</td>
											<td>
												<input class='form-control' ng-model='x.days_with_pay' type="number" ng-disabled="!modalBereavement.handler.button('update')" ></input>
											</td>
											<td>
												<span class="btn btn-danger" 
													  ng-click="modalBereavement.handler.removesubbereavement(modalBereavement.form,$index)"
													  ng-disabled="!modalBereavement.handler.button('update')">
													  <i class='fa fa-remove'></i><span></span>
												</span>
											</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</form>	
				</div><br>
				<fieldset>
					<div class="col-sm-3">
						</span><label style ="color:red">*</label><span class="space space-xs"><label><small>Required field</small></label>
					</div>										
				</fieldset>
				<div class="modal-footer">
					<button class="btn btn-success" 
							ng-show="modalBereavement.handler.button('update')" 
							ng-click="modalBereavement.save()">
							Save
					</button>
					<button class="btn btn-danger" 
							ng-click="modalBereavement.cancel()">
							Cancel
					</button>
				</div>
			</script>
					
					
			<!-- ##### ENHANCE TABLE ##### -->
			<section class="panel panel-primary table-dynamic" ng-show="leaveTab.handler.form.leave_type == 'Enhance Leave'" data-ng-controller="enchanceTableCtrl as enhance">
				<div class="panel-heading">
					<strong><span class="glyphicon glyphicon-th" style="margin-right: 8px;"></span>Enhance vacation Leave Table</strong>
				</div>
				<!--	ng-show="enhance.handler.button('create')"-->
				<div class="panel-body">
					<div class="from-group">
						<div class="row">
							<div class="col-sm-4">
								<form>
									<button class="btn btn-gap-v btn-success"  
										 	ng-show="enhance.handler.button('create')"	
											ng-click="enhance.handler.openmodal('add',a)">
											Add
									</button>
									<span class="space space-sm"></span>
									<button type="button" 
											ng-show="enhance.handler.button('delete')"
											class="btn btn-gap-v btn-danger"
											ng-click="enhance.handler.deldata(enhance.handler.check)">
											Delete
									</button>
								</form>
							</div>
						</div>
					</div><br>
					<div class="form-group">
						<div class="row">
							<div class="col-sm-4">
								<form>
									<input type="text"
										   placeholder="Search..."
										   class="form-control"
										   data-ng-model="enhance.handler.search"
										   data-ng-model-options="{debounce:300}"
									/>
								</form>
							</div>
							<div class="col-sm-3 filter-result-info">
								<span>
									Showing {{enhance.handler.paginated.length}}/{{enhance.handler.maindata.length}} entries
								</span>              
							</div>
						</div>
					</div><br>
					<table class="table table-bordered table-striped table-responsive">
						<thead>
							<tr>
								<th><div class="th">
								</div></th>
								<th ng-repeat='a in enhance.handler.headers'  width='{{a.width}}'>
									<div class="th">
										{{a.name}}
										<!-- <span class="fa fa-angle-up"
											  data-ng-if="a.sort"
											  data-ng-click="enhance.handler.setactiveheader(a,true) "
											  data-ng-class="{active: $index == enhance.handler.activeheader.id && enhance.handler.activeheader.order == true}">
										</span>
										<span class="fa fa-angle-down"
											  data-ng-if="a.sort"
											  data-ng-click=" enhance.handler.setactiveheader(a,false) "
											  data-ng-class="{active: $index == enhance.handler.activeheader.id && enhance.handler.activeheader.order == false}">
										</span> -->
									</div>
								</th>
							</tr>
						</thead>
						<tbody>
							<tr data-ng-repeat="a in enhance.handler.getdata() | orderBy: enhance.handler.activeheader.sort : enhance.handler.activeheader.order track by [$index]">
								<td><input type="checkbox" checklist-model="enhance.handler.check" checklist-value="a.id"></td>
								<td style="cursor:pointer" ng-click="enhance.handler.openmodal('edit',a)"> 
									{{a.title}}
								</td>
								<td style="cursor:pointer" ng-click="enhance.handler.openmodal('edit',a)"> 
									{{a.entitled_enhanced_days_leave}}
								</td>
							</tr>
						</tbody>
					</table>
					<footer class="table-footer">
						<div class="row">
							<div class="col-md-6 page-num-info">
								<span>
									Show 
									<select data-ng-model="enhance.handler.numPerPage"
											data-ng-options="num for num in enhance.handler.numPerPageOpt"
											data-ng-change="onNumPerPageChange()">
									</select> 
									entries per page
								</span>
							</div>
							<div class="col-md-6 text-right pagination-container">
								<pagination class="pagination-sm"
											ng-model="enhance.handler.currentPage"
											total-items="enhance.handler.filtered.length"
											max-size="4"
											ng-change="select(currentPage)"
											items-per-page="enhance.handler.numPerPage"
											rotate="false"
											previous-text="&lsaquo;" next-text="&rsaquo;"
											boundary-links="true"></pagination>
							</div>
						</div>
					</footer>
				</div>
			</section>
			
			<!-- ##### MODAL ENHANCED LEAVE TABLE ##### -->
			<script type="text/ng-template" id="modalenhanced">
				<div class="modal-header">
					<h4><i class={{modalenhanced.icon}} style="margin-right:8px;"></i>{{modalenhanced.title}} Enchanced Leave Table</h4>
				</div>
				<div class="modal-body">
					<form name="myForm"  class="form-horizontal form-validation">	
						<div class="form-group">
						
							<fieldset>
							<div class="col-sm-12">
								<div class="col-sm-5">
									<label>Applied For</label><span class="space space-xs"></span><label style ="color:red">*</label>
								</div>
								<div class="col-sm-3">
									<label class="ui-radio"><label></label>
										<input 	name="local" type="radio" value="2" checked="checked">
										<span>Local</span>
									</label>
								</div>
							</div>
								<div class="col-sm-9">
									<span 	class="btn btn-success" 
											tooltip-placement="top" 
											tooltip="Add New Enhance Leave " 
											ng-click="modalenhanced.handler.addsubenhanced(modalenhanced.form)"
											ng-hide="modalenhanced.title == 'Edit'">
										<i class="fa fa-plus"></i>
										<span> &nbsp; Add</span>
									</span>
								</div>
							</fieldset>
						</div>
						<div class='form-group'>
							<div class="col-sm-12">
								<table class="table table-striped table-bordered">
									<thead>
										<tr id="heading">
											<th style="width:50%"><div class="th">
												<p class="text-center">Job Title<span class="space space-sm"></span><label style="color:red">*</label></p>
											</div></th>
											<th style="width:50%"><div class="th">
												<p class="text-center">Days<span class="space space-sm"></span><label style="color:red">*</label></p>
											</div></th>
											<th><div class="th">
											</div></th>
										</tr>
									</thead>
									<tbody>

										<tr ng-repeat='a in modalenhanced.form.subenhanced track by $index'>
											<td>
												<select class='form-control' 
														ng-model="a.title" 
														ng-options="job.title as job.title for job in modalenhanced.handler.data"
														
														<option value=""> --  Select -- </option>
												</select>
											</td>
											<td>
												<input class='form-control' type="number" ng-model='a.entitled_enhanced_days_leave'></input>
											</td>
											<td>
												<span class="btn btn-danger" 
													  ng-click="modalenhanced.handler.removesubenhanced(modalenhanced.form,$index)">
													  <i class='fa fa-remove'></i><span></span>
												</span>
											</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</form>	
				</div><br>
				<fieldset>
					<div class="col-sm-3">
						</span><label style ="color:red">*</label><span class="space space-xs"><label><small>Required field</small></label>
					</div>										
				</fieldset>
				<div class="modal-footer">
					<button type="submit" class="btn btn-success" ng-click="modalenhanced.save()">Save</button>
					<button class="btn btn-danger" ng-click="modalenhanced.cancel()">Cancel</button>
				</div>
			</script>
					
	</div>