
		<div class="page page-workShift">
		
					<section class="panel panel-primary table-dynamic" ng-controller="workshiftCtrl">
						<div class="panel-heading"><strong><span class="glyphicon glyphicon-th" style="margin-right: 8px;"></span>Work Shifts</strong></div>
							<div class="table-filters">
								<div class="row">
									<div class="col-md-6">
										<form>
											<button class="btn btn-gap-v btn-success"  ng-click="open('lg')">Add</button>
											<span class="space space-sm"></span>
											<button type="button" class="btn btn-gap-v btn-danger"   ng-click="remove(check.currentPageStores)">Delete</button>
										</form>
									</div>
								</div>
							</div>
							<div class="table-filters">
								<div class="row">
									<div class="col-sm-4 col-xs-6">
										<form>
											<input type="text"
												   placeholder="Search..."
												   class="form-control"
												   data-ng-model="searchKeywords"
												   data-ng-keyup="search()">
										</form>
									</div>
									<div class="col-sm-3 col-xs-6 filter-result-info">
										<span>
											Showing {{filteredStores.length}}/{{stores.length}} entries
										</span>              
									</div>
								</div>
							</div>
							<table class="table table-bordered table-striped table-responsive">
								<thead>
									<tr>
										<th style="width:8px"><div class="th">
										</div></th>
										<th><div class="th">
											Shift Code
											<span class="fa fa-angle-up"
												  data-ng-click=" order('shift_code') "
												  data-ng-class="{active: row == 'shift_code'}"></span>
											<span class="fa fa-angle-down"
												  data-ng-click=" order('-shift_code') "
												  data-ng-class="{active: row == '-shift_code'}"></span>
										</div></th>
										<th><div class="th">
											From
											<span class="fa fa-angle-up"
												  data-ng-click=" order('from') "
												  data-ng-class="{active: row == 'from'}"></span>
											<span class="fa fa-angle-down"
												  data-ng-click=" order('-from') "
												  data-ng-class="{active: row == '-from'}"></span>
										</div></th>
										<th><div class="th">
											To
											<span class="fa fa-angle-up"
												  data-ng-click=" order('to') "
												  data-ng-class="{active: row == 'to'}"></span>
											<span class="fa fa-angle-down"
												  data-ng-click=" order('-to') "
												  data-ng-class="{active: row == '-to'}"></span>
										</div></th>
										<th><div class="th">
											Hours Per Day
											<span class="fa fa-angle-up"
												  data-ng-click=" order('hour_per_day') "
												  data-ng-class="{active: row == 'hour_per_day'}"></span>
											<span class="fa fa-angle-down"
												  data-ng-click=" order('-hour_per_day') "
												  data-ng-class="{active: row == '-hour_per_day'}"></span>
										</div></th>
									</tr>
								</thead>
								<tbody>
									<tr data-ng-repeat="store in currentPageStores">
										<td><input type="checkbox"  checklist-model="check.currentPageStores" checklist-value="store.id"></td>
										<td ng-click="edit('lg',store)" style="cursor:pointer">{{store.shift_code}}</td>
										<td ng-click="edit('lg',store)" style="cursor:pointer">{{store.from}}</td>
										<td ng-click="edit('lg',store)" style="cursor:pointer">{{store.to}}</td>
										<td ng-click="edit('lg',store)" style="cursor:pointer">{{store.hour_per_day}}</td>
									</tr>
								</tbody>
							</table>

							<footer class="table-footer">
								<div class="row">
									<div class="col-md-6 page-num-info">
										<span>
											Show 
											<select data-ng-model="numPerPage"
													data-ng-options="num for num in numPerPageOpt"
													data-ng-change="onNumPerPageChange()">
											</select> 
											entries per page
										</span>
									</div>
									<div class="col-md-6 text-right pagination-container">
										<pagination class="pagination-sm"
													ng-model="currentPage"
													total-items="filteredStores.length"
													max-size="4"
													ng-change="select(currentPage)"
													items-per-page="numPerPage"
													rotate="false"
													previous-text="&lsaquo;" next-text="&rsaquo;"
													boundary-links="true"></pagination>
									</div>
								</div>
							</footer>
					</section>
							
							
						<!--MODAL ADD WORK SHIFT-->
						
						<script type="text/ng-template" id="workShift.html">
							<div class="modal-header">
								<h4><i class="fa fa-save" style="margin-right: 8px;" ></i>Add Work Shift</h4>
							</div>
							<div class="modal-body">
								<form name="myForm" class="form form-validation" ng-submit="myForm.$valid && submit()">
										<div class="form-group">
											<fieldset>
												<div class="col-sm-2">
													<label>Shift Code</label><span class="space space-sm"></span><label style ="color:red">*</label>
												</div>
												<div class="col-sm-8">
													<input type="text" name="name" class="form-control" ng-model="formData.shift_code" required/>
													<span style="color:red" ng-show="myForm.name.$dirty && myForm.name.$invalid">
														<span ng-show="myForm.name.$error.required"> Required field.</span>
													</span>													
												</div>
											</fieldset>
										</div>
										<div class="form-group">
											<fieldset>
												<div class="col-sm-2">
													<label>Work Hours</label><span class="space space-sm"></span><label style ="color:red">*</label>
												</div>
												<div class="col-sm-1">
													<label>From</label>
												</div>
												<div class="col-sm-2">
													<input type="text" class="form-control" name="from" dn-timepicker ng-model="from" step="1h" time-format="HH:mm"/>
												</div>
												<div class="col-sm-1">
													<label>To</label>
												</div>
												<div class="col-sm-2">
													<input type="text" class="form-control" dn-timepicker ng-model="to" step="1h" time-format="HH:mm"/>
												</div>
												<div class="col-sm-1">
													<label>Duration</label>
												</div>
												<div class="col-sm-1">
													{{hour_per_day}}
												</div>
											</fieldset>
										</div>
									</form>
							</div>
							<fieldset>
								<div class="col-md-3">
									<label style ="color:red">*</label><span class="space space-xs"></span><label><small>Required field</small></label>
								</div>										
							</fieldset>
							<div class="modal-footer">
								<button class="btn btn-success" ng-click="save()" ng-disabled="myForm.$invalid" >Save</button>
								<button class="btn btn-danger" ng-click="cancel()">Cancel</button>
							</div>
						</script>
							
							
						<!--MODAL EDIT WORK SHIFT-->
						
						<script type="text/ng-template" id="EditworkShift.html">
								<div class="modal-header">
									<h4><i class="fa fa-pencil-square-o" style="margin-right: 8px;" ></i>Edit Work Shift</h4>
								</div>
								<div class="modal-body">
									<form name="myForm" class="form form-validation" ng-submit="myForm.$valid && submit()">
										<div class="form-group">
											<fieldset>
												<div class="col-sm-2">
													<label>Shift Code</label><span class="space space-sm"></span><label style ="color:red">*</label>
												</div>
												<div class="col-sm-8">
													<input type="text" name="name" class="form-control" ng-model="formData.shift_code" required ng-disabled="!button"/>
													<span style="color:red" ng-show="myForm.name.$dirty && myForm.name.$invalid">
														<span ng-show="myForm.name.$error.required"> Required field.</span>
													</span>
												</div>
											</fieldset>
										</div>
										<div class="form-group">
											<fieldset>
												<div class="col-sm-2">
													<label>Work Hours</label><span class="space space-sm"></span><label style ="color:red">*</label>
												</div>
												<div class="col-sm-1">
													<label>From</label>
												</div>
												<div class="col-sm-2">
													<input type="text" class="form-control" dn-timepicker ng-model="from " step="1h" time-format="HH:mm" ng-disabled="!button"/>
												</div>
												<div class="col-sm-1">
													<label>To</label>
												</div>
												<div class="col-sm-2">
													<input type="text" class="form-control" dn-timepicker ng-model="to" step="1h" time-format="HH:mm" ng-disabled="!button"/>
												</div>
												<div class="col-sm-1">
													<label>Duration</label>
												</div>
												<div class="col-sm-1">
													{{hour_per_day}}
												</div>
											</fieldset>
										</div>
									</form>
								</div>
								<fieldset>
									<div class="col-md-3">
										<label style ="color:red">*</label><span class="space space-xs"></span><label><small>Required field</small></label>
									</div>										
								</fieldset>
								<div class="modal-footer">
									<button type="submit" class="btn btn-success" ng-hide="button" ng-click="button=true; edit();">Edit</button>
									<button type="submit" class="btn btn-success" ng-show="button"; ng-click="save();"  ng-disabled="myForm.$invalid">Save</button>
									<button class="btn btn-danger" ng-click="cancel()">Cancel</button>
								</div>
						</script>
							 
					
		</div>