
	<div class="page page-calendar">

		<div class="row">
				<div class="col-md-1"></div>
				<div class="col-md-10">
		
							<div class="panel panel-primary">
								<div class="panel-heading"><strong><span class="glyphicon glyphicon-calendar" style="margin-right: 8px;"></span> Calendar</strong></div>
									<div class="panel-body">
										
										<form class="panel-body" name="form">
											<div class="row" ng-controller="CalendarCtrl">
													<div class="col-md-3">
														<div data-spy="scroll">			
															<div class="btn-group calTools">
																<button class="btn btn-primary" ng-click="changeLang()">Huangarian</button>
																<button class="btn btn-primary" ng-click="addRemoveEventSource(eventSources,eventSource)">Toggle Source</button>
																<button type="button" class="btn btn-danger" ng-click="addEvent()">Add Event</button>
															</div>
														</div>	
															<ul class="unstyled">
																<li ng-repeat="e in events" class="ng-scope">
																	<div class="alert alert-info ng-binding">
																		<a class="close" ng-click="remove(index)"><i class="fa fa-times"></i></a>
																		<b> <input ng-model="e.title" class="ng-valid ng-dirty ng-pristine"></b> 		
																	</div>
																</li>
															</ul>
													</div>
													
												<div class="col-md-9">
													<div ui-calendar="uiConfig.calendar" class="span8 calendar" ng-model="eventSources">
													</div>
												</div>

											</div>
										</form>
										
									</div>
							</div>
				</div>
		</div>
	</div>

				
				
