﻿/** costum color for ng-class in attendance cut off record**/
.color-yellow {
  background: #ffff1a;
}
.color-brown {
  background: #e08585;
}
.color-pink {
  background:#ff4d6a;
}
.large-Modal .modal-dialog{
  width:80%;
  position: absolute;
  top:59px; bottom:0; left: 0; right: 0;
  margin: auto
}
.block-green{
	 background: #80ff80;
}
.block-red{
	 background:  #ff9999;
}
.green-approve{
	 color:#00ff00;
}
.noUi-handle.noUi-handle-lower {
    background-color: #248AAF;
}

/** Costum css for ui slider **/
span.rz-bubble {
    display: none;
}
.ui-tab .nav-tabs>li.active>a {
    background-color: #248AAF;
}

.show-on-hover:hover > ul.dropdown-menu {
    display: block;    
}

.animated { 
  background-image: url(/css/images/logo.png); 
  background-repeat: no-repeat;
  background-position: left top; 
  padding-top:95px;
  margin-bottom:60px;
  -webkit-animation-duration: 2s;
  animation-duration: 2s; 
  -webkit-animation-fill-mode: both; 
  animation-fill-mode: both; 
}
         
         @-webkit-keyframes bounce { 
            0%, 20%, 50%, 80%, 100% {-webkit-transform: translateY(0);} 
            40% {-webkit-transform: translateY(-30px);} 
            60% {-webkit-transform: translateY(-15px);} 
         } 
         
         @keyframes bounce { 
            0%, 20%, 50%, 80%, 100% {transform: translateY(0);} 
            40% {transform: translateY(-30px);} 
            60% {transform: translateY(-15px);} 
         }
         
         .bounce { 
            -webkit-animation-name: bounce; 
            animation-name: bounce; 
         }

/*   notification   css*/
@media (min-width: 1200px) {
    .dropdown-menu {
        width: 500px !important;  /* change the number to whatever that you need */
    }
}

@media (max-width: 768px) {
    .dropdown-menu {
        width: 1000px !important;  /* change the number to whatever that you need */
    }
}

#header > header > div.top-nav > ul.nav-right.pull-left.list-unstyled > li > ul {
  background-color:  #248AAF;
}

/*
#chat-output > li > div.read {
  color  : white;

  background-color:#00e676; 

}

#chat-output > li > div.unread {
  color: white;

  background-color:#00b0ff; 
}
*/

p > b {
  font-size: 14px;
}

#chat-output > li > div {
  background-color:white;
  border:1px solid rgba(0,0,0,.1);
  background-clip:padding-box;
  box-shadow:0 4px 15px -4px rgba(0,0,0,.6);
  border-bottom  : none;
}

#chat-output > li:nth-last-child(1) > div {
    border-bottom:1px solid rgba(0,0,0,.1);
}

#chat-output > li > div.read > button.btn.btn-danger.notif {
  float :right;
  border-radius : 10px 0px 0px 10px;
  border-color: white red white white;
}
#chat-output > li > div.read > button.btn.btn-success.notif {
  float :right;
  border-radius : 0px 10px 10px 0px;
  border-color: white white white #3CBC8D;
}
 
#chat-output > li > div.unread > button.btn.btn-danger.notif {
  float :right;
  border-radius : 10px 0px 0px 10px;
  border-color: white red white white;
}
#chat-output > li > div.unread > button.btn.btn-success.notif {
  float :right;
  border-radius : 0px 10px 10px 0px;
  border-color: white white white #3CBC8D;
}
hr{
   display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid white;
    margin: 1em 0;
    padding: 0; 
}

#chat-output > li > div > div > div > div.media-left > a > img{
    width: 40px;
}



#chat-output {
  padding: 4px;
  height: 500px;
  overflow-y: scroll;
}

/* biible panel*/

.message {
  border-radius: 20px;
  clear: both;
  margin: 5px 0;
  max-width: 90%;
  padding: 10px 15px;
  position: relative;
}
.message:after {
  border-radius: 50%;
  bottom: 0;
  content: " ";
  height: 30px;
  position: absolute;
  width: 30px;
  z-index: -1;
}
.receive {
  border : 3px solid #009d3b;
  float: left;
  color  : gray;
}
.receive:after {
  box-shadow: inset 1px 9px 0 4px #fff, inset -9px 0px 0 2px #dedede, 0 0 0 1px #fff;
  left: -19px;
}
.send {
  border : 3px solid #2d8cfa;
  color: gray;
  float: right;
}
.send:after {
  box-shadow: inset -1px 9px 0 4px #fff, inset 9px 1px 0 2px #2d8cfa, 0 0 0 1px #fff;
  right: -19px;
}
* {
  box-sizing: border-box;
}

.xunread{
  background-color: white;
}

.xread{
  background-color: #F0F8FF;
}