
body {
    text - rendering: optimizeLegibility!important; - webkit - font - smoothing: antialiased!important; - moz - osx - font - smoothing: grayscale!important
}::selection {
    background: #248AAF;color:# fff
}::-moz - selection {
    background: #248AAF;color:# fff
}

span.block {
    display: block
}.no - margin {
    margin: 0
}.no - border {
    border: 0
}
a.bg - primary {
    background - color: #248AAF;color:# fff
}
a.bg - primary: hover {
    background - color: #248AAF;color:# fff
}
a.bg - success {
    background - color: #3CBC8D;color:# fff
}
a.bg - success: hover {
    background - color: #3CBC8D;color:# fff
}
a.bg - info {
    background - color: #29B7D3;color:# fff
}
a.bg - info: hover {
    background - color: #29B7D3;color:# fff
}
a.bg - warning {
    background - color: #FAC552;
    color: #fff
}
a.bg - warning: hover {
    background - color: #FAC552;
    color: #fff
}
a.bg - danger {
    background - color: #E9422E;
    color: #fff
}
a.bg - danger: hover {
    background - color: #E9422E;
    color: #fff
}
a.bg - orange {
    background - color: #EF9549;
    color: #fff
}
a.bg - orange: hover {
    background - color: #EF9549;
    color: #fff
}.bg - primary {
    background - color: #248AAF;color:# fff
}.bg - primary - light {
    background - color: #40DEC8;color:# fff
}.bg - success {
    background - color: #3CBC8D;color:# fff
}.bg - info {
    background - color: #29B7D3;color:# fff
}.bg - warning {
    background - color: #FAC552;
    color: #fff
}.bg - danger {
    background - color: #E9422E;
    color: #fff
}.bg - orange {
    background - color: #EF9549;
    color: #fff
}.bg - violet {
    background - color: #669;color:# fff
}.bg - dark {
    background - color: #242633;color:# fff
}.bg - bright {
    background - color: #fafafa;
    color: #767676}.bg-reverse{background-color:# fff;
    color: #767676}.bg-facebook{background-color:# 335397;
    color: #fff
}.bg - twitter {
    background - color: #00c7f7;color:# fff
}.bg - google - plus {
    background - color: #df4a32;
    color: #fff
}.page - container {
    max - width: 1170 px;
    margin: auto
}.blockquote - colored {
    border - left: 5 px solid #248AAF}.blockquote-colored.pull-right{border-right:5px solid # 248 AAF;
    border - left: 0
}.gradient - text {
    font - size: 150 px;
    font - weight: 300;
    color: #248AAF;background:-webkit-linear-gradient(92deg, # fb83fa, #00aced);-webkit-background-clip:text;-webkit-text-fill-color:transparent}.text-small{font-size:12px}.text-normal{font-size:14px}.text-huge{font-size:72px}.text-large{font-size:50px}.size-h1{font-size:36px}.size-h2{font-size:30px}.size-h3{font-size:24px}.size-h4{font-size:18px}.text-thin{font-weight:300}.text-ultralight{font-weight:100}.color-primary{color:# 248 AAF
}.color - success {
    color: #3CBC8D}.color-info{color:# 29 B7D3
}.color - info - alt {
    color: #669}.color-warning{color:# FAC552
}.color - danger {
    color: #E9422E
}.color - dark {
    color: #242633}.color-reverse{color:# fff
}.color - gray - darker {
    color: #222}.color-gray-dark{color:# 333
}.color - gray {
    color: #555}.color-gray-light{color:# 777
}.color - gray - lighter {
    color: #eee
}.dropcap, .dropcap - square, .dropcap - circle {
    display: block;float: left;font - weight: normal;line - height: 36 px;margin - right: 6 px;text - shadow: none
}.dropcap {
    font - size: 3.1e m
}.dropcap - square, .dropcap - circle {
    background - color: #eee;
    color: #767676;width:36px;text-align:center}.dropcap-square{border-radius:4px;font-size:2.3em}.dropcap-circle{border-radius:50%;font-size:1.78em}.dropcap.colored{color:# 248 AAF
}.dropcap - square.colored, .dropcap - circle.colored {
    background - color: #248AAF;color:# fff
}.highlight {
    background - color: #248AAF;color:# fff;
    border - radius: 4 px;
    padding: 2 px 5 px
}.divider {
    display: block;height: 10 px
}.divider - sm {
    height: 15 px
}.divider - md {
    height: 20 px
}.divider - lg {
    height: 30 px
}.divider - xl {
    height: 50 px
}.space {
    display: inline;padding: 5 px
}.space - md {
    padding: 15 px
}.space - lg {
    padding: 25 px
}.table - dynamic.table - filters {
    margin: 10 px 0;padding: 8 px
}.table - dynamic.filter - result - info {
    padding: 7 px
}.table - dynamic.table - bordered {
    border - top: 1 px solid# ddd;
    border - bottom: 1 px solid# ddd
}.table - dynamic.table - bordered thead th {
    position: relative;padding: 0
}.table - dynamic.table - bordered thead th > .th {
    position: relative;padding: 8 px 20 px 8 px 8 px
}.table - dynamic.table - bordered thead th.glyphicon - chevron - up, .table - dynamic.table - bordered thead th.glyphicon - chevron - down {
    position: absolute;color: #999}.table-dynamic .table-bordered thead th .glyphicon-chevron-up:hover,.table-dynamic .table-bordered thead th .glyphicon-chevron-down:hover{color:# 248 AAF;cursor: pointer
}.table - dynamic.table - bordered thead th.glyphicon - chevron - up.active, .table - dynamic.table - bordered thead th.glyphicon - chevron - down.active {
    color: #248AAF}.table-dynamic .table-bordered thead th .fa-angle-up,.table-dynamic .table-bordered thead th .fa-angle-down{position:absolute;color:# 999;font - size: 16 px;font - weight: bold
}.table - dynamic.table - bordered thead th.fa - angle - up: hover, .table - dynamic.table - bordered thead th.fa - angle - down: hover {
    color: #248AAF;cursor:pointer}.table-dynamic .table-bordered thead th .fa-angle-up.active,.table-dynamic .table-bordered thead th .fa-angle-down.active{color:# 248 AAF
}.table - dynamic.table - bordered thead th.glyphicon - chevron - up, .table - dynamic.table - bordered thead th.fa - angle - up {
    top: 4 px;right: 5 px
}.table - dynamic.table - bordered thead th.fa - angle - down {
    top: 18 px;right: 5 px
}.table - dynamic.table - bordered thead th.glyphicon - chevron - down {
    top: 18 px;right: 6 px
}.table - dynamic.table - footer {
    margin: 10 px 0;padding: 8 px
}.table - dynamic.page - num - info span {
    padding: 6 px
}.table - dynamic.pagination - container ul {
    margin: 0
}.table - dynamic.pagination - container ul li: hover {
    cursor: pointer
}@
media only screen and(max - width: 800 px) {.table - flip - scroll.cf: after {
            visibility: hidden;display: block;font - size: 0;content: " ";clear: both;height: 0
        }.table - flip - scroll * html.cf {
            zoom: 1
        }.table - flip - scroll * : first - child + html.cf {
            zoom: 1
        }.table - flip - scroll table {
            width: 100 % ;border - collapse: collapse;border - spacing: 0
        }.table - flip - scroll th, .table - flip - scroll td {
            margin: 0;vertical - align: top
        }.table - flip - scroll th {
            text - align: left
        }.table - flip - scroll table {
            display: block;position: relative;width: 100 %
        }.table - flip - scroll thead {
            display: block;float: left
        }.table - flip - scroll tbody {
            display: block;width: auto;position: relative;overflow - x: auto;white - space: nowrap
        }.table - flip - scroll thead tr {
            display: block
        }.table - flip - scroll.table > thead > tr > th: first - child {
            border - top: 1 px solid# ddd
        }.table - flip - scroll th {
            display: block;text - align: right
        }.table - flip - scroll tbody tr {
            display: inline - block;vertical - align: top
        }.table - flip - scroll td {
            display: block;min - height: 1.25e m;text - align: left
        }.table - flip - scroll th {
            border - bottom: 0;
            border - left: 0
        }.table - flip - scroll td {
            border - left: 0;
            border - right: 0;
            border - bottom: 0
        }.table - flip - scroll tbody tr {
            border - left: 1 px solid# babcbf
        }.table - flip - scroll th: last - child, .table - flip - scroll td: last - child {
            border - bottom: 1 px solid# babcbf
        }
    }.ui - radio {
        position: relative;margin: 0 20 px 10 px 20 px;font - size: 14 px;line - height: 20 px;height: 20 px
    }.ui - radio input[type = "radio"] + span: hover {
        cursor: pointer
    }.ui - radio input[type = "radio"]: disabled + span: hover {
        cursor: not - allowed
    }.ui - radio input[type = "radio"] {
        display: none
    }.ui - radio input[type = "radio"] + span {
        padding - left: 10 px;
        font - weight: normal
    }.ui - radio input[type = "radio"] + span: before {
        content: "";width: 20 px;height: 20 px;display: inline - block;vertical - align: middle;position: absolute;left: -20 px;top: 0;background: white;border - radius: 50 % ;border: 1 px solid# ccc
    }.ui - radio input[type = "radio"]: disabled + span: before {
        opacity: .65;border: 1 px solid# ccc;cursor: no - drop
    }.ui - radio input[type = "radio"]: checked + span: after {
        content: "";width: 8 px;height: 8 px;position: absolute;top: 6 px;left: -14 px;background - color: #248AAF;border-radius:50%;display:block}.ui-radio input[type= "radio"]: disabled: checked + span: after {
        opacity: .65;cursor: no - drop;background - color: #ccc
    }.ui - checkbox {
        position: relative;margin: 0 20 px 10 px 20 px
    }.ui - checkbox input[type = "checkbox"] + span: hover {
        cursor: pointer
    }.ui - checkbox input[type = "checkbox"]: disabled + span: hover {
        cursor: not - allowed
    }.ui - checkbox input[type = "checkbox"] {
        display: none
    }.ui - checkbox input[type = "checkbox"] + span {
        font - weight: normal
    }.ui - checkbox input[type = "checkbox"] + span: before {
        content: "";width: 18 px;height: 18 px;display: inline - block;vertical - align: middle;margin - right: 10 px;margin - left: -20 px;background - color: transparent;border - radius: 2 px;border: 1 px solid# ccc
    }.ui - checkbox input[type = "checkbox"]: disabled + span: before {
        opacity: .65;border: 1 px solid# ccc;cursor: no - drop
    }.ui - checkbox input[type = "checkbox"]: checked + span: before {
        background - color: #248AAF;border:1px solid # 248 AAF
    }.ui - checkbox input[type = "checkbox"]: checked + span: after {
        content: "";width: 8 px;height: 8 px;position: absolute;top: 7 px;left: -15 px;background: url("img/checkmark.png") no - repeat center center;background - size: 14 px 14 px;display: block
    }.ui - checkbox input[type = "checkbox"]: disabled: checked + span: before {
        opacity: .65;background - color: #ccc;border: 1 px solid# ccc
    }.ui - checkbox input[type = "checkbox"]: disabled: checked + span: after {
        opacity: .65;cursor: no - drop;background: url("img/checkmark.png") no - repeat center center
    }.ui - editor.btn - toolbar {
        margin - bottom: 10 px
    }.ui - editor.btn - toolbar.btn {
        font - size: 12 px
    }.ui - editor.btn - toolbar.btn - group {
        margin: 5 px
    }.ui - editor.btn - toolbar.btn -
    default {
        background - color: #fff;
        color: #767676}.ui-editor # taTextElement {
            overflow: auto;min - height: 300 px
        }.ui - editor# taHtmlElement {
            overflow: auto;min - height: 300 px
        }.ui - datepicker table {
            margin: 0 5 px
        }.ui - datepicker table th, .ui - datepicker table td {
            padding: 1 px
        }.ui - datepicker table th.active span, .ui - datepicker table td.active span {
            color: #fff
        }.ui - timepicker td {
            padding: 1 px
        }.ui - rating: hover {
            cursor: pointer
        }.ui - rating.fa {
            display: inline - block;font - family: FontAwesome;font - style: normal;font - weight: normal;line - height: 1; - webkit - font - smoothing: antialiased; - moz - osx - font - smoothing: grayscale;margin - right: 5 px
        }.ui - rating.fa.fa - star {
            color: #40DEC8}.ui-rating.ui-rating-success .fa.fa-star{color:# 3 CBC8D
        }.ui - rating.ui - rating - info.fa.fa - star {
            color: #29B7D3}.ui-rating.ui-rating-warning .fa.fa-star{color:# FAC552
        }.ui - rating.ui - rating - danger.fa.fa - star {
            color: #E9422E
        }.form - control {
            border - width: 1 px;
            box - shadow: none
        }.form - control: focus {
            border - color: #248AAF;box-shadow:none}.form-group .col-sm-10{position:relative}.form-group .col-sm-10 .icon{position:absolute;right:25px;top:10px}.input-round{border-radius:25px}input.input-primary{border-color:# 248 AAF
        }
        input.input - primary: focus {
            border - color: #248AAF}input.input-info{border-color:# 29 B7D3
        }
        input.input - info: focus {
            border - color: #29B7D3}input.input-success{border-color:# 3 CBC8D
        }
        input.input - success: focus {
            border - color: #3CBC8D}input.input-warning{border-color:# FAC552
        }
        input.input - warning: focus {
            border - color: #FAC552
        }
        input.input - danger {
            border - color: #E9422E
        }
        input.input - danger: focus {
                border - color: #E9422E
            }.drop - box {
                width: 100 % ;height: 100 px;padding - top: 40 px;background: #F8F8F8;border: 2 px dashed# DDD;text - align: center;padding - top: 35 px;border - radius: 4 px
            }.ui - select {
                position: relative;display: inline - block;margin: 0 0 2 px 1.2 % ;width: auto;height: auto;border: 1 px solid# CBD5DD;border - radius: 4 px
            }.ui - select > select {
                z - index: 99;
                display: block;
                position: relative;
                padding: 10 px 15 px 10 px 10 px;
                min - width: 200 px;
                width: 120 % ;
                border: none;
                outline: none;
                background: transparent;
                text - transform: uppercase;
                font - size: 11 px;
                font - weight: bold;
                text - indent: 0.01 px;
                text - overflow: '';
                cursor: pointer; - webkit - appearance: none; - moz - appearance: none
            }.ui - select select::-ms - expand {
                display: none
            }.ui - select: after {
                z - index: 0;
                content: "";
                position: absolute;
                right: 8 % ;
                top: 50 % ;
                color: #CBD5DD;
                width: 0;
                margin - top: -3 px;
                height: 0;
                border - top: 6 px solid;
                border - right: 6 px solid transparent;
                border - left: 6 px solid transparent;
                pointer - events: none
            }@ - moz - document url - prefix() {.ui - select {
                    overflow: hidden
                }.ui - select select {
                    width: 120 % ;width: -moz - calc(100 % +3e m);width: calc(100 % +em)
                }
            }.ui - select select: -moz - focusring {
                color: transparent;text - shadow: 0 0 0 #000}.ui-spinner{max-width:200px}.ui-spinner .input-group-btn.btn-group-vertical>.btn{height:17px;margin:0;padding:0 6px;text-align:center}.ui-spinner .input-group-btn.btn-group-vertical>.btn:first-child{border-radius:0 4px 0 0 !important}.ui-spinner .input-group-btn.btn-group-vertical>.btn:last-child{border-radius:0 0 4px 0}.ui-spinner .input-group-btn.btn-group-vertical>.btn i{display:block;margin-top:-2px}.switch input{display:none}.switch i{display:inline-block;cursor:pointer;padding-right:25px;transition:all ease 0.2s;-webkit-transition:all ease 0.2s;border-radius:30px;box-shadow:inset 0 0 1px rgba(0,0,0,0.5)}.switch i:before{display:block;content:'';width:30px;height:30px;border-radius:30px;background:white;box-shadow:0 1px 2px rgba(0,0,0,0.5)}.switch :checked+i{padding-right:0;padding-left:25px;box-shadow:inset 0 0 1px rgba(0,0,0,0.5),inset 0 0 50px # 248 AAF
            }.switch.switch-success: checked + i {
                box - shadow: inset 0 0 1 px rgba(0, 0, 0, 0.5), inset 0 0 50 px #3CBC8D}.switch.switch-info :checked+i{box-shadow:inset 0 0 1px rgba(0,0,0,0.5),inset 0 0 50px # 29 B7D3
            }.switch.switch-warning: checked + i {
                box - shadow: inset 0 0 1 px rgba(0, 0, 0, 0.5), inset 0 0 50 px# FAC552
            }.switch.switch-danger: checked + i {
                box - shadow: inset 0 0 1 px rgba(0, 0, 0, 0.5), inset 0 0 50 px# E9422E
            }.form - validation.ng - valid.ng - dirty {
                border - color: #3CBC8D}.form-validation .ng-invalid.ng-dirty{border-color:# E9422E
            }.btn - info - alt {
                color: #fff;background - color: #669;border-color:# 5 c5c8a
            }.btn - info - alt: hover, .btn - info - alt: focus, .btn - info - alt.focus, .btn - info - alt: active, .btn - info - alt.active, .open > .btn - info - alt.dropdown - toggle {
                color: #fff;background - color: #52527a;border-color:# 434365
            }.btn - info - alt: active, .btn - info - alt.active, .open > .btn - info - alt.dropdown - toggle {
                background - image: none
            }.btn - info - alt.disabled, .btn - info - alt.disabled: hover, .btn - info - alt.disabled: focus, .btn - info - alt.disabled.focus, .btn - info - alt.disabled: active, .btn - info - alt.disabled.active, .btn - info - alt[disabled], .btn - info - alt[disabled]: hover, .btn - info - alt[disabled]: focus, .btn - info - alt[disabled].focus, .btn - info - alt[disabled]: active, .btn - info - alt[disabled].active, fieldset[disabled].btn - info - alt, fieldset[disabled].btn - info - alt: hover, fieldset[disabled].btn - info - alt: focus, fieldset[disabled].btn - info - alt.focus, fieldset[disabled].btn - info - alt: active, fieldset[disabled].btn - info - alt.active {
                background - color: #669;border-color:# 5 c5c8a
            }.btn - info - alt.badge {
                color: #669;background-color:# fff
            }.btn - dark {
                color: #fff;background - color: #242633;border-color:# 191 b24
            }.btn - dark: hover, .btn - dark: focus, .btn - dark.focus, .btn - dark: active, .btn - dark.active, .open > .btn - dark.dropdown - toggle {
                color: #fff;background - color: #0f1015;border-color:# 000
            }.btn - dark: active, .btn - dark.active, .open > .btn - dark.dropdown - toggle {
                background - image: none
            }.btn - dark.disabled, .btn - dark.disabled: hover, .btn - dark.disabled: focus, .btn - dark.disabled.focus, .btn - dark.disabled: active, .btn - dark.disabled.active, .btn - dark[disabled], .btn - dark[disabled]: hover, .btn - dark[disabled]: focus, .btn - dark[disabled].focus, .btn - dark[disabled]: active, .btn - dark[disabled].active, fieldset[disabled].btn - dark, fieldset[disabled].btn - dark: hover, fieldset[disabled].btn - dark: focus, fieldset[disabled].btn - dark.focus, fieldset[disabled].btn - dark: active, fieldset[disabled].btn - dark.active {
                background - color: #242633;border-color:# 191 b24
            }.btn - dark.badge {
                color: #242633;background-color:# fff
            }.btn - line -
            default {
                color: #767676;background-color:transparent;border-color:# ccc
            }.btn - line -
            default: hover, .btn - line -
            default: focus, .btn - line -
            default: active, .btn - line -
            default.active {
                color: #767676;background-color:# fff
            }.open.btn - line -
            default.dropdown - toggle {
                color: #767676;background-color:# fff
            }.btn - line - primary {
                color: #767676;background-color:transparent;border-color:# 20799 a
            }.btn - line - primary: hover, .btn - line - primary: focus, .btn - line - primary: active, .btn - line - primary.active {
                color: #fff;background - color: #248AAF}.open .btn-line-primary.dropdown-toggle{color:# fff;background - color: #248AAF}.btn-line-success{color:# 767676;background - color: transparent;border - color: #36a97f}.btn-line-success:hover,.btn-line-success:focus,.btn-line-success:active,.btn-line-success.active{color:# fff;background - color: #3CBC8D}.open .btn-line-success.dropdown-toggle{color:# fff;background - color: #3CBC8D}.btn-line-info{color:# 767676;background - color: transparent;border - color: #25a4be}.btn-line-info:hover,.btn-line-info:focus,.btn-line-info:active,.btn-line-info.active{color:# fff;background - color: #29B7D3}.open .btn-line-info.dropdown-toggle{color:# fff;background - color: #29B7D3}.btn-line-warning{color:# 767676;background - color: transparent;border - color: #f9bd39
            }.btn - line - warning: hover, .btn - line - warning: focus, .btn - line - warning: active, .btn - line - warning.active {
                color: #fff;background - color: #FAC552
            }.open.btn - line - warning.dropdown - toggle {
                color: #fff;background - color: #FAC552
            }.btn - line - danger {
                color: #767676;background-color:transparent;border-color:# e52e18
            }.btn - line - danger: hover, .btn - line - danger: focus, .btn - line - danger: active, .btn - line - danger.active {
                color: #fff;background - color: #E9422E
            }.open.btn - line - danger.dropdown - toggle {
                color: #fff;background - color: #E9422E
            }.btn - line - dark {
                color: #767676;background-color:transparent;border-color:# 191 b24
            }.btn - line - dark: hover, .btn - line - dark: focus, .btn - line - dark: active, .btn - line - dark.active {
                color: #fff;background - color: #242633}.open .btn-line-dark.dropdown-toggle{color:# fff;background - color: #242633}.btn-direction{position:relative;border:0;line-height:20px}.btn-left{border-top-left-radius:0;border-bottom-left-radius:0}.btn-left:before{content:" ";line-height:0;position:absolute;top:0;left:-26px;border:16px solid transparent;border-right:10px solid # fff
            }.btn - left: hover: before {
                border - right: 10 px solid# e6e6e6
            }.btn - left.btn - primary: before {
                border - right: 10 px solid #248AAF}.btn-left.btn-primary:hover:before{border-right:10px solid # 1 b6985
            }.btn - left.btn - success: before {
                border - right: 10 px solid #3CBC8D}.btn-left.btn-success:hover:before{border-right:10px solid # 309570
            }.btn - left.btn - info: before {
                border - right: 10 px solid #29B7D3}.btn-left.btn-info:hover:before{border-right:10px solid # 2192 a8
            }.btn - left.btn - warning: before {
                border - right: 10 px solid# FAC552
            }.btn - left.btn - warning: hover: before {
                border - right: 10 px solid# f9b420
            }.btn - left.btn - danger: before {
                border - right: 10 px solid# E9422E
            }.btn - left.btn - danger: hover: before {
                border - right: 10 px solid# ce2916
            }.btn - right {
                border - top - right - radius: 0;
                border - bottom - right - radius: 0
            }.btn - right: before {
                content: " ";line - height: 0;position: absolute;top: 0;right: -26 px;border: 16 px solid transparent;border - left: 10 px solid# fff
            }.btn - right: hover: before {
                border - left: 10 px solid# e6e6e6
            }.btn - right.btn - primary: before {
                border - left: 10 px solid #248AAF}.btn-right.btn-primary:hover:before{border-left:10px solid # 1 b6985
            }.btn - right.btn - success: before {
                border - left: 10 px solid #3CBC8D}.btn-right.btn-success:hover:before{border-left:10px solid # 309570
            }.btn - right.btn - info: before {
                border - left: 10 px solid #29B7D3}.btn-right.btn-info:hover:before{border-left:10px solid # 2192 a8
            }.btn - right.btn - warning: before {
                border - left: 10 px solid# FAC552
            }.btn - right.btn - warning: hover: before {
                border - left: 10 px solid# f9b420
            }.btn - right.btn - danger: before {
                border - left: 10 px solid# E9422E
            }.btn - right.btn - danger: hover: before {
                border - left: 10 px solid# ce2916
            }.btn - up: before {
                content: " ";line - height: 0;position: absolute;top: -16 px;left: 50 % ;margin - left: -8 px;border: 8 px solid transparent;border - bottom: 8 px solid# fff
            }.btn - up: hover: before {
                border - bottom: 8 px solid# e6e6e6
            }.btn - up.btn - primary: before {
                border - bottom: 8 px solid #248AAF}.btn-up.btn-primary:hover:before{border-bottom:8px solid # 1 b6985
            }.btn - up.btn - success: before {
                border - bottom: 8 px solid #3CBC8D}.btn-up.btn-success:hover:before{border-bottom:8px solid # 309570
            }.btn - up.btn - info: before {
                border - bottom: 8 px solid #29B7D3}.btn-up.btn-info:hover:before{border-bottom:8px solid # 2192 a8
            }.btn - up.btn - warning: before {
                border - bottom: 8 px solid# FAC552
            }.btn - up.btn - warning: hover: before {
                border - bottom: 8 px solid# f9b420
            }.btn - up.btn - danger: before {
                border - bottom: 8 px solid# E9422E
            }.btn - up.btn - danger: hover: before {
                border - bottom: 8 px solid# ce2916
            }.btn - down: before {
                content: " ";line - height: 0;position: absolute;bottom: -16 px;left: 50 % ;margin - left: -8 px;border: 8 px solid transparent;border - top: 8 px solid# fff
            }.btn - down: hover: before {
                border - top: 8 px solid# e6e6e6
            }.btn - down.btn - primary: before {
                border - top: 8 px solid #248AAF}.btn-down.btn-primary:hover:before{border-top:8px solid # 1 b6985
            }.btn - down.btn - success: before {
                border - top: 8 px solid #3CBC8D}.btn-down.btn-success:hover:before{border-top:8px solid # 309570
            }.btn - down.btn - info: before {
                border - top: 8 px solid #29B7D3}.btn-down.btn-info:hover:before{border-top:8px solid # 2192 a8
            }.btn - down.btn - warning: before {
                border - top: 8 px solid# FAC552
            }.btn - down.btn - warning: hover: before {
                border - top: 8 px solid# f9b420
            }.btn - down.btn - danger: before {
                border - top: 8 px solid# E9422E
            }.btn - down.btn - danger: hover: before {
                border - top: 8 px solid# ce2916
            }.btn - w - xs {
                min - width: 80 px
            }.btn - w - sm {
                min - width: 100 px
            }.btn - w - md {
                min - width: 120 px
            }.btn - w - lg {
                min - width: 150 px
            }.btn - round {
                border - radius: 2e m
            }.btn - gap {
                margin: 5 px
            }.btn - gap - h {
                margin: 0 5 px
            }.btn - gap - v {
                margin: 0 0 5 px
            }.btn - icon {
                display: inline - block;text - align: center;border - radius: 4 px;height: 35 px;width: 35 px;line - height: 35 px
            }.btn - icon.btn - icon - lined {
                line - height: 31 px
            }.btn - icon: hover {
                color: #fff
            }.btn - icon - lined {
                display: inline - block;text - align: center;border - radius: 4 px;background - color: #fff;border: 2 px solid #767676;color:# 767676;height: 35 px;width: 35 px;line - height: 35 px
            }.btn - icon - lined.btn - icon - lined {
                line - height: 31 px
            }.btn - icon - lined: hover {
                background - color: #fff;
                color: #fff
            }.btn - icon - lined.btn -
            default -light {
                color: #bbb;border: 2 px solid# bbb
            }.btn - icon - lined.btn -
            default -light: hover {
                color: #bbb;border: 2 px solid# bbb
            }.btn - icon - lined.btn -
            default {
                color: #777;border:2px solid # 777
            }.btn - icon - lined.btn -
            default: hover {
                color: #777;border:2px solid # 777
            }.btn - icon - lined.btn - primary {
                color: #248AAF;border:2px solid # 248 AAF
            }.btn - icon - lined.btn - success {
                color: #3CBC8D;border:2px solid # 3 CBC8D
            }.btn - icon - lined.btn - info {
                color: #29B7D3;border:2px solid # 29 B7D3
            }.btn - icon - lined.btn - warning {
                color: #FAC552;border: 2 px solid# FAC552
            }.btn - icon - lined.btn - danger {
                color: #E9422E;border: 2 px solid# E9422E
            }.btn - icon - round {
                border - radius: 50 %
            }.btn - icon - sm {
                height: 30 px;width: 30 px;line - height: 30 px
            }.btn - icon - sm.btn - icon - lined {
                line - height: 26 px
            }.btn - icon - md {
                height: 45 px;width: 45 px;line - height: 45 px
            }.btn - icon - md.btn - icon - lined {
                line - height: 41 px
            }.btn - icon - lg {
                height: 65 px;width: 65 px;line - height: 65 px
            }.btn - icon - lg.btn - icon - lined {
                line - height: 61 px
            }.btn - icon - lg - alt {
                height: 70 px;width: 70 px;line - height: 70 px
            }.btn - icon - lg - alt.btn - icon - lined {
                line - height: 66 px
            }.btn - icon - xl {
                height: 80 px;width: 80 px;line - height: 80 px
            }.btn - icon - xl.btn - icon - lined {
                line - height: 76 px
            }.btn - twitter {
                color: #fff;background - color: #00c7f7;border-color:# 00 c7f7
            }.btn - twitter: hover {
                color: #fff;background - color: #00a6ce;border-color:# 0096 ba
            }.btn - facebook {
                color: #fff;background - color: #335397;border-color:# 335397
            }.btn - facebook: hover {
                color: #fff;background - color: #294279;border-color:# 243 a69
            }.btn - gplus, .btn - google - plus {
                color: #fff;background - color: #dd4a38;border - color: #dd4a38
            }.btn - gplus: hover, .btn - google - plus: hover {
                color: #fff;background - color: #ca3522;border - color: #b8301f
            }.btn - instagram {
                color: #fff;background - color: #82685A;border-color:# 82685 A
            }.btn - instagram: hover {
                color: #fff;background - color: #6a5549;border-color:# 5e4 b41
            }.btn - vimeo {
                color: #fff;background - color: #63879C;border-color:# 63879 C
            }.btn - vimeo: hover {
                color: #fff;background - color: #537183;border-color:# 4 b6777
            }.btn - flickr {
                color: #fff;background - color: #0061DB;border-color:# 0061 DB
            }.btn - flickr: hover {
                color: #fff;background - color: #004fb2;border-color:# 00469e
            }.btn - github {
                color: #fff;background - color: #3B3B3B;border-color:# 3 B3B3B
            }.btn - github: hover {
                color: #fff;background - color: #272727;border-color:# 1 c1c1c
            }.btn - pinterest {
                color: #fff;background - color: #D73532;border - color: #D73532
            }.btn - pinterest: hover {
                color: #fff;background - color: #bc2725;border - color: #ab2421
            }.btn - tumblr {
                color: #fff;background - color: #586980;border-color:# 586980
            }.btn - tumblr: hover {
                color: #fff;background - color: #475568;border-color:# 3 f4b5c
            }.btn - linkedin {
                color: #fff;background - color: #018FAF;border-color:# 018 FAF
            }.btn - linkedin: hover {
                color: #fff;background - color: #016e86;border-color:# 015 d72
            }.btn - dribbble {
                color: #fff;background - color: #EA73A0;border - color: #EA73A0
            }.btn - dribbble: hover {
                color: #fff;background - color: #e55088;border - color: #e23e7c
            }.btn - stumbleupon {
                color: #fff;background - color: #EA4B24;border - color: #EA4B24
            }.btn - stumbleupon: hover {
                color: #fff;background - color: #d13914;border - color: #bf3412
            }.btn - lastfm {
                color: #fff;background - color: #B80638;border - color: #B80638
            }.btn - lastfm: hover {
                color: #fff;background - color: #90052c;border-color:# 7 d0426
            }.btn - evernote {
                color: #fff;background - color: #3BAB27;border-color:# 3 BAB27
            }.btn - evernote: hover {
                color: #fff;background - color: #308a1f;border-color:# 2 a791c
            }.btn - skype {
                color: #fff;background - color: #00B0F6;border-color:# 00 B0F6
            }.btn - skype: hover {
                color: #fff;background - color: #0093cd;border-color:# 0084 b9
            }.btn - soundcloud {
                color: #fff;background - color: #06f;border-color:# 06 f
            }.btn - soundcloud: hover {
                color: #fff;background - color: #0056d6;border-color:# 004e c2
            }.btn - behance {
                color: #fff;background - color: #B80638;border - color: #B80638
            }.btn - behance: hover {
                color: #fff;background - color: #90052c;border-color:# 7 d0426
            }.btn - rss {
                color: #fff;background - color: #F79638;border - color: #F79638
            }.btn - rss: hover {
                color: #fff;background - color: #f58111;border - color: #e87709
            }.btn - youtube {
                color: #fff;background - color: #CC181E;border - color: #CC181E
            }.btn - youtube: hover {
                color: #fff;background - color: #a71419;border - color: #951216}.btn-metro{position:relative;padding:0;border:0;width:180px;height:180px;font-size:21px;text-align:center}.btn-metro i{font-size:48px;line-height:180px}.btn-metro span{position:absolute;left:15px;bottom:15px}.content-container.ng-leave{z-index:9999}.content-container.ng-enter{z-index:8888}@-webkit-keyframes fade-up-enter{0%{opacity:0;-webkit-transform:translateY(20px)}100%{opacity:1;-webkit-transform:translateY(0)}}@-moz-keyframes fade-up-enter{0%{opacity:0;-moz-transform:translateY(20px)}100%{opacity:1;-moz-transform:translateY(0)}}@keyframes fade-up-enter{0%{opacity:0;-webkit-transform:translateY(20px);-moz-transform:translateY(20px);-ms-transform:translateY(20px);-o-transform:translateY(20px);transform:translateY(20px)}100%{opacity:1;-webkit-transform:translateY(0);-moz-transform:translateY(0);-ms-transform:translateY(0);-o-transform:translateY(0);transform:translateY(0)}}@-webkit-keyframes fade-up-leave{0%{opacity:1;-webkit-transform:translateY(0)}100%{opacity:0;-webkit-transform:translateY(-20px)}}@-moz-keyframes fade-up-leave{0%{opacity:1;-moz-transform:translateY(0)}100%{opacity:0;-moz-transform:translateY(-20px)}}@keyframes fade-up-leave{0%{opacity:1;-webkit-transform:translateY(0);-moz-transform:translateY(0);-ms-transform:translateY(0);-o-transform:translateY(0);transform:translateY(0)}100%{opacity:0;-webkit-transform:translateY(-20px);-moz-transform:translateY(-20px);-ms-transform:translateY(-20px);-o-transform:translateY(-20px);transform:translateY(-20px)}}.animate-fade-up.ng-enter{-webkit-animation:0.35s fade-up-enter;-moz-animation:0.35s fade-up-enter;animation:0.35s fade-up-enter}@-webkit-keyframes animate-flip-y-enter{0%{-webkit-transform:perspective(3000px) rotateY(90deg);opacity:0}100%{-webkit-transform:perspective(3000px) rotateY(0deg);opacity:1}}@-moz-keyframes animate-flip-y-enter{0%{-moz-transform:perspective(3000px) rotateY(90deg);opacity:0}100%{-moz-transform:perspective(3000px) rotateY(0deg);opacity:1}}@keyframes animate-flip-y-enter{0%{-webkit-transform:perspective(3000px) rotateY(90deg);-moz-transform:perspective(3000px) rotateY(90deg);-ms-transform:perspective(3000px) rotateY(90deg);-o-transform:perspective(3000px) rotateY(90deg);transform:perspective(3000px) rotateY(90deg);opacity:0}100%{-webkit-transform:perspective(3000px) rotateY(0deg);-moz-transform:perspective(3000px) rotateY(0deg);-ms-transform:perspective(3000px) rotateY(0deg);-o-transform:perspective(3000px) rotateY(0deg);transform:perspective(3000px) rotateY(0deg);opacity:1}}@-webkit-keyframes animate-flip-y-leave{0%{-webkit-transform:perspective(3000px) rotateY(0deg);opacity:1}100%{-webkit-transform:perspective(3000px) rotateY(-90deg);opacity:0}}@-moz-keyframes animate-flip-y-leave{0%{-moz-transform:perspective(3000px) rotateY(0deg);opacity:1}100%{-moz-transform:perspective(3000px) rotateY(-90deg);opacity:0}}@keyframes animate-flip-y-leave{0%{-webkit-transform:perspective(3000px) rotateY(0deg);-moz-transform:perspective(3000px) rotateY(0deg);-ms-transform:perspective(3000px) rotateY(0deg);-o-transform:perspective(3000px) rotateY(0deg);transform:perspective(3000px) rotateY(0deg);opacity:1}100%{-webkit-transform:perspective(3000px) rotateY(-90deg);-moz-transform:perspective(3000px) rotateY(-90deg);-ms-transform:perspective(3000px) rotateY(-90deg);-o-transform:perspective(3000px) rotateY(-90deg);transform:perspective(3000px) rotateY(-90deg);opacity:0}}.animate-flip-y.ng-enter{-webkit-animation:0.35s animate-flip-y-enter ease-in-out;-moz-animation:0.35s animate-flip-y-enter ease-in-out;animation:0.35s animate-flip-y-enter ease-in-out}@-webkit-keyframes slideInDown{0%{opacity:0;-webkit-transform:translateY(-2000px)}100%{-webkit-transform:translateY(0)}}@-moz-keyframes slideInDown{0%{opacity:0;-moz-transform:translateY(-2000px)}100%{-moz-transform:translateY(0)}}@keyframes slideInDown{0%{opacity:0;-webkit-transform:translateY(-2000px);-moz-transform:translateY(-2000px);-ms-transform:translateY(-2000px);-o-transform:translateY(-2000px);transform:translateY(-2000px)}100%{-webkit-transform:translateY(0);-moz-transform:translateY(0);-ms-transform:translateY(0);-o-transform:translateY(0);transform:translateY(0)}}@-webkit-keyframes slideOutUp{0%{-webkit-transform:translateY(0)}100%{opacity:0;-webkit-transform:translateY(-2000px)}}@-moz-keyframes slideOutUp{0%{-moz-transform:translateY(0)}100%{opacity:0;-moz-transform:translateY(-2000px)}}@keyframes slideOutUp{0%{-webkit-transform:translateY(0);-moz-transform:translateY(0);-ms-transform:translateY(0);-o-transform:translateY(0);transform:translateY(0)}100%{opacity:0;-webkit-transform:translateY(-2000px);-moz-transform:translateY(-2000px);-ms-transform:translateY(-2000px);-o-transform:translateY(-2000px);transform:translateY(-2000px)}}.animate-vertical-slide.ng-hide-add{-webkit-animation:0.35s slideOutUp ease-in-out;-moz-animation:0.35s slideOutUp ease-in-out;animation:0.35s slideOutUp ease-in-out}.animate-vertical-slide.ng-hide-remove{-webkit-animation:0.35s 0.35s slideInDown ease-in-out;-moz-animation:0.35s 0.35s slideInDown ease-in-out;animation:0.35s 0.35s slideInDown ease-in-out}@-webkit-keyframes slideOutUp{0%{opacity:0;-webkit-transform:scale(0.95)}100%{opacity:1;-webkit-transform:scale(1)}}@-moz-keyframes slideOutUp{0%{opacity:0;-moz-transform:scale(0.95)}100%{opacity:1;-moz-transform:scale(1)}}@keyframes slideOutUp{0%{opacity:0;-webkit-transform:scale(0.95);-moz-transform:scale(0.95);-ms-transform:scale(0.95);-o-transform:scale(0.95);transform:scale(0.95)}100%{opacity:1;-webkit-transform:scale(1);-moz-transform:scale(1);-ms-transform:scale(1);-o-transform:scale(1);transform:scale(1)}}.ainmate-scale-up.ng-enter{-webkit-animation:0.35s slideOutUp ease-in-out;-moz-animation:0.35s slideOutUp ease-in-out;animation:0.35s slideOutUp ease-in-out}@-webkit-keyframes slideInRight{0%{opacity:0;-webkit-transform:translateX(25px)}100%{opacity:1;-webkit-transform:translateX(0)}}@-moz-keyframes slideInRight{0%{opacity:0;-moz-transform:translateX(25px)}100%{opacity:1;-moz-transform:translateX(0)}}@keyframes slideInRight{0%{opacity:0;-webkit-transform:translateX(25px);-moz-transform:translateX(25px);-ms-transform:translateX(25px);-o-transform:translateX(25px);transform:translateX(25px)}100%{opacity:1;-webkit-transform:translateX(0);-moz-transform:translateX(0);-ms-transform:translateX(0);-o-transform:translateX(0);transform:translateX(0)}}.ainmate-slide-in-right.ng-enter{-webkit-animation:0.35s slideInRight ease-in-out;-moz-animation:0.35s slideInRight ease-in-out;animation:0.35s slideInRight ease-in-out}.badge-primary{background-color:# 248 AAF
            }.badge - success {
                background - color: #3CBC8D}.badge-info{background-color:# 29 B7D3
            }.badge - warning {
                background - color: #FAC552
            }.badge - danger {
                background - color: #E9422E
            }.breadcrumb a {
                color: #767676}.breadcrumb a:hover{text-decoration:none}.breadcrumb-alt{overflow:hidden;list-style:none;margin:0 0 20px;padding:0;width:100%}.breadcrumb-alt>li{float:left;margin:0 25px 0 0}.breadcrumb-alt>li>a{position:relative;float:left;background-color:# eee;color: #767676;font-size:12px;padding:10px}.breadcrumb-alt>li>a:before{position:absolute;top:50%;left:-1em;margin-top:-1.6em;border-color:# eee# eee# eee transparent;border - style: solid;border - width: 1.5e m 0 1.7e m 1e m;content: ""
            }.breadcrumb - alt > li > a: after {
                position: absolute;top: 50 % ;right: -1e m;margin - top: -1.5e m;border - bottom: 1.5e m solid transparent;border - left: 1e m solid# eee;border - top: 1.5e m solid transparent;content: ""
            }.breadcrumb - alt > li > a: hover, .breadcrumb - alt > li > a.active {
                text - decoration: none;
                background - color: #248AAF;color:# fff
            }.breadcrumb - alt > li > a: hover: before, .breadcrumb - alt > li > a.active: before {
                border - color: #248AAF # 248 AAF #248AAF transparent}.breadcrumb-alt>li>a:hover:after,.breadcrumb-alt>li>a.active:after{border-left:1em solid # 248 AAF
            }.ui - bullet {
                overflow: auto
            }.ui - bullet.btn - icon {
                float: left;font - size: 26 px
            }.ui - bullet.ui - bullet - content {
                margin - left: 75 px;
                margin - bottom: 2e m
            }.ui - bullet h3 {
                display: inline - block;border - bottom: 1 px solid rgba(118, 118, 118, 0.2);font - size: 24 px;margin: .5e m 0.6e m
            }.callout {
                margin: 20 px 0;padding: 20 px;border - left: 3 px solid# eee
            }.callout h4 {
                margin - top: 0;
                margin - bottom: 5 px
            }.callout p: last - child {
                margin - bottom: 0
            }.callout - success {
                background - color: #f3faf3;
                border - color: #3CBC8D}.callout-success h4{color:# 3 CBC8D
            }.callout - info {
                background - color: #f4f8fa;
                border - color: #29B7D3}.callout-info h4{color:# 29 B7D3
            }.callout - warning {
                background - color: #fcf8f2;
                border - color: #FAC552
            }.callout - warning h4 {
                color: #FAC552
            }.callout - danger {
                background - color: #fdf7f7;
                border - color: #E9422E
            }.callout - danger h4 {
                color: #E9422E
            }#
        flotTip {
            background: rgba(0, 0, 0, 0.7);color: #fafafa;padding: .3e m.4e m;border: 0;font - size: 12 px;border - radius: 4 px
        }.dropdown - menu {
                box - shadow: none
            }.dropdown - menu.dropdown - dark {
                background - color: #242633}.dropdown-menu.dropdown-dark.with-arrow:after{border-bottom:7px solid # 242633
            }.dropdown - menu.dropdown - dark > li > a {
                color: #777}.dropdown-menu.with-arrow{margin-top:0}.dropdown-menu.with-arrow:before{content:" ";position:absolute;left:12px;top:-16px;border:8px solid transparent;border-bottom:8px solid rgba(0,0,0,0.15)}.dropdown-menu.with-arrow:after{content:" ";position:absolute;left:13px;top:-14px;border:7px solid transparent;border-bottom:7px solid # fff
            }.dropdown - menu.with - arrow.pull - right {
                margin - top: 0
            }.dropdown - menu.with - arrow.pull - right: before {
                left: auto;right: 12 px
            }.dropdown - menu.with - arrow.pull - right: after {
                left: auto;right: 13 px
            }.dropdown - menu.with - arrow.panel {
                border: 0;box - shadow: 0 1 px 3 px rgba(0, 0, 0, 0.2)
            }.dropdown - menu.with - arrow.panel -
            default: before {
                border - bottom: 8 px solid# e9e9e9
            }.dropdown - menu.with - arrow.panel -
            default: after {
                border - bottom: 7 px solid# f6f6f6
            }.dropdown - menu.with - arrow.panel - dark: before {
                border - bottom: 8 px solid #242633}.dropdown-menu.with-arrow.panel-dark:after{border-bottom:7px solid # 242633
            }.dropdown - menu.with - arrow.panel - primary: before {
                border - bottom: 8 px solid #248AAF}.dropdown-menu.with-arrow.panel-primary:after{border-bottom:7px solid # 248 AAF
            }.dropdown - menu.with - arrow.panel - success: before {
                border - bottom: 8 px solid# ebf8cd
            }.dropdown - menu.with - arrow.panel - success: after {
                border - bottom: 7 px solid# F0FBE3
            }.dropdown - menu.with - arrow.panel - info: before {
                border - bottom: 8 px solid# c5f1fa
            }.dropdown - menu.with - arrow.panel - info: after {
                border - bottom: 7 px solid# E6F5FD
            }.dropdown - menu.with - arrow.panel - warning: before {
                border - bottom: 8 px solid# ffecd4
            }.dropdown - menu.with - arrow.panel - warning: after {
                border - bottom: 7 px solid# FFFAED
            }.dropdown - menu.with - arrow.panel - danger: before {
                border - bottom: 8 px solid# f7d0d1
            }.dropdown - menu.with - arrow.panel - danger: after {
                border - bottom: 7 px solid# FBE9E6
            }
        img.img30_30 {
            width: 30 px;height: 30 px
        }
        img.img64_64 {
            width: 64 px;height: 64 px
        }
        img.img80_80 {
            width: 80 px;height: 80 px
        }.label {
            padding: .5e m.8e m
        }.label - info - alt {
            background: #669}.list-group-item{padding:15px;border:1px solid # f3f3f3
        }.list - info li {
            padding: 10 px;border - bottom: 1 px solid# eee
        }.list - info li: last - child {
            border - bottom: none
        }.list - info li.icon {
            margin - right: 10 px;
            color: #248AAF}.list-info li label{width:100px}.mail-categories .list-group .list-group-item{padding:0}.mail-categories .list-group .list-group-item.active>a{border-left:3px solid # 248 AAF;
            color: #248AAF;background-color:# fafafa
        }.mail - categories.list - group.list - group - item > a {
            display: block;padding: 15 px;text - decoration: none; - webkit - transition: all 0.25 s ease - in -out; - moz - transition: all 0.25 s ease - in -out;transition: all 0.25 s ease - in -out
        }.mail - categories.list - group.list - group - item > a: hover {
            border - left: 3 px solid #248AAF;color:# 248 AAF;
            background - color: #fafafa
        }.mail - categories.list - group.list - group - item > a > i {
            font - size: 16 px;
            width: 18 px;
            margin - right: 5 px
        }.mail - categories.list - group.list - group - item > a > i.fa - circle {
            font - size: 14 px
        }.mail - categories.list - group - item.active, .mail - categories.list - group - item.active: hover, .mail - categories.list - group - item.active: focus {
            border - color: #eff2f7
        }.mail - container.mail - options {
            padding: 12 px
        }.mail - container.table {
            margin - bottom: 0;
            border - top: 1 px solid# ddd
        }.mail - container.table tr: hover {
            cursor: pointer
        }.mail - container.table tr > td {
            padding: 12 px
        }.mail - container.table tr > td > .fa - star {
            color: #ccc
        }.mail - container.table tr > td > .fa - star.active {
            color: #E9422E
        }.mail - container.table label.ui - checkbox {
            margin - bottom: 0
        }.mail - container.table.mail - unread {
            font - weight: bold;
            color: #333}.mail-container .table .mail-hightlight td{background-color:# FFFAED
        }.mail - container.mail - header {
            padding: 15 px 0
        }.mail - container.mail - header h3 {
            margin - top: 0
        }.mail - container.mail - info {
            padding: 10 px 15 px;border - top: 1 px solid# f1f1f1;border - bottom: 1 px solid# f1f1f1
        }.mail - container.mail - info.col - md - 8, .mail - container.mail - info.col - md - 4 {
            padding: 0
        }.mail - container.mail - content {
            padding: 15 px 0;border - bottom: 1 px solid# f1f1f1
        }.mail - container.mail - attachments {
            padding: 15 px 0;border - bottom: 1 px solid# f1f1f1
        }.mail - container.mail - attachments.list - attachs img {
            max - width: 200 px;
            max - height: 200 px
        }.mail - container.mail - actions {
            margin - top: 10 px
        }.mail - compose.form - group > input {
            border: none
        }.mail - compose.form - group > input: focus {
            border: none
        }.mail - compose.mail - actions {
            margin - top: 10 px
        }.nav - boxed {
            box - shadow: 0 0 2 px rgba(0, 0, 0, 0.2);
            background - color: #fff;
            border - radius: 4 px
        }.nav - boxed.nav - justified > li > a {
            margin: 0
        }.nav - boxed > li > a {
            display: block;padding: 10 px 5 px;border - left: 0;border - top: 1 px solid# f3f3f3
        }@
        media(min - width: 768 px) {.nav - boxed > li > a {
                border - top: 0;
                border - left: 1 px solid# f3f3f3
            }
        }.nav - boxed > li > a > i {
            display: block;width: 40 px;height: 40 px;line - height: 40 px;margin: 0 auto 2 px;font - size: 30 px
        
		}.nav - boxed > li: first - child > a {
            border - left: none;
            border - top: 0
        }@
        media(min - width: 768 px) {.nav - boxed > li: first - child > a {
                border - left: 1 px solid# f3f3f3
            }
        }.panel {
            box - shadow: 0 0 3 px rgba(0, 0, 0, 0.1)
        }.panel.panel - heading {
            text - transform: uppercase
        }.panel.panel - title {
            font - size: 14 px
        }.panel - dark {
            border - color: #242633}.panel-dark>.panel-heading{color:# fff;
            background - color: #242633;border-color:# 242633
        }.panel - dark > .panel - heading + .panel - collapse > .panel - body {
            border - top - color: #242633}.panel-dark>.panel-heading .badge{color:# 242633;
            background - color: #fff
        }.panel - dark > .panel - footer + .panel - collapse > .panel - body {
            border - bottom - color: #242633}.panel-box{display:table;table-layout:fixed;width:100%;height:100%;text-align:center;border:none}.panel-box .panel-item{display:table-cell;padding:30px;width:1%;vertical-align:top;border-radius:0}.panel-box .panel-left{border-top-left-radius:4px;border-bottom-left-radius:4px}.panel-box .panel-right{border-top-right-radius:4px;border-bottom-right-radius:4px}.panel-box.info-box i{line-height:70px}.panel-box .panel-top,.panel-box .panel-bottom{display:block}.panel-box .panel-top{padding:30px 20px;border-top-left-radius:4px;border-top-right-radius:4px}.panel-box .panel-bottom{padding:10px;border-bottom-left-radius:4px;border-bottom-right-radius:4px}.panel-box .panel-bottom p{margin:0}.panel-box .list-justified-container{padding:15px 0}.panel-box ul.list-justified{display:table;width:100%;list-style:none;padding:0}.panel-box ul.list-justified>li{float:none;display:table-cell;padding:10px;width:1%;border-right:1px solid # eee
        }.panel - box ul.list - justified > li: last - child {
            border: none
        }.panel - box ul.list - justified > li p {
            margin: 0
        }.panel - box.panel - icon, .panel - box.panel - img {
            display: block;margin: -75 px auto 0;border - radius: 50 % ;border: 10 px solid# fff;width: 150 px;height: 150 px;line - height: 80 px;text - align: center;font - size: 58 px;text - shadow: -6 px 8 px 5 px rgba(0, 0, 0, 0.3)
        }.panel - box.panel - icon {
            padding: 28 px 35 px 35 px
        }.panel - box.panel - img {
            padding: 0
        }.panel - box.panel - img img {
            width: 100 % ;max - width: 100 %
        }.mini - box {
            min - height: 120 px;
            padding: 25 px
        }.mini - box.box - icon {
            display: block;float: left;margin: 0 15 px 10 px 0;width: 70 px;height: 70 px;line - height: 70 px;vertical - align: middle;text - align: center;font - size: 35 px;border - radius: 4 px
        }.mini - box.box - icon.rounded {
            border - radius: 50 %
        }.mini - box.btn - icon - lined {
            float: left;margin: 0 15 px 10 px 0;font - size: 32 px
        }.mini - box.box - info p {
            margin: 0
        }.panel - profile {
            border: none
        }.panel - profile.profile {
            margin: 5 px 15 px 5 px 5 px;border - radius: 50 % ;padding: 5 px;border: 1 px solid rgba(0, 0, 0, 0.2)
        }.panel - profile.profile img {
            border - radius: 50 %
        }.panel - profile.list - group > li > i {
            margin - right: 10 px;
            font - size: 16 px;
            color: #777;table-layout:fixed}.panel-profile .list-justified-container{padding:15px 0}.panel-profile ul.list-justified{display:table;width:100%;list-style:none;padding:0}.panel-profile ul.list-justified>li{float:none;display:table-cell;padding:10px;width:1%;border-right:1px solid # eee
        }.panel - profile ul.list - justified > li: last - child {
            border: none
        }.panel - profile ul.list - justified > li p {
            margin: 0
        }.popover - title {
            padding: 8 px 14 px 0;color: #aaa;font - weight: bold;border - bottom: none
        }.popover - content {
            color: #fafafa
        }.pricing - table {
            margin - bottom: 20 px;
            text - align: center;
            background - color: #fcfcfc;
            color: #767676;border-radius:6px;box-shadow:0 0 3px rgba(0,0,0,0.2)}.pricing-table>header{display:block;margin:0;padding:30px 40px;font-size:22px;line-height:1;font-weight:bold;text-transform:uppercase}.pricing-table .pricing-price{padding:14px;font-size:18px;color:# fff;
            background - color: #ccc;
            border - bottom: 3 px solid# b8b8b8
        }.pricing - table.pricing - body > ul {
            margin: 0;padding: 0;list - style: none;font - size: 16 px
        }.pricing - table.pricing - body > ul > li {
            padding: 12 px;border - bottom: 1 px solid rgba(0, 0, 0, 0.05);background - color: #f9f9f9
        }.pricing - table.pricing - body > ul > li: nth - child(odd) {
            background - color: #eee
        }.pricing - table.pricing - body > ul > li strong {
            color: #242633}.pricing-table>footer{padding:30px 40px}.pricing-table>footer>a{display:block;margin:0;font-size:16px}.pricing-table.pricing-table-dark .pricing-price{background-color:# 242633;border - bottom: 3 px solid #13141b}.pricing-table.pricing-table-primary .pricing-price{background-color:# 248 AAF;border - bottom: 3 px solid #1d6f8d}.pricing-table.pricing-table-success .pricing-price{background-color:# 3 CBC8D;border - bottom: 3 px solid #329d76}.pricing-table.pricing-table-info .pricing-price{background-color:# 29 B7D3;border - bottom: 3 px solid #2299b1}.pricing-table.pricing-table-warning .pricing-price{background-color:# FAC552;border - bottom: 3 px solid# f9b82a
        }.pricing - table.pricing - table - danger.pricing - price {
            background - color: #E9422E;
            border - bottom: 3 px solid# d82b17
        }.ui - ribbon - container {
            position: relative
        }.ui - ribbon - container.ui - ribbon - wrapper {
            position: absolute;overflow: hidden;width: 85 px;height: 88 px;top: -3 px;right: -3 px
        }.ui - ribbon - container.ui - ribbon {
            position: relative;display: block;text - align: center;font - size: 15 px;font - weight: bold;color: #fff; - webkit - transform: rotate(45 deg); - moz - transform: rotate(45 deg); - ms - transform: rotate(45 deg); - o - transform: rotate(45 deg);transform: rotate(45 deg);padding: 7 px 0;left: -5 px;top: 15 px;width: 120 px;line - height: 20 px;background - color: #555;box-shadow:0 0 3px rgba(0,0,0,0.3)}.ui-ribbon-container .ui-ribbon:before,.ui-ribbon-container .ui-ribbon:after{position:absolute;content:" ";line-height:0;border-top:2px solid # 555;border - left: 2 px solid transparent;border - right: 2 px solid transparent;bottom: -2 px
        }.ui - ribbon - container.ui - ribbon: before {
            left: 0;bottom: -1 px
        }.ui - ribbon - container.ui - ribbon: after {
            right: 0
        }.ui - ribbon - container.ui - ribbon - primary.ui - ribbon {
            background - color: #248AAF}.ui-ribbon-container.ui-ribbon-primary .ui-ribbon:before,.ui-ribbon-container.ui-ribbon-primary .ui-ribbon:after{border-top:2px solid # 248 AAF
        }.ui - ribbon - container.ui - ribbon - success.ui - ribbon {
            background - color: #3CBC8D}.ui-ribbon-container.ui-ribbon-success .ui-ribbon:before,.ui-ribbon-container.ui-ribbon-success .ui-ribbon:after{border-top:2px solid # 3 CBC8D
        }.ui - ribbon - container.ui - ribbon - info.ui - ribbon {
            background - color: #29B7D3}.ui-ribbon-container.ui-ribbon-info .ui-ribbon:before,.ui-ribbon-container.ui-ribbon-info .ui-ribbon:after{border-top:2px solid # 29 B7D3
        }.ui - ribbon - container.ui - ribbon - warning.ui - ribbon {
            background - color: #FAC552
        }.ui - ribbon - container.ui - ribbon - warning.ui - ribbon: before, .ui - ribbon - container.ui - ribbon - warning.ui - ribbon: after {
            border - top: 2 px solid# FAC552
        }.ui - ribbon - container.ui - ribbon - danger.ui - ribbon {
            background - color: #E9422E
        }.ui - ribbon - container.ui - ribbon - danger.ui - ribbon: before, .ui - ribbon - container.ui - ribbon - danger.ui - ribbon: after {
            border - top: 2 px solid# E9422E
        }.flags - sprite, .flags - american, .flags - china, .flags - france, .flags - germany, .flags - italy, .flags - japan, .flags - korea, .flags - portugal, .flags - russia, .flags - spain {
            background - image: url('ui/images/flags-s9e6bfd0b60.png');
            background - repeat: no - repeat
        }.flags - american {
            background - position: 0 0;
            height: 21 px;
            width: 32 px
        }.flags - china {
            background - position: 0 - 21 px;
            height: 21 px;
            width: 32 px
        }.flags - france {
            background - position: 0 - 42 px;
            height: 21 px;
            width: 32 px
        }.flags - germany {
            background - position: 0 - 63 px;
            height: 21 px;
            width: 32 px
        }.flags - italy {
            background - position: 0 - 84 px;
            height: 21 px;
            width: 32 px
        }.flags - japan {
            background - position: 0 - 105 px;
            height: 21 px;
            width: 32 px
        }.flags - korea {
            background - position: 0 - 126 px;
            height: 21 px;
            width: 32 px
        }.flags - portugal {
            background - position: 0 - 147 px;
            height: 21 px;
            width: 32 px
        }.flags - russia {
            background - position: 0 - 168 px;
            height: 21 px;
            width: 32 px
        }.flags - spain {
            background - position: 0 - 189 px;
            height: 21 px;
            width: 32 px
        }.ui - timline - container {
            padding: 15 px
        }.ui - timline - left.ui - timeline: before {
            left: 0
        }@
        media(min - width: 768 px) {.ui - timline - left.ui - timeline.tl - item: before {
                display: none
            }
        }@
        media(min - width: 768 px) {.ui - timline - left.ui - timeline.tl - item.tl - caption {
                margin - left: -55 px
            }
        }@
        media(min - width: 768 px) {.ui - timline - left.ui - timeline.tl - item.tl - body.tl - time {
                left: auto;right: 15 px;color: #777}}.ui-timeline{display:table;position:relative;table-layout:fixed;width:100%;border-spacing:0;border-collapse:collapse}.ui-timeline:before{background-color:# d5d5d5;bottom: 0 px;content: "";position: absolute;left: 0;top: 30 px;width: 1 px;z - index: 0
            }@
            media(min - width: 768 px) {.ui - timeline: before {
                    left: 50 %
                }
            }.ui - timeline.tl - item {
                display: table - row;margin - bottom: 5 px
            }.ui - timeline.tl - item: before {
                display: none;content: ""
            }@
            media(min - width: 768 px) {.ui - timeline.tl - item: before {
                    display: block;width: 50 %
                }
            }.ui - timeline.tl - item.tl - caption {
                width: 150 px;margin - left: -55 px
            }@
            media(min - width: 768 px) {.ui - timeline.tl - item.tl - caption {
                    margin - left: -110 px
                }
            }@
            media(min - width: 768 px) {.ui - timeline.tl - item.alt {
                    text - align: right
                }.ui - timeline.tl - item.alt: before {
                    display: none
                }.ui - timeline.tl - item.alt: after {
                    content: "";display: block;width: 50 %
                }.ui - timeline.tl - item.alt.tl - body.tl - entry {
                    margin: 0 35 px 15 px 0
                }.ui - timeline.tl - item.alt.tl - body.tl - time {
                    right: -220 px;left: auto;text - align: left
                }.ui - timeline.tl - item.alt.tl - body.tl - icon {
                    right: -53 px;left: auto
                }.ui - timeline.tl - item.alt.tl - body.tl - content: after {
                    right: -16 px;left: auto;border: 8 px solid transparent;border - left: 8 px solid# fff
                }
            }.ui - timeline.tl - item.tl - body {
                display: table - cell;width: 50 % ;vertical - align: top
            }.ui - timeline.tl - item.tl - body.tl - entry {
                position: relative;margin: 0 0 15 px 36 px
            }.ui - timeline.tl - item.tl - body.tl - time {
                z - index: 1;
                position: absolute;
                left: auto;
                right: 15 px;
                top: 5 px;
                width: 150 px;
                color: #777;line-height:35px;text-align:right}@media (min-width: 768px){.ui-timeline .tl-item .tl-body .tl-time{left:-220px;right:auto;color:# 767676
            }
        }.ui - timeline.tl - item.tl - body.tl - icon {
            position: absolute;left: -53 px;top: 5 px
        }.ui - timeline.tl - item.tl - body.tl - content {
            position: relative;padding: 15 px;border - radius: 4 px;background - color: #fff
        }.ui - timeline.tl - item.tl - body.tl - content: after {
            content: " ";line - height: 0;position: absolute;left: -16 px;top: 15 px;border: 8 px solid transparent;border - right: 8 px solid# fff
        }.tooltip - inner {
            padding: .85e m
        }.ui - accordion.panel - group.panel - heading + .panel - collapse.panel - body {
            border - top: 1 px solid# e9e9e9
        }.ui - accordion.panel {
            border: 1 px solid# e9e9e9
        }.ui - accordion.panel - heading {
            padding: 0;background - color: #f6f6f6
        }.ui - accordion.panel - heading.panel - title > a {
            display: block;padding: 15 px;font - size: 14 px
        }.ui - accordion.panel - heading.panel - title > a: hover {
            cursor: pointer;text - decoration: none
        }.ui - accordion - success.panel {
            border: 1 px solid #3CBC8D}.ui-accordion-success .panel-heading{background-color:# 3 CBC8D;color: #fff
        }.ui - accordion - info.panel {
            border: 1 px solid #29B7D3}.ui-accordion-info .panel-heading{background-color:# 29 B7D3;color: #fff
        }.ui - accordion - warning.panel {
            border: 1 px solid# FAC552
        }.ui - accordion - warning.panel - heading {
            background - color: #FAC552;
            color: #fff
        }.ui - accordion - danger.panel {
            border: 1 px solid# E9422E
        }.ui - accordion - danger.panel - heading {
            background - color: #E9422E;
            color: #fff
        }.ui - accordion - dark.panel {
            border: 1 px solid #242633}.ui-accordion-dark .panel-heading{background-color:# 242633;color: #fff
        }.ui - map {
            display: block;height: 400 px
        }.pagination - lg > li > a, .pagination - lg > li span {
            line - height: 26 px;
            padding: 10 px 18 px
        }.pagination > li: first - child > a, .pagination > li: first - child > span, .pagination > li: last - child > a, .pagination > li: last - child > span {
            border - radius: 24 px
        }.pagination > li > a {
            border - radius: 24 px;
            cursor: pointer
        }.pagination > li > a, .pagination > li > span {
            margin - left: 3 px
        }.progress {
            box - shadow: none;
            background - color: #f6f6f6
        }.progress - rounded {
            border - radius: 50 px
        }.progress - bar {
            box - shadow: none
        }.progressbar - xs {
            height: 10 px
        }.progressbar - sm {
            height: 15 px
        }.ui - tab - container.ui - tab.nav - tabs {
            margin - bottom: 0
        }.ui - tab - container.nav - tabs {
            background - color: transparent;
            border - bottom: 0
        }.ui - tab - container.nav - tabs.nav - justified {
            border - bottom: 0
        }.ui - tab - container.nav - tabs.nav - justified > li > a {
            border - bottom - color: transparent
        }.ui - tab - container.nav - tabs > li {
            margin - bottom: -2 px;
            margin - top: 4 px
        }.ui - tab - container.nav - tabs > li.active {
            margin - top: 0
        }.ui - tab - container.nav - tabs > li.active > a {
            color: #767676;padding:12px 22px;border:1px solid # e9e9e9;border - bottom: 0;box - shadow: 0 - 1 px 1 px rgba(0, 0, 0, 0.1);background - color: #fff
        }.ui - tab - container.nav - tabs > li.active > a: hover {
            border: 1 px solid# e9e9e9;border - bottom: 0;background - color: #fff
        }.ui - tab - container.nav - tabs > li > a {
            margin - right: 3 px;
            padding: 10 px 22 px;
            border: none;
            color: #fafafa;
            background - color: #248AAF}.ui-tab-container .nav-tabs>li>a:hover{background-color:# 2283 a7;
            border: none
        }.ui - tab - container.tab - content {
            padding: 15 px;border: 1 px solid# e9e9e9;box - shadow: 0 1 px 1 px rgba(0, 0, 0, 0.1);background - color: #fff;border - radius: 4 px
        }.ui - tab - container.ui - tab - dark.nav - tabs > li.active {
            margin - top: 0
        }.ui - tab - container.ui - tab - dark.nav - tabs > li.active > a {
            background - color: #fff
        }.ui - tab - container.ui - tab - dark.nav - tabs > li.active > a: hover {
            background - color: #fff
        }.ui - tab - container.ui - tab - dark.nav - tabs > li > a {
            background - color: #242633}.ui-tab-container.ui-tab-dark .nav-tabs>li>a:hover{background-color:# 20222 d
        }.ui - tab - container.ui - tab - success.nav - tabs > li.active {
            margin - top: 0
        }.ui - tab - container.ui - tab - success.nav - tabs > li.active > a {
            background - color: #fff
        }.ui - tab - container.ui - tab - success.nav - tabs > li.active > a: hover {
            background - color: #fff
        }.ui - tab - container.ui - tab - success.nav - tabs > li > a {
            background - color: #3CBC8D}.ui-tab-container.ui-tab-success .nav-tabs>li>a:hover{background-color:# 3 ab487
        }.ui - tab - container.ui - tab - info.nav - tabs > li.active {
            margin - top: 0
        }.ui - tab - container.ui - tab - info.nav - tabs > li.active > a {
            background - color: #fff
        }.ui - tab - container.ui - tab - info.nav - tabs > li.active > a: hover {
            background - color: #fff
        }.ui - tab - container.ui - tab - info.nav - tabs > li > a {
            background - color: #29B7D3}.ui-tab-container.ui-tab-info .nav-tabs>li>a:hover{background-color:# 27 b0ca
        }.ui - tab - container.ui - tab - warning.nav - tabs > li.active {
            margin - top: 0
        }.ui - tab - container.ui - tab - warning.nav - tabs > li.active > a {
            background - color: #fff
        }.ui - tab - container.ui - tab - warning.nav - tabs > li.active > a: hover {
            background - color: #fff
        }.ui - tab - container.ui - tab - warning.nav - tabs > li > a {
            background - color: #FAC552
        }.ui - tab - container.ui - tab - warning.nav - tabs > li > a: hover {
            background - color: #fac248
        }.ui - tab - container.ui - tab - danger.nav - tabs > li.active {
            margin - top: 0
        }.ui - tab - container.ui - tab - danger.nav - tabs > li.active > a {
            background - color: #fff
        }.ui - tab - container.ui - tab - danger.nav - tabs > li.active > a: hover {
            background - color: #fff
        }.ui - tab - container.ui - tab - danger.nav - tabs > li > a {
            background - color: #E9422E
        }.ui - tab - container.ui - tab - danger.nav - tabs > li > a: hover {
            background - color: #e83a25
        }.ui - tab.nav - tabs {
            margin - bottom: 15 px
        }.ui - tab.nav - tabs.nav - justified > li.active > a {
            border - bottom - color: transparent
        }.ui - tab.nav - tabs > li.active > a {
            background - color: #fff
        }.ui - tab.nav - tabs a: hover {
            cursor: pointer
        }