<div class="page page-yearBonRecord"  ng-controller="yearlyBonusCtrl as yearBon">


	<section class="panel panel-primary table-dynamic">
		<div class="panel-heading"><strong><span class="glyphicon glyphicon-th" style="margin-right: 8px;"></span>Yearly Bonus</strong></div>
		<div class="panel-body ">	
			<form name="myForm" class="form-horizontal form-validation">
				<div class="form-group ">
					<div class="col-sm-2">
						<label>Employee Name</label>
					</div>
					<div class="col-sm-2">
						<input 	type="text"
						placeholder="Type for hint . ."
						class="form-control"
						name="employee_id"
						data-ng-model="yearBon.handler.form.employee_id"
						typeahead="(address.name) for address in yearBon.handler.getLocation($viewValue)" 
						typeahead-loading="loadingLocations"
						typeahead-min-length="4"
						typeahead-wait-ms="400"
						typeahead-on-select="yearBon.handler.onSelect($item, $model, $label)"
						autocomplete="off" 
						
						/>


					</div>

					<div class="col-sm-2">
						<label>Department</label>
					</div>
					<div class="col-sm-2">
						<select name="department" ng-model="yearBon.handler.form.department_id" class="form-control" ng-options="department.department_id as department.department_name for department in yearBon.handler.maindataDepartment" ng-change="yearBon.handler.checkButtonDepartment()">
							<option value=""> - - ALL - - </option>
						</select>




					</div>

					<div class="col-sm-2">
						<label>Year</label><label style ="color:red">*</label>
					</div>
					<div class="col-sm-2">
						<select name="job" ng-model="yearBon.handler.form.years" class="form-control" ng-change="yearBon.handler.checkButtonYear()">
							
							<option value=""> - - ALL - - </option>
							
							<option ng-repeat="a in yearBon.handler.years"  value="{{a}}"> {{a}}</option>

						</select>



					</div>


				</div><br>
				<div class="form-group">
					<fieldset>
						<div class="col-sm-3">
							<label style="color:red">*</label><span class="space space-xs"></span><label><small>Required field</small></label>
						</div>										
					</fieldset>
				</div>
				<hr>
				<div class="form-group">										
					<div class="col-sm-6">
						<form>
							<button type="submit" class="btn btn-success" ng-disabled="yearBon.handler.buttonDisabled" ng-click="yearBon.handler.save()">View</button>
						</form>
					</div>
				</div>
			</form>
		</div>
	</section>

	<section class="panel panel-primary table-dynamic">
		<div class="panel-heading"><strong><p class="text-center">13TH Month Pay</p></strong></div>
		<div class="panel-body">
			<footer class="table-footer">
				<div class="row">

					<div class="col-sm-2">
						<input type="month" class='form-control' ng-disabled="yearBon.handler.button" id="exampleInput" name="input" 
						ng-model="yearBon.handler.Selectdate" min="{{yearBon.handler.Selectdate_start}}" max="{{yearBon.handler.Selectdate_end}}"
						ng-change="yearBon.handler.select_month(yearBon.handler.Selectdate)"
						style="float: left"/>

					</div>
					<div class="col-sm-1 text-left pagination-container">
						<button type="submit" class="btn btn-danger"  ng-disabled="yearBon.handler.button" ng-click="yearBon.handler.setToday(yearBon.handler.today,'date')"> X </button>
					</div>
					<div class="col-sm-2">
						<label class="label" ng-class="yearBon.handler.getActive(yearBon.handler.currentPage) == 2 ? 'label-success' : 'label-default'">{{yearBon.handler.getPeriod(2,yearBon.handler.currentPage)}}</label>

					</div>
					<div class="col-sm-2">
						<label class="label" ng-class="yearBon.handler.getActive(yearBon.handler.currentPage) == 3 ? 'label-success' : 'label-default'">{{yearBon.handler.getPeriod(3,yearBon.handler.currentPage)}}</label>
					</div>
					<div class="col-sm-2 text-right pagination-container">


					</div>
					<div class="col-sm-1 text-left pagination-container">
					</div>
					<div class="col-md-4 text-right pagination-container" style="float:right;">


						<pagination class="pagination-sm"
						ng-model="yearBon.handler.currentPage"
						total-items="yearBon.handler.filtered.length"
						max-size="4"
						items-per-page="yearBon.handler.numPerPage"
						rotate="false"
						ng-click = "clickPaginate($index)"
						ng-change="select(currentPage)"
						></pagination>

					</div>

				</div>
			</footer>
			<table class="table table-bordered table-striped table-responsive">
				<thead>
					<tr>
						<th ng-repeat='a in yearBon.handler.headers'  width='{{a.width}}'>
							<div class="th" style="text-align:center">
								{{a.name}}
								<span class="fa fa-angle-up"
								data-ng-if="a.sort"
								data-ng-click="yearBon.handler.setactiveheader(a,true) "
								data-ng-class="{active: $index == yearBon.handler.activeheader.id && yearBon.handler.activeheader.order == true}">
							</span>
							<span class="fa fa-angle-down"
							data-ng-if="a.sort"
							data-ng-click=" yearBon.handler.setactiveheader(a,false) "
							data-ng-class="{active: $index == yearBon.handler.activeheader.id && yearBon.handler.activeheader.order == false}">
						</span>
					</div>
				</th>
			</tr>
		</thead>
		<tbody>
			<tr data-ng-repeat="a in yearBon.handler.getdata() | orderBy: yearBon.handler.activeheader.sort : yearBon.handler.activeheader.order track by [$index]">
				<td style="text-align:center;cursor:pointer "  ng-click="yearBon.handler.openmodal('edit',a)">
					<b>{{a.employee_name}}</b>
				</td >
				<td style="text-align:center;cursor:pointer "  ng-click="yearBon.handler.openmodal('edit',a)">
					<b>{{a.department_name}}</b>
				</td>
				<td  style="text-align:center;cursor:pointer "  ng-click="yearBon.handler.openmodal('edit',a)">
					<b>{{a.amount}} </b>
				</td>
				<td  style="text-align:center;cursor:pointer "  ng-click="yearBon.handler.openmodal('edit',a)">
					<b>{{a.years}}</b>
				</td>


			</tr>
		</tbody>
	</table>


	<footer class="table-footer">
		<div class="row">
			<div class="col-md-6 page-num-info">
				<span>
					Show 
					<select data-ng-model="yearBon.handler.numPerPage"
					data-ng-options="num for num in yearBon.handler.numPerPageOpt"
					data-ng-change="onNumPerPageChange()">
				</select> 
				entries per page
			</span>
		</div>
		<div class="col-md-6 text-right pagination-container">
			<pagination class="pagination-sm"
			ng-model="yearBon.handler.currentPage"
			total-items="yearBon.handler.filtered.length"
			max-size="4"
			ng-change="select(currentPage)"
			items-per-page="yearBon.handler.numPerPage"
			rotate="false"
			previous-text="&lsaquo;" next-text="&rsaquo;"
			boundary-links="true"></pagination>
		</div>
	</div>
</footer>

	<!-- <div class="col-sm-4">
		<form>
			<button class="btn btn-gap-v btn-success"  
			ng-click="yearBon.handler.openmodal('add')"
			>
			Edit
		</button>
		<span class="space space-sm"></span>
		<button type="button" 
		class="btn btn-gap-v btn-danger"   
		>
		Cut Off
	</button>
</form>
</div> -->


<div>

</div>



</div>
</section>






</div>


<!-- ///////////////////////////////////PERFORMANCE BONUS YEAR CTRL////////////////////////////////////////////// -->
<div class="page page-perbonRecord" ng-controller="perBonusYearCtrl as perbon">
	
	<section class="panel panel-primary table-dynamic" >
		<div class="panel-heading"><strong><p class="text-center">Performance Bonus</p></strong></div>
		<div class="panel-body">
			<footer class="table-footer">
				<div class="row">

					<div class="col-sm-2">
						<input type="month" class='form-control' ng-disabled="perbon.handler.button" id="exampleInput" name="input" 
						ng-model="perbon.handler.Selectdate" min="{{perbon.handler.Selectdate_start}}" max="{{perbon.handler.Selectdate_end}}"
						ng-change="perbon.handler.select_month(perbon.handler.Selectdate)"
						style="float: left"/>

					</div>
					<div class="col-sm-1 text-left pagination-container">
						<button type="submit" class="btn btn-danger"  ng-disabled="perbon.handler.button" ng-click="perbon.handler.setToday(perbon.handler.today,'date')"> X </button>
					</div>
					<div class="col-sm-2">
						<label class="label" ng-class="perbon.handler.getActive(perbon.handler.currentPage) == 2 ? 'label-success' : 'label-default'">{{perbon.handler.getPeriod(2,perbon.handler.currentPage)}}</label>

					</div>
					<div class="col-sm-2">
						<label class="label" ng-class="perbon.handler.getActive(perbon.handler.currentPage) == 3 ? 'label-success' : 'label-default'">{{perbon.handler.getPeriod(3,perbon.handler.currentPage)}}</label>
					</div>
					<div class="col-sm-2 text-right pagination-container">


					</div>
					<div class="col-sm-1 text-left pagination-container">
					</div>
					<div class="col-md-4 text-right pagination-container" style="float:right;">


						<pagination class="pagination-sm"
						ng-model="perbon.handler.currentPage"
						total-items="perbon.handler.filtered.length"
						max-size="4"
						items-per-page="perbon.handler.numPerPage"
						rotate="false"
						ng-click = "clickPaginate($index)"
						ng-change="select(currentPage)"
						></pagination>

					</div>

				</div>
			</footer>

			<div class="form-group">										
				<div class="col-sm-6">
					<form>
						<button type="submit" class="btn btn-success" ng-click="perbon.handler.findData()">View</button>
					</form>
				</div>
			</div>
			<table class="table table-bordered table-striped table-responsive">
				<thead>
					<tr>
						<th ng-repeat='a in perbon.handler.headers'  width='{{a.width}}'>
							<div class="th" style="text-align:center">
								{{a.name}}
								<span class="fa fa-angle-up"
								data-ng-if="a.sort"
								data-ng-click="perbon.handler.setactiveheader(a,true) "
								data-ng-class="{active: $index == perbon.handler.activeheader.id && perbon.handler.activeheader.order == true}">
							</span>
							<span class="fa fa-angle-down"
							data-ng-if="a.sort"
							data-ng-click=" perbon.handler.setactiveheader(a,false) "
							data-ng-class="{active: $index == perbon.handler.activeheader.id && perbon.handler.activeheader.order == false}">
						</span>
					</div>
				</th>
			</tr>
		</thead>
		<tbody>
			<tr data-ng-repeat="a in perbon.handler.getdata() | orderBy: perbon.handler.activeheader.sort : perbon.handler.activeheader.order track by [$index]">
				<td >
					<b>{{a.employee_name}}</b>
				</td >
				<td >
					<b>{{a.department_name}}</b>
				</td>
				<td  >
					<b>{{a.salary}} </b>
				</td>
				<td  >
					<b>{{a.performance}}</b>
				</td>
				<td  style="text-align:center;cursor:pointer "  ng-click="perbon.handler.openmodal('edit',a)">
					<b>{{a.deduction}}</b>
				</td>
				<td  >
					<b>{{a.total}}</b>
				</td>
				<td  >
					<b>{{a.hire_date |date:'yyyy-MM-dd'}}</b>
				</td>


			</tr>
		</tbody>
	</table>


	<footer class="table-footer">
		<div class="row">
			<div class="col-md-6 page-num-info">
				<span>
					Show 
					<select data-ng-model="perbon.handler.numPerPage"
					data-ng-options="num for num in perbon.handler.numPerPageOpt"
					data-ng-change="onNumPerPageChange()">
				</select> 
				entries per page
			</span>
		</div>
		<div class="col-md-6 text-right pagination-container">
			<pagination class="pagination-sm"
			ng-model="perbon.handler.currentPage"
			total-items="perbon.handler.filtered.length"
			max-size="4"
			ng-change="select(currentPage)"
			items-per-page="perbon.handler.numPerPage"
			rotate="false"
			previous-text="&lsaquo;" next-text="&rsaquo;"
			boundary-links="true"></pagination>
		</div>
	</div>
</footer>



<div>

</div>



</div>
</section>
</div>



<!--Modal Edit 13th Pay Status-->
<script type="text/ng-template" id="modaleditPerformance">
	<div class="modal-header">
		<h4><i class="fa fa-pencil-square-o" style="margin-right: 8px;" ></i>View Deductions</h4>
	</div>
	<div class="modal-body">
		<form name="myForm"  class="form form-validation" ng-submit="myForm.$valid && submit(formData)">	
			
			<div class='form-group'>	
				<fieldset>
					<div class="col-md-3">
						<label for="">Information</label><span class="space space-sm"></span>
					</div>
					<div class="col-md-6">
						
						<label for=""></label><span class="space space-sm"></span>

					</div>
					
					<div class="col-md-3">
						
						<label for="">Total</label><span class="space space-sm"></span>

					</div>
				</fieldset>
			</div>

			<div class='form-group'>	
				<fieldset>
					<div class="col-md-3">
						<label for="">Suspension</label><span class="space space-sm"></span><label style ="color:red">*</label>
					</div>
					<div class="col-md-2">
						<h5><center><b>{{modaledit.form.salary}}</b></center></h5>
					</div>

					<div class="col-md-2">
						<h5><center><b>X</b></center></h5>
					</div>

					<div class="col-md-2">
						<h5><center><b>{{modaledit.form.total_suspen}}</b></center></h5>
					</div>


					<div class="col-md-3">
						<h5><b>{{modaledit.form.sum_suspension}}</b></h5>
					</div>
					

				</fieldset>
			</div>

			<div class='form-group'>	
				<fieldset>
					<div class="col-md-3">
						<label for="">Maternity/Paternity</label><span class="space space-sm"></span><label style ="color:red">*</label>
					</div>
					<div class="col-md-2">
						<h5><center><b>{{modaledit.form.salary}}</b></center></h5>
					</div>

					<div class="col-md-2">
						<h5><center><b>X</b></center></h5>
					</div>

					<div class="col-md-2">
						<h5><center><b>{{modaledit.form.maternity}}</b></center></h5>
					</div>


					<div class="col-md-3">
						<h5><b>{{modaledit.form.sum_maternity}}</b></h5>
					</div>
					
				</fieldset>
			</div>

			<div class='form-group'>	
				<fieldset>
					<div class="col-md-3">
						<label for="">Tardiness</label><span class="space space-sm"></span><label style ="color:red">*</label>
					</div>
					<div class="col-md-2">
						<h5><center><b>{{modaledit.form.salary}}</b></center></h5>
					</div>

					<div class="col-md-2">
						<h5><center><b>X</b></center></h5>
					</div>

					<div class="col-md-2">
						<h5><center><b>{{modaledit.form.tardiness}}</b></center></h5>
					</div>


					<div class="col-md-3">
						<h5><b>{{modaledit.form.sum_tardiness}}</b></h5>
					</div>
					
				</fieldset>
			</div>
			
			


			<div class='form-group'>	
				<fieldset>
					
					<div class="col-md-12">
						<div style="border-top: 3px double #8c8b8b;"></div>
					</div>
				</fieldset>
			</div>
			<div class='form-group'>	
				<fieldset>
					<div class="col-md-9">
						<label for="">Total</label><span class="space space-sm"></span><label style ="color:red">*</label>
					</div>
					<div class="col-md-3">
						<h5><b>{{modaledit.form.sum_suspension +  modaledit.form.sum_maternity + modaledit.form.sum_tardiness}}</b></h5>
					
						
					</div>
				</fieldset>
			</div>
			<fieldset>
				<div class="col-sm-3">
				</span><label style ="color:red">*</label><span class="space space-xs"><label><small>Required field</small></label>
				</div>										
			</fieldset>	
		</form>
		<div class="modal-footer" >
			<!-- <button type="submit" class="btn btn-success" ng-click="modaledit.button=true;">Edit</button>
				<button type="submit" class="btn btn-success"  ng-disabled="myForm.$invalid" ng-click="modaledit.save();">Save</button> -->
				<button class="btn btn-danger" ng-click="modaledit.close()">Close</button>
			</div>

		</div>
	</script>		




	<!--Modal Edit 13th Pay Status-->
	<script type="text/ng-template" id="modaledit">
		<div class="modal-header">
			<h4><i class="fa fa-pencil-square-o" style="margin-right: 8px;" ></i>Edit Salary And Incentive Allowance</h4>
		</div>
		<div class="modal-body">
			<form name="myForm"  class="form form-validation" ng-submit="myForm.$valid && submit(formData)">	
				<div class='form-group'>	
					<fieldset>
						<div class="col-md-4">
							<label for="">December Difference {{modaledit.form.years - 1}}</label><span class="space space-sm"></span><label style ="color:red">*</label>
						</div>
						<div class="col-md-8">
							<input 	type="text"
							class="form-control"
							name="december_diff"  
							ng-model="modaledit.form.dec_diff" 
							autocomplete="off"
							disabled 
							/>

						</div>
					</fieldset>
				</div>

				<div class='form-group'>	
					<fieldset>
						<div class="col-md-4">
							<label for="">January-November {{modaledit.form.years}}</label><span class="space space-sm"></span><label style ="color:red">*</label>
						</div>
						<div class="col-md-8">
							<input 	type="text"
							class="form-control"
							ng-model="modaledit.form.jan_nov" 
							autocomplete="off"
							disabled
							/>

						</div>
					</fieldset>
				</div>

				<div class='form-group'>	
					<fieldset>
						<div class="col-md-4">
							<label for="">Estimated December {{modaledit.form.years}}</label><span class="space space-sm"></span><label style ="color:red">*</label>
						</div>
						<div class="col-md-8">
							<input 	type="text"
							class="form-control"  
							ng-model="modaledit.form.dec_now" 
							disabled 
							/>

						</div>
					</fieldset>
				</div>
				<div class='form-group'>	
					<fieldset>
						<div class="col-md-4">
							<label for="">Adjustment</label><span class="space space-sm"></span><label style ="color:red">*</label>
						</div>
						<div class="col-md-8">
							<input 	type="text"
							class="form-control"
							name="adjustment" 
							ng-disabled="!modaledit.button"  
							ng-model="modaledit.form.adjustment" 
							autocomplete="off"
							required
							/>
							<span style="color:red" ng-show="myForm.adjustment.$dirty && myForm.adjustment.$invalid">
								<span ng-show="myForm.adjustment.$error.required">Title is required.</span>
							</span>
						</div>
					</fieldset>
				</div>
				<div class='form-group'>	
					<fieldset>
						<div class="col-md-4">
							<label for="">Total</label><span class="space space-sm"></span><label style ="color:red">*</label>
						</div>
						<div class="col-md-8">
							<input 	type="text"
							class="form-control" 
							ng-model="modaledit.form.total" 
							autocomplete="off"
							disabled 
							/>
						</div>
					</fieldset>
				</div>


				<div class='form-group'>	
					<fieldset>
						<div class="col-md-4">
							<label for="">Divided by 12 months</label><span class="space space-sm"></span><label style ="color:red">*</label>
						</div>
						<div class="col-md-8">
							<div style="border-top: 3px double #8c8b8b;"></div>
						</div>
					</fieldset>
				</div>
				<div class='form-group'>	
					<fieldset>
						<div class="col-md-4">
							<label for="">13th Month Pay</label><span class="space space-sm"></span><label style ="color:red">*</label>
						</div>
						<div class="col-md-8">
							<input 	type="text"
							class="form-control"
							name="pay13th"   
							ng-model="modaledit.form.pay13th" 
							disabled
							/>

						</div>
					</fieldset>
				</div>
				<fieldset>
					<div class="col-sm-3">
					</span><label style ="color:red">*</label><span class="space space-xs"><label><small>Required field</small></label>
					</div>										
				</fieldset>	
			</form>
			<div class="modal-footer" >
				<button type="submit" class="btn btn-success" ng-click="modaledit.button=true;">Edit</button>
				<button type="submit" class="btn btn-success"  ng-disabled="myForm.$invalid" ng-click="modaledit.save();">Save</button>
				<button class="btn btn-danger" ng-click="modaledit.close()">Cancel</button>
			</div>

		</div>
	</script>		

