	
<div class="page page-table" ng-controller="otherReportsController as orc">

	<section class="panel panel-primary table-dynamic">
		<div class="panel-heading"><strong><span class="glyphicon glyphicon-th" style="margin-right: 8px;"></span>Adjustment Option</strong></div>
		<div class="panel-body">	
			<form name="myForm" class="form-horizontal form-validation">
				<div class="col-sm-4">
					<fieldset>
						<div class="form-group">
							<div class="col-sm-4">
								<label>Name</label><span class="space space-sm"></span><label style ="color:red">*</label>
							</div>
							<div class="col-sm-6">
								<input 	type="text"
								placeholder="Type for hint . ."
								class="form-control"
								name="leave"
								data-ng-model="orc.handler.form.employee_id"
								typeahead-loading="loadingLocations"
								typeahead-wait-ms=1000
								typeahead-on-select="orc.handler.onSelect($item, $model, $label)"
								ng-change="orc.handler.getLocation(orc.handler.form.employee_id)"
								data-typeahead="datas.name for datas in orc.handler.data1"
								autocomplete="off" 
								typeahead-min-length="4"


								/>
								<!-- typeahead-min-length="4" -->
								<!-- typeahead="(address.name) for address in orc.handler.getLocation($viewValue)" -->
								<!-- typeahead="(address.name) for address in orc.handler.getLocation($viewValue)"  -->
								<!-- ng-disabled="orc.handler.hide" -->
							</div>
						</div>

						<div class="form-group">
							<div class="col-sm-4">
								<label>Department</label>
							</div>
							<div class="col-sm-6">
								<select class='form-control' 
								ng-model="orc.handler.form.typeReport" ng-change="orc.handler.hideShowReport()">
								
								<option value="coe_resign">COE (RESIGNED EMPLOYEE)</option>
								<option value="coe_compensation"> COE(WITH COMPENSATION) </option>
								<option value="coe_without_compensation">COE (WITHOUT COMPENSATION)</option>
								<option value="philhealth">Philhealth Certification</option>

							</select>
						</div>

					</div>
				</fieldset>
			</div>

			<div class="col-sm-4">
				<fieldset>
					<div ng-if="orc.handler.form_1">
						<div class="form-group">
							<div class="col-sm-6">
								<label>Name of Signatory</label><span class="space space-sm"></span><label style ="color:red">*</label>
							</div>
							<div class="col-sm-6">
								<input 	type="text"
								placeholder="Type for hint . ."
								class="form-control"
								name="leave"
								data-ng-model="orc.handler.form.name_signatory"
								typeahead-loading="loadingLocations"
								typeahead-wait-ms=1000
								typeahead-on-select="orc.handler.onSelect_2($item, $model_signatory, $label_signatory)"
								ng-change="orc.handler.getLocation_2(orc.handler.form.name_signatory)"
								data-typeahead="datas.name for datas in orc.handler.data2"
								autocomplete="off" 
								typeahead-min-length="4"

								/>

<!-- 
								placeholder="Type for hint . ."
								class="form-control"
								name="leave"
								data-ng-model="orc.handler.form.name_signatory"
								typeahead="(address.name) for address in orc.handler.getLocation_2($viewValue)" 
								typeahead-loading="loadingLocations"
								typeahead-min-length="4"
								typeahead-wait-ms="400"
								typeahead-on-select="orc.handler.onSelect_2($item, $model_signatory, $label_signatory)"
								autocomplete="off"  -->
								<!-- ng-disabled="orc.handler.hide" -->
							</div>
						</div>

						<div class="form-group">
							<div class="col-sm-6">
								<label>Document Number</label>
							</div>
							<div class="col-sm-6">
								<input 	type="text"
								placeholder="Input Number . . "
								class="form-control"
								name="document_number"
								data-ng-model="orc.handler.form.document_number"
								autocomplete="off" 
								/>
								<!-- ng-disabled="orc.handler.hide" -->
							</div>

						</div>
					</div>
					<div ng-if="orc.handler.form_2">
						<div class="form-group">
							<div class="col-sm-6">
								<label>No of Month</label>
							</div>
							<div class="col-sm-6">
								<input 	type="text"
								placeholder="Input Number . . "
								class="form-control"
								name="document_number"
								data-ng-model="orc.handler.form.no_of_month"
								autocomplete="off" 
								/>
								<!-- ng-disabled="orc.handler.hide" -->
							</div>

						</div>
					</div>
					

					
				</fieldset>
			</div>








			<hr>
			<div class="form-group">
				<div class="col-sm-3">
					<!-- <label style ="color:red">*</label><span class="space space-xs"></span><label><small>Required field</small></label> -->
				</div>										
				
			</div>
			<hr>
			<div class="form-group">										
				<div class="col-sm-6">
					<form>
						<label style ="color:red">*</label><span class="space space-xs"></span><label><small>Required field</small></label>
						<br>
						<button type="submit" 
						class="btn btn-success"  
						ng-click="orc.handler.searchData(orc.handler.form)">
						Search
					</button>
				</form>
			</div>
		</div>
	</form>
</div>
</section>


<!-- ## TABLE ATTEDANCE  CUTT OFF ## -->

<section class="panel panel-primary table-dynamic">
	<div class="panel-body">



		<div ng-if="orc.handler.coe_resign_doc">
			<!-- COE RESIGNED EMPLOYEE -->
			<div style="padding: 20px;font-family:'Arial'">
				<center><h1><b>Certification</b></h1></center>

				<div style="padding: 50px;">

					<p><h4>This is to certify that <b>{{orc.handler.template_datas.employee_id}}</b> was an employee of Leekie Enterprises Inc. for the period  <b>{{orc.handler.templateDoc.contract_start_date}}</b>  to
						_______. He held the position of  <b>{{orc.handler.templateDoc.job}}</b> . 
					</h4>
				</p>
				<br><br>
				<p><h4>
					This is also to confirm that pursuant to the Employment Agreement entered into by <b>{{orc.handler.template_datas.employee_id}}</b> with Leekie Enterprise Inc., he is restricted from being employed or connected with any company., entity or individual, in whatever manner, which company, entity or individual is engaged in a similar business or activity as that of Leekie Enterprises Inc., within a period of one(1) year from the effective date of separation from Leekie Enterprises Inc., which in this case is from <b>{{orc.handler.terminate_data.termination_date}}</b>.
				</h4>
			</p>

			<br><br>

			<p><h4>
				
				Any violation of the above stipulation will result in Leekie Enterprises Inc., commencing legal action for damages.
			</h4>
		</p>
		<br><br>

		<p><h4>


			This certification is issued upon the request of  <b>{{orc.handler.template_datas.employee_id}}</b> for whatever legal intent and purpose it may serve.
		</h4>


	</p>
	<br><br>

	<p><h4>
		
		Issued on this <b>{{orc.handler.template_datas.dateNow}}</b> in Makati City, Philippines
	</h4>
</p>

<br><br>

<div style="text-align: right">
	<p>
		<b>{{orc.handler.template_datas.name_signatory}}</b>

	</p>
	<br><br><br>
	<br><br><br>

	<p>
		<!-- Human Resource Officer -->

		<b>{{orc.handler.templateReqDoc.sub_unit}}</b>	
	</p>	
</div>

</div>

</div>



</div>


</div>


<div ng-if="orc.handler.coe_compensation_doc">
	<!-- COE WITH COMPENSATION -->

	<div style="padding: 20px;font-family:'Arial'">
		<center><h1><b>Certification</b></h1></center>

		<div style="padding: 50px;">
			<p><h4>This is to certify that <b>{{orc.handler.template_datas.employee_id}}</b> is an employee of LEEKIE ENTERPRISES INC. from <b>{{orc.handler.templateDoc.contract_start_date}}</b> up to present . He currently holds the position of <b>{{orc.handler.templateDoc.job}}</b>.
				

			</p>
			<br><br>
			<p>
				His Net Monthly compensation is as follows

			</p>

			<br><br>

			<p>
				Basic Calary
				<br>
				Incentives
				<br>

				A
				<br>

				B
				<br>

				C
				<br>

				<div style="border-top: 3px dashed black">
				</div>
				<br>
				Total Net Pay

			</p>
			<br><br>

			<p>


				This certification is being issed upon employee’s request for whatever legal purpose it may serve her except for employment.


			</p>
			<br><br>

			<p>
				Isseud on this <b>{{orc.handler.template_datas.dateNow}}</b> in Makati City Philipphines

			</p>

			<br><br>

			<div style="text-align: right">
				<p>
					<b>{{orc.handler.template_datas.name_signatory}}</b>
					

				</p>
				<br><br><br>
				<br><br><br>

				<p>
					<b>{{orc.handler.templateReqDoc.sub_unit}}</b>	

				</p>	
			</div>

		</div>

	</div>
</div>


<div ng-if="orc.handler.coe_without_compensation_doc">

	<!-- COE WITHOUT COMPENSATION -->
	<div style="padding: 20px;font-family:'Arial'">
		<center><h1><b>Certification</b></h1></center>

		<div style="padding: 50px;">
			<p><h4>
				This is certify that <b>{{orc.handler.template_datas.employee_id}}</b> is an employee of LEEKIE ENTERPRISES INC. from <b>{{orc.handler.templateDoc.contract_start_date}}</b> to _____________ . He currently holds the position of <b>{{orc.handler.templateDoc.job}}</b>.

			</p>
			<br><br>
			<p>
				This Certification is being issued upon employee’s request for whatever legal purpose it may serve her except for employment. 

			</p>

			<br><br>

			<p>
				Issued on this  <b>{{orc.handler.template_datas.dateNow}}</b>  in Makati City, Philippines

			</p>

			<br><br>

			<div style="text-align: right">
				<p>
					<b>{{orc.handler.template_datas.name_signatory}}</b>

				</p>
				<br><br><br>
				<br><br><br>

				<p>
					<b>{{orc.handler.templateReqDoc.sub_unit}}</b>		
				</p>	
			</div>

		</div>

	</div>
</div>

<div ng-if="orc.handler.philhealth_doc">
	<!-- COE WITHOUT COMPENSATION -->
	<div style="padding: 20px;font-family:'Arial'">
		<center><h1><b>Certification</b></h1></center>

		<div style="padding: 50px;">
			<p><h4>
				This is certify that LEEKIE ENTERPRISES, Inc., with philhealth ID no _____________ has made the following remittances to Philippine Health Insurance Corporation for the account of <b>{{orc.handler.template_datas.employee_id}}</b> with Philhealth I.D no ____________ as follows.
			</p>
			<br><br>
			<p>
				<div class="col-sm-2">
					date
				</div>
				<div class="col-sm-2">
					xxx
				</div>
				<div class="col-sm-2">
					xxx
				</div>
				<div class="col-sm-2">
					xxx
				</div>
				<div class="col-sm-2">
					xxxx	
				</div>

			</p>
			<p>

			</p>

			<br><br>

			<p>
				This Certification is being issued upon employee’s request of <b>{{orc.handler.template_datas.employee_id}}</b>  for whatever legal purpose it may serve


			</p>

			<br><br>

			<div style="text-align: right">
				<p>
					<b>{{orc.handler.template_datas.name_signatory}}</b>

				</p>
				<br><br><br>
				<br><br><br>

				<p>
					<b>{{orc.handler.templateReqDoc.sub_unit}}</b>
				</p>	
			</div>

		</div>

	</div>
</div>


</div>

</div>

</section>



</div>



<!-- TABLE HISTORY -->

<div class="page page-status">
	<section class="panel panel-primary table-dynamic" data-ng-controller="adjustmentSalaryCtrl as adHistory">
		<div class="panel-heading"><strong><span class="glyphicon glyphicon-th" style="margin-right: 8px;"></span>Adjustment History</strong></div>
		<div class="panel-body">
			<div class="from-group">
				<div class="row">
					<div class="col-sm-4">
						<form>

							<span class="space space-sm"></span>
							<button type="button" 
							class="btn btn-gap-v btn-danger"   
							ng-click="adHistory.handler.deldata(adHistory.handler.check)"
							>
							<!-- ng-show="adHistory.handler.button('delete')" -->
							Delete
						</button>
					</form>
				</div>
			</div>
		</div><br>


		<div class="form-group">
			<div class="row">
				<div class="col-sm-4">
					<form>
						<input type="text"
						placeholder="Search..."
						class="form-control"
						data-ng-model="adHistory.handler.search"
						data-ng-model-options="{debounce:300}"
						>
					</form>
				</div>
				<div class="col-sm-3 filter-result-info">
					<span>
						Showing {{adHistory.handler.paginated.length}}/{{adHistory.handler.maindata.length}} entries
					</span>              
				</div>
			</div>
		</div><br>
		<table class="table table-bordered table-striped table-responsive">
			<thead>
				<tr>
					<th><div class="th">
					</div></th>
					<th ng-repeat='a in adHistory.handler.headers' width='{{a.width}}'>
						<div class="th">
							{{a.changed_date}}
							<span class="fa fa-angle-up"
							data-ng-if="a.sort"
							data-ng-click="adHistory.handler.setactiveheader(a,true)"
							data-ng-class="{active: $index == adHistory.handler.activeheader.id && adHistory.handler.activeheader.order == true}">
						</span>
						<span class="fa fa-angle-down"
						data-ng-if="a.sort"
						data-ng-click="adHistory.handler.setactiveheader(a,false)"
						data-ng-class="{active: $index == adHistory.handler.activeheader.id && adHistory.handler.activeheader.order == false}">
					</span>
				</div>
			</th>

			<th ng-repeat='a in adHistory.handler.headers' width='{{a.width}}'>
				<div class="th">
					{{a.name}}
					<span class="fa fa-angle-up"
					data-ng-if="a.sort"
					data-ng-click="adHistory.handler.setactiveheader(a,true)"
					data-ng-class="{active: $index == adHistory.handler.activeheader.id && adHistory.handler.activeheader.order == true}">
				</span>
				<span class="fa fa-angle-down"
				data-ng-if="a.sort"
				data-ng-click="adHistory.handler.setactiveheader(a,false)"
				data-ng-class="{active: $index == adHistory.handler.activeheader.id && adHistory.handler.activeheader.order == false}">
			</span>
		</div>
	</th>
	<th ng-repeat='a in adHistory.handler.headers' width='{{a.width}}'>
		<div class="th">
			{{a.department}}
			<span class="fa fa-angle-up"
			data-ng-if="a.sort"
			data-ng-click="adHistory.handler.setactiveheader(a,true)"
			data-ng-class="{active: $index == adHistory.handler.activeheader.id && adHistory.handler.activeheader.order == true}">
		</span>
		<span class="fa fa-angle-down"
		data-ng-if="a.sort"
		data-ng-click="adHistory.handler.setactiveheader(a,false)"
		data-ng-class="{active: $index == adHistory.handler.activeheader.id && adHistory.handler.activeheader.order == false}">
	</span>
</div>
</th>
<th ng-repeat='a in adHistory.handler.headers' width='{{a.width}}'>
	<div class="th">
		{{a.basic}}
		<span class="fa fa-angle-up"
		data-ng-if="a.sort"
		data-ng-click="adHistory.handler.setactiveheader(a,true)"
		data-ng-class="{active: $index == adHistory.handler.activeheader.id && adHistory.handler.activeheader.order == true}">
	</span>
	<span class="fa fa-angle-down"
	data-ng-if="a.sort"
	data-ng-click="adHistory.handler.setactiveheader(a,false)"
	data-ng-class="{active: $index == adHistory.handler.activeheader.id && adHistory.handler.activeheader.order == false}">
</span>
</div>
</th>
<th ng-repeat='a in adHistory.handler.headers' width='{{a.width}}'>
	<div class="th">
		{{a.ecola}}
		<span class="fa fa-angle-up"
		data-ng-if="a.sort"
		data-ng-click="adHistory.handler.setactiveheader(a,true)"
		data-ng-class="{active: $index == adHistory.handler.activeheader.id && adHistory.handler.activeheader.order == true}">
	</span>
	<span class="fa fa-angle-down"
	data-ng-if="a.sort"
	data-ng-click="adHistory.handler.setactiveheader(a,false)"
	data-ng-class="{active: $index == adHistory.handler.activeheader.id && adHistory.handler.activeheader.order == false}">
</span>
</div>
</th>
<th ng-repeat='a in adHistory.handler.headers' width='{{a.width}}'>
	<div class="th">
		{{a.deduction}}
		<span class="fa fa-angle-up"
		data-ng-if="a.sort"
		data-ng-click="adHistory.handler.setactiveheader(a,true)"
		data-ng-class="{active: $index == adHistory.handler.activeheader.id && adHistory.handler.activeheader.order == true}">
	</span>
	<span class="fa fa-angle-down"
	data-ng-if="a.sort"
	data-ng-click="adHistory.handler.setactiveheader(a,false)"
	data-ng-class="{active: $index == adHistory.handler.activeheader.id && adHistory.handler.activeheader.order == false}">
</span>
</div>
</th>
<th ng-repeat='a in adHistory.handler.headers' width='{{a.width}}'>
	<div class="th">
		{{a.cut_off_period}}
		<span class="fa fa-angle-up"
		data-ng-if="a.sort"
		data-ng-click="adHistory.handler.setactiveheader(a,true)"
		data-ng-class="{active: $index == adHistory.handler.activeheader.id && adHistory.handler.activeheader.order == true}">
	</span>
	<span class="fa fa-angle-down"
	data-ng-if="a.sort"
	data-ng-click="adHistory.handler.setactiveheader(a,false)"
	data-ng-class="{active: $index == adHistory.handler.activeheader.id && adHistory.handler.activeheader.order == false}">
</span>
</div>
</th>
<th ng-repeat='a in adHistory.handler.headers' width='{{a.width}}'>
	<div class="th">
		{{a.remarks}}
		<span class="fa fa-angle-up"
		data-ng-if="a.sort"
		data-ng-click="adHistory.handler.setactiveheader(a,true)"
		data-ng-class="{active: $index == adHistory.handler.activeheader.id && adHistory.handler.activeheader.order == true}">
	</span>
	<span class="fa fa-angle-down"
	data-ng-if="a.sort"
	data-ng-click="adHistory.handler.setactiveheader(a,false)"
	data-ng-class="{active: $index == adHistory.handler.activeheader.id && adHistory.handler.activeheader.order == false}">
</span>
</div>
</th>

</tr>
</thead>
<tbody>
	<tr data-ng-repeat="a in adHistory.handler.getdata() | orderBy: adHistory.handler.activeheader.sort : adHistory.handler.activeheader.order track by [$index]">
		<td><input type="checkbox" checklist-value="a.id"  checklist-model="adHistory.handler.check"/></td>

		<td style="cursor:pointer">{{a.created_at | date:'yyyy-MM-dd'}}</td>
		<td style="cursor:pointer">{{a.employee_id}}</td>
		<td style="cursor:pointer"></td>
		<td style="cursor:pointer">{{a.adjust_salary_basic}}</td>
		<td style="cursor:pointer">{{a.adjust_salary_ecola}}</td>
		<td style="cursor:pointer">{{a.deduction_loan_hdmf+a.deduction_loan_hmo+a.deduction_loan_sss}}</td>
		<td style="cursor:pointer">{{a.cutoff_date}}</td>
		<td style="cursor:pointer">{{a.remarks_basic+a.remarks_contribute_hdmf+a.remarks_contribute_philhealth+a.remarks_contribute_sss+a.remarks_ecola+a.remarks_loan_hdmf+a.remarks_loan_hmo+a.remarks_loan_hmo}}</td>


<!-- 		<td style="cursor:pointer" ng-click="adHistory.handler.openmodal('edit',a)">{{a.employee_id}}</td>
		<td style="cursor:pointer" ng-click="adHistory.handler.openmodal('edit',a)">{{a.employee_id}}</td>
		<td style="cursor:pointer" ng-click="adHistory.handler.openmodal('edit',a)">{{a.employee_id}}</td>
		<td style="cursor:pointer" ng-click="adHistory.handler.openmodal('edit',a)">{{a.employee_id}}</td>
		<td style="cursor:pointer" ng-click="adHistory.handler.openmodal('edit',a)">{{a.employee_id}}</td>
		<td style="cursor:pointer" ng-click="adHistory.handler.openmodal('edit',a)">{{a.employee_id}}</td>
		<td style="cursor:pointer" ng-click="adHistory.handler.openmodal('edit',a)">{{a.employee_id}}</td>
		<td style="cursor:pointer" ng-click="adHistory.handler.openmodal('edit',a)">{{a.employee_id}}</td>
	-->

	<td></td>
</tr>
</tbody>
</table>
<footer class="table-footer">
	<div class="row">
		<div class="col-md-6 page-num-info">
			<span>
				Show 
				<select data-ng-model="adHistory.handler.numPerPage"
				data-ng-options="num for num in adHistory.handler.numPerPageOpt"
				data-ng-change="onNumPerPageChange()">
			</select> 
			entries per page
		</span>
	</div>
	<div class="col-md-6 text-right pagination-container">
		<pagination class="pagination-sm"
		ng-model="adHistory.handler.currentPage"
		total-items="adHistory.handler.filtered.length"
		max-size="4"
		ng-change="select(currentPage)"
		items-per-page="adHistory.handler.numPerPage"
		rotate="false"
		previous-text="&lsaquo;" next-text="&rsaquo;"
		boundary-links="true"></pagination>
	</div>
</div>
</footer>
</div>
</section>
</div>			
