
<div class="page page-status">
	<section class="panel panel-primary table-dynamic" data-ng-controller="payrollPerCutoffCtrl as ppco">
		<div class="panel-heading"><strong><span class="glyphicon glyphicon-th" style="margin-right: 8px;"></span>Salary and ppcotive Allowance</strong></div>
		<div class="panel-body">
			<div class="from-group">
				<div class="row">
					<div class="col-sm-3">
						<label>Employee Name</label>
						<input 	type="text"
						placeholder="Type for hint . ."
						class="form-control"
						name="employee_id"
						data-ng-model="ppco.handler.form.employee_id"
						typeahead="(address.name) for address in ppco.handler.getLocation($viewValue)" 
						typeahead-loading="loadingLocations"
						typeahead-min-length="4"
						typeahead-wait-ms="400"
						typeahead-on-select="ppco.handler.onSelect($item, $model, $label)"
						autocomplete="off" 
						
						/>

					</div>
					<div class="col-sm-3">
						<label>Department</label>
						<table class="table table-bordered table-striped table-responsive">
							<thead>
								<tr>
									<th style="width:1%"></th>
									<th style="width:100%">Name Department</th>
								</tr>
							</thead>
							<tbody>
								<tr data-ng-repeat="b in ppco.handler.setdataDepartment">
									<td>
										<input 	type="checkbox"  
										checklist-value="b.department_id"  
										checklist-model="ppco.handler.check"
										ng-click='ppco.handler.disabledinput()'
										/>            
									</td>
									<td>{{b.department_name}}</td>
								</tr>
							</tbody>
						</table>

					</div>

					<div class="col-sm-3">
						<label>Cut Off Periode</label><label style ="color:red">*</label>
						<select name="job" ng-model="ppco.handler.form.cutoff" class="form-control">
							
							<option value=""> - - ALL - - </option>
							
							<option ng-repeat="a in ppco.handler.cutoff_date"  value="{{a.payout_date}}"> {{a.payout_date}}</option>

						</select>


					</div>
					


					
					<!-- <div class="col-sm-4">
						<form>
							<button class="btn btn-gap-v btn-success"  
							ng-click="ppco.handler.openmodal('add')"
							>
							Add
						</button>
						<span class="space space-sm"></span>
						<button type="button" 
						class="btn btn-gap-v btn-danger"   
						ng-click="ppco.handler.deldata(ppco.handler.check)"
						>
						Delete
					</button>
				</form>
			</div> -->
		</div>
	</div><br>


	<div class="form-group">
		<div class="row">
			<div class="col-sm-4">
				<form>
					<input type="text"
					placeholder="Search..."
					class="form-control"
					data-ng-model="ppco.handler.search"
					data-ng-model-options="{debounce:300}"
					>
				</form>
			</div>
			<div class="col-sm-3 filter-result-info">
				<span>
					Showing {{ppco.handler.paginated.length}}/{{ppco.handler.maindata.length}} entries
				</span>              
			</div>
		</div>
	</div><br>

	<div style="overflow-x: auto;">
		<table class="table table-bordered table-striped table-responsive" >
			<thead>
				<tr>
					<th><div class="th">
					</div></th>
					<th ng-repeat='a in ppco.handler.headers' width='{{a.width}}'>
						<div class="th">
							{{a.name}}
							<span class="fa fa-angle-up"
							data-ng-if="a.sort"
							data-ng-click="ppco.handler.setactiveheader(a,true)"
							data-ng-class="{active: $index == ppco.handler.activeheader.id && ppco.handler.activeheader.order == true}">
						</span>
						<span class="fa fa-angle-down"
						data-ng-if="a.sort"
						data-ng-click="ppco.handler.setactiveheader(a,false)"
						data-ng-class="{active: $index == ppco.handler.activeheader.id && ppco.handler.activeheader.order == false}">
					</span>
				</div>
			</th>



		</tr>
	</thead>

	<tbody>
		<tr data-ng-repeat="a in ppco.handler.getdata() | orderBy: ppco.handler.activeheader.sort : ppco.handler.activeheader.order track by [$index]">
			<td><input type="checkbox" checklist-value="a.id"  checklist-model="ppco.handler.check"/></td>

			<td style="cursor:pointer" ng-click="ppco.handler.openmodal('edit',a)">{{a.title}}</td>
			<td style="cursor:pointer" ng-click="ppco.handler.openmodal('edit',a)">{{a.amount}}</td>

			<td></td>
		</tr>
	</tbody>
</table>
</div>

<footer class="table-footer">
	<div class="row">
		<div class="col-md-6 page-num-info">
			<span>
				Show 
				<select data-ng-model="ppco.handler.numPerPage"
				data-ng-options="num for num in ppco.handler.numPerPageOpt"
				data-ng-change="onNumPerPageChange()">
			</select> 
			entries per page
		</span>
	</div>
	<div class="col-md-6 text-right pagination-container">
		<pagination class="pagination-sm"
		ng-model="ppco.handler.currentPage"
		total-items="ppco.handler.filtered.length"
		max-size="4"
		ng-change="select(currentPage)"
		items-per-page="ppco.handler.numPerPage"
		rotate="false"
		previous-text="&lsaquo;" next-text="&rsaquo;"
		boundary-links="true"></pagination>
	</div>
</div>
</footer>
</div>
</section>
</div>			
<!--Modal Add Employment Status-->
<script type="text/ng-template" id="addmodal">
	<div class="modal-header">
		<h4><i class="fa fa-save" style="margin-right: 8px;" ></i>Add ppcotive/Allowance</h4>
	</div>
	<div class="modal-body">
		<form name="myForm"  class="form form-validation" ng-submit="myForm.$valid && submit(addmodal.form)">	
			<div class='form-group'>
				<fieldset>
					<div class="col-md-5">
						<label for="">ppcotive / Allowance Name</label><span class="space space-sm"></span><label style ="color:red">*</label>
					</div>
					<div class="col-md-7">
						<input type="text" name="name" class="form-control" autocomplete="off" ng-model="addmodal.form.title" placeholder="Name" required/>
						<span style="color:red" ng-show="myForm.name.$dirty && myForm.name.$invalid" >
							<span ng-show="myForm.name.$error.required">Name is required.</span>
						</span>
					</div>
				</fieldset>
			</div>

			<div class='form-group'>
				<fieldset>
					<div class="col-md-5">
						<label for="">ppcotive Amount</label><span class="space space-sm"></span><label style ="color:red">*</label>
					</div>
					<div class="col-md-7">
						<input type="number" name="amount" class="form-control" autocomplete="off" ng-model="addmodal.form.amount" placeholder="00.00" required/>
						<span style="color:red" ng-show="myForm.amount.$dirty && myForm.amount.$invalid">
							<span ng-show="myForm.amount.$error.required">Amount is required.</span>
						</span>
					</div>
				</fieldset>
			</div>
			<fieldset>
				<div class="col-sm-3">
				</span><label style ="color:red">*</label><span class="space space-xs"><label><small>Required field</small></label>
				</div>										
			</fieldset>	
		</form>	
		<div class="modal-footer">
			<button type="submit" class="btn btn-success" ng-disabled="myForm.$invalid"  ng-click="addmodal.save()">Save</button>
			<button class="btn btn-danger" ng-click="addmodal.close()">Cancel</button>
		</div>
	</div>
</script>

<!--Modal Edit Employment Status-->
<script type="text/ng-template" id="modaledit">
	<div class="modal-header">
		<h4><i class="fa fa-pencil-square-o" style="margin-right: 8px;" ></i>Edit Salary And ppcotive Allowance</h4>
	</div>
	<div class="modal-body">
		<form name="myForm"  class="form form-validation" ng-submit="myForm.$valid && submit(formData)">	
			<div class='form-group'>	
				<fieldset>
					<div class="col-md-2">
						<label for="">Name</label><span class="space space-sm"></span><label style ="color:red">*</label>
					</div>
					<div class="col-md-8">
						<input 	type="text"
						class="form-control"
						name="title" 
						ng-disabled="!modaledit.button"  
						ng-model="modaledit.form.title" 
						autocomplete="off"
						required
						/>
						<span style="color:red" ng-show="myForm.title.$dirty && myForm.title.$invalid">
							<span ng-show="myForm.title.$error.required">Title is required.</span>
						</span>
					</div>
				</fieldset>
			</div>

			<div class='form-group'>	
				<fieldset>
					<div class="col-md-2">
						<label for="">Amount</label><span class="space space-sm"></span><label style ="color:red">*</label>
					</div>
					<div class="col-md-8">
						<input 	type="text"
						class="form-control"
						name="amount" 
						ng-disabled="!modaledit.button"  
						ng-model="modaledit.form.amount" 
						autocomplete="off"
						required
						/>
						<span style="color:red" ng-show="myForm.amount.$dirty && myForm.amount.$invalid">
							<span ng-show="myForm.amount.$error.required">Title is required.</span>
						</span>
					</div>
				</fieldset>
			</div>
			<fieldset>
				<div class="col-sm-3">
				</span><label style ="color:red">*</label><span class="space space-xs"><label><small>Required field</small></label>
				</div>										
			</fieldset>	
		</form>
		<div class="modal-footer" >
			<button type="submit" class="btn btn-success" ng-click="modaledit.button=true;">Edit</button>
			<button type="submit" class="btn btn-success"  ng-disabled="myForm.$invalid" ng-click="modaledit.save();">Save</button>
			<button class="btn btn-danger" ng-click="modaledit.close()">Cancel</button>
		</div>

	</div>
</script>		

