
<div class="page page-status">
	<section class="panel panel-primary table-dynamic" data-ng-controller="philhealthCtrl as phil">
		<div class="panel-heading"><strong><span class="glyphicon glyphicon-th" style="margin-right: 8px;"></span>Philhealth</strong></div>
		<div class="panel-body">
			<div class="from-group">
				<div class="row">
					<div class="col-sm-4">
						<form>
							<button class="btn btn-gap-v btn-success"  
							ng-click="phil.handler.openmodal('add')"
							>
							<!-- ng-show="phil.handler.button('create')" -->
							Add
						</button>
						<span class="space space-sm"></span>
						<button type="button" 
						class="btn btn-gap-v btn-danger"   
						ng-click="phil.handler.deldata(phil.handler.check)"
						>
						<!-- ng-show="phil.handler.button('delete')" -->
						Delete
					</button>
				</form>
			</div>
		</div>
	</div><br>


	<div class="form-group">
		<div class="row">
			<div class="col-sm-4">
				<form>
					<input type="text"
					placeholder="Search..."
					class="form-control"
					data-ng-model="phil.handler.search"
					data-ng-model-options="{debounce:300}"
					>
				</form>
			</div>
			<div class="col-sm-3 filter-result-info">
				<span>
					Showing {{phil.handler.paginated.length}}/{{phil.handler.maindata.length}} entries
				</span>              
			</div>
		</div>
	</div><br>
	<table class="table table-bordered table-striped table-responsive">
		<thead>
			<tr>
				<th><div class="th">
				</div></th>
				<th ng-repeat='a in phil.handler.headers' width='{{a.width}}'>
					<div class="th">
						{{a.min}}
						<span class="fa fa-angle-up"
						data-ng-if="a.sort"
						data-ng-click="phil.handler.setactiveheader(a,true)"
						data-ng-class="{active: $index == phil.handler.activeheader.id && phil.handler.activeheader.order == true}">
					</span>
					<span class="fa fa-angle-down"
					data-ng-if="a.sort"
					data-ng-click="phil.handler.setactiveheader(a,false)"
					data-ng-class="{active: $index == phil.handler.activeheader.id && phil.handler.activeheader.order == false}">
				</span>
			</div>
		</th>

		<th ng-repeat='a in phil.handler.headers' width='{{a.width}}'>
			<div class="th">
				{{a.max}}
				<span class="fa fa-angle-up"
				data-ng-if="a.sort"
				data-ng-click="phil.handler.setactiveheader(a,true)"
				data-ng-class="{active: $index == phil.handler.activeheader.id && phil.handler.activeheader.order == true}">
			</span>
			<span class="fa fa-angle-down"
			data-ng-if="a.sort"
			data-ng-click="phil.handler.setactiveheader(a,false)"
			data-ng-class="{active: $index == phil.handler.activeheader.id && phil.handler.activeheader.order == false}">
		</span>
	</div>
</th>

<th ng-repeat='a in phil.handler.headers' width='{{a.width}}'>
	<div class="th">
		{{a.monthly_premium}}
		<span class="fa fa-angle-up"
		data-ng-if="a.sort"
		data-ng-click="phil.handler.setactiveheader(a,true)"
		data-ng-class="{active: $index == phil.handler.activeheader.id && phil.handler.activeheader.order == true}">
	</span>
	<span class="fa fa-angle-down"
	data-ng-if="a.sort"
	data-ng-click="phil.handler.setactiveheader(a,false)"
	data-ng-class="{active: $index == phil.handler.activeheader.id && phil.handler.activeheader.order == false}">
</span>
</div>
</th>

<th ng-repeat='a in phil.handler.headers' width='{{a.width}}'>
	<div class="th">
		{{a.personal_share}}
		<span class="fa fa-angle-up"
		data-ng-if="a.sort"
		data-ng-click="phil.handler.setactiveheader(a,true)"
		data-ng-class="{active: $index == phil.handler.activeheader.id && phil.handler.activeheader.order == true}">
	</span>
	<span class="fa fa-angle-down"
	data-ng-if="a.sort"
	data-ng-click="phil.handler.setactiveheader(a,false)"
	data-ng-class="{active: $index == phil.handler.activeheader.id && phil.handler.activeheader.order == false}">
</span>
</div>
</th>
<th ng-repeat='a in phil.handler.headers' width='{{a.width}}'>
	<div class="th">
		{{a.employer_share}}
		<span class="fa fa-angle-up"
		data-ng-if="a.sort"
		data-ng-click="phil.handler.setactiveheader(a,true)"
		data-ng-class="{active: $index == phil.handler.activeheader.id && phil.handler.activeheader.order == true}">
	</span>
	<span class="fa fa-angle-down"
	data-ng-if="a.sort"
	data-ng-click="phil.handler.setactiveheader(a,false)"
	data-ng-class="{active: $index == phil.handler.activeheader.id && phil.handler.activeheader.order == false}">
</span>
</div>
</th>

<th ng-repeat='a in phil.handler.headers' width='{{a.width}}'>
	<div class="th">
		{{a.computation_type}}
		<span class="fa fa-angle-up"
		data-ng-if="a.sort"
		data-ng-click="phil.handler.setactiveheader(a,true)"
		data-ng-class="{active: $index == phil.handler.activeheader.id && phil.handler.activeheader.order == true}">
	</span>
	<span class="fa fa-angle-down"
	data-ng-if="a.sort"
	data-ng-click="phil.handler.setactiveheader(a,false)"
	data-ng-class="{active: $index == phil.handler.activeheader.id && phil.handler.activeheader.order == false}">
</span>
</div>
</th>

<th ng-repeat='a in phil.handler.headers' width='{{a.width}}'>
	<div class="th">
		{{a.for_fixed_based}}
		<span class="fa fa-angle-up"
		data-ng-if="a.sort"
		data-ng-click="phil.handler.setactiveheader(a,true)"
		data-ng-class="{active: $index == phil.handler.activeheader.id && phil.handler.activeheader.order == true}">
	</span>
	<span class="fa fa-angle-down"
	data-ng-if="a.sort"
	data-ng-click="phil.handler.setactiveheader(a,false)"
	data-ng-class="{active: $index == phil.handler.activeheader.id && phil.handler.activeheader.order == false}">
</span>
</div>
</th>



</tr>
</thead>
<tbody>
	<tr data-ng-repeat="a in phil.handler.getdata() | orderBy: phil.handler.activeheader.sort : phil.handler.activeheader.order track by [$index]">
		<td><input type="checkbox" checklist-value="a.id"  checklist-model="phil.handler.check"/></td>
		<td style="cursor:pointer" ng-click="phil.handler.openmodal('edit',a)">{{a.min}}</td>
		<td style="cursor:pointer" ng-click="phil.handler.openmodal('edit',a)">{{a.max}}</td>
		<td style="cursor:pointer" ng-click="phil.handler.openmodal('edit',a)">{{a.monthly_premium}}</td>
		<td style="cursor:pointer" ng-click="phil.handler.openmodal('edit',a)">{{a.personal_share}}</td>
		<td style="cursor:pointer" ng-click="phil.handler.openmodal('edit',a)">{{a.employer_share}}</td>
		<td style="cursor:pointer" ng-click="phil.handler.openmodal('edit',a)">{{a.computation_type}}</td>
		<td style="cursor:pointer" ng-click="phil.handler.openmodal('edit',a)">{{a.for_fixed_based}}</td>

		

	</tr>
</tbody>
</table>
<footer class="table-footer">
	<div class="row">
		<div class="col-md-6 page-num-info">
			<span>
				Show 
				<select data-ng-model="phil.handler.numPerPage"
				data-ng-options="num for num in phil.handler.numPerPageOpt"
				data-ng-change="onNumPerPageChange()">
			</select> 
			entries per page
		</span>
	</div>
	<div class="col-md-6 text-right pagination-container">
		<pagination class="pagination-sm"
		ng-model="phil.handler.currentPage"
		total-items="phil.handler.filtered.length"
		max-size="4"
		ng-change="select(currentPage)"
		items-per-page="phil.handler.numPerPage"
		rotate="false"
		previous-text="&lsaquo;" next-text="&rsaquo;"
		boundary-links="true"></pagination>
	</div>
</div>
</footer>
</div>
</section>
</div>			
<!--Modal Add Employment Status-->
<script type="text/ng-template" id="addmodal">
	<div class="modal-header">
		<h4><i class="fa fa-save" style="margin-right: 8px;" ></i>Add Philhealth</h4>
	</div>
	<div class="modal-body">
		<form name="myForm"  class="form form-validation" ng-submit="myForm.$valid && submit(addmodal.form)">	
			<div class='form-group'>
				<fieldset>
					<div class="col-md-5">
						<label for="">Min</label><span class="space space-sm"></span><label style ="color:red">*</label>
					</div>
					<div class="col-md-7">
						<input type="number" name="min" class="form-control" autocomplete="off" ng-model="addmodal.form.min" placeholder="00.00" required/>
						<span style="color:red" ng-show="myForm.min.$dirty && myForm.min.$invalid" >
							<span ng-show="myForm.min.$error.required">Min is required.</span>
						</span>
					</div>
				</fieldset>
			</div>

			<div class='form-group'>
				<fieldset>
					<div class="col-md-5">
						<label for="">Max</label><span class="space space-sm"></span>
					</div>
					<div class="col-md-7">
						<input type="number" name="max" class="form-control" autocomplete="off" ng-model="addmodal.form.max" placeholder="00.00"/>

					</div>
				</fieldset>
			</div>


			<div class='form-group'>
				<fieldset>
					<div class="col-md-5">
						<label for="">Monthly Premium</label><span class="space space-sm"></span><label style ="color:red">*</label>
					</div>
					<div class="col-md-7">
						<input type="number" name="monthly_premium" class="form-control" autocomplete="off" ng-model="addmodal.form.monthly_premium" placeholder="00.00" required/>
						<span style="color:red" ng-show="myForm.monthly_premium.$dirty && myForm.monthly_premium.$invalid" >
							<span ng-show="myForm.monthly_premium.$error.required">Performance Bonus Rate is required.</span>
						</span>
					</div>
				</fieldset>
			</div>

			<div class='form-group'>
				<fieldset>
					<div class="col-md-5">
						<label for="">Personal Share</label><span class="space space-sm"></span><label style ="color:red">*</label>
					</div>
					<div class="col-md-7">
						<input type="number" name="personal_share" class="form-control" autocomplete="off" ng-model="addmodal.form.personal_share" placeholder="00.00" required/>
						<span style="color:red" ng-show="myForm.personal_share.$dirty && myForm.personal_share.$invalid" >
							<span ng-show="myForm.personal_share.$error.required">Performance Bonus Rate is required.</span>
						</span>
					</div>
				</fieldset>
			</div>




			<div class='form-group'>
				<fieldset>
					<div class="col-md-5">
						<label for="">Employer Share</label><span class="space space-sm"></span><label style ="color:red">*</label>
					</div>
					<div class="col-md-7">
						<input type="number" name="employer_share" class="form-control" autocomplete="off" ng-model="addmodal.form.employer_share" placeholder="00.00" required/>
						<span style="color:red" ng-show="myForm.employer_share.$dirty && myForm.employer_share.$invalid" >
							<span ng-show="myForm.employer_share.$error.required">Performance Bonus Rate is required.</span>
						</span>
					</div>
				</fieldset>
			</div>


			<div class='form-group'>
				<fieldset>
					<div class="col-md-5">
						<label for="">Computation Type</label><span class="space space-sm"></span><label style ="color:red">*</label>
					</div>
					<div class="col-md-7">

						<select name="computation_type" class="form-control" ng-model="addmodal.form.computation_type" ng-change="addmodal.selectComp()">
							<option value="Salary Based" selected>Salary Based</option>
							<option value="Fixed Based">Fixed Based</option>

						</select>

					</div>
				</fieldset>
			</div>

			<!-- <input type="checkbox" ng-model="addmodal.checked"></label><br/> -->
			
			<div class='form-group'>
				<fieldset>
					<div class="col-md-5">
						<label for="">For Fixed Base</label><span class="space space-sm"></span><label style ="color:red">*</label>
					</div>
					<div class="col-md-7">
						<input type="number" name="for_fixed_based" class="form-control" autocomplete="off" ng-model="addmodal.form.for_fixed_based" placeholder="00.00" ng-disabled="addmodal.disabledButton"/>
						
					</div>
				</fieldset>
			</div>

			<fieldset>
				<div class="col-sm-3">
				</span><label style ="color:red">*</label><span class="space space-xs"><label><small>Required field</small></label>
				</div>										
			</fieldset>	
		</form>	
		<div class="modal-footer">
			<button type="submit" class="btn btn-success" ng-disabled="myForm.$invalid"  ng-click="addmodal.save()">Save</button>
			<button class="btn btn-danger" ng-click="addmodal.close()">Cancel</button>
		</div>
	</div>
</script>

<!--Modal Edit Employment Status-->
<script type="text/ng-template" id="modaledit">
	<div class="modal-header">
		<h4><i class="fa fa-pencil-square-o" style="margin-right: 8px;" ></i>Edit Philhealth</h4>
	</div>
	<div class="modal-body">
		<form name="myForm"  class="form form-validation" ng-submit="myForm.$valid && submit(formData)">	
			<div class='form-group'>	
				<fieldset>
					<div class="col-md-2">
						<label for="">Min</label><span class="space space-sm"></span><label style ="color:red">*</label>
					</div>
					<div class="col-md-8">
						<input 	type="number"
						class="form-control"
						name="min" 
						ng-disabled="!modaledit.button"  
						ng-model="modaledit.form.min" 
						autocomplete="off"
						required
						/>
						<span style="color:red" ng-show="myForm.min.$dirty && myForm.min.$invalid">
							<span ng-show="myForm.min.$error.required">Title is required.</span>
						</span>
					</div>
				</fieldset>
			</div>

			<div class='form-group'>	
				<fieldset>
					<div class="col-md-2">
						<label for="">Max</label><span class="space space-sm"></span><label style ="color:red">*</label>
					</div>
					<div class="col-md-8">
						<input 	type="number"
						class="form-control"
						name="max" 
						ng-disabled="!modaledit.button"  
						ng-model="modaledit.form.max" 
						autocomplete="off"
						required
						/>
						<span style="color:red" ng-show="myForm.max.$dirty && myForm.max.$invalid">
							<span ng-show="myForm.max.$error.required">Title is required.</span>
						</span>
					</div>
				</fieldset>
			</div>

			<div class='form-group'>	
				<fieldset>
					<div class="col-md-2">
						<label for="">Monthly Premium</label><span class="space space-sm"></span><label style ="color:red">*</label>
					</div>
					<div class="col-md-8">
						<input 	type="number"
						class="form-control"
						name="monthly_premium" 
						ng-disabled="!modaledit.button"  
						ng-model="modaledit.form.monthly_premium" 
						autocomplete="off"
						required
						/>
						<span style="color:red" ng-show="myForm.monthly_premium.$dirty && myForm.monthly_premium.$invalid">
							<span ng-show="myForm.monthly_premium.$error.required">Title is required.</span>
						</span>
					</div>
				</fieldset>
			</div>

			<div class='form-group'>	
				<fieldset>
					<div class="col-md-2">
						<label for="">Personal Share</label><span class="space space-sm"></span><label style ="color:red">*</label>
					</div>
					<div class="col-md-8">
						<input 	type="number"
						class="form-control"
						name="personal_share" 
						ng-disabled="!modaledit.button"  
						ng-model="modaledit.form.personal_share" 
						autocomplete="off"
						required
						/>
						<span style="color:red" ng-show="myForm.personal_share.$dirty && myForm.personal_share.$invalid">
							<span ng-show="myForm.personal_share.$error.required">Title is required.</span>
						</span>
					</div>
				</fieldset>
			</div>

			<div class='form-group'>	
				<fieldset>
					<div class="col-md-2">
						<label for="">Employer Share</label><span class="space space-sm"></span><label style ="color:red">*</label>
					</div>
					<div class="col-md-8">
						<input 	type="number"
						class="form-control"
						name="employer_share" 
						ng-disabled="!modaledit.button"  
						ng-model="modaledit.form.employer_share" 
						autocomplete="off"
						required
						/>
						<span style="color:red" ng-show="myForm.employer_share.$dirty && myForm.employer_share.$invalid">
							<span ng-show="myForm.employer_share.$error.required">Title is required.</span>
						</span>
					</div>
				</fieldset>
			</div>


			<!-- <div class='form-group'>	
				<fieldset>
					<div class="col-md-2">
						<label for="">Computation Type</label><span class="space space-sm"></span><label style ="color:red">*</label>
					</div>
					<div class="col-md-8">
						<input 	type="text"
						class="form-control"
						name="computation_type" 
						ng-disabled="!modaledit.button"  
						ng-model="modaledit.form.computation_type" 
						autocomplete="off"
						required
						/>

						<span style="color:red" ng-show="myForm.computation_type.$dirty && myForm.computation_type.$invalid">
							<span ng-show="myForm.computation_type.$error.required">Title is required.</span>
						</span>
					</div>
				</fieldset>
			</div>


			<div class='form-group'>	
				<fieldset>
					<div class="col-md-2">
						<label for="">For Fixed Base</label><span class="space space-sm"></span><label style ="color:red">*</label>
					</div>
					<div class="col-md-8">
						<input 	type="text"
						class="form-control"
						name="for_fixed_based" 
						ng-disabled="!modaledit.button"  
						ng-model="modaledit.form.for_fixed_based" 
						autocomplete="off"
						required
						/>
						<span style="color:red" ng-show="myForm.for_fixed_based.$dirty && myForm.for_fixed_based.$invalid">
							<span ng-show="myForm.for_fixed_based.$error.required">Title is required.</span>
						</span>
					</div>
				</fieldset>
			</div>
		-->


		<div class='form-group'>
			<fieldset>
				<div class="col-md-2">
					<label for="">Computation Type</label><span class="space space-sm"></span><label style ="color:red">*</label>
				</div>
				<div class="col-md-8">
					
					<select name="computation_type" class="form-control" ng-model="modaledit.form.computation_type" ng-change="modaledit.selectComp()" ng-disabled="!modaledit.button">
						<option value="Salary Based" selected>Salary Based</option>
						<option value="Fixed Based">Fixed Based</option>
						
					</select>

				</div>
			</fieldset>
		</div>



		<div class='form-group'>
			<fieldset>
				<div class="col-md-2">
					<label for="">For Fixed Base</label><span class="space space-sm"></span><label style ="color:red">*</label>
				</div>
				<div class="col-md-8">
					<input type="number" name="for_fixed_based" class="form-control" autocomplete="off" ng-model="modaledit.form.for_fixed_based" placeholder="00.00" ng-disabled="modaledit.disabledButton" disabled/>

				</div>
			</fieldset>
		</div>



		<fieldset>
			<div class="col-sm-3">
			</span><label style ="color:red">*</label><span class="space space-xs"><label><small>Required field</small></label>
			</div>										
		</fieldset>	
	</form>
	<div class="modal-footer" >
		<button type="submit" class="btn btn-success" ng-click="modaledit.button=true;modaledit.showHide=true" ng-show="!modaledit.showHide">Edit</button>
		<button type="submit" class="btn btn-success"  ng-disabled="myForm.$invalid" ng-click="modaledit.save();" ng-hide="!modaledit.showHide">Save</button>
		<button class="btn btn-danger" ng-click="modaledit.close()">Cancel</button>
	</div>

</div>
</script>		

