
<div class="page page-status">
	<section class="panel panel-primary table-dynamic" data-ng-controller="sssCtrl as sss">
		<div class="panel-heading"><strong><span class="glyphicon glyphicon-th" style="margin-right: 8px;"></span>SSS</strong></div>
		<div class="panel-body">
			<div class="from-group">
				<div class="row">
					<div class="col-sm-4">
						<form>
							<button class="btn btn-gap-v btn-success"  
							ng-click="sss.handler.openmodal('add')"
							>
							<!-- ng-show="sss.handler.button('create')" -->
							Add
						</button>
						<span class="space space-sm"></span>
						<button type="button" 
						class="btn btn-gap-v btn-danger"   
						ng-click="sss.handler.deldata(sss.handler.check)"
						>
						<!-- ng-show="sss.handler.button('delete')" -->
						Delete
					</button>
				</form>
			</div>
		</div>
	</div><br>


	<div class="form-group">
		<div class="row">
			<div class="col-sm-4">
				<form>
					<input type="text"
					placeholder="Search..."
					class="form-control"
					data-ng-model="sss.handler.search"
					data-ng-model-options="{debounce:300}"
					>
				</form>
			</div>
			<div class="col-sm-3 filter-result-info">
				<span>
					Showing {{sss.handler.paginated.length}}/{{sss.handler.maindata.length}} entries
				</span>              
			</div>
		</div>
	</div><br>
	<table class="table table-bordered table-striped table-responsive">
		<thead>
			<tr>
				<th><div class="th">
				</div></th>
				<th ng-repeat='a in sss.handler.headers' width='{{a.width}}'>
					<div class="th">
						{{a.min}}
						<span class="fa fa-angle-up"
						data-ng-if="a.sort"
						data-ng-click="sss.handler.setactiveheader(a,true)"
						data-ng-class="{active: $index == sss.handler.activeheader.id && sss.handler.activeheader.order == true}">
					</span>
					<span class="fa fa-angle-down"
					data-ng-if="a.sort"
					data-ng-click="sss.handler.setactiveheader(a,false)"
					data-ng-class="{active: $index == sss.handler.activeheader.id && sss.handler.activeheader.order == false}">
				</span>
			</div>
		</th>

		<th ng-repeat='a in sss.handler.headers' width='{{a.width}}'>
			<div class="th">
				{{a.max}}
				<span class="fa fa-angle-up"
				data-ng-if="a.sort"
				data-ng-click="sss.handler.setactiveheader(a,true)"
				data-ng-class="{active: $index == sss.handler.activeheader.id && sss.handler.activeheader.order == true}">
			</span>
			<span class="fa fa-angle-down"
			data-ng-if="a.sort"
			data-ng-click="sss.handler.setactiveheader(a,false)"
			data-ng-class="{active: $index == sss.handler.activeheader.id && sss.handler.activeheader.order == false}">
		</span>
	</div>
</th>
<th ng-repeat='a in sss.handler.headers' width='{{a.width}}'>
	<div class="th">
		{{a.er}}
		<span class="fa fa-angle-up"
		data-ng-if="a.sort"
		data-ng-click="sss.handler.setactiveheader(a,true)"
		data-ng-class="{active: $index == sss.handler.activeheader.id && sss.handler.activeheader.order == true}">
	</span>
	<span class="fa fa-angle-down"
	data-ng-if="a.sort"
	data-ng-click="sss.handler.setactiveheader(a,false)"
	data-ng-class="{active: $index == sss.handler.activeheader.id && sss.handler.activeheader.order == false}">
</span>
</div>
</th>
<th ng-repeat='a in sss.handler.headers' width='{{a.width}}'>
	<div class="th">
		{{a.ee}}
		<span class="fa fa-angle-up"
		data-ng-if="a.sort"
		data-ng-click="sss.handler.setactiveheader(a,true)"
		data-ng-class="{active: $index == sss.handler.activeheader.id && sss.handler.activeheader.order == true}">
	</span>
	<span class="fa fa-angle-down"
	data-ng-if="a.sort"
	data-ng-click="sss.handler.setactiveheader(a,false)"
	data-ng-class="{active: $index == sss.handler.activeheader.id && sss.handler.activeheader.order == false}">
</span>
</div>
</th>



</tr>
</thead>
<tbody>
	<tr data-ng-repeat="a in sss.handler.getdata() | orderBy: sss.handler.activeheader.sort : sss.handler.activeheader.order track by [$index]">
		<td><input type="checkbox" checklist-value="a.id"  checklist-model="sss.handler.check"/></td>

		<td style="cursor:pointer" ng-click="sss.handler.openmodal('edit',a)">{{a.min}}</td>
		<td style="cursor:pointer" ng-click="sss.handler.openmodal('edit',a)">{{a.max}}</td>
		<td style="cursor:pointer" ng-click="sss.handler.openmodal('edit',a)">{{a.er_employers_deduction}}</td>
		<td style="cursor:pointer" ng-click="sss.handler.openmodal('edit',a)">{{a.ee_employees_deduction}}</td>

		

	</tr>
</tbody>
</table>
<footer class="table-footer">
	<div class="row">
		<div class="col-md-6 page-num-info">
			<span>
				Show 
				<select data-ng-model="sss.handler.numPerPage"
				data-ng-options="num for num in sss.handler.numPerPageOpt"
				data-ng-change="onNumPerPageChange()">
			</select> 
			entries per page
		</span>
	</div>
	<div class="col-md-6 text-right pagination-container">
		<pagination class="pagination-sm"
		ng-model="sss.handler.currentPage"
		total-items="sss.handler.filtered.length"
		max-size="4"
		ng-change="select(currentPage)"
		items-per-page="sss.handler.numPerPage"
		rotate="false"
		previous-text="&lsaquo;" next-text="&rsaquo;"
		boundary-links="true"></pagination>
	</div>
</div>
</footer>
</div>
</section>
</div>			
<!--Modal Add Employment Status-->
<script type="text/ng-template" id="addmodal">
	<div class="modal-header">
		<h4><i class="fa fa-save" style="margin-right: 8px;" ></i>Add SSS</h4>
	</div>
	<div class="modal-body">
		<form name="myForm"  class="form form-validation" ng-submit="myForm.$valid && submit(addmodal.form)">	
			<div class='form-group'>
				<fieldset>
					<div class="col-md-5">
						<label for="">Min</label><span class="space space-sm"></span><label style ="color:red">*</label>
					</div>
					<div class="col-md-7">
						<input type="number" name="min" class="form-control" autocomplete="off" ng-model="addmodal.form.min" placeholder="00.00" required/>
						<span style="color:red" ng-show="myForm.min.$dirty && myForm.min.$invalid" >
							<span ng-show="myForm.min.$error.required">Min is required.</span>
						</span>
					</div>
				</fieldset>
			</div>

			<div class='form-group'>
				<fieldset>
					<div class="col-md-5">
						<label for="">Max</label><span class="space space-sm"></span>
					</div>
					<div class="col-md-7">
						<input type="number" name="max" class="form-control" autocomplete="off" ng-model="addmodal.form.max" placeholder="00.00"/>

					</div>
				</fieldset>
			</div>


			<div class='form-group'>
				<fieldset>
					<div class="col-md-5">
						<label for="">ER</label><span class="space space-sm"></span><label style ="color:red">*</label>
					</div>
					<div class="col-md-7">
						<input type="number" name="er_employers_deduction" class="form-control" autocomplete="off" ng-model="addmodal.form.er_employers_deduction" placeholder="00.00" required/>
						<span style="color:red" ng-show="myForm.er_employers_deduction.$dirty && myForm.er_employers_deduction.$invalid" >
							<span ng-show="myForm.er_employers_deduction.$error.required">Performance Bonus Rate is required.</span>
						</span>
					</div>
				</fieldset>
			</div>


			<div class='form-group'>
				<fieldset>
					<div class="col-md-5">
						<label for="">EE</label><span class="space space-sm"></span><label style ="color:red">*</label>
					</div>
					<div class="col-md-7">
						<input type="number" name="ee_employees_deduction" class="form-control" autocomplete="off" ng-model="addmodal.form.ee_employees_deduction" placeholder="00.00" required/>
						<span style="color:red" ng-show="myForm.ee_employees_deduction.$dirty && myForm.ee_employees_deduction.$invalid" >
							<span ng-show="myForm.ee_employees_deduction.$error.required">Performance Bonus Rate is required.</span>
						</span>
					</div>
				</fieldset>
			</div>
			<fieldset>
				<div class="col-sm-3">
				</span><label style ="color:red">*</label><span class="space space-xs"><label><small>Required field</small></label>
				</div>										
			</fieldset>	
		</form>	
		<div class="modal-footer">
			<button type="submit" class="btn btn-success" ng-disabled="myForm.$invalid"  ng-click="addmodal.save()">Save</button>
			<button class="btn btn-danger" ng-click="addmodal.close()">Cancel</button>
		</div>
	</div>
</script>

<!--Modal Edit Employment Status-->
<script type="text/ng-template" id="modaledit">
	<div class="modal-header">
		<h4><i class="fa fa-pencil-square-o" style="margin-right: 8px;" ></i>Edit SSS</h4>
	</div>
	<div class="modal-body">
		<form name="myForm"  class="form form-validation" ng-submit="myForm.$valid && submit(formData)">	
			<div class='form-group'>	
				<fieldset>
					<div class="col-md-2">
						<label for="">Min</label><span class="space space-sm"></span><label style ="color:red">*</label>
					</div>
					<div class="col-md-8">
						<input 	type="text"
						class="form-control"
						name="min" 
						ng-disabled="!modaledit.button"  
						ng-model="modaledit.form.min" 
						autocomplete="off"
						required
						/>
						<span style="color:red" ng-show="myForm.min.$dirty && myForm.min.$invalid">
							<span ng-show="myForm.min.$error.required">Title is required.</span>
						</span>
					</div>
				</fieldset>
			</div>

			<div class='form-group'>	
				<fieldset>
					<div class="col-md-2">
						<label for="">Max</label><span class="space space-sm"></span><label style ="color:red">*</label>
					</div>
					<div class="col-md-8">
						<input 	type="text"
						class="form-control"
						name="max" 
						ng-disabled="!modaledit.button"  
						ng-model="modaledit.form.max" 
						autocomplete="off"
						required
						/>
						<span style="color:red" ng-show="myForm.max.$dirty && myForm.max.$invalid">
							<span ng-show="myForm.max.$error.required">Title is required.</span>
						</span>
					</div>
				</fieldset>
			</div>

			<div class='form-group'>	
				<fieldset>
					<div class="col-md-2">
						<label for="">ER</label><span class="space space-sm"></span><label style ="color:red">*</label>
					</div>
					<div class="col-md-8">
						<input 	type="text"
						class="form-control"
						name="er_employers_deduction" 
						ng-disabled="!modaledit.button"  
						ng-model="modaledit.form.er_employers_deduction" 
						autocomplete="off"
						required
						/>
						<span style="color:red" ng-show="myForm.er_employers_deduction.$dirty && myForm.er_employers_deduction.$invalid">
							<span ng-show="myForm.er_employers_deduction.$error.required">Title is required.</span>
						</span>
					</div>
				</fieldset>
			</div>

			<div class='form-group'>	
				<fieldset>
					<div class="col-md-2">
						<label for="">EE</label><span class="space space-sm"></span><label style ="color:red">*</label>
					</div>
					<div class="col-md-8">
						<input 	type="text"
						class="form-control"
						name="ee_employees_deduction" 
						ng-disabled="!modaledit.button"  
						ng-model="modaledit.form.ee_employees_deduction" 
						autocomplete="off"
						required
						/>
						<span style="color:red" ng-show="myForm.ee_employees_deduction.$dirty && myForm.ee_employees_deduction.$invalid">
							<span ng-show="myForm.ee_employees_deduction.$error.required">Title is required.</span>
						</span>
					</div>
				</fieldset>
			</div>

			<fieldset>
				<div class="col-sm-3">
				</span><label style ="color:red">*</label><span class="space space-xs"><label><small>Required field</small></label>
				</div>										
			</fieldset>	
		</form>
		<div class="modal-footer" >
			<button type="submit" class="btn btn-success" ng-click="modaledit.button=true;modaledit.showHide=true" ng-show="!modaledit.showHide">Edit</button>
			<button type="submit" class="btn btn-success"  ng-disabled="myForm.$invalid" ng-click="modaledit.save();" ng-hide="!modaledit.showHide">Save</button>
			<button class="btn btn-danger" ng-click="modaledit.close()">Cancel</button>
		</div>

	</div>
</script>		

